---
title: 'I smell a ripoff' 
date: "2005-12-03T03:38:09+10:00"
year: "2005"
category: Thoughts
tag:
- cars
- design
- my-rapidweaver-blog
- transport
location: Adelaide
---
<p>Just saw the new 2006 Holden Barina.</p>
<p><img src="https://rubenerd.com/files/uploads/page0_blog_entry21_1.jpg" alt="Photo of the 2006 Holden Barina." height="125" width="462" /></p>
<p>… and the 2004 Hyundai Getz…</p>
<p><img src="https://rubenerd.com/files/uploads/page0_blog_entry21_2.jpg" alt="Photo of the 2004 Hyundai Getz, which looks almost exactly the same" height="217" width="428" /></p>
<p>Hmm…</p>
 
