<figure class="wp-block-image"><img src="http://onsug.com/shows/Sep21/onsug_Sep21_rs417.png" alt="" style="width:300px; height:300px;" /></figure>

<p class="show-description"><strong>27:47</strong> – Join Ruben as he pours one out for airline pilots, Australia being European in Asia, travelling with Clara, nostalgia for Singapore and working remote from there, The Coffee Bean and Tea Leaf in Bishan, introverts and Third Places, saying goodbye to a friend, Robin Williams, and mismatched tiles. Warning, I might even get half-serious at certain points this time!</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release">Released September 2021 on <a href="https://rubenerd.com/">Rubenerd</a> and <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts; this one notwithstanding.</p>
