<figure class="wp-block-image"><img src="http://onsug.com/shows/Aug21/onsug_Aug21_rs416.png" alt="" style="width:300px; height:300px;" /></figure>

<p class="show-description"><strong>32:51</strong> – Join Ruben as he takes an evening lockdown socially-distancing stroll as he discusses UniSA campus nostalgia in Adelaide, adventures with side effects, a freezing family holiday to Germany in the early 2010s, and an extended discussion on the merits and flaws of contemporary electronic microwave oven appliance design affordances (I think Dire Straits did a song about that, though in significantly fewer words. Custom kitchen deliveries, and all that).</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release">Released August 2021 on <a href="https://rubenerd.com/">Rubenerd</a> and <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts; this one notwithstanding.</p>
