<figure class="wp-block-image"><img src="http://onsug.com/shows/Dec21/onsug_Dec21_rs420.png" alt="" style="width:300px; height:300px;" /></figure>

<p class="show-description"><strong>36:36</strong> – Join your host as he finally gets around to uploading some festive cheer and other rambling nonsense. Talking about Xmas lights, the programming VCR meme, Travan tapes, health fun, couch potato-ism, coffee chains in Asia, trying a seasonal brew, and the infamous "much more!" Happy new year from us to you ♡.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release">Released December 2021 on <a href="https://rubenerd.com/">Rubenerd</a> and <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts; this one notwithstanding.</p>
