<figure class="wp-block-image"><img src="http://onsug.com/shows/Dec22/onsug_Dec22_rs423.png" alt="" style="width:300px; height:300px;" /></figure>

<p class="show-description"><strong>33:53</strong> – We’re overseas again for the first time in three years! Recorded at the busy Kudanshita Tokyo Subway station (complete with jingles!), then wandering around near the Imperial Palace one night. It’s a bit all over the place, but that was my mental state at the time. Part two coming soon, thanks for listening.</p>

<p class="show-licence">Recorded in Tokyo, Japan. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release">Released December 2022 on <a href="https://rubenerd.com/">Rubenerd</a> and <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts; this one notwithstanding.</p>
