{{ partial "header.html" . }}
{{ safeHTML "<!-- Blog post です ***************************************************** -->" }}
<article class="post">
<header>
<h2{{ if eq .Section "post" }} property="name headline"{{ end }}><a property="url" href="{{ .Permalink }}">{{ .Title }}</a></h2>{{ if eq .Section "post" }}
{{ printf "<time datetime=\"%s\">" (.Date.Format "2006-01-02T15:04:05-07:00") | safeHTML }}{{ .Date.Format "Monday 02 January 2006" }}</time>
{{ with .Params.Category }}<a class="category" title="Filed under the {{ . }} category" href="/{{ . | urlize }}/">{{ . }}</a>{{ end }}{{ end }}
</header>
<div class="post-content {{ replace .RelPermalink "/" "" }}" property="articleBody">
{{ replace .Content "\n\n" "\n" | safeHTML }}</div>
</article>

{{ if eq .Section "post" }}{{ safeHTML "<!-- Profile です ******************************************************* -->" }}
<div id="bio">
<h2>Author bio and support</h2>
<div class="post-content">
{{ safeHTML .Site.Params.author.bio }}
<p>The site is powered by <a href="https://gohugo.io/">Hugo</a>, <a href="https://www.freebsd.org/">FreeBSD</a>, and <a href="https://openzfs.org/">OpenZFS</a> on <a href="https://orionvm.com/">OrionVM</a>, everyone’s favourite bespoke cloud infrastructure provider.</p>
{{ safeHTML .Site.Params.author.support }}
</div>
</div>

{{ end }}<!-- End of content です ************************************************ -->
</main>

{{ safeHTML "<!-- Navigation です **************************************************** -->" }}{{ if eq .Section "post" }}
<nav id="pagination">{{ if .NextPage }}
Newer post <span aria-hidden="true" class="page-arrow">&larr;</span> <a href="{{ .NextPage.Permalink }}">{{ .NextPage.Title }}</a>{{ end }}{{ if and (.NextPage) (.PrevPage) }}<br />
{{ end }}{{ if .PrevPage }}Older post <span aria-hidden="true" class="page-arrow">&rarr;</span> <a href="{{ .PrevPage.Permalink }}">{{ .PrevPage.Title }}</a>{{ end }}
</nav>{{ else if eq .Section "omake" }}
<nav id="pagination">
<span aria-hidden="true" class="page-arrow">&larr;</span> <a href="/omake/">Omake Pages</a>
</nav>{{ else if eq .Section "page" }}
<nav id="pagination">
<p><span aria-hidden="true" class="page-arrow">&larr;</span> <a href="{{ .Site.BaseURL }}">Home</a></p>
</nav>{{ end }}

{{ partial "footer.html" . }}
