---
title: 'Boxing Day and Palm Pilots' 
date: "2004-12-27T02:34:19+10:00"
year: "2004"
category: Thoughts 
tag: 
- family
- my-static-html-blog
- personal
location: Singapore
---
<p>Today was back to the usual hectic routine my life seems to be taking, walking around all over the place, doing errands etc. Ever since my full time summer job at Veritas started I&#39;ve basically been on my feet every day, my nerdy body is not used to it! Cameron&#39;s dad invited my to the Singapore Cricket Club for boxing day brunch which was fantastic! All in all we spent about 3 hours there!</p>
<p>Got my mum&#39;s Zire 72 working that I bought her for Christmas yesterday (yesterday? already?), the screen quality is amazing! My old little Tungsten W smart phone has the same resolution but the colours on the Zire are so much better, the contrast has really been improved. Hoping to buy a Treo 650 to replace the W, then I can get Palm OS 5 too.</p>
<p>And in case you&#39;re about to email me to say &#39;buy a Pocket PC&#39; shoot yourself in the head. I don&#39;t trust Windows on my PC, so why should I trust it on a phone??!! The mere prospect is frightening. Plus the battery life on Pocket PCs suck. And I want a device with a proper keyboard; I don&#39;t care what Microsoft says the handwriting recognition on Pocket PC is terrible. With my Tungsten W you can just whip it out and punch in a message or SMS into the keypad and off it goes.</p>
<p>Also kept working on this site to try and get it up and working. As of yet, despite the fact I have been typing these blog entries none of them have been published! I got rid of the purple and replaced it with a darker blue; I thought the former might have been sending the wrong message! So at the moment I think this is the only page people can see!</p>
<p><strong>Therefore if you see any links that don&#39;t work, it means I haven&#39;t finished that part of the page yet!</strong></p>
<p>Oh but I got a shock: I was sitting at my mums computer in her art studio thingy with her sitting on the couch watching the ABC news when the report of the massive earthquake came in off Sumatra… 8.1 on the Richter scale, over 3000 people reported dead. Sorry just reading BBC, it was 8.9. Unbelievable. The biggest quake in 40 years. I cannot even begin to imagine what those people&#39;s relatives must be feeling; houses have been swept away and buildings have collapsed.</p>
<p>Got a clip from the Wikipedia entry on the quake which came out a few hours ago:</p>
<blockquote><p>&#8220;The 2004 Indian Ocean earthquake was an undersea  earthquake of  magnitude 8.9 that struck the  Indian Ocean off the western coast of northern  Sumatra,  Indonesia on  December 26,  2004 00:58:50  UTC (or 07:58:50 local time in  Jakarta and  Bangkok). It was the strongest earthquake in the world since the  Good Friday Earthquake which struck  Alaska in  1964, and the fifth largest since  1900. More than three thousand deaths were caused by resulting  tsunamis, which were as high as 10 metres (33 feet) in some locations.</p>
<p>The earthquake triggered massive tsunamis (popularly known as &#8220;tidal waves&#8221;), which struck the coasts of the Indian Ocean. However Pacific Ocean coasts were not affected. The death toll from the tsunamis and the resultant floods was reported to be more than 3300, with hundreds of persons reported missing.&#8221;</p>
<p>&#8211; English Wikipedia<br />
<a href="http://en.wikipedia.org/wiki/2004_Indian_Ocean_Earthquake">http://en.wikipedia.org/wiki/2004_Indian_Ocean_Earthquake</a></p></blockquote>
<p>And here was a map published for the article by <a href="http://en.wikipedia.org/wiki/User:Bogdangiusca">Bogdangiusca</a>:</p>
<blockquote><p><img src="https://rubenerd.com/files/uploads/media.250px-Harta_Ocean_Indian_Quake.png" alt="" /></p>
<p>&#8211; English Wikipedia<br />
<a href="http://en.wikipedia.org/wiki/Image:Harta_Ocean_Indian_Quake.png">http://en.wikipedia.org/wiki/Image:Harta_Ocean_Indian_Quake.png</a></p></blockquote>
<p>Unbelievable… I can&#39;t think of anything else to say.</p>
<blockquote><p>Mirrored version of BBC article released a few minutes ago, a few hours after the Tsumani struck; its absolutely unbelievable.</p>
<p><a href="//rubenerd.com/files/uploads/media.bbc_4125481.stm">//rubenerd.com/files/uploads/media.bbc_4125481.stm</a></p>
<p><img src="https://rubenerd.com/files/uploads/media.bbc_4125481_files/v3_otd_loz.gif" alt="" /></p></blockquote>
 
