---
title: 'The First Post' 
date: "2004-12-21T01:08:00+10:00"
year: "2004"
category: Internet
tag:
- my-static-html-blog
- weblog
location: Singapore
---
<p>Well here it is: my first blog entry on this new platform. When I set up Rubenerd all those centuries ago it never really had a purpose, in all honesty is was always a website that just had random stuff on it that I either thought was groovy, weird etc. Now it&#39;s a blog site with random stuff on it that I think is groovy, weird etc.</p>
<p>I&#39;ve kept a log at home for some time now, I think my first entry dates back to around 1999, but just in the last 2 years I&#39;ve been a lot more involved and my entries have been progressively getting bigger and bigger. I don&#39;t know, but the idea of keeping a record of my life, however dull it is, might be fun to look at in years gone by!</p>
<p>Anyway I was finding that I was writing some pretty involved stuff and I thought that maybe one percent of it, or maybe two, might be useful to someone, especially with respect to some of the tech problems I&#39;ve had and solved over the years. So here it is.</p>
<p>I hope you find this site useful or at the very least good material for whatever you want to do. I had a podcast going for a while but for the time being my Webserver is simply too small to accommodate them. Maybe in the future I&#39;ll take it up again.</p>
<p>Happy holidays!</p>
 
