---
title: "John Roderick for Seattle City Council"
date: "2015-04-08T17:38:00+11:00"
abstract: "I can't contribute from overseas, but spread the word."
year: "2015"
category: Thoughts
tag:
- john-roderick
- politics
- united-states
location: sydney
---
<p><strong>Update 2021:</strong> I’ve taken down fewer than twenty posts out of more than seven thousand in this blog’s history, and posts about this guy are some of them. <a href="https://twitter.com/MBMBaM/status/1345853685902036994">MBMBaM’s tweet put it best</a> explaining why, though I also have personal reasons. Thanks for understanding.</p>
