---
title: 'Singapore has train delays, too' 
abstract: "For Australians saying I unfairly criticise trains here"
date: "2015-01-23T11:20:41+10:00"
year: "2015"
category: Travel
tag:
- australia
- public-transport
- singapore
- trains 
---
<p><img src="https://farm9.staticflickr.com/8647/15931619379_ba1d307755_b.jpg" alt="Panorama I took from the inside of an MRT carriage in Singapore." style="width:500px;" /></p>
<p>Just in case Sydneysiders think I’m being unfair with my criticism of Sydney Trains, <a title="Straits Times:<br />
Track fault causes MRT service on North-South line to stop for at least 10 minutes" href="http://www.straitstimes.com/news/singapore/transport/story/track-fault-causes-mrt-service-north-south-line-stop-least-10-minutes">here’s a story</a> of delays back home. It even comes with a human interest story.</p>
<blockquote cite="http://www.straitstimes.com/news/singapore/transport/story/track-fault-causes-mrt-service-north-south-line-stop-least-10-minutes"><p>
SINGAPORE &#8211; A track fault caused MRT train service on the North-South line towards Jurong East to halt for at least 10 minutes on Thursday.</p>
<p>Ms Sarah Ng, in her 30s, boarded a train at Braddell MRT station at around 12.45pm. &#8220;The doors didn’t close and we waited for five minutes,&#8221; the designer said.</p>
<p>She added that an announcement was made saying that there was a track fault on the line towards Jurong East, although it was unclear where the fault happened. </p>
<p>Ms Ng then sought a refund from the station master, who said that train service would be down for 10 minutes. A screen at the station also indicated that train service was delayed due to a track fault from Ang Mo Kio to Jurong East.
</p></blockquote>
<p>In Australia, we’d call this a good day.</p>
 
