---
title: "The day the package managers died"
date: "2015-07-20T17:18:00+10:00"
abstract: "Or the day I broke SourceForge and Github."
year: "2015"
category: Software
tag:
- git
- github
- sourceforge
- package-managers
location: sydney
---
<p>A message SourceForge gave to me earlier today:</p>

<blockquote>
The sourceforge.net website is temporarily in static offline mode.
Only a very limited set of project pages are available until the main website returns to service.
</blockquote>

<p>And after many years of use, this was the first time I got this message from Homebrew/Github:</p> 

<blockquote>
Error: GitHub API rate limit exceeded for xxx.xxx.xxx.xxx. (But here's the good news: Authenticated requests get a higher rate limit. Check out the documentation for more details.)
Try again in 41 minutes 43 seconds, or create an personal access token:
  https://github.com/settings/tokens
and then set the token as: HOMEBREW_GITHUB_API_TOKEN
</blockquote>

<p>I suppose I should brush up on that, I'm all on <a href="https://rubenerd.com/a-bitbucket-easter-egg/">Bitbucket</a> for stuff.</p>

