---
title: 'A Closer Look At Apple’s Universal Binaries' 
date: "2006-11-05T07:35:40+10:00"
year: "2006"
category: Software 
tag:
- apple
- infocomm
- scripting
- simpletagged 
---
<p><img style="float:right; margin:0 0 10px 20px; border:0px;" src="https://rubenerd.com/files/uploads/universal.png" alt="Universal Binary" /></p>
<p>I think the idea behind <a href="http://apple.com.sg/">Apple&#39;s</a> / NeXT&#39;s concept of a <a href="http://apple.com.sg/universal">Universal Binary</a> is a great idea. With the different system architectures available for Apple computers these days (<a href="http://en.wikipedia.org/wiki/PowerPC_G3">32-bit</a> and <a href="http://en.wikipedia.org/wiki/PowerPC_G5">64-bit</a> PowerPCs, <a href="http://en.wikipedia.org/wiki/Intel_Core_Duo">32-bit</a> and <a href="http://en.wikipedia.org/wiki/Intel_Core_2_Duo">64-bit</a> Intels) it makes sense to be able to package up specific code for each processor into one bundle so you don&#39;t have to choose between four different program downloads tailored for each processor.</p>
<h3>How Universal Binaries Work</h3>
<p>From what I can surmise [given I&#39;m mostly a scripting language programmer cough!], a Universal Binary is a Mac OS X application that has had its code compiled multiple times to run natively on multiple processors, such as the PowerPC and the newer Intel chips. When an application is executed, Mac OS X checks the application&#39;s header (if it is not a Universal Binary on a compatible platform it kicks Rosetta into action and runs it in emulation mode), then runs the appropriate code for your processor architecture.</p>
<p>The beautiful thing is to the end user, it just looks and runs like any other program, regardless of the platform their using.</p>
<p>It then goes without saying that applications that have multiple compiled code parts will be larger, but not necessary double in size. Most programs use resources, such as HTML files, images, text and so forth, that would be shared among the two different programs within the application. And because only one of the compiled parts is loaded into memory, there generally isn&#39;t any performance hit.</p>
<h3>Checking Universal Application Binaries</h3>
<p>I think also from a developers standpoint Universal Binaries are a very elegant solution. I didn&#39;t know this until recently, but if you want to check what processors are natively supported by a program, you can use the <code>file</code> command in your Terminal. For example, to check what processors BASH natively supports, you can type:</p>
<pre>file /bin/bash</pre>
<p>And if you&#39;re running a later version of Mac OS X Tiger it should show:</p>
<pre>
/bin/bash: Mach-O universal binary with 2 architectures
/bin/bash (for architecture i386):      Mach-O executable i386
/bin/bash (for architecture ppc):       Mach-O executable ppc
</pre>
<p>So we have a program here compiled to run natively on 32-bit PowerPC&#39;s (such as the G3 and G4) and i386 processors (such as the first generation Intel Core Duo). Had this program not been Universal (such as Photoshop CS2 or Office 2004), it would have shown only <code>ppc</code>.</p>
<h3>Removing Processor Code from Applications</h3>
<p>As mentioned above though, the downside to having an application with many different compiled parts for different processors is that they can be larger. Some might argue that it also doesn&#39;t make sense to have code that wasn&#39;t compiled for their machine to be sitting there taking up hard disk space.</p>
<p>If you want to remove unnecessary processor support from a Universal Binary, you can use the <code>lipo</code> command… aptly short for liposuction.</p>
<blockquote>
<p>To keep just Intel code:<br />
<code>lipo -thin i386 -output output_file input_file</code></p>
<p>To keep just PowerPC code:<br />
<code>lipo -thin ppc -output output_file input_file</code></p>
</blockquote>
<p><strong>Be VERY careful though when removing processor support from applications though. If PowerPC programs use resources from a universal program, removing the PowerPC code will break support and crash the application using the resource. Some programs will even refuse to run if they believe they have been tampered with.</strong></p>
<p>Alteratively a somewhat safer way to remove code is to use <a href="http://mac.softpedia.com/get/System-Utilities/TrimTheFat.shtml">TrimTheFat</a>, a graphical program that has a built in blacklist of programs that it will refuse the compact because of known problems after lipo&#39;ing. I&#39;d still be very careful though.</p>
<h3>References</h3>
<ul>
<li><a href="http://www.macintouch.com/readerreports/macsonintel/topic3806.html">Macintouch: Macs on Intel</a></li>
<li><a href="http://apple.com.sg/Universal">Apple: Universal Binaries</a></li>
<li><a href="http://en.wikipedia.org/wiki/Universal_Binary">Wikipedia: Universal Binares</a></li>
<li><a href="http://mac.softpedia.com/get/System-Utilities/TrimTheFat.shtml">SoftPedia: TrimTheFat</a></li>
</ul>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: apple" href="http://technorati.com/tag/apple">apple</a>,
<a title="Technorati tag: next" href="http://technorati.com/tag/next">next</a>,
<a title="Technorati tag: mac os" href="http://technorati.com/tag/mac-os">mac os</a>,
<a title="Technorati tag: mac os x" href="http://technorati.com/tag/mac-os-x">mac os x</a>,
<a title="Technorati tag: mac os x tiger" href="http://technorati.com/tag/mac-os-x-tiger">mac os x tiger</a>,
<a title="Technorati tag: os x tiger" href="http://technorati.com/tag/os-x-tiger">os x tiger</a>,
<a title="Technorati tag: universal binaries" href="http://technorati.com/tag/universal-binaries">universal binaries</a>,
<a title="Technorati tag: powerpc" href="http://technorati.com/tag/powerpc">powerpc</a>,
<a title="Technorati tag: intel core duo" href="http://technorati.com/tag/intel-core-duo">intel core duo</a>,
<a title="Technorati tag: intel core 2 duo" href="http://technorati.com/tag/intel-core-2-duo">intel core 2 duo</a>,
<a title="Technorati tag: lipo" href="http://technorati.com/tag/lipo">lipo</a>,
<a title="Technorati tag: trimthefat" href="http://technorati.com/tag/trimthefat">trimthefat</a>,
<a title="Technorati tag: executables" href="http://technorati.com/tag/executables">executables</a>,
<a title="Technorati tag: binaries" href="http://technorati.com/tag/binaries">binaries</a>,
<a title="Technorati tag: applications" href="http://technorati.com/tag/applications">applications</a></p>
 
