---
title: 'Another Week, Another Delay' 
date: "2006-11-04T04:37:26+10:00"
year: "2006"
category: Media 
tag:
- new-time-radio
- podcasting
- simpletagged 
---
<p><a href="//rubenerd.com/category/show/"><img src="https://rubenerd.com/files/uploads/logo.show144.png" alt="Rubenerd Show" /></a></p>
<p>Hello everyone. Just wanted to apologise for another week without regular programming on the <a href="//rubenerd.com/category/show/">Rubenerd Show</a>. A <a href="//rubenerd.com/latest-rubenerd-outage/">spate of technical problems</a> regarding our internet connection and the stress of having <a href="//rubenerd.com/the-desk-mumster-back-on-chemo/">my mum starting chemotherapy again</a> have been wrecking havoc as you can imagine.</p>
<p>I love doing the Rubenerd Show, but it&#39;s becoming increasingly obvious that doing them can be at times unreliable. I went for months this year without a hitch, so three interruptions in a month is unacceptable. I&#39;m weighing up now therefore to record the shows a few days in advance starting next week and use WordPress&#39;s ability to release posts with a time delay, so any unplanned events will not affect the show. The beauty of <a href="http://newtimeradio.com/">New Time Radio</a> is that if there is an important event I can change a future show on short notice.</p>
<p>In the meantime you&#39;re more than welcome to check out the <a href="//rubenerd.com/">Rubenerd Blog</a>, the previous episodes of the <a href="//rubenerd.com/category/show/">Rubenerd Show</a> or even check out some of my high school friends&#39; websites (<a href="http://boyd-anderson.com/">Boyd Anderson</a> and <a href="http://kevinkeirle.spaces.live.com/">Kevin Keirle</a>) for something new.</p>
<p>Thanks everyone for your support, you all rock.</p>
<p>Cheers,<br />
<cite><a href="//rubenerd.com/about/">Ruben</a></cite></p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: rubenerd show" href="http://technorati.com/tag/rubenerd-show">rubenerd show</a>,
<a title="Technorati tag: new time radio" href="http://technorati.com/tag/new-time-radio">new time radio</a>,
<a title="Technorati tag: new-time radio" href="http://technorati.com/tag/new-time-radio">new-time radio</a></p>
 
