---
title: 'Another Bushism' 
date: "2006-10-25T02:42:29+10:00"
year: "2006"
category: Thoughts 
tag: 
- funny
- nonsense
- politics
- simpletagged 
---
<p><img id="image423" src="https://rubenerd.com/files/uploads/bushhowardv1200.jpg" alt="Little Johnny Howard and Dubbya" /></p>
<blockquote><p>We live in a global world.”<br />
&#8211; GWtf Bush</p></blockquote>
<p>Originally posted on <a href="http://www.machelpmaui.com/blog/?p=564">MacHelp</a>.</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: george bush" href="http://technorati.com/tag/george-bush">george bush</a>,
<a title="Technorati tag: george w. bush" href="http://technorati.com/tag/george-w.-bush">george w. bush</a>,
<a title="Technorati tag: dubbya" href="http://technorati.com/tag/dubbya">dubbya</a>,
<a title="Technorati tag: bushisms" href="http://technorati.com/tag/bushisms">bushisms</a>,
<a title="Technorati tag: stupidity" href="http://technorati.com/tag/stupidity">stupidity</a>,
<a title="Technorati tag: republicans" href="http://technorati.com/tag/republicans">republicans</a>,
<a title="Technorati tag: conservatives" href="http://technorati.com/tag/conservatives">conservatives</a></p>
 
