---
title: 'Anyone Used a Creative Xmod?' 
date: "2006-12-15T12:41:11+10:00"
year: "2006"
category: Hardware 
tag:
- apple
- creative
- infocomm
- music
- news
- shopping
- simpletagged 
---
<p>I have a fair amount of MP3 and AAC music files; last checks in <a href="http://apple.com/itunes/">iTunes</a> and <a href="//rubenerd.com/proprietary-software-songbird/">Songbird</a> claimed that I had a total of <em>49.80GB</em> of music (not including videos in iTunes), most ripped as <em>192kb/s</em>, though as of late I&#39;ve started ripping at <em>320kb/s</em> to future proof myself a bit. Still, the vast majoraty is ripped at <em>192kb/s</em> which, while miles better quality than the more widespread and generic 128kb/s.</p>
<p>For the most part this works fine, but occasionaly when I&#39;m at home and not limited to my iPod I pop in a Michael Franks CD and listen with some decent desktop speakers: the audio quality difference is really noticable.</p>
<p>As Peter Cook said &quot;…well it&#39;s a long introduction for rather a short [story]!&quot; ;).</p>
<p><img style="float:right; margin: 5px 0 10px 20px" id="image579" src="https://rubenerd.com/files/uploads/15913_1.jpg" alt="Creative Xmod" /></p>
<p>Anyway so with this whole <a href="//rubenerd.com/show188/">Microsoft Zune</a> thing going on, I thought I&#39;d take a look at the <a href="http://sg.creative.com/products/product.asp?category=213&#038;subcategory=214&#038;product=14331">Creative Zen</a> (which I think is miles ahead of Microsoft and getting &quot;closer&quot; to the iPod with each release, and is from Singapore so it has to be good!), but what I found instead was even more interesting: the SG$139.00 <a href="http://sg.creative.com/products/product.asp?category=209&#038;subcategory=668&#038;product=15913">Creative Xmod</a>.</p>
<p>Apparently what this little device does from what I can tell <a href="http://sg.creative.com/products/product.asp?category=209&#038;subcategory=668&#038;product=15913">from the site</a> is it sits between your speakers and the audio out of your computer or music player and enriches the sound to regain some of the finer details of the music which would have been lost through lossy compression such as MP3 or AAC. Now I am a bit skeptical; anything that claims to improve audio quality from a low quality sourse sounds too much like turning lead into gold for me (if you get my alchemic drift!), but if it worked I would be impressed.</p>
<p>Has anyone had experience with this device? Sure it wouldn&#39;t be as good as a geniune CD or unscratched LP would be, but anything that makes existing compressed audio sound better would be a real plus for me.</p>
<p>And an even bigger question, would it make my voice sound better on the <a href="//rubenerd.com/show/">Rubenerd Show</a>? :D</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: creative" href="http://technorati.com/tag/creative">creative</a>,
<a title="Technorati tag: creative technology" href="http://technorati.com/tag/creative-technology">creative technology</a>,
<a title="Technorati tag: creative zen" href="http://technorati.com/tag/creative-zen">creative zen</a>,
<a title="Technorati tag: ipod" href="http://technorati.com/tag/ipod">ipod</a>,
<a title="Technorati tag: apple ipod" href="http://technorati.com/tag/apple-ipod">apple ipod</a>,
<a title="Technorati tag: zen" href="http://technorati.com/tag/zen">zen</a>,
<a title="Technorati tag: zen micro" href="http://technorati.com/tag/zen-micro">zen micro</a>,
<a title="Technorati tag: zune" href="http://technorati.com/tag/zune">zune</a>,
<a title="Technorati tag: microsoft zune" href="http://technorati.com/tag/microsoft-zune">microsoft zune</a>,
<a title="Technorati tag: creative xmod" href="http://technorati.com/tag/creative-xmod">creative xmod</a>,
<a title="Technorati tag: xmod" href="http://technorati.com/tag/xmod">xmod</a>,
<a title="Technorati tag: mp3" href="http://technorati.com/tag/mp3">mp3</a>,
<a title="Technorati tag: aac" href="http://technorati.com/tag/aac">aac</a>,
<a title="Technorati tag: lossy compression" href="http://technorati.com/tag/lossy-compression">lossy compression</a>,
<a title="Technorati tag: audio" href="http://technorati.com/tag/audio">audio</a>,
<a title="Technorati tag: music" href="http://technorati.com/tag/music">music</a></p>
 
