---
title: 'Apple Battery Recall' 
date: "2006-08-26T09:03:14+10:00"
year: "2006"
category: Hardware 
tag:
- apple
- infocomm
- simpletagged 
---
<p>If you haven&#39;t yet heard, Apple is recalling an army of Sony manufactured batteries from some of its notebook computers released from 2003 to 2006.</p>
<p><a href="https://support.apple.com/ibook_powerbook/batteryexchange/">Apple.com: Battery Exchange Program</a></p>
<p>If the battery from your <em>refurbished</em> 12-inch iBook G3 or <em>original</em> 12-inch iBook G4, 12-inch PowerBook G4 or 15-inch PowerBook G4 matches these model numbers, you need to get in contact with Apple:</p>
<p><img src="https://rubenerd.com/files/uploads/media.battery_12in_ibook_small.jpg" alt="A1061"/></p>
<p><img src="https://rubenerd.com/files/uploads/media.battery_12inch_pbook_small.jpg" alt="A1079"/></p>
<p><img src="https://rubenerd.com/files/uploads/media.battery_15inch_pbook_small.jpg" alt="A1078 and A1148"/></p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: apple" href="http://technorati.com/tag/apple">apple</a>,
<a title="Technorati tag: battery recall" href="http://technorati.com/tag/battery-recall">battery recall</a>,
<a title="Technorati tag: sony battery" href="http://technorati.com/tag/sony-battery">sony battery</a>,
<a title="Technorati tag: exploding" href="http://technorati.com/tag/exploding">exploding</a>,
<a title="Technorati tag: fire" href="http://technorati.com/tag/fire">fire</a>,
<a title="Technorati tag: sony" href="http://technorati.com/tag/sony">sony</a>,
<a title="Technorati tag: sony battery" href="http://technorati.com/tag/sony-battery">sony battery</a></p>
 
