---
title: 'Atanu Dey on Humans and Problem Solving' 
date: "2006-08-27T11:26:04+10:00"
year: "2006"
category: Thoughts 
tag: 
- science
- simpletagged 
---
<p><img src="https://rubenerd.com/files/uploads/media.einstein.jpg" alt="" /></p>
<p><a href="http://www.emergic.org/archives/2006/08/27/index.html#atanu_on_problem_solving">Rajesh Jain has posted</a> about a fascinating article by <a href="http://www.deeshaa.org/2006/08/21/a-very-short-essay-on-problems-part-1/">Atanu Day</a> regarding humans and our hardwired obsession with problem solving, whether those problems are existing natural complications or those that we can be credited for creating in the first place.</p>
<blockquote><p>Compared to all other life forms in the known universe, our species can be characterized as the one that consciously solves problems. There appears to be at least in some specimens of our kind an inherent drive to not only solve problems but in fact to seek out new problems to be solved. Of course, some would argue that many of our attempts to solve problems in turn create new problems. That in itself is probably not such a bad thing because otherwise we would have little to occupy ourselves with. Confronting challenges natural as well as artificially created exercises our faculties and makes us feel alive and lends purpose and meaning to our existence.</p>
<p>I think that a simple taxonomy of problems would be useful. Type I class of problems are the ones that we are confronted with naturally and which we need to solve as a matter of practical importance. Examples of this class would be: how do we build a more efficient light source, how can we avoid global warming, how do we discover a vaccine, etc. In contrast to that, Type II problems are of no immediate practical importance and we &#8220;invent&#8221; these problems for various reasons, primarily curiosity and the drive to comprehend the universe around us. To be sure, down the line, the results of Type II problems could have practical implications; but to begin with they are not motivated by a desire to change the world. Examples of this variety: is there is a largest prime number, why is the sky dark at night (Obler’s paradox), do neutrinos have a zero rest mass, etc.</p></blockquote>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http:://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<p><a title="Technorati tag: science" href="http://technorati.com/tag/science">science</a>,
<a title="Technorati tag: problem solving" href="http://technorati.com/tag/problem-solving">problem solving</a>,
<a title="Technorati tag: atanu dey" href="http://technorati.com/tag/atanu-dey">atanu dey</a>,
<a title="Technorati tag: rajesh jain" href="http://technorati.com/tag/rajesh-jain">rajesh jain</a>,
<a title="Technorati tag: human condition" href="http://technorati.com/tag/human-condition">human condition</a></p>
 
