---
title: 'Atlantis Safely Back Home' 
date: "2006-09-23T12:31:52+10:00"
year: "2006"
category: Thoughts 
tag: 
- astronomy
- science
- simpletagged 
---
<p><img src="https://rubenerd.com/files/uploads/atlantis.jpg" alt="" /></p>
<p>According to Channel News Asia Singapore, the space shuttle Atlantis has safely returned back to earth. Did they ever figure out what that foreign object that was floating around the shuttle was? Something to do with those blasted heat tiles again? Seriously what has those heat tile re-entry blocks ever done for anyone? Don&#39;t answer that.</p>
<p>NASA really needs to replace these contraptions. Personally I&#39;d be more interested in seeing a collaboration between the ESA, NASA, JAXA, the Russians and the Chinese to reflect the borderless nature of space, but fat chance!</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: esa" href="http://technorati.com/tag/esa">esa</a>,
<a title="Technorati tag: nasa" href="http://technorati.com/tag/nasa">nasa</a>,
<a title="Technorati tag: jaxa" href="http://technorati.com/tag/jaxa">jaxa</a>,
<a title="Technorati tag: cna" href="http://technorati.com/tag/cna">cna</a>,
<a title="Technorati tag: channel news asia" href="http://technorati.com/tag/channel-news-asia">channel news asia</a>,
<a title="Technorati tag: atlantis" href="http://technorati.com/tag/atlantis">atlantis</a>,
<a title="Technorati tag: space shuttle" href="http://technorati.com/tag/space-shuttle">space shuttle</a>,
<a title="Technorati tag: space shuttle atlantis" href="http://technorati.com/tag/space-shuttle-atlantis">space shuttle atlantis</a>,
<a title="Technorati tag: space shuttle program" href="http://technorati.com/tag/space-shuttle-program">space shuttle program</a>,
<a title="Technorati tag: old space shuttles" href="http://technorati.com/tag/old-space-shuttles">old space shuttles</a>,
<a title="Technorati tag: space" href="http://technorati.com/tag/space">space</a>,
<a title="Technorati tag: rubenerd blog" href="http://technorati.com/tag/rubenerd-blog">rubenerd blog</a>,
<a title="Technorati tag: ruben schade" href="http://technorati.com/tag/ruben-schade">ruben schade</a>,
<a title="Technorati tag: ruben" href="http://technorati.com/tag/ruben">ruben</a>,
<a title="Technorati tag: schade" href="http://technorati.com/tag/schade">schade</a></p>
 
