---
title: 'Aussie Children Smacking Ban' 
date: "2006-09-12T04:44:13+10:00"
year: "2006"
category: Thoughts 
tag: 
- australia
- news
- rant
- simpletagged 
---
<p><img src="https://rubenerd.com/files/uploads/media.plush-koala-aussie-flag.jpg" alt="Soft toy koala holding an Australian flag." /></p>
<p>I can&#39;t imagine how any rational parent these days could be against legislation to criminliase the act of smacking children in all the states in Australia. Smacking is an antiquated, crude, mentally-scarring and ineffective method of persuasion that teaches children that violence is the answer to problems… sound familiar in this world we live in at the moment?</p>
<p>My parents didn&#39;t smack me; and I sure as hell wouldn&#39;t ever smack my kids if I were to have any; but apparently some people think physical abuse in this day and age is socially and morally acceptable:</p>
<blockquote><p>Smacking ban too extreme, Family Association says.</p>
<p>he foundation’s chief executive, Joe Tucci, says while there has been a decline in support for physical punishment, there is obviously still a large section of the community using it.</p>
<p>The Australian Family Association says a ban on smacking children is going too far. The Australian Childhood Foundation says it would like physical punishment against children to be banned. But Australian Family Association spokesman Damien Tudehope says the current laws are adequate.</p>
<p>&#8220;We have some concerns about introducing laws which have the potential of turning parents into criminals,&#8221; he said. &#8220;Certainly we don’t advocate any circumstances where it’s appropriate to leave permanent marks on children and to use discipline in a way where it becomes an assault on children. &#8220;But to introduce laws which mean the Government has a role to play in deciding who and who isn’t a good parent, we think that’s going too far.&#8221; </p></blockquote>
<p>Oh okay, so legally we protect people from harassment in the community, but hey physically abusing children who haven&#39;t even fully developed is all well and good. Come on people, grow up yourselves.</p>
<p><a style="font-size:14px" href="http://www.ourmedia.org/node/258125">Ourmedia article by User:publik</a></p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: abuse" href="http://technorati.com/tag/abuse">abuse</a>,
<a title="Technorati tag: smacking ban" href="http://technorati.com/tag/smacking-ban">smacking ban</a>,
<a title="Technorati tag: aussie smacking ban" href="http://technorati.com/tag/aussie-smacking-ban">aussie smacking ban</a>,
<a title="Technorati tag: australian smacking ban" href="http://technorati.com/tag/australian-smacking-ban">australian smacking ban</a>,
<a title="Technorati tag: discipline" href="http://technorati.com/tag/discipline">discipline</a>,
<a title="Technorati tag: children" href="http://technorati.com/tag/children">children</a>,
<a title="Technorati tag: children's rights" href="http://technorati.com/tag/children's-rights">children’s rights</a>,
<a title="Technorati tag: legislation" href="http://technorati.com/tag/legislation">legislation</a>,
<a title="Technorati tag: rant">rant</a>,
<a title="Technorati tag: rubenerd blog" href="http://technorati.com/tag/rubenerd-blog">rubenerd blog</a>,
<a title="Technorati tag: ruben schade" href="http://technorati.com/tag/ruben-schade">ruben schade</a>,
<a title="Technorati tag: ruben" href="http://technorati.com/tag/ruben">ruben</a>,
<a title="Technorati tag: schade" href="http://technorati.com/tag/schade">schade</a></p>
 
