---
title: 'Beautiful Morning' 
date: "2006-08-25T12:22:11+10:00"
year: "2006"
category: Thoughts 
tag: 
- personal
- simpletagged 
---
<p><img src="https://static.flickr.com/74/218747815_290764812c_m.jpg" alt="" /></p>
<p>In stark contrast to yesterday when insomnia ruined my whole day, today I had 9 hours of sleep, and woke up at 6:00am to a beautiful sunrise. The sky is very overcast and the mercury is sitting on about 12 degrees C, but the air is crisp and there are birds chirping in the trees. I&#39;m sitting here with my MacBook Pro looking out the opened window with a steaming cup of coffee, and life is great!</p>
<p>Perhaps I&#39;m just having a high in my biploar cycle, but whatever it is I&#39;m going to enjoy it while it lasts! I love this world!</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: morning" href="http://technorati.com/tag/morning">morning</a>,
<a title="Technorati tag: sunrise" href="http://technorati.com/tag/sunrise">sunrise</a></p>
 
