---
title: 'Best Overnightscape Ever!' 
date: "2006-04-06T11:25:31+10:00"
year: "2006"
category: Media 
tag:
- frank-edward-nora
- new-time-radio
- podcasting
- the-overnightscape
---
<p><img src="https://rubenerd.com/files/uploads/media.fen_new6.jpg" alt="Frank Edward Nora." /></p>
<p>I&#39;ve been lisening to The Overnightscape when my stream of internet connections allow since November 2004, and Frank has left me convinced that his radio programme is world class, not only one of the best shows on the internet but better even that all of the terrestrial programming available today (its for this reason that I also love the term <a href="http://newtimeradio.com/">New Time Radio</a>) in Singapore, Malaysia or Australia.</p>
<p>Anyways the lastest episodes of his show have been, put simply, brilliant. If you haven&#39;t heard episode 429 yet, then in the words of the New South Wales traffic authority: &quot;you&#39;re a bloody idiot!&quot;</p>
<p>I won&#39;t go into detail about what makes this show so great, I don&#39;t want to spoil the surprise, suffice it to say it&#39;s in New York, its a radio excursion and it&#39;s fascinating. Audio podcasting at its best.</p>
<p>Oh and he talks about Gill Sans :D</p>
<p>The links you need to know:</p>
<ul>
<li><a href="http://theovernightscape.com/">The Overnightscape Website</a></li>
<li><a href="http://theovernightscape.com/mp3/The_Overnightscape_0429.mp3">Direct link to episode MP3 (right-click &#39;Save Link As&#39; or &#39;Save Target As&#39;)</a></li>
<li><a href="http://s7.invisionfree.com/The_Overnightscape/index.php?showtopic=700">Link to the Episode 429 fan thread on the ONS forum!</a></li>
</ul>
 
