---
title: 'Birling Gap by David Wares' 
date: "2006-08-28T12:38:51+10:00"
year: "2006"
category: Media 
tag:
- dave-wares
- environment
- photos
- simpletagged 
---
<p><img src="https://rubenerd.com/files/uploads/media.fishingatbirlinggap.jpg" alt="" /></p>
<p>If you haven&#39;t taken the opportunity yet, I highly encourage you to check out Dave Wares&#39; (aka: <a href="//rubenerd.com/show/forum/">Rubenerd Forum&#39;s</a> Mr Bunny) photographic website. He claims that he&#39;s an <em>amateur</em> photographer, but the depth and quality of his work clearly contradict his self-assessment.</p>
<p>This month&#39;s photograph is <em>Birling Gap</em>. To see the full sized image, as well as all his other brilliant work check him out at:</p>
<p><a style="font-size:14px" href="http://davesphotogallery.net">DavesPhotoGallery.net</a>.</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: david wares" href="http://technorati.com/tag/david-wares">david wares</a>,
<a title="Technorati tag: dave wares" href="http://technorati.com/tag/dave-wares">dave wares</a>,
<a title="Technorati tag: birling gap" href="http://technorati.com/tag/birling-gap">birling gap</a>,
<a title="Technorati tag: photography" href="http://technorati.com/tag/photography">photography</a>,
<a title="Technorati tag: professional photography" href="http://technorati.com/tag/professional-photography">professional photography</a>,
<a title="Technorati tag: photos" href="http://technorati.com/tag/photos">photos</a>,
<a title="Technorati tag: images" href="http://technorati.com/tag/images">images</a>,
<a title="Technorati tag: nature" href="http://technorati.com/tag/nature">nature</a>,
<a title="Technorati tag: wildlife" href="http://technorati.com/tag/wildlife">wildlife</a>,
<a title="Technorati tag: scenery" href="http://technorati.com/tag/scenery">scenery</a></p>
 
