---
title: 'Birthday 486' 
date: "2006-03-28T01:16:14+10:00"
year: "2006"
category: Hardware 
tag:
- infocomm
- personal 
---
<p>Well how was my 20th birthday?</p>
<p>Aside from the mountains of uni projects and work I had to get through which took most of the day, looking for a laptop for a few hours for Sarab on eBay, it was pretty good. Kevin, Chris and I went to the Boatdeck Italian cafe for dinner for a Ruben-style birthday ending… pretty low key which was just my style.</p>
<p>As for the 486? I decided not to get the 486 I saw before, but instead a Toshiba Satellite T2150 series machine. Here are the specs of this incredibly fast monster:</p>
<ul>
<li><strong>Processor: </strong> 80486DX4 75MHz</li>
<li><strong>Hard Disk: </strong> 530MB</li>
<li><strong>RAM: </strong></li>
<li><strong>Drives: </strong> Internal FDD &#038; CD-ROM (wow!)</li>
<li><strong>Graphics: </strong> Chips &#038; Technologies 65545 (655xx series)</li>
<li><strong>Sound: ESS 688</strong></li>
<li><strong>PCMCIA: </strong> Adaptec AIC 6X60ISA Single-Chip Controller</li>
</ul>
<p>Yee ha :D. I will be able to use this for retro gaming, and my uni assessment task on low-powered machines. Yee ha :D</p>
 
