---
title: 'Bloomberg Desktop' 
date: "2006-09-01T10:47:08+10:00"
year: "2006"
category: Thoughts 
tag: 
- economics
- shopping
- simpletagged 
---
<p><img src="https://rubenerd.com/files/uploads/media.bloomberg.jpg" alt="" /></p>
<p>Oh boy I really want one of these!</p>
<blockquote><p>The Bloomberg desktop features the award-winning Bloomberg Terminal, the new Bloomberg keyboard, BLOOMBERG-FON and more. Read about how you can enhance your desktop below. </p></blockquote>
<p>Having that sitting on my desk, all the major stock marekts, biggest stock changes by volume and value, latest news, newly released government reports and statistics… who needs cable? :D</p>
<p>If anyone is interested in purchasing me a Bloomberg Desktop, <a href="//rubenerd.com/show/?page_id=149">send me an email</a> and we can arrange shipping details.</p>
<p><img src="https://rubenerd.com/files/uploads/media.desktop-2.jpg" alt="" /></p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: bloomberg" href="http://technorati.com/tag/bloomberg">bloomberg</a>,
<a title="Technorati tag: economics" href="http://technorati.com/tag/economics">economics</a>,
<a title="Technorati tag: bloomberg desktop" href="http://technorati.com/tag/bloomberg-desktop">bloomberg desktop</a>,
<a title="Technorati tag: bloomberg terminal" href="http://technorati.com/tag/bloomberg-terminal">bloomberg terminal</a>,
<a title="Technorati tag: bloomberg keyboard" href="http://technorati.com/tag/bloomberg-keyboard">bloomberg keyboard</a>,
<a title="Technorati tag: bloomberg-fon" href="http://technorati.com/tag/bloomberg-fon">bloomberg-fon</a>,
<a title="Technorati tag: terminals" href="http://technorati.com/tag/terminals">terminals</a></p>
 
