---
title: 'Break The Chain' 
date: "2006-08-29T04:26:18+10:00"
year: "2006"
category: Internet
tag: 
- infocomm
- simpletagged
- spam
- weblog 
---
<p><a href="http://breakthechain.org/"><img src="https://rubenerd.com/files/uploads/media.breakthechain.png" alt="Break The Chain" /></a></p>
<p>I can&#39;t stand chain emails. They&#39;re a waste of my valuable email reading time! Even if they appear to have good intentions, I&#39;ve made it a habit to NEVER forward any chain emails. If the information containted in such messages was really that useful, I&#39;m sure <a href="//rubenerd.com/show/blog">I could find it elsewhere</a> beforehand and besides, who actually believes what they read in chain emails?</p>
<blockquote><p>Question everything! E-mail is an unreliable medium for sharing information. It is unreliable, cannot be tracked and no company uses it to give away money or products. It’s an ineffective tool for political activism and won’t make you a millionaire overnight.</p>
<p>Don’t want the junk! If you forward chain letters, stop! If others send them to you, stop them! The more junk you send, the more you will get. Sending or receiving chain letters increases your exposure to spam, scams and other junk mail.</p>
<p>Stop junk e-mail and misinformation!</p></blockquote>
<p>Good on them!</p>
<p><a href="http://breakthechain.org/" style="font-size:14px">Break The Chain!</a></p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a></p>
<p><a title="Technorati tag: break the chain" href="http://technorati.com/tag/break-the-chain">break the chain</a>,
<a title="Technorati tag: chain emails" href="http://technorati.com/tag/chain-emails">chain emails</a>,
<a title="Technorati tag: spam" href="http://technorati.com/tag/spam/">spam</a>,
<a title="Technorati tag: junk mail" href="http://technorati.com/tag/junk-mail">junk mail</a>,
<a title="Technorati tag: junk email" href="http://technorati.com/tag/junk-email">junk email</a></p>
 
