---
title: 'Bruce Schneier Facts' 
date: "2006-09-27T03:28:53+10:00"
year: "2006"
category: Thoughts 
tag: 
- funny
- nonsense
- simpletagged 
---
<p><a href="http://geekz.co.uk/schneierfacts/"><img src="https://rubenerd.com/files/uploads/chuck-schneier-3.jpg" alt="" /></a></p>
<p>Found out about this while listening to Security Now (<a href="http://grc.com/securitynow/">GRC page</a> and <a href="http://www.twit.tv/SN">TWiT page</a>). It appears Bruce Schneier has been <a href="//rubenerd.com/chuck-norris-facts/">Chuck Norris Fact&#39;ed</a>!</p>
<p>My favourite Bruce Schneier facts:</p>
<ul>
<li>Bruce Schneier once factored a prime.</li>
<li>Bruce Schneier can losslessly compress random data by 50%, with his fists.</li>
<li>As initialisation vectors, &#39;Bruce Schneier&#39; and &#39;Chuck Norris&#39; are interchangeable.</li>
<li>Bruce Schneier fully discloses his own vulnerabilities: none.</li>
</ul>
<p>Bruce Schneier (born January 15, 1963) is an American cryptographer, computer security specialist, and writer. He is the author of several books on computer security and cryptography, and is the founder and chief technology officer of Counterpane Internet Security.</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: chuck norris" href="http://technorati.com/tag/chuck-norris">chuck norris</a>,
<a title="Technorati tag: chuck norris facts" href="http://technorati.com/tag/chuck-norris-facts">chuck norris facts</a>,
<a title="Technorati tag: bruce schneier" href="http://technorati.com/tag/bruce-schneier">bruce schneier</a>,
<a title="Technorati tag: bruce schneier facts" href="http://technorati.com/tag/bruce-schneier-facts">bruce schneier facts</a></p>
 
