---
title: 'Chuck Norris Facts!' 
date: "2006-09-23T12:54:16+10:00"
year: "2006"
category: Thoughts 
tag: 
- funny
- nonsense
- simpletagged 
---
<p><a href="http://chucknorrisfacts.com/"><img src="https://rubenerd.com/files/uploads/chucknorrisfacts.jpg" alt="Chuck Norris Facts" /></a></p>
<p>I&#39;ve known about this site for a while now, but I thought I&#39;d post here just for fun :D.</p>
<p>If you&#39;ve never seen this site before you&#39;re missing out on one of the funniest damned sites on the net. It lists true facts about Chuck Norris. And you&#39;d better damned well agree with all of them or Chuck Norris will have your arse.</p>
<p>My favourites are still: <em>&quot;Guns don&#39;t kill people, Chuck Norris kills people!&quot;</em> and <em>&quot;Chuck Norris uses 10 by 4 plywood panels as toilet paper&quot;</em>.</p>
<p>In case you&#39;ve forgotton, Chuck Norris was Walker Texas Ranger.</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: chuck norris" href="http://technorati.com/tag/chuck-norris">chuck norris</a>,
<a title="Technorati tag: chuck norris facts" href="http://technorati.com/tag/chuck-norris-facts">chuck norris facts</a>,
<a title="Technorati tag: walker texas ranger" href="http://technorati.com/tag/walker-texas-ranger">walker texas ranger</a>,
<a title="Technorati tag: rubenerd blog" href="http://technorati.com/tag/rubenerd-blog">rubenerd blog</a>,
<a title="Technorati tag: ruben schade" href="http://technorati.com/tag/ruben-schade">ruben schade</a>,
<a title="Technorati tag: ruben" href="http://technorati.com/tag/ruben">ruben</a>,
<a title="Technorati tag: schade" href="http://technorati.com/tag/schade">schade</a></p>
 
