---
title: 'Comparing Flat Tax to Variable Tax' 
date: "2006-11-29T08:26:37+10:00"
year: "2006"
category: Thoughts 
tag: 
- economics
- simpletagged 
---
<p><a href="//rubenerd.com/category/economics/"><img style="float:right; margin:0 0 10px 20px" id="image561" src="https://rubenerd.com/files/uploads/economics.png" alt="Ruben does economics" /></a></p>
<p>While reading the ultra conservative, right wing, &quot;everyone is evil except us!&quot; World View Weekend website; as I’ve been linked to far too many ytimes; I came across one article that took my interest given the fact that I&#39;m doing economics at university and because economics in general fascinates me:</p>
<p><a href="http://www.worldviewweekend.com/secure/cwnetwork/article.php?ArticleID=1302">Understanding Tax Cuts:<br />A Must Read For Children, Adults, Journalist and Absolutely for Liberals</a></p>
<p>From what I&#39;ve read on their site, they classify me as a &quot;liberal&quot; so I followed their advice and read the article! What initially struck me about this article was not so much how one sided or biased it was (I was expecting this given the site I was reading it on!) but how much fundamental economic knowledge it was lacking, well at least from my perspective.</p>
<p>The article goes into detail explaining how taxing rich people doesn&#39;t work and that it is the rich that deserve the tax breaks the most because they reap more benefits from it. Where the logic behind this argument came from is beyond me, but it was evident even in one person&#39;s respose to the article as well; unfortuately it seems the misinformation spread just as the author wanted!</p>
<p>My rebuttal:</p>
<p>I mean no offense sir/madam, but from what I can see your post lacks fundamental economic understanding. To answer your first question sir/madam, Australia is a secular country, so we don&#39;t make the distinction between a &quot;liberal&quot; or &quot;conservative&quot; university, we pride our society and institutions as being &quot;fair and balanced&quot; ;).</p>
<p>You say that &quot;the highest paying people get the most benefit with tax cuts.&quot; which implies you prefer a &quot;flat tax system&quot;. I&#39;m afraid sir/madam this is classic Circular Logic.</p>
<p>Keynesian theory (ie: fiscal policy) stipulates that demand and supply are variables, and that taxation (a form of mixed-economic government intervention) is one branch of factors that can affect the equilibrium of supply and demand.</p>
<p>Now let&#39;s take this into account sir/madam and examine a &quot;flat tax system&quot; as the alternative to this &quot;evil&quot; variable one that apparently taxes rich people too much. If every person for example is taxed at 10%, that 10% in strict dollar terms is much more difficult for a person in a lower tax bracket to pay because they have less gross income. A 10% cut in their income for this person may mean less disposable income to buy food.</p>
<p>By contrast, for a person in a higher tax bracket, 10% in dollar terms is far greater, but the impact on the person paying the tax is substantially less. For this person sir/madam, a 10% cut in their income may mean less money to put towards their holiday to Kyoto.</p>
<p>Therefore we can see that a flat tax system is discriminatory. A variable tax system (which taxes more in % terms the more you earn) is fairer and more balanced because it affects people in the same way regardless of their income level. The problem sir/madam with a variable tax system can happen though when people in higher tax brackets are taxed too much and the incentive to work harder and earn more diminishes.</p>
<p>Granted there needs to be a balance between incentive and the collective ability of people in different brackets to pay taxes, but to outrightly say that a tiered or variable tax system is bad and that rich people just get taxed too much is dangerous.</p>
<p>Cheers :).</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: economics" href="http://technorati.com/tag/economics">economics</a>,
<a title="Technorati tag: flat tax" href="http://technorati.com/tag/flat-tax">flat tax</a>,
<a title="Technorati tag: variable tax" href="http://technorati.com/tag/variable-tax">variable tax</a>,
<a title="Technorati tag: tiered tax" href="http://technorati.com/tag/tiered-tax">tiered tax</a>,
<a title="Technorati tag: incentive" href="http://technorati.com/tag/incentive">incentive</a>,
<a title="Technorati tag: discrimination" href="http://technorati.com/tag/discrimination">discrimination</a>,
<a title="Technorati tag: secular" href="http://technorati.com/tag/secular">secular</a>,
<a title="Technorati tag: keynesian theory" href="http://technorati.com/tag/keynesian-theory">keynesian theory</a>,
<a title="Technorati tag: keynes" href="http://technorati.com/tag/keynes">keynes</a></p>
 
