---
title: 'Cyclone Larry Just As Bad As Tracy' 
date: "2006-03-20T02:19:45+10:00"
year: "2006"
category: Thoughts 
tag: 
- australia
- news
- weather
---
<p>If you haven't heard yet, Cyclone Larry has been tearing his way through northern Queensland, destroying property, flattening houses and causing widespread damage to farms: 95% of Australia's banana crop is gone and thousands have lost their jobs overnight. Reports are saying the winds have been reaching 290km/h.</p>
<p>For more information, you can visit these pages:</p>
<ul>
<li><a href="http://www.abc.net.au/news/newsitems/200603/s1595732.htm">Damage widespread as cyclone moves in — ABC News</a></li>
<li><a href="http://smh.com.au/news/national/larry-flattens-innisfail-houses/2006/03/20/1142703252564.html">Larry 'flattens' Innisfail houses — SMH</a></li>
</ul>
<p>Peter Beattie (Queensland's Premier) has declared a state of emergency and is urging everyone to stay inside to avoid getting hit with flying debris, and to keep televisions and radios on.</p>
 
