---
title: 'Dang Those Flying Bottles' 
date: "2006-10-25T05:11:26+10:00"
year: "2006"
category: Thoughts 
tag: 
- funny
- nonsense
- simpletagged 
---
<p><img id="image429" src="https://rubenerd.com/files/uploads/bottle.gif" alt="Flying Bottle" /></p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: bottles" href="http://technorati.com/tag/bottles">bottles</a>,
<a title="Technorati tag: humour" href="http://technorati.com/tag/humour">humour</a></p>
 
