---
title: 'Dave’s Photo Gallery Blog' 
date: "2006-08-28T01:45:57+10:00"
year: "2006"
category: Media 
tag:
- photos
- simpletagged
- weblog 
---
<p>In follow-up to <a href="//rubenerd.com/?p=271">my previous post</a>, Dave has officially released his blog to the welcoming public, which you can access at <a href="http://blog.davesphotogallery.net/blog">http://blog.davesphotogallery.net/blog</a>. Looks very polished.</p>
<blockquote><p>Welcome to my blog page, I decided that rather than having news on my website homepage which is only updated monthly, I would have somewhere that I could add to whenever i like. So any time I’m out and about taking pics I will add an entry to the blog and keep news a bit more up to date. I’ll be putting the occasional pic on as well as an example of what is on the main site and perhaps the occasional &#8220;almost&#8221; shots, so please keep checking back or just subscribe to the RSS feed.</p></blockquote>
<p>I&#39;ve added him to my blogroll ;).</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: david wares" href="http://technorati.com/tag/david-wares">david wares</a>,
<a title="Technorati tag: dave wares" href="http://technorati.com/tag/dave-wares">dave wares</a>,
<a title="Technorati tag: birling gap" href="http://technorati.com/tag/birling-gap">birling gap</a>,
<a title="Technorati tag: photography" href="http://technorati.com/tag/photography">photography</a>,
<a title="Technorati tag: professional photography" href="http://technorati.com/tag/professional-photography">professional photography</a>,
<a title="Technorati tag: photos" href="http://technorati.com/tag/photos">photos</a>,
<a title="Technorati tag: images" href="http://technorati.com/tag/images">images</a>,
<a title="Technorati tag: nature" href="http://technorati.com/tag/nature">nature</a>,
<a title="Technorati tag: wildlife" href="http://technorati.com/tag/wildlife">wildlife</a>,
<a title="Technorati tag: scenery" href="http://technorati.com/tag/scenery">scenery</a>,
<a title="Technorati tag: blog" href="http://technorati.com/tag/blog">blog</a>,
<a title="Technorati tag: weblog" href="http://technorati.com/tag/weblog">weblog</a></p>
 
