---
title: 'Days Until Bush Leaves Office!' 
date: "2006-10-25T06:56:31+10:00"
year: "2006"
category: Thoughts 
tag: 
- funny
- politics
- simpletagged 
---
<p><a href="http://www.positronicdesign.com"><img src="http://www.positronicdesign.net/daysleft.php" alt="Days until Bush leaves office."/></a></p>
<p>Designed by <a href="http://www.livejournal.com/users/georgedorn">georgedorn</a> and provided by <a href="http://www.positronicdesign.com">Positronic Design</a>.<br />
Grab your own copy <a href="http://www.positronicdesign.com/daysleft.html">here</a>.</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: bush" href="http://technorati.com/tag/bush">bush</a>,
<a title="Technorati tag: george w. bush" href="http://technorati.com/tag/george-w.-bush">george w. bush</a>,
<a title="Technorati tag: dubbya" href="http://technorati.com/tag/dubbya">dubbya</a>,
<a title="Technorati tag: george bush" href="http://technorati.com/tag/george-bush">george bush</a></p>
 
