---
title: 'Do Apple Seeds Have Arsenic?' 
date: "2006-09-01T09:48:59+10:00"
year: "2006"
category: Thoughts 
tag: 
- coffee
- simpletagged 
---
<p><img src="https://rubenerd.com/files/uploads/media.apples.jpg" alt="" /></p>
<p>So someone <a href="http://www.newton.dep.anl.gov/askasci/bot00/bot00208.htm">asked the question</a>: do apple seeds have arsenic in them? Is it dangerous to process apples with the seeds still in the fruit?</p>
<blockquote><p>&#8220;The good news: apple seeds do not contain arsenic.  The bad news:  apple seeds DO contain cyanide.  As for processing the apples, what kind of processing are you interested in?  Grinding apples and pressing them for cider doesn’t release enough cyanide to be a problem;  neither does cooking apples and straining them to make a sauce.  About the only way you can actually ruin into a problem with the toxicity of apple seeds is if you save the seeds from about a bushel of apples and eat them all at once.&#8221;</p>
<p>Dr. Richard E. Barrans Jr.</p></blockquote>
<p>Well there you go!</p>
<p><a style="font-size:14px" href="http://www.newton.dep.anl.gov/askasci/bot00/bot00208.htm">Ask A Scientist: Apple Seeds and Arsenic</a></p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http:://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<p><a title="Technorati tag: apples" href="http://technorati.com/tag/apples">apples</a>,
<a title="Technorati tag: fruit" href="http://technorati.com/tag/fruit">fruit</a>,
<a title="Technorati tag: cyanide" href="http://technorati.com/tag/cyanide">cyanide</a>,
<a title="Technorati tag: arsenic" href="http://technorati.com/tag/arsenic">arsenic</a>,
<a title="Technorati tag: health" href="http://technorati.com/tag/health">health</a>,
<a title="Technorati tag: food" href="http://technorati.com/tag/food">food</a>,
<a title="Technorati tag: toxins" href="http://technorati.com/tag/toxins">toxins</a></p>
 
