---
title: 'Do You Know Japanese?' 
date: "2006-09-02T12:17:15+10:00"
year: "2006"
category: Travel
tag: 
- infocomm
- japanese
- simpletagged
---
<p><img src="https://rubenerd.com/files/uploads/media.japan-aus.gif" alt="" /></p>
<p>Do you think you nothing about Japan and its national language? <a href="http://www.eslteachersboard.com/cgi-bin/japan-info/index.pl?read=151">Tisho Mettarod begs to differ</a>.</p>
<blockquote><p>Japan really seems to be a foreign culture to our Western minds. You may think you don’t know much about Japan, but in the past few decades there has been increased communication with our neighbor in the Far East. Our great grandparents probably didn’t know nearly as much about Japan as we do.</p>
<p>Think about it. I’ll bet you know nearly a dozen Japanese words! Sushi, karaoke, anime, kimono, sake, Suzuki, Toyota, teriyaki, origami and bonsai. That’s ten! How did you do? I’ll bet you knew at least 8 of them, if not all 10. I’m sure you know that a kimono is a traditional Japanese dress that women wear with a sash tied around their waists.</p>
<p>You’ve probably had Japanese food, too, right? Nearly everyone has had teriyaki chicken or steak. Are you a sushi lover? I am. We may make it into a California roll, but the basic idea is still from Japan. Generally, it’s raw fish served in rolls with rice, soy sauce and wasabe, the green mustard. Did you have a little sake with your meal? Sake is Japanese alcohol, often served warm by the shot.</p>
<p>What about karaoke? You may never have been into a karaoke bar, but you’ve at least heard of them or seen parodies of it in comedy routines. People singing to recorded music, mostly amateurs who probably had a little sake before they got up on stage. It’s a lot of fun that came from Japan.</p>
<p>Then there are Japanese cars and motorcycles: Suzuki, Toyota, Hyundai, Subaru and more. For the longest time, I have chosen Japanese cars because of their performance and low maintenance requirements. They have historically done better on gas mileage than a lot of other cars, too.</p>
<p>The Japanese are definitely known for their attention to detail in the arts. That gives us origami, the Japanese art of paper folding and the art of growing those little bonsai trees, which require such meticulous care and pruning.</p>
<p>Last, but not least, what about this computer you’re reading me on? I’ll bet that at least part of it, if not all of it, was made in Japan. The Japanese are masters of detail and computers require very close detail work.</p>
<p>See? You know a lot about Japan and you didn’t even know it! I’ll bet you’d even feel at home there to some degree, because even if they do drive on the other side of the road, most of their signs are in both English and Japanese! It’s a sign of the bigger world community that we are becoming. “It’s a small world after all!”</p></blockquote>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: japan" href="http://technorati.com/tag/japan">japan</a>,
<a title="Technorati tag: japanese" href="http://technorati.com/tag/japanese">japanese</a>,
<a title="Technorati tag: japanese culture" href="http://technorati.com/tag/japanese-culture">japanese culture</a>,
<a title="Technorati tag: language" href="http://technorati.com/tag/language">language</a></p>
 
