---
title: 'Dopey Lottery Spam' 
date: "2006-11-20T03:49:33+10:00"
year: "2006"
category: Internet
tag: 
- infocomm
- simpletagged
- spam 
---
<p><a href="//rubenerd.com/tag/spam//"><img src="https://rubenerd.com/files/uploads/media.spam.png" alt="Asuna on Spam" style="float:right; margin:0 0 10px 20px" /></a><span style="font-style:italic;">Ruben picks apart the useless spam he receives from the spamming spammers who spam him with their spammingly spammish spam. For all the spam he has picked apart, visit the <a href="//rubenerd.com/tag/spam/">spam category</a>… sounds like a Monty Python routine.</span></p>
<blockquote><p>Congratulations for becoming one of the few lucky winners.</p>
<p>With your permission, your e-mail will also be included in the next<br />
sweepstake of 5Million.</p>
<p>You must claim your prize: 1,000,000.00 not later than 14-days from the<br />
moment you receive this e-mail.<br />
In order to avoid unnecessary delays with your claim from the bank. please<br />
contact them immediately,<br />
and quote your winning and personal information to the Bank in all your<br />
correspondence with the paying bank.</p>
<p>Furnish them with the following informations:<br />
(i). your name(s),<br />
(ii) Your telephone and fax numbers<br />
(iii) Your contact address<br />
(iv) Your winning information.</p>
</blockquote>
<p>See it sounds all good, but my bullshit detector is just going crazy. And why would I give personal details to someone that I have never met, have never been in contact with or even know exists?</p>
<p>With this sort of spam I like to reply using a different address and play along with them for fun until they ask for money, then I start making excuses about how &quot;oh, to do a money transfer I need <em>you</em> to send money first… or why can&#39;t you just use some of my winnings to pay for it first?&quot;. That usually lets them know I&#39;m onto their B.S., and no I&#39;m not referring to a Bachellor of Science (which I&#39;m currently doing myself).</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: weirdness" href="http://technorati.com/tag/weirdness">weirdness</a>,
<a title="Technorati tag: weird" href="http://technorati.com/tag/weird">weird</a>,
<a title="Technorati tag: stupid" href="http://technorati.com/tag/stupid">stupid</a>,
<a title="Technorati tag: spam" href="http://technorati.com/tag/spam/">spam</a>,
<a title="Technorati tag: junk email" href="http://technorati.com/tag/junk-email">junk email</a>,
<a title="Technorati tag: junk mail" href="http://technorati.com/tag/junk-mail">junk mail</a></p>
 
