---
title: 'Economist Intelligence Unit' 
date: "2006-09-03T04:21:08+10:00"
year: "2006"
category: Thoughts 
tag: 
- economics
- simpletagged 
---
<p><a href="http://www.eiu.com/"><img src="https://rubenerd.com/files/uploads/media.eiu_red_logo.gif" alt="The Economist Intelligence Unit" /></a></p>
<p>I&#39;d register for this in a heartbeat… if I had the financial resources of course! I love reading about statistics and world economic data, and I do subscribe to <a href="http://theeconomist.com/">The Economist</a> magazine… I guess that&#39;s why the girls here find me so appealing.</p>
<p>But in all seriousness if computers and XML weren&#39;t my first love, I&#39;d easily be an economist.</p>
<blockquote><p><strong>The world leader in global business intelligence</strong></p>
<p>The Economist Intelligence Unit provides a constant flow of analysis and forecasts on more than 200 countries and eight key industries. We help executives make informed business decisions through dependable intelligence delivered online, in print, in customised research as well as through conferences and peer interchange.</p></blockquote>
<p>Currently they&#39;re also taking free applications for the summary edition of <a href="http://www.eiu.com/form_submit.asp?form_name=enquiry_form&#038;enquiryType=WIP">World Investment Prospects</a>:</p>
<blockquote><p>World Investment Prospects, an <a href="http://www.eiu.com/">Economist Intelligence Unit</a> report written with the Columbia Program on International Investment, will be launched on September 5 2006. This flagship publication will contain country-by-country forecasts on FDI flows to 2010, analysis of latest trends in foreign investment and profiles of 82 countries. Register now for a free summary edition of the report. We will contact you when the report is ready to download.</p></blockquote>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: world investment prospects" href="http://technorati.com/tag/world-investment-prospects">world investment prospects</a>,
<a title="Technorati tag: economist" href="http://technorati.com/tag/economist">economist</a>,
<a title="Technorati tag: the economist" href="http://technorati.com/tag/the-economist">the economist</a>,
<a title="Technorati tag: economics" href="http://technorati.com/tag/economics">economics</a>,
<a title="Technorati tag: global business" href="http://technorati.com/tag/global-business">global business</a>,
<a title="Technorati tag: business" href="http://technorati.com/tag/business">business</a>,
<a title="Technorati tag: economist intelligence unit" href="http://technorati.com/tag/economist-intelligence-unit">economist intelligence unit</a>,
<a title="Technorati tag: eiu" href="http://technorati.com/tag/eiu">eiu</a>,
<a title="Technorati tag: economist magazine" href="http://technorati.com/tag/economist-magazine">economist magazine</a>,
<a title="Technorati tag: finance" href="http://technorati.com/tag/finance">finance</a>,
<a title="Technorati tag: fdi flows" href="http://technorati.com/tag/fdi-flows">fdi flows</a>,
<a title="Technorati tag: columbia program on international investment" href="http://technorati.com/tag/columbia-program-on-international-investment">columbia program on international investment</a></p>
 
