---
title: 'EDS and CSC Are Gonna LOVE This Article!' 
date: "2006-08-31T12:40:18+10:00"
year: "2006"
category: Software 
tag:
- infocomm
- politics
- simpletagged 
---
<p><a href="http://it.slashdot.org/article.pl?sid=06/08/29/0316201"><img src="https://rubenerd.com/files/uploads/media.slashdot.PNG" alt="" /></a></p>
<p>Interesting post regarding my part of the world in response to this post on Slashdot:</p>
<blockquote><p>South Australia seems to have an addiction to its EDS contract,<br />
but there are more students studying IT, hopefully to take jobs<br />
in SA Gov’t, to help position itself in an EDS-free place, &#8220;any<br />
day now&#8221;… ;-)</p>
<p>A EDS-story has been cirulating in recent years:</p>
<blockquote><p>The Adelaide Crows (Aussie Footy Team) needed a web site, &amp;<br />
EDS (reportedly) won the contract, after submitting a bid<br />
which estimated it would take 4+ weeks and cost Au$ 32,000.</p></blockquote>
<blockquote><p>In fact, the project took just 2 weeks… Too bad a local<br />
South Aussie web making business couldn’t have been the<br />
winner, in this case.</p></blockquote>
<p>(SA also has a &#8220;whole-of-gov’t&#8221; contract with Microsoft,<br />
that calls for penalties whenever a non-Microsoft server<br />
is added to the gov’t N/W in contract’s scope, ie, for<br />
the first time (replacing an -old- UNIX server by the<br />
same -old- version of UNIX may not lead to a penalty).)</p>
<p>How do such contracts get written or won?</p>
<p>There are very few palms to be greased &amp; a company like<br />
EDS has a lot of &#8220;grease&#8221; to offer, or so we suppose…</p></blockquote>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: eds" href="http://technorati.com/tag/eds">eds</a>,
<a title="Technorati tag: csc" href="http://technorati.com/tag/csc">csc</a>,
<a title="Technorati tag: australia" href="http://technorati.com/tag/australia">australia</a>,
<a title="Technorati tag: south australia" href="http://technorati.com/tag/south-australia">south australia</a>,
<a title="Technorati tag: adelaide" href="http://technorati.com/tag/adelaide">adelaide</a>,
<a title="Technorati tag: slashdot" href="http://technorati.com/tag/slashdot">slashdot</a>,
<a title="Technorati tag: web design" href="http://technorati.com/tag/web-design">web design</a>,
<a title="Technorati tag: web development" href="http://technorati.com/tag/web-development">web development</a></p>
 
