---
title: 'Even Windows Vista’s PRICES Suck' 
date: "2006-08-31T06:41:31+10:00"
year: "2006"
category: Software 
tag:
- apple
- infocomm
- shopping
- simpletagged 
---
<p><img style="width:240px" src="https://rubenerd.com/files/uploads/media.Windows2000.jpg" alt="Windows 2000" /><br />
<em>On my last remaining Windows machine I still have Windows 2000!</em></p>
<p>According to <a href="http://blogs.zdnet.com/Bott/?p=124">this post by Ed Bott on his ZDNet Blog</a>, the prices for Windows Vista have been leaked in Canada. This is interesting especially for me here because the Canadian Dollar and Australian Dollars are roughly at parity.</p>
<blockquote><p>
<strong>FULL versions (all prices Canadian)</strong><br />
Windows Vista Ultimate <strong>$499</strong><br />
Windows XP Professional w/SP2 <strong>$429</strong><br />
Windows Vista Business <strong>$379</strong><br />
Windows Vista Home Premium <strong>$299</strong><br />
Windows Vista Home Basic <strong>$259</strong><br />
Windows XP Home w/SP2 <strong>$259</strong></p>
<p><strong>UPGRADE versions (all prices Canadian)</strong><br />
Windows Vista Ultimate Upgrade <strong>$299</strong><br />
Windows XP Professional w/SP2 Upgrade <strong>$259</strong><br />
Windows Vista Business Upgrade <strong>$249</strong><br />
Windows Vista Home Premium Upgrade <strong>$199</strong><br />
Windows Vista Home Basic Upgrade <strong>$129</strong><br />
Windows XP Home w/SP2 Upgrade <strong>$129</strong>
</p></blockquote>
<p>This compares to the &quot;Vista Ultimate&quot; equivilent, sole version of <a href="http://apple.com/macosx">Mac OS X Desktop</a> which is going for <a href="http://store.apple.com/1-800-MY-APPLE/WebObjects/canadastore.woa/wo/0.RSLID?mco=405B1455&#038;nplm=MA453Z%2FA">$149.00 Canadian</a>, or <a href="http://pcbsd.org">PC-BSD Desktop</a> which is going for $0.00 Canadian!</p>
<p>Without even getting to the bagging out of how bad a marketing scheme 8 billion versions of the one product is going to be and how it will just serve to confuse the public, <strong>how the hell can Microsoft justify these exorbitant prices?</strong></p>
<p>I am a Mac OS X and FreeBSD user now, but on my lone Windows machine which I keep for gaming (AMD Athlon XP 2800+) I&#39;ll be keeping <a href="http://microsoft.com/windows2000">Windows 2000</a> for now thanks.</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: windows vista" href="http://technorati.com/tag/windows-vista">windows vista</a>,
<a title="Technorati tag: windows 2000" href="http://technorati.com/tag/windows-2000">windows 2000</a>,
<a title="Technorati tag: freebsd" href="http://technorati.com/tag/freebsd">freebsd</a>,
<a title="Technorati tag: pc-bsd" href="http://technorati.com/tag/pc-bsd">pc-bsd</a>,
<a title="Technorati tag: pcbsd" href="http://technorati.com/tag/pcbsd">pcbsd</a>,
<a title="Technorati tag: mac os" href="http://technorati.com/tag/mac-os">mac os</a>,
<a title="Technorati tag: mac os x" href="http://technorati.com/tag/mac-os-x">mac os x</a>,
<a title="Technorati tag: apple" href="http://technorati.com/tag/apple">apple</a>,
<a title="Technorati tag: microsoft" href="http://technorati.com/tag/microsoft">microsoft</a>,
<a title="Technorati tag: leak" href="http://technorati.com/tag/leak">leak</a></p>
 
