---
title: 'Fake Uni Degree Spam' 
date: "2006-11-28T01:01:01+10:00"
year: "2006"
category: Internet
tag: 
- infocomm
- simpletagged
- spam 
---
<p><a href="//rubenerd.com/tag/spam//"><img src="https://rubenerd.com/files/uploads/media.spam.png" alt="Asuna on Spam" style="float:right; margin:0 0 10px 20px" /></a><br /><em>Ruben picks apart the useless spam he receives from the spamming spammers who spam him with their spammingly spammish spam. For all the spam he has picked apart, visit the <a href="//rubenerd.com/tag/spam/">spam category</a>… sounds like a Monty Python routine.</em></p>
<blockquote><p>Greetings!!!</p>
<p>A Genuine Univers1ty Degree 1n 4-6 weeks!</p>
<p>Have you ever thought that the only thing stopipng you from a great job and better pay was a few letters behind you name?<br />
Well now you can get them!</p>
<p>BA BSc MA MSc MBA PhD</p>
<p>Within 4-6 weeks!<br />
No Study Rqeuired!<br />
100% Verifiable!</p>
<p>These are real, genuine degrees that include Bachelors, Masters, MB Aand Doctorate Degrees. They are fully verifiable and certified transcripts are also available.</p>
<p>Just call then umber below.<br />
You?ll thank me later?</p>
</blockquote>
<p>The problem with these kinds of messages is not so much the fact that they&#39;re obviously fake and a scam, but in the way they&#39;re presented. They could net so many more &quot;clients&quot; if, oh I don&#39;t know, did a grammer and spell check, maybe make it look a touch more formal… why do they intentionally make their messages look rubbish? :D.</p>
<p>I guess the more unbelievable they are, the less people they&#39;re going to draw into their scams, which can only be a good thing! Shows though that the people doing these mass mailings are either pretty thick…  or script-kiddyish. Is kiddyish a word?</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: weirdness" href="http://technorati.com/tag/weirdness">weirdness</a>,
<a title="Technorati tag: weird" href="http://technorati.com/tag/weird">weird</a>,
<a title="Technorati tag: stupid" href="http://technorati.com/tag/stupid">stupid</a>,
<a title="Technorati tag: spam" href="http://technorati.com/tag/spam/">spam</a>,
<a title="Technorati tag: junk email" href="http://technorati.com/tag/junk-email">junk email</a>,
<a title="Technorati tag: junk mail" href="http://technorati.com/tag/junk-mail">junk mail</a></p>
 
