---
title: 'First Blu-ray Disc Drive Won’t Play Blu-ray Movies' 
date: "2006-09-09T10:11:18+10:00"
year: "2006"
category: Hardware 
tag:
- funny
- infocomm
- simpletagged 
---
<p><img src="https://rubenerd.com/files/uploads/media.blu-ray.jpg" alt="" /></p>
<p><a href="http://cnet.com.au/desktops/dvdburners/0,239029405,240091720,00.htm">According to CNET Australia</a>, the first Blu-ray disc drive won’t play Blu-ray movies! The reason they give does make sense and you can understand why it&#39;s not really their fault, but it&#39;s still a tad silly. Is this Sony&#39;s Betamax 2.0? ;).</p>
<blockquote><p>Bautista says that one of two reasons for this is the fact that commercial content is encrypted with High-Bandwidth Digital Content Protection (HDCP), which can only be decrypted using a HDCP-compliant graphics card that offers DVI or HDMI connections. Since there are currently no PCs for sale offering graphics chips that support HDCP, this isn’t yet possible.</p>
<p>The second reason, according to Bautista, is that BD playback software that can decrypt HDCP isn’t &#8220;released as a saleable item yet&#8221;. Today, the only HDCP-supporting BD playback application is the OEM version of Intervideo WinDVD BD that’s bundled with Sony’s VAIO VGN-AR18GP notebook. The AR18GP also offers an HDCP-compliant HDMI connector, which makes it capable of playing commercial movies without issue.</p></blockquote>
<p>And when, <strong>when</strong> will these morons accept the fact that DRM doesn&#39;t work and is a waste of time and money? Time and money they should be spending on making their products better or creating more entertainment than locking down existing, tired content that violates fair use policy and marketing common sense?</p>
<p><a style="font-size:14px" href="http://cnet.com.au/desktops/dvdburners/0,239029405,240091720,00.htm">CNET Australia: First Blu-ray disc drive won’t play Blu-ray movies</a></p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http:://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: blu ray" href="http://technorati.com/tag/blu-ray">blu ray</a>,
<a title="Technorati tag: blu-ray movies" href="http://technorati.com/tag/blu-ray-movies">blu-ray movies</a>,
<a title="Technorati tag: drm" href="http://technorati.com/tag/drm">drm</a>,
<a title="Technorati tag: betamax" href="http://technorati.com/tag/betamax">betamax</a>,
<a title="Technorati tag: hdcp" href="http://technorati.com/tag/hdcp">hdcp</a>,
<a title="Technorati tag: cnet" href="http://technorati.com/tag/cnet">cnet</a>,
<a title="Technorati tag: cnet australia" href="http://technorati.com/tag/cnet-australia">cnet australia</a></p>
 
