---
title: 'Grilled Cheese Sandwich' 
date: "2006-11-06T03:27:29+10:00"
year: "2006"
category: Thoughts 
tag: 
- coffee
- simpletagged 
---
<p><img id="image465" src="https://rubenerd.com/files/uploads/cheesesandwich.jpg" alt="cheesesandwich.jpg" /></p>
<p>I don&#39;t know what possessed me to do this, but I decided to look up <a href="http://en.wikipedia.org/wiki/Grilled_cheese_sandwich">Grilled Cheese Sandwich</a> in <a href="http://en.wikipedia.org/wiki/">Wikipedia</a>!</p>
<blockquote><p>A grilled cheese sandwich is a simple sandwich that consists of two pieces of sliced bread and at least one slice of cheese in between. Some methods call for buttering the outside of the bread first, while others melt the butter in the pan. Another variation calls for spreading the outside of the bread with mayonnaise instead of butter.</p>
</blockquote>
<p>Mmm… cheesy!</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: grilled cheese" href="http://technorati.com/tag/grilled-cheese">grilled cheese</a>,
<a title="Technorati tag: jaffel" href="http://technorati.com/tag/jaffel">jaffel</a>,
<a title="Technorati tag: grilled cheese sandwich" href="http://technorati.com/tag/grilled-cheese-sandwich">grilled cheese sandwich</a>,
<a title="Technorati tag: food" href="http://technorati.com/tag/food">food</a>,
<a title="Technorati tag: cheese" href="http://technorati.com/tag/cheese">cheese</a>,
<a title="Technorati tag: yummy" href="http://technorati.com/tag/yummy">yummy</a></p>
 
