---
title: 'Heinz Tomato Sauce and Ketchup' 
date: "2006-09-27T05:48:52+10:00"
year: "2006"
category: Thoughts 
tag: 
- coffee
- simpletagged
- tomato-sauce 
---
<p><img src="https://rubenerd.com/files/uploads/heinz.jpg" alt="" /></p>
<p>Just finished watching a documentary on Discovery Channel about Heinz Ketchup, was fascinating!</p>
<p>Before I go any further though, I want to clear up the naming issue. Being from Australia I always called it tomato sauce instead of ketchup, but in actual fact there is a difference: ketchup has more vinegar and spices than squeezable tomato sauce. In North America the term &quot;tomato sauce&quot; refers to sauces for pasta rather than ketchup, but I think I&#39;ll still call it tomato sauce. I&#39;m stubborn and set in my ways.</p>
<p>Anyway some facts I didn&#39;t know about Heinz Tomato Sauce:</p>
<ul>
<li>In the Heinz factory in The Netherlands the recipe for their tomato sauce is a well guarded secret.</li>
<li>Quality control is extremely strict; chemical testing devices in their labs check the acidity, chemical composition and saltiness of every batch</li>
<li>There are 17 different types of bottles used. Plastic squeeze types are the most common, though the German market is still supplied with the old fashioned glass retro bottles</li>
<li>Over one million bottles a day are sold to Asia and Europe.</li>
</ul>
<p>The tomatoes have spoken. Wow, that was a terrible joke, even by my standards.</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: heinz" href="http://technorati.com/tag/heinz">heinz</a>,
<a title="Technorati tag: tomato sauce" href="http://technorati.com/tag/tomato-sauce">tomato sauce</a>,
<a title="Technorati tag: ketchup" href="http://technorati.com/tag/ketchup">ketchup</a>,
<a title="Technorati tag: catsup" href="http://technorati.com/tag/catsup">catsup</a>,
<a title="Technorati tag: heinz tomato sauce" href="http://technorati.com/tag/heinz-tomato-sauce">heinz tomato sauce</a>,
<a title="Technorati tag: heinz ketchup" href="http://technorati.com/tag/heinz-ketchup">heinz ketchup</a></p>
 
