---
title: 'HSBC Doesn’t Like Camino!' 
date: "2006-12-08T06:28:10+10:00"
year: "2006"
category: Software 
tag:
- apple
- infocomm
- networking
- security
- simpletagged 
---
<p>So I was sitting at the Coffee Bean and Tea Leaf in KLCC enjoying an Americano and waiting for the  credit card I punched in to work and give me WiFi access.</p>
<p>One small snag: neither HSBC Internet Banking or HSBC &quot;Verified By VISA&quot; work in <a href="http://caminobrowser.com/">Camino</a>!</p>
<p><img id="image575" src="https://rubenerd.com/files/uploads/hsbcerror.png" alt="HSBC Camino Error" /></p>
<p>From what I can tell it isn&#39;t actually a fault in the browser, it&#39;s the bank selectively supporting only a few browsers and kicking out the others. For security reasons this may be a good thing: by supporting less browsers they can focus more on the security on those browsers. Still, according to Wikipedia they&#39;re net worth is in the trillions of dollars, so you would think they could afford to do a bit more cross compatibility work!</p>
<p>There are two ways around this problem. The most obvious way is to just use a different browser; the only one that I have got to work on a Mac is the OS X version of <a href="http://mozilla.com/">Mozilla Firefox</a>.</p>
<p>The alternative for the more adventurous is to spoof your User Agent by using something like <a href="http://pimpmycamino.com/parts/camitools">CamiTools</a> to Firefox. Whether they&#39;re are any security implications with doing this I&#39;m not sure; given both browsers use the same rendering engine and the only difference between the two is the way the browser is physically drawn in the OS, I would think it would be okay, but then again… damn it why can&#39;t they just support it officially? Grrrr.</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: verified by visa" href="http://technorati.com/tag/verified-by-visa">verified by visa</a>,
<a title="Technorati tag: visa" href="http://technorati.com/tag/visa">visa</a>,
<a title="Technorati tag: credit card" href="http://technorati.com/tag/credit-card">credit card</a>,
<a title="Technorati tag: hsbc" href="http://technorati.com/tag/hsbc">hsbc</a>,
<a title="Technorati tag: banks" href="http://technorati.com/tag/banks">banks</a>,
<a title="Technorati tag: online banking" href="http://technorati.com/tag/online-banking">online banking</a>,
<a title="Technorati tag: camino" href="http://technorati.com/tag/camino">camino</a>,
<a title="Technorati tag: mac" href="http://technorati.com/tag/mac">mac</a>,
<a title="Technorati tag: firefox" href="http://technorati.com/tag/firefox">firefox</a>,
<a title="Technorati tag: mozilla firefox" href="http://technorati.com/tag/mozilla-firefox">mozilla firefox</a>,
<a title="Technorati tag: camitools" href="http://technorati.com/tag/camitools">camitools</a></p>
 
