---
title: 'Huey’s Hints: Poached Eggs' 
date: "2006-03-02T06:43:40+10:00"
year: "2006"
category: Media 
tag:
- food
- quotes
- television 
---
<p><img src="https://rubenerd.com/files/uploads/media.hueyj06.jpg" alt="" /></p>
<p>From <a href="http://hueyscookingclub.com">Huey&#39;s Cooking Club Website</a>:</p>
<blockquote>
<p>An easy way to poach an egg perfectly is to bring a pan of water to a simmer, add a little vinegar and then break in the eggs.</p>
<p>Simmer for exactly 1 min, cover, turn off heat and leave for exactly 10 mins.</p>
</blockquote>
 
