---
title: 'I’m 20! And Useless eBay Purchase!'
date: "2006-03-27T04:09:43+10:00"
year: "2006"
category: Hardware
tag:
- infocomm
- personal
- retro
- shopping
---
<p>No more being a teenager! Yes I know it&#39;s only a number but given my personality not having &#39;teenager&#39; stigma stuck to me can only be a good thing. Problem is even now if I go to a bottle shop etc and buy a light beer, they ALWAYS ask for ID because they say I look 16-17. Great.</p>
<p>Anyway for my birthday I&#39;m considering reversing the trend of getting rid of crap by buying this laptop on eBay that&#39;s currently on $15.00:</p>
<p>Check it out, it has… wait for it… a 486 processor! And a 700MB Hard Drive, Floppy Drive, PCMCIA, VGA Out, PS2, Serial Port, LPT Port, Colour 11.3&#39;&quot;Screen, ext 336 Modem, Carry Bag and Power supply.</p>
<p>Why do I want such a blazingly fast computer? Well our family&#39;s first machine was a 486SX back in 1989 and it was damaged beyond repair when we moved to Singapore in the 90s. Ever since then I&#39;ve wanted another 486 just to play my classic DOS games such as Commander Keen 1-3 (never had 4-7, only the demo of 6) etc… all on a Windows 3.0a machine of course ;).</p>
<p><img src="https://rubenerd.com/files/uploads/media.a3_1_b.JPG.jpg" alt="An old Compaq laptop." /></p>
<p>Should I get it? I know I&#39;m <strong>trying</strong> to get rid of crap, but it&#39;s awesome. And I&#39;m 20. Yeah.</p>
 
