---
title: 'Integrated Mainboards and AC’97' 
date: "2006-08-28T03:46:49+10:00"
year: "2006"
category: Hardware 
tag:
- infocomm
- simpletagged 
---
<p><img src="https://rubenerd.com/files/uploads/media.intel_logo_evolution.jpg" alt="Intel Evolution logo." /></p>
<p>My family has several machines that I built myself that have cheaper integrated mainboards, aka the graphics and sounds are built on the board. If you&#39;re serious about gaming or any complex work these boards are a poor choice, especially if you want to be able to run the latest <a href="http://microsoft.com/windowsvista/">Microsoft ram-guzzling, graphics-card-frying, wallet-burning bug-fest</a>, but for my mum who uses her machine with <a href="https://wiki.ubuntu.com/Xubuntu">Xubuntu Linux</a> for email and light web browsing they easily provide enough power, and you sure can&#39;t argue with the price.</p>
<p>One thing I always wondered though was: what is AC&#39;97? I knew it was the on board sound, but what did it actually stand for? As usual the almighty <a href="http://en.wikipedia.org/wiki/AC97">Wikipedia has the answer</a>:</p>
<blockquote><p>AC’97 (short for Audio Codec ’97) is Intel Corporation’s Audio &#8220;Codec&#8221; standard developed by the Intel Architecture Labs in 1997, and used mainly in motherboards (also known as &#8216;on-board’ or &#8216;integrated’), modems, and sound cards.</p>
<p>Audio components integrated into Intel chipsets consists of 2 components &#8211; an AC’97 digital controller, which is built into the I/O Controller Hub (ICH) of the chipset, and an AC’97 codec, which is the analog component of the architecture. AC’97 defines a high-quality, 16- or 20-bit audio architecture for the PC that is used in the majority of today’s desktop platforms. AC’97 supports 96 kHz in 20-bit stereo resolution and 48 kHz in 20-bit stereo for multichannel recording and playback.</p></blockquote>
<p>There you have it. Don&#39;t say you never learn anything from this blog. Unless you knew that AC&#39;97 stuff already… if so just pretend to look surprised.</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: intel" href="http://technorati.com/tag/intel">intel</a>,
<a title="Technorati tag: ac97" href="http://technorati.com/tag/ac97">ac97</a>,
<a title="Technorati tag: ac&#39;97" href="http://technorati.com/tag/ac&#39;97">ac&#39;97</a>,
<a title="Technorati tag: onboard" href="http://technorati.com/tag/onboard">onboard</a>,
<a title="Technorati tag: mainboard" href="http://technorati.com/tag/mainboard">mainboard</a>,
<a title="Technorati tag: integrated mainboard" href="http://technorati.com/tag/integrated-mainboard">integrated mainboard</a>,
<a title="Technorati tag: motherboard" href="http://technorati.com/tag/motherboard">motherboard</a>,
<a title="Technorati tag: integrated motherboard" href="http://technorati.com/tag/integrated-motherboard">integrated motherboard</a>,
<a title="Technorati tag: soundcard" href="http://technorati.com/tag/soundcard">soundcard</a>,
<a title="Technorati tag: sound card" href="http://technorati.com/tag/sound-card">sound card</a>,
<a title="Technorati tag: windows vista" href="http://technorati.com/tag/windows-vista">windows vista</a></p>
 
