---
title: 'It’s Not Easy Being An Atheist… Apparently!' 
date: "2006-11-15T06:12:31+10:00"
year: "2006"
category: Thoughts 
tag: 
- atheism
- simpletagged 
---
<p><em>EDIT: Within the first few hours of posting this I received a <a href="//rubenerd.com/its-not-easy-being-an-atheist-apparently/#comments">great comment from BeepBeepItsMe</a> from Australia who was able to sum up all that I said succinctly in a few lines! If you would like to share your views too, don&#39;t forget to either click &quot;Add Comment&quot; or use the text boxes below. I&#39;d also recommend checking out her site, <a href="http://beepbeepitsme.blogspot.com/">Beep Beep It&#39;s Me: An atheist&#39;s satirical view of the universe.</a> I&#39;m sure </em><em>she</em> always has a towel! Cheers :D.</p>
<p><img id="image541" src="https://rubenerd.com/files/uploads/god.jpg" style="float:right; margin:0 0 10px 20px" alt="Far Side" />If you&#39;re an Atheist, or a &quot;believer in Science&quot; such as myself, I&#39;m sure you&#39;ll find this article hilarious: <a href="http://worldviewweekend.com/secure/cwnetwork/article.php?ArticleID=1265">It&#39;s Not Easy Being An Atheist</a> by the always unbiased and logical <a href="http://worldviewweekend.com/secure/cwnetwork/bio.php?&#038;AuthorID=94">Steve Cornell</a>.</p>
<p>I think it&#39;s ironic that a guy who clearly isn&#39;t an Atheist would then write about how hard it is to be one! I should give this article to my granddad in Australia and let him have a go, I&#39;m sure he&#39;d find flaws everywhere.</p>
<p>Anyway I love debunking lists that are generated on this site, so here I present his arguments for why he believes it&#39;s not easy being an Atheist, followed by actual feelings from an Atheist, a more reliable source if you ask me. I&#39;ll label each claim for what it is: a Whopper. Mmm… Burger King Whopper… I&#39;m hungry!</p>
<h3>Whopper 1</h3>
<blockquote><p>An atheist assigns himself to life without ultimate purpose.</p>
</blockquote>
<p>As Atheists we believe that religion critically devalues human life. By claiming there&#39;s an afterlife, people throughout history have gone into wars believing that they will be saved when they die, when in reality they simply cease to exist just like every other organism on this planet. A very convenient lie for world leaders.</p>
<p>Atheists believe that the ultimate goal of any person should be the advancement of our species, such that the world would have been at a loss without us: whether that means a person develops a new kind of toothbrush, a new propulsion system, a catchy new song that entertains us, or even raising a happy, loving family they have fulfilled their duty as a person.</p>
<p>The claim that we live life &quot;without ultimate purpose&quot; is laughable. Because we don&#39;t believe in a God or Gods and an afterlife does that have to mean what we do in this life is completely worthless? I don&#39;t think so ;).</p>
<h3>Whopper 2</h3>
<blockquote><p>The atheist must also suppress the demands of logic.</p>
</blockquote>
<p>What is this guy smoking? The last time I checked, Atheism and the belief in Science hold logic as the central pillar to everything! For something to be passed as scientific theory, one has to:</p>
<ol>
<li>Define the question</li>
<li>Gather information and resources</li>
<li>Form hypothesis</li>
<li>Perform experiment and collect data</li>
<li>Analyze data</li>
<li>Interpret data and draw conclusions that serve as a starting point for new hypotheses</li>
<li>Publish results</li>
</ol>
<p>Apparently that isn&#39;t logic though ;).</p>
<h3>Whopper 3</h3>
<blockquote><p>Yet, ironically, the atheist has to believe in miracles without believing in God.</p>
</blockquote>
<p>Sorry to burst your bubble, but no we don&#39;t. I&#39;m sure in the days of the cave people when a lightening bolt hit a tree and started a fire they believed it was a miracle. When the invaders from Europe arrived in the Americas and brought with them horses the native peoples must have believed that those creatures were mythical beasts.</p>
<p>The word &quot;miracle&quot; is a very subjective term and has to be taken in context. We are far more scientifically advanced than the first settlers and cave people; we now know what causes fire, where horses come from etc, but there is still a lot we don&#39;t understand. Should we just assume that what we don&#39;t currently have an explanation for should be classified as a miracle (ie: what came before the big bang?). You can if you want, but be prepared to be laughed at in the future when we do have an explanation.</p>
<h3>Whopper 4</h3>
<blockquote><p>An atheist must also suppress all notions of morality.</p>
</blockquote>
<p>Religion was something created by humans, just like what we hold to be true and false. Atheists believe it should be our own moral compass and common decency that should determine what is right and wrong, not a holy scripture that is full of contradictions, ambiguity and messages of hate.</p>
<p>The bible claims <em>&quot;If within the city a man comes upon a maiden who is betrothed, and has relations with her, you shall bring them both out of the gate of the city and there stone them to death: the girl because she did not cry out for help though she was in the city, and the man because he violated his neighbors wife.&quot;</em> (Deuteronomy 22:23-24 NAB).</p>
<p>What kind of sick, twisted &quot;right and wrong&quot; belief is that? Want another one?</p>
<p><em>&quot;They must be dividing the spoils they took: there must be a damsel or two for each man, Spoils of dyed cloth as Sisera&#39;s spoil, an ornate shawl or two for me in the spoil. (Judges 5:30 NAB)&quot;</em></p>
<p>I&#39;m sorry, reading these quotes is making me sick. Let&#39;s move on.</p>
<h3>Whopper 5</h3>
<blockquote><p>In fact, the atheist must conclude that evil is an illusion</p>
</blockquote>
<p>Evil is a term and concept in our language that we as humans created. There is no illusion in that.</p>
<h3>Whopper 6</h3>
<blockquote><p>The atheist must also live with the arrogance of his position.</p>
</blockquote>
<p>Atheism is the acceptance that there is no credible scientific, logical or factually reliable evidence for the existence of God, Gods, faeries, elves or the supernatural. As atheists we don&#39;t believe there is no God, we assert that there has been no evidence produced so far that proves the existence of a God. A very critical difference which shows Steve Cornell really should research what he writes about so as to prevent himself looking like a fool.</p>
<p>In law we assume innocence until proven guilty, in science we don&#39;t even pass as theory until we have evidence and in our minds we don&#39;t usually believe something until we&#39;ve been given some form of proof. Remember, the onus isn&#39;t on us to prove a God or Gods don&#39;t exist, the onus is on people like Steve Cornell to prove that there is.</p>
<p>Arrogance is defined as &quot;having or revealing an exaggerated sense of one&#39;s own importance or abilities&quot;. To me that describes Steve Cornell&#39;s position just fine.</p>
<h3>Whopper 7</h3>
<blockquote><p>The atheist must also deny the validity of historical proof.</p>
</blockquote>
<p>Not only does this statement remove any shred of credibility Steve Cornell had in my mind, it also shows his lack of understanding of the world around him having been brought up under strict religious teachings that brainwash you into thinking things that don&#39;t make sense.</p>
<p>Science has proven conclusively that the Earth is billions of years old. Satellites that have returned from near the sun have collected dust that is billions of years older than our planet. Fossils buried under rock that would have taken thousands or even millions of years to form prove that animals have been living on our planet for millions of years. DNA evidence shows the link between different organisms on our planet… did you know we share over 60% of our DNA with bananas? Wicked!</p>
<p>Now lets look at the historical &quot;proof&quot; that Steve Cornell has provided us with: <em>&quot;he would be forced to accept the resurrection of Jesus Christ from the dead&quot;</em>. There has been no evidence whatsoever that this happened. What evidence does he attempt to provide? <em>&quot;The account of Jesus&#39; resurrection is strongly validated by standard rules for judging historical accuracy. The extensive manuscript evidence of eyewitnesses to the resurrection is presented in an unbiased, authentic manner.&quot;</em> That is not evidence. In a murder trial, someone saying &quot;he did it, I saw it&quot; is not evidence enough to get a conviction, so why should people base their entire belief system on something even less than this? Christianity itself draws upon many Pagan rituals and beliefs, and it&#39;s more likely these concocted pieces of &quot;evidence&quot; did too.</p>
<p>Eyewitness accounts, given their nature, have been proven time and time again to be something we cannot solely rely upon. And then there&#39;s the Bible itself: it contradicts itself on matters of history. A person who reads and compares the contents of the Bible will be confused about exactly who Esau&#39;s wives were, whether Timnah was a concubine or a son, and whether Jesus&#39; earthly lineage is through Solomon or his brother Nathan. These are but a few of hundreds of documented historical contradictions. If the Bible cannot confirm itself in mundane earthly matters, how are we to trust it on moral and spiritual matters?</p>
<h3>Whopper 8</h3>
<blockquote><p>Finally, the atheist must admit that human beings are not importantly different from other animals</p>
</blockquote>
<p>The first statement he has made that makes sense. We are no different biologically from our animal cousins, the only difference we have is our larger brain capacity and out ability to have abstract thought (and to concoct religion… hey, I hadn&#39;t thought of that!).</p>
<p>The argument that we are supremely different from other animals fall apart when you think of the time frame. There is irrefutable scientific and empirical evidence that animals have been on this planet for millions of years.</p>
<p>Elephants are an endangered species. In Africa they they have almost been poached to extinction for their ivory. What has been interesting is that it has been a real world example of evolution at work: elephants that don&#39;t have tusks haven&#39;t been getting killed and as a result they are the ones surviving. Now think that this took less than half a century to happen. 50 years. Now multiply that by millions of years; a number which I myself cannot even begin to comprehend; all of sudden the idea that we all evolved from a common ancestor doesn&#39;t sound so cooky anymore does it?</p>
<h3>Whopper 9</h3>
<blockquote><p>Always remember that the atheist’s problem with belief in God is not the absence of evidence but the suppression of it.</p>
</blockquote>
<p>I&#39;m afraid not. Give us some real, irrefutable evidence to back up your claims and we&#39;ll believe you. Otherwise, you&#39;re just &quot;suppressing&quot; the truth yourself aren&#39;t you? :)</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: world view weekend" href="http://technorati.com/tag/world-view-weekend">world view weekend</a>,
<a title="Technorati tag: cww" href="http://technorati.com/tag/cww">cww</a>,
<a title="Technorati tag: christian worldview weekend" href="http://technorati.com/tag/christian-worldview-weekend">christian worldview weekend</a>,
<a title="Technorati tag: vwv" href="http://technorati.com/tag/vwv">vwv</a></p>
 
