---
title: 'Join the EFF' 
date: "2006-09-07T02:20:04+10:00"
year: "2006"
category: Thoughts 
tag: 
- law
- simpletagged 
---
<blockquote><p><strong>2009 UPDATE: Tweaked slightly to comply with XHTML standards.</strong></p></blockquote>
<p><a href="http://www.eff.org/bloggers/join/"><img src="http://www.eff.org/bloggers/badges/blog_125x125.gif" alt="Support Bloggers' Rights!" style="width:125px; height:125px; border:0; display:inline;" /></a><br /><cite>Support Bloggers&#39; Rights!</cite></p>
<p>The <a href="http://eff.org">Electronic Frontier Foundation</a> (EFF) is a non-profit advocacy and legal organization based in the United States with the stated purpose of being dedicated to preserving free speech rights such as those protected by the First Amendment to the United States Constitution in the context of today&#39;s digital age.</p>
<p>Despite the fact I live in Australia, Malaysia and Singapore where technically the EFF has no &quot;jurisdiction&quot; so to speak, I feel this group still plays a critical role in the protection of free speech online, which is why I have placed an EFF badge on the sidebar.</p>
<p>If you want to support this noble group and its cause, the EFF has <a href="http://www.eff.org/bloggers/badges/">a spiffy gallery of badges</a> you can put on your blog.</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: eff" href="http://technorati.com/tag/eff">eff</a>,
<a title="Technorati tag: electronic frontier foundation" href="http://technorati.com/tag/electronic-frontier-foundation">electronic frontier foundation</a>,
<a title="Technorati tag: digital rights" href="http://technorati.com/tag/digital-rights">digital rights</a>,
<a title="Technorati tag: law" href="http://technorati.com/tag/law">law</a>,
<a title="Technorati tag: first amendment" href="http://technorati.com/tag/first-amendment">first amendment</a>,
<a title="Technorati tag: united states" href="http://technorati.com/tag/united-states">united states</a>,
<a title="Technorati tag: digital law" href="http://technorati.com/tag/digital-law">digital law</a></p>
 
