---
title: 'KLCC in Google Earth' 
date: "2006-09-02T02:02:42+10:00"
year: "2006"
category: Travel
tag:
- google
- malaysia
- maps
- photos
- screenshots
- simpletagged 
---
<p>Just browsing on Google Earth a few minutes ago, I thought I&#39;d check out Kuala Lumpur, the <a href="http://en.wikipedia.org/Putrajaya">de facto capital</a> of Malaysia, and where my expat family currently lives (and soon me too).</p>

<p>This is what the KLCC Petronoas Twin Towers look like from the ground (<a href="https://flickr.com/photos/rubenerd/">from my Flickr account</a>):</p>

<p><a title="View of the Petronas Twin Towers, originally from my Flickr account." href="https://flickr.com/photos/rubenerd/182412153/"><img src="https://rubenerd.com/files/2006/182412153_ef0a04daaf_o@1x.jpg" srcset="https://rubenerd.com/files/2006/182412153_ef0a04daaf_o@1x.jpg 1x, https://rubenerd.com/files/2006/182412153_ef0a04daaf_o@2x.jpg 2x"  style="width:500px" /></a></p>

<p>And this is the same building complex from Google Earth:</p>

<p><a href="https://www.openstreetmap.org/node/5391966854"><img src="https://rubenerd.com/files/uploads/media.klcc-googleearth.jpg" alt="View of the KLCC complex." /></a></p>

<p>Those two symmetrial curved rectangles on the roof there are the massive skylights for the Suria KLCC shopping complex where I grab coffee when I&#39;m there.</p>

<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: kl" href="http://technorati.com/tag/kl">kl</a>,
<a title="Technorati tag: klcc" href="http://technorati.com/tag/klcc">klcc</a>,
<a title="Technorati tag: suria" href="http://technorati.com/tag/suria">suria</a>,
<a title="Technorati tag: suria klcc" href="http://technorati.com/tag/suria-klcc">suria klcc</a>,
<a title="Technorati tag: kuala lumpur" href="http://technorati.com/tag/kuala-lumpur">kuala lumpur</a>,
<a title="Technorati tag: malaysia" href="http://technorati.com/tag/malaysia">malaysia</a>,
<a title="Technorati tag: peninsula malaysia" href="http://technorati.com/tag/peninsula-malaysia">peninsula malaysia</a>,
<a title="Technorati tag: petronas twin towers" href="http://technorati.com/tag/petronas-twin-towers">petronas twin towers</a>,
<a title="Technorati tag: google earth" href="http://technorati.com/tag/google-earth">google earth</a>,
<a title="Technorati tag: google maps" href="http://technorati.com/tag/google-maps">google maps</a>,
<a title="Technorati tag: google" href="http://technorati.com/tag/google">google</a></p>
 
