---
title: 'Kuala Lumpur on Flickr' 
date: "2006-11-07T03:45:41+10:00"
year: "2006"
category: Media 
tag:
- malaysia
- photos
- simpletagged 
---
<p>If you already don&#39;t know, I&#39;m currently living in Kuala Lumpur in Malaysia. Just browsing through Flickr for Creative Commons pictures for Kuala Lumpur generated some pretty nice results:</p>

<p><a href="https://rubenerd.com/files/2006/68981118_8dc5a38205_o.jpg"><img src="https://rubenerd.com/files/2006/68981118_8dc5a38205_m.jpg" alt="Stunning shot of the Petronas Twin Towers, by MrAaron" /></a><br />
Stunning shot of the Petronas Twin Towers<br />
<em>By <a href="https://flickr.com/photos/pratts/68981118/">MrAaron</a></em></p>

<p><a href="https://rubenerd.com/files/2006/143353335_cb7c8aeed8_o.jpg"><img src="https://rubenerd.com/files/2006/143353335_cb7c8aeed8_m.jpg" alt="Nicely framed shot of Menara KL (KL Tower) and the Twin Towers, by Peter MacDonald" /></a><br />
Nicely framed shot of Menara KL (KL Tower) and the Twin Towers<br />
<em>By <a href="https://flickr.com/photos/petermacdonald/143353335/">peter.macdonald</a></em></p>

<p><a href="https://rubenerd.com/files/2006/62744795_176d30d840_o.jpg"><img src="https://rubenerd.com/files/2006/62744795_176d30d840_m.jpg" alt="An almost surreal shot of the city under the darkness of heavy cloud, by aymanshamma" /></a><br />
An almost surreal shot of the city under the darkness of heavy cloud<br />
<em>By <a href="https://flickr.com/photos/ayman/62744795/">aymanshamma</a></em></p>

<p><a href="https://rubenerd.com/files/2006/8393378_3c4abb28c4_o.jpg"><img src="https://rubenerd.com/files/2006/8393378_3c4abb28c4_m.jpg" alt="KL gets pretty bright at night! By leafbug" /></a><br />
KL gets pretty bright at night!<br />
<em>By <a href="https://flickr.com/photos/leafbug/8393378/">leafbug</a></em></p>

<p><a href="https://rubenerd.com/files/2006/68932238_990b2eec6e_o.jpg"><img src="https://rubenerd.com/files/2006/68932238_990b2eec6e_m.jpg" alt="Great evening shot looking down to the monorail tracks, by Timmy Toucan" /></a><br />
Great evening shot looking down to the monorail tracks<br />
<em>By <a href="https://flickr.com/photos/timmythesuk/68932238/">Timmy Toucan</a></em></p>

<p><a href="https://rubenerd.com/files/2006/51001983_b8a6ab9f03_o.jpg"><img src="https://rubenerd.com/files/2006/51001983_b8a6ab9f03_m.jpg" alt="View from the Twin Tower skybridge, by elbisreverri" /></a><br />
View from the Twin Tower skybridge<br />
<em>By <a href="https://flickr.com/photos/elbisreverri/51001983/">elbisreverri</a></em></p>

<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: photos" href="http://technorati.com/tag/photos">photos</a>,
<a title="Technorati tag: photography" href="http://technorati.com/tag/photography">photography</a>,
<a title="Technorati tag: skyline" href="http://technorati.com/tag/skyline">skyline</a>,
<a title="Technorati tag: asia" href="http://technorati.com/tag/asia">asia</a>,
<a title="Technorati tag: south-east asia" href="http://technorati.com/tag/south-east-asia">south-east asia</a>,
<a title="Technorati tag: south east asia" href="http://technorati.com/tag/south-east-asia">south east asia</a>,
<a title="Technorati tag: kuala lumpur" href="http://technorati.com/tag/kuala-lumpur">kuala lumpur</a>,
<a title="Technorati tag: kl" href="http://technorati.com/tag/kl">kl</a>,
<a title="Technorati tag: malaysia" href="http://technorati.com/tag/malaysia">malaysia</a>,
<a title="Technorati tag: peninsular malaysia" href="http://technorati.com/tag/peninsular-malaysia">peninsular malaysia</a></p>
 
