---
title: 'LCARS 24 For Your PC!' 
date: "2006-10-17T04:23:08+10:00"
year: "2006"
category: Software 
tag:
- infocomm
- reviews
- simpletagged 
---
<p><a href="http://sourceforge.net/project/screenshots.php?group_id=128638&#038;ssid=37583"><img id="image405" style="width:300px" src="https://rubenerd.com/files/uploads/dbimage.jpeg" alt="LCARS" /></a></p>
<p><a href="http://sourceforge.net/project/screenshots.php?group_id=128638&#038;ssid=37583">This software is wicked!</a> It turns your PC into an animated LCARS terminal! Unfortunately it only works in MS-DOS or Windows… though come to think of it does that mean I could use it in <a href="http://dosbox.sourceforge.net/">DOSBox</a> on my MacBook Pro? Actually for it to work as a Universal Binary on my MacBook Pro it would need to be <a href="http://mac.punknews.org/dosbox">this version of DOSBox</a>. Hmm… I&#39;ll have to find out.</p>
<p>Only one thing: isn&#39;t everyone in the 24th century using the <em>Metric system</em> and <em>Day/Month/Year</em> date formatting, like the rest of the world is now? I hope you can customise the clock…</p>
<p>For those who don&#39;t know what LCARS is, it was the graphical/text interface for the Federation Starfleet starships in Star Trek. For those who don&#39;t know what the Federation is, it&#39;s the union of planets in the 24th century of which Earth is a part of. For those who don&#39;t know what Earth is, please seek medical attention.</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: star trek" href="http://technorati.com/tag/star-trek">star trek</a>,
<a title="Technorati tag: starfleet" href="http://technorati.com/tag/starfleet">starfleet</a>,
<a title="Technorati tag: united federation of planets" href="http://technorati.com/tag/united-federation-of-planets">united federation of planets</a>,
<a title="Technorati tag: sourceforge" href="http://technorati.com/tag/sourceforge">sourceforge</a>,
<a title="Technorati tag: msdos" href="http://technorati.com/tag/msdos">msdos</a>,
<a title="Technorati tag: ms-dos" href="http://technorati.com/tag/ms-dos">ms-dos</a>,
<a title="Technorati tag: ms dos" href="http://technorati.com/tag/ms-dos">ms dos</a>,
<a title="Technorati tag: dosbox" href="http://technorati.com/tag/dosbox">dosbox</a>,
<a title="Technorati tag: lcars" href="http://technorati.com/tag/lcars">lcars</a></p>
 
