---
title: 'Learning Ruby' 
date: "2006-10-26T06:46:14+10:00"
year: "2006"
category: Software 
tag:
- infocomm
- scripting
- simpletagged 
---
<p><a href="http://www.ruby-lang.org/en/"><img style="background:#FFFFFF" src="https://rubenerd.com/files/uploads/logo.gif" alt="Ruby" /></a></p>
<p>Okay, I&#39;ve decided to take the plunge: I&#39;m going to learn <a href="http://www.ruby-lang.org/en/">Ruby</a>.</p>
<p>I must admit as a primarily <a href="http://perl.com/">Perl</a> programmer who grew up in primary school using Q-BASIC and Pascal (and was forced to use <a href="http://msdn.microsoft.com/">Visual Basic</a> in high school) my mind seems to been hard-wired for event driven and sequential programming. though I think I have a rough grasp of object orientation. I like how elegantly you can create an object, assign properties and tell them to do things. I&#39;m less enthusiastic when it comes to polymorphism and all that rubbish, but I think that&#39;s largely due to my lack of experience!</p>
<p>I&#39;ve wanted to for ages to learn Ruby because it comes from Japan, and of course it sounds the same as my name ;).</p>
<p>I&#39;ll let you know how I go.</p>
<pre>#!/usr/bin/rubyputs "Hello Rubenerd Blog readers!n";</pre>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: ruby" href="http://technorati.com/tag/ruby">ruby</a>,
<a title="Technorati tag: ruby on rails" href="http://technorati.com/tag/ruby-on-rails">ruby on rails</a>,
<a title="Technorati tag: rails" href="http://technorati.com/tag/rails">rails</a>,
<a title="Technorati tag: oop" href="http://technorati.com/tag/oop">oop</a></p>
 
