---
title: 'Living With Parents Again' 
date: "2006-09-22T03:51:25+10:00"
year: "2006"
category: Thoughts 
tag: 
- personal
- simpletagged 
---
<p><a href="https://flickr.com/photos/rubenerd/182412153/"><img src="https://static.flickr.com/65/182412153_ef0a04daaf_m.jpg" alt="" /></a><br />
<em>Click image for larger view, from <a href="https://flickr.com/photos/rubenerd/">my Flickr photo gallery</a></em></p>
<p>So I&#39;m sitting here watching television with my parents here in KL. We&#39;ve got cable here which is refeshing after coping with public access television in Australia (okay, it&#39;s only Channel 10 that I have an issue with, but you get the idea).</p>
<p>One problem though, my mum just channel surfed and skipped what looked liked a fascinating documentary about how they built the Petronas Twin Towers here in KL, and a show about the composition of comets and how our solar system formed, to instead watching a show about sea horses.</p>
<p>I guess you can&#39;t win them all :(.</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http:://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: parents" href="http://technorati.com/tag/parents">parents</a></p>
 
