---
title: 'Low Interest Rate Home Loan Spam' 
date: "2006-02-26T10:46:29+10:00"
year: "2006"
category: Internet
tag: 
- spam
---
<p><img src="https://rubenerd.com/files/uploads/icon.tango.mail.reply.png"  alt="Mail icon from the Tango Desktop Project"/></p>
<p>I&#39;m a uni student and can&#39;t afford a home; I&#39;m not interested in low mortgages; I DON&#39;T LIVE IN THE UNITED STATES!</p>
 
