---
title: 'Marty Smith Quotes' 
date: "2006-09-09T03:52:06+10:00"
year: "2006"
category: Thoughts 
tag: 
- australia
- funny
- quotes
- simpletagged 
---
<p>Marty Smith writes the Mouthing Off column in the Adelaide Advertiser every weekday, it&#39;s one of my favourite parts of the paper. On Thursday he had some beauties:</p>
<ul>
<li>Question: what came first, the ant or the picnic?</li>
<li>&#8220;Just Divorced&#8221; &#8211; Car window sign</li>
<li>&#8220;You know that horses are smarter than people. You’ve never heard of a horse going broke betting on people.&#8221; &#8211; American actor and humorist Will Rogers (1879-1935)</li>
</ul>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: marty smith" href="http://technorati.com/tag/marty-smith">marty smith</a>,
<a title="Technorati tag: adelaide" href="http://technorati.com/tag/adelaide">adelaide</a>,
<a title="Technorati tag: newspaper" href="http://technorati.com/tag/newspaper">newspaper</a>,
<a title="Technorati tag: quotes" href="http://technorati.com/tag/quotes">quotes</a>,
<a title="Technorati tag: adelaide advertiser" href="http://technorati.com/tag/adelaide-advertiser">adelaide advertiser</a>,
<a title="Technorati tag: adelaidenow" href="http://technorati.com/tag/adelaidenow">adelaidenow</a>,
<a title="Technorati tag: will rogers" href="http://technorati.com/tag/will-rogers">will rogers</a></p>
 
