---
title: 'Michael Johnson’s Celebration of English Humour!' 
date: "2006-09-09T08:14:36+10:00"
year: "2006"
category: Media 
tag:
- funny
- simpletagged
- television 
---
<p><a href="http://www.thecolumnists.com/johnson/johnson30.html"><img src="https://rubenerd.com/files/uploads/media.johnson30art1.jpg" alt="" /></a></p>
<p>Great reading if you love English comedy ;).</p>
<blockquote><p>Nursing my sore ribs after too much Brit humor<br />
<a href="http://www.thecolumnists.com/johnson/johnson30.html">By MICHAEL JOHNSON of TheColumnists.com</a></p></blockquote>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: british comedy" href="http://technorati.com/tag/british-comedy">british comedy</a>,
<a title="Technorati tag: english comedy" href="http://technorati.com/tag/english-comedy">english comedy</a>,
<a title="Technorati tag: humour" href="http://technorati.com/tag/humour">humour</a>,
<a title="Technorati tag: pete and dud" href="http://technorati.com/tag/pete-and-dud">pete and dud</a>,
<a title="Technorati tag: peter cook" href="http://technorati.com/tag/peter-cook">peter cook</a>,
<a title="Technorati tag: dudley moore" href="http://technorati.com/tag/dudley-moore">dudley moore</a>,
<a title="Technorati tag: derek and clive" href="http://technorati.com/tag/derek-and-clive">derek and clive</a></p>
 
