---
title: 'Microsoft Windows Live Messenger Spam' 
date: "2006-10-25T03:50:28+10:00"
year: "2006"
category: Internet
tag: 
- infocomm
- simpletagged
- spam 
---
<p><img id="image428" src="https://rubenerd.com/files/uploads/microsofttitanic1.jpg" alt="S.S. Microsoft Titanic" /></p>
<p>I hate the Windows version of MSN Messenger. Sorry I can&#39;t bring myself to call it &quot;Windows Live Messenger&quot;. It&#39;s a poorly designed, RAM sucking, crashprone, unreliable, spyware riddled cesspool. The Mac version is actually pretty good, but I decided long ago to use <a href="http://adiumx.com/">Adium</a> instead. I&#39;ve resigned to the fact I have to use the MSN Messenger protocol because most of my friends use it (God bless them) but at least by using Adium I can connect to ICQ, AOL, Jabber, Google users etc.</p>
<p>Anyway I&#39;m going off topic! I got an &quot;official&quot; Spam message today from Microsoft proudly announcing their latest version of &quot;Windows Live Messenger&quot;. Only one problem: all the links and images were broken! It seems these folks can&#39;t even send an email that actually works. I do have images blocked in Gmail, but I &quot;unblocked&quot; them for this message and they were still broken!</p>
<p><strong>EDIT:</strong> I found out why the images were broken: I use Adblock for Firefox. It seems it detected automatically that this Spam message was an advertisement and had its way with it. Still funny though!</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: msn messenger" href="http://technorati.com/tag/msn-messenger">msn messenger</a>,
<a title="Technorati tag: windows live" href="http://technorati.com/tag/windows-live">windows live</a>,
<a title="Technorati tag: windows life messenger" href="http://technorati.com/tag/windows-life-messenger">windows life messenger</a>,
<a title="Technorati tag: microsoft" href="http://technorati.com/tag/microsoft">microsoft</a>,
<a title="Technorati tag: spam" href="http://technorati.com/tag/spam/">spam</a>,
<a title="Technorati tag: junk mail" href="http://technorati.com/tag/junk-mail">junk mail</a>,
<a title="Technorati tag: junk email" href="http://technorati.com/tag/junk-email">junk email</a>,
<a title="Technorati tag: adium" href="http://technorati.com/tag/adium">adium</a>,
<a title="Technorati tag: icq" href="http://technorati.com/tag/icq">icq</a>,
<a title="Technorati tag: jabber" href="http://technorati.com/tag/jabber">jabber</a>,
<a title="Technorati tag: aol" href="http://technorati.com/tag/aol">aol</a>,
<a title="Technorati tag: google" href="http://technorati.com/tag/google">google</a>,
<a title="Technorati tag: adblock" href="http://technorati.com/tag/adblock">adblock</a>,
<a title="Technorati tag: Firefox" href="http://technorati.com/tag/Firefox">Firefox</a></p>
 
