---
title: 'Mistletoe… The Ship?' 
date: "2006-11-28T01:29:45+10:00"
year: "2006"
category: Media 
tag:
- ocean-liners
- photos
- simpletagged 
---
<p><img style="float:right; margin: 0 0 10px 20px" id="image556" src="https://rubenerd.com/files/uploads/mistletoe.jpg" alt="The Mistletow" /></p>
<p>I was looking for Christmas related picturisation (picturisation?) and came across something I didn&#39;t expect… the Mistletow steamer!</p>
<p><a href="http://njscuba.net/sites/site_mistletoe.html">From NJScuba.net</a>:</p>
<blockquote><p>The Mistletoe was a wood hulled side wheel steam ship built in Chester, Pennsylvania, in 1872. She was 152.6 feet long had a 26.7 feet beam, displaced 362 gross tons, 147 net tons and was powered by a 370 horsepower engine.</p>
<p>The Mistletoe was originally a lighthouse tender; her official number was 222226. Her job of transporting supplies to lighthouses was eventually taken over by faster vessels, and the Mistletoe was sold to be used in the fishing excursion business.</p>
</blockquote>
<p>She was apparently lost in a fire and sank off a few k&#39;s from the East Rockaway Inlet.</p>
<p>I&#39;m fascinated by steamers and ocean liners; I remember watching Titanic the movie (look Jack, I&#39;m flying!) and picking out all the inaccuracies in the technical ship design and dress of the period ;).</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: mistletoe" href="http://technorati.com/tag/mistletoe">mistletoe</a>,
<a title="Technorati tag: steamers" href="http://technorati.com/tag/steamers">steamers</a></p>
 
