---
title: 'More Woes For Adelaide Airport' 
date: "2006-11-14T06:45:41+10:00"
year: "2006"
category: Thoughts 
tag: 
- australia
- news
- simpletagged 
---
<p><img style="float:right; margin:0 0 10px 20px" id="image496" src="https://rubenerd.com/files/uploads/adelaideterminal.jpg" alt="Adelaide Airport Terminal (public domain work)" /></p>
<p>While I was in Adelaide for university earlier this year and last year, I arrived just as the city&#39;s new airport was supposed to take off… sorry, bad pun. First it was a long construction delay, then there were repeated problems with the fuel supply lines, then the bad publicity regarding the woeful accommodation of regional airliners… the list goes on.</p>
<p>Now it seems our beloved new terminal, the newest international airport in Australia, has been ranked third behind Perth and Brisbane, despite their terminals being more than 10 years older!</p>
<p>From the Adelaide Advertiser newspaper&#39;s website <a href="http://www.news.com.au/adelaidenow/story/0,22606,20741879-2682,00.html">AdelaideNow</a>:</p>
<blockquote><p>THE $260 million Adelaide Airport terminal is the newest in Australia, but has been ranked only the third best by passengers and airlines.<br />
An Australian Competition and Consumer Commission report ranks the year-old facility’s service and quality behind Brisbane and Perth airports, both built more than a decade ago.<br />
But Adelaide Airport managing director Phil Baker says the rankings are &#8220;ridiculous&#8221;.</p>
</blockquote>
<p>I like how frank and blunt he is when he describes the ranking system:</p>
<blockquote><p>&#8220;I don’t understand how they get the rankings . . . the old international terminal scored highly very often (in past reports) but it was crap.&#8221;</p>
</blockquote>
<p>The article continues by explaining that the number of car parking spaces seemed constrictive. I can relate to that! That said though, I actually like the new terminal, I just hope they can fix these problems.</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: adelaide" href="http://technorati.com/tag/adelaide">adelaide</a>,
<a title="Technorati tag: adelaide airport" href="http://technorati.com/tag/adelaide-airport">adelaide airport</a>,
<a title="Technorati tag: south australia" href="http://technorati.com/tag/south-australia">south australia</a>,
<a title="Technorati tag: airports" href="http://technorati.com/tag/airports">airports</a>,
<a title="Technorati tag: aeroplanes" href="http://technorati.com/tag/aeroplanes">aeroplanes</a>,
<a title="Technorati tag: airlines" href="http://technorati.com/tag/airlines">airlines</a>,
<a title="Technorati tag: qantas" href="http://technorati.com/tag/qantas">qantas</a>,
<a title="Technorati tag: singapore airlines" href="http://technorati.com/tag/singapore-airlines">singapore airlines</a>,
<a title="Technorati tag: sia" href="http://technorati.com/tag/sia">sia</a></p>
 
