---
title: 'Moving to WordPress MU' 
date: "2006-08-27T12:53:40+10:00"
year: "2006"
category: Software 
tag:
- infocomm
- new-time-radio
- simpletagged
- weblog 
---
<p><img src="https://rubenerd.com/wp-admin/images/wordpress-logo.png" alt="" style="padding:5px 15px; background:#FFF" /></p>
<p>With four WordPress powered websites now, updating each one whenever a new release of WordPress or any of the zillions of plugins I&#39;m using come out it is really a huge undertaking! So this morning I&#39;m going to try creating a new WordPress MU blog, moving the content from my four WordPress powered sites onto it. This may also help to address some weird RSS podcast feed issues too that <a href="//rubenerd.com/show/forum/comments.php?DiscussionID=16">Mr Bunny let me know about on the Rubenerd Forum</a>.</p>
<p>So just to let you know there many some quirky blog behavior on the <a href="//rubenerd.com/show/">Rubenerd Show</a>, the <a href="//rubenerd.com/">Rubenerd Blog</a>, the Rubenerd Local site (intranet access only) and the <a href="http://ruben.sg/">University Chronicles of Ruben</a>.</p>
<p>WordPress MU will let me administer and update each blog collectively, but the individual sites will still appear separate in your browser; don&#39;t worry I&#39;m not merging it all ;). Wow, that would be a mess if I did that!</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<p><a title="Technorati tag: wordpress" href="http://technorati.com/tag/wordpress">wordpress</a>,
<a title="Technorati tag: wordpress mu" href="http://technorati.com/tag/wordpress-mu">wordpress mu</a>,
<a title="Technorati tag: rubenerd" href="http://technorati.com/tag/rubenerd">rubenerd</a></p>
 
