---
title: 'My Mum Has a Del.icio.us Account' 
date: "2006-10-13T05:28:31+10:00"
year: "2006"
category: Thoughts 
tag: 
- personal
- simpletagged 
---
<p><img id="image399" src="https://rubenerd.com/files/uploads/deliciousmum.png" alt="" /></p>
<p>I&#39;m really pleased with my mum. Less thank three years ago she had never touched a computer in her life: now she&#39;s using eBay, she&#39;s registered for and using a Gmail account, she reads the Sydney Morning Herald (online from our house in Kuala Lumpur in Malaysia!).</p>
<p><a href="http://del.icio.us/sweetische">Now she&#39;s using a Del.ico.us account</a>. It&#39;s not a blog per se, but when she finds something interesting she posts it, sometimes with descriptions. If you&#39;re into jewellery, gemstones, weird news stories and necklaces in the shape of the Enterprise A refit from Captain Kirk&#39;s era, check it out!</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: debra schade" href="http://technorati.com/tag/debra-schade">debra schade</a>,
<a title="Technorati tag: delicious" href="http://technorati.com/tag/delicious">delicious</a>,
<a title="Technorati tag: del.icio.us" href="http://technorati.com/tag/del.icio.us">del.icio.us</a>,
<a title="Technorati tag: ebay" href="http://technorati.com/tag/ebay">ebay</a>,
<a title="Technorati tag: gemstones" href="http://technorati.com/tag/gemstones">gemstones</a>,
<a title="Technorati tag: gems" href="http://technorati.com/tag/gems">gems</a>,
<a title="Technorati tag: jewellery" href="http://technorati.com/tag/jewellery">jewellery</a>,
<a title="Technorati tag: jewelry" href="http://technorati.com/tag/jewelry">jewelry</a>,
<a title="Technorati tag: star trek" href="http://technorati.com/tag/star-trek">star trek</a></p>
 
