---
title: 'My Uni Timetable… Yuk!' 
date: "2006-02-27T03:49:10+10:00"
year: "2006"
category: Thoughts 
tag: 
- personal
- studies 
---
<p>Taken straight from the uni network… have you ever seen such a hideous timetable? Argh.</p>
<table style="width:100%; border:0px; border-collapse:collapse">
<tr>
<th class="hbdr" style="width:5%"> time
</th>
<th class="hbdr" style="width:19%">Mon(27/2)
</th>
<th class="hbdr" style="width:19%">Tue(28/2)
</th>
<th class="hbdr" style="width:19%">Wed(1/3)
</th>
<th class="hbdr" style="width:19%">Thu(2/3)
</th>
<th class="hbdr" style="width:19%">Fri(3/3)
</th>
</tr>
<tr>
<td class="hbdr">9:00 AM</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
<td style='background:#e6e6fa;border-right: dotted 1px #000000;'>2405</td>
</tr>
<tr>
<td class="hbdr">9:30 AM</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
<td style='background:#e6e6fa;border-right: dotted 1px #000000;'>MLK-F1-25</td>
</tr>
<tr>
<td class="hbdr">10:00 AM</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
<td style='background:#e6e6fa;border-right: dotted 1px #000000;'>25188</td>
<td style='background:#e6e6fa;border-right: dotted 1px #000000;'></td>
</tr>
<tr>
<td class="hbdr">10:30 AM</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
<td style='background:#e6e6fa;border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>MLK-F1-17</td>
<td style='background:#e6e6fa;border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'></td>
</tr>
<tr>
<td class="hbdr">11:00 AM</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
<td style='background:#e6e6fa;border-right: dotted 1px #000000;'>24464</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
<td style='background:#e6e6fa;border-right: dotted 1px #000000;'>25186</td>
</tr>
<tr>
<td class="hbdr">11:30 AM</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
<td style='background:#e6e6fa;border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>MLK-GP1-09</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
<td style='background:#e6e6fa;border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>MLK-J1-05</td>
</tr>
<tr>
<td class="hbdr">12:00 PM</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
</tr>
<tr>
<td class="hbdr">12:30 PM</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
</tr>
<tr>
<td class="hbdr">1:00 PM</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
<td style='background:#e6e6fa;border-right: dotted 1px #000000;'>22375</td>
</tr>
<tr>
<td class="hbdr">1:30 PM</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
<td style='background:#e6e6fa;border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>MLK-GP1-09</td>
</tr>
<tr>
<td class="hbdr">2:00 PM</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
</tr>
<tr>
<td class="hbdr">2:30 PM</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
</tr>
<tr>
<td class="hbdr">3:00 PM</td>
<td style='background:#e6e6fa;border-right: dotted 1px #000000;'>22375</td>
<td style='background:#e6e6fa;border-right: dotted 1px #000000;'>24464</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
</tr>
<tr>
<td class="hbdr">3:30 PM</td>
<td style='background:#e6e6fa;border-right: dotted 1px #000000;'>MLK-GP1-09</td>
<td style='background:#e6e6fa;border-right: dotted 1px #000000;'>MLK-GP1-09</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
</tr>
<tr>
<td class="hbdr">4:00 PM</td>
<td style='background:#e6e6fa;border-right: dotted 1px #000000;'></td>
<td style='background:#e6e6fa;border-right: dotted 1px #000000;'></td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
</tr>
<tr>
<td class="hbdr">4:30 PM</td>
<td style='background:#e6e6fa;border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'></td>
<td style='background:#e6e6fa;border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'></td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
</tr>
<tr>
<td class="hbdr">5:00 PM</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
<td style='border-bottom:dotted 1px #000000;border-right: dotted 1px #000000;'>&nbsp;</td>
</tr>
</table>
<table style="width:100%; border:0px; border-collapse:collapse">
<tr>
<td class="hbdr" colspan="6">Key</td>
</tr>
<tr>
<th class="hbdr">Class Nbr
</th>
<th class="hbdr">Room
</th>
<th class="hbdr">Course
</th>
<th class="hbdr">Section
</th>
<th class="hbdr">Description
</th>
<th class="hbdr">Instructor
</th>
</tr>
<tr>
<td style='border-bottom:solid 1px #999999;border-right:solid 1px #999999;'>22375</td>
<td style='border-bottom:solid 1px #999999;border-right:solid 1px #999999;'>MLK-GP1-09</td>
<td style='border-bottom:solid 1px #999999;border-right:solid 1px #999999;'>COMP2006</td>
<td style='border-bottom:solid 1px #999999;border-right:solid 1px #999999;'>Lecture 01LL</td>
<td style='border-bottom:solid 1px #999999;border-right:solid 1px #999999;'>Object-Oriented Software Eng</td>
<td style='border-bottom:solid 1px #999999;border-right:solid 1px #999999;'>F. Fursenko</td>
</tr>
<tr>
<td style='border-bottom:solid 1px #999999;border-right:solid 1px #999999;'>24464</td>
<td style='border-bottom:solid 1px #999999;border-right:solid 1px #999999;'>MLK-GP1-09</td>
<td style='border-bottom:solid 1px #999999;border-right:solid 1px #999999;'>COMP2012</td>
<td style='border-bottom:solid 1px #999999;border-right:solid 1px #999999;'>Lecture 01LL</td>
<td style='border-bottom:solid 1px #999999;border-right:solid 1px #999999;'>Objects and Algorithms in C++</td>
<td style='border-bottom:solid 1px #999999;border-right:solid 1px #999999;'>TBA</td>
</tr>
<tr>
<td style='border-bottom:solid 1px #999999;border-right:solid 1px #999999;'>25188</td>
<td style='border-bottom:solid 1px #999999;border-right:solid 1px #999999;'>MLK-F1-17</td>
<td style='border-bottom:solid 1px #999999;border-right:solid 1px #999999;'>INFS2004</td>
<td style='border-bottom:solid 1px #999999;border-right:solid 1px #999999;'>Computer Practical 04CL</td>
<td style='border-bottom:solid 1px #999999;border-right:solid 1px #999999;'>Data Model and Database Design</td>
<td style='border-bottom:solid 1px #999999;border-right:solid 1px #999999;'>TBA</td>
</tr>
<tr>
<td style='border-bottom:solid 1px #999999;border-right:solid 1px #999999;'>24054</td>
<td style='border-bottom:solid 1px #999999;border-right:solid 1px #999999;'>MLK-F1-25</td>
<td style='border-bottom:solid 1px #999999;border-right:solid 1px #999999;'>INFS2004</td>
<td style='border-bottom:solid 1px #999999;border-right:solid 1px #999999;'>Lecture 01LL</td>
<td style='border-bottom:solid 1px #999999;border-right:solid 1px #999999;'>Data Model and Database Design</td>
<td style='border-bottom:solid 1px #999999;border-right:solid 1px #999999;'>J. Liu</td>
</tr>
<tr>
<td style='border-bottom:solid 1px #999999;border-right:solid 1px #999999;'>25186</td>
<td style='border-bottom:solid 1px #999999;border-right:solid 1px #999999;'>MLK-J1-05</td>
<td style='border-bottom:solid 1px #999999;border-right:solid 1px #999999;'>INFS2004</td>
<td style='border-bottom:solid 1px #999999;border-right:solid 1px #999999;'>Tutorial 01TL</td>
<td style='border-bottom:solid 1px #999999;border-right:solid 1px #999999;'>Data Model and Database Design</td>
<td style='border-bottom:solid 1px #999999;border-right:solid 1px #999999;'>TBA</td>
</tr>
</table>
<p>Damn it.</p>
 
