---
title: 'NeoOffice: Aqua Is Here!' 
date: "2006-09-22T05:30:07+10:00"
year: "2006"
category: Software 
tag:
- apple
- infocomm
- simpletagged 
---
<p><a href="http://www.neooffice.org/"><img src="https://rubenerd.com/files/uploads/media.neoofficeaqua.jpg" alt="" style="width:320px" /></a></p>
<p>If you&#39;ve ever tried running <a href="http://openoffice.org/">OpenOffice.org</a> on your Mac with X11 I don&#39;t need to tell you how slow and inelegent a solution it was; not to mention the fact it didn&#39;t use Aqua so it looked butt ugly.</p>
<p>Fortunately <a href="http://www.neooffice.org/">NeoOffice</a> now has an Aqua version!</p>
<blockquote><p>NeoOffice is a fully-featured set of office applications (including word processing, spreadsheet, presentation, and drawing programs) for Mac OS X. Based on the OpenOffice.org office suite, NeoOffice has integrated dozens of native Mac features and can import, edit, and exchange files with other popular office programs such as Microsoft Office.</p></blockquote>
<p>As the description says it&#39;s based on OpenOffice.org, but because it runs as an Aqua application it&#39;s noticably zippier and looks like my other Mac programs. The program is a Universal Binary for you other Intel Mac owners out there, and it&#39;s free, so what are you waiting for?</p>
<p>Maybe I should have been a P.R. spokesperson.</p>
<p>You can read all about it and download your free copy at the <a href="http://www.neooffice.org/">NeoOffice</a> website.</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: neooffice" href="http://technorati.com/tag/neooffice">neooffice</a>,
<a title="Technorati tag: neooffice j" href="http://technorati.com/tag/neooffice-j">neooffice j</a>,
<a title="Technorati tag: openoffice" href="http://technorati.com/tag/openoffice">openoffice</a>,
<a title="Technorati tag: openoffice.org" href="http://technorati.com/tag/openoffice.org">openoffice.org</a>,
<a title="Technorati tag: mac" href="http://technorati.com/tag/mac">mac</a>,
<a title="Technorati tag: mac os" href="http://technorati.com/tag/mac-os">mac os</a>,
<a title="Technorati tag: mac os x" href="http://technorati.com/tag/mac-os-x">mac os x</a>,
<a title="Technorati tag: apple" href="http://technorati.com/tag/apple">apple</a>,
<a title="Technorati tag: office productivity" href="http://technorati.com/tag/office-productivity">office productivity</a>,
<a title="Technorati tag: microsoft office alternative" href="http://technorati.com/tag/microsoft-office-alternative">microsoft office alternative</a>,
<a title="Technorati tag: iwork alternative" href="http://technorati.com/tag/iwork-alternative">iwork alternative</a>,
<a title="Technorati tag: rubenerd blog" href="http://technorati.com/tag/rubenerd-blog">rubenerd blog</a>,
<a title="Technorati tag: ruben schade" href="http://technorati.com/tag/ruben-schade">ruben schade</a>,
<a title="Technorati tag: ruben" href="http://technorati.com/tag/ruben">ruben</a>,
<a title="Technorati tag: schade" href="http://technorati.com/tag/schade">schade</a></p>
 
