---
title: 'NetBSD 3.1 Released' 
date: "2006-11-21T01:38:30+10:00"
year: "2006"
category: Software 
tag:
- bsd
- infocomm
- mmx-machine
- netbsd
- simpletagged
---
<p><a href="http://netbsd.org/"><img style="float:right; margin:0 0 10px 20px" id="NetBSD" src="https://rubenerd.com/files/uploads/netbsd-smaller.png" alt="NetBSD" /></a>Actually it was released on the 04th of this month, but I thought I should post anyway!</p>
<p>NetBSD has always been my favourite BSD release because of it&#39;s simple text based installer, it&#39;s clean and uncluttered design, the fact I can download the whole thing in just over 200MB, and that it runs on anything… <a href="http://netbsd.org/Changes/2005.html#toaster">including toasters</a> ;).</p>
<p>From the <a href="http://netbsd.org/Releases/formal-3/NetBSD-3.1.html">official press release</a>:</p>
<blockquote cite="http://netbsd.org/Releases/formal-3/NetBSD-3.1.html"><p>The NetBSD release engineering team has announced that the NetBSD 3.1 and 3.0.2 releases are now available. NetBSD 3.1 contains many bugfixes, security updates, new drivers and new features like support for Xen3 DomU</p>
</blockquote>
<p>I run NetBSD on my retro c.1997 Pentium MMX machine, works like a champ.</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http:://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: netbsd" href="http://technorati.com/tag/netbsd">netbsd</a>,
<a title="Technorati tag: bsd" href="http://technorati.com/tag/bsd">bsd</a>,
<a title="Technorati tag: netbsd 3" href="http://technorati.com/tag/netbsd-3">netbsd 3</a>,
<a title="Technorati tag: netbsd 3.1" href="http://technorati.com/tag/netbsd-3.1">netbsd 3.1</a></p>
 
