---
title: 'New Google Notifier' 
date: "2006-09-11T04:39:22+10:00"
year: "2006"
category: Internet
tag: 
- apple
- infocomm
- simpletagged 
---
<p><a href="http://mail.google.com/mail/help/notifier/notifier_mac.html"><img src="https://rubenerd.com/files/uploads/media.googlenotify.png" alt="Google Notifier for Mac" /></a></p>
<p>If you&#39;re a user of the <a href="http://mail.google.com/mail/help/notifier/notifier_mac.html">Gmail notifier</a> for Mac OS X (that little red envelope on your menu bar) then you should download the lastest (hehe, funny typo) version. Apparently now it&#39;s not called the Gmail Notifier, but the &quot;Google Notifier&quot; because it also includes information from your Google Calender.</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: google" href="http://technorati.com/tag/google">google</a>,
<a title="Technorati tag: google notifier" href="http://technorati.com/tag/google-notifier">google notifier</a>,
<a title="Technorati tag: gmail" href="http://technorati.com/tag/gmail">gmail</a>,
<a title="Technorati tag: google mail" href="http://technorati.com/tag/google-mail">google mail</a>,
<a title="Technorati tag: google calender" href="http://technorati.com/tag/google-calender">google calender</a>,
<a title="Technorati tag: gmail notifier" href="http://technorati.com/tag/gmail-notifier">gmail notifier</a>,
<a title="Technorati tag: mac os x" href="http://technorati.com/tag/mac-os-x">mac os x</a>,
<a title="Technorati tag: mac" href="http://technorati.com/tag/mac">mac</a>,
<a title="Technorati tag: apple" href="http://technorati.com/tag/apple">apple</a></p>
 
