---
title: 'New iTunes 7 Screenshots' 
date: "2006-09-14T02:02:52+10:00"
year: "2006"
category: Software 
tag:
- apple
- itunes
- infocomm
- simpletagged 
---
<p>I&#39;m sure if you&#39;re really interested in iTunes and Apple software releases you&#39;d already know about this but I thought I&#39;d just do a quick review of iTunes 7.</p>
<h3>What I Like</h3>
<p>I was really dissapointed with the iTunes 5 to 6 version update (it seemed fairly redundant) but in version 7 the interface has really been polished even futher.</p>
<p>In particular I really love the new tune views that let you see the album lists with artwork or even the cover art being displayed as a slideshow (I remember seeing the latter view in a third party utility though. Guess they pulled another Konfabulator).</p>
<h3>What I Don’t Like</h3>
<p>The scrollbars have been changed: yet another non standard interface change by Apple. When will they stop doing this? Also the newly redesigned library is far less screen efficient (albeit more &quot;stylish&quot;).</p>
<p>But the thing that really tarnishes my experience somewhat is the convenient button for the equaliser is gone. Why I ask?!</p>
<h3>Screenshots</h3>
<p>In order they are: iTunes 6, iTunes 7 album view, and iTunes slideshow view.</p>
<p><a href="//rubenerd.com/files/uploads/media.iTunes6.png"><img src="https://rubenerd.com/files/uploads/media.iTunes6-thumb.png" alt="" /></a><br />
<a href="//rubenerd.com/files/uploads/media.iTunes7.png"><img src="https://rubenerd.com/files/uploads/media.iTunes7-thumb.png" alt="" /></a><br />
<a href="//rubenerd.com/files/uploads/media.iTunes7view.png"><img src="https://rubenerd.com/files/uploads/media.iTunes7view-thumb.png" alt="" /></a></p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: apple" href="http://technorati.com/tag/apple">apple</a>,
<a title="Technorati tag: itunes" href="http://technorati.com/tag/itunes">itunes</a>,
<a title="Technorati tag: apple itunes" href="http://technorati.com/tag/apple-itunes">apple itunes</a>,
<a title="Technorati tag: itunes 7" href="http://technorati.com/tag/itunes-7">itunes 7</a>,
<a title="Technorati tag: itunes 6" href="http://technorati.com/tag/itunes-6">itunes 6</a>,
<a title="Technorati tag: itunes update"  href="http://technorati.com/tag/itunes-update">itunes update</a>
<a title="Technorati tag: rubenerd blog" href="http://technorati.com/tag/rubenerd-blog">rubenerd blog</a>,
<a title="Technorati tag: ruben schade" href="http://technorati.com/tag/ruben-schade">ruben schade</a>,
<a title="Technorati tag: ruben" href="http://technorati.com/tag/ruben">ruben</a>,
<a title="Technorati tag: schade" href="http://technorati.com/tag/schade">schade</a>,
<a title="Technorati tag: itunes equaliser" href="http://technorati.com/tag/itunes-equaliser">itunes equaliser</a></p>
 
