---
title: 'New Ruby Website' 
date: "2006-10-26T04:58:39+10:00"
year: "2006"
category: Software 
tag:
- infocomm
- scripting
- simpletagged
- television 
---
<p><a href="http://www.ruby-lang.org/en/"><img id="image432" src="https://rubenerd.com/files/uploads/rubysite.png" alt="Ruby Website" /></a></p>
<p>I just browsed the <a href="http://www.ruby-lang.org/en/">Ruby website</a> today, looks very polished now. I remember just a few months ago  going there and they still had that boxy, text based page.</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: ruby" href="http://technorati.com/tag/ruby">ruby</a>,
<a title="Technorati tag: rails" href="http://technorati.com/tag/rails">rails</a>,
<a title="Technorati tag: web development" href="http://technorati.com/tag/web-development">web development</a>,
<a title="Technorati tag: scripting" href="http://technorati.com/tag/scripting">scripting</a></p>
 
