---
title: 'No Roti Canai for Malaysian Astronaut' 
date: "2006-09-27T02:46:07+10:00"
year: "2006"
category: Thoughts 
tag: 
- malaysia
- news
- simpletagged 
---
<p><img src="https://rubenerd.com/files/uploads/canai.jpg" alt="" /><br />
<cite>Roti Canai &#8211; <a href="http://indrani.net/">Indradi Soemardjan</a></cite></p>
<p>According to the <a href="http://thestar.com.my/news/story.asp?file=/2006/9/27/nation/15549045&#038;sec=nation">Malayaian Star</a> (a local English newspaper), the two Malaysians who will be joining the Russian space program won&#39;t have access to roti canai or teh tarik after all.</p>
<blockquote><p>KUALA LUMPUR: There will be no teh tarik or roti canai for our Malaysian astronaut when he is up in space next year.</p>
<p>Deputy Science, Technology and Innovation Minister Datuk Kong Cho Ha said that even during their one-year training at Star City in Moscow, space candidates Dr Sheikh Muszaphar Shukor and Kapten Dr Faiz Khaleed have to go without these local favourites because their food and diet would be planned by nutritionists.</p>
<p>At the end of the training, one will join a Russian mission to the International Space Station, while the other would remain on standby, he said. Dr Sheikh Muszaphar and Dr Faiz left for Moscow last night.</p>
<p>In March last year, National Space Agency director-general Prof Datuk Dr Mazlan Othman suggested that Malaysia’s astronaut bring along roti canai and teh tarik to share with other astronauts at the International Space Station as a form of food and cultural exchange.</p>
</blockquote>
<p>Teh tarik is a tea drink available in Singapore and Malaysia which is made with condensed milk; <a href="http://en.wikipedia.org/wiki/Teh_Tarik">Wikipedia has an article on it</a>. You probably already recognise roti canai… mmm… roti canai… <em>Homer Simpson drool</em>.</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: malaysia" href="http://technorati.com/tag/malaysia">malaysia</a>,
<a title="Technorati tag: malaysian astronauts" href="http://technorati.com/tag/malaysian-astronauts">malaysian astronauts</a>,
<a title="Technorati tag: ISS" href="http://technorati.com/tag/ISS">ISS</a>,
<a title="Technorati tag: international space station" href="http://technorati.com/tag/international-space-station">international space station</a>,
<a title="Technorati tag: russia" href="http://technorati.com/tag/russia">russia</a>,
<a title="Technorati tag: malaysian star" href="http://technorati.com/tag/malaysian-star">malaysian star</a>,
<a title="Technorati tag: dr sheikh muszaphar shukor" href="http://technorati.com/tag/dr-sheikh-muszaphar-shukor">dr sheikh muszaphar shukor</a>,
<a title="Technorati tag: dr faiz khaleed" href="http://technorati.com/tag/dr-faiz-khaleed">dr faiz khaleed</a></p>
 
