---
title: 'Operating Systems Ranked' 
date: "2006-10-27T05:21:55+10:00"
year: "2006"
category: Software 
tag:
- amiga
- apple
- bsd
- freebsd
- infocomm
- mac-os-x
- microsoft
- netbsd
- operating-systems
- os
- simpletagged
- vic-20
- windows
- windows-2000 
---
<p>I&#39;m sure if you&#39;re anywhere near as obsessed about operating systems as me you would have seen this graph from the ComputerWorld website floating around before, but I thought I&#39;d post it anyway:</p>
<p><img id="image440" style="width:400px" src="https://rubenerd.com/files/uploads/02_introchart.jpg" alt="02_introchart.jpg" /></p>
<p>While as a 6 year user of Apple I agree with the placement of Mac OS X, I&#39;m not sure I really agree with some of these other rankings. I really don&#39;t think Windows XP improved usability over Windows 2000; in fact (as anyone who reads this blog knows) I still use Windows 2000 for my Windows apps because I think it&#39;s more stable, usable (and easier on the eyes) than XP. And I think Vista is a hell of a lot worse than both of them… having to wait 10 seconds for a new Windows Explorer window to appear just so it can have some tizzy eye candy? How does that improve usability?!</p>
<p>And what&#39;s with BeOS? Sure it didn&#39;t have many drivers but it was surely more usable than that. And is CP/M really that much worse than DOS? It sure as hell seemed more reliable to me than DOS! And where&#39;s Amiga Workbench? It would have to have at least a 6.5 ;). Or GeOS for the Commodore 128? Ah to hell with it, what about the BASIC interpreter for the VIC-20? Okay, scrap that last one.</p>
<p>I guess we&#39;ll have to agree to disagree with these rankings.</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag:
- software operating systems" href="http://technorati.com/tag/operating-systems">operating systems</a>,
<a title="Technorati tag:
- software vista" href="http://technorati.com/tag/vista">vista</a>,
<a title="Technorati tag:
- software windows 2000" href="http://technorati.com/tag/windows-2000">windows 2000</a>,
<a title="Technorati tag:
- software windows xp" href="http://technorati.com/tag/windows-xp">windows xp</a>,
<a title="Technorati tag:
- software geos" href="http://technorati.com/tag/geos">geos</a>,
<a title="Technorati tag:
- software basic" href="http://technorati.com/tag/basic">basic</a>,
<a title="Technorati tag:
- software cpm" href="http://technorati.com/tag/cpm">cpm</a>,
<a title="Technorati tag:
- software cp/m" href="http://technorati.com/tag/cp/m">cp/m</a>,
<a title="Technorati tag:
- software commodore" href="http://technorati.com/tag/commodore">commodore</a>,
<a title="Technorati tag:
- software dos" href="http://technorati.com/tag/dos">dos</a>,
<a title="Technorati tag:
- software mac os" href="http://technorati.com/tag/mac-os">mac os</a>,
<a title="Technorati tag:
- software mac os x" href="http://technorati.com/tag/mac-os-x">mac os x</a></p>
 
