---
title: 'Organise Your Life with PMWiki' 
date: "2006-09-11T04:44:58+10:00"
year: "2006"
category: Software 
tag:
- infocomm
- personal
- simpletagged
- studies 
---
<blockquote><p><strong>2009 UPDATE:</strong> My University Chronicles of Ruben blog ceased to exist a number a couple of years ago now, but as of now I still haven’t gone through and merged the posts into here yet. Until I do though, it’s still worth checking out PMWiki. 3 years later and I’m still using it!</p></blockquote>
<p>&lt;!&#8211;http://ruben.sg/wp-content/media/pmwiki.png&#8211;&gt;<img src="https://rubenerd.com/files/uploads/pmwiki.png" alt="PMWiki" /></p>
<p>If your interested in wiki software, I&#39;ve posted my official review of PMWiki on the University Chronicles of Ruben.</p>
<p>In summary, it&#39;s a great piece of software and is ideal for running locally on your own machine to organise uni notes and so forth, as well as being darned easy to backup because the data is created is contained in text files instead of in a myriad of MySQL tables.</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: pmwiki" href="http://technorati.com/tag/pmwiki">pmwiki</a>,
<a title="Technorati tag: wiki" href="http://technorati.com/tag/wiki">wiki</a>,
<a title="Technorati tag: mediawiki" href="http://technorati.com/tag/mediawiki">mediawiki</a>,
<a title="Technorati tag: wiki software" href="http://technorati.com/tag/wiki-software">wiki software</a>,
<a title="Technorati tag: localhost" href="http://technorati.com/tag/localhost">localhost</a></p>
 
