---
title: 'Parallels Desktop FreeBSD issues' 
date: "2006-12-20T01:58:28+10:00"
year: "2006"
category: Software 
tag:
- bsd
- freebsd
- infocomm
- parallels
- parallels-desktop
- simpletagged
- virtualisation 
---
<p><img style="float:right; margin: 0 0 10px 20px" id="image581" src="https://rubenerd.com/files/uploads/bsd_daemon.jpg" alt="The BSD Beastie" /></p>
<p>With my ongoing efforts to learn about <a href="http://bsd.org/">BSD</a> (as opposed to Linux) and adapt it for use as a low cost workstation OS (which I have been very impressed with so far!), I&#39;ve been using <a href="http://www.parallels.com/en/products/desktop/">Parallels Desktop</a> on my <a href="https://flickr.com/photos/rubenerd/262955088/">MacBook Pro</a> to test various releases, including the <a href="http://netbsd.org/">flag</a>, the <a href="http://dragonflybsd.org/">DragonFly</a> and the <a href="http://openbsd.org/">Pufferfish</a> which as far as I can tell so far work flawlessly and just as fast as they do on a regular PC, which I guess is largely what the latest Intel macs are ;).</p>
<p>Been having some issues running <a href="http://www.freebsd.org/releases/6.1R/relnotes.html">FreeBSD 6.1</a> and the <a href="http://www.freebsd.org/releases/6.2R/schedule.html">FreeBSD 6.2 release candidates</a> though which is a real bummer :(. Upon booting FreeBSD from either a full CD ISO image, from the Boot ISO image or even from the hard disk (virtual machines I had set up in the 1970 build of Parallels previously) I receive the same string of errors:</p>
<p><img id="image582" src="https://rubenerd.com/files/uploads/freebsd3036.png" alt="FreeBSD 6.1 Error on Parallels 3036" style="width:400px"/></p>
<p>Again this seems to be isolated to the FreeBSD (and the FreeBSD based <a href="http://www.pcbsd.org/">PC-BSD</a> distro) 6.x series on the Parallels 3036 Beta build. The official 1970 release still works fine.</p>
<p>Fortunately after a few minutes looking around the <a href="http://forum.parallels.com/">Parallels Forum</a> many others have had the same problem, so it&#39;s not just my machine stuffing up. Then again, had the error been on my machine I could have fixed it I guess.</p>
<p>Parallels Forum postings:</p>
<ul>
<li><a href="http://forum.parallels.com/showthread.php?t=6102&#038;highlight=freebsd">Problems with FreeBSD VM on Build 3036</a></li>
<li><a href="http://forum.parallels.com/showthread.php?t=6058&#038;highlight=freebsd">FreeBSD 6 and Build 3036</a></li>
<li><a href="http://forum.parallels.com/showthread.php?t=6103&#038;highlight=freebsd">3036 broke FreeBSD 6.1 completely</a></li>
</ul>
<p>Hope Parallels addresses this issues ASAP; in the meantime I&#39;ll have to stick with build 1970. Bummer :(</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http:://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: parallels" href="http://technorati.com/tag/parallels">parallels</a>,
<a title="Technorati tag: parallels desktop" href="http://technorati.com/tag/parallels-desktop">parallels desktop</a>,
<a title="Technorati tag: parallels build 3036" href="http://technorati.com/tag/parallels-build-3036">parallels build 3036</a>,
<a title="Technorati tag: parallels 3036" href="http://technorati.com/tag/parallels-3036">parallels 3036</a>,
<a title="Technorati tag: parallels build 1970" href="http://technorati.com/tag/parallels-build-1970">parallels build 1970</a>,
<a title="Technorati tag: 3036" href="http://technorati.com/tag/3036">3036</a>,
<a title="Technorati tag: 1970" href="http://technorati.com/tag/1970">1970</a>,
<a title="Technorati tag: freebsd" href="http://technorati.com/tag/freebsd">freebsd</a>,
<a title="Technorati tag: pc-bsd" href="http://technorati.com/tag/pc-bsd">pc-bsd</a>,
<a title="Technorati tag: pcbsd" href="http://technorati.com/tag/pcbsd">pcbsd</a>,
<a title="Technorati tag: bsd" href="http://technorati.com/tag/bsd">bsd</a>,
<a title="Technorati tag: virtualisation" href="http://technorati.com/tag/virtualisation">virtualisation</a>,
<a title="Technorati tag: virtualization" href="http://technorati.com/tag/virtualization">virtualization</a>,
<a title="Technorati tag: vm" href="http://technorati.com/tag/vm">vm</a></p>
 
