---
title: 'Peugeot 307 HDi' 
date: "2006-09-06T02:56:06+10:00"
year: "2006"
category: Thoughts 
tag: 
- cars
- peugeot
- shopping
- simpletagged
- transport 
---
<p><img src="https://rubenerd.com/files/uploads/media.307hdi.jpg" style="width:420px" alt="" /></p>
<p>Wow this car is nice. If my dad found out I liked a car that wasn&#39;t German or Japanese he&#39;d have my head, but still!</p>
<p>If anyone would like to buy me one, visit the <a href="//rubenerd.com/show/">Rubenerd Show</a> homepage and click <a href="//rubenerd.com/show/?page_id=149">Your Host Ruben</a> on the sidebar to contact me. Much apprecited.</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: peugeot" href="http://technorati.com/tag/peugeot">peugeot</a>,
<a title="Technorati tag: peugeot 307" href="http://technorati.com/tag/peugeot-307">peugeot 307</a>,
<a title="Technorati tag: peugeot 307 HDi" href="http://technorati.com/tag/peugeot-307-HDi">peugeot 307 HDi</a>,
<a title="Technorati tag: transport" href="http://technorati.com/tag/transport">transport</a>,
<a title="Technorati tag: cars" href="http://technorati.com/tag/cars">cars</a>,
<a title="Technorati tag: vechiles" href="http://technorati.com/tag/vechiles">vechiles</a>,
<a title="Technorati tag: diesel" href="http://technorati.com/tag/diesel">diesel</a>,
<a title="Technorati tag: french cars" href="http://technorati.com/tag/french-cars">french cars</a></p>
 
