---
title: 'Pokuga Test Spam' 
date: "2006-08-22T02:38:50+10:00"
year: "2006"
category: Internet
tag: 
- infocomm
- spam 
---
<p><a href="//rubenerd.com/tag/spam/"><img src="https://rubenerd.com/files/uploads/media.spam.png" alt="" /></a></p>
<p><em>Ruben picks apart the useless spam he receives from the spamming spammers who spam him with their spammingly spammish spam. For all the spam he has picked apart, visit the <a href="//rubenerd.com/tag/spam/">spam category</a>… sounds like a Monty Python routine.</em></p>
<blockquote><h3>pokuga test</h3>
<p>Hi,</p>
<p>It is so common to have problems with erxection,<br />
Try VlxAGRA to forget about it at [ URL REMOVED ]</p>
<p>lock swung majestically open. A keen clipboard-bearing naval officer<br />
stepped t I h rough.<br />
Landing party for Liokukae?</p></blockquote>
<p>What the hell is a &quot;pokuga test&quot;?</p>
 
