---
title: 'Poor Papua New Guinea' 
date: "2006-08-31T12:28:25+10:00"
year: "2006"
category: Thoughts 
tag: 
- news
- politics
- simpletagged 
---
<p><img src="https://rubenerd.com/files/uploads/media.Map_papua_new_guinea.png" alt="" /></p>
<p>I really feel for the people of Papua New Guinea. Upon independence from Australia they seemed to have such a bright future, but it seems corruption has once again reared its fat head to steal from the people who really need help. It pains me to think of places that are suffering from this; polititians in these places are just self-centred, self-serving cretins.</p>
<p>Interesting article from <a href="http://news.monstersandcritics.com/asiapacific/article_1194368.php/Analysis_Papua_New_Guinea_careens_towards_chaos">Monstors and Critics</a>:</p>
<blockquote><p>Australia is gearing up for what many see as the impending collapse of Papua New Guinea, the colony it gave independence to 31 years ago and the troubled South Pacific’s biggest country.</p>
<p>It’s been an amazing fall from grace.</p>
<p>At independence in 1975 PNG had a competent Australian-trained bureaucracy, was free from debt, had no external security threats and looked set to bring prosperity to its 1 million people from a marvelous array of natural resources that included gold, copper, silver, oil, gas, timber and abundant fisheries.</p>
<p>Despite around 10 billion Australian dollars (7.5 billion US dollars) of Australian aid since independence, PNG is now heavily in debt and unable to protect, let alone develop, its natural resources.</p>
<p>At the root of the problem is corruption on a mind-boggling scale.</p>
<p>Said Allan Patience, professor of political science at the University of Papua New Guinea: &#8216;Since independence, most politicians have regarded the national parliament as a means to amass personal fortunes. Most play the system for what they can get out of it personally. A few have been prosecuted. Even fewer have been imprisoned.’ </p></blockquote>
<p><a style="font-size:14px" href="http://news.monstersandcritics.com/asiapacific/article_1194368.php/Analysis_Papua_New_Guinea_careens_towards_chaos">Analysis: Papua New Guinea careens towards chaos</a></p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http:://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<p><a title="Technorati tag: png" href="http://technorati.com/tag/png">png</a>,
<a title="Technorati tag: papua new guinea" href="http://technorati.com/tag/papua-new-guinea">papua new guinea</a>,
<a title="Technorati tag: australia" href="http://technorati.com/tag/australia">australia</a>,
<a title="Technorati tag: corruption" href="http://technorati.com/tag/corruption">corruption</a>,
<a title="Technorati tag: chaos" href="http://technorati.com/tag/chaos">chaos</a></p>
 
