---
title: 'Ramtil Oil' 
date: "2006-08-26T08:50:38+10:00"
year: "2006"
category: Internet
tag: 
- infocomm
- simpletagged 
---
<p>Oh, you want to know what Ramtil oil is do you?</p>
<blockquote><p>Ramtil oil is used mainly in cooking but also for lighting. In India it is pressed from the seed of Guizotia oleifera of the family Asteraceae whilst a very similar oil is made in Africa from G. abyssinica.</p></blockquote>
<p>There you go, now you can&#39;t say you don&#39;t learn anything from this blog.</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: random" href="http://technorati.com/tag/random">random</a>,
<a title="Technorati tag: randomness" href="http://technorati.com/tag/randomness">randomness</a></p>
 
