---
title: 'Random Weirdness Spam' 
date: "2006-08-26T10:16:14+10:00"
year: "2006"
category: Internet
tag: 
- infocomm
- simpletagged
- spam 
---
<p><a href="//rubenerd.com/tag/spam/"><img src="https://rubenerd.com/files/uploads/media.spam.png" alt="View other posts tagged with spam." /></a></p>
<p><em>Ruben picks apart the useless spam he receives from the spamming spammers who spam him with their spammingly spammish spam. For all the spam he has picked apart, visit the <a href="//rubenerd.com/tag/spam/">spam category</a>… sounds like a Monty Python routine.</em></p>
<blockquote><p>and report every soul with whom he talked. Kim would deliver himselfcountry &#8211; his race &#8211; his village? Mussalman &#8211; Sikh Hindu Jain &#8211; lowto India with a whole sheep of Mahbub’s bounty. A sleek youngparticular desire to die by violence, because two or three familyare at feud on feud with one another. It is all illusion. Ay, maya,’Oh, be silent,’ whispered Kim; &#8216;are we Rajahs to throw away goodstore of money somewhere about them, but the Curator wished to makespeak of Him now! O people of Hitheir record. He drew in his breath as he turned helplessly over thesee’st thou?’ &#8216;And my lap full of seventy times seven bundles! Why notpiety and modern progress that is the note of India today. &#8216;As soon aswagged his head solemnly. &#8216;None shall take him from thee. Go, sitFlower and drinking wine as an Afghan coper should.’ He halted at theGovernment acts. But, recently, five confederated Kings, who had nohad gained when I bowed before the Law within there.’ He pointedhave not sought out. I know nothing &#8211; nothing do I know but I go tobetween excited men and excited beasts, sidled along the cloisters totravellers’ laugh turned against the banker. &#8216;Clean &#8211; to return againthat vast mass of &#8216;information received’ on which the Indian<br />
about altercate borosilicate debate</p></blockquote>
<p>Keh?</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a></p>
<p><a title="Technorati tag: internet weirdness" href="http://technorati.com/tag/weirdness">weirdness</a>,
<a title="Technorati tag: internet weird" href="http://technorati.com/tag/weird">weird</a>,
<a title="Technorati tag: internet stupid" href="http://technorati.com/tag/stupid">stupid</a>,
<a title="Technorati tag: internet spam" href="http://technorati.com/tag/spam/">spam</a>,
<a title="Technorati tag: internet junk email" href="http://technorati.com/tag/junk-email">junk email</a>,
<a title="Technorati tag: internet junk mail" href="http://technorati.com/tag/junk-mail">junk mail</a></p>
 
