---
title: 'Recognise That Typeface?' 
date: "2006-10-28T12:10:00+10:00"
year: "2006"
category: Media 
tag:
- fonts
- simpletagged
- typefaces 
---
<p>I&#39;ve gotta look into this! From <a href="http://www.kellistaley.com/2006/01/fun-with-fonts.html">&#39;Brary Web Diva</a>:</p>
<blockquote>
<p><a href="http://www.typepad.com/t/trackback/4080546">I Want To</a> linked to <a href="http://logo54.com/">Logo54.com</a> which allows you to use some very recognizable fonts to create your own logos!  Star Wars, Harry Potter, Monsters Inc, Ferrari, Yahoo, or Nintendo are available.</p>
<p>Imagine this on the publicity for your next computer class?</p>
<p><a href="https://static.flickr.com/33/89118739_546b5036d4.jpg?v=0"><img style="cursor: pointer; width: 320px;" src="https://static.flickr.com/33/89118739_546b5036d4.jpg?v=0" alt="" /></a></p>
<p>Or How about the publicity for your next hot teen program?<br /><a href="https://static.flickr.com/35/89118736_4d3d7caf47.jpg?v=0"><img style="cursor: pointer; width: 320px;" src="https://static.flickr.com/35/89118736_4d3d7caf47.jpg?v=0" alt="" /></a></p>
</blockquote>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: typefaces" href="http://technorati.com/tag/typefaces">typefaces</a>,
<a title="Technorati tag: fonts" href="http://technorati.com/tag/fonts">fonts</a>,
<a title="Technorati tag: retro" href="http://technorati.com/tag/retro">retro</a></p>
 
