---
title: 'Remove Go Button from Firefox 2.0' 
date: "2006-11-08T05:24:32+10:00"
year: "2006"
category: Software 
tag:
- guide
- howto
- infocomm
- simpletagged 
---
<p><img id="image476" src="https://rubenerd.com/files/uploads/firefox2.png" alt="Firefox 2.0" /></p>
<p>Whenever I&#39;d <a href="http://mozilla.com/">download Mozilla Firefox</a> the first thing I always did was remove the useless &quot;Go&quot; button and save myself some increasingly valuable screen real estate.</p>
<p>In Firefox 2.0 though for some unknown reason this <em>irritating as hell</em> little go button is stuck permanently on the side of the address bar, so going to the Customise Toolbar menu to remove the little blighter did diddley-squat. Thanks Ned Flanders.</p>
<p>However after some tweaking I found it can be done! Go to your address bar and type in <code>about:config</code>, then use the search bar in the new screen to locate <code>browser.urlbar.hideGoButton</code>. Double click this and the button will be out of your life, and your browser.</p>
<p>Why am I customising my Firefox 2.0 browser at 02:12 in the morning?!</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: firefox" href="http://technorati.com/tag/firefox">firefox</a>,
<a title="Technorati tag: firefox 2.0" href="http://technorati.com/tag/firefox-2.0">firefox 2.0</a>,
<a title="Technorati tag: mozilla firefox" href="http://technorati.com/tag/mozilla-firefox">mozilla firefox</a>,
<a title="Technorati tag: mozilla" href="http://technorati.com/tag/mozilla">mozilla</a></p>
 
