---
title: 'Retro Computer Museum' 
date: "2006-08-28T01:16:36+10:00"
year: "2006"
category: Software 
tag:
- gaming
- infocomm
- retro
- simpletagged 
---
<p><img src="https://rubenerd.com/files/uploads/media.commodoreCBM3032.jpg" alt="" /></p>
<p><a href="http://computermuseum.50megs.com/collection.htm">This website</a> is fascinating to look through if you&#39;re intro retro consoles and home microcomputers. He&#39;s got the Sinclairs, Commodores, Apples, Ataris, Radio Shack machines… the list goes on, all with large, full colour photgraphs.</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: computers" href="http://technorati.com/tag/computers">computers</a>,
<a title="Technorati tag: microcomputers" href="http://technorati.com/tag/microcomputers">microcomputers</a>,
<a title="Technorati tag: consoles" href="http://technorati.com/tag/consoles">consoles</a>,
<a title="Technorati tag: gaming consoles" href="http://technorati.com/tag/gaming-consoles">gaming consoles</a>,
<a title="Technorati tag: retro" href="http://technorati.com/tag/retro">retro</a>,
<a title="Technorati tag: commodore" href="http://technorati.com/tag/commodore">commodore</a>,
<a title="Technorati tag: amiga" href="http://technorati.com/tag/amiga">amiga</a>,
<a title="Technorati tag: atari" href="http://technorati.com/tag/atari">atari</a>,
<a title="Technorati tag: acorn" href="http://technorati.com/tag/acorn">acorn</a>,
<a title="Technorati tag: radio shack" href="http://technorati.com/tag/radio-shack">radio shack</a>,
<a title="Technorati tag: classic" href="http://technorati.com/tag/classic">classic</a>,
<a title="Technorati tag: 1980s" href="http://technorati.com/tag/1980s">1980s</a>,
<a title="Technorati tag: 80s" href="http://technorati.com/tag/80s">80s</a>,
<a title="Technorati tag: museum" href="http://technorati.com/tag/museum">museum</a>,
<a title="Technorati tag: history" href="http://technorati.com/tag/history">history</a></p>
 
