---
title: 'Revisiting The Venerable A Tag' 
date: "2006-09-02T04:10:20+10:00"
year: "2006"
category: Internet
tag: 
- infocomm
- simpletagged 
---
<p><a href="http://w3c.org"><img style="padding: 5px 10px; background:#FFF" src="https://rubenerd.com/files/uploads/media.w3c_main.png" alt="" /></a></p>
<p>We all use it in HTML all the time, but there are so much more you can do with the venerable &lt;a&gt; tag:
- internet</p>
<p><a style="font-size:14px" href="http://www.w3.org/TR/xhtml11/struct/links.html">W3C XHTML 1.1 Links Structure</a><br />
<a style="font-size:14px" href="http://www.w3.org/TR/html4/struct/links.html">W3C HTML 4 Links Structure</a></p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<p><a title="Technorati tag: w3c" href="http://technorati.com/tag/w3c">w3c</a>,
<a title="Technorati tag: a href" href="http://technorati.com/tag/a-href">a href</a>,
<a title="Technorati tag: links" href="http://technorati.com/tag/links">links</a>,
<a title="Technorati tag: hyperlinks" href="http://technorati.com/tag/hyperlinks">hyperlinks</a></p>
 
