---
title: 'Ruben is Romantic: Quizilla' 
date: "2006-08-31T09:05:22+10:00"
year: "2006"
category: Internet
tag: 
- infocomm
- simpletagged 
---
<p><a href="http://quizilla.com/users/coreina/quizzes/%09~THE%20big%20LOVE%20TEST!!%20What%20do%20you%20need%3F%20With%20PICS!%20For%20girls%20and%20boys!~/"><img src="https://rubenerd.com/files/uploads/media.1080319597_ilderaaaa3.jpg" style="width:230px" alt="The result: A romantic!?" /></a></p>
<p>Okay so <em>somebody</em> who will remain anomymous (cough)Oracle in Singapore(cough) asked me to <a href="http://quizilla.com/users/coreina/quizzes/%09~THE%20big%20LOVE%20TEST!!%20What%20do%20you%20need%3F%20With%20PICS!%20For%20girls%20and%20boys!~/">do this test</a>. What sort if person did they say I was?</p>
<blockquote><p><strong>THE ROMANTIC</strong></p>
<p>The most most most important for you is that she is romantic. You love it to get/give love letters, red roses or just to be in a romantic atmosphere. She must make you think that you are the most beautiful and most important person in the world. Your heart is soft and pure and you would never cheat as long as you love your partner. If he would cheat you, you would not hide your feelings, but show your opposite how much she hurt you because you trusted in her and never thought she could do this to you.</p>
<p>TIP: Don’t believe everything. You tend to be much to credulous in some situations!</p></blockquote>
<p>And he&#39;s single ladies!</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: test" href="http://technorati.com/tag/test">test</a>,
<a title="Technorati tag: quizilla" href="http://technorati.com/tag/quizilla">quizilla</a>,
<a title="Technorati tag: quiz" href="http://technorati.com/tag/quiz">quiz</a></p>
 
