---
title: 'Ruben Doesn’t Escape Winter Cold Part 2' 
date: "2006-09-04T11:38:52+10:00"
year: "2006"
category: Thoughts 
tag: 
- personal
- simpletagged 
---
<p><a href="https://www.flickr.com/photos/rubenerd/232353903/"><img src="https://static.flickr.com/92/232353903_f5f5882012.jpg?v=0" alt="" /></a><br />
<em>Click thumbnail for my Flickr page</em></p>
<p>You remember <a href="//rubenerd.com/?p=316">yesterday I posted</a> about how I had a bad cold? Well today it feels 10 times worse, really bad headache and really sore eyes. You might not be getting as many posts today :(.</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: common cold" href="http://technorati.com/tag/common-cold">common cold</a>,
<a title="Technorati tag: flu" href="http://technorati.com/tag/flu">flu</a>,
<a title="Technorati tag: sickness" href="http://technorati.com/tag/sickness">sickness</a>,
<a title="Technorati tag: soothers" href="http://technorati.com/tag/soothers">soothers</a>,
<a title="Technorati tag: blackberry" href="http://technorati.com/tag/blackberry">blackberry</a>,
<a title="Technorati tag: kleenex" href="http://technorati.com/tag/kleenex">kleenex</a>,
<a title="Technorati tag: tussies" href="http://technorati.com/tag/tussies">tussies</a>,
<a title="Technorati tag: vitamin c" href="http://technorati.com/tag/vitamin-c">vitamin c</a>,
<a title="Technorati tag: lemsip" href="http://technorati.com/tag/lemsip">lemsip</a>,
<a title="Technorati tag: lemsip max" href="http://technorati.com/tag/lemsip-max">lemsip max</a></p>
 
