---
title: 'Rubenerd Fugly Car Awards!' 
date: "2006-11-10T05:32:44+10:00"
year: "2006"
category: Thoughts 
tag: 
- environment
- funny
- nonsense
- rant
- simpletagged 
---
<p><img style="float:right; margin-left:20px" id="image490" src="https://rubenerd.com/files/uploads/2007_toyota_fj_cruiser.jpg" alt="2007_toyota_fj_cruiser.jpg" /></p>
<p>And the Rubenerd award for the fugliest car of the year goes to: the Toyota FJ Cruiser mini SUV!</p>
<p>If you love SUV&#39;s but hate their thirst for oceans of expensive premium petrol and the dents they leave in your driveway when they&#39;re parked there for more than 5 minutes at a time, you&#39;ll love the FJ Cruiser! Comes with two doors that look out of place, rear windows that end in an awquard place, and bodywork lines that don&#39;t have a place! You won&#39;t want to be seen in any place or place this car in any place when you have the FJ Cruiser!</p>
<p>Seriously though, who designed this car? Surely you couldn&#39;t get this Toyota in Asia… could you?</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: toyota" href="http://technorati.com/tag/toyota">toyota</a>,
<a title="Technorati tag: suv" href="http://technorati.com/tag/suv">suv</a>,
<a title="Technorati tag: environment" href="http://technorati.com/tag/environment">environment</a>,
<a title="Technorati tag: fuel" href="http://technorati.com/tag/fuel">fuel</a>,
<a title="Technorati tag: petrol" href="http://technorati.com/tag/petrol">petrol</a></p>
 
