---
title: 'Rubenerd Blog On Hold' 
date: "2006-08-30T12:00:00+10:00"
year: "2006"
category: Media 
tag:
- new-time-radio
- podcasting
- simpletagged
- weblog 
---
<p><img src="https://rubenerd.com/files/uploads/logo.xml144.png" alt="Rubenerd Show" style="height:144px; width:144px; border:0px;" /></p>
<p>Hey everyone,</p>
<p>I am in the process of moving to <a href="http://kualalumpur.gov.my/">Kuala Lumpur</a> as we speak, and my mixer board, microphone and other audio equipment has been packed up to ship. Until I&#39;m settled in Malaysia and with all my equipment set up again, the <a href="//rubenerd.com/category/show/">show</a> has been put on hiatus. For the next week if you&#39;re still interested why not check out some <a href="//rubenerd.com/category/show/">previous episodes</a>?</p>
<p>The <a href="//rubenerd.com/">Rubenerd Blog</a> will continue as per normal. Well, as normal as it usually is.</p>
<p>Thanks everyone for your support, I&#39;ll be back on the internet airwaves soon!</p>
<p>Cheers,<br />
<em><a href="//rubenerd.com/about/">Ruben</a></em></p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http:://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<p><a title="Technorati tag: moving" href="http://technorati.com/tag/moving">moving</a>,
<a title="Technorati tag: podcast" href="http://technorati.com/tag/podcast">podcast</a>,
<a title="Technorati tag: on hold" href="http://technorati.com/tag/on-hold">on hold</a>,
<a title="Technorati tag: rubenerd show" href="http://technorati.com/tag/rubenerd-show">rubenerd show</a>,
<a title="Technorati tag: rubenerd blog" href="http://technorati.com/tag/rubenerd-blog">rubenerd blog</a>,
<a title="Technorati tag: ruben schade" href="http://technorati.com/tag/ruben-schade">ruben schade</a>,
<a title="Technorati tag: malaysia" href="http://technorati.com/tag/malaysia">malaysia</a>,
<a title="Technorati tag: australia" href="http://technorati.com/tag/australia">australia</a></p>
 
