---
title: 'Rubenerd Technorati Tags Update' 
date: "2006-09-02T06:24:19+10:00"
year: "2006"
category: Media 
tag:
- new-time-radio
- podcasting
- simpletagged
- weblog 
---
<p><img style="padding: 5px 10px; background:#FFF" src="https://rubenerd.com/files/uploads/media.technorati.png" alt="Technorati" /></p>
<p>Today while I have some spare time I&#39;m going to be adding Technorati tags to some of my <a href="//rubenerd.com/?page_id=31">older posts</a> that I typed up before I installed the <a href="//rubenerd.com/?p=267">Technorati Tag Plugin</a>, so the speed of the site might be a bit slower for an hour or so.</p>
<p>A public service announcement by the <a href="//rubenerd.com/show/">Rubenerd Show</a> and <a href="//rubenerd.com/">Rubenerd Blog</a> ;).</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: technorati" href="http://technorati.com/tag/technorati">technorati</a>,
<a title="Technorati tag: blog" href="http://technorati.com/tag/blog">blog</a>,
<a title="Technorati tag: data independence" href="http://technorati.com/tag/data-independence">data independence</a>,
<a title="Technorati tag: rubenerd" href="http://technorati.com/tag/rubenerd">rubenerd</a></p>
 
