---
title: 'Rubenerd Forum Finally Fixed!' 
date: "2006-11-19T07:25:04+10:00"
year: "2006"
category: Software 
tag:
- browsers
- infocomm
- new-time-radio
- php
- podcasting
- scripting
- simpletagged
- vanilla-forum
- weblog 
---
<p><a href="http://getvanilla.com/"><img style="float:right; margin: 0 0 10px 20px" id="image518" src="https://rubenerd.com/files/uploads/fetch.gif" alt="Vanilla Forum Software" /></a><em><a href="//rubenerd.com/show/forum/comments.php?DiscussionID=31&#038;page=1#Item_4">Originally posted on the Rubenerd Forum</a></em></p>
<p>Well it&#39;s almost 04:30am here in <a href="//rubenerd.com/show/articles/kuala-lumpur/">KL</a>, and I figured out what the darned problem was in <a href="http://ie7.com/">Internet Explorer</a>!</p>
<p>Brace yourselves! It was… a <code>&lt;div&gt;</code> tag that wasn&#39;t closed! That&#39;s it! I reinstalled the database, I uploaded all the server files twice, I rewrote all the CSS, and it was because I forgot to close a <code>&lt;div&gt;</code> tag. AAARGH! <a href="http://getfirefox.com/">Firefox</a> must have been more forgiving when it encountered my crappy code extensions; in any event for once it wasn&#39;t Internet Explorer&#39;s fault, it was entirely my own!</p>
<p>Tinkering around though with this <a href="http://getvanilla.com/">Vanilla Forum</a> software though I learned a lot, so it wasn&#39;t a complete waste. I figured out how to use the language customisation features, so now we can all bask in the glory that is Aussie/British spelling! I&#39;m so old fashioned :wink:.</p>
<p>I also changed the theme to one that takes up much less screen space.</p>
<p>Let me all know what you think and if you have any further problems. It was exhausting, but in a way I&#39;m glad it happened, I&#39;ve learned so much about Internet Explorer CSS hacks, and how to customise Vanilla Forum software.</p>
<p>Cheers,<br />
<cite><a href="//rubenerd.com/about">Ruben</a></cite></p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http:://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: bbs" href="http://technorati.com/tag/bbs">bbs</a>,
<a title="Technorati tag: web forum" href="http://technorati.com/tag/web-forum">web forum</a>,
<a title="Technorati tag: vanilla forum" href="http://technorati.com/tag/vanilla-forum">vanilla forum</a>,
<a title="Technorati tag: lussumo" href="http://technorati.com/tag/lussumo">lussumo</a></p>
 
