---
title: 'Ruben’s Saturday Night Beer Review: Carlsberg' 
date: "2006-02-26T12:43:13+10:00"
year: "2006"
category: Thoughts 
tag: 
- beer
- drinks
- reviews
---
<p><strong>Some people drink beer like water with little regard for its taste, for the sake of getting smashed only to wake up on Sunday with no idea what they did. Ruben doesn&#39;t do this. So in this space Ruben celebrates Saturday night in his own style.</strong></p>
<p>Today&#39;s brew: Carlsberg.</p>
<blockquote>
<p>By Appointment to the Royal Danish Court<br />
Carlsberg Beer<br />
Copenhagen &#8211; Denmark</p>
</blockquote>
<p>First, I have to say the new Carlsberg bottles look pretty swish. There&#39;s no indent between the two halves of the and the labels are transparent, it just makes it look so much more refined. One bottle contains approx 1.3 standard drinks, which for a VERY light drinker like me is ample for one day.</p>
<p>As for the taste, from the first sip you can tell this is a very full beer, the flavour is very pronounced. Its a bit more bitter compared to some others I&#39;ve had which makes it much more interesting to drink. It&#39;s the opposite of watery; the flavour is fairly rich and smooth.</p>
<p>I used to live in Singapore, and Carlsberg there is almost the equivalent to VB here in South Australia… lots of people drink it despite being an &#39;import&#39; (as opposed to Coopers).</p>
<p>Now I have fairly limited experience with beer, and disagree if you wish, but I give this 4 stars. I&#39;m impressed.</p>
<p>Kevin (one of my roommates) likes it too. Then again, he&#39;s from Singapore!</p>
 
