---
title: 'Ruben Doesn’t Escape Winter Cold' 
date: "2006-09-03T03:51:08+10:00"
year: "2006"
category: Thoughts 
tag: 
- personal
- simpletagged 
---
<p><a href="https://www.flickr.com/photos/rubenerd/232353903/"><img src="https://static.flickr.com/92/232353903_f5f5882012.jpg?v=0" alt="" /></a><br />
<em>Click thumbnail for my Flickr page</em></p>
<p>Damn it, I thought I was going so well but yesterday I was bit sniffly, today I&#39;ve woken up with a sore throat, red eyes, food tastes weird, blocked up nose and ears… so much fun!</p>
<p>So I walked down to the <a href="http://en.wikipedia.org/wiki/Mawson_Lakes">Mawson Lakes</a> <a href="http://woolworths.com.au/">Woolies</a> and got me some remedies: <a href="http://nestle.com.au/Products/Remedies/Soothers/">Soothers lozenges</a> for the sore throat, <a href="http://lemsip.com/">Lemsip Max</a>, <a href="http://cenovis.com.au">Vitamin C tablets</a>, <a href="http://kleenex.com.au">Kleenex pocket tissues</a>, a steaming cup of coffee from the <a href="http://theboatdeck.com.au/">Boatdeck Cafe</a> and a <a href="http://blackberry.com">Blackberry</a>… that&#39;s turned off! Let&#39;s see how it works.</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: common cold" href="http://technorati.com/tag/common-cold">common cold</a>,
<a title="Technorati tag: flu" href="http://technorati.com/tag/flu">flu</a>,
<a title="Technorati tag: sickness" href="http://technorati.com/tag/sickness">sickness</a>,
<a title="Technorati tag: soothers" href="http://technorati.com/tag/soothers">soothers</a>,
<a title="Technorati tag: blackberry" href="http://technorati.com/tag/blackberry">blackberry</a>,
<a title="Technorati tag: kleenex" href="http://technorati.com/tag/kleenex">kleenex</a>,
<a title="Technorati tag: tussies" href="http://technorati.com/tag/tussies">tussies</a>,
<a title="Technorati tag: vitamin c" href="http://technorati.com/tag/vitamin-c">vitamin c</a>,
<a title="Technorati tag: lemsip" href="http://technorati.com/tag/lemsip">lemsip</a>,
<a title="Technorati tag: lemsip max" href="http://technorati.com/tag/lemsip-max">lemsip max</a></p>
 
