---
title: 'Rubenerd Logos Done!' 
date: "2006-09-06T04:00:30+10:00"
year: "2006"
category: Media 
tag:
- new-time-radio
- podcasting
- simpletagged
- weblog 
---
<p>It&#39;s now official, the Rubenerd Show, Rubenerd Blog, and the beta Rubenerd Fusion sites all have matching logos!</p>
<p><a href="//rubenerd.com/show/"><img src="https://rubenerd.com/files/uploads/blog.show240.png" alt="Rubenerd Show" /></a> <a href="//rubenerd.com/"><img src="https://rubenerd.com/files/uploads/blog.blog240.png" alt="Rubenerd Blog" /></a></p>
<p>I hope you like them :D.</p>
<p>I&#39;m welcoming any feedback to the images on the comments page for this post or over at the <a href="//rubenerd.com/show/forum/">Rubenerd Forum</a> if you particualrly like or loathe them. All [constructive] comments welcome.</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: rubenerd" href="http://technorati.com/tag/rubenerd">rubenerd</a>,
<a title="Technorati tag: rubenerd show" href="http://technorati.com/tag/rubenerd-show">rubenerd show</a>,
<a title="Technorati tag: rubenerd blog" href="http://technorati.com/tag/rubenerd-blog">rubenerd blog</a>,
<a title="Technorati tag: rubenerd fusion" href="http://technorati.com/tag/rubenerd-fusion">rubenerd fusion</a>,
<a title="Technorati tag: ruben schade" href="http://technorati.com/tag/ruben-schade">ruben schade</a>,
<a title="Technorati tag: ruben" href="http://technorati.com/tag/ruben">ruben</a>,
<a title="Technorati tag: schade" href="http://technorati.com/tag/schade">schade</a>,
<a title="Technorati tag: logos" href="http://technorati.com/tag/logos">logos</a>,
<a title="Technorati tag: marketing" href="http://technorati.com/tag/marketing">marketing</a>,
<a title="Technorati tag: images" href="http://technorati.com/tag/images">images</a></p>
 
