---
title: 'Ruben Can’t Read Japanese' 
date: "2006-03-17T03:55:35+10:00"
year: "2006"
category: Anime 
tag:
- books
- japanese
- manga
- mizuno-ami
- sailor-mercury
- sailor-moon
---
<p>In the last few years my passing interest in anime and manga has increased slightly and I&#39;m starting to become more interested in different series&#39;s, more along the lines of the Sci-Fi oriented shows and books. R.U.B.E.N. with the U taken out and the B turned into a D is N.E.R.D.</p>
<p>Sailor Moon was the first one I saw and the only one of that type I ever really watched, (most guys saw DragonBallZ first, yes I know) so when I saw a special for one of the earlier manga volumes, I was interested.</p>
<p><img src='//rubenerd.com/files/uploads/animenation_1888_42271262.jpg' alt='Cover from a volume of the Sailor Moon manga' /></p>
<p>Took me a few seconds to realise it was entirely in Japanese, which would be <strong>really</strong> useful to me!</p>
 
