---
title: 'Rubenerd Show Back on Tuesday' 
date: "2006-10-22T07:05:26+10:00"
year: "2006"
category: Media 
tag:
- new-time-radio
- podcasting
- simpletagged 
---
<p><a href="//rubenerd.com/category/show/"><img src="https://rubenerd.com/files/uploads/logo.show144.png" alt="Rubenerd Show" /></a></p>
<p>I must appologise again for the week long Rubenerd Show Fast, problems at home have been making it more difficult than I thought to release the shows. I have been very worried about my mum recently and the show hasn&#39;t been the number 1 priority over the last few days, as you can understand.</p>
<p>I&#39;ve scheduled <em>Tuesday the 24th of October</em> (of this week) for Rubenerd Show 171. In the meantime if you&#39;re starved for audio entertainment you could check out the <a href="//rubenerd.com/show/category/show/">Rubenerd Show archives</a>, or even give <a href="http://crapandstuff.com/">Crap and Stuff</a> or any of the other fine <a href="http://newtimeradio.com/">New Time Radio</a> programmes a look-see if you haven&#39;t had the chance too.</p>
<p>Thanks everyone for your patience and understanding, you all rock.</p>
<p>Cheers,<br />
<cite><a href="//rubenerd.com/about/">Ruben</a></cite></p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: rubenerd show" href="http://technorati.com/tag/rubenerd-show">rubenerd show</a>,
<a title="Technorati tag: rubenerd" href="http://technorati.com/tag/rubenerd">rubenerd</a>,
<a title="Technorati tag: new time radio" href="http://technorati.com/tag/new-time-radio">new time radio</a>,
<a title="Technorati tag: new-time radio" href="http://technorati.com/tag/new-time-radio">new-time radio</a></p>
 
