---
title: 'Rubenerd Blog Maintenance' 
date: "2006-09-23T09:51:01+10:00"
year: "2006"
category: Internet
tag: 
- infocomm
- personal
- simpletagged
- weblog 
---
<p><a href="//rubenerd.com/"><img src="https://rubenerd.com/files/uploads/blog.blog240.png" alt="Rubenerd Blog" /></a></p>
<p>If you&#39;ve been browsing the Rubenerd Blog in the last hour or so you&#39;d notice things are looking a bit different. Now before you roll your eyes and think &quot;here he goes changing things again!&quot; let me explain.</p>
<p>The problem with the old skin was that looked okay on the surface, but the underlying theme was hacked to bits and painfully difficult to upgrade. So to make my life easier I&#39;ve changed the underlying skin to <a href="http://www.plaintxt.org/themes/sandbox/">Sandbox</a> and separated my custom changes from the theme so upgrades are MUCH faster and easier.</p>
<p>Due to the fact I&#39;m working on this as we speak for the rest of this weekend there may some quirks; don&#39;t worry this isn&#39;t the final version!</p>
<p>If you notice anything fishy or stuffed up, <a href="//rubenerd.com/forum-explanation/">I&#39;d appreciate any feedback</a>.</p>
<p>Cheers and thanks for your patience!<br />
Ruben</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: sandbox" href="http://technorati.com/tag/sandbox">sandbox</a>,
<a title="Technorati tag: wordpress" href="http://technorati.com/tag/wordpress">wordpress</a>,
<a title="Technorati tag: wordpress themes" href="http://technorati.com/tag/wordpress-themes">wordpress themes</a>,
<a title="Technorati tag: wordpress skins" href="http://technorati.com/tag/wordpress-skins">wordpress skins</a>,
<a title="Technorati tag: lightweight wordpress themes" href="http://technorati.com/tag/lightweight-wordpress-themes">lightweight wordpress themes</a>,
<a title="Technorati tag: lightweight" href="http://technorati.com/tag/lightweight">lightweight</a>,
<a title="Technorati tag: plaintext.org" href="http://technorati.com/tag/plaintext.org">plaintext.org</a>,
<a title="Technorati tag: plaintext" href="http://technorati.com/tag/plaintext">plaintext</a>,
<a title="Technorati tag: maintenance" href="http://technorati.com/tag/maintenance">maintenance</a></p>
 
