---
title: 'Run Your Screensaver As Desktop Background' 
date: "2006-09-10T02:40:46+10:00"
year: "2006"
category: Software 
tag:
- apple
- infocomm
- simpletagged 
---
<p><img src="https://rubenerd.com/files/uploads/media.Tiger-retail-new-boxes.gif" alt="" /></p>
<p>If you are running Mac OS X Jaguar or later (including Intel Macs) you can run your screensaver as your desktop background!</p>
<p>Just type:</p>
<blockquote><p>/System/Library/Frameworks/ScreenSaver.framework/Resources/<br />
ScreenSaverEngine.app/Contents/MacOS/ScreenSaverEngine -background &amp;</p></blockquote>
<p>Remember to remove the carriage return after /Resources/!</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: mac os x" href="http://technorati.com/tag/mac-os-x">mac os x</a>,
<a title="Technorati tag: desktop" href="http://technorati.com/tag/desktop">desktop</a>,
<a title="Technorati tag: screen saver" href="http://technorati.com/tag/screen-saver">screen saver</a></p>
 
