---
title: 'Sailor Moon Season One DVD Reviewed' 
date: "2006-08-31T08:17:25+10:00"
year: "2006"
category: Anime 
tag: 
- japanese
- sailor-moon
- simpletagged
- television 
---
<p><img src="https://rubenerd.com/files/uploads/media.smoon-15.jpg" alt="" /></p>
<p>Like Speed Racer and Dragonball Z, I remember watching Sailor Moon as a kid getting ready for school first thing in the morning on Agro&#39;s Cartoon Connection when we lived in <a href="http://en.wikipedia.org/wiki/Brisbane">Brisbane</a>. Whatever happened to that show? They screened (unfortunately) the english dub.</p>
<p>Anyway one of my favourite blogs to read <a href="http://needcoffee.com/">Need Coffee</a> (the name originally drew me to it!) posted <a href="http://www.needcoffee.com/updates/2005/04/15/sailor-moon-season-1-uncut-dvd-review/">this review</a> regarding the first original uncut season on DVD:</p>
<blockquote><p>One of the truly interesting things about this series is that Usagi, while annoying at times, is so imperfect. How tiresome is it to have only perfect heroes all the time? Usagi is a clutz, doesn’t do very well in school, and is more than a little silly; she prefers shopping and playing video games to saving the universe, but that’s what makes her so approachable as a heroine. She’s normal.</p>
<p>In short, if you’re a Pretty Soldier Sailor Moon fan, this set is an absolute must-have. If you’ve never quite gotten into this show before, then check it out now; the inclusion of the missing dialogue and scenes make the whole thing more intelligible, though no less fun. There’s something here for many kinds of fans, from romantic comedy to science fiction or even mystery. From middle aged men to young girls, there’s just something about Usagi and her friends that appeals to people, once they give her a chance. Even if this show stays in the &#8220;guilty pleasure&#8221; category, let Tuxedo Kamen, Luna, Rei, and the rest take you for a very wild and action-packed ride.</p></blockquote>
<p><img src="https://rubenerd.com/files/uploads/media.0076024128a0cefe61579010.jpg" alt="Sailor Moon DVD cover." /></p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: sailor moon" href="http://technorati.com/tag/sailor-moon">sailor moon</a>,
<a title="Technorati tag: pssm" href="http://technorati.com/tag/pssm">pssm</a>,
<a title="Technorati tag: agro" href="http://technorati.com/tag/agro">agro</a>,
<a title="Technorati tag: sailor moon season 1 uncut dvd" href="http://technorati.com/tag/sailor-moon-season-1-uncut-dvd">sailor moon season 1 uncut dvd</a>,
<a title="Technorati tag: anime" href="http://technorati.com/tag/anime">anime</a>,
<a title="Technorati tag: manga" href="http://technorati.com/tag/manga">manga</a>,
<a title="Technorati tag: tv" href="http://technorati.com/tag/tv">tv</a>,
<a title="Technorati tag: television" href="http://technorati.com/tag/television">television</a>,
<a title="Technorati tag: review" href="http://technorati.com/tag/review">review</a></p>
 
