---
title: 'Security Now! Feedback' 
date: "2006-09-12T05:38:40+10:00"
year: "2006"
category: Software 
tag:
- infocomm
- new-time-radio
- podcasting
- security
- security-now
- simpletagged
- twit 
---
<p><a href="http://grc.com/securitynow/"><img src="https://rubenerd.com/files/uploads/media.securitynow.png" alt="Security Now." /></a></p>
<p>My feedback to Steve Gibson and Leo Laporte for the <a href="http://grc.com/securitynow/">Security Now!</a> podcast.</p>
<p>
<blockquote><p>G&#39;day Steve and Leo!</p>
<p>Long time listener but first time emailer. Just wanted to say I thoroughly enjoy your podcast and look forward to it each week. I&#39;m in my first year of uni doing Computer Science and Economics in Malaysia and Singapore where my nuclear family live as expats and its comforting to hear native English speakers above everything else too… I&#39;m an Aussie ;)</p>
<p>In regards to your latest Q&amp;A episode I took great interest in your brief discussion of Smoothwall and have since deployed it for my family. More than anything else it&#39;s a great way to occupy a Pentium MMX machine that would otherwise just sit in a closet. I&#39;m a Mac user and tried it out first in Parallels Desktop and was very impressed with the installation, and the built in DHCP server also works like a charm. Like you said Steve I think these programs are great for people who want to get their hands dirty rather than just purchasing a router. Thanks for the tip :).</p>
<p>Also in regards to your latest episode regarding to the culpability of Microsoft when it comes to Windows security, I do take slight issue. I think it&#39;s easy to blame problems with Windows on its large user base, but one of the favourite comparisons I see when this issue is raised is the Apache versus IIS exploits. Despite the fact Apache is installed on many many many more machines, it appears IIS continuously has more issues. If that is a result of people targeting evil Microsoft versus open source I guess is a matter for debate! Again this could be showing my lack of knowlege in this area, but I think it&#39;s hard to ignore.</p>
<p>I had a quick question I thought you might know something about: one of the subjects this semester I&#39;m studying is internet technology. An interesting point that was raised in a class last week was about a &quot;processor monoculture&quot;, now that Apple has moved over to Intel processors and even Sun offer alternatives to their SPARC architecture, do you think this poses a security risk? My lecturer was comparing computers to biology in that ecosystems with a variety of organisms are more resilient to disease than than ecosystems with less biodiversity. Now that it seems we&#39;re all moving towards a universal chip architecture with (mostly) the ubiquitous Windows operating system, are we actually moving in the wrong direction and making ourselves more vulernable? A Wintel virus thesedays can cause enourmous havoc across the planet, but a modern Amiga Workbench virus launched on the net would have very little effect. I hope I&#39;m making sense!</p>
<p>Anyway awesome show, looking forward to next episode. In regards to Amber McArthur Steve, at least you did get to hug her, unlike some of us ;).</p>
<p>Cheers,<br />
Ruben</p></blockquote>
<p><a style="font-size:14px" href="http://grc.com/securitynow/">Security Now! Podcast</a></p>

<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: steve gibson" href="http://technorati.com/tag/steve-gibson">steve gibson</a>,
<a title="Technorati tag: gibson research" href="http://technorati.com/tag/gibson-research">gibson research</a>,
<a title="Technorati tag: twit" href="http://technorati.com/tag/twit">twit</a>,
<a title="Technorati tag: this week in tech" href="http://technorati.com/tag/this-week-in-tech">this week in tech</a>,
<a title="Technorati tag: leo laporte" href="http://technorati.com/tag/leo-laporte">leo laporte</a>,
<a title="Technorati tag: security now" href="http://technorati.com/tag/security-now">security now</a>,
<a title="Technorati tag: security now!" href="http://technorati.com/tag/security-now!">security now!</a>,
<a title="Technorati tag: podcast" href="http://technorati.com/tag/podcast">podcast</a>,
<a title="Technorati tag: podcasting" href="http://technorati.com/tag/podcasting">podcasting</a>,
<a title="Technorati tag: rubenerd blog" href="http://technorati.com/tag/rubenerd-blog">rubenerd blog</a>,
<a title="Technorati tag: ruben schade" href="http://technorati.com/tag/ruben-schade">ruben schade</a>,
<a title="Technorati tag: ruben" href="http://technorati.com/tag/ruben">ruben</a>,
<a title="Technorati tag: schade" href="http://technorati.com/tag/schade">schade</a></p>
 
