---
title: 'Singapore on Flickr' 
date: "2006-11-08T01:45:38+10:00"
year: "2006"
category: Travel
tag:
- dead-links
- photos
- simpletagged
- singapore 
- updated
---
<p>I&#39;m addicted to <a href="https://flickr.com/photos/rubenerd/">Flickr</a>! I&#39;ve been looking through photos for ages and wasting so much time! Yesterday I posted some of my <a href="https://rubenerd.com/kuala-lumpur-on-flickr/">favourite Kuala Lumpur Flickr photos</a>, so I thought it would be fitting to put some of my favourite Singapore ones on now.</p>

<p><a href="https://rubenerd.com/files/2006/171117041_78e5b069d9_k.jpg"><img src="https://rubenerd.com/files/2016/171117041_34b7d1e0f7_o.jpg" alt="The Singapore skyline from the Oriental Hotel across the bay." srcset="https://rubenerd.com/files/2016/171117041_34b7d1e0f7_o.jpg 1x, https://rubenerd.com/files/2016/171117041_34b7d1e0f7_o@2x.jpg 2x" style="width:500px; height:375px" /></a><br />
The Singapore skyline from the Oriental Hotel across the bay.<br />
<em>By <a href="https://flickr.com/furtives/171117041/in/set-72157594181184289/">furtive</a></em></p>

<p><a href="https://rubenerd.com/files/2006/35077707_6c8d3ac170_o.jpg"><img src="https://rubenerd.com/files/2016/35077707_6c8d3ac170.jpg" alt="Singapore is such a small big place. Or a big small place." srcset="https://rubenerd.com/files/2016/35077707_6c8d3ac170.jpg 1x, https://rubenerd.com/files/2016/35077707_6c8d3ac170@2x.jpg 2x" style="width:500px; height:375px" /></a><br />
Singapore is such a small big place. Or a big small place.<br />
<em>By <a href="https://flickr.com/photos/petergarnhum/35077707/">Peter Garnhum</a></em></p>

<p><span style="font-style:italic">(Update 2021: Account no longer exists)</span><br />
Looking out from the Esplanade<br />
<em>By <a href="https://flickr.com/photos/67335709@N00/">StarvingFox</a></em></p>

<p><span style="font-style:italic">(Update 2021: Account no longer exists)</span><br />
The OUB Building<br />
<em>By <a href="https://flickr.com/photos/sachinchitale/">sachinchitale</a></em></p>

<p><span style="font-style:italic">(Update 2021: Account no longer exists)</span><br />
The Esplanade, Suntec City, Centennial Tower, Millennia Tower<br />
<em>By <a href="https://flickr.com/photos/batschge/">BATSCHGE!</a></em></p>

<p><span style="font-style:italic">(Update 2021: Account no longer exists)</span><br />
Singapore is full of Sushi bars… mmm… Sushi.<br />
<em>By <a href="https://flickr.com/photos/victoriachan/180640032/">victoriachan</a></em></p>

<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag:
- media photos" href="http://technorati.com/tag/photos">photos</a>,
<a title="Technorati tag:
- media photography" href="http://technorati.com/tag/photography">photography</a>,
<a title="Technorati tag:
- media skyline" href="http://technorati.com/tag/skyline">skyline</a>,
<a title="Technorati tag:
- media asia" href="http://technorati.com/tag/asia">asia</a>,
<a title="Technorati tag:
- media south-east asia" href="http://technorati.com/tag/south-east-asia">south-east asia</a>,
<a title="Technorati tag:
- media south east asia" href="http://technorati.com/tag/south-east-asia">south east asia</a>,
<a title="Technorati tag:
- media singapore" href="http://technorati.com/tag/singapore">singapore</a>,
<a title="Technorati tag:
- media singapore city" href="http://technorati.com/tag/singapore-city">singapore city</a></p>
 
