---
title: 'Singapore Sushi Bars' 
date: "2006-11-08T07:36:17+10:00"
year: "2006"
category: Media 
tag:
- japanese
- photos
- simpletagged
- singapore
- typefaces 
---
<p>As you may have seen on earlier posts about <a href="//rubenerd.com/kuala-lumpur-on-flickr/">Kuala Lumpur</a> and <a href="//rubenerd.com/singapore-on-flickr/">Singapore</a>, I&#39;m currently suffering from a Flickr photo addiciton. I&#39;ve been spending hours looking through photos!</p>
<p>It seems though every second Singapore picture I find has something to do with sushi! Mmm… :D</p>
<p><a href="https://flickr.com/photos/ez2axs/168843637/"><img src="https://static.flickr.com/59/168843638_ce78faea1d_m.jpg" alt="" /></a><br />
Sushi Don is one of my favourite chains of Sushi bars in Singapore<br />
<em>By <a href="https://flickr.com/photos/ez2axs/">ez2axs</a></em></p>
<p><a href="https://flickr.com/photos/ez2axs/168843637/in/photostream/"><img src="https://static.flickr.com/48/168843637_f4477f8f0c_m.jpg" alt="" /></a><br />
I like the Sushi Don typeface.<br />
<em>By <a href="https://flickr.com/photos/ez2axs/">ez2axs</a></em></p>
<p><a href="https://flickr.com/photos/toyohara/235328178/"><img src="https://static.flickr.com/95/235328178_7d57972542_m.jpg" alt="" /></a><br />
Mmm… Singapore Changi Airport Sushi…<br />
<em>By <a href="https://flickr.com/photos/toyohara/">toyohara</a></em></p>
<p><a href="https://flickr.com/photos/victoriachan/180640032/"><img src="https://static.flickr.com/47/180640032_a00a502512_m.jpg" alt="" /></a><br />
Singapore is full of Sushi bars… mmm… Sushi.<br />
<em>By <a href="https://flickr.com/photos/victoriachan/180640032/">victoriachan</a></em></p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: flickr" href="http://technorati.com/tag/flickr">flickr</a>,
<a title="Technorati tag: photos" href="http://technorati.com/tag/photos">photos</a>,
<a title="Technorati tag: photography" href="http://technorati.com/tag/photography">photography</a>,
<a title="Technorati tag: japanese in singapore" href="http://technorati.com/tag/japanese-in-singapore">japanese in singapore</a>,
<a title="Technorati tag: singapore" href="http://technorati.com/tag/singapore">singapore</a>,
<a title="Technorati tag: sushi" href="http://technorati.com/tag/sushi">sushi</a>,
<a title="Technorati tag: sashimi" href="http://technorati.com/tag/sashimi">sashimi</a></p>
 
