---
title: 'Singapore Airlines Baggage Allowance' 
date: "2006-09-14T11:07:38+10:00"
year: "2006"
category: Travel
tag: 
- simpletagged
- singapore
- singapore-airlines
---
<p><img src="https://rubenerd.com/files/uploads/media.changi-airport-t2.jpg" alt="Singapore Changi Airport Terminal 2" /><br />
<em>Singapore Changi Airport Terminal 2</em></p>
<p>And make sure you <a href="http://www.singaporeair.com/saa/en_UK/content/before/plan/baggage_allowance.jsp">don&#39;t exceed these</a>, they charge SG$20.00 per kilo over the limit. Ouch!</p>
<p><strong>Economy:</strong> 20kg<br />
<strong>Raffles / Business:</strong> 30kg<br />
<strong>First: </strong> 40kg</p>
<p>I&#39;m going Business because I just have so much damned stuff… and only because we have enough Frequent Flyer points (ahem). If I was flying under normal circumstances I wouldn&#39;t bother with Business mostly because I&#39;m fairly skinny and the extra seat space really seems wasted. Only big advantage for me is the length of my legs, in Business I can sit down and actually stretch my legs out!</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: singapore airlines" href="http://technorati.com/tag/singapore-airlines">singapore airlines</a>,
<a title="Technorati tag: singapore" href="http://technorati.com/tag/singapore">singapore</a>,
<a title="Technorati tag: changi airport" href="http://technorati.com/tag/changi-airport">changi airport</a>,
<a title="Technorati tag: changi airport t2" href="http://technorati.com/tag/changi-airport-t2">changi airport t2</a>,
<a title="Technorati tag: baggage" href="http://technorati.com/tag/baggage">baggage</a>,
<a title="Technorati tag: travel" href="http://technorati.com/tag/travel">travel</a>,
<a title="Technorati tag: airlines" href="http://technorati.com/tag/airlines">airlines</a>,
<a title="Technorati tag: aeroplanes" href="http://technorati.com/tag/aeroplanes">aeroplanes</a>,
<a title="Technorati tag: airplanes" href="http://technorati.com/tag/airplanes">airplanes</a>,
<a title="Technorati tag: rubenerd blog" href="http://technorati.com/tag/rubenerd-blog">rubenerd blog</a>,
<a title="Technorati tag: ruben schade" href="http://technorati.com/tag/ruben-schade">ruben schade</a>,
<a title="Technorati tag: ruben" href="http://technorati.com/tag/ruben">ruben</a>,
<a title="Technorati tag: schade" href="http://technorati.com/tag/schade">schade</a></p>
 
