---
title: 'Site Holiday Decorations Going Up!' 
date: "2006-11-28T01:17:30+10:00"
year: "2006"
category: Media 
tag:
- holidays
- new-time-radio
- photos
- podcasting
- simpletagged
- weblog
- yuletide 
---
<p><img id="image554" style="float:right; margin: 0 0 10px 20px" src="https://rubenerd.com/files/uploads/drtan.png" alt="Dr Tan" /></p>
<p>I&#39;m in the process of putting the holiday photos and decorations up on the <a href="//rubenerd.com/show/">Rubenerd Show</a> and <a href="//rubenerd.com/show/blog">Rubenerd Blog</a>. :D. Both pictures are of Christmas in Singapore.</p>
<p>If you load the pages and can&#39;t tell the difference, try holding down <code>shift</code> and click reload to force a page redraw.</p>
<p><em>The picture to the right is my mum&#39;s cancer doctor, Hematologist and Oncologist in Singapore Dr Tan (of <a href="http://gleneagles.com.sg/">Gleneagles Hospital and Medical Centre</a>) who I dressed up in a very well drawn and detailed fake Santa costume as you can tell ;).</em></p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: christmas" href="http://technorati.com/tag/christmas">christmas</a>,
<a title="Technorati tag: holidays" href="http://technorati.com/tag/holidays">holidays</a>,
<a title="Technorati tag: decorations" href="http://technorati.com/tag/decorations">decorations</a>,
<a title="Technorati tag: xmas" href="http://technorati.com/tag/xmas">xmas</a></p>
 
