---
title: 'Software Purchase Spam' 
date: "2006-07-31T05:50:56+10:00"
year: "2006"
category: Internet
tag: 
- infocomm
- spam 
---
<p><img src="https://rubenerd.com/files/uploads/media.spam.png" alt="" /></p>
<p><em>Ruben picks apart the useless spam he receives from the spamming spammers who spam him with their spammingly spammish spam. For all the spam he has picked apart, visit the <a href="//rubenerd.com/tag/spam/">spam category</a>… sounds like a Monty Python routine.</em></p>
<blockquote><p><strong>Special Offer!</strong></p>
<p><strong>Adobe Video Collection</strong><br />
Adobe Premierer 1.5 Professional<br />
Adobe After Effects 6.5 Professional<br />
Adobe Audition 1.5<br />
Adobe Encore DVD 1.5<br />
$149.95</p>
<p><strong>Microsoft 2 in 1</strong><br />
MS Windows XP Pro<br />
MS Office 2003 Pro<br />
$99.95</p>
<p><strong>Microsoft + Adobe 3 in 1</strong><br />
MS Windows XP Prom<br />
MS Office 2003 Pro<br />
Adobe Acrobat 7.0 Professional
</p></blockquote>
<p>I was unaware of the existence of <em>Adobe &quot;Premierer&quot;</em> or <em>Windows XP &quot;Prom&quot;</em>… believe me my prom/formal was bad enough, don&#39;t remind me!</p>
<p>If you want to be taken seriously, for Pete&#39;s sake do a spell check! We&#39;re not talking rocket science!</p>
<p><strong>Afterthought:</strong> I was going to also say something cynical about how Windows and Office are being offered for $99.95 when FreeBSD + OpenOffice is $0.00 but I&#39;ll let it slide for now ;).</p>
 
