---
title: 'Songs Names with Song in Them' 
date: "2006-09-09T05:57:26+10:00"
year: "2006"
category: Media 
tag:
- funny
- music
- simpletagged 
---
<p><a href="http://en.wikipedia.org/wiki/List_of_songs_with_the_word_%22song%22_in_their_title_or_lyrics"><img style="background:#ffffff" src="https://rubenerd.com/files/uploads/media.wiki-en.png" alt="Wikipedia" /></a></p>
<p>Ever wondered how many songs out there actually have the word &quot;song&quot; in their title and/or lyrics? I sure haven&#39;t.</p>
<p>A small portion <a href="http://en.wikipedia.org/wiki/List_of_songs_with_the_word_%22song%22_in_their_title_or_lyrics">according to Wikipedia</a>:</p>
<blockquote><p>Love Song &#8211; 311, Same Old Song And Dance &#8211; Aerosmith,  Song of The South &#8211; Alabama, Adam’s Song &#8211; Blink 182, Song 2 &#8211; Blur, Redemption Song &#8211; Bob Marley, Old Soul Song (For The New World Order) &#8211; Bright Eyes, Song To The Siren &#8211; The Chemical Brothers, The Mariner’s Revenge Song &#8211; The Decemberists, The Last Song &#8211; Foo Fighters, Our Song &#8211; Goodnight Nurse, Song Cry &#8211; Jay Z, Song For America &#8211; Kansas, The Song Remains The Same &#8211; Led Zeppelin, The Rain Song &#8211; Led Zeppelin, The Lemon Song &#8211; Led Zeppelin, Immigrant Song &#8211; Led Zeppelin, The Wanton Song -Led Zeppelin, &#8220;Love Song&#8221; &#8211; Madonna (featuring Prince), The Love Song &#8211; Marilyn Manson, The Fight Song &#8211; Marilyn Manson, Download This Song &#8211; MC Lars, London Beckoned Songs About Money Written By Machines &#8211; Panic! At The Disco, The Nile Song &#8211; Pink Floyd, Crying Song &#8211; Pink Floyd, The Greeting Song &#8211; Red Hot Chili Peppers, The Zephyr Song &#8211; Red Hot Chili Peppers, Saddest Song In The World &#8211; Shihad, Leo Song &#8211; Shihad, Beat Song &#8211; Shihad, The Metal Song &#8211; Shihad, Kathy’s Song &#8211; Simon &#038; Garfunkel, Song for the Asking &#8211; Simon &#038; Garfunkel, This Cocaine Makes Me Feel Like I’m On This Song &#8211; System Of A Down, Highway Song &#8211; System Of A Down, Prison Song &#8211; System Of A Down, Love Song &#8211; The Cure, Swamp Song &#8211; Tool, Nigger Song &#8211; (John Frusciante), Song to Sing when I’m Lonely &#8211; (John Frusciante), My Song (B.B King), Song 3 &#8211; (Robbie Williams), Nans Song &#8211; (Robbie Williams), Ace of Spades song (Motorhead), Song to the Siren (Larry Beckett, Tim Buckley, Robert Plant), Skips Song (Skip Spence), Song For Whoever &#8211; The Beautiful South, Movin’ Out (Anthony’s Song) &#8211; Billy Joel, </p></blockquote>
<p>I&#39;ve got some more: what about <em>The Song of the Emergent Nationalist (Bob Geldof)</em>, or <em>This Song&#39;s Just Six Words Long? (Weird Al)</em> or even <em>The 30 Second Song (Scared Weird Little Guys)</em></p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: songs" href="http://technorati.com/tag/songs">songs</a>,
<a title="Technorati tag: lyrics" href="http://technorati.com/tag/lyrics">lyrics</a>,
<a title="Technorati tag: song titles" href="http://technorati.com/tag/song-titles">song titles</a>,
<a title="Technorati tag: wikipedia" href="http://technorati.com/tag/wikipedia">wikipedia</a>,
<a title="Technorati tag: fun facts" href="http://technorati.com/tag/fun-facts">fun facts</a>,
<a title="Technorati tag: trivia" href="http://technorati.com/tag/trivia">trivia</a></p>
 
