---
title: 'Sonray Share Trading Game' 
date: "2006-09-02T07:29:04+10:00"
year: "2006"
category: Software 
tag:
- economics
- gaming
- infocomm
- simpletagged 
---
<p><img src="https://rubenerd.com/files/uploads/media.sonway.jpg" alt="" /></p>
<p>I&#39;ve officially entered into the <a href="http://www.sharetradinggame.com.au/">Sonray Share Trading Game</a>, it&#39;s looks like a whole lot of fun. Its an Australian fantasy share trading game. I&#39;m not sure how well I&#39;ll do, I&#39;m betting a lot on Telstra; they&#39;ve gone so low all they can do is go up… I hope :D.</p>
<blockquote><p>Register for the Sonray trading game commencing 18th September 2006</p>
<p>Prizes Weekly prizes will be awarded to the trader who achieves the greatest percentage gain each week, and the highest percentage gain for the first month will also be rewarded.</p>
<p>Win the grand prize of a $25,000 trading account with Sonray Capital Markets.</p>
<p>Simply fill in the below application, download the SonrayTrader2 and get familiar with it before the game commences!</p></blockquote>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: sonray" href="http://technorati.com/tag/sonray">sonray</a>,
<a title="Technorati tag: fantasy games" href="http://technorati.com/tag/fantasy-games">fantasy games</a>,
<a title="Technorati tag: share trading" href="http://technorati.com/tag/share-trading">share trading</a>,
<a title="Technorati tag: securities" href="http://technorati.com/tag/securities">securities</a>,
<a title="Technorati tag: finance" href="http://technorati.com/tag/finance">finance</a>,
<a title="Technorati tag: trading" href="http://technorati.com/tag/trading">trading</a>,
<a title="Technorati tag: stock market" href="http://technorati.com/tag/stock-market">stock market</a>,
<a title="Technorati tag: stock trading" href="http://technorati.com/tag/stock-trading">stock trading</a>,
<a title="Technorati tag: australia" href="http://technorati.com/tag/australia">australia</a>,
<a title="Technorati tag: games" href="http://technorati.com/tag/games">games</a>,
<a title="Technorati tag: gaming" href="http://technorati.com/tag/gaming">gaming</a>,
<a title="Technorati tag: internet gaming" href="http://technorati.com/tag/internet-gaming">internet gaming</a></p>
 
