---
title: 'South Australia’s Premier Now a Doctor' 
date: "2006-08-27T11:46:02+10:00"
year: "2006"
category: Thoughts 
tag: 
- politics
- simpletagged 
---
<p><a href="http://unisa.edu.au/news/2006/170806.asp"><img src="https://rubenerd.com/files/uploads/media.homepage5.jpg" alt="" /></a></p>
<p><a href="http://unisa.edu.au/">My university</a> has bestowed an honours doctorate on the current South Australian premier, <a href="http://www.ministers.sa.gov.au/ministers.php?id=1">Dr Mike Rann</a>. In the two party preferred system I easily vote <a href="http://www.sa.alp.org.au/">Labor</a> over Liberal, and if votes are anything to go by he&#39;s Australia&#39;s favourite Labor leader at the moment. Good on ya doc :D!</p>
<blockquote><p>UniSA has honoured Premier Mike Rann’s contribution to the establishment of the University by awarding him the title of Honorary Doctor of the University of South Australia this week. The award was presented at the morning graduation ceremony on August 18 at the Festival Centre.</p>
<p>Professor Bradley said Premier Rann’s commitment to education as a key strategy in developing Adelaide as a creative, vibrant and successful community has been enduring.</p>
<p>“Premier Rann has supported the evolution of Adelaide as an education city and has been a strong advocate for a ‘South Australian education’ around the world. He has also encouraged and supported the notion of lifelong learning in the broader community.”</p></blockquote>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: adelaide" href="http://technorati.com/tag/adelaide">adelaide</a>,
<a title="Technorati tag: south australia" href="http://technorati.com/tag/south-australia">south australia</a>,
<a title="Technorati tag: mike rann" href="http://technorati.com/tag/mike-rann">mike rann</a>,
<a title="Technorati tag: unisa" href="http://technorati.com/tag/unisa">unisa</a>,
<a title="Technorati tag: university of south australia" href="http://technorati.com/tag/university-of-south-australia">university of south australia</a></p>
 
