---
title: 'Sushi and Sashimi Addicition' 
date: "2006-08-26T06:27:33+10:00"
year: "2006"
category: Thoughts 
tag: 
- coffee
- japanese
- simpletagged 
---
<blockquote><p><img src="https://rubenerd.com/files/uploads/media.sashimi.jpg" height="345" width="460" alt="" /></p>
<p>Photo by <a href="https://flickr.com/photos/94571281@N00">J RAWLS</a></p></blockquote>
<p>I used to think I liked Sushi and Sashimi.</p>
<p>Then I thought I really liked it.</p>
<p>Now that I&#39;ve started dreaming about it and having it sometimes twice a day, I think addiciton is probably a more fitting term!</p>
<p>Kevin (my room mate) and I just came back from a Sushi Bar in Northgate (shopping centre in the northern suburbs of Adelaide, as the name implies) for my fourth serve of the stuff in one and a half days. My favourites by far are the salmon sashimi and sushi with tuna. The sushi with avocado atop the seaweed is also tantalising, but can be a tad filling after you&#39;ve had a few!</p>
<p>I think I&#39;m training myself to take a bit more heat too, the Rubenerd Wasabi/SoySauce Ratio is narrowing every time, though I make sure to only dab a minute amount on as not to smother the flavour of the sashimic goodness.</p>
<p>The girls at the sushi bars here are very friendly and nice too, haha!</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: sushi" href="http://technorati.com/tag/sushi">sushi</a>,
<a title="Technorati tag: sashimi" href="http://technorati.com/tag/sashimi">sashimi</a>,
<a title="Technorati tag: japanese food" href="http://technorati.com/tag/japanese-food">japanese food</a>,
<a title="Technorati tag: japanese cuisine" href="http://technorati.com/tag/japanese-cuisine">japanese cuisine</a>,
<a title="Technorati tag: food" href="http://technorati.com/tag/food">food</a></p>
 
