---
title: 'Sushi and Sashimi Addicition Part 2' 
date: "2006-08-26T09:35:55+10:00"
year: "2006"
category: Thoughts 
tag: 
- coffee
- japanese
- personal
- simpletagged 
---
<p>You know a few hours ago I posted about realising my <a href="//rubenerd.com/?p=258">addiction to Sushi and Sashimi</a>? Well it&#39;s got worse, look at what ol&#39; Rubenerd&#39;s having for dinner:</p>
<p><img src="https://rubenerd.com/files/uploads/media.rubensushi.jpg" alt="" /></p>
<p>This stuff is so good for when you&#39;re working… as long as you don&#39;t get fish on your keyboard, then you&#39;re in trouble!</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: sushi" href="http://technorati.com/tag/sushi">sushi</a>,
<a title="Technorati tag: sashimi" href="http://technorati.com/tag/sashimi">sashimi</a>,
<a title="Technorati tag: japan" href="http://technorati.com/tag/japan">japan</a>,
<a title="Technorati tag: japanese food" href="http://technorati.com/tag/japanese-food">japanese food</a>,
<a title="Technorati tag: japanese cuisine" href="http://technorati.com/tag/japanese-cuisine">japanese cuisine</a></p>
 
