---
title: 'The Desk: When Things Just Work!' 
date: "2006-10-24T03:34:31+10:00"
year: "2006"
category: Thoughts 
tag: 
- personal
- simpletagged
- the-desk
---
<p><img id="image403" src="https://rubenerd.com/files/uploads/desk.jpg" alt="From the desk of Ruben Schade" /></p>
<p><strong><a href="http://en.wikipedia.org/wiki/Rod_Stewart">Song Playing: Makita, Toy Soldiers</a></strong></p>
<p>Had probably the most productive day I&#39;ve had today in a long time, and it had nothing to do with work or university. Sometimes I surprise even myself. Having lived in Kuala Lumpur, Malaysia for about a month now with my family again, and having my new <a href="http://ikea.com.my">Ikea</a> desk and comfy office chair, I still never got around to actually setting it all up. The <a href="//rubenerd.com/show/">Rubenerd Show</a> studio corner was set up with just the mixer, microphone and MadPlayer, and the other desktops were all strewn around everywhere with cables. Most of them weren&#39;t even working!</p>
<p>Now at 01:18am in the morning I&#39;ve finished… almost!</p>
<p>For one thing there&#39;s internet, iTunes music sharing and file sharing on all the machines. I got our old D-Link 802.11b wireless access point we replaced configured instead as a <em>wireless client</em> which is then connected to a switch to connect cables to all the desktops that don&#39;t have wireless. The MacBook Pro and my custom built Athlon have their own wireless cards.</p>
<p>What was really satisfying though was getting my retro old iMac G3 Bondi Blue machine working! The very same machine that turned around Apple&#39;s fortunes; the one with the build in CRT; and here it is on my desk humming away doing Folding@Home… there&#39;s something about having one of your earlier computers from a bygone era running that feels really good. I know most mobile phones these days have more power than this desktop but it&#39;s piece of computing history; and it was the machine that turned me from a Windows user to a Mac-phile in the first place. Just think, before that machine I was on Windows 98… makes me feel dirty, yuk!</p>
<p>As for my mum, she won her really expensive bracelet on eBay today. I thought for something that will probably go into a drawer in a few weeks it was horribly overpriced, and with her medical bills still needing to be paid off is the last thing we need… but I haven&#39;t seen her this happy in a long time. I guess you can&#39;t put a price on happiness; I&#39;m just worried that it will fizzle out pretty soon and we&#39;ll be left with the massive bill like some of her other gigantic spontaneous shop-aholic purchases. I know I sound cold, but that&#39;s the grim reality I&#39;m afraid. I guess we&#39;ll revel in the happiness for now and enjoy it while it lasts.</p>
<p>Anyway spent the evening with my mum out in what we affectionately call <em>&quot;The Cafe&quot;</em> which is looking really nice now. It&#39;s the downstairs open air balcony, but we&#39;ve decorated it with bamboo slat curtains that go from the ceiling right down to the ground, Balinese soap-stone statues, masses of pot plants and candles. In the evening here in Gita Bayu (our housing park in Malaysia) it&#39;s very pleasent. I&#39;ll have to post some pictures on Flickr.</p>
<p>Signing out,<br />
<cite><a href="//rubenerd.com/about/">Ruben</a></cite></p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: diary" href="http://technorati.com/tag/diary">diary</a>,
<a title="Technorati tag: log" href="http://technorati.com/tag/log">log</a>,
<a title="Technorati tag: ruben schade" href="http://technorati.com/tag/ruben-schade">ruben schade</a></p>
 
