---
title: 'The American World' 
date: "2006-03-12T07:18:10+10:00"
year: "2006"
category: Thoughts 
tag: 
- funny
- maps
- memes
- pointless
---
<p>Really funny email I got from my dad last month showing how America views the rest of the world :D.</p>
<p><strong>Edit:</strong> I think Canada is supposed to say "Moose" not "Mouse!"</p>
<p><img src="https://rubenerd.com/files/uploads/media.usworld.jpg" style="width:500px;" alt="Satirical map of the world. Canada is Mouse Heads. Central America is Latinos. South America is Cocaine and Coffee. The UK and Ireland are the 51st State. Europe is Wine, Perfume, Spaghetti. Greenland and Antarctica is Ice. Africa is an Empty Area. Russia is the Russian Mob. The Middle East is Oil and Water. Most of the Indian subcontinent is a Nike factory. China and most of East Asia are a Microsoft factory. North Korea is Don't Go Here. Japan is a Radioactive Area. And Australia is a Big Island (Hawaii?)" /></a></p>
 
