---
title: 'The Desk: 25 Years!' 
date: "2006-11-14T05:31:51+10:00"
year: "2006"
category: Thoughts 
tag: 
- personal
- simpletagged
- the-desk
---
<p><img style="float:right; margin-left:20px;" id="image403" src="https://rubenerd.com/files/uploads/desk.jpg" alt="From the desk of Ruben Schade" /></p>
<p><strong><a href="http://www.apple.com/ipod/accessories.html">Song Playing: I lost my headphones, so nothing :(</a></strong></p>
<p>Have you noticed in WordPress (and virtually every other blogging tool for that matter!) that when you&#39;re posting on your site the software tells you that you are &quot;writing a post&quot;. Writing is <em>so 60&#39;s</em>, I <em>type</em> thank you very much!</p>
<p>Met up here in Kuala Lumpur on Saturday with my good friend Kevin from Singapore who I met at <a href="http://unisa.edu.au/">university</a> and boarded with in Adelaide… sounds really complicated! He&#39;s got a job working at a subsidary of the Tata group, a bidness name even my dad recognises! He seems to be doing pretty damn well for himself, and to think I still have 2 years left before I finish uni… argh!</p>
<p>Unfortunarely he couldn&#39;t come over to see our house in Gita Bayu because of my mum, he understood so it was all fine. As it stands my mum has three weeks of treatment followed by one week of rest, so if anyone wants to visit let me know and I can see when her next window of opportunity is ;). My poor mum, I can tell she feels guilty sometimes about weighing down on us, but the way I see it she&#39;s doing swimmingly given the circs!</p>
<p>One thing Kevin and I noticed when we met up at KLCC was that the wireless internet welcome screen on my MacBook Pro said &quot;service interrupted&quot;, and I got an SMS from my sister a few minutes later to say the internet was down at our house as well. Of course both places use TMNet&#39;s StreamyX service so it wasn&#39;t a big surprise. I&#39;m more reliable in my house cleaning duties than the internet is here, and Kevin would let you know that&#39;s saying something! Argh!</p>
<p>But of course the big news today was that it was my parent&#39;s 25th wedding aniversary. Bit of a hollow one considering what my dad did but still amazing that they&#39;re still together even after all that, my sister and I are relieved. My mum was too weak and tired to go downstairs so my dad made the secret Schade family recipie Freeman&#39;s Reach Toast and brought it upstairs to her bed where we all sat for brekkie. I tell you, if you haven&#39;t had the secret Schade family recipie Freeman&#39;s Reach Toast, then you haven&#39;t had the secret Schade family recipie Freeman&#39;s Reach Toast!</p>
<p>Cynicism aside, I love my parents and I&#39;m pleased for them today. Also you must admit for my own selfish reasons, had they not got together I wouldn&#39;t exist! <a href="http://worldviewweekend.com/secure/cwnetwork/feedback.php?ArticleID=1242&#038;ArticleType=">Whether or not that would be a loss</a> would be questionable to some people…</p>
<p>No but in all seriousness, here&#39;s hoping the next 25 years will be good ones. I love you Little Mumster and Mr Father :)</p>
<p>Signing out,<br />
<cite><a href="//rubenerd.com/about/">Ruben</a></cite></p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: diary" href="http://technorati.com/tag/diary">diary</a>,
<a title="Technorati tag: log" href="http://technorati.com/tag/log">log</a>,
<a title="Technorati tag: ruben schade" href="http://technorati.com/tag/ruben-schade">ruben schade</a></p>
 
