---
title: 'The Desk: Taking Risks? Rubbish'
date: "2006-10-18T02:27:56+10:00"
year: "2006"
category: Thoughts
tag:
- personal
- simpletagged
- the-desk
---
<p><img src="https://rubenerd.com/files/uploads/desk.jpg" alt="From the desk of Ruben Schade" /></p>
<p><strong><a href="http://en.wikipedia.org/wiki/Chicago_%28band%29">Song Playing: Searchin&#39; So Long, Chicago</a></strong></p>
<p>Well today we were supposed to start our two night stay in <a href="http://www.pahangtourism.com.my/highlands/attractions/fraser_hill.html">Fraser&#39;s Hill</a> up in Pahang, as a family to get away from it all, but there we were sitting there waiting for my mum to wake up at 6pm. She said today she was in her &quot;dark room&quot;, which I can understand.</p>
<p>I&#39;ve really been worried about the way she has taken the latest news that she&#39;ll definitely have to back on chemotherapy for the umpteenth time in 11 years. She told me she&#39;s just finding it hard to think of herself basically walking into the hospital to ask them to intentionally make her violently sick for the next half a year… <em>again</em> and <em>again</em> and <em>again</em>. It really is a nasty situation, and one which she certainly neither asked for nor desevred.</p>
<p>It does piss me off though that all the other people in year group in high school are off living their lives without cares in their little heads. Despite my best efforts to think the contrary, all my thoughts always seem to go back to her. And it&#39;s still going.</p>
<p>I&#39;ve been spening a lot of time over the last week downstairs next to the telly with her doing work on my laptop, and it seems every show on these days falls into three catageories: guys screwing their mistresses behind their wives&#39; backs, people dying of cancer, and people <em>taking risks</em>. We both roll our eyes whenever someone appears on one of these <em>reality TV</em> shows and say that in life you have to <em>take risks</em> and how thrilling it is. My mum has had risk every day for over a decade, and somehow a chef saying that they&#39;ll be putting a different kind of chocolate sauce on their eclairs and how <em>risky it is</em> or the skydiver who says <em>risk is so exciting</em> don&#39;t know what the hell they&#39;re babbling about.</p>
<p>Anyway on a lighter note, put the new CD-ROM drive (I didn&#39;t know they still made vanilla CD-ROM drives!) in my dad&#39;s desktop, hasn&#39;t really improved iTunes CD ripping performace. My dad&#39;s aim is to rip every CD we own onto a 250GiB hard disk and stream them through the house with iTunes music sharing. For some reason though in the last few days the performance of the CD ripping has really been suffering, and for the life of us we can&#39;t figure out why! Of course it&#39;s a Windows machine, I&#39;m the only one in the family who has gone Apple but sarcastic jokes about Windows being rubbish aside, we don&#39;t know what&#39;s going on.</p>
<p>We&#39;ve postponed this trip to Fraser&#39;s hill till tomorrow, let&#39;s hope she&#39;s feeling a wee bit better then.</p>
<p>Signing out,<br />
<cite><a href="//rubenerd.com/about/">Ruben</a></cite></p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: diary" href="http://technorati.com/tag/diary">diary</a>,
<a title="Technorati tag: log" href="http://technorati.com/tag/log">log</a>,
<a title="Technorati tag: ruben schade" href="http://technorati.com/tag/ruben-schade">ruben schade</a></p>
 
