---
title: 'The Pyramids in Google Maps' 
date: "2006-09-04T11:56:40+10:00"
year: "2006"
category: Travel
tag:
- egypt
- maps
- simpletagged
---
<p><a href="https://www.openstreetmap.org/node/4645722389"><img src="https://rubenerd.com/files/uploads/media.googlemaps-pyramids.png" alt="The Pyramids of Giza" /></a></p>
<p>Have you tried typing in &quot;The Pyramids&quot; into <a href="https://www.openstreetmap.org/node/4645722389">Google Maps?</a>. You get several &quot;The Pyramids Restaurants&quot; and &quot;The Pyramids Allan Hotel&quot;… but not The Pyramids!</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: google maps" href="http://technorati.com/tag/google-maps">google maps</a>,
<a title="Technorati tag: google earth" href="http://technorati.com/tag/google-earth">google earth</a>,
<a title="Technorati tag: keyhole" href="http://technorati.com/tag/keyhole">keyhole</a>,
<a title="Technorati tag: egypt" href="http://technorati.com/tag/egypt">egypt</a>,
<a title="Technorati tag: the pyramids" href="http://technorati.com/tag/the-pyramids">the pyramids</a>,
<a title="Technorati tag: pyramids" href="http://technorati.com/tag/pyramids">pyramids</a>,
<a title="Technorati tag: pyramids of giza" href="http://technorati.com/tag/pyramids-of-giza">pyramids of giza</a>,
<a title="Technorati tag: giza" href="http://technorati.com/tag/giza">giza</a></p>
 
