---
title: 'The Desk: George W. Bush and Elke Schade' 
date: "2006-11-09T04:13:44+10:00"
year: "2006"
category: Thoughts 
tag: 
- personal
- simpletagged
- the-desk
---
<p><img src="https://rubenerd.com/files/uploads/desk.jpg" alt="From the desk of Ruben Schade" /></p>
<p><strong><a href="http://en.wikipedia.org/wiki/Rod_Stewart">Song Playing: Maggie May, Rod Stewart</a></strong></p>
<p>Today was mostly dominated with the results of two developments. I&#39;ll start with the first development, which is usually a good way to start because starting with the second thing would actually be reassigning the second thing priority and making it the first thing, which defeats the purpose.</p>
<p>The mid term election results in the United States started trickling in to us rest-of-the-world people today. Turning on the BBC and CNN this morning showed waves of pleased Democrats announcing their success in the House of Representatives.</p>
<p>But it didn&#39;t stop there! Living in Malaysia, a moderate Muslim country, there were noticeable signs of relief amongst everyone. The feeling here, and I imagine in most of the Islamic world, is that the West views all of them as terrorists. I think its safe to say that most of us living outside the United States fear George W. Bush more than the terrorists (some don&#39;t even think they&#39;re mutually exclusive), so to have his power and his agenda for his last two long years in office effectively sidelined is nothing but good news for the rest of us.</p>
<p>Frank Nora on the Overnightscape would have voted Libertarian which I congratulate him for; he says he does it because he feels good voting for them rather than voting for the lesser of two evils. I can relate; in Australia I always vote for the Greens party, not because they&#39;re the lesser of two evils but because I actually agree with everything they stand for. Some people may dismiss our votes toward smaller parties as wasted, but the way I see it voting is all about saying who you think is the best party or person to lead the country.</p>
<p>The second result concerned my sister: she had her last school exam for the year today, so she&#39;s free! She seems a bit worried about what some of her results will be but I&#39;m sure she did well. The big difference between us I think is in &quot;what way we&#39;re smart&quot; if you get my drift: I recieved great marks in my computer and science subjects in high school because I had a really keen interest in the subjects themselves to start off with; my sister wasn&#39;t interested in any of her subjects and I suspect she&#39;ll do just as well as I did! She&#39;s certainly smarter than me I can guarantee people that.</p>
<p>We celebrated with Pizza. George W. Bush screwed and my sister&#39;s last school exam, there was reason to celebrate!</p>
<p>Signing out,<br />
<cite><a href="//rubenerd.com/about/">Ruben</a></cite></p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http:://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: diary" href="http://technorati.com/tag/diary">diary</a>,
<a title="Technorati tag: log" href="http://technorati.com/tag/log">log</a>,
<a title="Technorati tag: ruben schade" href="http://technorati.com/tag/ruben-schade">ruben schade</a></p>
 
