---
title: 'The Anti-Football League' 
date: "2006-08-28T12:38:12+10:00"
year: "2006"
category: Media 
tag:
- simpletagged
- television 
---
<p><img src="https://rubenerd.com/files/uploads/media.Anti-Football_Cube.gif" alt="" /></p>
<p>AFL (Australian Football League) and NRL (National Rugby League) here in Australia are the lamest excuses for sport I have ever witnessed. If I wanted to watch barbaric testosterone overcharged jocks in tiny shorts lunging at each other and groping I&#39;ll watch wrestling thanks. And its all anyone can talk about here!</p>
<p>Fortunately <a href="http://antifootballleague.org/">I&#39;m not alone</a>:</p>
<blockquote><p>The Anti-Football League is an Australian organisation that pokes fun at the obsession with Australian rules football. It was founded by Melbourne journalist Keith Dunstan in 1967.</p>
<p>The movement still has a strong band of loyal sympathisers and supporters, and since June 2006, a website. The chief qualification for membership is not an active dislike but a disinterest in football, a desire to spend one’s time and conversation on other things.</p></blockquote>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: afl" href="http://technorati.com/tag/afl">afl</a>,
<a title="Technorati tag: vfl" href="http://technorati.com/tag/vfl">vfl</a>,
<a title="Technorati tag: nrl" href="http://technorati.com/tag/nrl">nrl</a>,
<a title="Technorati tag: lame" href="http://technorati.com/tag/lame">lame</a>,
<a title="Technorati tag: stupid" href="http://technorati.com/tag/stupid">stupid</a>,
<a title="Technorati tag: jocks" href="http://technorati.com/tag/jocks">jocks</a>,
<a title="Technorati tag: anti-football league" href="http://technorati.com/tag/anti-football-league">anti-football league</a>,
<a title="Technorati tag: sport" href="http://technorati.com/tag/sport">sport</a>,
<a title="Technorati tag: australia" href="http://technorati.com/tag/australia">australia</a>,
<a title="Technorati tag: keith dunstan" href="http://technorati.com/tag/keith-dunstan">keith dunstan</a></p>
 
