---
title: 'The Mary Tyler Moore Show' 
date: "2006-09-07T08:03:39+10:00"
year: "2006"
category: Media 
tag:
- simpletagged
- television 
---
<p><img src="https://rubenerd.com/files/uploads/media.MaryHat.jpg" alt="Mary and the imfamous hat throwing in the opening!" /></p>
<p>What a blast from the past; just surfing around Wikipedia I came across the article for <a href="http://en.wikipedia.org/wiki/The_Mary_Tyler_Moore_Show">The Mary Tyler Moore Show</a>!</p>
<blockquote cite="http://en.wikipedia.org/wiki/The_Mary_Tyler_Moore_Show"><p>Mary Tyler Moore is an American television sitcom that aired on CBS from September 19, 1970 to March 19, 1977. It was one of the most critically acclaimed shows—and one of the most beloved—in television history, as well as a breakthrough for leading female characters in television, due to the single, career-minded title character played by Mary Tyler Moore.</p></blockquote>
<p>Possibly one of the best shows the United States has ever exported. Too bad it was filmed before my time so I couldn&#39;t have watched it in its heyday :(.</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http:://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: mary tyler moore" href="http://technorati.com/tag/mary-tyler-moore">mary tyler moore</a>,
<a title="Technorati tag: the mary tyler moore show" href="http://technorati.com/tag/the-mary-tyler-moore-show">the mary tyler moore show</a>,
<a title="Technorati tag: 1970s" href="http://technorati.com/tag/1970s">1970s</a>,
<a title="Technorati tag: sitcom" href="http://technorati.com/tag/sitcom">sitcom</a></p>
 
