---
title: 'The Desk: Singapore Move… Again?'
date: "2006-11-24T04:45:48+10:00"
year: "2006"
category: Travel
tag:
- personal
- simpletagged
- the-desk
---
<p><img id="image403" src="https://rubenerd.com/files/uploads/desk.jpg" alt="From the desk of Ruben Schade" /></p>
<p><strong><a href="http://michaelfranks.com/">Song Playing: Island Life, Michael Franks</a></strong></p>
<p>Isn&#39;t it amazing with the power of computers and the web that you can do so much stuff that reaches so many people without leaving your chair? Man I love the internet so much!</p>
<p>Spent the whole day today again with my mum, we both just sat at our laptops typing away, well at least I was typing away. She was in so much pain this afternoon I just wanted to stay in her company and give her someone to talk to. She spends virtually her whole life now just sitting in her room reading the paper and sipping tea (very civilised I can assure you!) but nothing beats human interaction.</p>
<p>With it being 01:30am it is fairly unlikely I&#39;ll have the <a href="//rubenerd.com/show/">Rubenerd Shows</a> for today [and yesterday] up today, and I apologise again.</p>
<p>I want to thank the awesome people chatting on the Rubenerd Forum who have given my mum and I their best wishes and understanding. If only everyone were as kind.</p>
<p>Oh I forgot the biggest news of all! As you probably already know if you read this blog or listen to the show I live with my family in Kuala Lumpur, Malaysia because of my dad&#39;s work. We lived in Singapore for a long time before then and I think we all think of there as home more than anywhere else, despite the fact we&#39;re Australian (well technically my dad was born in Germany, but let&#39;s not get technical).</p>
<p>Anyway it seems after less than 2 years here in KL my dad&#39;s company is undergoing restructuring and may require us to move to Singapore again! In a way I&#39;m a bit sad knowing I&#39;ll be leaving a place I only just started getting to know, but at the same time most of my friends live in Singapore and it&#39;s where I was going to move myself to start my business anyway so it would be a hell of a lot easier.</p>
<p>Of course as with everything my dad&#39;s company says we have to wait for confirmation before we get too interested in the prospect, but nevertheless it&#39;s a nice thought. Teh Tarik on Bencoolen Street, Sim Lim Square, hanging out with my friend Kevin Tan from Adelaide, seeing Prem, Rajesh, Kevin and Kieren Keirle from my <a href="http://ais.com.sg/">high school</a> for more than a day at a time when they&#39;re in the country…</p>
<p>Of course this brings up another possibly unforeseen dilemma: I&#39;m currently studying for my uni degree externally, so what does that mean? Do I try to align myself with a uni or polytechnic there as I do here, or do I move to purely submit externally? Not sure. And what about my mum, she&#39;s in no shape to leave her room let alone move house.</p>
<p>As I said, we&#39;ll wait and see if it&#39;s true first though.</p>
<p>Signing out,<br />
<cite><a href="//rubenerd.com/about/">Ruben</a></cite></p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: diary" href="http://technorati.com/tag/diary">diary</a>,
<a title="Technorati tag: log" href="http://technorati.com/tag/log">log</a>,
<a title="Technorati tag: ruben schade" href="http://technorati.com/tag/ruben-schade">ruben schade</a></p>
 
