---
title: 'Tourism or Tresspassing in Tokyo' 
date: "2006-09-03T04:03:27+10:00"
year: "2006"
category: Travel
tag: 
- japan
- simpletagged
---
<p><a href="http://theforeigner-japan.com/archives/200605/tokyo.htm"><img src="https://rubenerd.com/files/uploads/media.rainbowbridge.jpg" alt="" /></a></p>
<p>Intriguing view of Tokyo <a title="Tourism of Traspassing? Tokyo" href="http://theforeigner-japan.com/archives/200605/tokyo.htm">from an Aussie traveller</a> form Brisbane, Philip Larsen:</p>
<blockquote><p>Tokyo is quite unlike other cities in structural scope. It is initially aesthetically comforting, but the subtle, unwritten rules of the streets and buildings lead to some confusion and embarrassing situations.</p>
<p>In comparison, Australian cities are none too complex. It is by comparing the two (and indeed, other cities from Europe and the United States) I learned to enjoy Tokyo on more than face value, and become immersed in the experience of unplanned tourism.</p></blockquote>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: philip larsen" href="http://technorati.com/tag/philip-larsen">philip larsen</a>,
<a title="Technorati tag: travel" href="http://technorati.com/tag/travel">travel</a>,
<a title="Technorati tag: japan" href="http://technorati.com/tag/japan">japan</a>,
<a title="Technorati tag: australia" href="http://technorati.com/tag/australia">australia</a>,
<a title="Technorati tag: brisbane" href="http://technorati.com/tag/brisbane">brisbane</a>,
<a title="Technorati tag: tokyo" href="http://technorati.com/tag/tokyo">tokyo</a></p>
 
