---
title: 'Westfield eyes Canada, Europe' 
date: "2006-09-21T08:28:30+10:00"
year: "2006"
category: Thoughts 
tag: 
- australia
- economics
- news
- simpletagged 
---
<p><a href="http://westfield.com.au/"><img src="https://rubenerd.com/files/uploads/media.Westfield.png" alt="Westfield" /></a></p>
<p>Well there you go, now I can go Westfield shopping in Europe and Canada haha :).</p>
<blockquote><p>Australian shopping centre owner Westfield Group says it wants to acquire malls in Canada and western Europe.</p>
<p>The world’s largest listed shopping centre owner plans to continuing buying centres in its existing markets but would also like to expand into new markets.</p>
<p>&#8220;We have a watching brief over western Europe in particular,&#8221; Westfield group chief financial officer Peter Allen told the Merrill Lynch Australia investment conference in New York.</p>
<p>&#8220;Canada is a market we’d certainly love to get involved in, and there’s some smaller markets in Asia.&#8221;</p>
<p>Westfield’s property portfolio comprises 120 shopping centres in Australia, the United States, United Kingdom and New Zealand, worth $56.8 billion.</p></blockquote>
<p><a style="font-size:14px" href="http://news.com.au/adelaidenow/story/0,22606,20452125-5005962,00.html">Adelaide Advertiser: Westfield eyes Canada, Europe</a></p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http:://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: westfield" href="http://technorati.com/tag/westfield">westfield</a>,
<a title="Technorati tag: westfield shopping" href="http://technorati.com/tag/westfield-shopping">westfield shopping</a>,
<a title="Technorati tag: australian business" href="http://technorati.com/tag/australian-business">australian business</a>,
<a title="Technorati tag: australia" href="http://technorati.com/tag/australia">australia</a>,
<a title="Technorati tag: canada" href="http://technorati.com/tag/canada">canada</a>,
<a title="Technorati tag: europe" href="http://technorati.com/tag/europe">europe</a>,
<a title="Technorati tag: rubenerd blog" href="http://technorati.com/tag/rubenerd-blog">rubenerd blog</a>,
<a title="Technorati tag: ruben schade" href="http://technorati.com/tag/ruben-schade">ruben schade</a>,
<a title="Technorati tag: ruben" href="http://technorati.com/tag/ruben">ruben</a>,
<a title="Technorati tag: schade" href="http://technorati.com/tag/schade">schade</a></p>
 
