---
title: 'Who Else Can’t Stand PodShow?' 
date: "2006-11-21T02:16:42+10:00"
year: "2006"
category: Media 
tag:
- new-time-radio
- podcasting
- podshow
- simpletagged 
---
<p><a href="http://podshow.com/"><img style="float:right; margin:0 0 10px 20px" id="image524" src="https://rubenerd.com/files/uploads/podshow_logo.gif" alt="PodShow" /></a></p>
<p>If you haven&#39;t seen it yet, the <a href="http://podshow.com/">PodShow</a> website is a classic example of an abysmally designed website; the pages look cheap and hacked together, half the time the podcasts themselves don&#39;t work in <a href="http://apple.com/itunes/">iTunes or </a><a href="http://juicereceiver.sourceforge.net/">Juice Receiver</a> and just finding the audio files themselves to download is a royal pain in the backside.</p>
<p>My favourite tech podcast, the <a href="http://gillmorgang.podshow.com/">Gillmor Gang</a> uses PodShow, I liked it much better when they were on <a href="http://www.itconversations.com/shows/detail405.html">IT Conversations</a> :(</p>
<p>It&#39;s good to know I&#39;m not the only person who loathes PodShow though, according to <a href="http://gillmorgang.podshow.com/shows/all_reviews.php?display=default&#038;show_id=214">some of the comments</a> on the Gillmor Gang&#39;s page (directed at the site, not the show):</p>
<blockquote><p>How about the decision to place the show in the podshow network? Could there be a more loathsome venue? Could the web site be any more hideous without being completely unusable?</p>
</blockquote>
<blockquote><p>Finally found out how to get the damn show into itunes….what a drama that was….who designed this podshow ui, should be shot.</p>
</blockquote>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: podcast" href="http://technorati.com/tag/podcast">podcast</a>,
<a title="Technorati tag: podcasting" href="http://technorati.com/tag/podcasting">podcasting</a>,
<a title="Technorati tag: podshow" href="http://technorati.com/tag/podshow">podshow</a>,
<a title="Technorati tag: newtimeradio" href="http://technorati.com/tag/newtimeradio">newtimeradio</a></p>
 
