---
title: 'Windows 2000 on Boot Camp' 
date: "2006-08-12T10:20:47+10:00"
year: "2006"
category: Software 
tag:
- apple
- bootcamp
- infocomm
- microsoft 
---
<p><img src="https://rubenerd.com/files/uploads/media.Windows2000.jpg" style="width:300px" alt="Windows 2000" /></p>
<p>As a (now) Mac OS X and BSD user I really don&#39;t use Windows anymore, but when I&#39;m forced to I still use Windows 2000 Professional.</p>
<p>Windows XP looks like a toy (and behaves like one too) and frankly its just a pain in the ass disabling all the stupid visual effects. For the most part Mac OS X&#39;s visual effects are very well executed but in XP they&#39;re just hideous, not to mention the fact it chews up how much RAM sitting idol. Plus of course Windows 2000 is far more stable and reliable… I know saying those things and Windows in the same line is an oxymoron, but it&#39;s better than any other Windows offering Microsoft made in the past or since.</p>
<p>The rant ends there ;).</p>
<p>Anyway I&#39;ve always been a bit dismayed that if I want to run Windows in <a href="http://www.apple.com/macosx/bootcamp/">Apple&#39;s Boot Camp</a> using my MacBook Pro I had to use… Windows XP. Apparently though a guy in Japan has come up with a way to boot Windows 2000; and all it involves is moving NTDETECT from the XP to the 2000 CD amongst other things. I&#39;m going to check it out.</p>
<blockquote><p>Japanese guy with handle name &#8220;intelmacmini&#8221; reported his successfull<br />
installation of Windows2000 on Intel MacMini in his blog (japanese).<br />
( http://intelmacminiw2k.blog64.fc2.co…ry-1.html#more )</p>
<p>In his report, he made installation CD similar to the one used in XOM. However, I found that you can install Windows 2000 on Intel Macmini if you replace NTDETECT.COM file in Windows 2000 install CD with NTDETECT.COM file in Windows XP install CD.</p>
<p>Another critical step is to press F5 key when &#8221; Press F6 in you need to ….&#8221; is displayed. Press F5 key , not F6.</p>
<p>Then you should choose &#8220;Advanced Configuration and Power Interface(ACPI) PC&#8221;. Then you can go through installation process to the end.</p>
<p><a style="font-weight:bold" href="http://forum.onmac.net/showthread.php?t=1096" >OnMac.net: Windows 2000 Install SUCCESS!</a></p></blockquote>
 
