---
title: 'Windows XP and Satan' 
date: "2006-03-12T06:35:37+10:00"
year: "2006"
category: Software 
tag:
- infocomm
- operating-systems
- quotes
- windows
- windows-xp
---
<p><img src="https://rubenerd.com/files/uploads/media.billxp.jpg" alt="Press photo of Bill Gates holding a copy of Windows XP" /></p>
<p>Funny quote I saw on the <a href="http://bsdforums.org">BSDForums.org</a> forum:</p>
<blockquote>
<p>&#8220;Some people says that if you play a Windows XP install CD backwards you will hear demon voices commanding you to worship Satan&#8221;. But that’s nothing. If you play it forward it will install Windows XP&#8221;!</p>
</blockquote>
<p>HAH HAH!! :D :D. Hah.</p>
 
