---
title: 'Windows XP at Uni' 
date: "2006-08-31T12:11:09+10:00"
year: "2006"
category: Software 
tag:
- apple
- infocomm
- personal
- rant
- simpletagged 
---
<p><img src="https://rubenerd.com/files/uploads/media.billxp.jpg" alt="Bill Gates introducing XP" /></p>
<p>I&#39;m sitting here <a href="http://www.unisa.edu.au/itee/mawsonlakes/">at the uni</a> typing away at some work, and the lack of features in <a href="http://microsoft.com/windowsxp">Windows XP</a> that I&#39;m used to in <a href="http://apple.com/macosx/">Mac OS X</a> and my <a href="http://freebsd.org/">FreeBSD</a> with <a href="http://xfce.org">XFce</a> box are really starting to get to me!!</p>
<p>What do I miss? No <a href="http://www.apple.com/macosx/newfeatures/over200.html">system wide spell checking</a>, something <a href="http://stopie.com">not Internet Explorer</a>, no <a href="http://www.xfce.org/index.php?page=overview&#038;lang=en">virtual desktops</a>, no <a href="http://www.apple.com/macosx/features/expose/">Expose</a>.</p>
<p>Now just to be fair, I was brought up on Windows 3.0 and 3.1x, right up to 2000 before I was the first (and still only) person in the family to dump Windows.</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a></p>
<p><a title="Technorati tag: windows xp" href="http://technorati.com/tag/windows-xp">windows xp</a>,
<a title="Technorati tag: crap" href="http://technorati.com/tag/crap">crap</a>,
<a title="Technorati tag: mac os x" href="http://technorati.com/tag/mac-os-x">mac os x</a>,
<a title="Technorati tag: linux" href="http://technorati.com/tag/linux">linux</a>,
<a title="Technorati tag: xfce" href="http://technorati.com/tag/xfce">xfce</a>,
<a title="Technorati tag: unisa" href="http://technorati.com/tag/unisa">unisa</a>,
<a title="Technorati tag: university of south australia" href="http://technorati.com/tag/university-of-south-australia">university of south australia</a>,
<a title="Technorati tag: expose" href="http://technorati.com/tag/expose">expose</a>,
<a title="Technorati tag: virtual desktops" href="http://technorati.com/tag/virtual-desktops">virtual desktops</a>,
<a title="Technorati tag: spell checking" href="http://technorati.com/tag/spell-checking">spell checking</a></p>
 
