---
title: 'Wrong Season eBay Spam' 
date: "2006-07-31T05:07:41+10:00"
year: "2006"
category: Internet
tag: 
- infocomm
- spam 
---
<p><img src="https://rubenerd.com/files/uploads/media.spam.png" alt="" /></p>
<p><em>Ruben picks apart the useless spam he receives from the spamming spammers who spam him with their spammingly spammish spam. For all the spam he has picked apart, visit the <a href="//rubenerd.com/tag/spam/">spam category</a>… sounds like a Monty Python routine.</em></p>
<p>Got this message from eBay a few days ago:</p>
<blockquote><p>Your registered name is included to show this message originated from eBay.</p>
<p><img src="https://rubenerd.com/files/uploads/media.sc61_body-1.jpg" width="340" height="360" alt="" /></p></blockquote>
<p>Come on peoples, I&#39;m in Australia right now (aka: Southern Hemisphere) where it is the dead of winter! And it wouldn&#39;t take much effort to see that I&#39;m registered with eBay Australia!</p>
<p>Not that I can stop this torrent of &quot;official&quot; spam from eBay, I&#39;ve visited ebay.com.au and &quot;unreigistered&quot; four times already without any success. Cheapskates.</p>
 
