---
title: 'Insert relieved title here' 
date: "2007-03-06T04:53:22+10:00"
year: "2007"
category: Thoughts 
tag: 
- personal
- malaysia
location: Kuala-Lumpur
---
<p><img src="https://rubenerd.com/files/2007/182399756_c6b294a9ce_o@1x.jpg" srcset="https://rubenerd.com/files/2007/182399756_c6b294a9ce_o@1x.jpg 1x, https://rubenerd.com/files/2007/182399756_c6b294a9ce_o@2x.jpg 2x" alt="Gita Bayu" style="width:500px; height:375px;" /></p>
<em>The club hose in Gita Bayu (housing park in KL we live in)</em></p>
<p>Well after one of the most trying, testing [and other words beginning with T] weeks we&#39;ve ever had, things seem to be going a bit better now. My mum is having a huge amount of trouble keeping food down still and all her joints are really painful meaning she&#39;s spending her whole time stuck in bed, but her sense of humour seems to be coming back which makes it all seem a bit less dire.</p>
<p>I&#39;ve been given leave for a week by my boss which is great news and I appreciate it, and my mum has her right medication now. I&#39;m still going to be taking it easy for this week and try to make the most of the situation.</p>
<p>Given though the current and at times unpredictable way my life is going at the moment, I think I&#39;ll be moving the Rubenerd Show to once a week again. I&#39;ve loved doing week daily shows but I think it&#39;s time to be reasonable; there have been too many delays as it is.</p>
<p>Thanks everyone again, hopefully I&#39;ll be able to answer the mountains of email in a week or so.</p>
 
