---
title: 'iPod features I’d love to see and love to hate' 
date: "2007-09-06T02:19:35+10:00"
year: "2007"
category: Hardware 
tag:
- apple
- flash-memory
- infocomm
- iphone
- ipod
- itelephone
- music
- phones
- podcasting
- pointless-anime-references 
---
<p><a href="http://www.vintagecomputing.com/index.php/archives/173"><img src='//rubenerd.com/files/uploads/apple_painting_small.jpg' alt='apple_painting_small.jpg' /></a></p>
<p>Everywhere is abuzz as to what Apple will be releasing in San Francisco today… actually it&#39;s already yesterday for us on the other side of the world in a positive time zone, but you get the idea.</p>
<p>The last thing the internet needs is another Mac or iPod user babbling on about what they predict will be introduced, so instead I&#39;m going to just make a brief list of features I&#39;d love to see in a new iPod. I never saw the point in the iPod Mini, Nano or Shuffle so I&#39;ll stick the &quot;classic&quot; form factor.</p>
<dl>
<dt>The iPhone without the Phone: <strong><em>GOOD</em></strong></dt>
<dd>Seems to me to make perfect sense, and it’s probably what everyone’s expecting. I’d love to be able to use the touch-sensitive scroll features, the widescreen video playback, the ability to make phone calls… wait scrub that last one.</dd>
<dt>Flash memory: <strong><em>BAD</em></strong></dt>
<dd>Flash memory has come down in price over the last few years, but it’s still substantially more expensive per gigabyte than hard disks. I want to be able to afford the next iPod!</dd>
<dt>Flash memory: <strong><em>BAD</em></strong></dt>
<dd>Haha, okay there are two reasons why I don’t want this, the other being that I want an iPod with a decent capacity. The current iPhone’s measly 8 gigabyes could barely hold one television show series let alone all my music. Please no flash memory!<p><a href="https://flickr.com/photos/rubenerd/1331600734/"><img src='//rubenerd.com/files/uploads/ickyflash1.jpg' alt='Flash memory is icky' /></a></dd>
<dt>Radio tuner: <strong><em>BAD</em></strong></dt>
<dd>The whole point of having an iPod is so you don’t have to listen to advertisement saturated, mind numbing chatter and boring music selections that commercial radio has. To me there’s absolutely no point having a tuner in a device you’d stock with your own music and podcasts. We have <a href="http://newtimeradio.com/">New Time Radio!</a></dd>
<dt>Classic coloured Apple logo on boot: <strong><em>GOOD</em></strong></dt>
<dd>A pointless fantasy that would never come to fruition… pun intended</dd>
<dt>A on-screen clickwheel: <strong><em>BAD</em></strong></dt>
<dd>This would really be a really stupid idea because it’s redundant. What’s the point of having a fancy touch screen if they just slap on a virtual wheel on it? Isn’t the whole point to allow people to scroll through their list of music just like the iPhone? Isn’t the whole point not to use the phrase &#8220;the whole point&#8221; more than twice in one post?</dd>
<dt>Video in DivX and XviD: <strong><em>GOOD</em></strong></dt>
<dd>Frank was right about this! I’d love to be able to just to play video I’ve downloaded without having to go through time consuming conversions first. With their QuickTime and H.264 push though, I doubt they would though :(.</dd>
<dt>Ability to sync with Google Calendars: <strong><em>GOOD</em></strong></dt>
<dd>iCal is great, but I love the way I can access my Google Calendar on any machine on the planet. If I could sync them with an iPod without having to go through expensive third party software first it would be sweet. With all their collaboration thesesays I wouldn’t think it’s entirely impossible.</dd>
<dt>Open APIs! <strong><em>GOOD</em></strong></dt>
<dd>As much as I love (and own) all the iPod games, I’d love to be able to create my own little applications for it, and download others. And no I don’t mean crappy WebKit Safari pages, I want the real deal!</dd>
<dt>Playlist folders: <strong><em>GOOD</em></strong></dt>
<dd>I love organising my playlists in iTunes into folders, so why can’t said folders also get synced onto the iPod?</dd>
</dl>
<p>Wow, I&#39;m more of a pessimist that I thought!</p>
 
