---
title: 'John Williams and all that… jazz' 
date: "2007-02-16T07:04:58+10:00"
year: "2007"
category: Media
tag:
- indie-media
- music
- whole-wheat-radio 
---
<p><em>Not to be confused with the Aussie gitarist John Williams who I am also a fan of.</em></p>
<p><img id="image658" src="https://rubenerd.com/files/uploads/john_williams.jpg" alt="" style="float:right; margin: 0 0 10px 20px" />I think it&#39;s something different when you&#39;re listening to <a href="http://www.wholewheatradio.org/wiki/index.php/Main_Page">Whole Wheat Radio</a> or any other internet radio station and something comes on that you recognise. I&#39;ve discovered so many artists listening to WWR (Kevin So, Guy Clark, Esther Golton (d&#39;uh!), Doofus, The Philadelphia Jug Band, Gypsy Jazz, Jim Brannigan, Caleb Coffee), but this is the first time I&#39;ve come across someone I already knew.</p>
<p>I originally discovered John Williams not on Whole Wheat, but on <a href="http://www.magnatune.com/">Magnatune</a>, the record label and website that isn&#39;t evil:</p>
<blockquote><p>I’m a guitar player, mostly electric, steel string acoustic too. I do session work, songwriting, and production projects. I have a well-outfitted home studio for songwriting and some production, and I also work with a nationally acclaimed pro studio here in Seattle.</p></blockquote>
<p><img id="image660" src="https://rubenerd.com/files/uploads/cover_200.jpg" alt="" style="float:right; margin: 0 0 10px 20px" />I love his blues and jazz compositions and really appreciate the depth of his music. His <em>Dusty Porch</em> and <em>Long Ride Home</em> albums are on my (increasingly lengthly) Whole Wheat shopping list. My favourite song of his so far is <em>Almond Joy</em> which you can <a href="http://magnatune.com/artists/albums/williams-long/">preview before you buy on Magnatune</a>.</p>
<p>Given Magnatunes&#39; very liberal and friendly <a href="https://magnatune.com/artists/license/podcast">licencing policy for podcasters</a>, I might play a sample on the next <a href="//rubenerd.com/show/">Rubenerd Show</a>… hey I hadn&#39;t thought of that. I&#39;m smarter <a href="//rubenerd.com/about/">than I look</a>.</p>
<p>John Williams links:</p>
<ul>
<li><a href="http://magnatune.com/artists/john_williams">Magnatune Profile Page</a></li>
<li><a href="http://wholewheatradio.org/wiki/index.php/Artists:John_Williams">Whole Wheat Radio profile page</a> with my comments</li>
<li><a href="http://www.cdbaby.com/found/from/jkloss?artist=John+Williams">CDs for sale on CDBaby</a> which helps out WWR ;)</li>
</ul>
 
