---
title: 'Michael Franks: Greatest singer songwriter of all time!' 
date: "2007-01-07T08:45:54+10:00"
year: "2007"
category: Media
tag:
- michael-franks
- music
- personal
- simpletagged 
---
<p><img id="image605" style="float:right; margin: 0 0 10px 20px" src="https://rubenerd.com/files/uploads/michael-franks_pix-4.jpg" alt="Michael Franks" /><br /><em>I&#39;ve talked about and reviewed <a href="http://michaelfranks.com/">Michael Franks</a> many times on the <a href="//rubenerd.com/show/">Rubenerd Show</a>, but have never written anything about him. This is my attempt to do this amazing artist justice in the blog medium. Hope he would approve!</em></p>
<p>Michael Franks is an American jazz artist who sings songs with a great sense of humour and refreshingly interesting lyrics. If you have never heard of Michael Franks, you are missing out on hearing the greatest singer/songwriter of all time.</p>
<p>My family&#39;s <em>frank</em> obsession with Michael Franks (<em>I</em> thought the wording was clever!) started with my mum in the early 1980s. As the story goes, she was called over to a friend&#39;s house one afternoon after being told about an intriguing artist who sang, amonst other things, about cold toes and finding the perfect shampoo!</p>
<p>Since then, Michael Franks has quite literally been a family institution of the Schade family! Out of Michael&#39;s whopping 19 albums we have 8 on original records and the rest on CDs and purchased copies as MP3s on iTunes. I&#39;ve personally got 1.8GB of Michael Franks music on my computer right now as I type this!</p>
<p><img id="image603" style="float:right; margin: 0 0 10px 20px" src="https://rubenerd.com/files/uploads/shirt.jpg" alt="Michael Franks!" />I really don&#39;t know much about music; I can&#39;t play an instrument, I can read scores and as I find when trying to articulate the sensation of drinking wine, I certainly don&#39;t know any of the fancy language people use to describe it, but what I do know is what I like, and I like Michael Franks&#39; music.</p>
<p>My mum and I agree that whilst the tunes themselves are smooth and a pleasure to listen to in their own right, it is the lyrics in his work that really set him apart from any other artist. My mum says amongst other things it would probably be impossible to win an argument with someone like Michael Franks who obviously has such an extrodinary grasp of literature!</p>
<p>The wide and varying styles of his music are incredible, and really show off his versatility as an artist. His music ranges from the more up beat style in <em>When Sly Calls</em>, to the jazzy <em>Monks New Tune</em> and <em>Sanpaku</em>, to fun electronics in <em>Now That Your Joystick&#39;s Broke</em>, to the suave and sophisticated <em>Alone At Night</em> and <em>Tiger in the Rain</em>, the latter album by the same name still my favourite.</p>
<p>You can find out more about Michael Franks at his official website at <a href="http://michaelfranks.com/">MichaelFranks.com</a>, his article on <a href="http://en.wikpedia.org/wiki/Michael_Franks">Wikipedia</a>, on iTunes (do a search for Michael Franks), the aptly named <a href="http://launch.groups.yahoo.com/group/michaelfranks/">Michael Franks Yahoo! Group</a> and even his own <a href="http://www.cafepress.com/sleepinggypsy">CafePress store</a>.</p>
<p>And now if you&#39;d excuse me, <em>I&#39;m flying south for some snorkelling and sleep. Just leave your message when you hear the beep.</em> :D</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: jazz" href="http://technorati.com/tag/jazz">jazz</a>,
<a title="Technorati tag: michael franks" href="http://technorati.com/tag/michael-franks">michael franks</a>,
<a title="Technorati tag: rendezvous in rio" href="http://technorati.com/tag/rendezvous-in-rio">rendezvous in rio</a></p>
 
