---
title: 'Mysterious Champs-Élysées song discovered!' 
date: "2007-08-15T06:37:01+10:00"
year: "2007"
category: Media
tag:
- a-toi
- artist
- champs-elysees
- dadaist
- french-music
- joe-dassin
- music
- podcasting
- wikipedia-reference 
---
<p><img src='//rubenerd.com/files/uploads/180px-joedassin.jpg' alt='180px-joedassin.jpg' /></p>
<p>If you have listened to <a href="//rubenerd.com/show225/">Rubenerd Show 225</a> you would have heard how for the last few weeks I had this one French song stuck in my head. Having songs stuck in your head is bad enough, but when it&#39;s in a foreign language you can&#39;t speak and can&#39;t look up in Google it&#39;s even worse!</p>
<p>Anyway <a href="//rubenerd.com/show/forum/comments.php?DiscussionID=61">Surrealist on the Rubenerd Forum</a> knew what it was and told me: Aux Champs-Élysées by Joe Dassin! A trip to the CD shop later and I&#39;m playing Aux Champs-Élysées right now as we speak.</p>
<p>From <a href="http://en.wikipedia.org/wiki/Joe_Dassin">his article on Wikipedia</a>:</p>
<blockquote><p>Joseph Ira Dassin (November 5, 1938 – August 20, 1980) was a French-speaking American expatriate musician.</p>
<p>Dassin was born in New York City to film noir director Jules Dassin and Béatrice Launer. He began his childhood first in New York and Los Angeles, California. However after his father became a victim of the anti-communist policies of Senator Joseph McCarthy, he and his family moved from place to place across Europe.</p>
<p>After studying at Institut Le Rosey in Switzerland, Dassin moved back to the United States to go to the University of Michigan in Ann Arbor, Michigan. After college, he moved back to France where, while working at a radio station, a record label convinced him to begin to record his songs.</p>
<p>By the early 1970s, Dassin’s songs were on the top of the charts in France and he had become very well known. He was also a talented polyglot, recording songs in German, Spanish, Italian and Greek, as well as French and English.</p></blockquote>
<p>I think I&#39;ve found a new favourite artist :).</p>
 
