---
title: 'On Ruby CGI, hospitals and stuff' 
date: "2007-03-20T04:02:14+10:00"
year: "2007"
category: Internet
tag:
- cancer
- coffee
- infocomm
- php
- ruby
- scripting 
---
<p>The Ruby powered version of the <a href="//rubenerd.com/show/">Rubenerd Show</a> and Blog are well underway and are looking pretty good! The way it is at the moment I&#39;m using WordPress which I can&#39;t use for study credits but I can use a blog provided it is powered by a platform I&#39;ve coded myself. I figure if I can get credit for all the work I&#39;m doing here it would be a real help. The only major hurdle I can think of so far will be to transfer all the accumulated WordPress database information over to my program; perhaps I&#39;ll just stick with the WordPress database schema to save myself trouble.</p>
<p><a href="http://www.maplandia.com/malaysia/selangor/kuala-lumpur/shopping/great-eastern-shopping-mall/" title="satellite map of Great Eastern Shopping Mall in Kuala Lumpur"><img src="http://www.maplandia.com/malaysia/selangor/kuala-lumpur/shopping/great-eastern-shopping-mall/great-eastern-shopping-mall-180x150.png" width="180" height="150" alt="Great Eastern Shopping Mall satellite map" style="float:right; margin: 5px 0 10px 20px"/></a>I&#39;m sitting at the <a href="http://starbucks.com.my/">Starbucks</a> in <a href="http://www.maplandia.com/malaysia/selangor/kuala-lumpur/shopping/great-eastern-shopping-mall/">Menara Great Eastern</a>, across the road from the hospital where my mum is having her blood tested. From what I can tell the chemotherapy she was having has stopped working and the tumours on her liver have started growing again. Her doctor in Singapore Dr Tan is currently at a conference discussing what to do next. The way medical science is progressing I&#39;m sure there will be another treatment she can go on.</p>
<p>Had a phone call from my good friend Kevin Tan from Singapore who I met in Adelaide last night; he&#39;s working for Sony now, amazing!</p>
<p>Rubenerd Show 222 has been recorded, but given the reliability of internet here I can&#39;t get more than 2/3rds of the way through the upload before it times out. I&#39;ll go to as many Starbucks WiFi hotspots as I can until the damned things gets up to that server!</p>
<p>Cheerio,<br />
<cite><a href="//rubenerd.com/about/">Ruben</a></cite></p>
 
