---
title: 'Pointless PhotoBooth at 0200' 
date: "2007-08-15T05:07:44+10:00"
year: "2007"
category: Media
tag:
- funny
- photo-booth
- photo-booth-app
- photos
- podcasting
- pointless
- self-portrait 
---
<p>So I wanted to take a picture of myself for the photo description for the <a href="//rubenerd.com/show225/">latest episode</a> of the <a href="//rubenerd.com/show/">Rubenerd Show</a> that I just finished recording at 0200, to give people the impression that I was still awake but half asleep at the same time. These are the embarrassing results.</p>
<p><img src="https://rubenerd.com/files/uploads/photo-1.jpg" alt="" style="width:320px; height:240px" /></p>
<p><img src="https://rubenerd.com/files/uploads/photo-3.jpg" alt="" style="width:320px; height:240px;" /></p>
<p><img src="https://rubenerd.com/files/uploads/photo-2.jpg" alt="" style="width:320px; height:240px;" /></p>
<p><img src="https://rubenerd.com/files/uploads/photo-8.jpg" alt="" style="width:320px; height:240px;" /></p>
 
