---
title: 'Rails pollutes Ruby search results!' 
date: "2007-12-20T10:56:06+10:00"
year: "2007"
category: Software
tag:
- cgi
- eruby
- fastcgi
- infocomm
- rant
- ruby
- ruby-on-rails
- scripting 
---
<blockquote><p>ASIDE: Within five minutes of this post going live I received a message from Vannesa Choi in Taiwan saying that I can filter out a lot of Rails related results by specifying eRuby specifically instead. I still get lots of Rails results, but certainly much less than before. Xie Xie :)</p></blockquote>
<p>I&#39;ve been learning <a href="http://ruby-lang.org/">Ruby</a> for a while now and have started moving from <a href="http://perl.org/">Perl</a> to it in recent months as my primary tool for solving most of my day to day problems (alas, just with computers, real life is the next step!). With all I&#39;ve picked up I&#39;ve now decided to use Ruby in web development and replace my PHP powered sites other people have coded over to an <a href="http://www.eruby.info/">eRuby</a> FastCGI powered site I code myself (I got part of the way through a similar project a few months back, but life got in the way again and stalled it!). What was the quote that Google put on it&#39;s Google Code adverts? &quot;Computer Scientists don&#39;t adapt other people&#39;s code, they create their own!&quot;</p>
<p>Anyway the problem I&#39;m having with finding quality documentation online for Ruby web development is the exact opposite problem I had when I first learned about CGI using Perl back in 2004: there&#39;s too much of it! But in an ironic twist, just as the sailor stranded at sea in a lifeboat can&#39;t drink the water despite it being all around her, all the documentation I&#39;m finding is all about Ruby on Rails! Even the O&#39;Reilly book on Ruby proudly proclaims it to be the language that powers Rails!</p>

<p><img src="https://rubenerd.com/files/2007/2124717838_0e9bcfbcb8_o@1x.jpg" srcset="https://rubenerd.com/files/2007/2124717838_0e9bcfbcb8_o@1x.jpg 1x, https://rubenerd.com/files/2007/2124717838_0e9bcfbcb8_o@2x.jpg 2x" alt="Ruby is not just for Rails!" style="width:500px; height:375px;" /></p>

<p>Virtually every search I perform for Ruby development in books, online or even talking to people, whether it&#39;s for MySQL connectivity, FastCGI or sessions always brings up Ruby on Rails but not Ruby! I don&#39;t want the triple chocolate sundae with nuts and fudge, I want the wholesome Ruby goodness you can only get from eating the plain but smooth vanilla ice cream. From the tub. With a spoon. In my pajamas. That&#39;s a funny mental picture.</p>
<p>Now don&#39;t get me wrong, there are some good websites on Ruby web development such as <a href="http://www.hiveminds.co.uk/node/3189">Hiveminds</a> in the UK, but I guess what I&#39;m trying to say is that I&#39;m fed up with seeing what appears to be an excellent page detailing an aspect of Ruby web development only to discover that they&#39;re talking about Rails! Argh!</p>
<p>I guess one could ask why someone who wants to do web development in Ruby doesn&#39;t want to use Rails, and I could spend all day typing here explaining why, but <a href="http://www.hiveminds.co.uk/node/3094">Hiveminds puts it very eloquently</a>:</p>
<blockquote><p>
One of the most troublesome of the Rails drawbacks for me and the reason that I decided to go with eRuby is the that Rails was taking up all my time with Rails problems and troubleshooting. I was learning a lot about using Rails but not much of the Ruby programming language. Someone suggested we go with CGI instead and while researching this we found eRuby.</p>
<p>eRuby is a much easier way of using, learning and getting the power of Ruby on to a website. With eRuby deployment is a easy as uploading your files to your web server. This is to say deploying an application or webpage is no harder in eRuby than it’s counterparts like PHP or ASP. I honestly believe that if Ruby popularity is going to increase that eRuby will be the reason. Unlike Rails eRuby has a very shallow learning curve and does not require a lot of effort by web hosting companies to set up.
</p></blockquote>
<p>Now just in case you&#39;ve got the wrong idea, I personally don&#39;t have anything against Rails and have even used it myself for a few projects, but for most of what I do it&#39;s overkill and when I&#39;m looking for just Ruby material it can get tedious when you get superfluous information. But I am weird right?</p>
 
