---
title: 'The all new Rubenerd Show is online!' 
date: "2007-01-05T11:32:31+10:00"
year: "2007"
category: Internet
tag:
- infocomm
- personal
- simpletagged
- weblog 
---
<p>After a few days of testing I&#39;ve applied the new layout of the Rubenerd Blog over to the Show. There are still a few quirks I&#39;m ironing out, but I assumed it would be a work in progress.</p>
<p>Cheers :)</p>
<h3>Rubenerd Show c.2006</h3>
<p><img id="image599" src="https://rubenerd.com/files/uploads/rubenerdshow3.png" alt="Rubenerd Show c.2006" /></p>
<h3>Rubenerd Show c.2007</h3>
<p><img id="image600" src="https://rubenerd.com/files/uploads/rubenerdshow4.png" alt="Rubenerd Show c.2007" /></p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtnaddfavbtnsub=%26add=amp;amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag rubenerd show" href="http://technorati.com/tag/rubenerd-show">rubenerd show</a>,
<a title="Technorati tag: ruben schade" href="http://technorati.com/tag/ruben-schade">ruben schade</a>,
<a title="Technorati tag: wordpress" href="http://technorati.com/tag/wordpress">wordpress</a></p>
 
