---
title: 'Twitterrific 2.0 is slick!' 
date: "2007-04-09T06:03:51+10:00"
year: "2007"
category: Software
tag:
- apple
- infocomm
- reviews 
---
<p>Well the removalist packer peoples have done or are currently finishing every room in our house here in KL except mine. I figured what would be a more productive thing to do than to catch up on some work. Then I discovered Twitterrific is up to version 2.0!</p>
<p><a href="http://iconfactory.com/software/twitterrific">Twitterrific</a> is a graphical front end for <a href="http://twitter.com/rubenerd">Twitter</a> on <a href="http://apple.com.sg/macosx/">Mac OS X Tiger</a> which lets you post exactly what you&#39;re doing and see what your friends are doing without having to go to the website. I did a quickie review of Twitter on <a href="//rubenerd.com/show222/">Rubenerd Show 222</a> (shameless plug).</p>
<p>Anyway a bit of a visual comparison because I think screenshots are the bees knees. This is what I was using less than half an hour ago: Twitterrific 1.x:</p>
<p><img id="image724" src="https://rubenerd.com/files/uploads/twitter1.png" alt="twitter1.png" /></p>
<p>And this is the updated version:</p>
<p><img id="image725" src="https://rubenerd.com/files/uploads/twitter2.png" alt="twitter2.png" /></p>
<p>What I really appreciate in this new version is the ability to see the last several posts by people, not just the latest post followed by a string of names. It&#39;s very slick!</p>
<p>You can download Twitterrific from the <a href="http://iconfactory.com/software/twitterrific">Icon Factory</a> website (616KB).</p>
 
