---
title: "Rubenerd Show 050: The episode 50 episode"
date: "2005-10-23T14:29:59+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2005"
abstract: '20:00 – The Rubenerd Show is up to EPISODE 50! Talking today about reflections at this landmark episode number and changes to the website; a review of a cool new podcast from the United States: My First Podcast by Dave Hunt, and his Ourmedia page. Also some listener feedback regarding Episode 49 from Laura Douglass, some cool listener email from Matt Cook, a review of Anti Realm, Winamp and Delphi, an IRRITATING DSL modem that likes to reset itself to keep my life interesting, and which beverage does Jaslyn Goh like better than Farmer’s Union Iced Coffee?'
enclosure_file: "https://archive.org/download/The_Rubenerd_Show_050/RubenerdShow050.mp3"
enclosure_size: 8593756
enclosure_duration: "20:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/The_Rubenerd_Show_050/RubenerdShow050.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/The_Rubenerd_Show_050/RubenerdShow050.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">20:00</span> – The Rubenerd Show is up to EPISODE 50! Talking today about reflections at this landmark episode number and changes to the website; a review of a cool new podcast from the United States: <a href="http://mysite.verizon.net/dave.hunt2/index.html">My First Podcast by Dave Hunt</a>, and his <a href="http://www.ourmedia.org/user/40983">Ourmedia</a> page. Also some listener feedback regarding <a href="https://archive.org/download/The_Rubenerd_Show_049/RubenerdShow049.mp3">Episode 49</a> from Laura Douglass, some cool listener email from Matt Cook, a review of <a href="http://www.antirealm.com/">Anti Realm</a>, Winamp and Delphi, an IRRITATING DSL modem that likes to reset itself to keep my life interesting, and which beverage does Jaslyn Goh like better than Farmer&#39;s Union Iced Coffee?</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
