---
title: "Rubenerd Show 054: The DragonflyBSD episode"
date: "2005-11-06T14:29:59+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2005"
abstract: '20:00 – Ruben gets nerdy discussing DragonFlyBSD and why it’s awesome, keeping track of what I’m talking about using a PDA (being a podcaster and all!), funny signs on Caltex petrol pumps that don’t make a lick of sense, our trip to Victor Harbour in March this year and running out of fuel, and a tasteless [but side splitting] weather report by Chopper. Plus I finish the show in a record 15 seconds, you have to hear it to believe it!'
enclosure_file: "https://archive.org/download/The_Rubenerd_Show_054/RubenerdShow054.mp3"
enclosure_size: 9611557
enclosure_duration: "20:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/The_Rubenerd_Show_054/RubenerdShow054.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/The_Rubenerd_Show_054/RubenerdShow054.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">20:00</span> – Ruben gets nerdy discussing <a href="http://dragonflybsd.org">DragonFlyBSD</a> and why it&#39;s awesome, keeping track of what I&#39;m talking about using a PDA (being a podcaster and all!), funny signs on Caltex petrol pumps that don&#39;t make a lick of sense, our trip to Victor Harbour in March this year and running out of fuel, and a tasteless [but side splitting] weather report by Chopper. Plus I finish the show in a record 15 seconds, you have to hear it to believe it!</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
