---
title: "Rubenerd Show 087: The Letterman-esque episode"
date: "2006-05-17T01:38:00+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2006"
abstract: '10:00 – Audio problems, the new Rubenerd Show theme song (David Letterman style), George Bush and John Howard planting a tree, Will It Sink? (Very weird combination of household items!).'
enclosure_file: "https://archive.org/download/RubenerdShow087/RubenerdShow087.mp3"
enclosure_size: 4813410
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow087/RubenerdShow087.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow087/RubenerdShow087.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Audio problems, the new Rubenerd Show theme song (David Letterman style), George Bush and John Howard planting a tree, Will It Sink? (Very weird combination of household items!).</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
