---
title: "Rubenerd Show 271: The half-arsed half episode"
date: "2009-06-08T21:13:05+08:00"
thumb: "https://archive.org/download/RubenerdShow271/RubenerdShow271.180px.png"
year: "2009"
abstract: '12:30 – Clock and calendar silliness; the Queen’s Birthday isn’t the Queen’s Birthday; Queen Elizabeth’s mugshot on Australian coins; blogging about FreeBSD desktop background managers; the de facto one episode a month show; people whinging about too many blog posts; Zombie Plan on useless tweets; MannyTheMailman’s brand new air conditioner; Asia Pacific being ahead of Hawaii; iPhone Apple WWDC speculation; Neal O’Carroll and I suing for the iTelephone name; Elke’s lack of tweets; the world is flat; illegal Dutch pot scenarios and zombies eating skittles.'
enclosure_file: "https://archive.org/download/RubenerdShow271/RubenerdShow271.mp3"
enclosure_size: 6159343
enclosure_duration: "12:30"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow271/RubenerdShow271.png"><img src="https://archive.org/download/RubenerdShow271/RubenerdShow271.180px.png" alt="Larger version of cover art" style="height:241px; width:180px; float:left; margin:0px 20px 5px 0px" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow271/RubenerdShow271.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow271/RubenerdShow271.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">12:30</span> – Clock and calendar silliness; the <a href="http://en.wikipedia.org/wiki/Queen%27s_Birthday">Queen&#39;s Birthday</a> isn&#39;t the Queen&#39;s Birthday; Queen Elizabeth&#39;s mugshot on Australian coins; <a href="https://rubenerd.com/nitrogen-review/">blogging about FreeBSD desktop background managers</a>; the de facto one episode a month show; people whinging about too many blog posts; <a href="http://zombieplan.zombieskittles.com/?p=891">Zombie Plan on useless tweets</a>; <a href="http://twitter.com/mtmm/">MannyTheMailman&#39;s</a> brand new <a href="http://twitter.com/mtmm/status/2075194083">air conditioner</a>; Asia Pacific being ahead of Hawaii; iPhone Apple WWDC speculation; <a href="http://intoyourhead.com/">Neal O&#39;Carroll</a> and I <a href="http://twitter.com/nn7/status/2075106133">suing for the iTelephone name</a>; <a href="http://twitter.com/elkeee">Elke&#39;s</a> lack of tweets; the world is flat; illegal Dutch pot scenarios and zombies eating skittles.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade.</p> 
