---
title: "Rubenerd Show 353: The Olympus trip episode"
date: "2016-10-01T21:12:22+10:00"
year: "2016"
abstract: '40:29 – Banana with apple, walking distance to work, uncooperative throat coughing and iOS 10 upgrades, never using Apple 1.0 releases, going to NYC and Philly, the Kobo, the US ESTA, the Clinton Trump debate, becoming an Olympus camera guy again, and a friggen vanishing iPad!'
thumb: "https://archive.org/download/RubenerdShow353/RubenerdShow353.png"
enclosure_file: "https://archive.org/download/RubenerdShow353/RubenerdShow353.mp3"
enclosure_size: "39308098"
enclosure_type: "audio/mpeg"
enclosure_duration: "40:29"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow353/RubenerdShow353.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow353/RubenerdShow353.png" alt="Rubenerd Show 353" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow353/RubenerdShow353.mp3">Play in new window</a> &middot; <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow353/RubenerdShow353.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">40:29</span> – Banana with apple, walking distance to work, uncooperative throat coughing and iOS 10 upgrades, never using Apple 1.0 releases, going to NYC and Philly, the Kobo, the US ESTA, the Clinton Trump debate, becoming an Olympus camera guy again, and a friggen vanishing iPad!</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released October 2016 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

