---
title: "Rubenerd Show 317: The Whitefish episode"
date: "2016-01-03T22:28:57+11:00"
year: "2016"
abstract: '54:06 – Post-holiday budgeting (using You Need A Budget, paying back savings, scary credit cards, caution versus fun), Organic Sumatran coffee, Steam specials (The Ship: Murder Party, Transistor, Cities Skylines, Train Simulator 2016, Flight Simulator X, Sakura Swim Club), Fallout media fatigue, wanting to visit Whitefish in Montana, Tree Style Tabs, Kent Brockman, IKEA in Marsden Park, Maltese Crosses, and playing Train Simulator live (the NS Buffel and Flying Scotsman on the Marias Pass route).'
thumb: "https://archive.org/download/RubenerdShow317/RubenerdShow317.png"
enclosure_file: "https://archive.org/download/RubenerdShow317/RubenerdShow317.mp3"
enclosure_size: "53378844"
enclosure_type: "audio/mpeg"
enclosure_duration: "54:06"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow317/RubenerdShow317.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow317/RubenerdShow317.png" alt="Rubenerd Show 317" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow317/RubenerdShow317.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow317/RubenerdShow317.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">54:06</span> – Post-holiday budgeting (using <a href="http://youneedabudget.com/">You Need A Budget</a>, paying back savings, scary credit cards, caution versus fun), Organic Sumatran coffee, Steam specials (<a href="http://store.steampowered.com/app/2400/">The Ship: Murder Party</a>, <a href="http://store.steampowered.com/app/237930/">Transistor</a>, <a href="http://store.steampowered.com/app/255710/">Cities Skylines</a>, <a href="http://store.steampowered.com/app/24010/">Train Simulator 2016</a>, <a href="http://store.steampowered.com/app/314160/">Flight Simulator X</a>, <a href="http://store.steampowered.com/agecheck/app/402180/">Sakura Swim Club</a>), Fallout media fatigue, wanting to visit Whitefish in Montana, <a href="https://addons.mozilla.org/en-US/firefox/addon/tree-style-tab/">Tree Style Tabs</a>, Kent Brockman, IKEA in Marsden Park, Maltese Crosses, and playing Train Simulator live (the <em><a href="http://www.christrains.com/msts.html">NS Buffel</a></em> and <em>Flying Scotsman</em> on the Marias Pass route).</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released January 2016 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

