---
title: "Rubenerd Show 389: The 2018 spectacular episode"
date: "2019-01-14T13:41:03+11:00"
abstract: '03:19:56 – Every unreleased episode from Q4 2018 in one stitched package! Topics include Sydney Trains, TECHNOBOYS PULCRAFT GREEN-FUND, Honda San, Singapore, flowers, rampling, cicadas, apparently unmanly things, studying, podcast elitism, indie media, late night Mascot, continents, construction, soulless glass boxes, Wikipedia, marketing language, dearth of power points, ocean liners, promises, selling an iMac, making coffee, email, the next leap for computing, Tiger Balm, and sneezes. Best to avoid listening to this all at once!'
thumb: "https://archive.org/download/RubenerdShow389/RubenerdShow389.png"
enclosure_file: "https://archive.org/download/RubenerdShow389/RubenerdShow389.mp3"
enclosure_size: "191583253"
enclosure_type: "audio/mpeg"
enclosure_duration: "03:19:56"
location: "Sydney, Australia"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow389/RubenerdShow389.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow389/RubenerdShow389.png" alt="Rubenerd Show 389" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow389/RubenerdShow389.mp3">Play in new window</a> &middot; <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow389/RubenerdShow389.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">03:19:56</span> – Every unreleased episode from Q4 2018 in one stitched package! Topics include Sydney Trains, TECHNOBOYS PULCRAFT GREEN-FUND, Honda San, Singapore, flowers, rampling, cicadas, apparently unmanly things, studying, podcast elitism, indie media, late night Mascot, continents, construction, soulless glass boxes, Wikipedia, marketing language, dearth of power points, ocean liners, promises, selling an iMac, making coffee, email, the next leap for computing, Tiger Balm, and sneezes. Best to avoid listening to this all at once!</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released January 2019 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

