---
title: "Rubenerd Show 352: The companion cube episode"
date: "2016-09-19T10:37:54+10:00"
year: "2016"
abstract: '58:39 – Getting family podcast balance right; deciding what’s breakfast food (English and German); broken neon signs (The Good Guys); Airbnb; Mercedes A Class; eschewing (gesundheit) new Western franchises for anime; memory/latex foam mattresses; Captain Snooze got a promotion; computer data rot; and an indulgently-rambling discussion on building a fault-tolerant personal archive out of MicroServers, FreeBSD and ZFS. Recorded mid-August 2016.'
thumb: "https://archive.org/download/RubenerdShow352/RubenerdShow352.png"
enclosure_file: "https://archive.org/download/RubenerdShow352/RubenerdShow352.mp3"
enclosure_size: "57113993"
enclosure_type: "audio/mpeg"
enclosure_duration: "58:39"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow352/RubenerdShow352.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow352/RubenerdShow352.png" alt="Rubenerd Show 352" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow352/RubenerdShow352.mp3">Play in new window</a> &middot; <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow352/RubenerdShow352.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">58:39</span> – Getting family podcast balance right; deciding what's breakfast food (English and German); broken neon signs (The <del>Good</del> Guys); Airbnb; Mercedes A Class; eschewing (gesundheit) new Western franchises for anime; memory/latex foam mattresses; Captain Snooze got a promotion; computer data rot; and an indulgently-rambling discussion on building a fault-tolerant personal archive out of MicroServers, FreeBSD and ZFS. Recorded mid-August 2016.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released September 2016 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

