---
title: "Rubenerd Show 175: The internet addiction cold turkey episode"
date: "2006-10-31T00:50:08+08:00"
thumb: "https://archive.org/download/RubenerdShow175/Side175.png"
year: "2006"
abstract: '10:30 – Screwed up telephone lines and DSL (deprivation, reading actual &quot;newspapers&quot;!), happy birthday to Mr Bunny, the Rubenerd Blog (featured on the Singapore LifeStyle Wiki AND a post from a Google Engineer!) and MannyTheMailMan on Rubenerd.'
enclosure_file: "https://archive.org/download/RubenerdShow175/RubenerdShow175.mp3"
enclosure_size: 5033165
enclosure_duration: "10:30"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-kuala-lumpur
- the-overnightscape-underground
- podcast
location: kuala-lumpur
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em;" src="https://archive.org/download/RubenerdShow175/Side175.png" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow175/RubenerdShow175.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow175/RubenerdShow175.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:30</span> – Screwed up <a href="http://tm.com.my/">telephone lines</a> and DSL (deprivation, reading <a href="http://thestar.com.my/">actual &quot;newspapers&quot;</a>!), happy birthday to <a href="http://davesphotogallery.net/">Mr Bunny</a>, the <a href="https://rubenerd.com/show/blog/">Rubenerd Blog</a> (featured on the <a href="http://www.lifestylewiki.com/Singapore/">Singapore LifeStyle Wiki</a> AND a post from a <a href="https://rubenerd.com/show/blog/bloglines-versus-google-reader-cant-decide/">Google Engineer</a>!) and <em><a href="http://z7.invisionfree.com/The_Overnightscape/index.php?showuser=138">MannyTheMailMan</a> on Rubenerd</em>.</p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
