---
title: "Rubenerd Show 172: The cheesy thunderstorm recording episode"
date: "2006-10-24T20:30:36+08:00"
thumb: "https://archive.org/download/RubenerdShow172/Side172.png"
year: "2006"
abstract: '10:00 – Trying to recording a huge thunderstorm, Microsoft bows to the Belgians, celebrating Oktoberfest with my dad, Beer Review (Paulaner Oktoberfest Special), why drinking coffee is awesome, and why the robbing robber robbed banks.'
enclosure_file: "https://archive.org/download/RubenerdShow172/RubenerdShow172.mp3"
enclosure_size: 4824202
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-kuala-lumpur
- the-overnightscape-underground
- podcast
location: kuala-lumpur
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em;" src="https://archive.org/download/RubenerdShow172/Side172.png" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow172/RubenerdShow172.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow172/RubenerdShow172.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Trying to recording a huge thunderstorm, <a href="http://news.com/Microsoft+bows+to+the+Belgians/2100-1030_3-6128104.html?tag=ne.fd.mnbc">Microsoft bows to the Belgians</a>, celebrating Oktoberfest with my dad, Beer Review (<a href="http://paulaner.de/">Paulaner Oktoberfest Special</a>), why drinking coffee is awesome, and <em>why the robbing robber robbed banks</em>.</p>

<p>The thunderstorm recorded during this episode can be found at <a href="https://rubenerd.com/unplugged001/">Rubenerd Unplugged 001</a>.</p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
