---
title: "Rubenerd Show 162: The back in South-East Asia episode"
date: "2006-10-04T23:01:26+08:00"
thumb: "NA"
year: "2006"
abstract: '10:00 – Moving to Malaysia for university, being the only caucasian at SIT, the icky haze situation in Malaysia and Singapore, choking Singaporean Class 95 DJs, the beauty of air-con, and Terry Pratchet burning people.'
enclosure_file: "https://archive.org/download/RubenerdShow162/RubenerdShow162.mp3"
enclosure_size: 4824202
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-kuala-lumpur
- the-overnightscape-underground
- podcast
location: kuala-lumpur
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em;" src="https://archive.org/download/RubenerdShow162/Side162.jpg" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow162/RubenerdShow162.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow162/RubenerdShow162.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Moving to Malaysia for university, being the only caucasian at <a href="http://sit.gov.my">SIT</a>, the icky haze situation in Malaysia and Singapore, choking Singaporean <a href="http://class95.sg/">Class 95</a> DJs, the beauty of air-con, and <em>Terry Pratchet burning people</em>.</p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
