---
title: "Rubenerd Show 174: The 'Things You Should Not Do!' episode"
date: "2006-10-28T01:09:08+08:00"
thumb: "https://archive.org/download/RubenerdShow174/Side174.png"
year: "2006"
abstract: '10:30 – Things You Should Not Do! (Japanese Supermarkets, noodle bowls, moving escalators, face washes with &quot;exfoliating microbeads&quot;), Monty Python, Google searches (&quot;daa files&quot;, &quot;Rubenerd&quot;, &quot;Fiona Lawrie&quot;, &quot;haze aircon&quot;), and living to eating to live.'
enclosure_file: "https://archive.org/download/RubenerdShow174/RubenerdShow174.mp3"
enclosure_size: 5033165
enclosure_duration: "10:30"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-kuala-lumpur
- the-overnightscape-underground
- podcast
location: kuala-lumpur
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em;" src="https://archive.org/download/RubenerdShow174/Side174.png" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow174/RubenerdShow174.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow174/RubenerdShow174.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:30</span> – Things You Should Not Do! (<a href="http://www.isetan.co.jp/icm2/html/com/jp/kuala_lumpur/index.html">Japanese Supermarkets</a>, noodle bowls, <a href="http://suriaklcc.com.my/">moving escalators</a>, face washes with &quot;exfoliating microbeads&quot;), <a href="http://pythonline.com/">Monty Python</a>, <a href="http://google.com.sg/">Google searches</a> (&quot;daa files&quot;, &quot;Rubenerd&quot;, &quot;Fiona Lawrie&quot;, &quot;haze aircon&quot;), and <em>living to eating to live.</em></p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
