---
title: "Rubenerd Show 130: The invitation was lost in the mail episode"
date: "2006-07-17T19:33:39+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2006"
abstract: '10:00 – Show stuff (moving over to the new Rubenerd Show site, FlickrRSS instead of Flash, replacing batteries live!), Ruben missing South East Asia, people pronouncing &quot;Kuala Lumpur&quot;, stupid John Howard quote, I’m the only &quot;Ruben Schade&quot; on the internet (apparently), best wishes going out to Sophia from the Australian School in Singapore for tying the knot… even if I wasn’t invited to the wedding :)'
enclosure_file: "https://archive.org/download/RubenerdShow130/RubenerdShow130.mp3"
enclosure_size: 4823202
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow130/RubenerdShow130.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow130/RubenerdShow130.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Show stuff (moving over to the new Rubenerd Show site, FlickrRSS instead of Flash, replacing batteries live!), Ruben missing South East Asia, people pronouncing &quot;Kuala Lumpur&quot;, stupid John Howard quote, I&#39;m the only &quot;Ruben Schade&quot; on the internet (apparently), best wishes going out to Sophia from the Australian School in Singapore for tying the knot… even if I wasn&#39;t invited to the wedding :)</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
