---
title: "Rubenerd Show 166: The peace, love and broken mic cable episode"
date: "2006-10-10T09:48:57+08:00"
thumb: "NA"
year: "2006"
abstract: '10:00 – Ruben gets controversial! Stupid microphone cables, review of the Worldview Weekend website (spam, my definition of &quot;worldview&quot;, not a fair representation), questioning listener question and Peter Brock on life.'
enclosure_file: "https://archive.org/download/RubenerdShow166/RubenerdShow166.mp3"
enclosure_size: 4824202
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-kuala-lumpur
- the-overnightscape-underground
- podcast
location: kuala-lumpur
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em; width:110px; height:150px;" src="https://archive.org/download/RubenerdShow166/Side166.jpg" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow166/RubenerdShow166.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow166/RubenerdShow166.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Ruben gets controversial! Stupid microphone cables, review of the Worldview Weekend website (spam, my definition of &quot;worldview&quot;, not a fair representation), questioning listener question and <em>Peter Brock on life</em>.</p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
