---
title: "Rubenerd Show 004: The Apple Pro keyboard FLOSS game episode"
date: "2005-02-11T15:59:59+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2005"
abstract: '15:00 – Felix the infamous is back in Singapore, and our packing is well underway! The Apple Pro keyboard reviewed, and is open source gaming feasible?'
enclosure_file: "https://archive.org/download/The_Rubenerd_Show_004/RubenerdShow004.mp3"
enclosure_size: 3726865
enclosure_duration: "15:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-singapore
- the-overnightscape-underground
- podcast
location: singapore
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/The_Rubenerd_Show_004/RubenerdShow004.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/The_Rubenerd_Show_004/RubenerdShow004.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">15:00</span> – Felix the infamous is back in Singapore, and our packing is well underway! The Apple Pro keyboard reviewed, and is open source gaming feasible?</p>

<p class="show-licence">Recorded in Singapore. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
