---
title: "Rubenerd Show 323: The front fell off episode"
date: "2016-02-02T10:20:58+11:00"
year: "2016"
abstract: '21:27 – Clark and Dawe, fronts of tankers falling off, fronts of financial systems falling off, fronts of cars falling off, fronts of moose (mooses? moosii?) falling off, and other related ruminations. This episode would have been longer, but the front fell off.'
thumb: "https://archive.org/download/RubenerdShow323/RubenerdShow323.png"
enclosure_file: "https://archive.org/download/RubenerdShow323/RubenerdShow323.mp3"
enclosure_size: "20915597"
enclosure_type: "audio/mpeg"
enclosure_duration: "21:27"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow323/RubenerdShow323.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow323/RubenerdShow323.png" alt="Rubenerd Show 323" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow323/RubenerdShow323.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow323/RubenerdShow323.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">21:27</span> – Clark and Dawe, fronts of <a href="https://www.youtube.com/watch?v=3m5qxZm_JqM">tankers falling off</a>, fronts of <a href="https://www.youtube.com/watch?v=I5QwKEwo4Bc">financial systems falling off</a>, fronts of cars falling off, fronts of moose (mooses? moosii?) falling off, and other related ruminations. This episode would have been longer, but the front fell off.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released February 2016 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

