---
title: "Rubenerd Show 126: The back at the birthplace of the show episode"
date: "2006-07-10T22:20:00+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2006"
abstract: '10:00 – Talking over a morning cup of coffee, the idea for the show (no non-American New Time Radio shows available, an ’Asia Pacific Overnightscape’, Singaporean wireless saturation (number 2 in Asia behind Japan of course!), Felix Tanjono and Ruben scheming at this very coffee house) and recording Singapore video. Recorded outside so may hear some traffic!'
enclosure_file: "https://archive.org/download/RubenerdShow126/RubenerdShow126.mp3"
enclosure_size: 4826492
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-singapore
- the-overnightscape-underground
- podcast
location: singapore
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p style="font-weight:bold">Coming to you from the birthplace (and the place I still consider home) of the Rubenerd Show, the Paragon Coffee Bean and Tea Leaf in Singapore!</p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow126/RubenerdShow126.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow126/RubenerdShow126.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Talking over a morning cup of coffee, the idea for the show (no non-American <a href="http://NewTimeRadio.com/">New Time Radio</a> shows available, an &#39;Asia Pacific <a href="http://theovernightscape.com/">Overnightscape</a>&#39;, Singaporean wireless saturation (number 2 in Asia behind Japan of course!), Felix Tanjono and Ruben scheming at this very coffee house) and recording Singapore video. Recorded outside so may hear some traffic!</p>

<p class="show-licence">Recorded in Singapore. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
