---
title: "Rubenerd Show 355: The New Jersey episode"
date: "2016-11-03T11:34:37+11:00"
year: "2016"
abstract: '29:48 – Frank and Manny graciously showed us around New Jersey, and recorded such an epic Overnightscape I didn’t bother doing my own show from there! To keep the chronology of episodes accurate, this is a quick recap of this part of our trip, recorded back around my dad’s new place in North Arm Cove. Intro by ZAGAT.'
thumb: "https://archive.org/download/RubenerdShow355/RubenerdShow355.png"
enclosure_file: "https://archive.org/download/RubenerdShow355/RubenerdShow355.mp3"
enclosure_size: "29203400"
enclosure_type: "audio/mpeg"
enclosure_duration: "29:48"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow355/RubenerdShow355.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow355/RubenerdShow355.png" alt="Rubenerd Show 355" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow355/RubenerdShow355.mp3">Play in new window</a> &middot; <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow355/RubenerdShow355.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">29:48</span> – Frank and Manny graciously showed us around New Jersey, and recorded such an <a href="http://onsug.com/archives/21514">epic Overnightscape</a> I didn't bother doing my own show from there! To keep the chronology of episodes accurate, this is a quick recap of this part of our trip, recorded back around my dad's new place in North Arm Cove. Intro by <a href="https://www.youtube.com/watch?v=CBPh9e2Rj7s">ZAGAT</a>.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released November 2016 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

