---
title: "Rubenerd Show 287: The fire alarm episode"
date: "2015-08-16T17:09:09+10:00"
thumb: "https://archive.org/download/RubenerdShow287/RubenerdShow287.png"
year: "2015"
abstract: '11:59 – A brief trip in time and space to an apartment building fire evacuation in suburban Australia. Did Ruben survive!? Of course he did, he uploaded the episode. No wait, I mean... listen to find out!'
enclosure_file: "https://archive.org/download/RubenerdShow287/RubenerdShow287.mp3"
enclosure_size: "11641833"
enclosure_type: "audio/mpeg"
enclosure_duration: "11:59"
enclosure_bitrate: 128
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow287/RubenerdShow287.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow287/RubenerdShow287.png" alt="Rubenerd Show 287" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow287/RubenerdShow287.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow287/RubenerdShow287.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">11:59</span> – A brief trip in time and space to an apartment building fire evacuation in suburban Australia. Did Ruben survive!? Of course he did, he uploaded the episode. No wait, I mean... listen to find out!</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released August 2015 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

