---
title: "Rubenerd Show 376: The Embarcadero episode"
date: "2018-07-08T00:27:46-07:00"
abstract: '46:01 – Working from the San Fransisco office of the company I work for the next month, so I went wandering around Mission Rock, Embarcadero, the Bay Bridge, the docks, and a bit around the office. I’d write a more detailed description, but I’m doing double Australian and American shifts right now! Recorded over a week in late June 2018.'
thumb: "https://archive.org/download/RubenerdShow376/RubenerdShow376.png"
enclosure_file: "https://archive.org/download/RubenerdShow376/RubenerdShow376.mp3"
enclosure_size: "44175395"
enclosure_type: "audio/mpeg"
enclosure_duration: "46:01"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-san-francisco
- the-overnightscape-underground
- podcast
location: san-francisco
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow376/RubenerdShow376.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow376/RubenerdShow376.png" alt="Rubenerd Show 376" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow376/RubenerdShow376.mp3">Play in new window</a> &middot; <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow376/RubenerdShow376.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">46:01</span> – Working from the San Fransisco office of the company I work for the next month, so I went wandering around Mission Rock, Embarcadero, the Bay Bridge, the docks, and a bit around the office. I’d write a more detailed description, but I’m doing double Australian and American shifts right now! Recorded over a week in late June 2018.</p>

<p class="show-licence">Recorded in San Francisco, California. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released July 2018 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

