---
title: "Rubenerd Show 047: The holiday comeback special"
date: "2005-10-11T14:29:59+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2005"
abstract: '20:00 – My holiday comeback special! Talking about the new schedule for The Rubenerd Show effective immediently, where I went on my trip with my family and a review of The Coffee Works in Cairns, land reclamation, a one year old TV recording from the now-dead &quot;Channel i&quot; and the phenomena of &quot;lost audio&quot;. Signed off with Magical Trevor.'
enclosure_file: "https://archive.org/download/The_Rubenerd_Show_047/RubenerdShow047.mp3"
enclosure_size: 8583721
enclosure_duration: "20:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/The_Rubenerd_Show_047/RubenerdShow047.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/The_Rubenerd_Show_047/RubenerdShow047.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">20:00</span> – My holiday comeback special! Talking about the new schedule for The Rubenerd Show effective immediently, where I went on my trip with my family and a review of The Coffee Works in Cairns, land reclamation, a one year old TV recording from the now-dead &quot;Channel i&quot; and the phenomena of &quot;lost audio&quot;. Signed off with Magical Trevor.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
