---
title: "Rubenerd Show 391: The Lemon Grove episode"
date: "2019-03-16T17:28:41+11:00"
abstract: "01:12:50 — It's another Rubenerd Squish, where I stick a few unrelated episodes into one! Part one discusses the most bizarre advertisement I've ever seen, in an audio journey through a 1970s era shopping centre that has barely changed. Part two discusses fabric couches, fun with spirometry, the Clipboard Mafia, and certain frustrating podcast ads. Part three discusses duopolistic allegiances, and fun with reverb-berb-reverb. Recorded Feburuary-March 2019."
thumb: "https://archive.org/download/RubenerdShow391/RubenerdShow391.png"
enclosure_file: "https://archive.org/download/RubenerdShow391/RubenerdShow391.mp3"
enclosure_size: "69890438"
enclosure_type: "audio/mpeg"
enclosure_duration: "01:12:50"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow391/RubenerdShow391.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow391/RubenerdShow391.png" alt="Rubenerd Show 391" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow391/RubenerdShow391.mp3">Play in new window</a> &middot; <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow391/RubenerdShow391.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">01:12:50</span> – It's another Rubenerd Squish, where I stick a few unrelated episodes into one! <strong>Part one</strong> discusses the most bizarre advertisement I've ever seen, in an audio journey through a 1970s era shopping centre that has barely changed. <strong>Part two</strong> discusses fabric couches, fun with spirometry, the Clipboard Mafia, and certain frustrating podcast ads. <strong>Part three</strong> discusses duopolistic allegiances, and fun with reverb-berb-reverb. Recorded Feburuary-March 2019.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released March 2019 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts; this one notwithstanding.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

