---
title: "Rubenerd Show 112: The timezone still on Windows 2000 episode"
date: "2006-06-21T08:01:00+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2006"
abstract: '10:00 – Ruben not feeling good, A Moment with Elke Segment (bagging Ruben out over New York to Singapore time-zones), Rubenerd Housekeeping (new tabbed interface on the site, deleting old shows from the podcast feed) and What Were They Smoking? (Microsoft’s Windows Genuine Advantage, I’ll stick with Windows 2000 thanks).'
enclosure_file: "https://archive.org/download/RubenerdShow112/RubenerdShow112.mp3"
enclosure_size: 4823491
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-kuala-lumpur
- the-overnightscape-underground
- podcast
location: kuala-lumpur
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow112/RubenerdShow112.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow112/RubenerdShow112.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Ruben not feeling good, <a href="https://rubenerd.com/show/wiki/index.php/A_Moment_with_Elke_Segment">A Moment with Elke Segment</a> (bagging Ruben out over New York to Singapore time-zones), <a href="https://rubenerd.com/show/wiki/index.php/Rubenerd_Housekeeping">Rubenerd Housekeeping</a> (new tabbed interface on the site, deleting old shows from the podcast feed) and <a href="https://rubenerd.com/show/wiki/index.php/What_Were_They_Smoking%3F">What Were They Smoking?</a> (<a href="http://news.com/Fighting+Microsofts+piracy+check/2100-1029_3-6085853.html?tag=nefd.lede">Microsoft&#39;s Windows Genuine Advantage</a>, I&#39;ll stick with Windows 2000 thanks).</p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
