---
title: "Rubenerd Show 109: The international podcasters episode"
date: "2006-06-16T08:16:00+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2006"
abstract: '10:00 – What Were They Smoking? (Anime Girl Singing Finnish), Ruben’s Review (The Recent Graduate), Listener Mail (Israel Brown (Crap and Stuff)), podcasters outside the United States, Gmail problems in the last 12 hours, and an update on the Rubenerd Mum!'
enclosure_file: "https://archive.org/download/RubenerdShow109/RubenerdShow109.mp3"
enclosure_size: 4823377
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-kuala-lumpur
- the-overnightscape-underground
- podcast
location: kuala-lumpur
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow109/RubenerdShow109.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow109/RubenerdShow109.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – What Were They Smoking? (Anime Girl Singing Finnish), Ruben&#39;s Review (The Recent Graduate), Listener Mail (Israel Brown (<a href="http://crapandstuff.com/">Crap and Stuff</a>)), podcasters outside the United States, Gmail problems in the last 12 hours, and an update on the Rubenerd Mum!</p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
