---
title: "Rubenerd Show 327: The syncing corn muffin episode"
date: "2016-03-07T17:27:58+11:00"
year: "2016"
abstract: '58:04 – Quiet neighbourhoods near Mardi Gras, a heart scare, work-life balance, answering Jimbo’s synchronicity questions, placebo beverages, acquired tastes, acquired skills, American comics, tea, nostalgia for American restaurants in Singapore (A&amp;W, Applebees, Coffee Bean and Tea Leaf, Carl’s Jr, Kenny Rogers Roasters) and the world’s most epic muffins!'
thumb: "https://archive.org/download/RubenerdShow327/RubenerdShow327.png"
enclosure_file: "https://archive.org/download/RubenerdShow327/RubenerdShow327.mp3"
enclosure_size: "57406160"
enclosure_type: "audio/mpeg"
enclosure_duration: "58:04"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow327/RubenerdShow327.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow327/RubenerdShow327.png" alt="Rubenerd Show 327" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow327/RubenerdShow327.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow327/RubenerdShow327.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">58:04</span> – Quiet neighbourhoods near Mardi Gras, a heart scare, work-life balance, answering Jimbo’s synchronicity questions, placebo beverages, acquired tastes, acquired skills, American comics, tea, nostalgia for American restaurants in Singapore (A&amp;W, Applebees, Coffee Bean and Tea Leaf, Carl’s Jr, Kenny Rogers Roasters) and the world’s most epic muffins!</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released March 2016 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

