---
title: "Rubenerd Show 131: The on the phone with Elke Schade episode"
date: "2006-07-18T18:48:26+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2006"
abstract: '10:00 – Our thoughts go out to the victims and families caught in the Lebanese-Israeli conflict and the latest tsunami to hit Java, on the phone with Elke Schade, the Rubenerd Sister (Elke hating Ruben, eating McDonalds, slack school teachers, feeling sick, getting a new cat), apologies for audio quality, I’m still getting used to using this phone recording device lah!'
enclosure_file: "https://archive.org/download/RubenerdShow131/RubenerdShow131.mp3"
enclosure_size: 4823202
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p style="font-weight:bold">On the phone with Elke Schade :D</p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow131/RubenerdShow131.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow131/RubenerdShow131.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Our thoughts go out to the victims and families caught in the Lebanese-Israeli conflict and the latest tsunami to hit Java, on the phone with Elke Schade, the Rubenerd Sister (Elke hating Ruben, eating McDonalds, slack school teachers, feeling sick, getting a new cat), apologies for audio quality, I&#39;m still getting used to using this phone recording device lah!</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
