---
title: "Rubenerd Show 194: The flood disaster in Southern Malaysia episode"
date: "2006-12-22T00:16:17+08:00"
thumb: "NA"
year: "2006"
abstract: '12:00 – Trying to be a bit more serious today folks. Discussing the current flood situation in Southern Malaysia (Johor, Malacca), The Star, helping out the affected people (The Malaysian Red Crescent), possible causes and a dedication to the 8 people killed.'
enclosure_file: "https://archive.org/download/RubenerdShow194/RubenerdShow194.mp3"
enclosure_size: 5783254
enclosure_duration: "12:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-kuala-lumpur
- the-overnightscape-underground
- podcast
location: kuala-lumpur
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em;" src="https://archive.org/download/RubenerdShow194/Side194.jpg" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow194/RubenerdShow194.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow194/RubenerdShow194.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">12:00</span> – Trying to be a bit more serious today folks. Discussing the <a href="https://rubenerd.com/show/blog/johor-floods-intensify-no-relief-in-sight/">current flood situation in Southern Malaysia</a> (<a href="http://en.wikipedia.org/wiki/Johor">Johor</a>, <a href="http://en.wikipedia.org/wiki/Malacca">Malacca</a>), <a href="http://thestar.com.my/">The Star</a>, helping out the affected people (<a href="http://www.redcrescent.org.my/">The Malaysian Red Crescent</a>), possible causes and a <em>dedication to the 8 people killed</em>.</p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
