---
title: "Rubenerd Show 368: The Nakanoshima episode"
date: "2017-08-10T21:41:59+10:00"
year: "2017"
abstract: '01:01:03 – Join Ruben as he wanders through Osaka to Namba Parks, where he procures a vending machine beverage and groks millions of Japanese train lines, ICOCA, the largest Japanese electronics chain, weebs and otaku, A4 clear files with anime and trains, roof–top landscapes, and Boss coffee. Then to Clara and Ruben on the tiny Nakanoshima island in the middle of Osaka talking about white people in Japanese ads, Yaoi, Royal Milk Tea can instrumentation, lit up bridges across the Dōjima River, Japanese department stores, learning languages, and a final wander through the middle of Osaka before we leave back for Hong Kong. Thank you Kansai ♡ . Recorded 31st July 2017.'
thumb: "https://archive.org/download/RubenerdShow368/RubenerdShow368.png"
enclosure_file: "https://archive.org/download/RubenerdShow368/RubenerdShow368.mp3"
enclosure_size: "58579141"
enclosure_type: "audio/mpeg"
enclosure_duration: "01:01:03"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-osaka
- the-overnightscape-underground
- podcast
location: osaka
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow368/RubenerdShow368.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow368/RubenerdShow368.png" alt="Rubenerd Show 368" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow368/RubenerdShow368.mp3">Play in new window</a> &middot; <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow368/RubenerdShow368.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">01:01:03</span> – Join Ruben as he wanders through Osaka to Namba Parks, where he procures a vending machine beverage and groks millions of Japanese train lines, ICOCA, the largest Japanese electronics chain, weebs and otaku, A4 clear files with anime and trains, roof–top landscapes, and Boss coffee. Then to Clara and Ruben on the tiny Nakanoshima island in the middle of Osaka talking about white people in Japanese ads, Yaoi, Royal Milk Tea can instrumentation, lit up bridges across the Dōjima River, Japanese department stores, learning languages, and a final wander through the middle of Osaka before we leave back for Hong Kong. Thank you Kansai ♡ . Recorded 31st July 2017.</p>

<p class="show-licence">Recorded in Osaka, Japan. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released August 2017 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

