---
title: "Rubenerd Show 192: The joyfully wasting time episode"
date: "2006-12-20T12:31:03+08:00"
thumb: "https://archive.org/download/RubenerdShow192/Side192.png"
year: "2006"
abstract: '10:00 – High school memories in Singapore (international schools, maths classes in year 7, Clever Trevor Stanton!), The Sims 2 downloads review (alexstanton1983’s wickedly realistic trees), &lt;a href=&quot;http://en.wikipedia.org/wiki/wpUserboxes&quot;&gt;user box obsession on my Wikipedia user page and Limber Timber!'
enclosure_file: "https://archive.org/download/RubenerdShow192/RubenerdShow192.mp3"
enclosure_size: 4824202
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-kuala-lumpur
- the-overnightscape-underground
- podcast
location: kuala-lumpur
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em;" src="https://archive.org/download/RubenerdShow192/Side192.png" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow192/RubenerdShow192.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow192/RubenerdShow192.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – High school memories in Singapore (international schools, maths classes in <a href="http://www.ais.com.sg/">year 7</a>, Clever Trevor Stanton!), <a href="http://thesims2.ea.com/">The Sims 2</a> downloads review (<a href="http://modthesims2.com/creator/alex_stanton1983">alex_stanton1983’s</a> wickedly realistic trees), <a href="http://en.wikipedia.org/wiki/wp_Userboxes">user box</a> obsession on <a href="http://en.wikipedia.org/wiki/User:Rubenerd">my Wikipedia user page</a> and <em><a href="http://modthesims2.com/showthread.php?t=209994">Limber Timber!</a></em></p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
