---
title: "Rubenerd Show 265: The Barack Obama and Nikon D60 Part One episode"
date: "2009-02-07T03:48:01+08:00"
thumb: "https://archive.org/download/RubenerdShow265/RubenerdShow265.180px.png"
year: "2009"
abstract: '20:45 – Terribly good jokes told by people who can’t tell jokes; Barack Obama’s inauguration on TV; relieved farewell to Dubbya; more relieved Sarah Palin didn’t win than Barack did; silly thing John McCain said; the American founding fathers; Thomas Jefferson on church and state; getting a Nikon D60 for Christmas; pixel density is more important then megapixels; my old FinePix S9600; how bridge cameras compare to real single lens reflex (SLR) cameras; realising shows shouldn’t be recorded at 2am; an exciting new hobby and discovering green tea is… green tea!'
enclosure_file: "https://archive.org/download/RubenerdShow265/RubenerdShow265.mp3"
enclosure_size: 10123635
enclosure_duration: "20:45"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow265/RubenerdShow265.png"><img src="https://archive.org/download/RubenerdShow265/RubenerdShow265.180px.png" alt="Larger version of cover art" style="height:180px; width:180px; float:left; margin:0px 20px 5px 0px" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow265/RubenerdShow265.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow265/RubenerdShow265.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">20:45</span> – Terribly good jokes told by people who can&#39;t tell jokes; <a href="https://flickr.com/photos/rubenerd/3213356652/">Barack Obama&#39;s inauguration on TV</a>; relieved farewell to Dubbya; more relieved Sarah Palin didn&#39;t win than Barack did; silly thing John McCain said; the American founding fathers; Thomas Jefferson on church and state; getting a <a href="http://www.nikon-asia.com/productitem.php?pid=1229-ca88cdad9e">Nikon D60</a> for Christmas; <a href="http://en.wikipedia.org/wiki/Pixels_per_inch#Scanners_and_cameras">pixel density</a> is more important then megapixels; my old FinePix S9600; how bridge cameras compare to real single lens reflex (SLR) cameras; realising shows shouldn&#39;t be recorded at 2am; an exciting new hobby and discovering green tea is… green tea!</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade.</p> 
