---
title: "Rubenerd Show 072: The where the bloody hell are you episode"
date: "2006-03-19T14:29:59+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2006"
abstract: '21:30 – Ruben’s Monologue (milk duds, the Home Hardware dogalogue, Zoo magazine), keeping hopes up for a Greens seat in the Legislative Council, The Top 5 (signs you voted Liberal), why you should think before you vote, Make It Great with Phil Gerbyshak (in Nashville no less!), the controversial &quot;Where the bloody hell are you&quot; Aussie tourism campaign, Will It Sink? (an unprocessed sugar packet), Frank Edward Nora What?! (something stinks…), and weather for tomorrow. Brought to you by TPG Internet Australia.'
enclosure_file: "https://archive.org/download/RubenSchadeRubenerdShow072/RubenerdShow072.mp3"
enclosure_size: 10361240
enclosure_duration: "21:30"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenSchadeRubenerdShow072/RubenerdShow072.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenSchadeRubenerdShow072/RubenerdShow072.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">21:30</span> – Ruben&#39;s Monologue (milk duds, the <a href="http://www.homehardware.com.au/">Home Hardware</a> dogalogue, Zoo magazine), keeping hopes up for a <a href="http://www.sa.greens.org.au">Greens</a> seat in the Legislative Council, The Top 5 (signs you voted <a href="http://www.sa.liberal.org.au">Liberal</a>), why you should think before you vote, <a href="http://makeitgreat.org">Make It Great</a> with Phil Gerbyshak (<a href="http://makeitgreat.typepad.com/makeitgreat/2006/03/where_in_the_wo.html">in Nashville no less!</a>), the controversial &quot;Where the bloody hell are you&quot; Aussie tourism campaign, Will It Sink? (an unprocessed <a href="http://riocoffee.com.au/">sugar packet</a>), Frank Edward Nora What?! (something stinks…), and weather for tomorrow. Brought to you by TPG Internet Australia.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
