---
title: "Rubenerd Show 198: The Al Frankin's The Truth with Jokes review episode"
date: "2006-12-28T23:19:34+08:00"
thumb: "NA"
year: "2006"
abstract: '14:00 – An update on the Asia-Pacific internet outage, book review (The Truth with Jokes by Al Frankin, Fear-Smear-Queer against John Kerry, evil super evil people (Karl Rove, Dubbya, John Howard) and keeping secret sources secret!'
enclosure_file: "https://archive.org/download/RubenerdShow198/RubenerdShow198.mp3"
enclosure_size: 6743306
enclosure_duration: "14:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-kuala-lumpur
- the-overnightscape-underground
- podcast
location: kuala-lumpur
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em;" src="https://archive.org/download/RubenerdShow198/Side198.jpg" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow198/RubenerdShow198.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow198/RubenerdShow198.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">14:00</span> – An update on the <a href="https://rubenerd.com/show197/">Asia-Pacific internet outage</a>, book review (<a href="http://alfrankin.com/"><em>The Truth with Jokes</em></a> by Al Frankin, Fear-Smear-Queer against John Kerry, evil super evil people (Karl Rove, Dubbya, John Howard) and <em>keeping secret sources secret!</em></p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
