---
title: "Rubenerd Show 306: The hand dryer episode"
date: "2015-11-19T22:34:35+11:00"
thumb: "https://archive.org/download/RubenerdShow306/RubenerdShow306.png"
year: "2015"
abstract: '54:34 – Drinking water, fear of forgetting things, keycards living in apartments, Singaporean reception desks, HDBs, sovereign wealth funds, cinematic masks, 007 Spectre, the Stars (Trek, Gate, Wars), Marvel’s Hawkeye, manga, difficulty getting into comics, the Star Trek reboot, The Undiscovered Country, reserved HTML status codes, creepy car park music, disappointing vegetarian breakfasts, unified theory on hand dryer training (the Dyson AirBlade and AirBlade V), the New South Wales HSC, scary tutour billboards in Sydney’s Epping station, societal pressure to study at all costs, government funding private schools (wait what?) and some awesome FleetCard 80s graphics!'
enclosure_file: "https://archive.org/download/RubenerdShow306/RubenerdShow306.mp3"
enclosure_size: "53729246"
enclosure_type: "audio/mpeg"
enclosure_duration: "54:34"
enclosure_bitrate: 128
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow306/RubenerdShow306.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow306/RubenerdShow306.png" alt="Rubenerd Show 306" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow306/RubenerdShow306.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow306/RubenerdShow306.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">54:34</span> – Drinking water, fear of forgetting things, keycards living in apartments, Singaporean reception desks, HDBs, sovereign wealth funds, cinematic masks, 007 Spectre, the Stars (Trek, Gate, Wars), Marvel’s Hawkeye, manga, difficulty getting into comics, the Star Trek reboot, The Undiscovered Country, reserved HTML status codes, creepy car park music, disappointing vegetarian breakfasts, unified theory on hand dryer training (the Dyson AirBlade and AirBlade V), the New South Wales HSC, scary tutour billboards in Sydney’s Epping station, societal pressure to study at all costs, government funding private schools (wait what?) and some awesome FleetCard 80s graphics!</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released November 2015 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

