---
title: "Rubenerd Show 329: The sound game episode"
date: "2016-03-17T11:48:17+11:00"
year: "2016"
abstract: '42:00 – A previously-unreleased episode from a late January 2016 night. Topics include science, microwaves, air, Australia Day, sandpits and dirt, rectangular rubbish receptacles, the lamp shade iMac, superfluous design, poorly placed park benches, Paul Simon, light pollution, and identifying sounds under my feet.'
thumb: "https://archive.org/download/RubenerdShow329/RubenerdShow329.png"
enclosure_file: "https://archive.org/download/RubenerdShow329/RubenerdShow329.mp3"
enclosure_size: "41160068"
enclosure_type: "audio/mpeg"
enclosure_duration: "42:00"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow329/RubenerdShow329.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow329/RubenerdShow329.png" alt="Rubenerd Show 329" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow329/RubenerdShow329.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow329/RubenerdShow329.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">42:00</span> – A previously-unreleased episode from a late January 2016 night. Topics include science, microwaves, air, Australia Day, sandpits and dirt, rectangular rubbish receptacles, the lamp shade iMac, superfluous design, poorly placed park benches, Paul Simon, light pollution, and identifying sounds under my feet.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released March 2016 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >
<a href="http://pca.st/ybXl"><img src="https://rubenerd.com/files/2015/podcast-pocket.png" alt="Subscribe with Pocket Casts" style="width:100px;" /></a> <a href="https://overcast.fm/itunes1003680071/rubenerd-show"><img src="https://rubenerd.com/files/2015/podcast-overcast.png" alt="Subscribe with Overcast" style="width:100px;" /></a> <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071"><img src="https://rubenerd.com/files/2015/podcast-itunes.png" alt="Subscribe with iTunes" style="width:100px;" /></a> <a href="http://showfeed.rubenerd.com/"><img src="https://rubenerd.com/files/2015/podcast-rss.png" alt="Subscribe with RSS with your other podcast client or blog reader" style="width:100px;" /></a></p>

