---
title: "Rubenerd Show 147: The people speaking Chinese episode"
date: "2006-08-10T00:33:17+08:00"
thumb: "https://archive.org/download/RubenerdShow147/Side147.png"
year: "2006"
abstract: '10:00 – Boasting girl on the train claiming to be able speak Italian, Indonesian and &quot;Chinese&quot;, swearing in Singaporean Hokkien, another Sorry State of Aussie TV rant (commercial late night news programs, Channel 10’s pathetic &quot;Sports Tonight&quot; program, Lateline on Channel 9). Ran out of time for listener mail, I apologise!'
enclosure_file: "https://archive.org/download/RubenerdShow147/RubenerdShow147.mp3"
enclosure_size: 4823366
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em;" src="https://archive.org/download/RubenerdShow147/Side147.png" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow147/RubenerdShow147.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow147/RubenerdShow147.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Boasting girl on the train claiming to be able speak Italian, Indonesian and &quot;Chinese&quot;, swearing in Singaporean Hokkien, another Sorry State of Aussie TV rant (commercial late night news programs, <a href="http://www.ten.com.au">Channel 10&#39;s</a> pathetic &quot;<a href="http://ten.com.au/main_idx.aspx?section=newsWeather">Sports Tonight</a>&quot; program, <a href="http://news.ninemsn.com.au/">Lateline</a> on <a href="http://channelnine.ninemsn.com/">Channel 9</a>). Ran out of time for listener mail, I apologise!</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
