---
title: "Rubenerd Show 217: The fancy Malaysia/Singapore train episode"
date: "2007-02-21T14:44:09+08:00"
thumb: "NA"
year: "2007"
abstract: '12:00 – Where the hell &quot;Piggy Bank&quot; comes from, more attacks in East Asia and Thailand, old clay stuff, high speed train between KL and Singapore speculation, the world is actually upside down, busted cables and 666 has arrived… again!'
enclosure_file: "https://archive.org/download/RubenerdShow217/RubenerdShow217.mp3"
enclosure_size: 5785766
enclosure_duration: "12:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-kuala-lumpur
- the-overnightscape-underground
- podcast
location: kuala-lumpur
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em; width:110px; height:150px;" src="https://archive.org/download/RubenerdShow217/Side217.ktmb.jpg" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow217/RubenerdShow217.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow217/RubenerdShow217.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">12:00</span> – Where the hell &quot;Piggy Bank&quot; comes from, more attacks in East Asia and Thailand, old clay stuff, high speed train between KL and Singapore speculation, the world is actually upside down, busted cables and <em>666 has arrived… again!</em></p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
