---
title: "Rubenerd Show 365: The Osaka episode"
date: "2017-07-27T00:31:31+10:00"
year: "2017"
abstract: '01:03:56 – Join Ruben as he ventures through the otaku and tech mecca of the Kansai region in Den Den Town, then with Ruben and Clara during the Tenjin Matsuri by the Okawa, intersperced with the sounds of the Osaka subway. Topics include Japanese cicadas, travel, ubiquitous speakers, vending machines, cute mascots, summer festival food, and much more! Recorded Tuesday 25th July 2017. More to come.'
thumb: "https://archive.org/download/RubenerdShow365/RubenerdShow365.png"
enclosure_file: "https://archive.org/download/RubenerdShow365/RubenerdShow365.mp3"
enclosure_size: "61298822"
enclosure_type: "audio/mpeg"
enclosure_duration: "01:03:56"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-osaka
- the-overnightscape-underground
- podcast
location: osaka
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow365/RubenerdShow365.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow365/RubenerdShow365.png" alt="Rubenerd Show 365" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow365/RubenerdShow365.mp3">Play in new window</a> &middot; <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow365/RubenerdShow365.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">01:03:56</span> – Join Ruben as he ventures through the otaku and tech mecca of the Kansai region in Den Den Town, then with Ruben and Clara during the Tenjin Matsuri by the Okawa, intersperced with the sounds of the Osaka subway. Topics include Japanese cicadas, travel, ubiquitous speakers, vending machines, cute mascots, summer festival food, and much more! Recorded Tuesday 25th July 2017. More to come.</p>

<p class="show-licence">Recorded in Osaka, Japan. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released July 2017 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

