---
title: "Rubenerd Show 135: The one of them pointless episodes episode"
date: "2006-07-24T23:26:47+08:00"
thumb: "NA"
year: "2006"
abstract: '10:00 – An Extreme Redundancy Report (DVD Audio ripper software), pointless slogans on road billboards in Kuala Lumpur, Malaysia (Ace Hardware, Timberland, Police Boots, Excedy, Pensonic), and a Rubenerd Forum syncronicity that happened on a forum: the Rubenerd Forum.'
enclosure_file: "https://archive.org/download/RubenerdShow135/RubenerdShow135.mp3"
enclosure_size: 4823243
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><img style="float:left; margin:0px 20px 5px 0px; border:0; width:124px;" src="https://archive.org/download/RubenerdShow135/Side135.gif" alt="Show cover." /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow135/RubenerdShow135.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow135/RubenerdShow135.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – An Extreme Redundancy Report (<a rel="nofollow" href="http://www.downloadatoz.com/tag,dvd%20audio%20ripper%20mac%20os.html">DVD Audio ripper software</a>), pointless slogans on road billboards in Kuala Lumpur, Malaysia (Ace Hardware, Timberland, Police Boots, Excedy, Pensonic), and a Rubenerd Forum syncronicity that happened on a forum: the Rubenerd Forum.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
