---
title: "Rubenerd Show 226: The Elke and Ruben discussing stupid news episode"
date: "2007-08-17T23:59:43+08:00"
thumb: "https://archive.org/download/RubenerdShow226/RubenerdShow226.png"
year: "2007"
abstract: '51:00 – Rubenerd sister Elke joins us to discuss ridiculous news articles, stalker arguing social networking page was misleading, debating seedy MySpace profiles, gyrating at nightclubs, wasting time on Facebook and Friendster, Ruben’s and Elke’s Twitter pages, giving away personal details, Aussie PM John Howard trying to filter the internet, easy to stumble on sleaze online, Ted Steven’s series of tubes, is there blame-shifting going on, oxymoronic fuel efficient SUVs, combatting efficient Japanese cars, hugging trees, good publicity without substance, Elke’s mass communication studies course thing, actually learning nothing useful, chemistry and economics, high school friend Boyd Anderson’s site is mysteriously down, friggen mouse pointers, Blackle is my new favourite search engine, lesbians in The Sims, dark background on light text, energy efficiency tips, Freddo Frogs, comparing American to British, Aussie and Belgian chocolate, Hershey’s Kisses are icky, New Zealand accents, Russell Crowe on South Park and throwing phones, no breast implants in space, voting Green not Libertarian, Ruben’s heterosexuality, hacker webmasters, reading Twitterrific posts from Felix and Frank Nora live, furnaces in the tropics, Japanese and Aussie expats in Singapore, friggen ang mohs, caucasian guys like being special, Elke’s immaturity and unpleasantness, mysterious Champs-Élysees song discovered by surrealist, faulty Nokia phone batteries, URL redundancies, random women forcing themselves on you, Frank’s QuarkXPress woes, The Sunscreen Song and John Howard’s contorted facial expressions.'
enclosure_file: "https://archive.org/download/RubenerdShow226/RubenerdShow226.mp3"
enclosure_size: 24503218
enclosure_duration: "51:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tags:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-singapore
- the-overnightscape-underground
- podcast
location: singapore
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow226/RubenerdShow226.png" alt="" style="float:right; margin:1em 0em 1em 2em; height:180px; width:180px; display:inline; border:0px;" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow226/RubenerdShow226.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow226/RubenerdShow226.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">51:00</span> – Rubenerd sister Elke joins us to discuss ridiculous news articles, <a href="http://urltea.com/193p">stalker arguing</a> social networking page was misleading, debating seedy MySpace profiles, gyrating at nightclubs, wasting time on Facebook and Friendster, <a href="http://twitter.com/rubenerd/">Ruben&#39;s</a> and <a href="http://twitter.com/elkeee/">Elke&#39;s</a> Twitter pages, giving away personal details, Aussie PM John Howard <a href="http://news.com/Australias+porn-blocking+plan+unveiled/2100-7348_3-6202226.html?tag=cd.top">trying to filter the internet</a>, easy to stumble on sleaze online, Ted Steven&#39;s series of tubes, is there blame-shifting going on, oxymoronic <a href="http://news.com/8301-10784_3-9759981-7.html">fuel efficient SUVs</a>, combatting efficient Japanese cars, hugging trees, good publicity without substance, Elke&#39;s mass communication studies course thing, actually learning nothing useful, chemistry and economics, high school friend <a href="http://boyd-anderson.com/">Boyd Anderson&#39;s</a> site is mysteriously down, friggen mouse pointers, <a href="http://blackle.com/">Blackle</a> is my new favourite search engine, lesbians in <a href="http://www.aspyr.com/product/info/13">The Sims</a>, dark background on light text, energy efficiency tips, <a href="http://www.cadbury.com.au/sites/cadbury/index.php?pageId=82">Freddo Frogs</a>, comparing American to British, Aussie and Belgian chocolate, Hershey&#39;s Kisses are icky, New Zealand accents, <a href="http://en.wikipedia.org/wiki/The_New_Terrance_and_Phillip_Movie_Trailer">Russell Crowe on South Park</a> and throwing phones, no breast implants in space, voting Green not Libertarian, Ruben&#39;s heterosexuality, hacker webmasters, reading Twitterrific posts from <a href="http://twitter.com/redragon">Felix</a> and <a href="http://twitter.com/ons">Frank Nora</a> live, furnaces in the tropics, Japanese and Aussie expats in Singapore, friggen ang mohs, caucasian guys like being special, Elke&#39;s immaturity and unpleasantness, <a href="https://rubenerd.com/show/forum/comments.php?DiscussionID=61">mysterious Champs-Élysees song discovered</a> by surrealist, <a href="http://batteryreplacement.nokia.com/batteryreplacement/en/">faulty Nokia phone batteries</a>, URL redundancies, random women forcing themselves on you, <a href="http://theovernightscape.com/">Frank&#39;s</a> QuarkXPress woes, <a href="http://en.wikipedia.org/wiki/Everybody%27s_Free_%28To_Wear_Sunscreen%29">The Sunscreen Song</a> and John Howard&#39;s contorted facial expressions.</p>

<p class="show-licence">Recorded in Singapore. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade.</p> 
