---
title: "Rubenerd Show 415: The Amehhhhh Sharipov episode"
date: "2021-07-02T13:38:44+10:00"
abstract: "55:49 — In part one, your sophisticated host attempts to make an Aeropress coffee live on air, namedrops his friend, mentions some Minecraft LEGO adventures, and discusses some listener mail from Oskar Sharipov regarding audio recording, OGG files, and independent production. Then we timeskip a week to when your aforementioned host walks around an abandoned Chatswood street late at night to find which coffee shops are open during the Sydney lockdowns. Mmm, coffee."
thumb: "https://archive.org/download/RubenerdShow415/RubenerdShow415.png"
enclosure_file: "https://archive.org/download/RubenerdShow415/RubenerdShow415.mp3"
enclosure_size: "53672211"
enclosure_type: "audio/mpeg"
enclosure_duration: "55:49"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow415/RubenerdShow415.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow415/RubenerdShow415.png" alt="Rubenerd Show 415" style="width:320px; height:320px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow415/RubenerdShow415.mp3">Play in new window</a> | <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow415/RubenerdShow415.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">55:49</span> – In part one, your sophisticated host attempts to make an Aeropress coffee live on air, namedrops his friend, mentions some Minecraft LEGO adventures, and discusses some listener mail from Oskar Sharipov regarding audio recording, OGG files, and independent production. Then we timeskip a week to when your aforementioned host walks around an abandoned Chatswood street late at night to find which coffee shops are open during the Sydney lockdowns. Mmm, coffee.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release">Released July 2021 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts; this one notwithstanding. Hosted graciously by the <a href="https://archive.org/details/RubenerdShow415/">Internet Archive</a>.</p>

<p class="show-subscribe">Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

