---
title: "Rubenerd Show 416: The microwaved nostalgia episode"
date: "2021-08-18T09:26:25+10:00"
abstract: "32:51 — Join Ruben as he takes an evening lockdown socially-distancing stroll as he discusses UniSA campus nostalgia in Adelaide, adventures with side effects, a freezing family holiday to Germany in the early 2010s, and an extended discussion on the merits and flaws of contemporary electronic microwave oven appliance design affordances (I think Dire Straits did a song about that, though in significantly fewer words. Custom kitchen deliveries, and all that)."
thumb: "https://archive.org/download/RubenerdShow416/RubenerdShow416.png"
enclosure_file: "https://archive.org/download/RubenerdShow416/RubenerdShow416.mp3"
enclosure_size: "31586073"
enclosure_type: "audio/mpeg"
enclosure_duration: "32:51"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow416/RubenerdShow416.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow416/RubenerdShow416.png" alt="Rubenerd Show 416" style="width:320px; height:320px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow416/RubenerdShow416.mp3">Play in new window</a> | <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow416/RubenerdShow416.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">32:51</span> – Join Ruben as he takes an evening lockdown socially-distancing stroll as he discusses UniSA campus nostalgia in Adelaide, adventures with side effects, a freezing family holiday to Germany in the early 2010s, and an extended discussion on the merits and flaws of contemporary electronic microwave oven appliance design affordances (I think Dire Straits did a song about that, though in significantly fewer words. Custom kitchen deliveries, and all that).</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release">Released August 2021 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts; this one notwithstanding. Hosted graciously by the <a href="https://archive.org/details/RubenerdShow416/">Internet Archive</a>.</p>

<p class="show-subscribe">Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

