---
title: "Rubenerd Show 356: The Jim Kloss episode"
date: "2016-11-15T17:40:56+11:00"
year: "2016"
abstract: '01:01:01 – This is a very special episode of the Rubenerd Show, possibly the best one ever. In a cute Philadelphia coffee shop in October 2016, I finally got to sit down with Jim Kloss; mentor, online confidant and dear friend. We set the record straight on Whole Wheat Radio, the pioneering independent online music community; and the NOCHANGE BBS system with its ingenious two factor authentication system and delightful inception. Along with Frank Nora and Israel Brown, Jim was the reason I started this audio magazine in 2005. It was a delight, and an honour to talk with him. I hope you feel the magic I did.'
thumb: "https://archive.org/download/RubenerdShow356/RubenerdShow356.png"
enclosure_file: "https://archive.org/download/RubenerdShow356/RubenerdShow356.mp3"
enclosure_size: "60262543"
enclosure_type: "audio/mpeg"
enclosure_duration: "01:01:01"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-philadelphia
- the-overnightscape-underground
- podcast
location: philadelphia
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow356/RubenerdShow356.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow356/RubenerdShow356.png" alt="Rubenerd Show 356" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow356/RubenerdShow356.mp3">Play in new window</a> &middot; <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow356/RubenerdShow356.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">01:01:01</span> – This is a very special episode of the Rubenerd Show, possibly the best one ever. In a cute Philadelphia coffee shop in October 2016, I finally got to sit down with Jim Kloss; mentor, online confidant and dear friend. We set the record straight on Whole Wheat Radio, the pioneering independent online music community; and the <a href="http://www.bbsdocumentary.com/software/IBM/DOS/NOCHANGE/">NOCHANGE BBS</a> system with its ingenious two factor authentication system and delightful inception. Along with <a href="http://theovernightscape.com/">Frank Nora</a> and <a href="https://duckduckgo.com/?q=site%3Arubenerd.com+israel+brown&amp;t=ffsb&amp;ia=web">Israel Brown</a>, Jim was the reason I started this audio magazine in 2005. It was a delight, and an honour to talk with him. I hope you feel the magic I did.</p>

<p class="show-licence">Recorded in Philadelphia, Pennsylvania. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Jim Kloss, Clara Tse, Ruben Schade.</p>

<p class="show-release" >Released November 2016 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

