---
title: "Rubenerd Show 333: The triptriptriple episode"
date: "2016-03-23T16:52:57+11:00"
year: "2016"
abstract: '23:59 – The third in a short show series documenting my last week as a 20-something! Chatting about rattling Sydney tin can trains, the previous triple digit episode (Rubenerd Show 222 nine years ago), and the oddly specific power board cafe culture in Malaysia, Singapore and Australia. Was almost 24:00!'
thumb: "https://archive.org/download/RubenerdShow333/RubenerdShow333.png"
enclosure_file: "https://archive.org/download/RubenerdShow333/RubenerdShow333.mp3"
enclosure_size: "23529220"
enclosure_type: "audio/mpeg"
enclosure_duration: "23:59"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow333/RubenerdShow333.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow333/RubenerdShow333.png" alt="Rubenerd Show 333" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow333/RubenerdShow333.mp3">Play in new window</a> &middot; <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow333/RubenerdShow333.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">23:59</span> – The third in a short show series documenting my last week as a 20-something! Chatting about rattling Sydney tin can trains, the previous triple digit episode (<a href="https://rubenerd.com/show222/">Rubenerd Show 222</a> nine years ago), and the oddly specific power board cafe culture in Malaysia, Singapore and Australia. Was <em>almost</em> 24:00!</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released March 2016 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

