---
title: "Rubenerd Show 082: The service centre address is a house episode"
date: "2006-05-09T20:25:00+08:00"
thumb: "https://archive.org/download/RubenerdShow082/CoverArt.png"
year: "2006"
abstract: '10:00 – Why Apple laptops look sexier than PC laptops and what PC companies should be doing, Will It Sink? (Multi-Vitamin with Omega 3 container!) and Apple telling Ruben their service centre address is a… house!'
enclosure_file: "https://archive.org/download/RubenerdShow082/RubenerdShow082.mp3"
enclosure_size: 4816545
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow082/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow082/RubenerdShow082.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow082/RubenerdShow082.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Why Apple laptops look sexier than PC laptops and what PC companies should be doing, Will It Sink? (Multi-Vitamin with Omega 3 container!) and Apple telling Ruben their service centre address is a… house!</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
