---
title: "Rubenerd Show 062: The goodbye Adelaide for now episode"
date: "2005-12-04T14:29:59+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2005"
abstract: '20:00 – The last episode recorded in the Rubenerd Adelaide Studio until next year! Talking about improved show sound quality, my upcoming trip to Singapore and Kuala Lumpur for the Christmas holidays, recording the show from overseas (the ’unplugged’ episodes starting episode 63), atheists celebrating Christmas, unreliable internet connections, adventures with GarageBand, Audacity and Gmail, and the execution of Van Tuong Nguyen and whilst I don’t support capital punishment, he had to be.'
enclosure_file: "https://archive.org/download/The_Rubenerd_Show_062/RubenerdShow062.mp3"
enclosure_size: 9610470
enclosure_duration: "20:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/The_Rubenerd_Show_062/RubenerdShow062.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/The_Rubenerd_Show_062/RubenerdShow062.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">20:00</span> – The last episode recorded in the Rubenerd Adelaide Studio until next year! Talking about improved show sound quality, my upcoming trip to <a href="http://en.wikipedia.org/wiki/Singapore">Singapore</a> and <a href="http://en.wikipedia.org/wiki/Kuala_Lumpur">Kuala Lumpur</a> for the Christmas holidays, recording the show from overseas (the &#39;unplugged&#39; episodes starting episode 63), atheists celebrating Christmas, unreliable internet connections, adventures with <a href="http://www.apple.com/ilife/garageband/">GarageBand</a>, <a href="http://audacity.sourceforge.net/">Audacity</a> and <a href="http://gmail.google.com">Gmail</a>, and the execution of Van Tuong Nguyen and whilst I don&#39;t support capital punishment, he had to be.</p>

<p><strong>Something To Think About Segment</strong>: The 2006 Holden Barina… a knockoff or a coincidence?</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
