---
title: "Rubenerd Show 395: The corned mindfulness episode"
date: "2019-06-29T21:57:10+10:00"
abstract: "51:02 — Join Ruben as he takes a somewhat narcissistic view of work, life in one’s thirties, mindfulness or lack thereof, charities, the events in Hong Kong, the ergonomic considerations behind corn chips, wandering around Artarmon thinking the same things, and a classic clip from Flight of the Conchords. You want to sit down but you sold you chair, so you... you just stand there. Recorded over a few weeks in June 2019."
thumb: "https://archive.org/download/RubenerdShow395/RubenerdShow395.png"
enclosure_file: "https://archive.org/download/RubenerdShow395/RubenerdShow395.mp3"
enclosure_size: "48987253"
enclosure_type: "audio/mpeg"
enclosure_duration: "51:02"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow395/RubenerdShow395.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow395/RubenerdShow395.png" alt="Rubenerd Show 395" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow395/RubenerdShow395.mp3">Play in new window</a> &middot; <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow395/RubenerdShow395.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">51:02</span> – Join Ruben as he takes a somewhat narcissistic view of work, life in one’s thirties, mindfulness or lack thereof, charities, the events in Hong Kong, the ergonomic considerations behind corn chips, wandering around Artarmon thinking the same things, and a classic clip from Flight of the Conchords. You want to sit down but you sold you chair, so you... you just stand there. Recorded over a few weeks in June 2019.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released June 2019 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts; this one notwithstanding.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

