---
title: "Rubenerd Show 244: The somewhat psychedelic difficult people episode"
date: "2008-06-24T20:10:13+08:00"
thumb: "https://archive.org/download/RubenerdShow244/RubenerdShow244.png"
year: "2008"
abstract: '33:38 – Spending more time dealing with people not problems, university folks moving from Windows to Linux and Mac, university assignments, compulsive fanboyism, SQlite, Microsoft C#.NET, squeaky clean OpenBSD, actually finding someone who likes Windows Vista, skies getting dark really fast, comments from Rubenerd Show 241, too many interesting people on Twitter, Twitter traditional news sources (Aussie ABC, BBC News, BBC SciTech, Reuters, Channel News Asia) and personal nuclear missile silos.'
enclosure_file: "https://archive.org/download/RubenerdShow244/RubenerdShow244.mp3"
enclosure_size: 16169171
enclosure_duration: "33:38"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-singapore
- the-overnightscape-underground
- podcast
location: singapore
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow244/RubenerdShow244.png" alt="SQLite goodness!" style="height:180px; width:180px; float:left; margin:0px 20px 5px 0px" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow244/RubenerdShow244.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow244/RubenerdShow244.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">33:38</span> – Spending more time dealing with people not problems, university folks moving from Windows to <a href="http://slackware.com/">Linux</a> and <a href="http://apple.com.sg/mac/">Mac</a>, university assignments, compulsive fanboyism, <a href="http://sqlite.org/">SQlite</a>, <a href="http://msdn.microsoft.com/en-us/vcsharp/default.aspx">Microsoft C#.NET</a>, squeaky clean <a href="http://openbsd.org/">OpenBSD</a>, actually finding someone who likes <a href="http://microsoft.com/windows/">Windows Vista</a>, skies getting dark really fast, comments from <a href="https://rubenerd.com/show241/">Rubenerd Show 241</a>, too many interesting people on Twitter, Twitter traditional news sources (<a href="https://twitter.com/abcnews">Aussie ABC</a>, <a href="https://twitter.com/bbcnews">BBC News</a>, <a href="https://twitter.com/bbcscitech">BBC SciTech</a>, <a href="https://twitter.com/Reuters">Reuters</a>, <a href="https://twitter.com/ChannelNewsAsia">Channel News Asia</a>) and personal nuclear missile silos.</p>

<p class="show-licence">Recorded in Singapore. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade.</p>
