---
title: "Rubenerd Show 362: The table screw episode"
date: "2017-07-04T16:09:19+10:00"
year: "2017"
abstract: '51:44 – Join Ruben in the midst of his packing and moving hell! Bubble wrap, IKEA tables, craft beer adventures, inspections, ambiguous iTunes categories, Mascot and North Sydney, delightful roaches, paring down stuff, and 2000s nostalgia. Recorded 30th June 2016.'
thumb: "https://archive.org/download/RubenerdShow362/RubenerdShow362.png"
enclosure_file: "https://archive.org/download/RubenerdShow362/RubenerdShow362.mp3"
enclosure_size: "49619657"
enclosure_type: "audio/mpeg"
enclosure_duration: "51:44"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow362/RubenerdShow362.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow362/RubenerdShow362.png" alt="Rubenerd Show 362" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow362/RubenerdShow362.mp3">Play in new window</a> &middot; <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow362/RubenerdShow362.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">51:44</span> – Join Ruben in the midst of his packing and moving hell! Bubble wrap, IKEA tables, craft beer adventures, inspections, ambiguous iTunes categories, Mascot and North Sydney, delightful roaches, paring down stuff, and 2000s nostalgia. Recorded 30th June 2016.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released July 2017 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

