---
title: "Rubenerd Show 150: The 150th Episode… episode"
date: "2006-08-14T01:56:37+08:00"
thumb: "NA"
year: "2006"
abstract: '10:00 – Reaching 150 (progress made), why I can’t use Ourmedia anymore, the irritating habit of talking about one’s podcast (why I’m a hypocrites), Retro Rubenerd Aha (Episode 50, Sun 23/Oct/2006), NASA World Tour 1999, and celebrating by splurging on a BucketBoss Brand MugBoss (&quot;desk and workbench organiser&quot;). Thank you everyone, you all rock!'
enclosure_file: "https://archive.org/download/RubenerdShow150/RubenerdShow150.mp3"
enclosure_size: 4826083
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><img style="float:left; margin:0px 20px 5px 0px; width:110px;" src="https://archive.org/download/RubenerdShow150/Side150.jpg" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow150/RubenerdShow150.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow150/RubenerdShow150.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Reaching 150 (progress made), why I can&#39;t use <a href="http://ourmedia.org/user/38566">Ourmedia</a> anymore, the irritating habit of talking about one&#39;s podcast (why I&#39;m a hypocrites), Retro Rubenerd Aha (Episode 50, Sun 23/Oct/2006), NASA World Tour 1999, and celebrating by splurging on a <a href="http://bucketboss.com">BucketBoss Brand MugBoss</a> (&quot;desk and workbench organiser&quot;). Thank you everyone, you all rock!</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
