---
title: "Rubenerd Show 158: The news and FOSS episode"
date: "2006-08-23T20:10:26+08:00"
thumb: "https://archive.org/download/RubenerdShow158/Side158.png"
year: "2006"
abstract: ''
enclosure_file: "https://archive.org/download/RubenerdShow158/RubenerdShow158.mp3"
enclosure_size: 4824202
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em;" src="https://archive.org/download/RubenerdShow158/Side158.png" alt="" /></p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
