---
title: "Rubenerd Show 339: The bojangles episode"
date: "2016-04-25T10:20:10+10:00"
year: "2016"
abstract: '29:26 – Recording on a new phone, sci-fi, custom plates, retro computer fandom, upgrade cycle fatigue, listener feedback (Jimbo), Mascot Woolies, chirping birds, farewell One Coffee Bean, food in NYC and Sydney, bagels, cheesecake, Instagram, Southerner stereotypes, and pronouncing food locations.'
thumb: "https://archive.org/download/RubenerdShow339/RubenerdShow339.png"
enclosure_file: "https://archive.org/download/RubenerdShow339/RubenerdShow339.mp3"
enclosure_size: "28524100"
enclosure_type: "audio/mpeg"
enclosure_duration: "29:26"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow339/RubenerdShow339.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow339/RubenerdShow339.png" alt="Rubenerd Show 339" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow339/RubenerdShow339.mp3">Play in new window</a> &middot; <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow339/RubenerdShow339.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">29:26</span> – Recording on a new phone, sci-fi, custom plates, retro computer fandom, upgrade cycle fatigue, listener feedback (Jimbo), Mascot Woolies, chirping birds, farewell <a href="https://www.zomato.com/sydney/one-coffee-bean-mascot">One Coffee Bean</a>, food in NYC and Sydney, bagels, cheesecake, Instagram, Southerner stereotypes, and pronouncing food locations.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released April 2016 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

