---
title: "Rubenerd Show 253: The Singapore Grand Prix and bills episode"
date: "2008-09-29T23:36:45+08:00"
thumb: "https://archive.org/download/RubenerdShow253/RubenerdShow253.180px.png"
year: "2008"
abstract: '37:00 – Reviewing the first Formula 1 Grand Prix night race in Singapore, Massa’s pits fuel pipe adventure, the lights and skyline, Alonoso was one lucky guy, Ferrari’s woes; version 1.1.1 of the addictive Nations application on Facebook; Twinings Chai tea; ridiculous Telstra phone bill nonsense; and avoiding suggestively named Naked DSL!'
enclosure_file: "https://archive.org/download/RubenerdShow253/RubenerdShow253.mp3"
enclosure_size: 17901189
enclosure_duration: "37:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow253/RubenerdShow253.png"><img src="https://archive.org/download/RubenerdShow253/RubenerdShow253.180px.png" alt="Click for larger version" style="height:180px; width:180px; float:left; margin:0px 20px 5px 0px" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow253/RubenerdShow253.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow253/RubenerdShow253.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">37:00</span> – Reviewing the first Formula 1 Grand Prix night race in Singapore, Massa&#39;s pits fuel pipe adventure, the lights and skyline, Alonoso was one lucky guy, Ferrari&#39;s woes; version 1.1.1 of the addictive <a href="http://apps.new.facebook.com/nations/nation">Nations</a> application on Facebook; <a href="http://www.twinings.com/au/range_overview.php">Twinings Chai tea</a>; ridiculous <a href="http://www.telstra.com.au">Telstra</a> phone bill nonsense; and avoiding suggestively named Naked DSL!</p>

<p>Music for this episode performed by <a href="http://www.magnatune.com/artists/chris_juergensen">Chris Juergensen</a> from <a href="http://www.magnatune.com">Magnatune.com</a>.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade.</p> 
