---
title: "Rubenerd Show 382: The mock food episode"
date: "2018-10-27T20:18:50+11:00"
abstract: '25:58 – A rare single-topic episode tackling fake foods and beverages! Discussing decaffeinated coffee, non-alcoholic beer, mock meat (including having an Impossible Burger in Los Angeles, and Linda McCartney vegetarian fare in Sydney), sugar-free drinks, grilled plastic cheese slices, and other effective hipster repellent.'
thumb: "https://archive.org/download/RubenerdShow382/RubenerdShow382.png"
enclosure_file: "https://archive.org/download/RubenerdShow382/RubenerdShow382.mp3"
enclosure_size: "24966190"
enclosure_type: "audio/mpeg"
enclosure_duration: "25:58"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow382/RubenerdShow382.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow382/RubenerdShow382.png" alt="Rubenerd Show 382" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow382/RubenerdShow382.mp3">Play in new window</a> &middot; <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow382/RubenerdShow382.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">25:58</span> – A rare single-topic episode tackling fake foods and beverages! Discussing decaffeinated coffee, non-alcoholic beer, mock meat (including having an Impossible Burger in Los Angeles, and Linda McCartney vegetarian fare in Sydney), sugar-free drinks, grilled plastic cheese slices, and other effective hipster repellent.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released October 2018 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

