---
title: "Rubenerd Show 308: The sugar soup episode"
date: "2015-11-26T13:58:27+11:00"
year: "2015"
abstract: '53:00 – Needless highs from sugary food, tomato soup, listener feedback (Jimbo, Manny, Chad Bowers, Dave Willanski, Doc Sleaze), the Fleet Card, Cabcharge, editing Wikipedia, Uber versus taxis, online scammers, motivation needs to come from within, potable and portable water, missing packages, Windows 8, user interface context, Powershop, fridges, and where’s all our power going!?'
thumb: "https://archive.org/download/RubenerdShow308/RubenerdShow308.png"
enclosure_file: "https://archive.org/download/RubenerdShow308/RubenerdShow308.mp3"
enclosure_size: "52479457"
enclosure_type: "audio/mpeg"
enclosure_duration: "53:00"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow308/RubenerdShow308.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow308/RubenerdShow308.png" alt="Rubenerd Show 308" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow308/RubenerdShow308.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow308/RubenerdShow308.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">53:00</span> – Needless highs from sugary food, tomato soup, listener feedback (<a href="http://vicandsade.blogspot.com">Jimbo</a>, <a href="http://onsug.com/archives/author/manny">Manny</a>, <a href="http://onsug.com/archives/category/chad">Chad Bowers</a>, <a href="https://twitter.com/dwillanski/status/667857164795408384">Dave Willanski</a>, <a href="http://thesleaze.co.uk/">Doc Sleaze</a>), the Fleet Card, Cabcharge, editing Wikipedia, Uber versus taxis, online scammers, motivation needs to come from within, potable and portable water, missing packages, Windows 8, user interface context, Powershop, fridges, and where’s all our power going!?</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released November 2015 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

