---
title: "Rubenerd Show 277: The Northern Irish Clara episode"
date: "2015-06-21T12:26:17+10:00"
thumb: "https://archive.org/download/RubenerdShow277/RubenerdShow277.png"
year: "2015"
abstract: '56:31 – Topics include Mascot, electric stoves suck, Australian housing affordability, the great power rort, how the weather is too damn cold, small talk, elevators versus lifts, Data from TNG, the pronounciation of names, British convicts shipped off to the US and Australia, stupid whites treating native peoples, gender terminology, audio equipments for podcasters, Windows NT 3.51 and kernel panics, WiFi latency, perfect Singapore weather, switching between units of measurement, paying for food (Chinese food, murtabak), Northern Ireland (banknote adventures, The Giants Causeway), broasted birds, Merlin Mann and Dan Benjamin, ingrained etymological mistakes, cosplaying as Guilty Crown characters, hexagons, The Royal Australian Mint, speaking Chinese and European, Bo (Diddly, Jangles, Dudley), Johnson and the 1990s ABC beating Toy Story by 5 years, and Fatboy Slim’s Weapon of Choice. Special guest appearance by Clara Tse.'
enclosure_file: "https://archive.org/download/RubenerdShow277/RubenerdShow277.mp3"
enclosure_size: "54335513"
enclosure_type: "audio/mpeg"
enclosure_duration: "56:31"
enclosure_bitrate: 128
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow277/RubenerdShow277.png" alt="Rubenerd Show 277" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow277/RubenerdShow277.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow277/RubenerdShow277.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">56:31</span> – Topics include Mascot, electric stoves suck, Australian housing affordability, the <a href="https://www.themonthly.com.au/issue/2014/july/1404136800/jess-hill/power-corrupts">great power rort</a>, how the weather is too damn cold, small talk, elevators versus lifts, Data from TNG, the pronounciation of names, British convicts shipped off to the US and Australia, stupid whites treating native peoples, gender terminology, audio equipments for podcasters, Windows NT 3.51 and kernel panics, WiFi latency, perfect Singapore weather, switching between units of measurement, paying for food (Chinese food, murtabak), Northern Ireland (banknote adventures, The Giants Causeway), broasted birds, Merlin Mann and Dan Benjamin, ingrained etymological mistakes, cosplaying as Guilty Crown characters, hexagons, <a href="http://ramint.gov.au">The Royal Australian Mint</a>, speaking Chinese and European, Bo (Diddly, Jangles, Dudley), Johnson and the 1990s ABC beating Toy Story by 5 years, and Fatboy Slim's <a href="https://www.youtube.com/watch?v=sMZwZiU0kKs">Weapon of Choice</a>. Special guest appearance by <a href="http://kirinyan.net/">Clara Tse</a>.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade. Music by <a href="https://magnatune.com/artists/albums/juergenson-prospects/">Chris Juergensen</a>.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>
