---
title: "Rubenerd Show 325: The long lost 2013 episode"
date: "2016-02-08T00:24:07+11:00"
year: "2016"
abstract: '10:55 – I found my first attempt at rebooting the Rubenerd Show from January 2013! Topics included time stamp counters, audible tangents, tea, being back in Sydney, and torched coffee shops. Two years later, the show restarted for good with an episode that didn’t abruptly end with a door opening.'
thumb: "https://archive.org/download/RubenerdShow325/RubenerdShow325.png"
enclosure_file: "https://archive.org/download/RubenerdShow325/RubenerdShow325.mp3"
enclosure_size: "10727036"
enclosure_type: "audio/mpeg"
enclosure_duration: "10:55"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow325/RubenerdShow325.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow325/RubenerdShow325.png" alt="Rubenerd Show 325" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow325/RubenerdShow325.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow325/RubenerdShow325.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:55</span> – I found my first attempt at rebooting the <em>Rubenerd Show</em> from January 2013! Topics included time stamp counters, audible tangents, tea, being back in Sydney, and torched coffee shops. Two years later, the show <a href="https://rubenerd.com/show275/">restarted for good</a> with an episode that didn't abruptly end with a door opening.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released February 2016 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

