---
title: "Rubenerd Show 239: The Crash Test Dummies and silly people episode"
date: "2008-04-23T23:25:42+08:00"
thumb: "https://archive.org/download/RubenerdShow239/RubenerdShow239.png"
year: "2008"
abstract: '37:20 – Twitter is back, and so is the spam! Frustration with my Nokia e61i’s speed, awesome Canadians in Singapore, university and high school have much in common, Elke’s polytechnic adventures, The Levels becomes Mawson Lakes (WTF?), silly university entrance requirements and an Elke and Ruben combined teachers and students rant, even more dang Twitter spam messages, the lead singer from the Crash Test Dummies rocks!'
enclosure_file: "https://archive.org/download/RubenerdShow239/RubenerdShow239.mp3"
enclosure_size: 17949259
enclosure_duration: "37:20"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-singapore
- the-overnightscape-underground
- podcast
location: singapore
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow239/RubenerdShow239.png" alt="The Crash Test Dummies!" style="height:180px; width:180px; float:left; margin:0px 20px 5px 0px" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow239/RubenerdShow239.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow239/RubenerdShow239.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">37:20</span> – Twitter is back, and so is the spam! Frustration with my <a href="http://www.nokia.com.sg/e61i">Nokia e61i&#39;s</a> speed, awesome Canadians in Singapore, university and high school have much in common, Elke&#39;s polytechnic adventures, The Levels becomes <a href="http://www.mawsonlakes.com.au/">Mawson Lakes</a> (WTF?), silly university entrance requirements and an Elke and Ruben combined teachers and students rant, even more dang Twitter spam messages, the lead singer from the Crash Test Dummies rocks!</p>

<p class="show-licence">Recorded in Singapore. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade.</p> 
