---
title: "Rubenerd Show 040: The Hong Kong Grocery episode"
date: "2005-08-21T14:29:59+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2005"
abstract: '15:00 – Ruben goes to the Hong Kong Grocery Store in Chinatown! Reviews of a lot of cool stuff including Dragon and Phoenix Kaya from Malaysia, Soft Sesame Cake from Viet Nam, Pokka Jasmine Green Tea and Blueberry Tea from Japan, Garden Coconut Wafers from Hong Kong and Hello Panda chocolate from Japan (made in Singapore). I’m full!'
enclosure_file: "https://archive.org/download/The_Rubenerd_Show_040/RubenerdShow040.mp3"
enclosure_size: 6422547
enclosure_duration: "15:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/The_Rubenerd_Show_040/RubenerdShow040.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/The_Rubenerd_Show_040/RubenerdShow040.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">15:00</span> – Ruben goes to the Hong Kong Grocery Store in Chinatown! Reviews of a lot of cool stuff including Dragon and Phoenix Kaya from Malaysia, Soft Sesame Cake from Viet Nam, Pokka Jasmine Green Tea and Blueberry Tea from Japan, Garden Coconut Wafers from Hong Kong and Hello Panda chocolate from Japan (made in Singapore). I&#39;m full!</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
