---
title: "Rubenerd Show 110: The Mayalsian pear episode"
date: "2006-06-19T08:16:00+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2006"
abstract: '10:00 – A new week of Rubenerd Show (Overnightscape style), Did You Know? (note tuner in GarageBand), eating Malaysian pears, freeware CD copying programs, I want a wallet with three pouches (for MYR, SDG and AUDs) and Ruben’s Review (the Worst Site Search in History).'
enclosure_file: "https://archive.org/download/RubenerdShow110/RubenerdShow110.mp3"
enclosure_size: 
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-kuala-lumpur
- the-overnightscape-underground
- podcast
location: kuala-lumpur
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow110/RubenerdShow110.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow110/RubenerdShow110.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – A new week of Rubenerd Show (Overnightscape style), <a href="https://rubenerd.com/show/wiki/index.php/Did_You_Know%3F">Did You Know? (note tuner in GarageBand)</a>, eating <a href="https://rubenerd.com/show/wiki/index.php/Malaysia">Malaysian</a> pears, freeware CD copying programs, I want a wallet with three pouches (for MYR, SDG and AUDs) and <a href="https://rubenerd.com/show/wiki/index.php/Ruben%27s_Review">Ruben&#39;s Review</a> (the <a href="https://rubenerd.com/show/wiki/index.php/Worst_Site_Search_in_History">Worst Site Search in History</a>).</p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
