---
title: "Rubenerd Show 045: The very scientific episode"
date: "2005-09-21T14:29:59+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2005"
abstract: '15:00 – Very scientific episode today, Mr Reilly (chem teacher from year 12) eat your heart out! Reviewing Dare Coffee Shot with Guarana coffee drink, the trickle-down effects of high crude oil prices, another thank you to Felix Tanjono concerning site issues and ideas for new petrol free car engines including one that’s powered by… air!'
enclosure_file: "https://archive.org/download/The_Rubenerd_Show_045/RubenerdShow045.mp3"
enclosure_size: 6428084
enclosure_duration: "15:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/The_Rubenerd_Show_045/RubenerdShow045.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/The_Rubenerd_Show_045/RubenerdShow045.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">15:00</span> – Very scientific episode today, Mr Reilly (chem teacher from year 12) eat your heart out! Reviewing Dare Coffee Shot with Guarana coffee drink, the trickle-down effects of high crude oil prices, another thank you to Felix Tanjono concerning site issues and ideas for new petrol free car engines including one that&#39;s powered by… air!</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
