---
title: "Rubenerd Show 335: The woke-up episode"
date: "2016-03-25T16:47:12+11:00"
year: "2016"
abstract: '24:05 – Show five (though I said “four”) of six documenting my last days before turning 30! Chatting about worries over turning 30 turning into scaryness, the start of every blues song, “Weird Al” Yancovic, anime figs, and censors’ predilection for gory violence over toplessness.'
thumb: "https://archive.org/download/RubenerdShow335/RubenerdShow335.png"
enclosure_file: "https://archive.org/download/RubenerdShow335/RubenerdShow335.mp3"
enclosure_size: "23914789"
enclosure_type: "audio/mpeg"
enclosure_duration: "24:05"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow335/RubenerdShow335.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow335/RubenerdShow335.png" alt="Rubenerd Show 335" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow335/RubenerdShow335.mp3">Play in new window</a> &middot; <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow335/RubenerdShow335.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">24:05</span> – Show five (though I said “four”) of six documenting my last days before turning 30! Chatting about worries over turning 30 turning into scaryness, the start of every blues song, “Weird Al” Yancovic, anime figs, and censors’ predilection for gory violence over toplessness.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released March 2016 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

