---
title: "Rubenerd Show 163: The haze and pretending to look smart episode"
date: "2006-10-06T17:16:48+08:00"
thumb: "NA"
year: "2006"
abstract: '10:00 – Being news-like, wireless networking woes, the PSI, Indonesian haze enveloping South-East Asia, wall maps, software review (OSXplanet: live desktop world map for Mac) and Chuck Norris killing people.'
enclosure_file: "https://archive.org/download/RubenerdShow163/RubenerdShow163.mp3"
enclosure_size: 4824202
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-kuala-lumpur
- the-overnightscape-underground
- podcast
location: kuala-lumpur
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em; width:110px; height:150px;" src="https://archive.org/download/RubenerdShow163/Side163.jpg" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow163/RubenerdShow163.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow163/RubenerdShow163.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Being news-like, wireless networking woes, the <a href="http://app.nea.gov.sg/psi/">PSI</a>, Indonesian haze enveloping South-East Asia, wall maps, software review (<a href="http://www.gabrielotte.com/osxplanet/main.html">OSXplanet</a>: live desktop world map for Mac) and <em>Chuck Norris killing people</em>.</p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
