---
title: "Rubenerd Show 369: The wurst episode"
date: "2017-09-01T23:29:57+10:00"
year: "2017"
abstract: '26:16 – This may be the worst episode of the show ever recorded. Its saving graces were a few clips from the Hypothetical Institute, one of the non-Onsug shows Ruben listens to. Topics include illness, backmasking, and the only appropriate way to unsubscribe from email. Don’t listen to it! Or just skip to the clips.'
thumb: "https://archive.org/download/RubenerdShow369/RubenerdShow369.png"
enclosure_file: "https://archive.org/download/RubenerdShow369/RubenerdShow369.mp3"
enclosure_size: "25252511"
enclosure_type: "audio/mpeg"
enclosure_duration: "26:16"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow369/RubenerdShow369.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow369/RubenerdShow369.png" alt="Rubenerd Show 369" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow369/RubenerdShow369.mp3">Play in new window</a> &middot; <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow369/RubenerdShow369.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">26:16</span> – This may be the worst episode of the show ever recorded. Its saving graces were a few clips from the <a href=http://hypotheticalinstitute.podbean.com>Hypothetical Institute</a>, one of the non-Onsug shows Ruben listens to. Topics include illness, backmasking, and the only appropriate way to unsubscribe from email. Don't listen to it! Or just skip to the clips.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released September 2017 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

