---
title: "Rubenerd Show 232: The useless Rubenerd 22nd birthday episode"
date: "2008-03-28T05:18:39+08:00"
thumb: "https://archive.org/download/RubenerdShow232/RubenerdShow232.png"
year: "2008"
abstract: '23:03 – A full show will be done by the end of the week, but I wanted to do a show on my birthday. Cool timezone checking site, blog post about the big two two, camera phones, purchasing music from Whole Wheat Radio, birthday lunch at Brotzeit, UPS shipping, FreeBSD and a convenient apple juice handle.'
enclosure_file: "https://archive.org/download/RubenerdShow232/RubenerdShow232.mp3"
enclosure_size: 11092096
enclosure_duration: "23:03"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-singapore
- the-overnightscape-underground
- podcast
location: singapore
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow232/RubenerdShow232.png" alt="" style="height:180px; width:180px; float:left; margin:0px 20px 5px 0px" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow232/RubenerdShow232.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow232/RubenerdShow232.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">23:03</span> – A full show will be done by the end of the week, but I wanted to do a show on my birthday. Cool <a href="http://www.timeanddate.com/worldclock/">timezone checking site</a>, blog post about the big <a href="https://rubenerd.com/show/blog/p1099/">two two</a>, camera phones, purchasing music from <a href="http://wholewheatradio.org/wiki/index.php/Main_Page">Whole Wheat Radio</a>, birthday lunch at <a href="http://www.brotzeit1516.com/">Brotzeit</a>, <a href="http://ups.com.sg/">UPS shipping</a>, <a href="http://freebsd.org/">FreeBSD</a> and a convenient apple juice handle.</p>

<p>Featuring <a href="http://schade.sg/elke/">Elke Schade</a> as a <a href="http://kmart.com.au/">Kmart</a> announcer.</p>

<p><em><strong>AFTERWARD:</strong> I noticed after uploading that the music is a bit too loud compared to my voice for the first 10 minutes or so. I will remember to check my levels more carefully next time!</em></p>

<p class="show-licence">Recorded in Singapore. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade.</p> 
