---
title: "Rubenerd Show 148: The awesome audio episode"
date: "2006-08-10T22:40:41+08:00"
thumb: "NA"
year: "2006"
abstract: '10:00 – Listener email (Eugene on the cute girl in Starbucks), another John Howard Joke (the Bonsai, what’s your IQ?), using Gizmo (username: rubenerd), listener audio (Felix Tanjono, coming up with idea for the Rubenerd Show), playing My Cubicle (hilarious parody of James Blunt’s &quot;You’re Beautiful&quot;), and Ruben trying out &quot;singing&quot;.'
enclosure_file: "https://archive.org/download/RubenerdShow148/RubenerdShow148.mp3"
enclosure_size: 4823366
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em;" src="https://archive.org/download/RubenerdShow148/Side148.jpg" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow148/RubenerdShow148.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow148/RubenerdShow148.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Listener email (Eugene on the cute girl in Starbucks), another John Howard Joke (the Bonsai, what&#39;s your IQ?), using <a href="http://www.gizmoproject.com/">Gizmo</a> (username: rubenerd), listener audio (Felix Tanjono, coming up with idea for the Rubenerd Show), playing <a href="http://tomorrow.sg/archives/2006/07/18/my_cubicle.html">My Cubicle</a> (hilarious parody of James Blunt&#39;s &quot;You&#39;re Beautiful&quot;), and Ruben trying out &quot;singing&quot;.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
