---
title: "Rubenerd Show 020: The Forth Offline Editions episode"
date: "2005-06-11T14:29:59+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2005"
abstract: '15:00 – Forth episode of the Offline Editions. Talking about site updates and domain woes, helplessness, GarageBand 2, Apple Store educational discounts, people who have to prove something (too cool for school), stupid number plates, another coffee update, and talking to people in the future!'
enclosure_file: "https://archive.org/download/The_Rubenerd_Show_020/RubenerdShow020.mp3"
enclosure_size: 6523290
enclosure_duration: "15:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/The_Rubenerd_Show_020/RubenerdShow020.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/The_Rubenerd_Show_020/RubenerdShow020.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">15:00</span> – Forth episode of the Offline Editions. Talking about site updates and domain woes, helplessness, GarageBand 2, Apple Store educational discounts, people who have to prove something (too cool for school), stupid number plates, another coffee update, and talking to people in the future!</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
