---
title: "Rubenerd Show 138: Tonight's Guest: Elke Schade"
date: "2006-07-27T19:56:33+08:00"
thumb: "https://archive.org/download/RubenerdShow138/Side138.png"
year: "2006"
abstract: '10:00 – Audio tip for podcasters using the MadPlayer device, Elke being bored, bored, BORED, the woes of high school exams, getting projects back, IKEA cupboards in landings, home states in Australia, university prospects, rich kids getting into uni or joining the army, being physically fit (or not!), and forty two long.'
enclosure_file: "https://archive.org/download/RubenerdShow138/RubenerdShow138.mp3"
enclosure_size: 4823366
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em;" src="https://archive.org/download/RubenerdShow138/Side138.png" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow138/RubenerdShow138.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow138/RubenerdShow138.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Audio tip for podcasters using the MadPlayer device, Elke being bored, bored, BORED, the woes of high school exams, getting projects back, IKEA cupboards in landings, home states in Australia, university prospects, rich kids getting into uni or joining the army, being physically fit (or not!), and forty two long.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
