---
title: "Rubenerd Show 320: The world simulator episode"
date: "2016-01-19T18:44:20+11:00"
year: "2016"
abstract: '40:26 – A mini heatwave and monsoon, psychological torture, taking the stairs in lieu of lifts, Sydney’s expensive New Year fireworks, late 1990s DirectX graphics, feeling like the world is a simulation, viewing empty skylines, nihilism and being the only real person, beautiful bird sounds, evening storms, taxis targeting pedestrians, a sufficiently vast universe to harbour other life, evolution, holodecks, philosophical honesty, rendering the world around humans, the observer effect, and that darn Star Trek Prime Directive!'
thumb: "https://archive.org/download/RubenerdShow320/RubenerdShow320.png"
enclosure_file: "https://archive.org/download/RubenerdShow320/RubenerdShow320.mp3"
enclosure_size: "39674926"
enclosure_type: "audio/mpeg"
enclosure_duration: "40:26"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow320/RubenerdShow320.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow320/RubenerdShow320.png" alt="Rubenerd Show 320" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow320/RubenerdShow320.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow320/RubenerdShow320.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">40:26</span> – A mini heatwave and monsoon, psychological torture, taking the stairs in lieu of lifts, Sydney’s expensive New Year fireworks, late 1990s DirectX graphics, feeling like the world is a simulation, viewing empty skylines, nihilism and being the only real person, beautiful bird sounds, evening storms, taxis targeting pedestrians, a sufficiently vast universe to harbour other life, evolution, holodecks, philosophical honesty, rendering the world around humans, the observer effect, and that darn Star Trek Prime Directive!</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released January 2016 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

