---
title: "Rubenerd Show 238: The why I am an atheist episode"
date: "2008-04-18T00:38:36+08:00"
thumb: "https://archive.org/download/RubenerdShow238/RubenerdShow238.png"
year: "2008"
abstract: '1:08:56 – A bit more serious: discussing the reasons why I became an atheist from experiences in my early childhood to the present, including most recently my beautiful mummy’s struggle with cancer and passing on.'
enclosure_file: "https://archive.org/download/RubenerdShow238/RubenerdShow238.mp3"
enclosure_size: 33090245
enclosure_duration: "1:08:56"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-singapore
- the-overnightscape-underground
- podcast
location: singapore
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow238/RubenerdShow238.png" alt="Do I look like I'm thinking?" style="height:180px; width:180px; float:right; margin:1em 0em 1em 2em;" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow238/RubenerdShow238.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow238/RubenerdShow238.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">1:08:56</span> – A bit more serious: discussing the reasons why I became an atheist from experiences in my early childhood to the present, including most recently my beautiful mummy&#39;s struggle with cancer and passing on.<br /><br />Also briefly refuting some of the misconceptions about atheists including intolerance, arrogance, spirituality, materialism, wishful thinking, heaven, the celestial dictatorship and such.<br /><br /><strong>BONUS:</strong> A very quick, foolproof test you can use to see if someone who trashes evolution has actually studied it.<br /><br /><strong>DISCLAIMER:</strong> This episode was not recorded to insult people, it&#39;s just an explanation for why personally I&#39;m atheist. If you are religious you may be offended, but please know that in my heart that it was not my intention.<br /><br /><div style="text-align:center"><em>You may say I'm a dreamerBut I'm not the only one<br /><br />I hope someday you'll join us<br /><br />And the world will be as one.</em></div>

<p class="show-licence">Recorded in Singapore. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade.</p> 
