---
title: "Rubenerd Show 006: The first Adelaide episode"
date: "2005-03-01T14:29:59+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2005"
abstract: '15:00 – First episode in Adelaide. Talking about changes I’m making to the show, and the big move from Singapore to Adelaide.'
enclosure_file: "https://archive.org/download/The_Rubenerd_Show_006/RubenerdShow006.mp3"
enclosure_size: 2501354
enclosure_duration: "15:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/The_Rubenerd_Show_006/RubenerdShow006.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/The_Rubenerd_Show_006/RubenerdShow006.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">15:00</span> – First episode in Adelaide. Talking about changes I&#39;m making to the show, and the big move from Singapore to Adelaide.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
