---
title: "Rubenerd Show 074: The last day as a teenager episode"
date: "2006-03-26T14:29:59+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2006"
abstract: '30:00 – Ruben’s Monologue (illegal phone tapping, AFL players doing drugs, four year olds at school), March 27 celebrations (Ruben turns 20, Overnightscape turns 3), Commonwealth Games update (Australia wins most medals, England 2nd, Canada 3rd, Singapore 11th, why I like watching table tennis), Frank Edward Nora What?! (smokin’ a pipe here!), drinking Pepsi Max (don’t worry, there’s no sugar), The Top 5 (most overused words and phrases in pop songs), Make It Great with Phil Gerbyshak (what managers SHOULD be doing!) weather for tomorrow (plus a birthday present from nature for me!) and Will It Sink (headphone jack).'
enclosure_file: "https://archive.org/download/RubenSchadeRubenerdShow074/RubenerdShow074.mp3"
enclosure_size: 14442815
enclosure_duration: "30:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p style="font-weight:bold">Ruben&#39;s Last Day As A Teenager Episode!</p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenSchadeRubenerdShow074/RubenerdShow074.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenSchadeRubenerdShow074/RubenerdShow074.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">30:00</span> – Ruben&#39;s Monologue (illegal phone tapping, AFL players doing drugs, four year olds at school), March 27 celebrations (Ruben turns 20, <a href="http://theovernightscape.com/">Overnightscape</a> turns 3), <a href="http://melbourne2006.com.au">Commonwealth Games</a> update (Australia wins most medals, England 2nd, Canada 3rd, Singapore 11th, why I like watching table tennis), Frank Edward Nora What?! (smokin&#39; a pipe here!), drinking Pepsi Max (don&#39;t worry, there&#39;s no sugar), The Top 5 (most overused words and phrases in pop songs), <a href="http://makeitgreat.org">Make It Great</a> with Phil Gerbyshak (<a href="http://makeitgreat.typepad.com/makeitgreat/2006/03/if_youre_a_mana.html">what managers SHOULD be doing!</a>) weather for tomorrow (plus a birthday present from nature for me!) and Will It Sink (headphone jack).</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
