---
title: "Rubenerd Show 170: The weird spooky-ness things episode"
date: "2006-10-17T18:12:57+08:00"
thumb: "NA"
year: "2006"
abstract: '10:00 – Spooky MacBook Pros at night, our Kuala Lumpur house, lights and fans turning on by themselves, lunchtime darkness, Deeparaya in Malaysia (religious tolerance: take that CWN!), update on my mum and  compressed Ikea mattresses.'
enclosure_file: "https://archive.org/download/RubenerdShow170/RubenerdShow170.mp3"
enclosure_size: 4824202
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-kuala-lumpur
- the-overnightscape-underground
- podcast
location: kuala-lumpur
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em;" src="https://archive.org/download/RubenerdShow170/Side170.jpg" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow170/RubenerdShow170.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow170/RubenerdShow170.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Spooky MacBook Pros at night, our <a href="http://www.kualalumpur.gov.my/">Kuala Lumpur</a> house, lights and fans turning on by themselves, lunchtime darkness, <a href="http://syedsyahrul.blogspot.com/2006/10/selamat-deeparaya-2006.html">Deeparaya</a> in Malaysia (religious tolerance: take that <a href="http://worldviewweekend.com">CWN</a>!), update on <a href="http://del.icio.us/sweedische">my mum</a> and <em> compressed <a href="http://ikea.com.my/">Ikea</a> mattresses.</em></p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
