---
title: "Rubenerd Show 300: The decade episode"
date: "2015-10-11T23:53:27+11:00"
thumb: "https://archive.org/download/RubenerdShow300/RubenerdShow300.png"
year: "2015"
abstract: '53:35 – Celebrating episode 300 with clips and cover art from episode 47, recorded exactly ten years ago! Topics include music at work, nostalgic Rubenerd Show history, lost shows, computers mixing dates, Cairns Highlands Coffee, family trips, being a digital hoarder, past editing paranoia, loud birds, a clip from Singapore’s defunct Channel i, remembering disappeared podcasts (Crap and Stuff, Whole Wheat Radio), a clip from Ammy and Daddy’s Real Life Stuff (a new show you should be listening to), and 2000s nostalgia. Introductory music by Who Ha. Thanks for your listenership all these years.'
enclosure_file: "https://archive.org/download/RubenerdShow300/RubenerdShow300.mp3"
enclosure_size: "53294126"
enclosure_type: "audio/mpeg"
enclosure_duration: "53:35"
enclosure_bitrate: 128
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow300/RubenerdShow300.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow300/RubenerdShow300.png" alt="Rubenerd Show 300" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow300/RubenerdShow300.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow300/RubenerdShow300.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">53:35</span> – Celebrating episode 300 with clips and cover art from <a href="https://rubenerd.com/show047/">episode 47</a>, recorded exactly ten years ago! Topics include music at work, nostalgic <em>Rubenerd Show</em> history, lost shows, computers mixing dates, <a href="https://coffeeworks.com.au/">Cairns Highlands Coffee</a>, family trips, being a digital hoarder, past editing paranoia, loud birds, a clip from Singapore’s defunct Channel i, remembering disappeared podcasts (<em>Crap and Stuff</em>, <em>Whole Wheat Radio</em>), a clip from <a href="http://ammydaddy.id.au/">Ammy and Daddy’s Real Life Stuff</a> (a new show you should be listening to), and 2000s nostalgia. Introductory music by <a href="https://soundcloud.com/thewhoha/who-ha-khaki">Who Ha</a>. Thanks for your listenership all these years.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released October 2015 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

