---
title: "Rubenerd Show 165: The rain and getting back rubenerd.com episode"
date: "2006-10-09T19:31:33+08:00"
thumb: "NA"
year: "2006"
abstract: '10:00 – North Korean nuke tests, rain reprieve from Malaysia and Singapore haze, Singaporean ah bengs, Norman Lindsey, listener comments (Dave, Boostah and Felix), getting my first ever domain back (rubenerd.com, finally!!) and Jack Black’s mum.'
enclosure_file: "https://archive.org/download/RubenerdShow165/RubenerdShow165.mp3"
enclosure_size: 4824202
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-kuala-lumpur
- the-overnightscape-underground
- podcast
location: kuala-lumpur
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em; width:110px; height:150px;" src="https://archive.org/download/RubenerdShow165/Side165.jpg" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow165/RubenerdShow165.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow165/RubenerdShow165.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – North Korean nuke tests, rain reprieve from <a href="http://en.wikipedia.org/wiki/2006_Southeast_Asian_haze">Malaysia and Singapore haze</a>, Singaporean ah bengs, <a href="http://www.normanlindsay.com.au/Home.htm">Norman Lindsey</a>, listener comments (<a href="http://DavesPhotoGallery.net/">Dave</a>, <a href="http://tedpod.com/">Boostah</a> and Felix), getting <a href="https://rubenerd.com/">my first ever domain</a> back (rubenerd.com, finally!!) and <em>Jack Black&#39;s mum.</em></p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
