---
title: "Rubenerd Show 227: The Leo Laporte 2003 Tech Almanac episode"
date: "2007-09-01T00:25:54+08:00"
thumb: "https://archive.org/download/RubenerdShow227/RubenerdShow227.png"
year: "2007"
abstract: '1:10:00 – Testing a new Rode NT3 microphone, flying these days is a bitch, discovering Uranus on the 13th, Adobe Photoshop 7, quotes from Leo Laporte’s 2003 TechTV Technology Almanac, a brief history of TechTV from the outside, Leo Laporte’s evil smile, out of sync background music, needing QWERTY on a phone, academic discounting, Aeroline buses between Singapore and KL, Merdeka 2007 in Malaysia, ridiculous numbers of PCs, South East Asian colonialism, the southernmost tip of the Eurasian mainland, Freecycle, resetting GNU/Linux passwords, Larry Craig Pervert Scandal Is Tip Of The Iceberg, Warp’s Artificial Intelligence series, silly sports, Patrick Norton installing GNU/Linux in 2003, hardware router firmware things, WinPopUp, Schmap Guide photo finalist photos, driving from Inverness to Singapore, airports in the middle of nowhere, way too much time on Mobile Twitter, a Nokia e61i mobile phone review, Frank Nora’s Bagel Report and his head on 3G, fantasy football in America, FreeBSD versus Linux security, people on Twitter (Felix, Frank, Andrew, Dave, Manny, Roel, Dadaist), ticket and medical guinea pigs, cable versus DSL, and meeting people on the stair, posting 666 sites in del.icio.us, moving back from Zooomr to Flickr, secret Windows software, waging on horses and people who walk up the stairs who aren’t actually there.'
enclosure_file: "https://archive.org/download/RubenerdShow227/RubenerdShow227.mp3"
enclosure_size: 33626643
enclosure_duration: "1:10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-singapore
- the-overnightscape-underground
- podcast
location: singapore
---
<p class="show-cover"><a href="https://www.flickr.com/photos/rubenerd/1312880894/"><img src="https://archive.org/download/RubenerdShow227/RubenerdShow227.png" alt="" style="float:right; margin:1em 0em 1em 2em; height:180px; width:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow227/RubenerdShow227.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow227/RubenerdShow227.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">1:10:00</span> – Testing a new Rode NT3 microphone, flying these days is a bitch, discovering Uranus on the 13th, Adobe Photoshop 7, quotes from Leo Laporte&#39;s 2003 TechTV Technology Almanac, a brief history of TechTV from the outside, <a href="http://leoville.com/">Leo Laporte&#39;s evil smile</a>, out of sync background music, needing QWERTY on a phone, <a href="http://academicssuperstore.com/">academic discounting</a>, <a href="https://www.aeroline.com.sg/">Aeroline buses</a> between Singapore and KL, Merdeka 2007 in Malaysia, ridiculous numbers of PCs, South East Asian colonialism, the southernmost tip of the Eurasian mainland, <a href="http://www.freecycle.org/">Freecycle</a>, resetting GNU/Linux passwords, <a href="http://prisonplanet.com/articles/august2007/300807_larry_craig.htm">Larry Craig Pervert Scandal Is Tip Of The Iceberg</a>, Warp&#39;s Artificial Intelligence series, silly sports, Patrick Norton installing GNU/Linux in 2003, hardware router firmware things, WinPopUp, <a href="https://rubenerd.com/show/blog/finalist-adelaide-schmap-guide-photos/">Schmap Guide photo finalist photos</a>, driving from Inverness to Singapore, airports in the middle of nowhere, way too much time on <a href="http://m.twitter.com">Mobile Twitter</a>, a <a href="http://en.wikipedia.org/wiki/Nokia_E61i">Nokia e61i</a> mobile phone review, Frank Nora&#39;s Bagel Report and his head on 3G, fantasy football in America, FreeBSD versus Linux security, people on Twitter (<a href="http://twitter.com/redragon">Felix</a>, <a href="http://twitter.com/ons">Frank</a>, <a href="http://twitter.com/andrew0871">Andrew</a>, <a href="http://twitter.com/DaveWares">Dave</a>, <a href="http://twitter.com/mailmanny">Manny</a>, <a href="http://twitter.com/roel247">Roel</a>, <a href="http://twitter.com/dadaist">Dadaist</a>), ticket and medical guinea pigs, cable versus DSL, and meeting people on the stair, posting 666 sites in <a href="http://del.icio.us/rubenerd">del.icio.us</a>, moving back from <a href="http://zooomr.com/photos/rubenerd/">Zooomr</a> to <a href="https://flickr.com/photos/rubenerd/">Flickr</a>, secret Windows software, waging on horses and people who walk up the stairs who aren&#39;t actually there.</p>

<p style="font-style:italic">Some overdrive audio errors in parts of this episode. I&#39;ve calibrated this new mic for the next episode.</p>

<p class="show-licence">Recorded in Singapore. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade.</p> 
