---
title: "Rubenerd Show 052: The Tony Hancock old time radio episode"
date: "2005-10-30T14:29:59+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2005"
abstract: '20:00 – The Rubenerd Show now has a mixer board! Talking today about my new audio setup compared to my crappy old setup, a brief history of Old Time Radio star Tony Hancock and a clip from his work on ’Educating Archie’, a brief review of a new utility called the Microsoft Office 2003 Converter Pack for people who are still using Microsoft Office (and legacy versions at that), my new groovy [crap] university student inspired sculpture I created myself, the French word for ’desk’ and an awesome website PDASmart for old iPod upgrades and repair kits. Dedicated to my fabulous Mr Father Rainer Schade.'
enclosure_file: "https://archive.org/download/The_Rubenerd_Show_052/RubenerdShow052.mp3"
enclosure_size: 9602751
enclosure_duration: "20:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/The_Rubenerd_Show_052/RubenerdShow052.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/The_Rubenerd_Show_052/RubenerdShow052.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">20:00</span> – The Rubenerd Show now has a mixer board! Talking today about my new audio setup compared to my crappy old setup, a brief history of Old Time Radio star <a href="http://en.wikipedia.org/wiki/Tony_Hancock">Tony Hancock</a> and a clip from his work on &#39;Educating Archie&#39;, a brief review of a new utility called the <a href="http://office.microsoft.com/en-us/assistance/HA011513581033.aspx">Microsoft Office 2003 Converter Pack</a> for people who are still using Microsoft Office (and legacy versions at that), my new groovy [crap] university student inspired sculpture I created myself, the French word for &#39;desk&#39; and an awesome website <a href="http://www.pdasmart.com/ipodpartscenter3g.htm">PDASmart</a> for old iPod upgrades and repair kits. Dedicated to my fabulous Mr Father Rainer Schade.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
