---
title: "Rubenerd Show 134: The asteroid episode"
date: "2006-07-21T22:45:08+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2006"
abstract: '10:00 – We were all almost killed by an asteroid on Monday 03rd July (destroying ourselves, do other animals kill each other like us?!), the great Stem Cell Research Debate (George W. Bush (being George W. Bush!) vetoing bill to expand federal funding, why Ruben thinks life is a better punishment to the death penalty), a computer crash that corrected itself!'
enclosure_file: "https://archive.org/download/RubenerdShow134/RubenerdShow134.mp3"
enclosure_size: 4823202
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow134/RubenerdShow134.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow134/RubenerdShow134.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – We were all almost killed by an asteroid on Monday 03rd July (destroying ourselves, do other animals kill each other like us?!), the great Stem Cell Research Debate (George W. Bush (being George W. Bush!) vetoing bill to expand federal funding, why Ruben thinks life is a better punishment to the death penalty), a computer crash that corrected itself!</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
