---
title: "Rubenerd Show 187: The stupid address, long hair and tickets episode"
date: "2006-11-29T22:50:10+08:00"
thumb: "NA"
year: "2006"
abstract: '10:00 – Ruben’s evil laziness-induced long hair, weird city state address thingys, Ruben’s MadPlayer’s Renaissance, going with my mum to the hospital, stupid pharmacy ticket machines, Scottish/German family history and Douglas Adams on nerds!'
enclosure_file: "https://archive.org/download/RubenerdShow187/RubenerdShow187.mp3"
enclosure_size: 4824202
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-kuala-lumpur
- the-overnightscape-underground
- podcast
location: kuala-lumpur
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em;" src="https://archive.org/download/RubenerdShow187/Side187.jpg" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow187/RubenerdShow187.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow187/RubenerdShow187.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Ruben&#39;s evil laziness-induced long hair, weird city state address thingys, Ruben&#39;s <a href="http://madplayer.com/">MadPlayer&#39;s</a> Renaissance, going with my mum <a href="http://gimc.com.my/">to the hospital</a>, stupid pharmacy ticket machines, Scottish/German family history and <em>Douglas Adams on nerds!</em></p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
