---
title: "Rubenerd Show 298: The midnight kookaburra episode"
date: "2015-10-03T10:36:48+10:00"
thumb: "https://archive.org/download/RubenerdShow298/RubenerdShow298.png"
year: "2015"
abstract: '58:38 – Reviving old theme songs, having empathy for people (but it doesn’t always excuse stuff!), the Indonesian forest fire haze in Singapore and Malaysia, needing more nice people rather than successful people, self preservation, Stephen Colbert’s moving interview of Joe Biden, getting away from "left-right wing" labels, personas, children raising parents, power rendering people douchebags, hippies, remuneration irrespective of jobs, using cameraphones as cameras (iPhone 6s+, Nokia Lumia), traditional cameras (Nikon D60, FinePix S9600, X-T1, X-100s), podcast elitism, car bubbles, and impromptu birds.'
enclosure_file: "https://archive.org/download/RubenerdShow298/RubenerdShow298.mp3"
enclosure_size: "59017969"
enclosure_type: "audio/mpeg"
enclosure_duration: "58:38"
enclosure_bitrate: 128
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow298/RubenerdShow298.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow298/RubenerdShow298.png" alt="Rubenerd Show 298" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow298/RubenerdShow298.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow298/RubenerdShow298.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">58:38</span> – Reviving old theme songs, having empathy for people (but it doesn't always excuse stuff!), the Indonesian forest fire haze in Singapore and Malaysia, needing more nice people rather than successful people, self preservation, Stephen Colbert's moving <a href="https://www.youtube.com/watch?v=opVaEC_WxWs">interview</a> of Joe Biden, getting away from "left-right wing" labels, personas, children raising parents, power rendering people douchebags, hippies, remuneration irrespective of jobs, using cameraphones as cameras (iPhone 6s+, Nokia Lumia), traditional cameras (Nikon D60, FinePix S9600, X-T1, X-100s), podcast elitism, car bubbles, and impromptu birds.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released October 2015 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

