---
title: "Rubenerd Show 233: The disjointed indie media and building things episode"
date: "2008-04-06T04:29:43+08:00"
thumb: "https://archive.org/download/RubenerdShow233/RubenerdShow233.png"
year: "2008"
abstract: '01:23:03 – Recounting childhood memories and obsessions from Melbourne, Ikea furniture, Lego, is Starbucks having a positive effect, my favourite coffee house closing, improved coffee quality, rant about public transport (are we better building new damned giant roads or new train lines?), general public’s perception of security is wrong (YOU are the biggest security threat!), getting fascinating Bruce Schneier books for my birthday, security companies screwing consumers, using a non-administrative account on Mac OS X, comparing building your own computer and open source software to hot rod builders, being a 1990’s kid, running Windows software on Linux and FreeBSD with Wine, why it’s a great time to be alive, comparing open source software developers to independent musicians, thanks to Jim Kloss and Esther Golton for the inspiration, sorry for the sacrilegious comparison! Are people worth what they’re being paid? Who’s deriving more happiness from what they’re doing?'
enclosure_file: "https://archive.org/download/RubenerdShow233/RubenerdShow233.mp3"
enclosure_size: 40911764
enclosure_duration: "1:23:03"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-singapore
- the-overnightscape-underground
- podcast
location: singapore
---
<p class="show-cover"><a href="https://www.flickr.com/photos/rubenerd/2378142401/"><img src="https://archive.org/download/RubenerdShow233/RubenerdShow233.png" alt="Coffee Bean and Tea Leaf at Junction 8, Singapore" style="height:180px; width:180px; float:left; margin:0px 20px 5px 0px" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow233/RubenerdShow233.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow233/RubenerdShow233.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">01:23:03</span> – Recounting childhood memories and obsessions from Melbourne, Ikea furniture, Lego, is <a href="http://starbucks.com.sg/">Starbucks</a> having a positive effect, my favourite coffee house closing, improved coffee quality, rant about public transport (are we better building new damned giant roads or new train lines?), general public&#39;s perception of security is wrong (YOU are the biggest security threat!), getting fascinating <a href="http://www.schneier.com/index.html">Bruce Schneier</a> books for my birthday, security companies screwing consumers, using a non-administrative account on Mac OS X, comparing building your own computer and open source software to hot rod builders, being a 1990&#39;s kid, running Windows software on <a href="http://www.slackware.com/">Linux</a> and <a href="http://freebsd.org/">FreeBSD</a> with <a href="http://www.winehq.org/">Wine</a>, why it&#39;s a great time to be alive, comparing open source software developers to independent musicians, thanks to <a href="http://www.wholewheatradio.org/wiki/index.php/Audio_magazines">Jim Kloss and Esther Golton</a> for the inspiration, sorry for the sacrilegious comparison! Are people worth what they&#39;re being paid? Who&#39;s deriving more happiness from what they&#39;re doing?</p>

<p class="show-licence">Recorded in Singapore. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade.</p> 
