---
title: "Rubenerd Show 122: The global proxy episode"
date: "2006-07-04T22:20:00+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2006"
abstract: '10:00 – North Korea launching seven missiles (Australia North Korea relations, Minster for Defense Alexander Downer), Ruben using a news voice (and failing), posts on Netscape News and using proxy servers in China.'
enclosure_file: "https://archive.org/download/RubenerdShow122/RubenerdShow122.mp3"
enclosure_size: 4800936
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-kuala-lumpur
- the-overnightscape-underground
- podcast
location: kuala-lumpur
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow122/RubenerdShow122.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow122/RubenerdShow122.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – North Korea launching seven missiles (Australia North Korea relations, Minster for Defense Alexander Downer), Ruben using a news voice (and failing), posts on Netscape News and using proxy servers in China.</p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
