---
title: "Rubenerd Show 315: The 2015 soundtrack episode"
date: "2015-12-31T23:56:45+11:00"
year: "2015"
abstract: '45:38 – The last episode of 2015! Discussing the sound track for the year (The Unparalyzer by Papadosio, Khaki by Whoha, Let It Happen by Tame Impala), The Other Side on The Overnightscape, unfortunate fly and coffee bean inhalation, talking to people in 2016, Germans celebrating Christmas Eve, the world’s greatest smells (baking bread, roasting coffee, grinding coffee, fresh sheets), Coffee Alchemy and the old Refinery Espresso, the bus factor, work life balance, and all the best wishes for a happy new year.'
thumb: "https://archive.org/download/RubenerdShow315/RubenerdShow315.png"
enclosure_file: "https://archive.org/download/RubenerdShow315/RubenerdShow315.mp3"
enclosure_size: "46059169"
enclosure_type: "audio/mpeg"
enclosure_duration: "45:38"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow315/RubenerdShow315.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow315/RubenerdShow315.png" alt="Rubenerd Show 315" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow315/RubenerdShow315.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow315/RubenerdShow315.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">45:38</span> – The last episode of 2015! Discussing the sound track for the year (<a href="https://papadosio.bandcamp.com/track/unparalyzer">The Unparalyzer</a> by Papadosio, <a href="https://soundcloud.com/thewhoha/who-ha-khaki">Khaki</a> by Whoha, <a href="https://www.youtube.com/watch?v=pFptt7Cargc">Let It Happen</a> by Tame Impala), The Other Side on <a href="http://theovernightscape.com/">The Overnightscape</a>, unfortunate fly and coffee bean inhalation, talking to people in 2016, Germans celebrating Christmas Eve, the world's greatest smells (baking bread, roasting coffee, grinding coffee, fresh sheets), <a href="http://www.coffeealchemy.com/">Coffee Alchemy</a> and the old <a href="https://refineryespresso.wordpress.com/">Refinery Espresso</a>, the bus factor, work life balance, and all the best wishes for a happy new year.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released December 2015 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

