---
title: "Rubenerd Show 219: The people and plungers episode"
date: "2007-02-24T00:04:35+08:00"
thumb: "NA"
year: "2007"
abstract: '12:00 – Living Coffee With Paul Bassett, Hugh Laurie before House MD, Rubenerd mailbag (Jeff from Indonesia, Julee Ng from Malaysia), making awesome coffee with a plunger, Chinese New Year in KL and smooth operator!'
enclosure_file: "https://archive.org/download/RubenerdShow219/RubenerdShow219.mp3"
enclosure_size: 5785766
enclosure_duration: "12:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-kuala-lumpur
- the-overnightscape-underground
- podcast
location: kuala-lumpur
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em; width:110px; height:150px;" src="https://archive.org/download/RubenerdShow219/Side219.klccnight.jpg" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow219/RubenerdShow219.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow219/RubenerdShow219.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">12:00</span> – <a href="http://www.travelandlivingasia.com/_listings/index.shtml">Living Coffee With Paul Bassett</a>, Hugh Laurie before <a href="http://en.wikipedia.org/wiki/House_MD">House MD</a>, Rubenerd mailbag (Jeff from Indonesia, <a href="http://julee.blogspot.com/">Julee Ng</a> from Malaysia), making awesome coffee with a plunger, Chinese New Year in KL and <em>smooth operator!</em></p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade.</p> 
