---
title: "Rubenerd Show 264: The sporadic memories and bottled water episode"
date: "2009-01-20T18:57:48+08:00"
thumb: "https://archive.org/download/RubenerdShow264/RubenerdShow264.180px.png"
year: "2009"
abstract: '21:00 – You’ve joined me at a tremendously exciting moment; unabashedly ripping off IntoYourHead; microwaving coffee after I said you shouldn’t; Family Guy; Germans can make better Christmas food than the French; family trip to Europe in 1998; asking for the bathroom with sign language; Frankfurt am Main; time speeding up as you get older; Melbourne since 1990; remembering primary school; flag carriers and whatnot; Tom Keene talking about ridiculously expensive bottled water with David Zetland on Bloomberg on the Economy; the political compass thingy; and a Paul Shaffer smoke alarm!'
enclosure_file: "https://archive.org/download/RubenerdShow264/RubenerdShow264.mp3"
enclosure_size: 10229923
enclosure_duration: "21:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tags:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow264/RubenerdShow264.png"><img src="https://archive.org/download/RubenerdShow264/RubenerdShow264.180px.png" alt="Larger version of cover art" style="height:180px; width:180px; float:left; margin:0px 20px 5px 0px" /></a>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow264/RubenerdShow264.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow264/RubenerdShow264.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">21:00</span> – You&#39;ve joined me at a tremendously exciting moment; unabashedly ripping off <a href="http://IntoYourHead.com/">IntoYourHead</a>; microwaving coffee after I said you shouldn&#39;t; Family Guy; Germans can make better Christmas food than the French; family trip to Europe in 1998; asking for the bathroom with sign language; <a href="http://en.wikipedia.org/wiki/Frankfurt_am_Main">Frankfurt am Main</a>; time speeding up as you get older; Melbourne since 1990; remembering primary school; flag carriers and whatnot; Tom Keene talking about ridiculously expensive bottled water with David Zetland on <a href="http://bloomberg.com/tvradio/podcast/ontheeconomy.html">Bloomberg on the Economy</a>; the <a href="http://www.politicalcompass.org/">political compass thingy</a>; and a Paul Shaffer smoke alarm. <span style="font-style:italic;"><strong>UPDATE:</strong> The date for this episode has been fixed to show 2009 instead of 2008 after I received a smartarse comment!</span></p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade.</p> 
