---
title: "Rubenerd Show 059: The Third Culture Kids episode"
date: "2005-11-23T14:29:59+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2005"
abstract: '20:00 – More Rubenerd Show website outage, fun! Also talking about the new website design for the show that’s a HUGE departure from the old one, the joys of microphones that cut out for no reason, Donald Rumsfeld (US Defence Secretary) here in Adelaide and causing a huge fuss, the size of the state of South Australia, discussing my moral dillema trying to fathem the concept of &quot;home&quot; having lived outside Australia for so long in Singapore, and the concent of Third Culture Kids.'
enclosure_file: "https://archive.org/download/The_Rubenerd_Show_059/RubenerdShow059.mp3"
enclosure_size: 9677490
enclosure_duration: "20:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/The_Rubenerd_Show_059/RubenerdShow059.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/The_Rubenerd_Show_059/RubenerdShow059.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">20:00</span> – More Rubenerd Show website outage, fun! Also talking about the new website design for the show that&#39;s a HUGE departure from the old one, the joys of microphones that cut out for no reason, Donald Rumsfeld (US Defence Secretary) here in <a href="http://en.wikipedia.org/wiki/Adelaide">Adelaide</a> and causing a huge fuss, the size of the state of <a href="http://en.wikipedia.org/wiki/South_Australia">South Australia</a>, discussing my moral dillema trying to fathem the concept of &quot;home&quot; having lived outside Australia for so long in Singapore, and the concent of <a href="http://en.wikipedia.org/wiki/Expatriate">Third Culture Kids</a>.</p>

<p><strong>Something To Think About Segment</strong>: Diaries, and is it right for parents to be reading them? I had encryption :~).</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
