---
title: "Rubenerd Show 171: The Leo Laporte's 'Netcast' bagging out episode"
date: "2006-10-24T17:57:54+08:00"
thumb: "https://archive.org/download/RubenerdShow171/Side171.png"
year: "2006"
abstract: '10:00 – Apologies for unplanned show hiatus, the Leningrad Cowboys, Frank’s &quot;New Time Radio&quot; name kicks arse over Leo Laporte’s &quot;Netcast&quot;, the Overnightscape’s weekly format, Dadaist on Google Reader, and the Finish national anthem done silly.'
enclosure_file: "https://archive.org/download/RubenerdShow171/RubenerdShow171.mp3"
enclosure_size: 4824202
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-kuala-lumpur
- the-overnightscape-underground
- podcast
location: kuala-lumpur
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em; width:110px; height:150px;" src="https://archive.org/download/RubenerdShow171/Side171.png" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow171/RubenerdShow171.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow171/RubenerdShow171.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Apologies for unplanned show hiatus, the <a href="http://en.wikipedia.org/wiki/Leningrad_Cowboys">Leningrad Cowboys</a>, <a href="http://theovernightscape.com/">Frank&#39;s</a> &quot;New Time Radio&quot; name kicks arse over <a href="http://leoville.com/">Leo Laporte&#39;s</a> &quot;Netcast&quot;, the <a href="http://theovernightscape.com/">Overnightscape&#39;s</a> weekly format, <a href="http://www.radiofreeporty.org">Dadaist</a> on <a href="http://reader.google.com/">Google Reader</a>, and the <em>Finish national anthem done silly</em>.</p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
