---
title: "Rubenerd Show 248: The unplugged Mawson Lakes scare episode"
date: "2008-09-13T21:40:41+08:00"
thumb: "https://archive.org/download/RubenerdShow248/RubenerdShow248.180px.png"
year: "2008"
abstract: '30:56 – From Adelaide: Finally some beautiful weather in Adelaide, river walking paths late at night, the Mawson Lakes suburb, Rubenerd Unplugged inspired by The Overnightscape Rampler, a new use for my Ourmedia account, advice from Jerry Novak and a scary almost lethal close encounter!'
enclosure_file: "https://archive.org/download/RubenerdShow248/RubenerdShow248.mp3"
enclosure_size: 14990186
enclosure_duration: "30:56"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow248/RubenerdShow248.png"><img src="https://archive.org/download/RubenerdShow248/RubenerdShow248.180px.png" alt="Click for larger version" style="height:180px; width:180px; float:left; margin:0px 20px 5px 0px" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow248/RubenerdShow248.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow248/RubenerdShow248.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">30:56</span> – <a href="http://www.southaustralia.com/Adelaide.aspx">From Adelaide</a>: Finally some beautiful weather in Adelaide, river walking paths late at night, the <a href="http://mawsonlakes.com.au">Mawson Lakes</a> suburb, <a href=https://rubenerd.com/unplugged/">Rubenerd Unplugged</a> inspired by <a href="http://theovernightscaope.com/">The Overnightscape</a> <a href="http://onsug.com/archives/category/rampler">Rampler</a>, a new use for <a href="http://ourmedia.org/">my Ourmedia account</a>, advice from <a href="http://twitter.com/jerrynovak/">Jerry Novak</a> and a scary almost lethal close encounter!</p>

<p>Music for this episode performed by <a href="http://www.magnatune.com/artists/chris_juergensen">Chris Juergensen</a> from <a href="http://www.magnatune.com">Magnatune.com</a>.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade.</p> 
