---
title: "Rubenerd Show 304: The wellness episode"
date: "2015-11-08T22:52:15+11:00"
thumb: "https://archive.org/download/RubenerdShow304/RubenerdShow304.png"
enclosure_file: "https://archive.org/download/RubenerdShow304/RubenerdShow304.mp3"
enclosure_size: "61671947"
enclosure_type: "audio/mpeg"
enclosure_duration: "01:01:45"
enclosure_bitrate: 128
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow304/RubenerdShow304.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow304/RubenerdShow304.png" alt="Rubenerd Show 304" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow304/RubenerdShow304.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow304/RubenerdShow304.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">01:01:45</span> – Drivers who think we can see them, scary storm clouds of doom, swords are superior to guns, truck drivers on one–way streets, building and wrecking kerbs, silly workplace “wellness” articles, family moves, the Australian Housing Bubble, the DeLonghi Magnifica coffee machine, Age of Empires II on Steam, fond game memories, Bali and Lombok, philosophy about travel and boredom, and the last Australian to hear of Tame Impala!</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released November 2015 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

