---
title: "Rubenerd Show 197: The Asia-Pacific internet outage episode"
date: "2006-12-27T16:35:46+08:00"
thumb: "https://archive.org/download/RubenerdShow197/Side197.png"
year: "2006"
abstract: '10:00 – Earthquake south of Taiwan knocking out Asia-Pacific’s internet access (from Sydney to Singapore to Seoul, hoping nobody was injured), how fragile our Internet infrastructure really is, frustrated Malaysian bloggers and distressed book tape dermatologists!'
enclosure_file: "https://archive.org/download/RubenerdShow197/RubenerdShow197.mp3"
enclosure_size: 4824202
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-kuala-lumpur
- the-overnightscape-underground
- podcast
location: kuala-lumpur
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em;" src="https://archive.org/download/RubenerdShow197/Side197.png" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow197/RubenerdShow197.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow197/RubenerdShow197.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – <a href="http://en.wikipedia.org/wiki/2006_Hengchun_earthquake">Earthquake south of Taiwan</a> knocking out Asia-Pacific&#39;s internet access (from Sydney to Singapore to Seoul, hoping nobody was injured), how fragile our Internet infrastructure really is, <a href="http://thestar.com.my/news/story.asp?file=/2006/12/29/nation/16435624&amp;sec=nation">frustrated Malaysian bloggers</a> and <em>distressed book tape dermatologists!</em></p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
