---
title: "Rubenerd Show 295: The tangentially Who episode"
date: "2015-09-20T18:31:38+10:00"
thumb: "https://archive.org/download/RubenerdShow295/RubenerdShow295.png"
year: "2015"
abstract: '34:16 – An OfficeWorks trip, evolution of Apple headphones (earbuds, earpods) mismatched swimwear advertising, cabin fever, walking to improve mood (taking buses one stop, hikikomoris not wanting to), drivers who don’t indicate, getting back into The Who (Highlander TV series, CSI, Need For Speed Most Wanted, how older music can still sound contemporary), Cheveron Spaghetti, new logos (marketing departments, pixel art, Onsug, this show), Sydney Olympics in 2000, and beings communicating through a poorly formed virtual train carriage.'
enclosure_file: "https://archive.org/download/RubenerdShow295/RubenerdShow295.mp3"
enclosure_size: "33319186"
enclosure_type: "audio/mpeg"
enclosure_duration: "34:16"
enclosure_bitrate: 128
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow295/RubenerdShow295.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow295/RubenerdShow295.png" alt="Rubenerd Show 295" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow295/RubenerdShow295.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow295/RubenerdShow295.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">34:16</span> – An OfficeWorks trip, evolution of Apple headphones (earbuds, earpods) mismatched swimwear advertising, cabin fever, walking to improve mood (taking buses one stop, hikikomoris not wanting to), drivers who don't indicate, getting back into The Who (Highlander TV series, CSI, Need For Speed Most Wanted, how older music can still sound contemporary), <a href="http://www.theovernightscape.com/archives/2500">Cheveron Spaghetti</a>, new logos (marketing departments, pixel art, <a href="http://onsug.com/">Onsug</a>, this show), Sydney Olympics in 2000, and beings communicating through a poorly formed virtual train carriage.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released September 2015 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

