---
title: "Rubenerd Show 017: The First Offline Editions episode"
date: "2005-06-08T14:29:59+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2005"
abstract: '15:00 – First episode of the Offline Editions of The Rubenerd Show (until these server issues are fixed!) Talking about some housekeeping issues with the site, why I hate &quot;reality TV&quot;, coat-hangers explained, the much needed rain for Adelaide has started (thank god!), Antartica covered in grated cheese and Australia is not the driest continent on Earth, and iLife 2005 has arrived!'
enclosure_file: "https://archive.org/download/The_Rubenerd_Show_017/RubenerdShow017.mp3"
enclosure_size: 4684289
enclosure_duration: "15:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/The_Rubenerd_Show_017/RubenerdShow017.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/The_Rubenerd_Show_017/RubenerdShow017.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">15:00</span> – First episode of the Offline Editions of The Rubenerd Show (until these server issues are fixed!) Talking about some housekeeping issues with the site, why I hate &quot;reality TV&quot;, coat-hangers explained, the much needed rain for Adelaide has started (thank god!), Antartica covered in grated cheese and Australia is not the driest continent on Earth, and iLife 2005 has arrived!</p>
  

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
