---
title: "Rubenerd Show 129: The music woes episode"
date: "2006-07-14T19:33:39+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2006"
abstract: '20:00 – Ruben hyperactive, music woes, feeling guilty when you’re not doing work (uni lectures blah blah), Kevin can cook good, Overnightscape 500, Ricky Martin selling himself out, tolerating "university culture" (mostly) and why Ruben doesn’t like Fridays and [most] top 40 music. Oh and a new Rubenerd Show site (because I’ve never changed the site style), and Ruben applying for Permanent Residence in Singapore.'
enclosure_file: "https://archive.org/download/RubenerdShow129/RubenerdShow129.mp3"
enclosure_size: 9626807
enclosure_duration: "20:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow129/RubenerdShow129.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow129/RubenerdShow129.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">20:00</span> – Ruben hyperactive, music woes, feeling guilty when you're not doing work (uni lectures blah blah), Kevin can cook good, Overnightscape 500, Ricky Martin selling himself out, tolerating "university culture" (mostly) and why Ruben doesn't like Fridays and [most] top 40 music. Oh and a new Rubenerd Show site (because I've never changed the site style), and Ruben applying for Permanent Residence in Singapore.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
