---
title: "Rubenerd Show 398: The KLCC again episode"
date: "2019-10-26T13:28:57+11:00"
abstract: "24:32 — The Rubenerd Show returns to Kuala Lumpur after thirteen years! Playing a retrospective clip from episode 103 in June 2006, then back to October 2019 with Clara wandering around the Petronas Twin Towers and Jalan Ampang. I never thought I’d be doing this again!"
thumb: "https://archive.org/download/RubenerdShow398/RubenerdShow398.png"
enclosure_file: "https://archive.org/download/RubenerdShow398/RubenerdShow398.mp3"
enclosure_size: "23627398"
enclosure_type: "audio/mpeg"
enclosure_duration: "24:32"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-kuala
- the-overnightscape-underground
- podcast
location: Kuala-Lumpur
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow398/RubenerdShow398.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow398/RubenerdShow398.png" alt="Rubenerd Show 398" style="float:right; margin:0 0 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow398/RubenerdShow398.mp3">Play in new window</a> | <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow398/RubenerdShow398.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">24:32</span> – The Rubenerd Show returns to Kuala Lumpur after thirteen years! Playing a retrospective clip from <a href="https://rubenerd.com/show103/">episode 103</a> in June 2006, then back to October 2019 with Clara wandering around the Petronas Twin Towers and Jalan Ampang. I never thought I’d be doing this again!</p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release">Released October 2019 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts; this one notwithstanding.</p>

<p class="show-subscribe">Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

