---
title: "Rubenerd Show 279: The four cities of Sydney episode"
date: "2015-07-01T00:14:20+10:00"
thumb: "NA"
year: "2015"
abstract: '53:45 – Topics include Fireside Brew tea by Cauldron Brews, not feeling quite with it, comma seperated values, The Geographic Names Board of New South Wales, Melbourne, Albion, Parramatta, Winterfest 2015, Scottish and German ancestry, ergonomic keyboards, outdated Wikipedia rips, cost of living in Sydney and NYC, virtual offices and real spammers, an ideal trip to North America, Israel Brown, and finding Woodland Hills.'
enclosure_file: "https://archive.org/download/RubenerdShow279/RubenerdShow279.mp3"
enclosure_size: "41850443"
enclosure_type: "audio/mpeg"
enclosure_duration: "53:45"
enclosure_bitrate: 128
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow279/RubenerdShow279.jpg" alt="Rubenerd Show 279" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow279/RubenerdShow279.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow279/RubenerdShow279.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">53:45</span> – Topics include Fireside Brew tea by <a href="http://www.cauldronofwellbeing.com.au/">Cauldron Brews</a>, not feeling quite with it, comma seperated values, <a href="http://www.gnb.nsw.gov.au/">The Geographic Names Board of New South Wales</a>, Melbourne, Albion, Parramatta, <a href="http://winterfest.com.au/">Winterfest 2015</a>, Scottish and German ancestry, ergonomic keyboards, <a href="http://home.people.net.au/~jbriones/aposydney/sydney_metro.htm">outdated Wikipedia rips</a>, <a href="http://www.theaustralian.com.au/business/cost-of-living-in-australian-cities-higher-than-for-london-hk-rome/story-e6frg8zx-1226270946657" rel="nofollow">cost of living in Sydney and NYC</a>, virtual offices and real spammers, an ideal trip to North America, Israel Brown, and finding Woodland Hills.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade. Music by <a href="https://soundcloud.com/cybersdf/lonely-night">CyberSDF</a>.</p>

<p class="show-release" >Released July 2015 on <a href="http://onsug.com/archives/16672">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

