---
title: "Rubenerd Show 029: The Friday Edition late night balcony episode"
date: "2005-06-24T14:29:59+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2005"
abstract: '15:00 – The Friday Edition - Late night on the balcony with Kevin and Ruben contemplating life, the universe and everything. Well, contemplating life through the eyes of guys!'
enclosure_file: "https://archive.org/download/The_Rubenerd_Show_029/RubenerdShow029.mp3"
enclosure_size: 5637364
enclosure_duration: "15:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/The_Rubenerd_Show_029/RubenerdShow029.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/The_Rubenerd_Show_029/RubenerdShow029.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">15:00</span> – The Friday Edition - Late night on the balcony with Kevin and Ruben contemplating life, the universe and everything. Well, contemplating life through the eyes of guys!</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
