---
title: "Rubenerd Show 121: The high school science episode"
date: "2006-07-04T05:22:00+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2006"
abstract: '10:00 – Using the MadPlayer again for music, Ruben not feeling so good (again!), comparing Chemistry and Physics to Biology in high school, Class of 2004 (Rajesh Pathy), A Moment with Elke Segment (why she shouldn’t have done biology) and Ruben not being able to breathe :(.'
enclosure_file: "https://archive.org/download/RubenerdShow121/RubenerdShow121.mp3"
enclosure_size: 4823254
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-kuala-lumpur
- the-overnightscape-underground
- podcast
location: kuala-lumpur
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow121/RubenerdShow121.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow121/RubenerdShow121.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Using the MadPlayer again for music, Ruben not feeling so good (again!), comparing Chemistry and Physics to Biology in high school, Class of 2004 (Rajesh Pathy), A Moment with Elke Segment (why she shouldn&#39;t have done biology) and Ruben not being able to breathe :(.</p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
