---
title: "Rubenerd Show 189: The evil Zune (part two) episode"
date: "2006-12-01T22:22:25+08:00"
thumb: "NA"
year: "2006"
abstract: '10:00 – Follow up to the Zune episode (clunky, buggy software, what the iPod has and nobody else does), print screen on a Mac keyboard, Microsoft software I don’t hate (Excel, Flight Simulator, Age of Empires) and CNN reporters dissing the Zune designers!'
enclosure_file: "https://archive.org/download/RubenerdShow189/RubenerdShow189.mp3"
enclosure_size: 4824202
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-kuala-lumpur
- the-overnightscape-underground
- podcast
location: kuala-lumpur
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em;" src="https://archive.org/download/RubenerdShow189/Side189.jpg" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow189/RubenerdShow189.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow189/RubenerdShow189.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Follow up to the <a href="https://rubenerd.com/show188/">Zune episode</a> (clunky, buggy software, what the iPod has and nobody else does), print screen on a Mac keyboard, Microsoft software I don&#39;t hate (<a href="http://www.microsoft.com/mac/products/excel2004/excel2004.aspx?pid=excel2004">Excel</a>, <a href="http://www.microsoft.com/games/flightsimulatorx/">Flight Simulator</a>, <a href="http://www.microsoft.com/games/age2/">Age of Empires</a>) and <em>CNN reporters dissing the Zune designers!</em></p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
