---
title: "Rubenerd Show 360: The revolutionary episode"
date: "2017-04-24T14:58:23+10:00"
summary: "The revolutionary episode"
thumb: "https://archive.org/download/RubenerdShow360/RubenerdShow360.png"
enclosure_file: "https://archive.org/download/RubenerdShow360/RubenerdShow360.mp3"
enclosure_size: "86172520"
enclosure_type: "audio/mpeg"
enclosure_duration: "01:29:42"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow360/RubenerdShow360.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow360/RubenerdShow360.png" alt="Rubenerd Show 360" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow360/RubenerdShow360.mp3">Play in new window</a> &middot; <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow360/RubenerdShow360.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">01:29:42</span> – Because it's episode 360! Shaddup. Take a wander with your esteemed host as he records three separate episodes, doesn't have time to produce all of them, and subsequently smashes them into one convenient episode. In Buzzfeed style, you'll never guess what he talks about! Mostly because the episode doesn't have a proper description.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released April 2017 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

