---
title: "Rubenerd Show 094: The Israel Brown Electronic Composition episode"
date: "2006-05-25T22:04:00+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2006"
abstract: '10:00 – Stuffed up internet connection (again), Israel Brown’s Electronic Orchestral Compositions, my first memories of Singapore when I was a little kid (Changi Airport, English, cleanliness), quick way to create Rubenerd Wiki pages, and it’s a beautiful morning.'
enclosure_file: "https://archive.org/download/RubenerdShow094/RubenerdShow094.mp3"
enclosure_size: 4824972
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow094/RubenerdShow094.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow094/RubenerdShow094.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Stuffed up internet connection (again), Israel Brown&#39;s Electronic Orchestral Compositions, my first memories of Singapore when I was a little kid (Changi Airport, English, cleanliness), quick way to create Rubenerd Wiki pages, and it&#39;s a beautiful morning.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
