---
title: "Rubenerd Show 383: The portable episode"
date: "2018-11-12T16:17:18+11:00"
abstract: '31:11 – Recognising two distinct trends on the programme of late, obsessive spreadsheeting, resenting new computer hardware, more thoughts around working from coffee shops instead of home/work, the computer dock and concept pioneered by the late OQO, and some speaking in between the coughs! Feedback from Chad Bowers and Dave on Onsug.com.'
thumb: "https://archive.org/download/RubenerdShow383/RubenerdShow383.png"
enclosure_file: "https://archive.org/download/RubenerdShow383/RubenerdShow383.mp3"
enclosure_size: "29936385"
enclosure_type: "audio/mpeg"
enclosure_duration: "31:11"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow383/RubenerdShow383.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow383/RubenerdShow383.png" alt="Rubenerd Show 383" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow383/RubenerdShow383.mp3">Play in new window</a> &middot; <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow383/RubenerdShow383.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">31:11</span> – Recognising two distinct trends on the programme of late, obsessive spreadsheeting, resenting new computer hardware, more thoughts around working from coffee shops instead of home/work, the computer dock and concept pioneered by the late OQO, and some speaking in between the coughs! Feedback from Chad Bowers and Dave on Onsug.com.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released November 2018 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

