---
title: "Rubenerd Show 141: Tonight's the Chinese Barbecue episode"
date: "2006-08-01T15:30:18+08:00"
thumb: "https://archive.org/download/RubenerdShow141/Side141.png"
year: "2006"
abstract: '10:00 – S/Atom versus email newsletters, useless emails and spam (eBay Australia, the new &quot;PayPal Australia Newsletter&quot;, poor grammar, CafePress not unsubscribing), a Caucasian Guy at a Chinese Barbecue (Crystal’s birthday) comparing east Asian barbecues to Aussie Barbies (labeled cups, soft drink instead of alcohol) and Mr Vampire from Hong Kong.'
enclosure_file: "https://archive.org/download/RubenerdShow141/RubenerdShow141.mp3"
enclosure_size: 4823366
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em;" src="https://archive.org/download/RubenerdShow141/Side141.png" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow141/RubenerdShow141.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow141/RubenerdShow141.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – S/Atom versus email newsletters, useless emails and spam (eBay Australia, the new &quot;PayPal Australia Newsletter&quot;, poor grammar, <a href="http://www.cafepress.com">CafePress</a> not unsubscribing), a Caucasian Guy at a Chinese Barbecue (Crystal&#39;s birthday) comparing east Asian barbecues to Aussie Barbies (labeled cups, soft drink instead of alcohol) and <a href="http://www.imdb.com/title/tt0089371/">Mr Vampire from Hong Kong</a>.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
