---
title: "Rubenerd Show 358: The cable episode"
date: "2017-01-28T23:40:18+11:00"
summary: "The cable episode"
thumb: "https://archive.org/download/RubenerdShow358/RubenerdShow358.png"
enclosure_file: "https://archive.org/download/RubenerdShow358/RubenerdShow358.mp3"
enclosure_size: "31516828"
enclosure_type: "audio/mpeg"
enclosure_duration: "32:15"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow358/RubenerdShow358.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow358/RubenerdShow358.png" alt="Rubenerd Show 358" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow358/RubenerdShow358.mp3">Play in new window</a> &middot; <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow358/RubenerdShow358.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">32:15</span> – Join Ruben as he wanders to his office to retrieve some Australian power cables to replace the Singapore/UK ones he had to lug around because the world couldn’t make life easy for everyone and standardise on one plug! Also formal clothes, Convair tower fans, Koala mattresses, dangerous lifts, problematic fire stairs, mesh WiFi networks, and seeking shelter in coffee shops.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released January 2017 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

