---
title: "Rubenerd Show 092: My favourite weblog feeds episode"
date: "2006-05-24T02:11:00+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2006"
abstract: '10:00 – Ruben’s on a high, replacing the MadPlayer with Logic Express (limitations, the &quot;zzzzz&quot; problem), the word &quot;blah&quot;, Ruben’s Review (Bloglines, my favourite weblog feeds, why I don’t use a program on my machine), pronouncing ZDNet and how to defeat boredom… sometimes.'
enclosure_file: "https://archive.org/download/RubenerdShow092/RubenerdShow092.mp3"
enclosure_size: 4824972
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow092/RubenerdShow092.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow092/RubenerdShow092.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Ruben&#39;s on a high, replacing the MadPlayer with Logic Express (limitations, the &quot;zzzzz&quot; problem), the word &quot;blah&quot;, <a href="https://rubenerd.com/show/wiki/index.php/Ruben%27s_Review">Ruben&#39;s Review</a> (<a href="http://bloglines.com/public/rubenerd">Bloglines</a>, my favourite weblog feeds, why I don&#39;t use a program on my machine), pronouncing ZDNet and how to defeat boredom… sometimes.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
