---
title: "Rubenerd Show 077: The Whole Wheat Radio episode"
date: "2006-05-03T20:25:00+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2006"
abstract: '10:00 – The Whole Wheat Radio Episode! How I found WWR in November 2004, the first morning rant I ever heard, discovering the site and becoming hooked, creating the WWR page here on this site, and listening to my first live morning rant! Audio clips from WWR by Jim Kloss and Esther Golton'
enclosure_file: "https://archive.org/download/RubenerdShow077/RubenerdShow077.mp3"
enclosure_size: 4824039
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow077/RubenerdShow077.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow077/RubenerdShow077.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – The <a href="http://WholeWheatRadio.org/">Whole Wheat Radio</a> Episode! How I found WWR in November 2004, the first morning rant I ever heard, discovering the site and becoming hooked, creating the WWR page here on this site, and <strong>listening to my first live morning rant!</strong> Audio clips from WWR by <a href="http://www.wholewheatradio.org/wiki/index.php/Jim_Kloss">Jim Kloss</a> and <a href="http://www.wholewheatradio.org/wiki/index.php/Esther_Golton">Esther Golton</a></p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
