---
title: "Rubenerd Show 119: The fascinating number episode"
date: "2006-06-30T02:58:01+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2006"
abstract: '10:00 – 119 is a fascinating number (the sum of primes, symmetry, important dates) Ruben Dons his Dad’s Lab Coat (sound distance of a human scream, Mars has lousy acoustics, the Moon has none, Helium and Carbon Dioxide changing voices) and why do Americans write their dates Month/Day/Year when the rest of the world puts it Day/Month/Year?'
enclosure_file: "https://archive.org/download/RubenerdShow119/RubenerdShow119.mp3"
enclosure_size: 4823546
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-kuala-lumpur
- the-overnightscape-underground
- podcast
location: kuala-lumpur
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow119/RubenerdShow119.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow119/RubenerdShow119.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – 119 is a fascinating number (the sum of primes, symmetry, important dates) Ruben Dons his Dad&#39;s Lab Coat (sound distance of a human scream, <a href="http://www.physorg.com/news70900952.html">Mars has lousy acoustics</a>, the Moon has none, Helium and Carbon Dioxide changing voices) and why do Americans write their dates Month/Day/Year when the rest of the world puts it Day/Month/Year?</p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
