---
title: "Rubenerd Show 251: The telco malice episode"
date: "2008-09-24T14:44:28+08:00"
thumb: "https://archive.org/download/RubenerdShow251/RubenerdShow251.180px.png"
year: "2008"
abstract: '33:00 – Was SUPPOSED to be discussing our Flinders Ranges trip and my new iPhone, but ended up discussing the cola wars, my dad’s much needed holiday with us in Adelaide, having no energy sucks, mistakingly assuming malice instead of stupidity, the sad decline of Vodafone service in Australia, multivitamins and coffee preparation, the Aussie outback is REALLY flat, signing up with Optus, mobile phone prepaid plans are a ripoff, really humbling super old rock, good to be back home, sculling boiling water, phone calls with Elke, and some &quot;realistic&quot; philosophy!'
enclosure_file: "https://archive.org/download/RubenerdShow251/RubenerdShow251.mp3"
enclosure_size: 15983117
enclosure_duration: "33:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow251/RubenerdShow251.png"><img src="https://archive.org/download/RubenerdShow251/RubenerdShow251.180px.png" alt="Click for larger version" style="height:180px; width:180px; float:left; margin:0px 20px 5px 0px" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow251/RubenerdShow251.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow251/RubenerdShow251.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">33:00</span> – Was <strong>SUPPOSED</strong> to be discussing our <a href="http://www.southaustralia.com/FlindersRangesOutback.aspx">Flinders Ranges</a> trip and my new <a href="http://apple.com.au/iphone/">iPhone</a>, but ended up discussing the cola wars, my dad&#39;s much needed holiday with us in Adelaide, having no energy sucks, mistakingly assuming malice instead of stupidity, the sad decline of <a href="http://vodafone.com.au/">Vodafone</a> service in Australia, multivitamins and coffee preparation, the Aussie outback is <strong>REALLY</strong> flat, signing up with <a href="http://www.optus.com.au/iphone">Optus</a>, mobile phone prepaid plans are a ripoff, really humbling super old rock, good to be back home, sculling boiling water, phone calls with <a href="http://twitter.com/elkee/">Elke</a>, and some &quot;realistic&quot; philosophy!</p>

<p>Flinders Ranges trip and iPhone adventures will be released in the coming week. Heaven forbid I actually record what I&#39;m supposed to one day :-).</p>

<p>Music for this episode performed by <a href="http://www.magnatune.com/artists/chris_juergensen">Chris Juergensen</a> from <a href="http://www.magnatune.com">Magnatune.com</a>.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade.</p> 
