---
title: "Rubenerd Show 039: The personal episode part two"
date: "2005-08-19T14:29:59+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2005"
abstract: '15:00 – Episode 38 part 2! Following up on why I hate clubs with another clip from Crap and Stuff by Israel J. Brown; also talking about some website-housekeeping, and my adventures with phone companies (Optus and Vodafone). Includes at the end a bonus stupid, inappropriate but fun audio composition :).'
enclosure_file: "https://archive.org/download/The_Rubenerd_Show_039/RubenerdShow039.mp3"
enclosure_size: 6441403
enclosure_duration: "15:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/The_Rubenerd_Show_039/RubenerdShow039.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/The_Rubenerd_Show_039/RubenerdShow039.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">15:00</span> – Episode 38 part 2! Following up on why I hate clubs with another clip from Crap and Stuff by Israel J. Brown; also talking about some website-housekeeping, and my adventures with phone companies (Optus and Vodafone). Includes at the end a bonus stupid, inappropriate but fun audio composition :).</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
