---
title: "Rubenerd Show 178: The retro LaserDisc episode, with guest Elke Schade"
date: "2006-11-16T16:29:23+08:00"
thumb: "https://archive.org/download/RubenerdShow178/Side178.png"
year: "2006"
abstract: '10:00 – Microphones (Shure PG48 and $3.00 Cheap as Chips), home computers dropping like flies, losing notes, testy pops, a nostalic look back at the LaserDisc (digital versus analogue signals, how it represents stuff, sheer size!) and what sickens Elke.'
enclosure_file: "https://archive.org/download/RubenerdShow178/RubenerdShow178.mp3"
enclosure_size: 4824202
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-kuala-lumpur
- the-overnightscape-underground
- podcast
location: kuala-lumpur
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em;" src="https://archive.org/download/RubenerdShow178/Side178.png" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow178/RubenerdShow178.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow178/RubenerdShow178.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Microphones (<a href="http://shure.com.au/">Shure PG48</a> and <a href="http://www.cheapaschips.com.au/">$3.00 Cheap as Chips</a>), home computers dropping like flies, losing notes, testy pops, a nostalic look back at the LaserDisc (digital versus analogue signals, how it represents stuff, sheer size!) and <em>what sickens Elke</em>.</p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
