---
title: "Rubenerd Show 245: The double net whammy and computer speed episode"
date: "2008-06-25T20:55:01+08:00"
thumb: "https://archive.org/download/RubenerdShow245/RubenerdShow245.png"
year: "2008"
abstract: '33:38 – Locations in web form thingys, a huge power outage in Singapore, nostalgia comparing how we thought of computer speeds in the 80s, 90s and noughties, my vintage 200MHz Pentium MMX machine still running, the megahertz myth, building computers from Sim Lim Square, the Commodore VIC-20, Commodore  64 and Commodore 1541 disk drive, 6502 chips in everything, TMnet "high speed" monopoly in Malaysia, getting paid to podcast, stalling internet connections driving me crazy!'
enclosure_file: "https://archive.org/download/RubenerdShow245/RubenerdShow245.mp3"
enclosure_size: 14460972
enclosure_duration: "33:38"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-singapore
- the-overnightscape-underground
- podcast
location: singapore
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow245/RubenerdShow245.mp3"><img src="https://archive.org/download/RubenerdShow245/RubenerdShow245.png" alt="Download Rubenerd Show 245" style="height:180px; width:180px; float:left; margin:0px 20px 5px 0px" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow245/RubenerdShow245.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow245/RubenerdShow245.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">33:38</span> – Locations in web form thingys, a huge <a href="https://rubenerd.com/show/blog/p1192/" rel="nofollow">power outage in Singapore</a>, nostalgia comparing how we thought of computer speeds in the 80s, 90s and noughties, my vintage 200MHz <a href="http://en.wikipedia.org/wiki/Pentium#P55C.2C_Tillamook" rel="nofollow">Pentium MMX</a> machine still running, the megahertz myth, building computers from <a href="http://www.simlimsquare.com.sg/" rel="nofollow">Sim Lim Square</a>, the Commodore <a href="http://en.wikipedia.org/wiki/Commodore_VIC-20" rel="nofollow">VIC-20</a>, Commodore  <a href="http://en.wikipedia.org/wiki/Commodore_64" rel="nofollow">64</a> and Commodore <a href="http://en.wikipedia.org/wiki/Commodore_1541" rel="nofollow">1541 disk drive</a>, <a href="http://en.wikipedia.org/wiki/MOS_Technology_6502" rel="nofollow">6502 chips</a> in everything, <a href="http://www.tm.net.my/" rel="nofollow">TMnet</a> "high speed" monopoly in Malaysia, getting paid to podcast, stalling internet connections driving me crazy!</p>

<p class="show-licence">Recorded in Singapore. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade.</p> 
