---
title: "Rubenerd Show 002: The printing search party episode"
date: "2005-02-09T00:11:54+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2005"
abstract: '15:00 – The HP 5510 OfficeJet All-In-One reviewed, Ruben is very tired from Ana’s birthday party (yeah yeah har har.) and what is with desktop search?'
enclosure_file: "https://archive.org/download/The_Rubenerd_Show_002/RubenerdShow002.mp3"
enclosure_size: 3724138
enclosure_duration: "15:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-singapore
- the-overnightscape-underground
- podcast
location: singapore
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/The_Rubenerd_Show_002/RubenerdShow002.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/The_Rubenerd_Show_002/RubenerdShow002.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">15:00</span> – The HP 5510 OfficeJet All-In-One reviewed, Ruben is very tired from Ana&#39;s birthday party (yeah yeah har har.) and what is with desktop search?</p>

<p class="show-licence">Recorded in Singapore. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
