---
title: "Rubenerd Show 246: The “Fairness Engine” rant episode"
date: "2008-06-27T19:40:26+08:00"
thumb: "https://archive.org/download/RubenerdShow246/RubenerdShow246.png"
year: "2008"
abstract: '40:24 – A rant episode in response to a new technology reported by Webware and an article calling the exposing of P2P as a red herring; talking about net neutrality, attacking symptoms not causes, RIAA/MPAA inspired bullying tactics. Not the same calibre as a Jimbob Kloss rant but I try my best!'
enclosure_file: "https://archive.org/download/RubenerdShow246/RubenerdShow246.mp3"
enclosure_size: 19414867
enclosure_duration: "40:24"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-singapore
- the-overnightscape-underground
- podcast
location: singapore
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow246/RubenerdShow246.png" alt="Could this mean the end for Free and Open Source Software?" style="height:180px; width:180px; float:left; margin:0px 20px 5px 0px" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow246/RubenerdShow246.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow246/RubenerdShow246.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">40:24</span> – A rant episode in response to a <a href="http://webware.com/8301-1_109-9977880-2.html?tag=ndfd.blgs">new technology reported by Webware</a> and an article calling the <a href="http://yro.slashdot.org/yro/08/06/27/007209.shtml">exposing of P2P as a red herring</a>; talking about net neutrality, attacking symptoms not causes, RIAA/MPAA inspired bullying tactics. Not the same calibre as a <a href="http://wholewheatradio.org/wiki/index.php/Audio_magazines">Jimbob Kloss rant</a> but I try my best!</p>

<p>Also briefly talk about a <a href="http://developers.slashdot.org/article.pl?sid=08/06/25/139219">fascinating interview article</a> from Slashdot from the inventor of C++, and <a href="http://www.starhub.com/portal/site/Online/menuitem.935dac8c897c3fb7eaaf3b608324a5a0/?vgnextoid=333928043c6ef010VgnVCM100000464114acRCRD">the internets</a> are working again at home!</p>

<p class="show-licence">Recorded in Singapore. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade.</p> 
