---
title: "Rubenerd Show 160: The sashimi and Boyd Anderson episode"
date: "2006-08-28T20:28:07+08:00"
thumb: "https://archive.org/download/RubenerdShow160/Side160.png"
year: "2006"
abstract: '10:00 – Drinking way too much coffee, being addicted to sashimi and sushi (mercury poisoning), a Rubenerd Traffic Report, contacting Boyd-Anderson, Boyd-Anderson.com post (New Zealand still hasn’t got over their pavlova being &quot;stolen&quot;), and why I don’t really consider anywhere &quot;home&quot; anymore.'
enclosure_file: "https://archive.org/download/RubenerdShow160/RubenerdShow160.mp3"
enclosure_size: 4824202
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><img style="float:left; margin:0px 20px 5px 0px; width:110px;" src="https://archive.org/download/RubenerdShow160/Side160.png" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow160/RubenerdShow160.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow160/RubenerdShow160.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Drinking way too much coffee, being addicted to sashimi and sushi (mercury poisoning), a Rubenerd Traffic Report, contacting Boyd-Anderson, <a href="http://boyd-anderson.com/">Boyd-Anderson.com</a> post (New Zealand still hasn&#39;t got over their <a href="http://boyd-anderson.com/Main%20Page/BA9E5264-7629-4C1E-A26B-75E2FF08CD0D.html">pavlova</a> being &quot;stolen&quot;), and why I don&#39;t really consider anywhere &quot;home&quot; anymore.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
