---
title: "Rubenerd Show 157: The bad coffee and bad QuizMania episode"
date: "2006-08-23T00:55:19+08:00"
thumb: "https://archive.org/download/RubenerdShow157/Side157.png"
year: "2006"
abstract: '10:00 – Racism and intolerance on Australian Channel 9’s QuizMania (Tom Yum Soup, mocking the Bali bombings), study days in the teachers’ lounge, Rubenerd Heath segment (difference between robusta and arabica coffee, common allergies) and Ruben mixing up his mixer board (har har).'
enclosure_file: "https://archive.org/download/RubenerdShow157/RubenerdShow157.mp3"
enclosure_size: 4823366
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em;" src="https://archive.org/download/RubenerdShow157/Side157.png" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow157/RubenerdShow157.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow157/RubenerdShow157.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Racism and intolerance on Australian Channel 9&#39;s <a href="http://www.gopetition.com.au/online/9181.html">QuizMania</a> (Tom Yum Soup, mocking the <a href="http://en.wikipedia.org/wiki/2002_Bali_terrorist_bombing">Bali bombings</a>), study days in the <a href="http://www.ais.com.sg">teachers&#39; lounge</a>, Rubenerd Heath segment (difference between robusta and arabica coffee, common allergies) and Ruben mixing up his mixer board (har har).</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
