---
title: "Rubenerd Show 060: The Darknet episode"
date: "2005-11-27T14:29:59+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2005"
abstract: '20:00 – Talking today about making it all the way to number 60, and a Rubenerd announcement! Also discussing the different sense of humour in Australia, the UK, the US and Singapore, DSL woes and DSL modems that like to reset themselves every 20 minutes or less, blogs I like to read (John C. Dvorak, Lawrence Lessig and JD Lasica’s Darknet), more financial problems with hosting, Microsoft’s crappy new television ad campaign and how they keep rehashing and releasing the same crap, and an Ourmedia update.'
enclosure_file: "https://archive.org/download/The_Rubenerd_Show_060/RubenerdShow060.mp3"
enclosure_size: 9677491
enclosure_duration: "20:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/The_Rubenerd_Show_060/RubenerdShow060.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/The_Rubenerd_Show_060/RubenerdShow060.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">20:00</span> – Talking today about making it all the way to number 60, and a Rubenerd announcement! Also discussing the different sense of humour in Australia, the UK, the US and Singapore, DSL woes and DSL modems that like to reset themselves every 20 minutes or less, blogs I like to read (<a href="http://dvorak.org/blog/">John C. Dvorak</a>, <a href="http://lessig.org/blog/">Lawrence Lessig</a> and <a href="http://darknet.com/">JD Lasica&#39;s Darknet</a>), more financial problems with hosting, Microsoft&#39;s crappy new television ad campaign and how they keep rehashing and releasing the same crap, and an Ourmedia update.</p>

<p><strong>Something To Think About Segment</strong>: Stealing street lamps!</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
