---
title: "Rubenerd Show 292: The George Foreman Grill episode"
date: "2015-09-10T22:39:51+10:00"
thumb: "https://archive.org/download/RubenerdShow292/RubenerdShow292.png"
year: "2015"
abstract: '51:34 – Feeling globally displaced, the Australian International School Singapore, the HSC and IB and Singapore A-Levels, loud planes (hush kits, airport curfews, restrictions), perfect is the enemy of good (Voltaire, podcast audio gear, Nespresso, the Renaissance Podcasters lamenting quality, hipsters, cameraphones), cruises to buy vinyl turntables, AKG reference headphones, office desk layouts (fight or flight, feng shui), and a far too long digression into making jaffles in a George Foreman grill.'
enclosure_file: "https://archive.org/download/RubenerdShow292/RubenerdShow292.mp3"
enclosure_size: "50313815"
enclosure_type: "audio/mpeg"
enclosure_duration: "51:34"
enclosure_bitrate: 128
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow292/RubenerdShow292.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow292/RubenerdShow292.png" alt="Rubenerd Show 292" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow292/RubenerdShow292.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow292/RubenerdShow292.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">51:34</span> – Feeling globally displaced, the <a href="http://www.ais.com.sg/">Australian International School Singapore</a>, the HSC and IB and Singapore A-Levels, loud planes (hush kits, airport curfews, restrictions), perfect is the enemy of good (Voltaire, podcast audio gear, Nespresso, the Renaissance Podcasters lamenting quality, hipsters, cameraphones), cruises to buy vinyl turntables, AKG reference headphones, office desk layouts (fight or flight, feng shui), and a far too long digression into making jaffles in a George Foreman grill.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released September 2015 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

