---
title: "Rubenerd Show 222: Tonight's guest: Elke Schade in the Rubenerd Studios"
date: "2007-03-26T23:58:18+08:00"
thumb: "https://archive.org/download/RubenerdShow222/RubenerdShow222.png"
year: "2007"
abstract: '45:00 – Wearing a tutu, the Malaysian powerpoint culture in coffee shops, signs you may have a nerdy son, Rubenerd Show host Ruben turns 21, the flotation ability of glass deodorant containers, irresponsible environmental wastage in razor packaging, reviewing Twitter, Rubenerd Interview (Ruben’s sister Elke), Principal Skinner from the Principal’s office, stupid product packages, Ruben’s hopes and dreams, tornadoes on Taiwan, Ruben’s half-arsed MySpace page, how to pronounce MyMyMyMySpace, evil apostrophes Billy Connelly, George W. Bush losing the war on drugs, coffee is disgusting apparently, getting a MacBook), and drying your hair in the shower!'
enclosure_file: "https://archive.org/download/RubenerdShow222/RubenerdShow222.mp3"
enclosure_size: 5785766
enclosure_duration: "45:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tags:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-kuala-lumpur
- the-overnightscape-underground
- podcast
location: kuala-lumpur
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow222/RubenerdShow222.png" alt="" style="float:right; margin:1em 0em 1em 2em; height:180px; width:180px; display:inline; border:0px;" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow222/RubenerdShow222.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow222/RubenerdShow222.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">45:00</span> – Wearing a tutu, the Malaysian powerpoint culture in coffee shops, signs you may have a nerdy son, Rubenerd Show host Ruben turns 21, the flotation ability of glass deodorant containers, irresponsible environmental wastage in razor packaging, reviewing <a href="http://twitter.com/rubenerd/">Twitter</a>, Rubenerd Interview (Ruben&#39;s sister Elke), Principal Skinner from the Principal&#39;s office, stupid product packages, Ruben&#39;s hopes and dreams, tornadoes on Taiwan, Ruben&#39;s <a href="http://myspace.com/rubycgi/">half-arsed MySpace page</a>, how to pronounce MyMyMyMySpace, evil apostrophes <a href="http://www.billyconnolly.com/">Billy Connelly</a>, George W. Bush losing the war on drugs, coffee is disgusting apparently, <a href="http://apple.com.sg/macbook/">getting a MacBook</a>), and <em>drying your hair in the shower!</em></p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade.</p> 
