---
title: "Rubenerd Show 188: The evil Zune (part one) episode"
date: "2006-11-30T18:50:25+08:00"
thumb: "NA"
year: "2006"
abstract: '12:00 – Ruben takes a satirical look at the Zune (Microsoft’s jealous take on the iPod), real world versus geekdom, shooting PlaysForSure partners, Chris Feurgeson from the Late Late Show, why it’s good for iPod users and Steve Ballmer on recklessness!'
enclosure_file: "https://archive.org/download/RubenerdShow188/RubenerdShow188.mp3"
enclosure_size: 5783254
enclosure_duration: "12:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-kuala-lumpur
- the-overnightscape-underground
- podcast
location: kuala-lumpur
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em;" src="https://archive.org/download/RubenerdShow188/Side188.jpg" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow188/RubenerdShow188.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow188/RubenerdShow188.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">12:00</span> – Ruben takes a satirical look at the <a href="http://en.wikipedia.org/wiki/Zune">Zune</a> (<a href="http://microsoft.com/">Microsoft&#39;s</a> jealous take on the <a href="http://apple.com.sg/itunes/">iPod</a>), real world versus geekdom, shooting <a href="http://playsforsure.com/">PlaysForSure</a> partners, <a href="http://cbs.com/latenight/latelate/">Chris Feurgeson from the Late Late Show</a>, why it&#39;s good for iPod users and <em>Steve Ballmer on recklessness!</em></p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
