---
title: "Rubenerd Show 311: The Jimbo episode"
date: "2015-12-06T13:11:05+11:00"
year: "2015"
abstract: '41:54 – A follow–up episode in Overnightscape Underground spirit to one of the latest Hey Everybody It’s Jimbo episodes. Topics include black socks, missing segments and all manner of electronic media, musical interludes and sabbaticals, The Frank Nora Time Machine, the ABC, humidity, Onsug host heights, and a blast of 2014 with the Hilltop Hoods!'
thumb: "https://archive.org/download/RubenerdShow311/RubenerdShow311.png"
enclosure_file: "https://archive.org/download/RubenerdShow311/RubenerdShow311.mp3"
enclosure_size: "41834180"
enclosure_type: "audio/mpeg"
enclosure_duration: "41:54"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow311/RubenerdShow311.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow311/RubenerdShow311.png" alt="Rubenerd Show 311" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow311/RubenerdShow311.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow311/RubenerdShow311.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">41:54</span> – A follow–up episode in Overnightscape Underground spirit to one of the latest <a href="http://onsug.com/archives/18439">Hey Everybody It’s Jimbo</a> episodes. Topics include black socks, missing segments and all manner of electronic media, musical interludes and sabbaticals, The Frank Nora Time Machine, the ABC, humidity, Onsug host heights, and a blast of 2014 with the Hilltop Hoods!</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released December 2015 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

