---
title: "Rubenerd Show 086: The first phone message left episode"
date: "2006-05-16T01:38:00+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2006"
abstract: '10:00 – Rubenerd Show Milestone (first phone message left), hard disk space woes, an impromptu Ruben’s Review (surviving Lynx BodySpray), and a tech style Ruben’s Review (Samsung SyncMaster 910T).'
enclosure_file: "https://archive.org/download/RubenerdShow086/RubenerdShow086.mp3"
enclosure_size: 4813619
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow086/RubenerdShow086.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow086/RubenerdShow086.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Rubenerd Show Milestone (first phone message left), hard disk space woes, an impromptu Ruben&#39;s Review (surviving Lynx BodySpray), and a tech style Ruben&#39;s Review (Samsung SyncMaster 910T).</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
