---
title: "Rubenerd Show 297: The late night train episode"
date: "2015-09-27T23:08:27+10:00"
thumb: "https://archive.org/download/RubenerdShow297/RubenerdShow297.png"
year: "2015"
abstract: '01:03:29 – A late night train commute from Beecroft to Mascot, seeing the Sydney Harbour Bridge and Opera House, and various thoughts in between. These may include the first female Concorde pilot, The Mary Tyler Moore show, still chilly for a spring night, celebrating Sebastian’s birthday, the Anime@UTS club, Latvia, can’t escape plane sounds, idiots jumping onto train tracks, tabloid TV (A Current Affair, Today Tonight), embankments and cuttings as a geological fascination, epic road trips to northern New South Wales, Sydney Trains 160th anniversary, romance of travel, ocean liners, Malta, flag designs (stars, colour, Vexillology), the Nintendo 2DS, and getting back into Pokemon!'
enclosure_file: "https://archive.org/download/RubenerdShow297/RubenerdShow297.mp3"
enclosure_size: "62100330"
enclosure_type: "audio/mpeg"
enclosure_duration: "01:03:29"
enclosure_bitrate: 128
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow297/RubenerdShow297.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow297/RubenerdShow297.png" alt="Rubenerd Show 297" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow297/RubenerdShow297.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow297/RubenerdShow297.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">01:03:29</span> – A late night train commute from Beecroft to Mascot, seeing the Sydney Harbour Bridge and Opera House, and various thoughts in between. These may include the first female Concorde pilot, The Mary Tyler Moore show, still chilly for a spring night, celebrating <a href="http://alonelyseptember.org/">Sebastian’s</a> birthday, the <a href="http://utsanime.net/">Anime@UTS</a> club, Latvia, can’t escape plane sounds, idiots jumping onto train tracks, tabloid TV (A Current Affair, Today Tonight), embankments and cuttings as a geological fascination, epic road trips to northern New South Wales, Sydney Trains 160th anniversary, romance of travel, ocean liners, Malta, flag designs (stars, colour, Vexillology), the Nintendo 2DS, and getting back into Pokemon!</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released September 2015 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

