---
title: "Rubenerd Show 144: The relaxing Chinese tea room episode (extended)"
date: "2006-08-05T14:37:06+08:00"
thumb: "https://archive.org/download/RubenerdShow144/Side144.png"
year: "2006"
abstract: '13:00 – Jotting show notes on my Blackberry, the Adelaide Metro 229 bus, Chimpanzee tickets, living in Pooraka, great Western food and coffee in Singapore, the 6 Singapore C’s, visting the Thea Tea Relaxing Chinese Tea Room in Rundle Mall, and Ruben makes an ass of himself doing the Chinese Tea Rap!'
enclosure_file: "https://archive.org/download/RubenerdShow144/RubenerdShow144.mp3"
enclosure_size: 4802902
enclosure_duration: "13:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><img style="float:left; margin:0px 20px 5px 0px; width:110px;" src="https://archive.org/download/RubenerdShow144/Side144.png" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow144/RubenerdShow144.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow144/RubenerdShow144.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">13:00</span> – Jotting show notes on my <a href="http://home.singtel.com/consumer/products/mobile/blackberry/blackberry_internet_service_handhelds.asp">Blackberry</a>, the <a href="http://adelaidemetro.com.au/">Adelaide Metro</a> 229 bus, Chimpanzee tickets, living in Pooraka, great Western food and coffee in Singapore, the 6 Singapore C&#39;s, visting the Thea Tea Relaxing Chinese Tea Room in <a href="http://en.wikipedia.org/wiki/Rundle_Mall">Rundle Mall</a>, and Ruben makes an ass of himself doing the Chinese Tea Rap!</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
