---
title: "Rubenerd Show 099: The last of the two digit episodes episode"
date: "2006-06-02T02:08:00+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2006"
abstract: '10:00 – The last of the 2 digit episodes (the deadly Rubenerd Y1K bug, talking about Episode 100), site traffic stats, Will It Sink? (metal fold back paper clip), Japanese food in Adelaide (Nihonshu Sake, Subway isn’t as fresh as Sushi).'
enclosure_file: "https://archive.org/download/RubenerdShow099/RubenerdShow099.mp3"
enclosure_size: 4824972
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow099/RubenerdShow099.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow099/RubenerdShow099.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – The last of the 2 digit episodes (the deadly Rubenerd Y1K bug, talking about Episode 100), site traffic stats, Will It Sink? (metal fold back paper clip), Japanese food in Adelaide (Nihonshu Sake, Subway isn&#39;t as fresh as Sushi).</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
