---
title: "Rubenerd Show 256: The Moleskine retro 256 episode"
date: "2008-11-13T17:07:26+08:00"
thumb: "https://archive.org/download/RubenerdShow256/RubenerdShow256.180px.png"
year: "2008"
abstract: '30:34 – My obsession with and purchase of a soft cover Moleskine book from NoteMaker, Impromptu review of Anchorman: The Legend of Ron Burgundy, my take on The Rampler with blogging, Amazon delivery of David Letterman Late Show Fun Facts, the anatomy of the human hand including the ever elusive thumb, colour computer nostalgia, where the number 256 keeps cropping up, afternoon post office bus trips and wondering what the heck an Australia Post eParcel is!'
enclosure_file: "https://archive.org/download/RubenerdShow256/RubenerdShow256.mp3"
enclosure_size: 14751573
enclosure_duration: "30:34"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow256/RubenerdShow256.png"><img src="https://archive.org/download/RubenerdShow256/RubenerdShow256.180px.png" alt="Larger version of cover art" style="height:180px; width:180px; float:left; margin:0px 20px 5px 0px" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow256/RubenerdShow256.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow256/RubenerdShow256.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">30:34</span> – My obsession with and purchase of a soft cover <a href="http://www.moleskine.com/index_eng.php">Moleskine</a> book from <a href="http://notemaker.com.au/">NoteMaker</a>, Impromptu review of <a href="http://en.wikipedia.org/wiki/">Anchorman: The Legend of Ron Burgundy</a>, my take on <a href="http://onsug.com/">The Rampler</a> with blogging, Amazon delivery of <a href="http://www.amazon.co.jp/Late-Show-Facts-David-Letterman/dp/1401323073/ref=sr_1_1?ie=UTF8&amp;s=english-books&qid=1226567217&amp;sr=8-1">David Letterman Late Show Fun Facts</a>, the anatomy of the human hand including the ever elusive thumb, colour computer nostalgia, where the number 256 keeps cropping up, afternoon post office bus trips and wondering what the heck an Australia Post eParcel is!</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade.</p> 
