---
title: "Rubenerd Show 117: The pronounciation of randomness episode"
date: "2006-06-27T15:31:01+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2006"
abstract: '10:00 – Ruben’s Review (Carlsberg Beer), speaking Malay, A Moment with Elke Segment (pronouncing Copenhagen, Denmark), useless imagery in novels and another Ruben’s Review (The Runaway Jury book by John Grisham). Beer Eat Responsibly!'
enclosure_file: "https://archive.org/download/RubenerdShow117/RubenerdShow117.mp3"
enclosure_size: 4823202
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-kuala-lumpur
- the-overnightscape-underground
- podcast
location: kuala-lumpur
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow117/RubenerdShow117.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow117/RubenerdShow117.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Ruben&#39;s Review (Carlsberg Beer), speaking Malay, A Moment with Elke Segment (pronouncing Copenhagen, Denmark), useless imagery in novels and another Ruben&#39;s Review (The Runaway Jury book by John Grisham). Beer Eat Responsibly!</p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
