---
title: "Rubenerd Show 397: The Marina Square episode"
date: "2019-09-25T12:22:35+08:00"
abstract: "54:03 — Returning to the birthplace and spiritual home of the Rubenerd Show in Singapore, and where I first heard The Overnightscape. Wandering around Marina Square with Clara making random observations about life here compared to the 1990s and 2000s, with sounds of the Singapore F1 Grand Prix in the background. Then jumping on the MRT back to Novena, and walking in the late evening. It’s a remote-working holiday, but I’ll take it!"
thumb: "https://archive.org/download/RubenerdShow397/RubenerdShow397.png"
enclosure_file: "https://archive.org/download/RubenerdShow397/RubenerdShow397.mp3"
enclosure_size: "51983875"
enclosure_type: "audio/mpeg"
enclosure_duration: "54:03"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-singapore
- the-overnightscape-underground
- podcast
- singapore2019
location: Singapore
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow397/RubenerdShow397.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow397/RubenerdShow397.png" alt="Rubenerd Show 397" style="float:left; margin:0px 20px 5px 0px; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow397/RubenerdShow397.mp3">Play in new window</a> | <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow397/RubenerdShow397.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">54:03</span> – Returning to the birthplace and spiritual home of the Rubenerd Show in Singapore, and where I first heard The Overnightscape. Wandering around Marina Square with Clara making random observations about life here compared to the 1990s and 2000s, with sounds of the Singapore F1 Grand Prix in the background. Then jumping on the MRT back to Novena, and walking in the late evening. It’s a remote-working holiday, but I’ll take it!</p>

<p class="show-licence">Recorded in Marina Bay, Singapore. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release">Released September 2019 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts; this one notwithstanding.</p>

<p class="show-subscribe">Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

