---
title: "Rubenerd Show 105: The Golden Horses and Japanese electronics episode! "
date: "2006-06-12T07:08:00+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2006"
abstract: '10:00 – Going to the Palace of the Golden Horses Hotel, Sports Update (FIFA Argentina vs Ivory Coast, British Grand Prix), Ruben’s Review (Japanese electronics stores in South East Asia, comparing Plasmas and LCDs) and A Moment with Elke Segment (organised religion, atheism, forcing beliefs on others, evolution).'
enclosure_file: "https://archive.org/download/RubenerdShow105/RubenerdShow105.mp3"
enclosure_size: 4823411
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-kuala-lumpur
- the-overnightscape-underground
- podcast
location: kuala-lumpur
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow105/RubenerdShow105.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow105/RubenerdShow105.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Going to the Palace of the Golden Horses Hotel, Sports Update (FIFA Argentina vs Ivory Coast, British Grand Prix), <a href="https://rubenerd.com/show/wiki/index.php/Ruben%27s_Review">Ruben&#39;s Review</a> (Japanese electronics stores in South East Asia, comparing Plasmas and LCDs) and A Moment with Elke Segment (organised religion, atheism, forcing beliefs on others, evolution).</p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
