---
title: "Rubenerd Show 035: The Kevin Tan Show working title episode"
date: "2005-08-14T14:29:59+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2005"
abstract: '15:00 – Special surprise coming up today, the first (unedited) episode of my room-mate’s podcast, The Kevin Tan Show (still a working title)! Topics in his first show include trying to calibrate and set up a microphone, a review of Deception Point by Dan Brown (who is a pretty damned good author), what he thinks is crap, what he’s doing on my show, and Farmer’s Union Iced Coffee (hey, I’ve been a good influence!). Special guest appearances by Kenny Rogers and Ruben Schade of The Rubenerd Show.'
enclosure_file: "https://archive.org/download/The_Rubenerd_Show_035/RubenerdShow035.mp3"
enclosure_size: 3886611
enclosure_duration: "15:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/The_Rubenerd_Show_035/RubenerdShow035.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/The_Rubenerd_Show_035/RubenerdShow035.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">15:00</span> – Special surprise coming up today, the first (unedited) episode of my room-mate&#39;s podcast, The Kevin Tan Show (still a working title)! Topics in his first show include trying to calibrate and set up a microphone, a review of Deception Point by Dan Brown (who is a pretty damned good author), what he thinks is crap, what he&#39;s doing on my show, and Farmer&#39;s Union Iced Coffee (hey, I&#39;ve been a good influence!). Special guest appearances by Kenny Rogers and Ruben Schade of The Rubenerd Show.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
