---
title: 'I don’t care, I’m an introvert. Thank you @hanezawakirika!' 
date: "2013-04-05T11:56:34+10:00"
year: "2013"
category: Thoughts 
tag:
- hanezawakirika
- introversion
- personal 
---
<p><img src="https://rubenerd.com/files/2013/BHEhH5-CQAEnoi6.500px.png" alt="Old cartoon showing a man and a woman wearing topats with antennas for communication. The caption reads: Development of Wireless Telegraphy. Scene in Hyde Park." style="width:500px; height:373px" /></p>
<p>Back in high school, I remember a teacher of mine telling us that Bill and Melinda Gates would often go to dinner together. While not out of the ordinary in and of itself, allegedly they performed this marital ritual while they both read books at the table.</p>
<h3>Pass the hot chocolate, please?</h3>
<p>I can still remember the mixed gasps of horror and derision of everyone in the class, and the other teacher who happened to be there. Even if the story were an urban legend, what a stupid idea, going out to a restaurant and reading! Bwahahaha! What a bunch of awkward, stupid nerds!</p>
<p>I’ll admit, I was intrigued by the idea. Not necessarily with the reading, but the act of defying social norms and just doing what you want to do. If you love someone, and you enjoy their company in a cosy booth in a quiet restaurant while you both read, then fuck it, why not do it?</p>
<p>Whether it be avoiding loud concerts or alcohol by choice (rather than for cultural or medical reasons) or watching sport or constantly talking while hanging out, the Western world has its own unique number of social norms, all with their own justifications. Eating should be social, and &#8220;social&#8221; means talking, because you’re together. You should want to get drunk and watch sport, because if you’re not you’re weird.</p>
<h3>Which brings us to this afternoon</h3>
<p>To use a term I otherwise despise, I was manfluing something fierce. I’d barely slept the night before; all the extremities on my head were red, swollen and blocked; I had a headache; the Bird wasn’t The Word; and more.</p>
<p>To cheer me up and provide me much needed medicinal hugs, I met up with my wickedly smart, cute, talented girlfriend <a href="http://kirinyan.net/">Clara</a> at a local coffee shop. We sat on a squishy seat, leaned on each other, and started typing away on our iPads. We tweeted to each other, then looked at each other and laughed after the fact. Sometimes we’d share funny pictures we’d find, or interesting stories. Other than that, we enjoyed each other’s company while performing the introverted tasks we both revel in.</p>
<p>It was wonderful, and I wouldn’t have wanted it any other way. Well, except the manflu bit, that could have dived into a shark pool with a raw bratwurst strapped to each of its testicles. That was supposed to be &#8220;tentacles&#8221;, but I’m leaving it as that.</p>
<p>My high school teacher and class would have laughed at us, and certainly a few people on Twitter mocked us. Even as recently as last year, that would have bothered me.</p>
<p>Today I realised: I don’t care. All I needed was Clara to show me. Of all the gifts she’s given me lately, this is one of them I’m most thankful for. You’ve helped me grow Clara, thank you. ♡</p>
<p>If you’re introverted too, I encourage you to stop feeling bad. Believe me, I understand how extroverted societies can make you feel small and peculiar. It’s not you, it’s them. Read that book while other people get drunk. It’s your life, there’s no need to apologise for it!</p>
 
