---
title: 'Confessions of a Blogger who dislikes these posts' 
date: "2013-12-06T12:06:12+10:00"
year: "2013"
category: Internet
tag:
- chain-letters
- memes
- personal
- weblog 
location: sydney
---
<p><img src="https://rubenerd.com/files/2013/screenie.e.png" alt="The IBM E Editor, editing this post" style="width:500px; height:352px;" /></p>
<p>Yesterday evening, <a href="http://alonelyseptember.net/">Sebastian</a> tagged <a href="http://kirinyan.net/meme-confessions-of-a-re-blogger/" title="Kirinyan: Meme: Confessions of a (Re)Blogger">Clara</a> and I in a <a href="http://alonelyseptember.org/confessions-of-a-blogger/">Confessions of a Blogger</a> post. I&#39;ll admit, I&#39;d prefer making a contract with Kyuubey than answer such posts, but I do not wish to renege on this social responsibility. Therefore, I will be answering them John Walkenback style.</p>
<dl>
<dt style="font-weight:bold">When did you first start blogging and why?</dt>
<dd>2004, because I wanted to.<p></p></dd>
<dt style="font-weight:bold">Have you had any past online presence?</dt>
<dd>Yes.<p></p></dd>
<dt style="font-weight:bold">When did you become serious about your blog?</dt>
<dd>After ascending higher than a cumulus.<p></p></dd>
<dt style="font-weight:bold">What was your first blog post?</dt>
<dd>The <a href="//rubenerd.com/the-first-post/" title="The First Post">one</a> that preceded the <a href="//rubenerd.com/and-so-this-is-christmas/" title="And So This is Christmas">second</a>.<p></p></dd>
<dt style="font-weight:bold">What have been your biggest challenges blogging?</dt>
<dd>Draft accumulation.<p></p></dd>
<dt style="font-weight:bold">What is the most rewarding thing about blogging?</dt>
<dd>Writing unique posts, rather than filling out cookie cutter questionnaires.<p></p></dd>
<dt style="font-weight:bold">What is the most discouraging thing about blogging?</dt>
<dd>Aforementioned cookie cutter questionnaires.<p></p></dd>
<dt style="font-weight:bold">What is your lasting inspiration or motivation?</dt>
<dd>To help people with technical issues I’ve also faced, and to act as a life record I may find interesting in the future. There are other personal reasons, but this is not the post to discuss them.<p></p></dd>
<dt style="font-weight:bold">Have you ever blogged in a creamy vat of strawberry custard?</dt>
<dd>Where are your cameras?<p></p></dd>
<dt style="font-weight:bold">What is your blogging dirty little secret?</dt>
<dd>Okay, I’ll bite on this one. I still draft in the IBM E Editor from PC DOS. None of the clones match its elegance or speed, so I run the original in DOSBox. My long term ambition is to write my own faithful clone one day in ncurses.<p></p></dd>
<dt style="font-weight:bold">What is your current goal as a blogger?</dt>
<dd>To never write a post like this again.<p></p></dd>
<dt style="font-weight:bold">Have you learned or become passionate about anything through blogging that caught you by surprise?</dt>
<dd>Are we done here?<p></p></dd>
<dt style="font-weight:bold">Yes, all clichés have been wrung. Thank you for your time Ruben.</dt>
<dd>Don’t mention it!</dd>
</dl>

