---
title: 'Go home, site value estimators' 
date: "2013-05-17T12:19:35+10:00"
year: "2013"
category: Internet
tag:
- infocomm
- nonsense
- seo
- weblog 
location: sydney
---
<p><img src="https://rubenerd.com/files/2013/markosweb.rubenerd.com.png" alt="" style="width:128px; height:128px; float:right; margin:0px 0px 10px 20px; display:inline" class="transparent" /></p>
<p>It’s always fun to check into these sites now and then, to see the metrics they’ve allegedly collected about my site. Most of it is contradictory, inaccurate and/or wildly outdated nonsense!</p>
<p>I couldn’t even stand to link to them with <a href="http://microformats.org/wiki/rel-nofollow">rel=&#8221;nofollow&#8221;</a>, feel free to visit them via copy and paste. But you really shouldn’t.</p>
<dl>
<dt style="font-weight:bold;">urlm.co/www.rubenerd.com</dt>
<dd>Rank in United States 567,077<br />
Worldwide Rank 1,052,449<br />
Monthly pages viewed 34,020<br />
Monthly visits 9,863<br />
Value per visitor $0.16<br />
Estimated worth $7,920.99<br />
External links 237<p></p></dd>
<dt style="font-weight:bold;">www.freewebsitereport.org/www.rubenerd.com</dt>
<dd>Rubenerd.com has ranked #1,477,161 in the world according to Alexa website ranking. Rubenerd.com has Google pagerank #4. The estimated website net worth based on it’s traffic value and online website advertisement revenue alone is around $1,631. Rubenerd.com receives 745 pageviews per day and generates nearly $2.23 in daily ad revenue.<p></p></dd>
<dt style="font-weight:bold;">rubenerd.com.pandastats.net/</dt>
<dd>Rubenerd.com is the 982494:th largest website within the world. [..] Rubenerd.com Google Pagerank is 4 and it’s domain is Commercial. Rubenerd.com estimated worth is $4,065.71, with 1018 estimated visites per day and ad revenue of $3.05.
<p></p></dd>
<dt style="font-weight:bold;">www.markosweb.com/www/rubenerd.com/</dt>
<dd>Defining the site’s cost isn’t a simple task. We comprehensively evaluate site SEO, website traffic (quantity, source, geography) and make approximate conclusions about the website’s cost. Special attention is paid not only to the current site’s cost but to the growth (or decline) dynamic of the resource. Rubenerd.com net worth: $90.4K.<p></p></dd>
<dt style="font-weight:bold;">rubenerd.com/go-home-site-value-estimators/</dt>
<dd>Whatever you guys are on, that stuff is powerful.</dd>
</dl>
 
