---
title: 'Goodbye, Kevin Rudd' 
date: "2013-11-14T11:18:12+10:00"
year: "2013"
category: Thoughts 
tag:
- australia
- kevin-rudd
- labor
- nbn
- politics 
---
<p><img src="https://rubenerd.com/files/2021/2059061063_fb18cff1bc_o@1x.jpg" srcset="https://rubenerd.com/files/2021/2059061063_fb18cff1bc_o@1x.jpg 1x, https://rubenerd.com/files/2021/2059061063_fb18cff1bc_o@2x.jpg 2x" alt="" style="width:500px; height:375px;" /></p>
<p>I was <a title="Sunday 25 November 2007: Australia 2007 - No more John Howard!" href="//rubenerd.com/no-more-john-howard/">living in Singapore</a> when Kevin Rudd became Prime Minister of Australia. I remember cringing from afar when his predecessor discussed Asian relations, and was relieved to hear his erudite successor who could even speak Mandarin, no less! Suddenly, Singaporeans were interested in Australia beyond being one giant university. People were genuinely impressed.</p>
<p>I remember how high my eyebrow was raised when he was ousted, and watching with dismay as the custodian party of mainstream progressive politics battled itself instead of the party who wish (in my industry) to leave us mired in the subterranean copper ages.</p>
<p>I’ll remember Kevin as the guy who brought Australia closer to Asia again after the Howard years, and I hope to see him continue to represent Australia abroad. With the current guy in charge, we’ll need all the help we can get.</p>
 
