---
title: 'I’d rather be happy than “right”' 
date: "2013-12-27T11:55:14+10:00"
year: "2013"
category: Media
tag:
- michael-franks
- music
- pedants
- trolls 
location: sydney
---
<p><img src="https://rubenerd.com/files/2013/franks.timetogether.jpg" style="width:500px; height:442px;" alt="Cover of the Time Together CD." /></p>
<p>During those dark hours when trolls, pedants and trolling pedants are throwing mud as they are wont to do, I <a href="http://www.michaelfranks.com/lyrics.html">remember this Michael Franks song</a> and go about my day.</p>
<blockquote><p>
When you meet… someone who inspires your worst angry voice<br />
Just retreat… happiness is always a much better choice<br />
Why chagrin? If you’re insisting on the last word, it’s quite over-rated<br />
Like our mothers taught: Unkind words we just ought not to</p>
<p>Hey, everything you’re saying is so contra-bliss<br />
Okay, I think I can see where you’re going with this<br />
True, We have had our differences there all along<br />
But who, Who of us can say he has never been wrong?</p>
<p>Like the sky, this is all shadows and light<br />
I guess I would rather be happy than right</p>
<p>Every day life is like a mixture of sugar and sand<br />
On the way we are given lessons we misunderstand<br />
If I fail<br />
To no avail<br />
Still I always try to be<br />
Like the wise ant who<br />
Takes the sugar home<br />
And just leaves the sand alone
</p></blockquote>
 
