---
title: 'Is full-disk encryption worth it? Pokémon' 
date: "2013-04-25T10:12:43+10:00"
year: "2013"
category: Software
tag:
- apple
- bitlocker
- filevault
- infocomm
- mac-os-x
- microsoft
- pokemon
- truecrypt 
location: sydney
---
<p><img src="https://rubenerd.com/files/2013/photo.retro.pokemon.jpg" alt="Photo of a magazine showing an article about Pokémon computer game." style="width:500px; height:332px" /></p>
<p>Don’t you love headlines that can be answered so easily? <a href="https://www.infoworld.com/t/storage/full-disk-encryption-worth-it-216995?source=IFWNLE_nlt_storage_2013-04-24">From Infoworld</a>, one of my favourite sources of whitepapers which I read for a hobby because I’m a nerd:</p>
<blockquote><p>The Ponemon Institute’s research study, entitled &#8220;The TCO of Software vs. Hardware-based Full Disk Encryption,&#8221; claims to provide an answer. The study, conducted last year, polled more than 1,300 IT and IT security professionals in four countries &#8212; the United States, the United Kingdom, Germany, and Japan &#8212; for detailed information about their use of and expectations for hardware-based full-disk encryption.</p>
</blockquote>
<p>Perhaps it’s because I had a long day, but I reread that paragraph at least five times, and I kept seeing &#8220;Pokémon Institute&#8221;.</p>
<blockquote><p>The results, recently reanalyzed with new insights provided in a follow-up paper, showed that full-disk encryption came at a fair cost, in big part because of the time and labor involved in deploying it. But the perceived benefits for using full-disk encryption far outweighed those costs.</p>
</blockquote>
<p>An interesting read, but nothing surprising. Whole drive encryption would have added tremendous computational overhead to already slow machines back in the day, but today there really aren’t any good [technical] reasons for eschewing (gesundheit) it.</p>
<p>From an enterprise perspective, the biggest arguments I’ve heard against it have been those initial deployment costs, and the added potential complexity for data recovery. That’s not a problem though, because everyone backs up. R-right?</p>
<p>Then there’s the issue of vendor support, or lack thereof. Mac OS X, the BSDs and all major Linux distributions ship with whole drive encryption as a configuration option, but Microsoft’s BitLocker is only offered on the non-consumer flavours of Vista, 7 and 8.</p>
<p>It’s regrettable Microsoft places more importance on artificial product differentiation than the privacy of their home customers’ data. No catching &#8216;em all today.</p>
 
