---
title: 'Lady @Adasifs and Her birthday'
date: "2013-04-20T09:37:59+10:00"
year: "2013"
category: Thoughts
tag:
- adasifs
- friends
- life
location: Sydney
---
<p><img src="https://rubenerd.com/files/2013/tumblr_mliokjLRoe1qz581wo4_500.jpg" alt="" style="width:480px; height:480px" /></p>
<p>Earlier this week, one of the most upstanding members of the <a href="http://utsanime.net/">Anime@UTS club</a> had her birthday. She’s made a habit of doing this every year.</p>
<p>As someone who recently experienced that surge of pain at the prospects of becoming older than one preferred to be, I could relate to her hesitation to celebrate. We’d all planned to do something for her anyway, but always the illustrious <em>Event Organiser&trade;</em> she figured out several fun activities during the day, including a high tea and a piping-hot <a href="http://www.urbanspoon.com/rph/70/751501/72122/sydney-milliore-korean-fusion-restaurant-milliore-korean-fusion-restaurant-photo">gastronomically delectable Korean dinner</a>.</p>
<p><span style="font-style:italic">(Gastronomy has to be one of the most unfortunate culinary terms ever bestowed upon the language).</span></p>
<p><a href="http://kirinyan.net/">Clara</a> and I don’t drink, but we still had a great time seeing all our friends who we’ve barely seen owing to exams, assignments and all the regular fun stuff we otherwise occupy our existences with. She’d scoff at such a notion, but the turnout was just a testament to all the people who think she’s a great friend. So there!</p>
<p><strong>tipsbowlerhat</strong></p>
<p>As for the photo? Apparently that’s <a href="https://twitter.com/Adasifs/status/325407387466989568">me in cat form</a> (private account link). Nyan~ ^o^</p>
 
