---
title: 'Mascot' 
date: "2013-06-15T01:00:18+10:00"
year: "2013"
category: Anime 
tag:
- mascot
- weblog
location: Sydney
---
<p>Rubi is the beloved mascot of <em>Rubenerd</em>, drawn by <a rel="friend met co-worker kin muse crush date sweetheart" href="http://kirinyan.net/">Clara</a>. This is her story.</p>
<h3>Biography</h3>
<p>Rubi was born outside Sapporo, Hokkaido on her birthday. An intelligent and creative person, her warm and modest personality belies her otherwise shy and reserved nature.</p>
<p>The harsh winters and quiet home life of Hokkaido fostered an appreciation in Rubi for introverted activities that could be enjoyed indoors. These included reading, drawing, brewing exotic tea and coffee, tinkering with computers and listening to jazz music. A local athletic centre with a heated indoor pool offered her plenty of excercise, which was important given her penchant for eating lots of <em>shiroi koibito</em>!</p>
<p>After high school, she studied IT and media on exchange at the University of Hong Kong. The bustling city with its Anglo-Sino culture had a profound effect on her. She learned Canonese and English, attempted Mandarin, and developed a taste for Chinese and German cuisine. She also travelled to see her precious few friends in Singapore, Incheon and Taipei, forever cementing a love of travel and East Asian cultures in her soul.</p>
<p>Upon returning to Sapporo, Rubi became interested in anime and manga, and was fortunate enough to be rendered as an adorable mascot by the equally talented and smart <a rel="friend met co-worker kin muse crush date sweetheart" href="http://kirinyan.net/">Clara</a>. She’s posed in a cute purple <em>seifuku</em> with the site’s logo; a highly moé Chinese New Year <em>sukumizu</em>; and her favourite tactical cargo shorts that can hold all her electronic gear!</p>
<p>Rubi now graces all the pages at *Rubenerd*. She resides in a comfortably well appointed <a href="https://www.orionvm.com/">OrionVM cloud instance</a>, quite the upgrade from her studio VPS apartment.</p>
<h3>Information</h3>
<table>
<thead>
<tr>
<th>Key</th>
<th>Value</th>
</tr>
</thead>
<tbody>
<tr>
<td>Name</td>
<td>Rubi</td>
<tr>
<td>Age</td>
<td>Early 20s</td>
</tr>
<tr>
<td>Birth stone</td>
<td>Take a guess</td>
</tr>
<tr>
<td>Favourite food</td>
<td>Shiroi koibito biscuits, curry udon</td>
</tr>
<tr>
<td>Favourite drink</td>
<td>Green tea lattés, cappuccinos with extra chocolate powder</td>
</tr>
<tr>
<td>Favourite anime/manga genres</td>
<td>Romantic comedy, science fiction</td>
</tr>
<tr>
<td>Favourite animal</td>
<td>Alpacas!</td>
</tr>
<tr>
<td>Favourite clothes</td>
<td>Unmatching thigh highs, socks and boots!</td>
</tr>
</tbody>
</table>
 
