---
title: 'Outlook Web Access and NoScript' 
date: "2013-11-14T11:18:40+10:00"
year: "2013"
category: Internet
tag:
- guides
- microsoft
- noscript
- outlook
- owa 
location: sydney
---
<p><a href="https://noscript.net/" title="NoScript for Firefox pre-emptively blocks malicious scripts and allows JavaScript, Java and other potentially dangerous content only from sites you trust.">NoScript</a> and <a title="CS Lite allows you to set the permission of the cookie every domain from toolbar." href="https://addons.mozilla.org/en-US/seamonkey/addon/cslite-mod/">CS Lite Mod</a> make it easy to maintain dynamic site and cookie whitelists. About the only sites that routinely give me trouble are ones that require authentication with third parties, because once you get to the next stage in the login process, you have to repeat the whole process again with lightning speed.</p>
<p>Outlook Web Access is an extreme example of this. For those of us wanting to access our UTS webmail, we’re bounced between no fewer than four sites. Before you can click the NoScript and CS Lite icons to allow the latest site in the chain, you’re presented with an error saying your browser is blocking cookies and JavaScript.</p>
<p>I eventually got it working by whitelisting all of the following domains:</p>
<ul>
<li>microsoftonline.com</li>
<li>microsoftonline-p.com [sic]</li>
<li>live.com</li>
<li>outlook.com</li>
</ul>
<p>By comparison, it took just whitelisting Google.com when I was a Gmail user.</p>
 
