---
title: 'The best cooking smells' 
date: "2013-12-15T05:12:16+10:00"
year: "2013"
category: Thoughts 
tag:
- cooking
- food
- j-walk-blog
- lists 
---
<p><img src="https://farm3.staticflickr.com/2592/4074217589_af6f2161e0_z.jpg" alt="Photo of my most recently-baked loaves." style="width:320px; height:215px;" /></p>
<p>Of all the food you’ve ever cooked&mdash;or had cooked for you&mdash;what would you consider the best from the perspective of your nasal area? In October 2011, the J-Walk Blog <a href="http://j-walkblog.com/index.php?/weblog/posts/Best_Cooking_Smell/">featured this list</a>:</p>
<ol>
<li>Garlic cooking in oil</li>
<li>Basmati rice</li>
<li>Turkey on Thanksgiving day</li>
</ol>
<p>Oddly, despite my penchant for chicken roasts, I don’t find the smell of cooking poultry that appetising. I give him props for the first two however, and would add the following:</p>
<ol>
<li>Garlic *and onion* cooking in oil</li>
<li>Freshly baked bread</li>
<li>Freshly ground coffee</li>
</ol>
<p>I also have some food I otherwise enjoy the taste of, but can’t stand it being cooked:</p>
<ol>
<li>Ikan bilis</li>
<li>Lingering curry aroma during breakfast the next day</li>
</ol>
<p>Pictured is one of <a href="//rubenerd.com/bread-baking-2/">my baking attempts</a> &#8220;Rubenerd: My second bread baking attempt&#8221;).</p>
 
