---
title: 'An 11-inch MacBook Air unboxing review thing'
date: "2013-01-08T10:48:07+10:00"
year: "2013"
category: Hardware 
tag:
- apple
- infocomm
- mac-os-x
- macbook-air
- mountain-lion
- review
- ssd 
location: sydney
---
<p><a class="transparent" href="https://www.flickr.com/photos/rubenerd/8360154929/" title="My MacBooks ^_^ by rubenerd, on Flickr"><img src="https://farm9.staticflickr.com/8508/8360154929_46986b1cef.jpg" width="500" height="334" alt="My MacBooks ^_^"></a></p>

<p>For just over one week, I’ve moved from a Mac Pro, a 15-inch MacBook Pro and two X Series ThinkPads to an 11-inch MacBook Air as my primary machine. You read that right. So how is it working out?</p>

<p><!--oldmore--></p>

<h3>Context</h3>

<p>For the first couple of years of university, and subsequent staying home to look after my mum, my primary machine was a <a href="//rubenerd.com/universal-binaries-for-mozilla-software/">first generation 15-inch MacBook Pro</a>. For a desktop replacement I could carry regularly between <a href="//rubenerd.com/internode-reactivation/">Adelaide</a>, <a href="//rubenerd.com/running-lava-lamp-and-spinrite-at-0300/">Singapore</a> and <a href="//rubenerd.com/typing-in-malaysia/">Kuala Lumpur</a>, its gorgeously large screen, discrete graphics and ExpressCard slot were wonderful. So much so, that I was willing to live with the burden of lugging a 2.5kg (5.6lb) device around with me in a giant bag, even when I was just heading to a local coffee shop or to classes.</p>
<p>Now that my university is the same place home is, the pressing need for a portable powerhouse evaporated. Despite being a fraction of the power of that MacBook Pro, I carried a ThinkPad X40 then X61s with Fedora Linux to university classes and coffee shops. For similar battery life, they were easily half the weight and meant I could take much smaller bags. For the heaving lifting, a refurbished Mac Pro had far more expandability, and meant I could dismantle my stonehenge of external drives.</p>

<p><a class="transparent" href="https://www.flickr.com/photos/rubenerd/8360156041/" title="11-inch MacBook Air unboxing by rubenerd, on Flickr"><img src="https://farm9.staticflickr.com/8498/8360156041_1f78f17a08_m.jpg" width="240" height="161" alt="11-inch MacBook Air unboxing"></a> <a class="transparent" href="https://www.flickr.com/photos/rubenerd/8361219846/" title="11&quot; MacBook Air unboxing by rubenerd, on Flickr"><img src="https://farm9.staticflickr.com/8505/8361219846_f9401ec7fc_m.jpg" width="240" height="161" alt="11-inch MacBook Air unboxing"></a></p>

<h3>The MacBook Air!</h3>

<p>So we come to this gorgeous, lightweight 11-inch MacBook Air my sister and father generously bought for me for Yule. I could rave on and on about it over a long series of blog posts… so I will. Stay tuned for individual posts discussing specific experiences and technical specs over the coming weeks ^_^.</p>

<p>Ultimately though, as one can’t gauge how delicious a meal is simply by the ingredients that go into it, the technical specs of such a device are secondary to how it actually feels to use. That’s a pretty airy fairy statement for an IT professional to make, and certainly I’m aware the MacBook Air is no slouch, but to me this device represents a fundamental shift in the way I live my life.</p>

<p>This 11-inch MacBook Air is fast, the battery life is fantastic, and its so small and light I can throw it into my tiny backpack and almost feel as though there’s nothing in it. That, its charger and my Amazon eInk Kindle already weigh less than the lightest ThinkPad I own, and less than half the weight of my MacBook Pro. Weight has been lifted off my shoulders in every conceivable sense.</p>

<p><a class="transparent" href="https://www.flickr.com/photos/rubenerd/8360158457/" title="11-inch MacBook Air unboxing by rubenerd, on Flickr"><img src="https://farm9.staticflickr.com/8076/8360158457_756697545e_m.jpg" width="240" height="161" alt="11-inch MacBook Air unboxing"></a> <a class="transparent" href="https://www.flickr.com/photos/rubenerd/8361222364/" title="11-inch MacBook Air unboxing by rubenerd, on Flickr"><img src="https://farm9.staticflickr.com/8238/8361222364_abd3f3dace_m.jpg" width="240" height="161" alt="11-inch MacBook Air unboxing"></a></p>

<h3>Tradeoffs?</h3>

<p>And yet, I don’t feel like I’m losing anything. Quite the opposite, with this form factor I feel as though I can carry it around with me everywhere. I’m an odd fellow, and inspiration for code and prose come to me at the most bizarre times. The fact I can just whip out this tiny computer and throw my ideas onto it with Xcode, TextMate 2, Homebrew, OmniFocus, TextExpander, MacVim, Alfred and Parallels Desktop along with the Gimp, Inkscape, LibreOffice Draw, Dia and all my beloved shell apps and languages is just… it’s indescribable.</p>

<p><img src="https://rubenerd.com/files/uploads/icon.xcode.png" alt="" style="width:128px; height:128px;" class="transparent" /><img src="https://rubenerd.com/files/uploads/icon.textmate2.png" alt="" style="width:128px; height:128px;" class="transparent" /><img src="https://rubenerd.com/files/uploads/icon.omnifocus.png" alt="" style="width:128px; height:128px;" class="transparent" /></p>

<p>Perhaps having heard me describe my ideal machine many times, my family opted to spend the extra money on upgrading the memory from 4GiB to 8GiB, rather than upgrading the stock 64GB solid state drive. It was a wise choice; having used ThinkPads with 20 and 30GB SSDs, I’ve become used to the idea of using portable computers for current projects, and using rsync to back them up to my Mac Pro with its masses of storage. The fact my MacBook Air now has more memory than my Mac Pro blows my mind! But technical stuff is for the next post.</p>

<p>Suffice to say, I’m a week into using this machine, and already I can’t imagine my life without it. If that’s not a sign of an indispensable device, I don’t know what is. #boom.</p>

<p><a class="transparent" href="https://www.flickr.com/photos/rubenerd/8360161057/" title="11-inch MacBook Air unboxing by rubenerd, on Flickr"><img src="https://farm9.staticflickr.com/8232/8360161057_4354ccc576_m.jpg" width="240" height="161" alt="11-inch MacBook Air unboxing"></a> <a class="transparent" href="https://www.flickr.com/photos/rubenerd/8361224822/" title="My MacBooks ^_^ by rubenerd, on Flickr"><img src="https://farm9.staticflickr.com/8055/8361224822_9ae145c568_m.jpg" width="240" height="161" alt="My MacBooks ^_^"></a></p>
 
