---
title: '509 Bandwidth Limited Exceeded' 
date: "2011-07-25T12:46:25+10:00"
year: "2011"
category: Internet
tag:
- australia
- error-509
- errors
- facebook
- infocomm
- net-logistics
- postaday2011
- sydney
- web-hosting 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/icon.netlogistics.jpg" alt="" style="width:120px; height:120px; float:right; margin:0 0 10px 10px;" /></p>
<p>This morning Rubenerd.com blew its web hosting bandwidth limit. Frantic, I emailed <a href="http://www.netlogistics.com.au/">Net Logistics</a> and despite it being a Sunday morning in Sydney, within 20 minutes they allocated extra bandwidth, and upgraded me to one of their newer plans. That’s customers service!</p>
<p>Checking through my server logs, over 32GiB of transfer was blown in five days due to one image request from <strong>apps.facebook.com</strong>. Needless to say, I’ll be finally adding hotlinking protection to .htaccess.</p>
<p>
<p>I&#39;ll be posting details tomorrow once I’ve done more research. In the meantime, thank you to <a href="https://plus.google.com/u/0/103988271682709028536/">Alex Paulson</a> and all of you on Google+ and Twitter for letting me know :).</p>
 
