---
title: 'Advances in corn mazes' 
date: "2011-09-30T11:41:32+10:00"
year: "2011"
category: Thoughts 
tag: 
- corn
- j-walk-blog
- nonsense
- postaday2011
- puns 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/jwalk-maze.jpg" alt="" style="height:217px; width:325px;" /></p>
<p>With 15 days left to go before closing his blog, J-Walk has already started to descend into puns with a link to a site discussing the growing trend of <a href="http://j-walkblog.com/index.php?/weblog/posts/Advances_In_Corn_Mazes/">corn mazes</a>. Yes, actual corn mazes. I&#39;ll admit, it grew on me.</p>
<p>In any case, those interested in maizes (darn it, now he has me doing it) should be a <a href="https://www.openstreetmap.org/relation/2939672">pedestrian in Kuala Lumpur</a>. The shape and intersection of their road network could be used as a source of high entropy random numbers.</p>
 
