---
title: 'International AIDS Awareness Day 2011' 
date: "2011-12-01T10:25:04+10:00"
year: "2011"
category: Thoughts 
tag: 
- aids
- awareness
- postaday2011 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/screenie.aidsday2011.jpg" alt="" style="320px; width:500px;" /></p>
<p>My companion since I was a kid, sporting a ribbon I bought today. If you know the series he&#39;s from, you win a million virtual Rubenerd dollars! ^_^</p>
 
