---
title: '#Anime Gurren Lagann #05' 
date: "2011-08-25T01:00:41+10:00"
year: "2011"
category: Anime 
tag: 
- 2008-anime
- gainax
- gurren-lagann
- postaday2011
- tengen-toppa-gurren-lagann 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/anime.gl0501.jpg" alt="" style="height:278px; width:500px;" /></p>
<p>After yesterday&#39;s <a title="Tuesday 23rd August 2011: [Anime] Gurren Lagann #04" href="//rubenerd.com/anime-gurren-lagann-04/">tribble-fest</a>, today&#39;s episode of <a href="//rubenerd.com/tag/gurren-lagann/">Gurren Lagann</a> had the makings of a more sombre affair. Kinda.</p>
<p><strong>Discoveries:</strong> We&#39;re rapidly realising there aren&#39;t just a few colonies of humans, we&#39;re everywhere, and we all have our own way of life. How prescient!</p>
<p><strong>Limitations:</strong> As we saw in the <a href="//rubenerd.com/anime-gurren-lagann-4">first episode</a>, while these enviably powerful machines can tap into the life spirit and energy of their operators, Gunmen have a limited passenger and storage capacity. Despite being above average, super bad arse incarnations of Gunmen, the components of Gurren Lagann aren&#39;t any better, forcing some to sit in less than comfortable positions.</p>
<p><img src="https://rubenerd.com/files/uploads/anime.gl0502.jpg" alt="" style="height:278px; width:500px;" /></p>
<p><strong>Tricorders:</strong> Leeron has one reminiscent of a powder compact, and it can date rocks. I mean, it can estimate the age of a rock surface, not that the tricorder device thingy goes out with rocks. I&#39;m also positive in the Gurren Lagann universe they&#39;re not called <a href="https://secure.wikimedia.org/wikipedia/en/wiki/Tricorder">tricorders</a>.</p>
<p><strong>Booby traps:</strong> Have you ever dug a hole, covered it with mesh and leaves, then waited expectantly for a poor sap to walk into it and fall in? Allegedly that&#39;s how vast, deep entrances to underground labyrinth worlds are created some of the time as well, perfect for a stray Gunman to put pressure on and subsequently find itself in.</p>
<p><img src="https://rubenerd.com/files/uploads/anime.gl0503.jpg" alt="" style="height:278px; width:500px;" /></p>
<p><strong>Colour:</strong> Everything looks more dark and sinister without colour, and stone only adds to sinisterness. Is that a word, sinisterness?</p>
<p><strong>Religion:</strong> Is allegedly a comforting lie used by well meaning authority figures to shield people from truth that would be hard to accept, such as morality. Good thing that&#39;s only true in anime!</p>
<p><img src="https://rubenerd.com/files/uploads/anime.gl0504.jpg" alt="" style="height:278px; width:500px;" /></p>
<p><strong>Behavior:</strong> Sure it&#39;s fine for Yoko to be walking around in a bikini top and hot pants given her colleagues of awesomeness walk around without shirts, but for a more conservative culture like the one they encountered today it seemed to be too much. Ironically they didn&#39;t question Kamina&#39;s lack of upper body clothing, but rather his <strong>behavior</strong>… I have no idea what they could have been talking about.</p>
<p><strong>Explanations:</strong> After being compelled to dress accordingly for their culture, Yoko is forced to wear a flowing shawl which she hates because it <em>&quot;restricts her movement&quot;</em>. I suppose that&#39;s the closest explanation we&#39;ll get for her attire? Wouldn&#39;t a regular shirt do the trick as well? Ah Gainax ;).</p>
<p><img src="https://rubenerd.com/files/uploads/anime.gl0505.jpg" alt="" style="height:278px; width:500px;" /></p>
<p><strong>Unanswered questions:</strong> How would a Gunmen made of stone be repaired? How does one keep ceremonial white robes clean underground? Where does an underground civilisation like that get their food? Will a young man and two small children survive on the surface by themselves? Wouldn&#39;t they stand a better chance at survival if their whole village braved the surface together?</p>
<p><strong>Laws:</strong> The Gurren Lagann Gunmen can&#39;t be merged unless stock, tongue in cheek transformation scenes are performed, and firearms cannot be operated unless one removes their shawl in an epic, twirling fashion.</p>
<p><img src="https://rubenerd.com/files/uploads/anime.gl0506.jpg" alt="" style="height:278px; width:500px;" /></p>
<p><strong>Heart tugging:</strong> These kids who would presumably have been killed or starved on the surface were joined by the star of the episode on the surface, to brave this new unexplored world together. Aww :&#39;). Also was it just me, or did they have a Hayao Miyazaki like look to them?</p>
<p><strong>Conclusion:</strong> After the high-jinks of last episode, this was a more toned down affair, or at least as toned down as this series could hope to be with its giant mecha robot high octane fight scenes in caverns underground. And so their journey continues…</p>
<p><img src="https://rubenerd.com/files/uploads/anime.gl0507.jpg" alt="" style="height:278px; width:500px;" /></p>
 
