---
title: '#Anime Yumekui Merry #07' 
date: "2011-03-07T06:18:55+10:00"
year: "2011"
category: Anime 
tag: 
- 2011-anime
- dream-eater-merry
- jc-staff
- postaday2011
- yumekui-merry 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/anime.ym0701.jpg" alt="" style="height:281px; width:500px;" /></p>
<p>Is it okay to want that Hawaiian shirt? <span style="font-weight:bold;">Yumekui Merry #07: &quot;Dreams, Swimsuits and the Colour of the Sea&quot;.</span></p>
<p><!--oldmore--></p>
<p>For those of you who read my blog primarily for my other topics, the idea of the <strong>obligatory beach episode</strong> may seem foreign and strange, let alone anime in general. Pull up a comfy chair and allow me to sew the seeds of understanding during this break I have from uni and family document scanning.</p>
<p>Since the dawn of recent time, animators have weaved into their narratives at least one or more episodes that are set on the beach or surrounds, either in the context of a day trip or a short holiday. In anime fandom lexicon, these episodes are referred to as a series&#39; obligatory beach episode, and depending on your perception they&#39;re either endemic of the &quot;declining quality of anime&quot;, something to tolerate, or one of the greatest things ever invented. I&#39;ll let you decide for yourself which it is.</p>
<p><img src="https://rubenerd.com/files/uploads/anime.ym.beachepisodeart.jpg" alt="" style="height:280px; width:500px;" /></p>
<p>Needless to say, the invention of such an episode format was designed specifically to give animators a free pass to dress their characters up (or down, as it were) in swimsuits and have them frolic around in an idyllic setting. They also spawn an entire subset of merchandise sales and official art in magazines, and as you can see above it doesn&#39;t take them very long! <em>Money money money, must be funny…</em></p>
<p>Essentially, one can think of these as the anime equivalent of certain travel shows that always have their suspiciously attractive guide showing you around the coral reefs of Mauritius in speedos or a bikini, while their less attractive colleague shows you the best rest-stop grub in New Jersey or something. But I digress.</p>
<p><img src="https://rubenerd.com/files/uploads/anime.ym0702.jpg" alt="" style="height:281px; width:500px;" /></p>
<p>Fortunately, despite the predisposition of such episodes in general to have plots so thin you could pass <a href="https://secure.wikimedia.org/wikipedia/en/wiki/Alpha_particle">alpha radiation</a> through them, Yumekui Merry at least had a side story that wasn&#39;t burdened with having to explain the beach premise, and enough character development did happen. Well, kinda.</p>
<p>First of all, we learned that despite her efforts Merry is struggling in her role as one of the wait staff owing to her memory which clearly isn&#39;t that much better than mine! Honestly I have the same problem she has, give me five things to remember and in less than a minute I&#39;ll either have them confused or completely forgotten.</p>
<p>During this time, its suggested they take a break and go to the beach, which Isono&#39;s dad wholeheartedly supports. Of course he does :P</p>
<p><img src="https://rubenerd.com/files/uploads/anime.ym0703.jpg" alt="" style="height:281px; width:500px;" /></p>
<p>For some reason the entire writing club and the mysterious transfer student Chizuru ends up joining Yumeji, Merry, Isano and her dad at the beach. They all know each other now?</p>
<p>Ironically enough, most of the episode&#39;s obligatory fanservice is provided by Mei Hoshino, the writing club president (left in the screecap above) who only a few episodes ago was portrayed as a bashful and super shy bookworm. Allegedly sea air instills confidence and volleyball athletic ability… maybe I need to try this!</p>
<p><img src="https://rubenerd.com/files/uploads/anime.ym0704.jpg" alt="" style="height:281px; width:500px;" /></p>
<p>No, Merry isn&#39;t acting sheepish because I&#39;m pointing out further plot holes in her story, she just poked fun at Yumeji for not being able to swim… only to admit she can&#39;t either. Awww ;).</p>
<p><img src="https://rubenerd.com/files/uploads/anime.ym0705.jpg" alt="" style="height:281px; width:500px;" /></p>
<p>Does it count as Inception when you&#39;re watching a television show about a television show? I know this is about dream daemons not Inception, but its a valid question.</p>
<p>The Power Rangers-ish action show that Yumeji has been watching in the previous episodes of this show (wow, my brain is already starting to melt trying to explain this) started filming an episode on the beach, which clearly he was excited about! I never watched Power Rangers I&#39;ll be honest, but there were plenty of people in my school who did, and dressed up as them ;).</p>
<p><img src="https://rubenerd.com/files/uploads/anime.ym0706.jpg" alt="" style="height:281px; width:500px;" /></p>
<p>Another person who was excited to see them was a young boy who turns out to be a vessel for a dream daemon himself. His youthful excitement at meeting and getting an autograph from one of his favourite television characters is quickly destroyed after he enters a daydream and has his dream daemon Delga killed by another dream daemon called Mistelteinn who we&#39;ve seen before, and no doubt we&#39;ll see again.</p>
<p>Upon returning to the real world, his eyes are lifeless and his enthusiasm for what excited him only moments before is gone, which supports what previous episodes have told us about what happens to former vessels who lose their dream dameons, and also affirms Merry&#39;s unique position as a dream daemon who doesn&#39;t need a vessel. Having [stupidly!] read the manga I now know why… but that&#39;s for the future ;)</p>
<p><img src="https://rubenerd.com/files/uploads/anime.ym0707.jpg" alt="" style="height:281px; width:500px;" /></p>
<p>Basically everything else that happened was regular obligitory beach episode fare. Bikini tops are pulled off &quot;by accident&quot;, the gang engage in that blindfolded watermellon hitting game whatsit that I used to play in Singapore with Stephen Fugiwara and our friends from school… hi if you&#39;re reading this!</p>
<p>Finally Merry&#39;s self doubt about whether or not what she&#39;s doing is the right thing destroying other dream damons comes into play again, but with an overly cliche but otherwise beautiful sunset with lots of pretty colours as the backdrop, Yumeji reassures her. Awwww :)</p>
<p><img src="https://rubenerd.com/files/uploads/anime.ym0708.jpg" alt="" style="height:281px; width:500px;" /></p>
<p>And therein was the Yumekui Merry Obligitory Beach Episode. Can we get back to the real world now, please? I suppose in a series about dreams, the &quot;real world&quot; is a relative term, but still. The Bird is The Word.</p>
<p>Oh and I couldn&#39;t resist, this screenshot just had to be included because of Merry&#39;s facial expression. In the anime she&#39;s nervous about the clothes other people are wearing compared to her, but I like to think of it instead that she just stepped on one of those pointy shells. OUCH! XD.<br />
Here at Rubenerd.com we strive for professionalism.</p>
<p><img src="https://rubenerd.com/files/uploads/anime.ym0709.jpg" alt="" style="height:281px; width:500px;" /></p>
 
