---
title: '#Anime Toradora getting Blu-Ray and an OVA!' 
date: "2011-11-24T09:01:26+10:00"
year: "2011"
category: Anime 
tag: 
- bluray
- nostalgia
- postaday2011
- toradora 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/anime.taiga.donut.jpg" alt="Taiga with a doughnut!" style="height:281px; width:500px;" /></p>
<blockquote><p>The Blu-ray box set of the whole TV Anime of Toradora! will be released on December 21st, with an unaired new episode (OVA).</p></blockquote>
<p>From <a href="http://theakiba.com/2011/09/11/toradora-ova-announced/">The Akiba</a>, via <a href="https://plus.google.com/u/0/105179067814259665079">Vadim on Google+</a>. One of my favourite series of all time, I&#39;m unashamed ^_^.</p>
 
