---
title: '#Anime Aria the Scarlet Pizza' 
date: "2011-09-29T07:59:36+10:00"
year: "2011"
category: Anime 
tag: 
- advertising
- hidan-no-aria
- pizza
- postaday2011
- shakugan-no-shana 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/anime.hidannoaria.pizza.jpg" alt="" style="height:313px; width:500px;" /></p>
<p>This brings my <em>Rubenerd Database of Anime Pizza Hut References</em> to four, as <a title="Tuesday 01st March 2011: [Anime] Some MORE product placement?" href="//rubenerd.com/anime-product-placement/">previously blogged</a>. I&#39;m sure there are far more.</p>
<p>My working theory is the <a href="http://myanimelist.net/anime/8630/Hidan_no_Aria">Hidan no Aria</a> writers decided to do this to further differentiate the series from Shana to deflect criticism that it&#39;s merely a stopgap derivative. I mean, pizza isn&#39;t <a href="http://youtube.com/watch?v=5z0e-GKJA10">melonpan</a>!</p>
<p>That looks like a veggie pizza too, my favourite flavour ^_^.</p>
 
