---
title: '#Anime Crowdsourced Moe Day 2011 post!' 
date: "2011-10-10T11:47:55+10:00"
year: "2011"
category: Anime 
tag: 
- 2009-anime
- 2010-anime
- crowdsourced
- k-on
- keion
- moe
- postaday2011 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/anime.archi.mugi.jpg" alt="Photo of Mugi-chan from K-On! walking on a piano." style="height:320px; width:500px;" /></p>
<p>On Twitter this afternoon <a href="https://mobile.twitter.com/Rubenerd/status/123284932834496512">I said</a> I couldn&#39;t justify posting a moe picture here for <em>Moe Day 2011</em> given I&#39;d only just posted <a href="//rubenerd.com/anime-can-i-have-one-too-please/" title="Friday 07th October 2011: [Anime] Can I have one too please?">this picture</a> of Mugi-Chan recently. <a href="http://mobile.twitter.com/sebasu_tan/status/123285221939486720">@Sebasu_tan</a> and <a href="https://mobile.twitter.com/hanezawakirika/status/123285295021047808">@hanezawakirika</a> would have none of that however, and told me to post another one anyway. Then I was sent <a href="https://www.pixiv.net/en/artworks/21336350">the adorable picture</a> you see above, and was encouraged to blog about it!</p>
<p>This could very well be the first entirely crowdsourced blog post in Rubenerd.com&#39;s 4,054 post history. I need more of these ^_^.</p>
 
