---
title: '#Anime Guess what’s wrong with this picture!'
date: "2011-10-03T08:20:02+10:00"
year: "2011"
category: Anime
tag:
- fatboy-slim
- k-on
- k-on-movie
- keion
- kyoani
- postaday2011 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/anime.kon.beach.jpg" alt="Key visual of the K-On! girls at the beach." style="height:343px; width:500px;" /></p>
<p>After that <a title="Monday 03rd October 2011: Ruben’s Australian immigration rant of 2011" href="//rubenerd.com/rubens-au-immigration-rant/">last ranting post about immigration</a>, I feel compelled to talk about something a little more light hearted. With this in mind, I have a bone to pick with Kyoto Animation and the images they’re releasing to promote the up and coming <em>movie de K-On!</em></p>
<h3>Excitement about the movie</h3>
<p>Firstly, as a matter of disclosure, I am far more excited <a title="Sunday 08th May 2011: [Anime] K-On movie poster!" href="//rubenerd.com/anime-k-on-movie-poster/">about this movie</a> than perhaps I should be. I remember watching the first K-On series, then reading the four panel comics, then the second series, then buying hard copies of their four panel comics, then buying badges with Mugi-chan on them, then lending her name to my Mac Pro (iMugi for those in the know) and cosplaying as a gender bender version of her for SMASH.</p>
<p>While professing enjoyment and obsession with K-On will have you electronically tomatoed and marginalised by certain anime fans, I’m an unashamed, unabashed fan of the series, and I make no apologies for the fact.</p>
<h3>The movie</h3>
<p>To build further anticipation in their upcoming movie release in silly fools such as myself, Kyoto Animation have been releasing official art in various anime art journals of record: the legitimate sounding, tongue-in-cheek title I give to magazines such as Megami that serve to just showcase cute anime girls, many of which come with posters that look great on dormitory walls in student housing, but less so in family houses XD.</p>
<p>But I digress! The point of this post (if there was one, I forget) was to comment on one of the more recent pieces of officially sanctioned art that arrived in my image board RSS subscription on Bloglines. As you can see, the girls from the series are in their bathing suits, enjoying the sun, and better still my two overwhelmingly favourite characters are front-row-centre! This crop is desktop background material!</p>
<p><img src="https://rubenerd.com/files/uploads/anime.kon.beach2.jpg" alt="Close up of the above key visual with Yui and Mugi!" style="height:331px; width:500px;" /></p>
<h3>The problem is…</h3>
<p>Well, actually there are five problems, though two are related. Darn, I just keep thinking of them. First, let’s get the nitpicking out of the way:</p>
<ul>
<li>Seemingly taken by <a href="//rubenerd.com/anime-coquettishness/" title="Thursday 07th July 2011: [Anime] Croque-Monsieur Coquettishness?">what I said</a> about the &#8220;New Kyoani face&#8221;, they’ve pushed it to an extreme with Mugi.<p></p></li>
<li>Why would all of them wear Japanese school style suits to the beach? As I long suspected and TV Tropes confirms, such outfits are usually reserved for certain types of characters rather than a whole cast, much like long skirts are reserved for social outcasts and the like.<p></p></li>
<li>Still, even if they intended to wear their school garb to the beach in a foreign country (which suggests when they were packing they thought they would be a good idea to bring along), four of the five girls depicted <strong>are in college right about now</strong>, they don’t even wear that stuff anymore!<p></p></li>
<li>And who would want to wear uniforms on their holidays anyway… other than Konata?<p></p></li>
<li><strong>Right about now</strong>, the funk soul brother, check it out now… Wait, that’s not light music.<p></p></li>
</ul>
<h3>Well actually, the main problem is…</h3>
<p>Leaving aside their choice in clothing however, the biggest issue I have with this image has to do with their locale. Perhaps its due to my upbringing in the tropics, or the fact I’m currently back in Sydney, but the United Kingdom (where this movie is purported to take place) is devoid of any such beaches, and only once in a blue moon has weather like this!</p>
<p>My Germanic genes from my father’s side of the family are encouraging me to inform the K-On writers that Munich and Vienna would make for far more picturesque locales to eat amazing tea time deserts for the girls, but I suppose the UK also makes sense where afternoon tea is an elaborate affair with tea, scones and Wedgewood. This I’m not disputing… but an amazing beach with beautiful skies… that’s not the UK! It’s time to call a spade a spade.</p>
<p>Or am I wrong?</p>
 
