---
title: 'Anime@UTS' 
date: "2011-08-13T01:28:21+10:00"
year: "2011"
category: Anime 
tag: 
- animeuts
- flickr-photos
- postaday2011
- uts
- fujibayashi-kyou
location: sydney
---
<p><img src="https://rubenerd.com/files/2011/6034986929_d0e52a171a_o@1x.jpg" srcset="https://rubenerd.com/files/2011/6034986929_d0e52a171a_o@1x.jpg 1x, https://rubenerd.com/files/2011/6034986929_d0e52a171a_o@2x.jpg 2x" alt="Registered for Anime@UTS!" style="width:500px; height:334px;" /></p>

<p>After many pointlessly long delays, I finally got around to joining the UTS Anime Club! Went to my first screening on the top floor of the tower today and got my membership card. Mental note for next trip: bring a larger USB key!</p>
<p>Funnily enough, their <a href="http://utsanime.net/">official website</a> is hosted with NetLogistics too… small world!</p>
 
