---
title: 'Blogging when you should be tweeting?' 
date: "2011-05-28T12:54:03+10:00"
year: "2011"
category: Internet
tag:
- infocomm
- postaday2011
- twitter
- weblog 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/photo.marshallkirkpatrik.jpg" alt="Marshall Kirkpatrick" style="height:160px; width:116px; float:right; margin:0 0 10px 20px;" /></p>
<p>Marshall Kirkpatrick&#39;s Blog: <cite><a href="http://marshallk.com/new-policy-i-will-not-blog-what-i-can-tweet">I will not blog what I can tweet</a></cite>.</p>
<blockquote><p>I read someone say on Twitter the other day that they really appreciate it when bloggers just share news on Twitter if it’s short enough it can be reported in 140 characters or less. Writing a post about it for nothing but pageviews, when you really didn’t need to go on and on is just poor manners.</p></blockquote>
<p>I see what he did there.</p>
 
