---
title: '#Anime The Borrowers Arrietty with Anime@UTS' 
date: "2011-11-29T01:21:44+10:00"
year: "2011"
category: Anime 
tag: 
- animeuts
- hayao-miyazaki
- movies
- nostalgia
- postaday2011
- reviews
- sydney
- the-borrowers-arrietty 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/anime.arrietty.jpg" alt="Promotional art from the movie." style="height:320px; width:500px;" /></p>
<p>I was a huge fan of <em>The Borrowers</em> growing up as a child, so this was a special treat this evening :).</p>
<h3>I was only late by ten minutes!</h3>
<p>Earlier this evening the UTS Anime Club went to see The Borrowers Arrietty at the Hoyts cinema complex on Broadway. I had never been there before, which necessitated plenty of Tweeting, directions and Google Maps. I could have asked a person on the street, but… real people!?</p>
<p>Turns out every Sydney university anime club (AFAIK) was represented on the signon sheet. Judging from the quick glance I manage to steal, it seems Sydney Uni and UNSW have the most members, though I&#39;m sure they&#39;re not as cool as the UTS club. I&#39;m just saying.</p>
<h3>Hayao Miyazaki isn’t <em>Japan’s Disney</em>, he’s better</h3>
<p>The movie itself was incredibly touching and heartwarming, as one would expect. The visuals were absolutely stunning, the music was lovely, and the plot gradually developed rather than attempting to throw things at us all at once, as seems to be the current movie trend. Personally, I didn&#39;t find it as surreal as Spirited Away <em>et al</em>, but was still engaging and interesting enough even for The Grownups, which apparently according to my birth certificate I am.</p>
<p>As we discussed when we left the cinema, we agreed that one need only suspend their belief in physics to enjoy it ;).</p>
<p>Thanks to Alex for organising the trip for us, we had a great time ^_^.</p>
 
