---
title: 'Pon Pon Pon on my Way Way Way!' 
date: "2011-07-30T01:53:37+10:00"
year: "2011"
category: Media
tag:
- jpop
- kyary-pamyu-pamyu
- music
- ponponpon
- postaday2011 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/screenie.ponponpon.bear.jpg" alt="Kyary on her epic set." style="height:281px; width:500px;" /></p>
<p>With the help of a Twitter colleague who shares a similar obsession with <a title="Monday 25th July 2011: PONPONPON ~ Kyary Pamyu Pamyu" href="//rubenerd.com/ponponpon-kyary-pamyu-pamyu/">this song</a>, I bought one of the <strong>last two</strong> remaining advanced orders for the mini album of <em>Kyary Pamyu Pamyu</em>, aka <em>Moshimoshi Harajuku</em>, aka the <em>PonPonPon Girl!</em> Oh dear!</p>
<h3>My brain has become a lovely ooze</h3>
<p>From the item&#39;s <a href="http://www.cdjapan.co.jp/detailview.html?KEY=WPCL-10983">description page</a> on CDJapan.co.jp, a shopping <a href="https://twitter.com/doctorow/status/96844581714411520">internet website</a> that sells Japaneses compact discs that may or may not contain music specifically:</p>
<blockquote><p>Mini album release from Kyary Pamyu Pamyu produced by Yasutaka Nakata (capsule). Features six electro pop tracks. Limited edition includes a photo book.</p></blockquote>
<p>I have to admit, this is only my second time buying a JPop album; JPop of course being a portmondeau of Japan and Pop, which I believe refers to some sort of non-alcholoic beverage. My first JPop album was a character CD from <span style="font-style:italic">The Melancholy of Haruhi Suzumiya</span> that mysteriously dissipated in our move from Kuala Lumpur to Singapore, never to be seen again. I suspect one of the packers was an SOS-Brigade fan, or they just thought Haruhi was hot. Maybe, it&#39;s naught but speculation at this point.</p>
<p><img src="https://rubenerd.com/files/uploads/WPCL-10983.jpg" alt="Cover of the aforementioned album!" style="height:225px; width:320px;" /></p>
<h3>My brain hurts</h3>
<p>With regards to this specific album, three quick thoughts.</p>
<ol>
<li>PON PON WEY WEY WEY!!!<p></p></li>
<li>The album comes with <strong>six</strong> tracks, not just the one or two? Firstly, English speaking singers (or English singing speakers?) should learn to be as generous as this dashingly insane woman and release more content on their singles too. To be fair though, this is a mini album, not a single, therefore rendering everything in this point completely moot.<p></p></li>
<li>I want a cheese hat!<p></p></li>
<li>Will the photo book contain… wait, hold that thought. This comes with a photo book!!!<p></p></li>
<li>Will aforementioned photo book contain even more crazy antics than what we’ve already seen in her music video, or will it provide more detail? Could my mind deal with either of them!?<p></p></li>
<li>With the CD and subsequent ripping at full quality into my iTunes playlist, will this song rank amongst those special tunes so dear to my heart? The Bird is The Word? This is The Tale of Alan A’Dale? I think I’m going to Katmandu? [sic]</li>
</ol>
<p>Well, that was clearly more than three thoughts.</p>
<p>I should be taking delivery of this package at some point in mid August. To say I can&#39;t wait is the understatement of the… hey look at all that <strong>bread!</strong></p>
<p><img src="https://rubenerd.com/files/uploads/screenie.ponponpon.bread.jpg" alt="Kyary with... bread!" style="height:281px; width:500px;" /></p>
 
