---
title: 'Last comment on the Chrome WebM debacle' 
date: "2011-01-14T07:58:26+10:00"
year: "2011"
category: Internet
tag:
- browsers
- google
- google-chrome
- h264
- infocomm
- postaday2011
- webm 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/icon.tango.tv.png" alt="Icon from the Tango Desktop Project" style="height:128px; width:128px;" class="transparent" /></p>
<p>I&#39;m pretty much over the whole Google Chrome WebM debacle, but John Gruber summarised it better than anyone else at the end of a <a title="Daring Fireball: The Practical vs. Idealistic Scenarios for the Near-Term Future of Online Video" href="http://daringfireball.net/2011/01/practical_vs_idealistic">recent Daring Firewall post</a>. I&#39;d leave a comment there, but… y&#39;know ;).</p>
<blockquote><p><strong>How Google’s decision to drop native H.264 playback from Chrome serves to prop up Flash Player.</strong> […]</p>
<p>The least amount of work these companies can do now, to continue serving video to Chrome users, is to keep using H.264-encoded video via Flash Player. There is no sign that any of these companies share the idealistic concerns of H.264 opponents, and every sign that they’re satisfied with H.264’s technical merits and legal status.</p>
<p>Thus, dropping native H.264 playback from Chrome while still allowing H.264 playback via Flash Player isn’t going to drive adoption of WebM. It just means that Chrome users will get H.264 via Flash.</p></blockquote>
<h3>Budda-boom</h3>
<p>Exactly. As Alexander Sadlier pointed out in the comments thread in my <a href="//rubenerd.com/chrome-h264/" title="Chrome dropping H.264 but not Flash?">previous post</a>, WebM doesn&#39;t need Flash to be played in most browsers. I&#39;m hugely relieved I was wrong about that.</p>
<p>Unfortunately, this doesn&#39;t negate the fact the immediate effect of removing the H.264 codec will be to push more people onto Flash. Say what you will about the legal status of H.264, but at least it can be played in an HTML5 &lt;video&gt; tag without the need for a closed, proprietary plugin.</p>
<h3>The wrapup</h3>
<ul>
<li>Google claims they’re removing H.264 because they want to encourage open innovation, but they keep the closed and proprietary Flash plugin.<p></p></li>
<li>Google lambasted Apple for being exclusive rather than inclusive at Google IO, and now they’re being exclusive. Had Apple said this about Google, the tech media would be foaming at the mouth reporting how evil, closed and two-faced Apple is, but because its Google they’ve largely ignored it. Grilled cheese sandwiches.<p></p></li>
<li>Most sites will likely save themselves the trouble and continue serving H.264. It has an enormous hardware install base, mature video editing tools (we’re kidding ourselves if we think a ffmpeg stopgap counts) and can be delivered via Flash to Chrome users.<p></p></li>
<li>WebM has its own legal and technological shortcomings; for example, did you know Google offers <a title="MPEG LA's AVC/H.264 licensing terms: further analysis" href="http://fosspatents.blogspot.com/2010/06/mpeg-las-avch264-licensing-terms.html">no patent infringement indemnification</a>?<p></p></li>
<li>I once walked down the street backwards in <a title="Wikipedia article on Raffles Place" href="https://secure.wikimedia.org/wikipedia/en/wiki/Raffles_Place">Raffles Place</a> just to count how many people stared at me. Surprisingly, very few did because they had their faces buried in their smartphones.<p></p></li>
<li>The legal issues with H.264 have been greatly exaggerated by an easily excitable tech press. I never thought I’d partly agree with <a title="By dropping H.264, is Google avoiding a trap or walking into one?" href="http://www.zdnet.com/blog/bott/by-dropping-h264-is-google-avoiding-a-trap-or-walking-into-one/2867">Ed Bott on something</a> :O.<p></p></li>
<li>I also maintain a little conspiracy theory that this is a strategic move to cozy up to Adobe to counteract Apple and Microsoft (and HP/Palm… do people still care about them? Damn I’ve always wanted a Pre), rather than a philosophical position as they’re claiming. They’re proporting to be for openness on the one hand, while pushing people onto Flash with the other. Its an absolute master stroke of geniusness.<p></p></li>
</ul>
<h3>I have two footers</h3>
<p>Anyway, I&#39;m over this and ready to move on. I don&#39;t use Chrom[e,ium], nor do I even watch video through a browser. If I&#39;m going to be downloading video on a relatively crappy Aussie internet connection, I may as well use BitTorrent and create a local copy so I&#39;m not having it counted multiple times on the metered quota thingy. The Bird is The Word.</p>
 
