---
title: 'Custom SSH ports with sshuttle' 
date: "2011-04-06T04:48:22+10:00"
year: "2011"
category: Internet
tag:
- infocomm
- networking
- postaday2011
- proxies
- python
- ssh
- sshuttle 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/icon.tango.lock.crop.png" alt="Icon from the Tango Desktop project" style="height:125px; width:118px; padding:2px 0px 1px 0px;" class="transparent" /> <img src="https://rubenerd.com/files/uploads/icon.tango.terminal.png" alt="Icon from the Tango Desktop project" style="height:128px; width:128px;" class="transparent" /> </p>

<p>I’d tried 0.1 back in the day, but @OliYoung reminded me this morning of <a href="https://github.com/apenwarr/sshuttle">sshuttle</a>, the poor man’s VPN that’s just too much fun!</p>

<h3>On Soviet Internets, sshuttle proxies you</h3>

<p>For <del>most</del> all of my SSH connections, I use custom ports. Security through obscurity is a dangerous misnomer if only used by itself, but it helps to lower the chances of a roaming bot scanning on port 22 from finding it.</p>

<p>With a regular SSH connection you define a port with <code>-p</code>, though fancy alliteration is not necessarily required:</p>

<pre>
% ssh -p 60000 username@SuperSexySSHServer
</pre>

<p>Sshuttle doesn&#39;t have a <code>-p</code> option, so you merely append the port old school style:</p>

<pre>
# sshuttle -r username@SuperSexySSHServer:60000
0.0.0.0/0 -vv
</pre>

<p>This then gets converted into a -p option when sshuttle initiates the required SSH connection.</p>

<pre>
Starting sshuttle proxy.
Binding: 12300
Listening on (&#8216;127.0.0.1&#8242;, 12300).
firewall manager ready.
c : connecting to server...
c : executing: [&#8216;ssh’, &#8216;-p’, &#8216;60000’, &#8216;username@SuperSexySSHServer’, &#8216;&#8211;&#8216;, &#8221;python’ -c &#8216;import sys; skip_imports=1; verbosity=2; exec compile(sys.stdin.read(764), &#8220;assembler.py&#8221;, &#8220;exec&#8221;)&#8221;]
</pre>

<p>I would know, because I’m using it to write this blog post! Very cool :)</p>
 
