---
title: 'Cutting Annette Shacklett’s hair' 
date: "2011-05-21T03:53:18+10:00"
year: "2011"
category: Thoughts 
tag: 
- annette-shacklett
- dreams
- far-too-long
- postaday2011
- whole-wheat-radio 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/photo.annetteshacklett.alongtheshore.jpg" alt="Along The Shore, photo taken by Gretchen Sidener, manipulation by Annette Shacklett" style="height:190px; width:500px;" /></p>
<p>My good friend and fellow <a href="//rubenerd.com/tag/whole-wheat-radio/">Whole Wheat Radio</a> alumni <a href="http://www.makinitupasigo.com/">Annette Shacklett</a> left a <a href="https://profiles.google.com/makinitup/posts/2bHgnGA4BMF">comment on Google Reader</a> yesterday that I will now attempt to interpret! That was a lot of <a href="http://www.makinitupasigo.com/gallery/alongtheshore.htm">links</a>.</p>
<p><!--oldmore--></p>
<blockquote><p>Last night I dreamt I let Rubenerd cut my hair.</p>
<p>The scene… I go to a beauty salon in a giant hotel. Long bank of mirrors and hair cutting chairs. Ruben is with me and I know he has hair styling credentials. So rather than have one of the salon people cut my hair, I ask that we use their equipment and my friend Ruben cut my hair. They reluctantly agree.</p>
<p>Make sense of that. ;>)</p>
<p>The only other info I offer is that I’ve been cutting my own hair for over a year.</p>
<p>&#8211;Sparx</p></blockquote>
<p>Oh my! I can honestly say I don&#39;t think I&#39;ve ever been involved in a dream whereby I&#39;m cutting someone&#39;s hair. I suppose seeing how my own hair looks most of the time is enough to instill enough fear into people that the <strong>last</strong> thing they would dream about me styling or brushing their hair, let alone cutting it!</p>
<p>Interestingly enough, my German grandpa on my dad&#39;s side of the family (who was easily the sweetest, kindest man in existence, though he died while I was still a little kid) worked as a hair dresser and barber when the family emigrated from Frankfurt to Sydney in the 1950s. Perhaps there&#39;s some genetic predisposition towards it, or maybe I inherited the look from him. <em>&quot;That Ruben fellow, he looks like a hair dresser!&quot;</em></p>

<p><img src="https://rubenerd.com/files/2011/messing-with-light-at-night_4133755942_o@1x.jpg" alt="Messing with light at night" srcset="https://rubenerd.com/files/2011/messing-with-light-at-night_4133755942_o@1x.jpg 1x, https://rubenerd.com/files/2011/messing-with-light-at-night_4133755942_o@2x.jpg 2x" style="width:500px; height:335px;" /></p>
<p>Clearly I&#39;m <a href="//rubenerd.com/messing-with-light-at-night/">not the artist</a> she is! I love night photography, a 35 or 50mm lens with a tripod and long exposure times are just too much fun, even if I do need practise. But I digress.</p>
<p>As for the meaning, we all know how reliable and trustworthy horoscopes and fortune tellers are, so I decided to do a little research! According to the <a href="http://www.dreammoods.com/dreamdictionary/h.htm">Dream Moods Dictionary</a> (and they would know), this is what your subconscious is telling you when you dream about haircuts:</p>
<blockquote><p>To dream that someone is giving you a haircut, suggests that you are experiencing a decreased sense of power. You feel you are being criticized unfairly. Alternatively, your dream haircut symbolizes a fresh start. You are shedding off some unwanted aspect of yourself.</p></blockquote>
<p>So we can surmise that Annette is feeling a decreased sense of power, or she&#39;s having a fresh start. Perhaps it was the <a href="http://news.slashdot.org/story/11/05/19/2232212/Congress-Makes-Deal-To-Renew-Patriot-Act-For-4-Years">extension of the US PATRIOT act</a>, I&#39;m sure if enacted in my own country I&#39;d be feeling an incredible decrease of power, as well as in increase in blood pressure. Hey, it <a href="http://yro.slashdot.org/story/11/05/20/0157218/Australian-Government-To-Widen-Spy-Agency-Powers-Again">kinda is</a>.</p>
<p>But before we go too deep here, here&#39;s what it says about hairdressers in particular:</p>
<blockquote><p>To dream that you are a hairdresser, suggests that you are imposing your ideas and opinions on others.  Perhaps you need to work on your self-image and improve on your image. Alternatively, it refers to your attitude toward your own sexuality.</p>
<p>To dream that you are at the hairdresser, implies that you are looking to change your attitude. You are ready for change and move in a different direction. </p></blockquote>
<p>Hmm, I feel like we&#39;re losing the trail here. Besides, Annette dreamed that <strong>I</strong> was the one butchering &#8212; wait, cutting &#8212; her hair, so that doesn&#39;t really help us. What does that say about salons?</p>
<blockquote><p>To dream that you are at the salon, indicates your concerns with your looks. You may be overly conscious about your appearance and beauty. Perhaps you are trying too hard to impress others. The dream also suggests deception and cover-up of some situation. Alternatively, it may denote a new outlook toward life. </p></blockquote>
<p>I&#39;ve got to be honest here, I was expecting more mystical and psychological reasons behind these things than the more literal interpretations this site is offering.</p>
<p><img src="https://rubenerd.com/files/uploads/garfield.sleep.png" alt="Sleep…" style="height:211px; width:320px;" class="transparent" /></p>
<p>According to their descriptions, Annette is a hopelessly powerless individual who overly imposes her beliefs on others and who is concerned about her looks. I can speak from experience that I&#39;ve learned a substantial amount from reading her shared items over the years which means she isn&#39;t powerless at all, and the other two points are bunk as well.</p>
<p>Like all highly accurate horoscopes and dream readings though they offer several different interpretations just in case we&#39;re unsatisfied; its like a satisfaction guarantee. The other interpretation on offer here is Annette is having a fresh start, and a new outlook on life. For some reason I was in the dream helping her to forge that path as it were, which I have to admit sounds pretty good! I think I&#39;ll stick with that ;).</p>
 
