---
title: 'Foresight versus hindsight at Dell' 
date: "2011-08-23T01:21:01+10:00"
year: "2011"
category: Hardware 
tag:
- apple
- dell
- hp
- infocomm
- postaday2011
- whoops 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/MD_reasonably_small.jpg" alt="" style="height:128px; width:128px; float:right; margin:0 0 10px 10px;" /></p>
<blockquote><p>Goodbye HP, Sorry you don’t want to be in PCs anymore..But we do more than ever. How would you say goodbye to HP? <cite>~ <a href="https://twitter.com/#!/MichaelDell/status/104926261108932608">Michael Dell</a></cite></p></blockquote>
<p>The same way you were ready to say <a href="http://news.cnet.com/2100-1001-203937.html">goodbye to Apple</a>? That company that has enough cash to buy yours now? Don&#39;t get too comfortable Mr Dell.</p>
 
