---
title: 'Dr Najib Razak’s meaning?' 
date: "2011-06-25T09:29:32+10:00"
year: "2011"
category: Thoughts 
tag: 
- asia
- malaysia
- politics
- postaday2011 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/225px-Dato_Sri_Mohd_Najib_Tun_Razak.JPG" alt="Photo of Najib Razak" /></p>
<blockquote cite="http://www.malaysiakini.com/news/168012"><p>Najib Razak said victory in the general election was most important for Umno and BN because in politics, only victory would bring them meaning. <cite>~ <a href="http://www.malaysiakini.com/news/168012">MalaysiaKini</a></cite></p></blockquote>
<p>I don&#39;t understand why some people are concerned, for once a politician is being completely honest!</p>
<p>In an unrelated observation, his tie matches my blog theme.</p>
 
