---
title: 'Emergency snow heels are for emergencies' 
date: "2011-10-25T11:55:56+10:00"
year: "2011"
category: Anime
tag: 
- clothing
- jks
- nagato-yuki
- nonsense
- pointless
- postdaday2011 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/snowshoes.jpg" alt="Photo of emergency snow high heel shoes?" style="height:205px; width:500px;" /></p>
<p>Normally I wouldn&#39;t blog about such stuff, but with the sudden reversal of Sydney&#39;s weather, it seems inventions like this might be a great idea for those with more fashion taste than common sense.</p>
<h3>That’s no heels</h3>
<p>While sneezing my arse off from an impending flu this morning, I was <a href="http://www.guardian.co.uk/media/2011/oct/24/wikileaks-blockade-julian-assange">reading The Guardian</a>. For those not in the know, while also being the technical term for a legal caregiver, as well as a chain of highly successful <a href="http://www.guardian.com.sg/">Singaporean pharmacies</a> (erroneously referred ton as Chemists in Australia), The Guardian is also a British newspaper that has an excellently designed site. Not that I&#39;d usually know, for I read their RSS feeds, or Atom feeds, or whatever feeds they have.</p>
<p>Isn&#39;t it funny we still call them newspapers even when they&#39;re online? I suppose one could print them to keep the term from becoming archaic. But I digress</p>
<p>What should appear on the sidebar than an offer for <a href="http://www.guardianoffers.co.uk/mall/productpage.cfm/GuardianOffers/_E924/%2D/Mighty-Ice-Grips-%28for-heeled-shoes%29">Mighty Ice Grips</a>:</p>
<blockquote><p>Mighty Ice Grips for high-heels provide truly effective traction on ice and packed snow. Made of strong rubber, Mighty Ice Grips for high heels simple stretch over the toe of your shoe. Small non-slip studs for great grip. One size fits all. Don’t let the fear of slipping keep you indoors this winter.</p></blockquote>
<p>Certainly, the thought that most preoccupies me is being stuck inside given I can&#39;t wear my high heels in snow. But what would they <strong>most</strong> be useful for?</p>
<blockquote><p>Ideal for emergencies, walking to work in snow or ice, or shopping.</p></blockquote>
<p>But of course! Nothing says stylish practicality and emergency preparedness like high heels in snow.</p>
<h3>And short skirts, allegedly</h3>
<p><img src="https://rubenerd.com/files/uploads/anime.yuki.snow.jpg" alt="Yuki from Suzumiya Haruhi in... snow." style="height:500px; width:350px;" /></p>
<p>Ah Yuki, as a computerised entity I would have thought you&#39;d have more common sense than to wear such garb in those conditions. Even Haruhi and Mikuru realised sometimes you <a title="Monday 08th February 2010: [Anime] Disappearance of Haruhi Suzumiya" href="//rubenerd.com/anime-disappearance-of-haruhi-suzumiya/">need longer socks</a>. But I digress.</p>
<p>My head hurts. Not from the content of this post, but from this flu. Perhaps it&#39;s time to make like a pair of ice shoes and skate. Hah, get it? I thought it was funny. </p>
 
