---
title: 'Environmentalism wasn’t one of their concerns' 
date: "2011-08-21T11:37:06+10:00"
year: "2011"
category: Media
tag:
- environment
- flickr-photos
- postaday2011
- philosophy
location: sydney
---
<p><img src="https://rubenerd.com/files/2011/6064319014_0ec2a7f577_o@1x.jpg" srcset="https://rubenerd.com/files/2011/6064319014_0ec2a7f577_o@1x.jpg 1x, https://rubenerd.com/files/2011/6064319014_0ec2a7f577_o@2x.jpg 2x" alt="Earlwood religious flyers" style="width:500px; height:334px;" /></p>
<p>They were out in full force this weekend in <a href="https://www.openstreetmap.org/relation/2061444">Earlwood</a>. Over two days I had flyers handed to me about an End of The World seminar by the Jehovah&#39;s Witnesses, a Baptist pledge drive and an invitation for a &quot;dianetic reading&quot; for the low, low price of $1500. <a href="http://www.youtube.com/watch?v=Mo0Ijfea9NA">Pieces of Sweet Stars Yoko</a> couldn&#39;t wait!</p>
<p>Ironically, just as people did with material from The Greens, these flyers were littered all around the street shortly after. Seems <em>&quot;Ruining The Earth&quot;</em> is a self fulfilling prophecy.</p>
 
