---
title: 'Rubenerd Fun Facts #100' 
date: "2011-11-04T01:35:15+10:00"
year: "2011"
category: Thoughts 
tag: 
- fun-facts
- nonsense
- pointless
- postaday2011 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/graphic.funfacts.jpg" alt="Fun Facts!" style="height:290px; width:380px;" /></p>
<p>I simply couldn&#39;t believe it when I realised, but it&#39;s been exactly one year and three days since our last <a href="//rubenerd.com/tag/fun-facts/">Rubenerd Fun Fact</a>! Not only that, but we&#39;re up to <strong>Fun Fact #100</strong>, an auspicious milestone if ever there was one.</p>
<p>So here it is, the fun fact you&#39;ve waited over a year for! Brace yourself!</p>
<blockquote><p>Ruben has written 100 fun facts, including this one.</p></blockquote>
<p>Well, that was an anticlimax.</p>
 
