---
title: 'Giving SeaMonkey a try!' 
date: "2011-12-21T04:54:47+10:00"
year: "2011"
category: Software
tag:
- firefox
- infocomm
- mozilla
- netscape
- nostalgia
- postaday2011
- rubens-email-shift-2011
- seamonkey
- thunderbird 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/screenie.seamonkey.mac.png" alt="SeaMonkey icon." style="height:275px; width:500px;" /></p>
<p>Having moved from the Mozilla Application Suite to Phoenix 0.2 in the mean old days, I’m giving <a href="http://www.seamonkey-project.org/">SeaMonkey</a> a try and am really liking it.</p>
<p><!--oldmore--></p>
<h3>Sea-what?</h3>
<p>Aside from those on Twitter who asked me <em>why would you do that lol!111!!eleventy!</em>, many didn’t seem to know what SeaMonkey was. As well as an adorable aquatic critter, SeaMonkey is a web browser, email client, html editor, address book, IRC client, newsgroup client, RSS aggregator, positron accelerator, coffee machine and working implementation of the Haber Process. Believe it.</p>
<p>SeaMonkey is the community driven continuation of the <a href="https://secure.wikimedia.org/wikipedia/en/wiki/Mozilla_Application_Suite">Mozilla Application Suite</a> which Mozilla originally spun off Phoenix/Firebird/Firefox and Thunderbird from. The Mozilla Application Suite in turn was based off the original <a href="https://secure.wikimedia.org/wikipedia/en/wiki/Netscape_Communicator">Netscape Communicator</a>, the dominant WWW client software for much of the late 1990s.</p>
<h3>SeaMonkey Mail</h3>
<p><img src="https://rubenerd.com/files/uploads/icon.thunderbird.seamonkey.png" alt="Thunderbird and SeaMonkey" style="height:128px; width:128px; float:right; margin:0px 0px 15px 20px" class="transparent" /></p>
<p>I’ve been a heavy <a href="http://www.mozilla.org/projects/thunderbird/">Thunderbird</a> user for years, predominantly because it allowed me to easily import my existing Mozilla data at the time. Unfortunately, I’ve haven’t liked some of the changes in the 3.x series. The new tab UI feels inconsistent and confusing. I preferred the old way of searching which quickly returned results in the same view, and without expensive indexes being constantly built. And so on.</p>
<p>SeaMonkey Mail reminds me of the Thunderbird 2.x series, which in my opinion was the best graphical email client since that one that was bundled with Cooee (whatever that was called) and the older versions of Eudora. It detected my Thunderbird user data, and had all my accounts and gigs of messages imported in a few short minutes. Understandable given they largely share a common codebase, but still impressive.</p>
<p>I’ve added all my email accounts from Thunderbird and [[re-]al]pine, subscribed to all my newsgroups from Pan, and have even replaced the now unusable (in my opinion) Google Reader with it for web feeds and whatnot. Four applications in one! ^^</p>
<h3>SeaMonkey Navigator</h3>
<p><img src="https://rubenerd.com/files/uploads/icon.firefox.seamonkey.png" alt="Firefox and SeaMonkey" style="height:128px; width:128px; float:right; margin:0px 0px 15px 20px" class="transparent" /></p>
<p>Given I’m using SeaMonkey for my mail, I figured I’d try using it as my browser in place of <a href="http://www.mozilla.org/projects/firefox/">Firefox</a> as well. The current 2.5 release is based off Firefox 8.0, and as such supports the same HTML5 and CSS3 goodies.</p>
<p>I was impressed at how many of my critical Firefox extensions like NoScript, Ghostery and Simple Clocks work flawlessly in SeaMonkey. Unfortunately, Tree Style Tab doesn’t, and currently I haven’t been able to find an available replacement extension that puts my tabs on the side, ala Opera. For someone who has dozens of online docs open at a time, this is really important! I have a newsgroup thread and a post on mozillaZine about it, we’ll see if anyone can help out.</p>
<p>Functionally, I’ve noticed no difference using SeaMonkey Navigator over Firefox other than perhaps in memory usage. SeaMonkey uses less memory than Firefox and Thunderbird combines, which again I suppose makes sense.</p>
<p>What are we up to now? Five applications in one! ^^</p>
<h3>Conclusions</h3>
<p>Over all (is what people wear on farms) I&#39;m surprised by how quick I&#39;ve taken to this software.</p>
<p>The minimalist in me likes that I&#39;ve replaced two icons with one in my dock. I like that with a CMD-1 I can get to a browser, and CMD-2 I can read practically all my internet communications in one window. It even comes with the &quot;Modern&quot; theme from the old days, which contains so much retro win I have it set as my default theme for now.</p>
<p>I&#39;ll be keeping Firefox for now just in case, but I haven&#39;t launched it since last Thursday.</p>
<p>Heartfelt thanks to Philip Chee, Karsten Düsterloh, Jens Hatlak, Robert Kaiser, Ian Neal, Neil Rashbrook, Andrew Schultz, Justin Wood, and all the others in the SeaMonkey community for your tireless efforts :).</p>
 
