---
title: 'Goodbye to the J-Walk Blog after 9 years' 
date: "2011-10-18T12:42:43+10:00"
year: "2011"
category: Internet
tag:
- infocomm
- j-walk-blog
- john-walkenbach
- postaday2011 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/screenie.lastjwalkblog.png" alt="Screenshot showing the last entry from the J-Walk Blog." style="height:305px; width:500px;" /></p>
<p>Along with <a href="http://wholewheatradio.org/">Whole Wheat Radio</a> last year, another part of my teenage years finally ended last week with the closing of the <a href="http://j-walkblog.com/">The J-Walk Blog</a>.</p>
<h3>That’s a big zebra</h3>
<p>From his <a href="http://j-walkblog.com/index.php?/weblog/posts/The_End_api1/">last post</a>, dated Friday the 14th of October:</p>
<blockquote><p>After nine years, the J-Walk Blog has closed and will no longer be updated. However, the site will remain online (at least) through November, 2012.</p>
<p>Thanks for all of your support over the years. I’ll see you on <a href="https://plus.google.com/110003121223198871275/posts">G+</a> and <a href="http://spreadsheetpage.com/index.php/blog">The Spreadsheet Page</a>.</p></blockquote>
<p>I&#39;ll be honest, I&#39;m not too sure about his decision to move over to the Google+ silo. Despite his optimistic feedback to people questioning the longevity of the service in his blog comments, we have no idea how long Google+ will last. Unlike his old site, we&#39;ll also need to be logged into our Google overlords to leave comments, which will be a pain. Still, as he said, Google+ is easier than blogging, so here&#39;s hoping the lower barrier to entry will facilitate further posts from him, albeit in a different form.</p>
<p>John appealed to us to not <em>&quot;get all sentimental and mushy&quot;</em>, so instead I&#39;ll just wish him the best in his next endeavour, and thank him for all the years of entertaining and thought provoking entries on The J-Walk Blog, some of which <a href="//rubenerd.com/tag/j-walk-blog/">inspired my own</a>.</p>
<p>As stated on his sidebar: <em>The Web has thousands of halfway-decent blogs. This is [no longer] one of them, from Tucson, AZ.</em></p>
 
