---
title: 'Google +1 buttons here as well?' 
date: "2011-07-08T05:38:46+10:00"
year: "2011"
category: Internet
tag:
- google
- google-plus
- infocomm
- javascript
- postaday2011 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/graphic.gp1.png" alt="" style="height:214px; width:377px;" class="transparent" /></p>
<p>With the launch of their Google+ social network, Google have now allowed webmasters to have the +1 buttons on their pages. Should I use them?</p>
<p>From <a href="http://www.google.com/webmasters/+1/button/">http://www.google.com/webmasters/+1/button/</a>:</p>
<blockquote><p>
Add +1 to your pages to help your site stand out. +1 buttons let people who love your content recommend it on Google search
</p></blockquote>
<h3>Thinking out loud</h3>
<p>Aside from having pages ranked with these buttons appearing on their new Google+ profiles, it&#39;s clear Google plans to use these to influence their search results. The potential ethical dilemma this introduces is for another post.</p>
<p>I&#39;ve eschewed (gesundheit) having external, dynamically loaded JavaScript here since this site&#39;s inception because of privacy and speed concerns, but this is the first time I&#39;ve had an inkling of questioning my decision.</p>
<p>Given these +1 buttons are appearing in all their search results, would it make much practical difference allowing you to click here too? Either way, it&#39;s an optional process you&#39;re entering into, I&#39;d just be making it a bit easier to share on sites such as Google+.</p>
<p>I&#39;m not sure. What do you think?</p>
<h3>Would be no problem if they did this</h3>
<p>This wouldn&#39;t the first time I&#39;ve let people share my posts with another service; until the latest site redesign I had a beautifully simple, static <em>Bookmark on del.icio.us</em> link that worked like this:</p>
<pre>
&lt;a href=&quot;http://del.icio.us/post?url=[PERMALINK]&amp;title=[TITLE]&quot;&gt;Bookmark This on Del.icio.us&lt;/a&gt;
</pre>
<p>Then there were the ways you could allow people to subscribe to your blog in various blog platforms, such as Google Reader:</p>
<pre>
&lt;a href=&quot;http://www.google.com/ig/add?feedurl=//rubenerd.com/feed/&quot;&gt;Google Reader&lt;/a&gt;
</pre>
<p>Many of my concerns would be alleviated if Google had a similar, GET request mechanism for +1 instead of relying on JavaScript. This would be cool:</p>
<pre>
&lt;a href=&quot;http://plus.google.com/share?url=[PERMALINK]&amp;title=[TITLE]&quot;&gt;+1&lt;/a&gt;
</pre>
<p>I suppose they&#39;re doing some verification in that JavaScript to prevent click fraud, and to tie a vote to a particular Google account; but then again the del.icio.us link essentially achieved the same thing while being static, provided you were logged into your del.icio.us account.</p>
<p>Oh well, I suppose I&#39;d need JavaScript after all if I wanted to implement this.</p>
 
