---
title: 'Downloading before Google Buzzes off!' 
date: "2011-11-07T11:47:37+10:00"
year: "2011"
category: Internet
tag:
- abandonware
- google
- google-buzz
- infocomm
- postaday2011 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/screenie.googlebuzz.notify.png" alt="" style="height:107px; width:500px;" /></p>
<p>Checking my junk mail account on Sunday, I was reminded of Google Buzz&#39;s impending demise. Enclosed for your consideration is a typically Rubenerd-esque longwinded story, complete with some more technical notes.</p>
<p><!--oldmore--></p>
<h3>Google Buzz got Pownce’d</h3>
<p>Clicking the link in my Gmail profile thing, I was directed to <a href="http://google.com/takeout/">Google Takeout</a>, a service that sounds like I&#39;m taking a quantum physics hard drive out for dinner, but in fact is a service launched by the <a href="http://www.dataliberation.org/">Data Liberation Front</a>.</p>
<p>This is similar to what <a title="Tuesday 02nd December 2008: Pownce export feature now available" href="//rubenerd.com/p3533/">Pownce did in 2008</a> when they realised adding a few token features to a cloned version of Twitter wasn&#39;t panning out, and they <a title="Tuesday 02nd December 2008: Goodbye Pownce, I Hardly Used Thee" href="//rubenerd.com/p3524/">decided to shut down</a>. The difference here is that Google&#39;s Takeout worked, I tried exporting my Pownce profiles dozens of times before <a title="Wednesday 10th December 2008: Pownce exported me a 404 error screen" href="//rubenerd.com/p3594/">giving up</a>. Oh well, everything I had there was just a reposted from Twitter anyway.</p>
<p>Choosing &quot;Buzz&quot; from their worryingly large list of options gave me a link to download my 25MB Buzz archive with 5,654 files.</p>
<p><img src="https://rubenerd.com/files/uploads/screenie.googlebuzz.takeout.png" alt="" style="height:181px; width:422px;" /></p>
<h3>Cheerio old chap</h3>
<p>I&#39;ve poked gentle fun at Google a lot lately for their litany of discarded and failed social networks, but I&#39;ll miss Google Buzz. Not for it&#39;s initially terrible privacy concerns or because I used it directly, but for what it did diligently in the background archiving my content from around the web.</p>
<p>Perhaps you used it in the same way, but I had Google Buzz configured to repost all my <a href="http://www.google.com/reader/shared/09454950261221562208">Google Reader shared items</a>, <a href="http://friendfeed.com/rubenerd">Friendfeed posts</a> (remember that site?) and <a href="http://mobile.twitter.com/rubenerd/">tweets</a>, amongst other things. When accessing Gmail using POP (cue the IMAPers!), I realised these items were suddenly being flown to me, emailed if you will. By bees.</p>
<p>I set up a quick filter in my local honeycomb store that is Thunderbird, and suddenly I had a nice archive right here on my local machine of all my content from around the web. Pretty sweet stuff I must say.</p>
<p>This background nectar gathering service was probably not what Google had in mind when they launched it, but it was nevertheless useful, not to mention rather tasty. Oh well, back to subscribing to RSS feeds directly.</p>
<p><img src="https://rubenerd.com/files/uploads/screenie.buzz.inbox.png" alt="" style="height:300px; width:500px;" /></p>
<h3>Technical Notes</h3>
<ul>
<li>
<p>The ZIP archive downloaded from Google Takeout consists of all your Google Buzz posts as individual HTML files.</p>
</li>
<li>
<p>Don’t worry about the estimated file size, it’s completely wrong. The initial estimate was 25MB, but was actually only 11.1MiB. I downloaded it three times just to make sure.</p>
</li>
<li>
<p>If you use <a href="https://addons.mozilla.org/en-US/firefox/addon/cookie-monster/">CookieMonster</a> or an equivalent cookie whitelist because you’re a secure, private munchkin, don’t forget to temporarily enable <code>googleapis.com</code> as well as <code>google.com</code> or you’ll be stuck in an infinite redirect loop.</p>
</li>
<li>
<p>I like honey. Bzzz.</p>
</li>
</ul>
<p><img src="https://rubenerd.com/files/uploads/logo.buzz.png" alt="Google Buzz" style="height:168px; width:500px;" class="transparent" /></p>
 
