---
title: 'Google+, Google Plus, that thing' 
date: "2011-07-05T06:27:30+10:00"
year: "2011"
category: Internet
tag:
- facebook
- google
- google-plus
- infocomm
- postaday2011
- social-networks 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/screenie.me.googleplus.500px.png" alt="My Google Plus profile" style="height:302px; width:500px;" /></p>
<p>In the words of one of my friends on the service, I finally <em>&quot;caved&quot;</em> and registered for Google+. If you’re on it, feel free to add me, do a search for <em>Ruben Schade, esq</em> ^_^.</p>
<h3>The [potentially] good stuff!</h3>
<p>Having used it for a day now, its pretty clear Google has made no secret of its intentions for Google+. I’ve read people making broad, sweeping claims that the service serves a niche between Twitter and Facebook, but it’s clearly targeted at the latter. And that’s a <em>Good Thing™</em>.</p>
<p>The layout is the same as Facebook, the threaded conversations Facebook presumably brought in from their <a title="Tuesday 11th August 2009: Facebook buying Friendfeed, off to Tumblr" href="//rubenerd.com/facebook-friendfeed/">acquisition of FriendFeed</a> are the same, the tabs and even the optional photos along the top are the same. Instead of Facebook’s trademark light blue and grey, Google+ is grey and… grey. It’s streamlined and minimalistic, in much the same way Facebook was when people were leaving the awful mess of MySpace. Remember MySpace?! <strong>CANNOT UNSEE</strong>.</p>
<p>Along with the familiar interface to entice Facebookers away, the Google team have also gone out of their way to counter Facebooks insidious, intentionally obfuscated privacy settings that have continued to make headlines. People who think these <em>Circles</em> will always ensure their information is safe from leaking to the wrong people are deluded of course, but the interface for adding people to various circles and the explanations of everything in Plain English are a refreshing change.</p>
<p><img src="https://rubenerd.com/files/uploads/logo.facebook.sad.smaller.png" alt="" style="height:120px; width:420px; display:inline;" /></p>
<p>More importantly, even if Google+ fails (all but the most dyed in the wool fans readily admit history isn’t on Google’s side), I hope this demonstration of how privacy settings should be presented provide the impetus for others to implement similar systems, to take privacy more seriously, and that users themselves will stop being so apathetic and start demanding it. A long shot I realise, but who knows?</p>
<p>As I said, I’ve been using it for a day now and love what they’ve done with the UI. As a Google Reader user, my Buzz stream is presented as a separate tab, though I wonder how long that’ll be the case before its folded into our Google+ profile directly. It certainly seems redundant having two &quot;life streams&quot;, but then again Google seems unusually tolerant of such service duplication. Will Google Reader continue to exist in its current form, or will Sharing on the service be replaced with +1?</p>
<p>I’m really exited to see how this all pans out!</p>
<p><img src="https://rubenerd.com/files/uploads/flickr.1310558293_abfdc92256.500px.jpg" alt="Photo of mine of the Pet Shop Boys in Singapore, 2007" /></p>
<h3>The [potentially] bad stuff</h3>
<blockquote cite="//rubenerd.com/facebook-goldman-sachs-pet-shop-boys-song/"><p>
If you’ve done nothing wrong, You’ve got nothing to fear;<br />
If you’ve something to hide, You shouldn’t even be here;<br />
You’ve had your chance, Now we’ve got the mandate;<br />
If you’ve changed your mind, I’m afraid it’s too late;<br />
We’re concerned, You’re a threat;<br />
You’re not integral, To the project.<br />
~ <cite><a style="text-decoration:line-through" href="http://www.schneier.com/blog/archives/2009/12/my_reaction_to.html">Eric Schmidt</a></cite><br />
~ <cite><a href="//rubenerd.com/facebook-goldman-sachs-pet-shop-boys-song/">Pet Shop Boys, Integral</a></cite>
</p></blockquote>
<p>The bad news is, Google+ is run by Google, a company who’s overwhelmingly primary source of revenue is selling our habits to behavioural advertisers, not paying tax on it, and that is regularly <a title="Sunday 09th January 2011: Subpoenas make The Cloud more of The Scary" href="//rubenerd.com/subpoenas-cloud-computing/">compelled</a> to disclose information to American intelligence agencies.</p>
<p>While I acknowledge they’re vastly more ethical and transparent than Facebook, we still must maintain vigilance and follow common sense rules about cloud computing. Don’t use the service for anything private. Withhold certain personal details, and mix in a little BS! Use a profile picture of yourself from your snowy trip to the Czech Republic where your face is obscured enough to render facial recognition algorithms useless!</p>
<p>As I say now, <a  href="//rubenerd.com/use-cloud-as-too/">don’t be used as a cloud tool, use it as a tool</a>!</p>
<p><img src="https://rubenerd.com/files/uploads/logo.google.peace.png" alt="" style="height:162px; width:289px" class="transparent" /></p>
<h3>ECMA-GoogleScript</h3>
<p>The <a title="Sunday 03rd July 2011: Do you need another social network?" href="//rubenerd.com/google-plus/">reason why</a> I abstained from Google+ initially is that Google’s launching and failing of social network after social network has become a running joke, and that I was less than enthusiastic about starting over for a fifth time. Many of the arguments being used to justify its existence and why it’s <em>&quot;different from all their previous services&quot;</em> are what people said… about their previous services. Make no mistake, so far the script has been exactly the same.</p>
<p>Facebook needs some serious comeuppance, and Google is one of the few companies with enough clout, name recognition and cool to take them on. Provided they commit to transparency, Google does have the potential to take the high road against Facebook and be a <a href="//rubenerd.com/how-to-make-google-good-again/" title="Saturday 30th April 2011: How to make Google good again">force for good again</a>.</p>
 
