---
title: 'Health benefits of writing, blogging and whatnot' 
date: "2011-11-03T02:01:37+10:00"
year: "2011"
category: Internet
tag:
- infocomm
- postaday2011
- weblog
- writing 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/anime.hitagi.stationary.jpg" alt="" style="height:310px; width:500px;" /></p>
<p>I avoid Gawker sites like the plague, but Lifehacker Australia (yay!) had a great article about the act of writing in its <a href="http://www.lifehacker.com.au/2011/11/how-to-harness-the-mental-and-emotional-benefits-of-regular-writing/">How To Harness The Mental And Emotional Benefits Of Regular Writing</a>.</p>
<blockquote><p>Writing regularly also has meditative benefits. The clarity of mind that comes with getting into &quot;the zone&quot; when writing is a wonderful thing, and you only get there by plugging away. The only way to be a better writer is to write as often as possible.</p></blockquote>
<h3>It helped me! *twitch*</h3>
<p>I can speak from experience here, I started podcasting and blogging around 2004. Generally though, I had pragmatic reasons for doing so rather than the whole idea that it would provide alleged mental and emotional benefits.</p>
<ul>
<li>I’d always found that if I explained concepts, news stories or ideas with people, I tended to understand things better myself, or see things in a new light. It cannot be understated just how valuable this has been.<p></p></li>
<li>Writing is also a great escape, its something entirely different from what I usually do during the day, and it uses a different part of my brain. I can be mentally exhausted in one area, but still be able to write.<p></p></li>
<li>The thrill of having lovely people comment on your entries, and having your posts picked up by other sites ^_^<p></p></li>
<li>Writing procedures helps me to remember how I do/did things. I used to do this on my dry, technical blog, but started adapting these guide posts with pointless anime screenshots and references to Bird is The Word and putting them here. I figure there are enough boring technical blogs out there, and I thought I’d <a title="Wednesday 07th January 2009: Voltaire on superfluous blogging and hair styles" href="//rubenerd.com/p3627/">try something different</a>, even if sometimes I have to put up with nit picky trolls who don’t get my sarcasm or sense of humour!<p></p></li>
<li>So-called blogging experts claimed in 2005 that you needed to focus on only one topic, be professional and have a clear direction to successfully blog. I wanted to prove them wrong!<p></p></li>
</ul>
<p>The main reason I started writing here though was for nostalgia, that thing I&#39;ve always had an pointless affinity for. From my <a href="//rubenerd.com/the-first-post/">first post in 2004</a>:</p>
<blockquote><p>I don’t know, but the idea of keeping a record of my life, however dull it is, might be fun to look at in years gone by!</p></blockquote>
<h3>Are you blogging?</h3>
<p>Anyway, I think everyone should blog. Those who claim they can&#39;t write or don&#39;t have anything interesting to say are masters of copping out, little more ;). Rubenerd.com is proof you don&#39;t need talent or interesting ideas to have a blog, and I&#39;ve written thousands of entries!</p>
<p>As with all sweeping medical claims, I&#39;m somewhat skeptical  that blogging directly leads to greater emotional and mental well being, though the LifeHacker article does link to several allegedly professional articles discussing the therapeutic benefits of regular writing and blogging. At the very least, if you don&#39;t blog you owe it to yourself to give it a try :).</p>
<p><cite>Image of our beloved Senjougahara Hitagi surrounded by stationary (which may or may not have been used for writing) submitted by <a href="http://www.pixiv.net/member_illust.php?mode=medium&amp;illust_id=7616101">あきつ on Pixiv</a>.</cite></p>
 
