---
title: 'Hello darkness my old friend…' 
date: "2011-08-23T12:01:11+10:00"
year: "2011"
category: Thoughts 
tag: 
- australia
- earlwood
- nsw
- personal
- postaday2011
- power-outages
- problems
- sydney 
location: sydney
---

<p><img src="https://rubenerd.com/files/2011/power-out-in-earlwood_6069145202_o@1x.jpg" alt="Power out in Earlwood" srcset="https://rubenerd.com/files/2011/power-out-in-earlwood_6069145202_o@1x.jpg 1x, https://rubenerd.com/files/2011/power-out-in-earlwood_6069145202_o@2x.jpg 2x" style="width:500px; height:373px;" /></p>
<p>Power outages do crazy things to people.</p>
<p><!--oldmore--></p>
<h3>Electrical #fail</h3>
<p>So there I was in our local coffee shop in Earlwood late this afternoon typing away on a laptop device. It helps typing on a laptop, typing on a table with no electronic interpretation going on only garners you curious stares and a trip to a squishy place in a strait-jacket. But I digress.</p>
<p>Getting an SMS from my sister (or &quot;text&quot; as Australians seem to call them), I was informed our abode was suddenly far less habitable owing to a lack of electrical power. Looking around the shop and down the road I saw plenty of other places of residence and business had ample power with their glowing lights and whatnot, so I chalked the problem up to a fuse. That&#39;s what TrueCrypt uses.</p>
<p>As I paid the bill and proceeded home under a rapidly approaching night sky, it suddenly struck me just how dark it really was. Having walked a block from the coffee shop, the street lamps that should have been lighting up the top of my head and the footpath in front of me were mysteriously dark. The houses along the street were no brighter. In fact, the only source of light other than the occasional motorised vehicle headlight and our natural orbiting satellite was a traffic light which bathed the whole area in a green glow. It was eerier than this:</p>
<p><img src="https://rubenerd.com/files/uploads/anime.poormikuru.jpg" alt="Poor Mikuru!" style="height:300px; width:500px; display:inline; border:0em" /></p>
<h3>Ruben != funny</h3>
<p>When I finally arrived home, I was greeted by absolute darkness. Those strands of battery powered IKEA LEDs were surprisingly adept at lighting entire rooms, but I was more concerned that our broadband modem/router, refrigerator and water heater couldn&#39;t be run off them… in order of importance of course.</p>
<p>Deciding we&#39;d rather not spend our time sitting in absolute darkness, my sister and I packed up provisions which consisted of overcoats, scarves, laptops, laptop power supplies, laptop power supply extension cables and CityRail tickets. It didn&#39;t occur to us that the electric trains may not have been running either, though we were assured by a friendly chap on The Twitters that they operate on separate grids. A relief, no doubt.</p>
<p>Having sat here in UTS for a while now using their surprisingly zippy internet connection and charging our phones, it&#39;s probably time for us now to head off into the night to take the train home, and to see whether our street has had power restored. If it hasn&#39;t, the students in my early class tomorrow morning will be resting their eyes on a cranky, handsome individual. I&#39;ll also be there, and I won&#39;t be too pleased either.</p>
<p>The last documented power failure to affect the proprietor of Rubenerd.com was in <a title="Tuesday 24th June 2008: Power failures are." href="//rubenerd.com/p1192/">Singapore in 2008</a>.</p>
 
