---
title: 'Homebrew git checkout error' 
date: "2011-05-10T09:43:13+10:00"
year: "2011"
category: Software
tag:
- errors
- git
- guide
- homebrew
- infocomm
- mac-os-x
- postaday2011
- troubleshooting 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/icon.gnome3.terminal.128x93.png" alt="Icon from the Gnome desktop project" style="height:93px; width:128px;" class="transparent" /><br />Homebrew giving you grief when attemting to perform a <code>brew update</code>?</p>

<pre>
Error: Failure while executing: git checkout -q master
</pre>

<p>You&#39;re <a href="https://github.com/mxcl/homebrew/issues/5128">not alone</a>. Fortunately <a href="https://github.com/mxcl/homebrew/issues/5128#issuecomment-1070962">jacknagel&#39;s</a> solution fixes the problem.</p>

<pre>
cd `brew &#8211;prefix`
git remote add origin
https://github.com/mxcl/homebrew.git
git fetch origin<br />
git reset --hard origin/master
</pre>

<p>Allegedly there have been changes with git <a href="https://github.com/mxcl/homebrew/issues/5128#issuecomment-1071050">after 1.7.4.4</a>. Presumably the Homebrew folks will update their default installer, but this works in the meantime.</p>
 
