---
title: 'How to start blogging, for @JerryNovak' 
date: "2011-11-13T02:31:44+10:00"
year: "2011"
category: Internet
tag:
- infocomm
- jerry-novak
- postaday2011
- weblog 
location: sydney
---

<p><img src="https://rubenerd.com/files/2011/my-new-unicomp-keyboard_3703984972_o@1x.jpg" alt="My new Unicomp keyboard!" srcset="https://rubenerd.com/files/2011/my-new-unicomp-keyboard_3703984972_o@1x.jpg 1x, https://rubenerd.com/files/2011/my-new-unicomp-keyboard_3703984972_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>
<p>Jerry Novak, Rubenerd.com&#39;s most generous patron and all around awesome guy, has asked me to write about how to start blogging. I wanted to dedicate an evening to properly address his question :)</p>
<p><!--oldmore--></p>
<h3>First, some de-programming!</h3>
<p>So-called &quot;blogging experts&quot; may differ on the details, but they tend to issue broadly similar recommendations. I chose this post as a contemporary example: <a href="http://www.cosmokalam.com/7-tips-for-successful-blogging/2/">7 Tips for Successful Blogging</a>. Let&#39;s take a gander.</p>
<ol>
<li>Provide quality content. Don’t stray off topic.</li>
<li>Blog regularly</li>
<li>Mention your blog wherever you can</li>
<li>Participate in the blogosphere</li>
<li>Think keywords when you post (metadata)</li>
<li>Submit your blog to blog directories</li>
<li>Use free and inexpensive blog traffic exchange communities</li>
</ol>
<p>I&#39;m usually not so blunt here, and I mean no disrespect to the author of that post, or so many other posts which largely echo this writer&#39;s sentiments, but all of these points are bunk. Utterly meaningless. Devoid of any point whatsoever.</p>
<p>You know what a blog is? Forgive the tired clich&eacute;, but a blog is something <strong>you</strong> want it to be. Blog however much you want, on whatever topics you want. Blog about baking and mecha anime in the same place, or just about the best places to drive to avoid tolls, anything! People don&#39;t care whether you&#39;ve followed the rules of blogging, they care about whether you&#39;re passionate about what you&#39;re writing about.</p>
<p>I think guidelines like these do the blogging community a tremendous disservice. I&#39;m sure plenty of talented, fascinating people no doubt see lists like these, decide blogging is too formal or difficult, and give up. You know who those talented, fascinating people are? YOU. Everyone is, regardless of how you see yourself, and if you don&#39;t think you are you&#39;re deluded. Enough said :).</p>
<p><img src="https://rubenerd.com/files/uploads/iwantyoublogging.jpg" alt="" style="height:419px; width:320px;" class="transparent" /></p>
<h3>So where to go from here?</h3>
<p>Once you&#39;ve decided what you&#39;re going to blog about (or even if you haven&#39;t, sometimes they evolve!) the next step is to decide your platform. Compared to when I started out there are tons of choices out there now, each with their own pros and cons. </p>
<p>To start off with, a hosted solution is probably your best bet. WordPress.com gives you a free account and can be upgraded with unique domains and custom themes for very low prices once you decide to take that next step. I&#39;ve tried Squarespace (from a Cranky Geeks promotion!), Posterous and TypePad which each offer their own unique set of features, but WordPress is the most widely supported and powers some <a href="http://gigaom.com/">pretty large blog networks</a>. It&#39;s relatively simple, has a great iOS app, and Mullenwag is infinitely cooler than Zuckerburg.</p>
<p>If you&#39;re comfortable with messing around with databases, file permissions and the like, you can also choose to self host. I prefer having more granular control and host my own version of WordPress, though I&#39;ve decided to move to something else when time permits. I&#39;m giving some serious consideration to TextPattern, primarily because its simpler and faster, and the people on their support forums are incredibly nice and helpful. Habari also looks like a fascinating choice if you&#39;re willing to try something completely new. With the right framework (or bare to the metal!) you could also write your own.</p>
<p>The important thing to keep in mind though is to not get too hung up about what blogging software you choose to use. Thesedays all the major engines allow you to import and export your material, so you can always change your mind. The glaring exception to this rule is Tumblr, though few use that site as a real blogging tool anymore.</p>

<p><img src="https://rubenerd.com/files/2011/morning-coffee-free-wifi-twitter_1338362647_o@1x.jpg" alt="Morning coffee, free wifi, Twitter" srcset="https://rubenerd.com/files/2011/morning-coffee-free-wifi-twitter_1338362647_o@1x.jpg 1x, https://rubenerd.com/files/2011/morning-coffee-free-wifi-twitter_1338362647_o@2x.jpg 2x" style="width:500px; height:375px;" /></p>
<h3>How do you write posts?</h3>
<p>For me, I write posts as a form of downtime that has nothing to do with code, university or work. While others play games, I like to curl up on a couch or hang out at a cafe with a cup of coffee or tea or hot chocolate and just write. When I&#39;m busy, my daily train commute also provides ample opportunities for typing away. </p>
<p>The point is, write wherever and whenever you feel comfortable. When I used to work for Discovery Channel, we learned that you can tell from hearing a person&#39;s voice whether they&#39;re smiling or not, and that emotion comes through in text more easily than you&#39;d expect. If you force yourself to write when you&#39;re not in the mood, it won&#39;t turn out well. Just do it naturally, and if you don&#39;t have time for a while, that&#39;s perfectly okay!</p>
<h3>It’s a great thing to do</h3>
<p>Between social networks and news aggregation sites, it seems fewer people can justify blogging thesedays. It&#39;s a shame, because while posting to these other types of sites may perhaps be easier, a blog is <strong>yours</strong> and <strong>always will be</strong>. Well, provided you do backups :).</p>
<p>Try it out. Don&#39;t be discouraged if you don&#39;t take to it right away, or if you don&#39;t post to it as often as you think you should, or if it takes you a while to find your voice. Because eventually that blog will blossom into something truly unique and special and personal and wonderful, and years from now you&#39;ll be really, really glad you did it. ^_^</p>
 
