---
title: 'IKEA VÄTE lamps need slender bulbs!' 
date: "2011-08-07T01:21:41+10:00"
year: "2011"
category: Thoughts 
tag: 
- design
- ikea
- k-on
- keion
- kotobuki-tsumugi
- my-hime
- postaday2011
- shopping
- tokiha-mai 
location: sydney
---

<p><img src="https://rubenerd.com/files/2011/mai-mugi-inspecting-my-new-ikea-lamp_6013952147_o@1x.jpg" alt="Mai, Mugi inspecting my IKEA lamp" srcset="https://rubenerd.com/files/2011/mai-mugi-inspecting-my-new-ikea-lamp_6013952147_o@1x.jpg 1x, https://rubenerd.com/files/2011/mai-mugi-inspecting-my-new-ikea-lamp_6013952147_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>
<p>In brief, if you buy an IKEA V&#196;TE lamp, make sure you buy a <strong>narrow</strong> bulb to fit it!</p>
<p><!--oldmore--></p>
<p style="font-style:italic;">(The above photo is of Kotobuki Tsumugi (aka my beloved Mugi-chan!) from K-On, and Tokiha Mai from My HiME. An odd pairing to say the least, but they’re the only two I have of the smaller scale. I was trying to create the feeling of a warm bonfire, with obviously mixed results!)</p>
<h3>The entire rest of this post is pointless</h3>
<p>So this afternoon I was with the family to procure some drawers for my sister. She has a lot of junk, and has been using her lack of storage space as her excuse for not having a tidy abode. While I&#39;d be remiss not taking the opportunity to point out that previous rooms she had messed up were awash with drawers and cupboards, in this case I was willing to give her the benefit of the doubt. Besides, it gave me an excuse to visit my favourite shop in the universe, so I wasn&#39;t complaining!</p>
<p>Upon arrival in the lamps department &#8212; my favourite department in my favourite shop in the universe &#8212; I noticed the VATE lamps were on special for under $20. Delighted at the thought of revelling in some childhood nostalgia (our old houses in Melbourne and Brisbane before we moved to Singapore were full of these delicate paper and wire lights), I procured said lamp.</p>
<p>In a bold black square (how&#39;s that for some brilliant alliteration brilliance?) the box specified the bulb required for the enclosed lamp was an E14. Paroozing the department for a compatible luminary device, I chanced upon a energy saving bulb with E14 printed in friendly letters on its cover.</p>
<p><img src="https://rubenerd.com/files/uploads/photo.mine.20110806.vate.bulb.jpg" alt="" style="height:333px; width:500px;" /></p>
<h3>Hard to have a bright idea when it doesn’t fit</h3>
<p>Unfortunately, as you can see from the photo below (no wait, above), after arriving home and gleefully assembling my toy, I realised the otherwise compatible bulb I&#39;d purchased to provide the light was simply too wide to fit between the wire stand and the lamp base. And not by an inconsequential amount either, the bulb was at least three times that size.</p>
<p>So far I&#39;ve worked in a Hitchhikers reference and a Zoolander reference. <em>IN THE COMPUTER</em>, you could say.</p>
<p>Fortunately, we were able to locate (<em>read: I stole one from another lamp in the house</em>) another bulb which was narrow enough to fit, and now I have the handsome and fully operational lamp you see in the image above. Well, in the first image above, not in the image immediently above.</p>
 
