---
title: 'The IKEA Effect, and Manland' 
date: "2011-09-25T12:58:23+10:00"
year: "2011"
category: Hardware 
tag:
- australia
- design
- furniture
- flickr-photos
- ikea
- infocomm
- postaday2011
- shopping
- sydney 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/photo.mine.ikeaumbrella.jpg" alt="View of the IKEA showroom floor" astyle="height:250px; width:500px;" /></p>
<p>Two unrelated IKEA stories so far this weekend, and as someone obsessed with IKEA I felt I had little choice but to comment.</p>
<h3>Building things</h3>
<p>Found via Slashdot, <a href="http://neoacademic.com/2011/09/22/unfolding-the-ikea-effect-why-we-love-the-things-we-build/">this article on NeoAcademic</a> was a fascinating look into the so called IKEA Effect where you tend to love things you build yourself.</p>
<blockquote><p>The IKEA Effect refers to the tendency for people to value things they have created/built themselves more than if made by someone else – in fact, nearly as much as if an expert had created the same item.</p></blockquote>
<p>I can absolutely relate. I love assembling IKEA furniture for the thrill of having an excuse to use <em>&quot;grown ups Lego&quot;</em>, right down to the similar instructions and Allen key infused building blocks, but I also derive a tremendous amount of satisfaction from having furniture in my home I&#39;ve built myself.</p>
<p>I think the argument can also be extended to include computers. Despite using Apple Macs for a significant portion of my day, I still build and maintain my own computers I build myself. While I appreciate all the care and love that has painstakingly been applied to all my Apple hardware, there&#39;s also something &#8212; dare I say, magical &#8212; about putting together a computer yourself from parts and having it power up. On an IKEA table I built, no less!</p>
<p><img src="https://rubenerd.com/files/2011/2257760892_55cfc52112_o@1x.jpg" srcset="https://rubenerd.com/files/2011/2257760892_55cfc52112_o@1x.jpg 1x, https://rubenerd.com/files/2011/2257760892_55cfc52112_o@2x.jpg 2x" alt="That's a big hot dog." style="width:500px" /></p>
<h3>Manland</h3>
<p>Of far more interest on the Interwebs lately has been the introduction of the Manland amusement area for men at IKEA here in The Sydney. From <a href="http://ekstrabladet.dk/kup/elektronik/gadgets/article1624636.ece">Ekstra Bladet</a>:</p>
<blockquote><p>Der er ikke meget, der kan flå energien ud af en mand, som en shoppetur med den bedre halvdel. Til gengæld er der heller ikke noget, der kan stoppe piveriet og genoplade batterierne som lidt sport på tv og konsolspil.</p>
<p>Det har de erkendt hos Ikea i Sydney, hvor de har oprettet et pasningsområde, eller fristed om man vil, hvor mænd kan slappe af med lidt elektronisk underholdning, mens kvinderne går på jagt efter nyt køkkengrej (som de alligevel ikke mangler).</p>
<p>&#8216;Manland’ er indrettet som en dagligstue med Ikea-møbler, selvfølgelig, hvorefter det hele er blevet piftet op med fladskærme fyldt med sport, bordfodbold, pinball-maskiner, Xbox 360 og … gratis hotdogs. </p></blockquote>
<p>This would have been funnier had it been in Swedish not Danish.</p>
<p>Still, while I object to the stereotypical treatment of men as a bunch of shop-hating, sports watching, Xbox 360 players, my primary concern stems from the fact that IKEA is such an engaging and fascinating place to wander around in and of itself, and that such efforts are completely unnecessary. I suppose they&#39;ve done their market research that shows real men don&#39;t like shopping at IKEA, or thought they could get some free publicity from doing this. Touch&eacute;.</p>
<p>In either case, another blow to my already tenuous masculinity.</p>
 
