---
title: 'The awesomeness that is @JerryNovak' 
date: "2011-05-30T01:09:36+10:00"
year: "2011"
category: Thoughts 
tag: 
- buy-a-coffee
- jerry-novak
- postaday2011
- twitter
- weblog 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/South_Park_Jerry_reasonably_small.jpg" alt="" style="height:128px; width:128px;" /></p>
<p>I&#39;m thinking of starting a <strong>Patrons of Rubenerd</strong> page, and putting Jerry on the top!</p>
<p><!--oldmore--></p>
<p>Over the last week or so I haven&#39;t been blogging as much as usual owing (hey, that&#39;s a pun) to assignments and upcoming exams. Sure I&#39;ve maintained my Post A Day 2011 challenge with a series of shorter entries, but hardly anything that warrents a second glance!</p>
<p style="font-weight:bold;">This dip in quality however didn’t stop <a href="http://twitter.com/jerrynovak">Jerry Novak</a> from using the second donate button on my Buy a Coffee page and donating the highest sum I’ve ever received!</p>
<p>Jerry and I met through a mutual friend Frank Edward Nora from <a href="http://www.theovernightscape.com/">The Overnightscape</a> podcast and now <a href="http://onsug.com/">The Frank Nora Show</a>. Back when I used to record the Rubenerd Show podcast he was one of my biggest supporters and most loyal listeners. For a couple of days before my family left Singapore he even made a stop over on a world trip to say hello!</p>
<p>Anyway, I just wanted to thank Jerry personally for his hugely generous donation, but even more for his friendship over the years. We&#39;ve helped each other through some tough times and its always comforting to know you&#39;re out there on The Twitters. Thank you so very very much :)</p>
 
