---
title: 'Links for 2011-05-25' 
date: "2011-05-25T10:00:46+10:00"
year: "2011"
category: Internet
tag:
- delicious
- links 
location: sydney
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://www.sophos.com/en-us/security-news-trends/security-trends/switch-from-symantec.aspx">Sophos Security Topics | Switch to Sophos</a></dt>
<dd class="delicious-extended">Worth it just for their heading: &quot;Why Are You Upgrading to Symantec 11?&quot; ;)</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/sophos">sophos</a> <a href="http://www.delicious.com/rubenerd/antivirus">antivirus</a> <a href="http://www.delicious.com/rubenerd/security">security</a> <a href="http://www.delicious.com/rubenerd/mac">mac</a> <a href="http://www.delicious.com/rubenerd/software">software</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.blogsolute.com/reasons-behind-blogging/17091/">Why do you blog? | Reasons behind Blogging and why many Fail</a></dt>
<dd class="delicious-extended">I do it for fun, which makes me a &quot;rare breed&quot; apparently! I also do it for keeping track of things</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/blogs">blogs</a> <a href="http://www.delicious.com/rubenerd/blogging">blogging</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.macsparky.com/blog/2011/1/18/dancing-with-opml.html">MacSparky &#8211; Blog &#8211; Dancing with OPML</a></dt>
<dd class="delicious-extended">Interesting post on a complete OPML workflow, desktop and mobile. Really need to start doing this</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/howto">howto</a> <a href="http://www.delicious.com/rubenerd/mac">mac</a> <a href="http://www.delicious.com/rubenerd/opml">opml</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.metrolyrics.com/while-my-guitar-gently-weeps-lyrics-beatles.html">Metro Lyrics: While My Guitar Gently Weeps</a></dt>
<dd class="delicious-extended">George Harrison was my favourite Beatle :)</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/beatles">beatles</a> <a href="http://www.delicious.com/rubenerd/music">music</a> <a href="http://www.delicious.com/rubenerd/georgeharrison">georgeharrison</a> <a href="http://www.delicious.com/rubenerd/lyrics">lyrics</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.candlesbyconnie.com/images/BlueberryMuffin.jpg">BlueberryMuffin.jpg (JPEG Image, 291×291 pixels)</a></dt>
<dd class="delicious-extended">That is one tasty looking stack of blueberry muffins!</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/images">images</a> <a href="http://www.delicious.com/rubenerd/food">food</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.snoron.com/view-sydney_opera_house_at_night-wide.html">Sydney Opera House at Night Wallpaper and Photo (High Resolution Download)</a></dt>
<dd class="delicious-extended">One of these days when I find my proper tripod in one of the millions of packing boxes, I&#039;m going to attempt shots like this :)</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/sydney">sydney</a> <a href="http://www.delicious.com/rubenerd/desktops">desktops</a> <a href="http://www.delicious.com/rubenerd/backgrounds">backgrounds</a> <a href="http://www.delicious.com/rubenerd/australia">australia</a> <a href="http://www.delicious.com/rubenerd/sydneyoperahouse">sydneyoperahouse</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.famitsu.com/game/coming/1228084_1407.html">いつもの『Fate』とはちょっと違う『Fate／EXTRA（フェイト／エクストラ）』 &#8211; ファミ通.com</a></dt>
<dd class="delicious-extended">I&#039;m an unabashed fan of Type/Moon&#039;s art, but a translucent dress? Oh dear.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/typemoon">typemoon</a> <a href="http://www.delicious.com/rubenerd/fate">fate</a> <a href="http://www.delicious.com/rubenerd/fateextra">fateextra</a> <a href="http://www.delicious.com/rubenerd/art">art</a> <a href="http://www.delicious.com/rubenerd/anime">anime</a> <a href="http://www.delicious.com/rubenerd/games">games</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://mashable.com/2011/05/03/google-reputation/?utm_source=twitterfeed&amp;utm_medium=twitter&amp;utm_campaign=Feed%3A+Mashable+%28Mashable%29">Google Named Most Reputable Company in U.S.</a></dt>
<dd class="delicious-extended">Most reputable to their customers, but not taxpayers.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/google">google</a> <a href="http://www.delicious.com/rubenerd/reputation">reputation</a> <a href="http://www.delicious.com/rubenerd/internet">internet</a> <a href="http://www.delicious.com/rubenerd/business">business</a> <a href="http://www.delicious.com/rubenerd/taxhavens">taxhavens</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://theonlinecitizen.com/2011/05/breaking-news-flash-floods-hit-singapore/?utm_source=twitterfeed&amp;utm_medium=twitter&amp;utm_campaign=Feed%3A+theonlinecitizen+%28theonlinecitizen%29">Breaking News: Flash floods hit Singapore | The Online Citizen</a></dt>
<dd class="delicious-extended">Again?! How much money was spent on those brand new massive water pump systems from The Netherlands?</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/singapore">singapore</a> <a href="http://www.delicious.com/rubenerd/floods">floods</a> <a href="http://www.delicious.com/rubenerd/news">news</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.freakonomics.com/2011/05/03/ten-reasons-why-i-would-never-donate-to-a-major-charity-how-to-be-a-superhero-part-2/">Freakonomics » Ten Reasons Why I Would Never Donate to a Major Charity (How to Be a Superhero, Part 2)</a></dt>
<dd class="delicious-extended">Leaving aside the fact most charities spend more on themselves than people in need, or that religious ones have more strings attached than Mr Squiggle.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/charity">charity</a> <a href="http://www.delicious.com/rubenerd/freakonomics">freakonomics</a> <a href="http://www.delicious.com/rubenerd/blogs">blogs</a>)<p></p></dd>
<dt class="delicious-link"><a href="https://wiki.smu.edu.sg/digitalmediaasia/Main_Page">Main Page &#8211; Digital Media Asia</a></dt>
<dd class="delicious-extended">Singapore Management university project about digital media in Asia-Pacific. The grammar is a bit off at times, but useful.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/singapore">singapore</a> <a href="http://www.delicious.com/rubenerd/malaysia">malaysia</a> <a href="http://www.delicious.com/rubenerd/australia">australia</a> <a href="http://www.delicious.com/rubenerd/asiapacific">asiapacific</a> <a href="http://www.delicious.com/rubenerd/wiki">wiki</a> <a href="http://www.delicious.com/rubenerd/web">web</a> <a href="http://www.delicious.com/rubenerd/media">media</a>)<p></p></dd>
</dl> 
