---
title: 'Links for 2011-02-18' 
date: "2011-02-18T11:00:30+10:00"
year: "2011"
category: Internet
tag:
- delicious
- links 
location: sydney
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://www.mikenash.co.uk/images/search-engine-logos-main.gif">search-engine-logos-main.gif (GIF Image, 400×872 pixels)</a></dt>
<dd class="delicious-extended">I remember most of these search engines :)</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/logos">logos</a> <a href="http://www.delicious.com/rubenerd/design">design</a> <a href="http://www.delicious.com/rubenerd/search">search</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.amitbhawani.com/blog/logos-past-present/">Evolution of Logos – Past to Present | Corporate Talk</a></dt>
<dd class="delicious-extended">Fascinating compilation of logos and how they&#039;ve evolved!</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/logos">logos</a> <a href="http://www.delicious.com/rubenerd/design">design</a> <a href="http://www.delicious.com/rubenerd/graphics">graphics</a>)<p></p></dd>
</dl> 
