---
title: 'Links for 2011-05-09' 
date: "2011-05-09T10:00:52+10:00"
year: "2011"
category: Internet
tag:
- delicious
- links 
location: sydney
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://www.macworld.com/article/159440/2011/05/soundflower_capture.html#lsrc.rss_main">How to capture audio with Soundflower | Music and Audio | Playlist | Macworld</a></dt>
<dd class="delicious-extended">Used these apps for ages, but never properly I suspect!</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/mac">mac</a> <a href="http://www.delicious.com/rubenerd/audio">audio</a> <a href="http://www.delicious.com/rubenerd/recording">recording</a> <a href="http://www.delicious.com/rubenerd/soundflower">soundflower</a> <a href="http://www.delicious.com/rubenerd/podcasting">podcasting</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://crowdflow.net/">crowdflow: combining crowdsourced geodata</a></dt>
<dd class="delicious-extended">&quot;You probably know by now that your iPhone/Android collects the position data of wifi and cell networks near by. [..] We would like to combine as many of these log files as possible, create an open database of wifi and cell networks and thus visualize how these networks are distributed all over the world.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/apple">apple</a> <a href="http://www.delicious.com/rubenerd/iphone">iphone</a> <a href="http://www.delicious.com/rubenerd/ios">ios</a> <a href="http://www.delicious.com/rubenerd/wifi">wifi</a> <a href="http://www.delicious.com/rubenerd/privacy">privacy</a> <a href="http://www.delicious.com/rubenerd/android">android</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.opendatacommons.org/">Open Data Commons</a></dt>
<dd class="delicious-extended">&quot;Open Data Commons is the home of a set of legal ‘tools’ to help you provide and use open data.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/science">science</a> <a href="http://www.delicious.com/rubenerd/law">law</a> <a href="http://www.delicious.com/rubenerd/standards">standards</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://pics.livejournal.com/sweetshark/pic/00001h6k/">LibreOffice 3.3.2 on Ubuntu Natty</a></dt>
<dd class="delicious-extended">Looks like Mac OS X. Huh.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/unity">unity</a> <a href="http://www.delicious.com/rubenerd/ubuntu">ubuntu</a> <a href="http://www.delicious.com/rubenerd/gnome">gnome</a> <a href="http://www.delicious.com/rubenerd/linux">linux</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://elsevilla.deviantart.com/art/Eight-reasons-to-not-die-207243398">Eight reasons to not die by *elsevilla on deviantART</a></dt>
<dd class="delicious-extended">&quot;Never give, even if you are out numbered by eight.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/art">art</a> <a href="http://www.delicious.com/rubenerd/colour">colour</a>)<p></p></dd>
<dt class="delicious-link"><a href="https://wiki.archlinux.org/index.php/IBM_ThinkPad_X31">IBM ThinkPad X31 &#8211; ArchWiki</a></dt>
<dd class="delicious-extended">&quot;The IBM Thinkpad X31 is a wonderful little laptop which contains everything you need for your everyday work&quot; The X40 is almost as affordable, and even more awesome too :)</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/archlinux">archlinux</a> <a href="http://www.delicious.com/rubenerd/hardware">hardware</a> <a href="http://www.delicious.com/rubenerd/thinkpad">thinkpad</a> <a href="http://www.delicious.com/rubenerd/thinkpadx40">thinkpadx40</a> <a href="http://www.delicious.com/rubenerd/thinkpadx30">thinkpadx30</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.thinkwiki.org/wiki/Installing_Arch_Linux_on_a_ThinkPad_X40">Installing Arch Linux on a ThinkPad X40 &#8211; ThinkWiki</a></dt>
<dd class="delicious-extended">I do things a little differently, but a good starter guide.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/hardware">hardware</a> <a href="http://www.delicious.com/rubenerd/howto">howto</a> <a href="http://www.delicious.com/rubenerd/linux">linux</a> <a href="http://www.delicious.com/rubenerd/thinkpadx40">thinkpadx40</a> <a href="http://www.delicious.com/rubenerd/archlinux">archlinux</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://mumbrella.com.au/branson-i-wish-wed-been-branded-as-virgin-australia-ten-years-ago-45609">Branson: I wish we’d been branded as Virgin Australia ten years ago &#8211; mUmBRELLA</a></dt>
<dd class="delicious-extended">&quot;With Virgin Blue, I don’t think we got it wrong, but I think times have moved on and there’s just sort of this realisation that why let Qantas keep all of that money? It would have been better had we done it ten years ago but we finally realised.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/business">business</a> <a href="http://www.delicious.com/rubenerd/virgin">virgin</a> <a href="http://www.delicious.com/rubenerd/aviation">aviation</a> <a href="http://www.delicious.com/rubenerd/richardbranson">richardbranson</a> <a href="http://www.delicious.com/rubenerd/australia">australia</a>)<p></p></dd>
</dl> 
