---
title: 'Links for 2011-07-20' 
date: "2011-07-20T10:00:50+10:00"
year: "2011"
category: Internet
tag:
- links 
location: sydney
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://www.twitpic.com/4miqt1">One of the cooler kits I brought from HLJ clearance sale abou… on Twitpic</a></dt>
<dd class="delicious-extended">Cute! &quot;One of the cooler kits I brought from HLJ clearance sale about two years ago. (Featured in Megami magazine Vol.8)&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/figures">figures</a> <a href="http://www.delicious.com/rubenerd/anime">anime</a> <a href="http://www.delicious.com/rubenerd/design">design</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://huffduffer.com/">Huffduffer</a></dt>
<dd class="delicious-extended">Don&#039;t quite understand what this is, something to do with creating podcasts.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/podcast">podcast</a> <a href="http://www.delicious.com/rubenerd/audio">audio</a> <a href="http://www.delicious.com/rubenerd/rss">rss</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.opengroup.org/openbrand/register/">Register of Open Branded Products</a></dt>
<dd class="delicious-extended">&quot;The top level summary of the Open Brand register of certified products by major product standard type follows below. See the links on the left panel for full details.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/apple">apple</a> <a href="http://www.delicious.com/rubenerd/osx">osx</a> <a href="http://www.delicious.com/rubenerd/ibm">ibm</a> <a href="http://www.delicious.com/rubenerd/oracle">oracle</a> <a href="http://www.delicious.com/rubenerd/sun">sun</a> <a href="http://www.delicious.com/rubenerd/unix">unix</a> <a href="http://www.delicious.com/rubenerd/solaris">solaris</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://weblog.muledesign.com/2011/07/density_and_difference.php">Mule Design Studio’s Blog: Density and Difference</a></dt>
<dd class="delicious-extended">Comparing and contrasting Twitter and Google+. Well made point.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/design">design</a> <a href="http://www.delicious.com/rubenerd/twitter">twitter</a> <a href="http://www.delicious.com/rubenerd/interface">interface</a> <a href="http://www.delicious.com/rubenerd/socialnetworking">socialnetworking</a> <a href="http://www.delicious.com/rubenerd/google%2B">google+</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.straitstimes.com/BreakingNews/Singapore/Story/STIStory_692168.html">The problem with urban noise</a></dt>
<dd class="delicious-extended">All the more reason to build metro lines underground.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/mrt">mrt</a> <a href="http://www.delicious.com/rubenerd/singapore">singapore</a> <a href="http://www.delicious.com/rubenerd/publictransport">publictransport</a>)<p></p></dd>
</dl> 
