---
title: 'Links for 2011-03-11' 
date: "2011-03-11T11:00:29+10:00"
year: "2011"
category: Internet
tag:
- delicious
- links 
location: sydney
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://www.geekcode.com/geek.html">The Code of the Geeks v3.12</a></dt>
<dd class="delicious-extended">Aww I remember this!</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/geekcode">geekcode</a> <a href="http://www.delicious.com/rubenerd/fun">fun</a> <a href="http://www.delicious.com/rubenerd/culture">culture</a> <a href="http://www.delicious.com/rubenerd/internet">internet</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://moe-coalition.seanver.com/">The Moe Coalition</a></dt>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/anime">anime</a> <a href="http://www.delicious.com/rubenerd/moe">moe</a> <a href="http://www.delicious.com/rubenerd/blog">blog</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.smh.com.au/digital-life/digital-life-news/new-chrome-browser-ready-for-the-world-20110309-1bn5j.html">New Chrome browser ready for the world</a></dt>
<dd class="delicious-extended">Taken straight from a PR release, no doubt</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/journalism">journalism</a> <a href="http://www.delicious.com/rubenerd/google">google</a> <a href="http://www.delicious.com/rubenerd/chrome">chrome</a> <a href="http://www.delicious.com/rubenerd/software">software</a> <a href="http://www.delicious.com/rubenerd/newspapers">newspapers</a> <a href="http://www.delicious.com/rubenerd/fairfax">fairfax</a> <a href="http://www.delicious.com/rubenerd/australia">australia</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://feedfunnel.noagendareport.com/">FeedFunnel</a></dt>
<dd class="delicious-extended">News from Gitmonation</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/news">news</a> <a href="http://www.delicious.com/rubenerd/politics">politics</a> <a href="http://www.delicious.com/rubenerd/noagenda">noagenda</a> <a href="http://www.delicious.com/rubenerd/adamcurry">adamcurry</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://xml.ascc.net/en/utf-8/faq.html">Chinese XML FAQ</a></dt>
<dd class="delicious-extended">&quot;This FAQ is about using XML for Chinese-language documents&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/xml">xml</a> <a href="http://www.delicious.com/rubenerd/chinese">chinese</a> <a href="http://www.delicious.com/rubenerd/katakana">katakana</a> <a href="http://www.delicious.com/rubenerd/html">html</a> <a href="http://www.delicious.com/rubenerd/standards">standards</a> <a href="http://www.delicious.com/rubenerd/web">web</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://caronia2.info/car2blog/index.php/2008/02/05/the_importance_of_the_alt_link_rel_agt_t">Employing the link rel  &gt; Tag</a></dt>
<dd class="delicious-extended">&quot;This tutorial provides a guide on how to make best use of the link&gt; tag&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/html">html</a> <a href="http://www.delicious.com/rubenerd/accessibility">accessibility</a> <a href="http://www.delicious.com/rubenerd/web">web</a>)<p></p></dd>
</dl> 
