---
title: 'Links for 2011-03-31' 
date: "2011-03-31T11:00:49+10:00"
year: "2011"
category: Internet
tag:
- delicious
- links 
location: sydney
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://www.sandaleo.com/pantone.asp">sandaleo.com :: pantone color web conversion</a></dt>
<dd class="delicious-extended">More of a rough guideline, but still useful</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/design">design</a> <a href="http://www.delicious.com/rubenerd/graphics">graphics</a> <a href="http://www.delicious.com/rubenerd/colour">colour</a> <a href="http://www.delicious.com/rubenerd/pantone">pantone</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.fwi.co.uk/blogs/livestock-and-sales-blog/2010/07/">Taking Stock: July 2010 Archives</a></dt>
<dd class="delicious-extended">Some of those cows look like sheep! Wait, how did I get onto this site again?</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/blog">blog</a> <a href="http://www.delicious.com/rubenerd/random">random</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://fu-desu-fu-desu.blogspot.com/2011/01/moe.html">Febi-desu, Nyan!: MOE</a></dt>
<dd class="delicious-extended">Surprised that I knew nearly all of these already :)</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/anime">anime</a> <a href="http://www.delicious.com/rubenerd/glossary">glossary</a> <a href="http://www.delicious.com/rubenerd/blogs">blogs</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.share-house.com.au/">Share House | Australia&#039;s FREE Share House Website</a></dt>
<dd class="delicious-extended">Sounds like a great way to travel on a shoestring. Accommodation thesedays is often more expensive than the actual travelling!</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/australia">australia</a> <a href="http://www.delicious.com/rubenerd/sydney">sydney</a> <a href="http://www.delicious.com/rubenerd/travel">travel</a> <a href="http://www.delicious.com/rubenerd/accommodation">accommodation</a>)<p></p></dd>
</dl> 
