---
title: 'Links for 2011-05-10' 
date: "2011-05-10T10:00:44+10:00"
year: "2011"
category: Internet
tag:
- delicious
- links 
location: sydney
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="https://jakesanimeblog.wordpress.com/2011/05/08/anime-twgok-ii-bd-cover-art-matches-well-with-the-one-for-bakemonogatari/">Anime TWGOK II BD Cover Art Matches Well With The One For Bakemonogatari | Jake&#039;s Anime Blog for Otaku ~de geso</a></dt>
<dd class="delicious-extended">Hey yeah, they do!</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/anime">anime</a> <a href="http://www.delicious.com/rubenerd/bakemonogatari">bakemonogatari</a>)<p></p></dd>
</dl> 
