---
title: 'Links for 2011-05-05' 
date: "2011-05-05T10:00:55+10:00"
year: "2011"
category: Internet
tag:
- links 
location: sydney
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://timesofindia.indiatimes.com/world/us/Obamas-poker-face-hid-worlds-best-kept-secret/articleshow/8157088.cms">Obama&#039;s &#039;poker face&#039; hid world&#039;s best kept secret &#8211; The Times of India</a></dt>
<dd class="delicious-extended">&quot;BOSTON: Between attending a glamorous White House correspondents&#039; dinner and meeting families of victims of the Alabama storms, US president Barack Obama successfully managed to put up a &quot;poker face&quot; for nearly 72 hours before he announced Osama bin Laden&#039;s death to the world.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/news">news</a> <a href="http://www.delicious.com/rubenerd/politics">politics</a> <a href="http://www.delicious.com/rubenerd/unitedstates">unitedstates</a> <a href="http://www.delicious.com/rubenerd/osamabinladen">osamabinladen</a>)<p></p></dd>
</dl> 
