---
title: 'Links for 2011-02-15' 
date: "2011-02-15T11:00:28+10:00"
year: "2011"
category: Internet
tag:
- from-twitter
- links 
location: sydney
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://www.salon.com/news/politics/war_room/2011/02/07/bush_amnesty_arrest/index.html">Bush cancels Europe trip amid calls for his arrest &#8211; War Room &#8211; Salon.com</a></dt>
<dd class="delicious-extended">He SHOULD be arrested.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/politics">politics</a> <a href="http://www.delicious.com/rubenerd/government">government</a> <a href="http://www.delicious.com/rubenerd/unitedstates">unitedstates</a> <a href="http://www.delicious.com/rubenerd/georgewbush">georgewbush</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://freshmeat.net/projects/lrzip">Long Range ZIP | freshmeat.net</a></dt>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/compression">compression</a> <a href="http://www.delicious.com/rubenerd/lossless">lossless</a> <a href="http://www.delicious.com/rubenerd/files">files</a> <a href="http://www.delicious.com/rubenerd/software">software</a> <a href="http://www.delicious.com/rubenerd/foss">foss</a> <a href="http://www.delicious.com/rubenerd/archiving">archiving</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://rusty.ozlabs.org/?p=75">xz vs rzip &#8211; Rusty Russell&#039;s Coding Blog</a></dt>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/compression">compression</a> <a href="http://www.delicious.com/rubenerd/lossless">lossless</a> <a href="http://www.delicious.com/rubenerd/files">files</a> <a href="http://www.delicious.com/rubenerd/software">software</a> <a href="http://www.delicious.com/rubenerd/foss">foss</a> <a href="http://www.delicious.com/rubenerd/archiving">archiving</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.airliners.net/photo/Boeing/Boeing-747-8JK/1866273/L/&amp;sid=0c5132a6e3b52f2137edcb3df2334223">Photos: Boeing 747-8JK Aircraft Pictures | Airliners.net</a></dt>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/boeing748">boeing748</a> <a href="http://www.delicious.com/rubenerd/photos">photos</a> <a href="http://www.delicious.com/rubenerd/aviation">aviation</a> <a href="http://www.delicious.com/rubenerd/airliners.net">airliners.net</a>)<p></p></dd>
</dl> 
