---
title: 'Links for 2011-07-09' 
date: "2011-07-09T10:00:53+10:00"
year: "2011"
category: Internet
tag:
- delicious
- links 
location: sydney
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://www.fanpop.com/spots/ncis/images/5672220/title/ducky-abby-photo">Ducky and Abby &#8211; NCIS Photo (5672220) &#8211; Fanpop</a></dt>
<dd class="delicious-extended">Would make a great caption contest photo!</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/ncis">ncis</a> <a href="http://www.delicious.com/rubenerd/television">television</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.marxists.org/reference/subject/philosophy/works/en/russell1.htm">Theory of Knowledge by Bertrand Russell</a></dt>
<dd class="delicious-extended">One of the all time classics. Required reading, if I may say so!</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/philosophy">philosophy</a> <a href="http://www.delicious.com/rubenerd/research">research</a> <a href="http://www.delicious.com/rubenerd/bertrandrussell">bertrandrussell</a>)<p></p></dd>
</dl> 
