---
title: 'Links for 2011-08-28' 
date: "2011-08-28T09:59:59+10:00"
year: "2011"
category: Internet
tag:
- links 
location: sydney
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="https://secure.wikimedia.org/wikipedia/en/wiki/File:Ximending_at_night.jpg">File:Ximending at night.jpg &#8211; Wikipedia, the free encyclopedia</a></dt>
<dd class="delicious-extended">Need to visit Taiwan one day.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/photos">photos</a> <a href="http://www.delicious.com/rubenerd/night">night</a> <a href="http://www.delicious.com/rubenerd/pretty">pretty</a> <a href="http://www.delicious.com/rubenerd/taipei">taipei</a> <a href="http://www.delicious.com/rubenerd/taiwan">taiwan</a> <a href="http://www.delicious.com/rubenerd/roc">roc</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://collected.info/">Collected &#8211; Collect your favorite blogs and news sources, your own blog, Flickr, Twitter or Youtube posts</a></dt>
<dd class="delicious-extended">Seems like an interesting, if derivative idea.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/news">news</a> <a href="http://www.delicious.com/rubenerd/blogs">blogs</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.tokyohive.com/2011/08/after-school-officially-debuts-in-japan/">After School officially debuts in Japan</a></dt>
<dd class="delicious-extended">That&#039;s a lot of boots.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/music">music</a> <a href="http://www.delicious.com/rubenerd/jpop">jpop</a> <a href="http://www.delicious.com/rubenerd/japan">japan</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.tarsnap.com/">Tarsnap &#8211; Online backups for the truly paranoid</a></dt>
<dd class="delicious-extended">Looks like a great alternative to other creepy online backup systems</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/backup">backup</a> <a href="http://www.delicious.com/rubenerd/cloud">cloud</a> <a href="http://www.delicious.com/rubenerd/software">software</a> <a href="http://www.delicious.com/rubenerd/encryption">encryption</a> <a href="http://www.delicious.com/rubenerd/unix">unix</a> <a href="http://www.delicious.com/rubenerd/osx">osx</a> <a href="http://www.delicious.com/rubenerd/linux">linux</a> <a href="http://www.delicious.com/rubenerd/freebsd">freebsd</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.3quarksdaily.com/3quarksdaily/2011/08/the-lost-city-of-ugarit.html">3quarksdaily: The Lost City of Ugarit</a></dt>
<dd class="delicious-extended">Reason #423,123,741 why I love the Internet.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/archaeology">archaeology</a> <a href="http://www.delicious.com/rubenerd/history">history</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://principalityofwy.com/">Official site of Principality of Wy</a></dt>
<dd class="delicious-extended">Irony is, he has a better website than most of the other councils in Australia!</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/micronations">micronations</a> <a href="http://www.delicious.com/rubenerd/australia">australia</a> <a href="http://www.delicious.com/rubenerd/nsw">nsw</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.singaporetgcc.com/">Home | STGCC</a></dt>
<dd class="delicious-extended">One of these days I&#039;ll be in Singapore for this.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/singapore">singapore</a> <a href="http://www.delicious.com/rubenerd/anime">anime</a> <a href="http://www.delicious.com/rubenerd/games">games</a> <a href="http://www.delicious.com/rubenerd/comics">comics</a> <a href="http://www.delicious.com/rubenerd/events">events</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://gordonator.com/2011/08/18/kipi-stgcc-2011/">Kipi STGCC 2011 « Gordonator</a></dt>
<dd class="delicious-extended">Why am I not still in Singapore? :(</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/singapore">singapore</a> <a href="http://www.delicious.com/rubenerd/cosplay">cosplay</a> <a href="http://www.delicious.com/rubenerd/anime">anime</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://tomopop.com/tomopop-review-good-smile-company-s-senjyogahara-hitagi-17792.phtml">Tomopop Review: Good Smile Company&#039;s Senjyogahara Hitagi</a></dt>
<dd class="delicious-extended">I need this!</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/bakemonogatari">bakemonogatari</a> <a href="http://www.delicious.com/rubenerd/figures">figures</a> <a href="http://www.delicious.com/rubenerd/anime">anime</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.noiseaddicts.com/2009/03/can-you-hear-this-hearing-test/">Hearing Test &#8211; high frequency sounds measure hearing loss</a></dt>
<dd class="delicious-extended">Funny, I&#039;m 25 and I can hear all but 22 kHz; apparently I&#039;m supposed to only be able to hear half of that.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/audio">audio</a> <a href="http://www.delicious.com/rubenerd/science">science</a> <a href="http://www.delicious.com/rubenerd/soundflower">soundflower</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://dascomputerconsultants.com/solutions.htm">Soussan &#8211; Unique solutions to uncommon system problems</a></dt>
<dd class="delicious-extended">You can tell how professional he is by the design of his site and included testimonials.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/funny">funny</a> <a href="http://www.delicious.com/rubenerd/programming">programming</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://freebsd.1045724.n5.nabble.com/Would-Linux-exist-without-the-Internet-td4250076.html">freebsd-chat &#8211; Would Linux exist without the Internet?</a></dt>
<dd class="delicious-extended">&quot;If 386BSD had been available a year earlier, I would probably never have started on Linux&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/linustorvalds">linustorvalds</a> <a href="http://www.delicious.com/rubenerd/linux">linux</a> <a href="http://www.delicious.com/rubenerd/bsd">bsd</a> <a href="http://www.delicious.com/rubenerd/386bsd">386bsd</a> <a href="http://www.delicious.com/rubenerd/history">history</a> <a href="http://www.delicious.com/rubenerd/quotes">quotes</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.cumberlandstationery.com.au/">Cumberland Stationery</a></dt>
<dd class="delicious-extended">Great local manufacturer of pages for coins, banknotes and other such fun stuff. Friendly staff and affordable.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/coins">coins</a> <a href="http://www.delicious.com/rubenerd/banknotes">banknotes</a> <a href="http://www.delicious.com/rubenerd/collecting">collecting</a> <a href="http://www.delicious.com/rubenerd/australia">australia</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://perl.about.com/od/filesystem/qt/perlglob.htm">Perl globbing tutorial &#8211; Reading a directory in perl, learn how to get a directory list.</a></dt>
<dd class="delicious-extended">Ah this takes me back.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/programming">programming</a> <a href="http://www.delicious.com/rubenerd/perl">perl</a> <a href="http://www.delicious.com/rubenerd/files">files</a>)<p></p></dd>
<dt class="delicious-link"><a href="https://secure.flickr.com/photos/ozoutback/">Flickr: ozroadwarrior&#039;s Photostream</a></dt>
<dd class="delicious-extended">Beautiful photos of the Australian desert.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/photos">photos</a> <a href="http://www.delicious.com/rubenerd/australia">australia</a> <a href="http://www.delicious.com/rubenerd/flickr">flickr</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://creativebastard.com/">creative bastard</a></dt>
<dd class="delicious-extended">Another unmaintained blog, alas.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/tech">tech</a> <a href="http://www.delicious.com/rubenerd/australia">australia</a> <a href="http://www.delicious.com/rubenerd/blogs">blogs</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.badruttspalace.com/presse/downloads/">Badrutt&#039;s Palace Hotel, St. Moritz: Downloads</a></dt>
<dd class="delicious-extended">That is some amazing scenery, wow!</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/backgrounds">backgrounds</a> <a href="http://www.delicious.com/rubenerd/nature">nature</a> <a href="http://www.delicious.com/rubenerd/switzerland">switzerland</a>)<p></p></dd>
</dl> 
