---
title: 'Links for 2011-07-18' 
date: "2011-07-18T10:00:36+10:00"
year: "2011"
category: Internet
tag:
- delicious
- links 
location: sydney
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://www.theatlantic.com/national/archive/2011/07/the-most-incredible-thing-fox-news-has-ever-done/242037/">The Most Incredible Thing Fox News Has Ever Done &#8211; James Fallows &#8211; National &#8211; The Atlantic</a></dt>
<dd class="delicious-extended">A complete whitewash of the News of the World sh*tstorm. To be expected from Fox News, but still abhorrent.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/media">media</a> <a href="http://www.delicious.com/rubenerd/journalism">journalism</a> <a href="http://www.delicious.com/rubenerd/foxnews">foxnews</a> <a href="http://www.delicious.com/rubenerd/fail">fail</a>)<p></p></dd>
</dl> 
