---
title: 'Links for 2011-07-31' 
date: "2011-07-31T02:00:07+10:00"
year: "2011"
category: Internet
tag:
- links 
location: sydney
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://stream0.census.gov.au/eCensusWeb/welcome.jsp">Welcome to eCensus</a></dt>
<dd class="delicious-extended">The Australian eCensus site, hosted by IBM Australia if I&#039;m reading the server data right ;)</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/australia">australia</a> <a href="http://www.delicious.com/rubenerd/government">government</a> <a href="http://www.delicious.com/rubenerd/census">census</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://axisoflogic.com/artman/publish/Article_63456.shtml">Environmental Activist Tim DeChristopher Sentenced to Prison</a></dt>
<dd class="delicious-extended">&quot;Tells the Court: This Is What Hope Looks Like&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/peace">peace</a> <a href="http://www.delicious.com/rubenerd/news">news</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.cdjapan.co.jp/detailview.html?KEY=WPCL-10983">Moshimoshi Harajuku Kyary Pamyu Pamyu [CD]</a></dt>
<dd class="delicious-extended">Pon Pon, Wey Wey Wey!</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/music">music</a> <a href="http://www.delicious.com/rubenerd/shopping">shopping</a> <a href="http://www.delicious.com/rubenerd/cds">cds</a>)<p></p></dd>
</dl> 
