---
title: 'Links for 2011-07-14' 
date: "2011-07-14T10:00:39+10:00"
year: "2011"
category: Internet
tag:
- delicious
- links 
location: sydney
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://www.channelnewsasia.com/stories/singaporelocalnews/view/1140479/1/.html">What do you love about Singapore? &#8211; Channel NewsAsia</a></dt>
<dd class="delicious-extended">I&#039;d do this… if I were talented!</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/media">media</a> <a href="http://www.delicious.com/rubenerd/video">video</a> <a href="http://www.delicious.com/rubenerd/singapore">singapore</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.channelnewsasia.com/stories/singaporelocalnews/view/1140612/1/.html">Local students dress up city area with art works &#8211; Channel NewsAsia</a></dt>
<dd class="delicious-extended">You can&#039;t have a news article about art, then not have any pictures!</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/news">news</a> <a href="http://www.delicious.com/rubenerd/singapore">singapore</a> <a href="http://www.delicious.com/rubenerd/art">art</a> <a href="http://www.delicious.com/rubenerd/design">design</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.dw-world.de/dw/article/0,,15229533,00.html?maca=en-TWITTER-EN-2004-xml-mrss">Ireland&#039;s credit rating slashed to junk status | Europe | Deutsche Welle | 13.07.2011</a></dt>
<dd class="delicious-extended">Another dubious report by a credit rating agency that didn&#039;t see the biggest recession since the Great Depression coming. Forgive me for not taking them too seriously.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/economics">economics</a> <a href="http://www.delicious.com/rubenerd/eu">eu</a> <a href="http://www.delicious.com/rubenerd/ireland">ireland</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://wiki.archhurd.org/wiki/Installation_Guide">Installation Guide &#8211; Arch Hurd Wiki</a></dt>
<dd class="delicious-extended">&quot;This guide is for installing Arch Hurd using the LiveCD; if you wish to install from within another distribution, have a look at the Alternate Installation Guide.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/archhurd">archhurd</a> <a href="http://www.delicious.com/rubenerd/hurd">hurd</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.overthinkingit.com/2009/06/13/the-ghostbusters-risky-business-plan/">The Ghostbusters’ Risky Business Plan | Overthinking It</a></dt>
<dd class="delicious-extended">&quot;Welcome to Overthinking It, where we subject the popular culture to a level of scrutiny it probably doesn&#039;t deserve.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/funny">funny</a> <a href="http://www.delicious.com/rubenerd/business">business</a> <a href="http://www.delicious.com/rubenerd/movies">movies</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://gamesdbase.com/game/sinclair-zx-spectrum/ghostbusters.aspx">Ghostbusters &#8211; Sinclair ZX Spectrum &#8211; Games Database</a></dt>
<dd class="delicious-extended">Was published two years before I was! Wait, I was born, not published… [insert metaphysical discussion here]</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/retro">retro</a> <a href="http://www.delicious.com/rubenerd/nostalgia">nostalgia</a> <a href="http://www.delicious.com/rubenerd/sinclair">sinclair</a> <a href="http://www.delicious.com/rubenerd/spectrum">spectrum</a> <a href="http://www.delicious.com/rubenerd/games">games</a>)<p></p></dd>
</dl> 
