---
title: 'Links for 2011-05-24' 
date: "2011-05-24T10:01:02+10:00"
year: "2011"
category: Internet
tag:
- delicious
- links 
location: sydney
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://www.8bitrocket.com/2007/05/11/atari-nerd-chroniclesretro-shopping-centers-with-video-games-artesia-and-sepulveda-north-east-side/">Atari Nerd Chronicles:Retro Shopping Centers with Video Games: Artesia and Sepulveda (North East Side) | 8bitrocket</a></dt>
<dd class="delicious-extended">Retro shopping centres FTW.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/retro">retro</a> <a href="http://www.delicious.com/rubenerd/shoppingcentre">shoppingcentre</a> <a href="http://www.delicious.com/rubenerd/historical">historical</a> <a href="http://www.delicious.com/rubenerd/1970s">1970s</a> <a href="http://www.delicious.com/rubenerd/1980s">1980s</a> <a href="http://www.delicious.com/rubenerd/atari">atari</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://safebooru.org/index.php?page=post&amp;s=view&amp;id=622017">Safebooru &#8211; Anime picture search engine! &#8211; nichijou</a></dt>
<dd class="delicious-extended">Saw someone at uni with this printed as a giant poster and the name of his club in the sky. Looked great!</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/anime">anime</a> <a href="http://www.delicious.com/rubenerd/nichijou">nichijou</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://29.media.tumblr.com/tumblr_ll8nkiTvh61qajg12o1_500.gif">Dancing duck (GIF Image, 500×375 pixels)</a></dt>
<dd class="delicious-extended">Also… can&#039;t… stop… watching… for different reasons!</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/animation">animation</a> <a href="http://www.delicious.com/rubenerd/silly">silly</a> <a href="http://www.delicious.com/rubenerd/funny">funny</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.songmeanings.net/songs/view/130072/">SongMeanings | Lyrics | Brilliant Green, The &#8211; Brownie the Cat</a></dt>
<dd class="delicious-extended">&quot;Ridiculously cute song about a kitten.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/lyrics">lyrics</a> <a href="http://www.delicious.com/rubenerd/music">music</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://chan.sankakustatic.com/data/b6/18/b618a28d735b6e066e5a2d56052bd050.gif">Animated Mugi (GIF Image, 600×400 pixels)</a></dt>
<dd class="delicious-extended">Can&#039;t… stop… watching</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/anime">anime</a> <a href="http://www.delicious.com/rubenerd/k-on">k-on</a> <a href="http://www.delicious.com/rubenerd/keion">keion</a> <a href="http://www.delicious.com/rubenerd/animation">animation</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.perbang.dk/rgb/B634BB/">RGB #B634BB RGB Chart &amp; Multi Tool • Color • PerBang.dk</a></dt>
<dd class="delicious-extended">Prefer my purple to have a little more blue in it, but this is Pantone Purple</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/purple">purple</a> <a href="http://www.delicious.com/rubenerd/colour">colour</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://iconseeker.com/search/La%20Patisserie%20icon%20set%20MacPC/">La Patisserie icon set, IconSeeker.com</a></dt>
<dd class="delicious-extended">Tasty!</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/icons">icons</a> <a href="http://www.delicious.com/rubenerd/design">design</a> <a href="http://www.delicious.com/rubenerd/graphics">graphics</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.slang-dictionary.org/English-Slang-Dictionary/A/Postie">Postie definition &#8211; English Slang Dictionary</a></dt>
<dd class="delicious-extended">For those who didn&#039;t know what I meant when I said I got mail from one recently ;).</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/language">language</a> <a href="http://www.delicious.com/rubenerd/english">english</a> <a href="http://www.delicious.com/rubenerd/dictionary">dictionary</a> <a href="http://www.delicious.com/rubenerd/australia">australia</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.fontonic.com/download.asp?id=758">Download Bauhaus 93.TTF | Fontonic | Designers Resources</a></dt>
<dd class="delicious-extended">Not sure if you need a licence to download this (I have an old copy of Office which I think qualifies!) but an awesome font, one of my all time nostalgic favourites :)</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/fonts">fonts</a> <a href="http://www.delicious.com/rubenerd/design">design</a> <a href="http://www.delicious.com/rubenerd/typefaces">typefaces</a> <a href="http://www.delicious.com/rubenerd/bauhaus93">bauhaus93</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.easyicon.cn/icondetail/544324/">cookies 512 PNG/ICO/ICNS easyicon.cn</a></dt>
<dd class="delicious-extended">Unsure as to the origin, claims its from SmashingMagazine.com. Great icons though!</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/art">art</a> <a href="http://www.delicious.com/rubenerd/design">design</a> <a href="http://www.delicious.com/rubenerd/icons">icons</a> <a href="http://www.delicious.com/rubenerd/web">web</a>)<p></p></dd>
</dl> 
