---
title: 'Links for 2011-08-07' 
date: "2011-08-07T09:59:04+10:00"
year: "2011"
category: Internet
tag:
- links 
location: sydney
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://holykaw.alltop.com/if-social-media-sites-were-superheroes-infogr?tu3=1">If social media sites were superheroes [infographic] &#8211; Holy Kaw!</a></dt>
<dd class="delicious-extended">Over designed, but mildly interesting (like most infographics!)</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/socialnetworking">socialnetworking</a> <a href="http://www.delicious.com/rubenerd/infographics">infographics</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.nytimes.com/roomfordebate/2011/08/03/can-new-york-rival-silicon-valley-for-start-ups">Can New York Rival Silicon Valley for Start-Ups? &#8211; Room for Debate &#8211; NYTimes.com</a></dt>
<dd class="delicious-extended">Interesting discussion particularly in light of recent events.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/news">news</a> <a href="http://www.delicious.com/rubenerd/newyork">newyork</a> <a href="http://www.delicious.com/rubenerd/unitedstates">unitedstates</a> <a href="http://www.delicious.com/rubenerd/business">business</a> <a href="http://www.delicious.com/rubenerd/bidness">bidness</a>)<p></p></dd>
</dl> 
