---
title: 'Links for 2011-04-20' 
date: "2011-04-20T10:00:39+10:00"
year: "2011"
category: Internet
tag:
- delicious
- links 
location: sydney
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://media.photobucket.com/image/recent/raven555temari/Sailor_Moon_Vector_Wallpaper_by_Ete.jpg">Sailor Scouts, raven555temari on Photobucket</a></dt>
<dd class="delicious-extended">Nice colours!</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/sailormoon">sailormoon</a> <a href="http://www.delicious.com/rubenerd/pssm">pssm</a> <a href="http://www.delicious.com/rubenerd/anime">anime</a> <a href="http://www.delicious.com/rubenerd/art">art</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.animewapers.com/wp-content/gallery/bleach-scans/AnimeWapers_com%2077616%20bleach%20kuchiki_rukia%20vector.png">AnimeWapers.com 77616 bleach kuchiki_rukia vector.png</a></dt>
<dd class="delicious-extended">Yo! ;)</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/bleach">bleach</a> <a href="http://www.delicious.com/rubenerd/anime">anime</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://whirlpool.net.au/survey/2010/">Australian Broadband Survey 2011 Report</a></dt>
<dd class="delicious-extended">Surprised that I&#039;m not so surprised!</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/australia">australia</a> <a href="http://www.delicious.com/rubenerd/broadband">broadband</a> <a href="http://www.delicious.com/rubenerd/isp">isp</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://tech.fortune.cnn.com/2011/04/18/reviewing-dropboxs-vision-of-the-future/">Dropbox: 25 million users and counting &#8211; Fortune Tech</a></dt>
<dd class="delicious-extended">&quot;I loved dropbox until the insecurity of it was identified. Services like this are about trust and they have lost mine&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/cloudcomputing">cloudcomputing</a> <a href="http://www.delicious.com/rubenerd/dropbox">dropbox</a> <a href="http://www.delicious.com/rubenerd/news">news</a> <a href="http://www.delicious.com/rubenerd/business">business</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://priscillia.deviantart.com/art/Sailor-Saturn-192444347">Sailor Saturn by *Priscillia on deviantART</a></dt>
<dd class="delicious-extended">Gorgeous! :O</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/anime">anime</a> <a href="http://www.delicious.com/rubenerd/sailormoon">sailormoon</a> <a href="http://www.delicious.com/rubenerd/pssm">pssm</a> <a href="http://www.delicious.com/rubenerd/deviantart">deviantart</a>)<p></p></dd>
</dl> 
