---
title: 'Links for 2011-04-28' 
date: "2011-04-28T10:00:56+10:00"
year: "2011"
category: Internet
tag:
- delicious
- links 
location: sydney
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://www.jupiterbroadcasting.com/?p=7376">xmonad: Hardcore Window Management | Jupiter Broadcasting</a></dt>
<dd class="delicious-extended">&quot;We break out our ugly sticks and beat our desktop into an ultimate nerd power-station!&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/podcast">podcast</a> <a href="http://www.delicious.com/rubenerd/linux">linux</a> <a href="http://www.delicious.com/rubenerd/xmonad">xmonad</a> <a href="http://www.delicious.com/rubenerd/x11">x11</a> <a href="http://www.delicious.com/rubenerd/haskell">haskell</a> <a href="http://www.delicious.com/rubenerd/video">video</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://dragonistasblog.com/2011/04/25/ad-campaigns-are-the-last-resort-of-failed-lobbyists/">Ad campaigns are the last resort of failed lobbyists « Drag0nista&#039;s Blog</a></dt>
<dd class="delicious-extended">&quot;Advertising is the lobbyist’s last resort because it’s effectively an admission of defeat by those running the campaign.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/news">news</a> <a href="http://www.delicious.com/rubenerd/australia">australia</a> <a href="http://www.delicious.com/rubenerd/lobbyists">lobbyists</a> <a href="http://www.delicious.com/rubenerd/politics">politics</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.sbs.com.au/news/article/1526406/Real-IRA-vows-to-oppose-Queen%27s-visit">Real IRA vows to oppose Queen&#039;s visit : World News Australia on SBS</a></dt>
<dd class="delicious-extended">&quot;An Irish Republican Army splinter group has vowed to oppose next month&#039;s visit to Ireland by Queen Elizabeth II and to keep killing Northern Ireland police officers &#8211; particularly those recruited from its own Catholic heartlands.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/news">news</a> <a href="http://www.delicious.com/rubenerd/ireland">ireland</a> <a href="http://www.delicious.com/rubenerd/uk">uk</a> <a href="http://www.delicious.com/rubenerd/politics">politics</a>)<p></p></dd>
</dl> 
