---
title: 'Links for 2011-08-26' 
date: "2011-08-26T10:00:00+10:00"
year: "2011"
category: Internet
tag:
- links 
location: sydney
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://tigerbunny.wikia.com/wiki/Tiger_%26_Bunny_Wiki">Tiger &amp; Bunny Wiki</a></dt>
<dd class="delicious-extended">They have wikis for everything thesedays!</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/anime">anime</a> <a href="http://www.delicious.com/rubenerd/tiger%26bunny">tiger&amp;bunny</a> <a href="http://www.delicious.com/rubenerd/wiki">wiki</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://daringfireball.net/2011/08/resigned">Daring Fireball: Resigned</a></dt>
<dd class="delicious-extended">&quot;Jobs’s greatest creation isn’t any Apple product. It is Apple itself.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/apple">apple</a> <a href="http://www.delicious.com/rubenerd/stevejobs">stevejobs</a> <a href="http://www.delicious.com/rubenerd/news">news</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://ltahime.forum-motion.net/t22p80-mai-hime-merchandise-you-do-own?highlight=Otome">Otome &#8211; Mai HiME Merchandise you DO own?</a></dt>
<dd class="delicious-extended">An underappreciated series. I have a Mai figure :)</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/maihime">maihime</a> <a href="http://www.delicious.com/rubenerd/myhime">myhime</a> <a href="http://www.delicious.com/rubenerd/anime">anime</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://kurisuhime.tumblr.com/post/5007496473/panty-stocking-with-galterbelt-boy-version">姬・HIME’ｓBack Garden &#8211; Panty &amp; Stocking with Galterbelt &#8211; boy version …</a></dt>
<dd class="delicious-extended">Some pretty amazing cosplay! I want that wig :)</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/anime">anime</a> <a href="http://www.delicious.com/rubenerd/cosplay">cosplay</a> <a href="http://www.delicious.com/rubenerd/p%26s">p&amp;s</a>)<p></p></dd>
<dt class="delicious-link"><a href="https://www.grc.com/sn/sn-314.htm">Security Now! Transcript of Episode #314</a></dt>
<dd class="delicious-extended">Got to get me one of those ARM Cortex-M3 boards!</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/arm">arm</a> <a href="http://www.delicious.com/rubenerd/cortexm3">cortexm3</a> <a href="http://www.delicious.com/rubenerd/podcast">podcast</a> <a href="http://www.delicious.com/rubenerd/twit">twit</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.wired.com/wired/archive/17.01/ff_mac_viewer.html">25 Years of Mac: Product Timeline</a></dt>
<dd class="delicious-extended">Great timeline of Apple hardware and software from the beginning.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/apple">apple</a> <a href="http://www.delicious.com/rubenerd/hardware">hardware</a> <a href="http://www.delicious.com/rubenerd/mac">mac</a> <a href="http://www.delicious.com/rubenerd/history">history</a> <a href="http://www.delicious.com/rubenerd/infographics">infographics</a>)<p></p></dd>
<dt class="delicious-link"><a href="https://www.apple.com/pr/library/2011/08/24Letter-from-Steve-Jobs.html">Apple &#8211; Press Info &#8211; Letter from Steve Jobs</a></dt>
<dd class="delicious-extended">Peace out Steve. Good luck.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/apple">apple</a> <a href="http://www.delicious.com/rubenerd/stevejobs">stevejobs</a> <a href="http://www.delicious.com/rubenerd/press">press</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://gigaom.com/2011/08/24/steve-jobs-the-sound-of-silence/">Steve Jobs and the sound of silence — Tech News and Analysis</a></dt>
<dd class="delicious-extended">Best post I&#039;ve read about Steve Jobs resigning as CEO. Beautiful.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/apple">apple</a> <a href="http://www.delicious.com/rubenerd/stevejobs">stevejobs</a> <a href="http://www.delicious.com/rubenerd/business">business</a> <a href="http://www.delicious.com/rubenerd/gigaom">gigaom</a>)<p></p></dd>
</dl> 
