---
title: 'Links for 2011-05-16' 
date: "2011-05-16T10:00:49+10:00"
year: "2011"
category: Internet
tag:
- delicious
- links 
location: sydney
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://www.softpointer.com/tr.htm">Mp3 tag editor Tag&amp;Rename &#8211; edit tag in mp3, wma, mp4 files, automatic amazon and freedb import</a></dt>
<dd class="delicious-extended">Great way for Windows users to clean up ID3 tags and other metadata in lots of audio formats.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/software">software</a> <a href="http://www.delicious.com/rubenerd/music">music</a> <a href="http://www.delicious.com/rubenerd/windows">windows</a> <a href="http://www.delicious.com/rubenerd/utilities">utilities</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://support.tuneupmedia.com/entries/20049278-a-note-about-deduper-new-pricing-from-tuneup-ceo-gabe-adiv?page=1">A Note about DeDuper &amp; New Pricing from TuneUp CEO, Gabe Adiv : TuneUp Support</a></dt>
<dd class="delicious-extended">Lesson for internet companies: bad customer service and trying to fleece your customers doesn&#039;t work here. Much easier to call you out.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/media">media</a> <a href="http://www.delicious.com/rubenerd/blogs">blogs</a> <a href="http://www.delicious.com/rubenerd/music">music</a> <a href="http://www.delicious.com/rubenerd/business">business</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://ubuntuforums.org/showthread.php?t=639081">[SOLVED] Xfce screenshot &#8211; Ubuntu Forums</a></dt>
<dd class="delicious-extended">I prefer to use scrot too. Easier, and can be timed.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/screenshots">screenshots</a> <a href="http://www.delicious.com/rubenerd/xfce">xfce</a> <a href="http://www.delicious.com/rubenerd/x11">x11</a> <a href="http://www.delicious.com/rubenerd/howto">howto</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.xs4all.nl/~ramdyne/psb/faq/">The Introspective Pet Shop Boys FAQ</a></dt>
<dd class="delicious-extended">Comprehensive, 1990s design-esque and almost unreadable! :)</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/petshopboys">petshopboys</a> <a href="http://www.delicious.com/rubenerd/faqs">faqs</a> <a href="http://www.delicious.com/rubenerd/music">music</a> <a href="http://www.delicious.com/rubenerd/electronica">electronica</a>)<p></p></dd>
</dl> 
