---
title: 'Links for 2011-03-03' 
date: "2011-03-03T11:00:22+10:00"
year: "2011"
category: Internet
tag:
- links 
location: sydney
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://www.abc.net.au/news/stories/2011/02/17/3141297.htm">Wi-fi promise for Sydney trains and buses &#8211; ABC News (Australian Broadcasting Corporation)</a></dt>
<dd class="delicious-extended">I&#039;ll believe it when I see it.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/trains">trains</a> <a href="http://www.delicious.com/rubenerd/nsw">nsw</a> <a href="http://www.delicious.com/rubenerd/sydney">sydney</a> <a href="http://www.delicious.com/rubenerd/australia">australia</a> <a href="http://www.delicious.com/rubenerd/wifi">wifi</a> <a href="http://www.delicious.com/rubenerd/internet">internet</a> <a href="http://www.delicious.com/rubenerd/politics">politics</a> <a href="http://www.delicious.com/rubenerd/news">news</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://holykaw.alltop.com/how-airlines-use-twitter-infographic?tu3=1&amp;c=1">How airlines use Twitter [infographic] &#8211; Holy Kaw!</a></dt>
<dd class="delicious-extended">I thought airlines used Twitter to ignore their customers and dismiss negative PR… :P</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/airlines">airlines</a> <a href="http://www.delicious.com/rubenerd/twitter">twitter</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://ryuseihikari.deviantart.com/art/Code-Pizza-Hut-of-the-Geass-87115534">Code Pizza: Hut of the Geass by ~RyuseiHikari on deviantART</a></dt>
<dd class="delicious-extended">&quot;Support the rebellion! Support Pizza Hut!&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/anime">anime</a> <a href="http://www.delicious.com/rubenerd/codegeass">codegeass</a> <a href="http://www.delicious.com/rubenerd/pizzahut">pizzahut</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.straitstimes.com/BreakingNews/Singapore/Story/STIStory_638746.html">LTA awards first two Downtown Line contracts</a></dt>
<dd class="delicious-extended">Meanwhile, where tax dollars are being used to build forward thinking public transport infrastructure…</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/publictransport">publictransport</a> <a href="http://www.delicious.com/rubenerd/mrt">mrt</a> <a href="http://www.delicious.com/rubenerd/singapore">singapore</a> <a href="http://www.delicious.com/rubenerd/trains">trains</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://people.freebsd.org/~jhb/papers/bsdcan/2007/article/node6.html">FreeBSD&#039;s INTx Implementation</a></dt>
<dd class="delicious-extended">IRQs are Yummy Cookies</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/freebsd">freebsd</a> <a href="http://www.delicious.com/rubenerd/bsd">bsd</a> <a href="http://www.delicious.com/rubenerd/interrupts">interrupts</a> <a href="http://www.delicious.com/rubenerd/documentation">documentation</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.itnews.com.au/News/249230,iitrial-a-green-light-to-disconnect-pirates.aspx">iiTrial: A green light to disconnect pirates &#8211; Telco/ISP &#8211; Technology &#8211; News &#8211; iTnews.com.au</a></dt>
<dd class="delicious-extended">&quot;Film industry granted path to cut infringer&#039;s net access.&quot; Be afraid.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/australia">australia</a> <a href="http://www.delicious.com/rubenerd/internet">internet</a> <a href="http://www.delicious.com/rubenerd/copyright">copyright</a> <a href="http://www.delicious.com/rubenerd/corruption">corruption</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.claws-mail.org/index.php">Claws Mail &#8211; the email client that bites!</a></dt>
<dd class="delicious-extended">This looks like a really beautiful, lightweight alternative to Thunderbird.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/email">email</a> <a href="http://www.delicious.com/rubenerd/gtk">gtk</a> <a href="http://www.delicious.com/rubenerd/opensource">opensource</a> <a href="http://www.delicious.com/rubenerd/linux">linux</a> <a href="http://www.delicious.com/rubenerd/bsd">bsd</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.wired.com/underwire/2011/02/alt-text-apple-subscriptions/">Alt Text: Not Everyone Subscribes to Apple’s Plans for Domination | Underwire | Wired.com</a></dt>
<dd class="delicious-extended">Great satire ;)</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/apple">apple</a> <a href="http://www.delicious.com/rubenerd/hardware">hardware</a> <a href="http://www.delicious.com/rubenerd/stevejobs">stevejobs</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.abc.net.au/news/stories/2011/02/25/3149267.htm">ABC The Drum &#8211; Liar, liar, shock jocks on fire</a></dt>
<dd class="delicious-extended">Glad some people are finally working up the guts to call people like Alan Jones out. They&#039;re the Becks and Limbaughs of Aussie radio.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/australia">australia</a> <a href="http://www.delicious.com/rubenerd/radio">radio</a> <a href="http://www.delicious.com/rubenerd/politics">politics</a> <a href="http://www.delicious.com/rubenerd/fauxnews">fauxnews</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.etsy.com/listing/68222979/hipster-bingo">Hipster Bingo by HipsterBingo on Etsy</a></dt>
<dd class="delicious-extended">Hipsters have co-opted my style! Well at least some of it, I can count a few of these as being things I am/have/are! But I&#039;m not a hipster, don&#039;t worry.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/funny">funny</a> <a href="http://www.delicious.com/rubenerd/hipster">hipster</a> <a href="http://www.delicious.com/rubenerd/bingo">bingo</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.airliners.net/photo/United-Airlines-(Continental/Boeing-767-224-ER/1871127/&amp;sid=ee7f9ee7918d03eecf21c3d75ca6bd5c">Photos: Boeing 767-224/ER Aircraft Pictures | Airliners.net</a></dt>
<dd class="delicious-extended">The &quot;UNITED&quot; lettering on the 767 is far more balanced in this scheme than the 747.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/airliners.net">airliners.net</a> <a href="http://www.delicious.com/rubenerd/photos">photos</a> <a href="http://www.delicious.com/rubenerd/design">design</a> <a href="http://www.delicious.com/rubenerd/aviation">aviation</a> <a href="http://www.delicious.com/rubenerd/boeing767">boeing767</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.airliners.net/photo/United-Airlines/Boeing-747-422/1872040/L/">Photos: Boeing 747-422 Aircraft Pictures | Airliners.net</a></dt>
<dd class="delicious-extended">I&#039;m (clearly!) in the minority of people who think the combined United/Continental livery looks really classy, especially on this airframe. The titles are far too small on the 747 though.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/airliners.net">airliners.net</a> <a href="http://www.delicious.com/rubenerd/photos">photos</a> <a href="http://www.delicious.com/rubenerd/design">design</a> <a href="http://www.delicious.com/rubenerd/aviation">aviation</a> <a href="http://www.delicious.com/rubenerd/boeing744">boeing744</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.economist.com/blogs/banyan/2011/02/taiwan%E2%80%99s_contentious_past">Taiwan’s contentious past: The KMT&#039;s original sin | The Economist</a></dt>
<dd class="delicious-extended">A look into a darker chapter of Taiwanese and KMT history. Worth reading for the comments people have left.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/taiwan">taiwan</a> <a href="http://www.delicious.com/rubenerd/china">china</a> <a href="http://www.delicious.com/rubenerd/history">history</a> <a href="http://www.delicious.com/rubenerd/theeconomist">theeconomist</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.silverf0x.com/?preview_theme=sydney">Share Free WP theme, SEO, personal experience and WE tips</a></dt>
<dd class="delicious-extended">It&#039;s like looking into a time machine! For many years this was what Rubenerd.com looked like before I started using it as a blog. Except mine had green and pink as well ;)</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/wordpress">wordpress</a> <a href="http://www.delicious.com/rubenerd/themes">themes</a> <a href="http://www.delicious.com/rubenerd/design">design</a> <a href="http://www.delicious.com/rubenerd/colour">colour</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://subatomicbrainfreeze.typepad.com/subatomic_brainfreeze/2007/05/costcutting_in_.html">Subatomic Brainfreeze: Cost-cutting in Anime: How To and How Not To</a></dt>
<dd class="delicious-extended">Lamenting the &quot;demise&quot; of anime quality… again?</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/gurrenlagann">gurrenlagann</a> <a href="http://www.delicious.com/rubenerd/anime">anime</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.iconspedia.com/icon/coffee-machine-4660.html">Coffee machine Icon | Download Office space icons | IconsPedia</a></dt>
<dd class="delicious-extended">A cute little coffee machine icon</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/icons">icons</a> <a href="http://www.delicious.com/rubenerd/graphics">graphics</a> <a href="http://www.delicious.com/rubenerd/design">design</a> <a href="http://www.delicious.com/rubenerd/art">art</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://itmanagement.earthweb.com/erp/article.php/3308621/IBM-X40-ThinkPad-Makes-the-Weight-Worthwhile.htm">IBM X40 ThinkPad Makes the &#039;Weight&#039; Worthwhile — Datamation.com</a></dt>
<dd class="delicious-extended">That headline is just awful ;)</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/hardware">hardware</a> <a href="http://www.delicious.com/rubenerd/retro">retro</a> <a href="http://www.delicious.com/rubenerd/thinkpad">thinkpad</a> <a href="http://www.delicious.com/rubenerd/x40">x40</a> <a href="http://www.delicious.com/rubenerd/ibm">ibm</a>)<p></p></dd>
</dl> 
