---
title: 'Mac Pro not seeing a SCSI-USB Jaz drive' 
date: "2011-06-28T04:23:27+10:00"
year: "2011"
category: Hardware 
tag:
- infocomm
- iomega
- jaz-drive
- nagato-yuki
- nostalgia
- pointless-anime-reference
- postaday2011
- retro
location: sydney
---

<p><img src="https://rubenerd.com/files/2011/using-a-jaz-drive-with-a-mac-pro_5879878128_o@1x.jpg" alt="Using a Jaz drive with a Mac Pro" srcset="https://rubenerd.com/files/2011/using-a-jaz-drive-with-a-mac-pro_5879878128_o@1x.jpg 1x, https://rubenerd.com/files/2011/using-a-jaz-drive-with-a-mac-pro_5879878128_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>
<p>Given my Snow Leopard Mac Pro doesn&#39;t have a SCSI card, I dusted off my old Iomega SCSI to USB bridge cable to extract my old data from disks. Turns out System Profiler.app sees the cable, but not the Jaz drive or the disks!</p>
<h3>System Profiler.app</h3>
<pre>SCSI-to-USB Cable:

Product ID:             0x0040
Vendor ID:              0x059b  (Iomega Corporation)
Version:                1.00
Serial Number:          04
Speed:                  Up to 12 Mb/sec
Manufacturer:           Iomega
Location ID:            0x00100000
Current Available (mA): 500
Current Required (mA):  2</pre>
<h3>Rambling commentary</h3>
<p>Iomega&#39;s <a href="https://iomega-na-en.custhelp.com/app/answers/detail/a_id/18731">support article 18731 from 2007</a> suggests that IomegaWare is no longer nessisary with Mac OS X 10.3 and up, though I assume that&#39;s while using a SCSI cable and not a bridge. A <a href="http://www.welovemacs.com/scsicards.html">dedicated SCSI card</a> might work, and would no doubt be faster than using a USB 1.0 bridge cable, but that obviously would cost far more. Perhaps I&#39;ll need to fire up my Windows 2000 VMware Fusion VM and install IomegaWare into that to get my data.</p>
<p>I grew up in primary school using Zip disks and in high school with Jaz disks, and am eager to retrieve my data from them before they start to decay or get damaged. A few of my Zip disks are unsalvageable, but from experience Jaz disks were much faster and more reliable than Zip disks so I&#39;m hoping time is more on my side. Insert commentary about the Click of Death here!</p>
<p>I also just learned my old man has a disk of financial data he needs read. There&#39;s something about storing a couple of 300KiB spreadsheet files on a 1GB Jaz disk that is just too hilarious for words!</p>
<p>As for Yuki, for some reason I just started taking pictures of computer hardware with her in them, and I&#39;ve kept the tradition alive :). Given her character in the Haruhi series, it made sense. ^_^</p>
 
