---
title: 'Making sense of LibreOffice' 
date: "2011-03-22T06:32:46+10:00"
year: "2011"
category: Software
tag:
- ibm-lotus-symphony
- infocomm
- libreoffice
- openofficeorg
- oracle
- postaday2011
- super-detailed-diagram 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/diagram.ooo.png" alt="Diagram showing the convoluted history of LibreOffice." style="height:242px; width:429px;" class="transparent" /></p>

<p>Have I missed anything? Feel free to correct :)</p>
 
