---
title: 'Michael Franks’ Time Together album is out!' 
date: "2011-06-16T09:37:13+10:00"
year: "2011"
category: Media
tag:
- jazz
- michael-franks
- music
- postaday2011
- time-together 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/photo.michaelfranks.timetogether.jpg" alt="Cover of Michael Franks' latest album, Time Together" style="height:374px; width:420px;" /></p>
<p>I&#39;m unreasonably excited! And the art is beautiful! From the official mailing list:</p>
<blockquote><p>Hi Everyone,</p>
<p>Michael’s new album, &quot;Time Together,&quot; was officially released officially yesterday. It is available online from most retailers including Amazon.com as well as in music stores around the country. Digital downloads are available from most services including iTunes.</p></blockquote>
<p>Michael Franks has been my favourite singer/songwriter since before I could walk; my beautiful late mum passed on her enthusiasm of his offbeat, interesting and just a little cheeky lyrics and unmistakable smooth jazz sounds. This will be the first of his albums we won&#39;t be sharing together, though I&#39;d like to think she approves that I&#39;m carrying on the family tradition :&quot;).</p>
<p>I just ordered his album on CD so I can rip it as FLAC and Apple Lossless. They estimate shipping to take two weeks; I hope I can survive that long without it! I suppose I could buy a few digital download tracks, just to keep me going, right?</p>
