---
title: 'Hi mumster, checking in again' 
date: "2011-12-23T05:41:15+10:00"
year: "2011"
category: Thoughts 
tag: 
- debra-ross
- debra-schade
- family
- peace
- flickr-photos
- personal
- postaday2011 
location: sydney
---
<p><img src="https://rubenerd.com/files/2011/3509540425_18aca17ea5_o@1x.jpg" srcset="https://rubenerd.com/files/2011/3509540425_18aca17ea5_o@1x.jpg 1x, https://rubenerd.com/files/2011/3509540425_18aca17ea5_o@2x.jpg 2x" alt="Me and mummy in 2006" style="width:500px; height:334px;" /></p>

<p>To my beautiful, friendly, cheeky, brilliantly talented, witty, trolling, free spirited best friend and mum who suddenly lost the battle four years ago today. I still feel your glamourously fabulous cane with Christmas lights wound around it hitting me on the head when I say something particularly nerdy or stupid, or when I sing Dean Martin off key, or when I start to doubt myself.</p>
<p>I miss you so much it hurts, but you&#39;re still my rock and in all my thoughts. I love you &lt;3</p>
 
