---
title: 'My dream house'
date: "2011-07-26T07:56:55+10:00"
year: "2011"
category: Travel
tag: 
- australia
- bob
- boston
- canada
- dublin
- ireland
- kuala-lumpur
- personal
- perth
- postaday2011
- singapore 
- united-states
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/screenie.bob.pmliving.png" alt="" style="height:310px; width:500px;" /></p>
<blockquote><p>Topic #198: Describe your dream house.  Where is it? What rooms does it have? How would you design the floorplan? Would you do in the layout and style of the house if there were no restrictions on expense or location?</p></blockquote>
<p>I&#39;ve had enough to discuss that I haven&#39;t needed to consult the WordPress team&#39;s <a href="//rubenerd.com/tag/postaday2011">Post A Day 2011</a> challenge site, but <a href="https://dailypost.wordpress.com/2011/07/24/describe-your-dream-house/">this suggestion</a> was just too cool to pass up!</p>
<h3>Das ist Schade Haus</h3>
<p>We have a terribly unfortunate German last name! But I digress. Before we attempt to answer this terribly fun question, it it would serve us well to define what they mean by house specifically. According to <a href="https://secure.wikimedia.org/wikipedia/en/wiki/Dictionary_%28software%29">Dictionary.app</a> on my Mac:</p>
<blockquote><p>house <strong>noun |hous|</strong> a building for human habitation, esp. one that is lived in by a family or small group of people.</p></blockquote>
<p>If they’re referring to a free standing structure on its own plot of land I’m out of luck, but if we use this more liberal interpretation then I can talk about it!</p>
<p>Fact is, having grown up in houses and apartments, I far prefer the latter. They’re usually in more convenient places, meaning commuting time is far less. They take far less maintenance. If you’re lucky, you can get a really great view. In large cities with urban sprawl, they’re more sustainable. I find suburbia depressing. But enough of that!</p>
<p><a style="border:0px;" href="http://en.wikipedia.org/wiki/File:Singapore_Panorama_v2.jpg"><img src="https://rubenerd.com/files/uploads/500px-Singapore_Panorama_v2.jpg" alt="Singapore panorama by SomeFormOfHuman on Wikipedia" style="height:237px; width:500px;" /></a></p>
<h3>Okay fine, what’s your dream dwelling?</h3>
<p>I’m a simple person, the following would suit me just fine:</p>
<dl>
<dt style="font-weight:bold;">A fancy apartment, not a condominium</dt>
<dd>I lived in rich expat condominiums in Singapore growing up, and I can count the number of times I used the pools, tennis courts and other facilities on one hand. Not to mention I always felt as though I wasn’t dressed for the occasion when I’d enter the foyers, public transport card in hand, my colourful backpack with badges on it and a smile and a handshake for the tired security guards who usually get ignored. A nice apartment would suit me just fine.<p></p></dd>
<dt style="font-weight:bold;">Small, but not tiny</dt>
<dd>I’m not as bad as my old man, but I hoard stuff. Those giant expat houses and apartments enabled this bad habit to an extreme. A small (but not tiny) place would force me to collect less junk, and to help me live within my means. Our tiny new house in Sydney has already helped my family with this, so it shows it’s possible!<p></p></dd>
<dt style="font-weight:bold;">Efficient furniture</dt>
<dd>I suppose this is related to small, but having less space would really encourage creativity in making the most efficient use of space. I absolutely love looking through IKEA and coffee table design books at all their ideas.<p></p></dd>
<dt style="font-weight:bold;">Colourful Microsoft Bob-iness</dt>
<dd>I’ll admit it, I had an obsession with that program growing up, and loved the colourful and futuristic design of their Postmodern rooms; they’re the source of the screenshots you see here. I want it to look like that!<p></p></dd>
<dt style="font-weight:bold;">Good connectivity</dt>
<dd>One other advantage of apartments is they’re often wired up with cable TV connections. I don’t watch TV, but I sorely miss my cable internet and would love to have it again! I’d also love two separate phone lines for voice and fax/data, and some of that flexible but more stylish wall tubing that could be used to wire through some Cat6 goodness, clean up cable clutter and allow for future upgrading. Finally, plenty of powerpoints.<p></p></dd>
<dt style="font-weight:bold;">Close to public transport</dt>
<dd>But not too close that I can still hear trains with double glazed windows! If I were living in the centre of town though, being near an underground metro style station would be schweet.<p></p></dd>
<dt style="font-weight:bold;">Frasier-esque view</dt>
<dd>In our first apartment in Singapore we had a view of almost the whole city skyline from our loungeroom window, in our second I had an amazing view of a park from my bedroom. Either would suit me just fine!</dd>
</dl>
<p><img src="https://rubenerd.com/files/uploads/screenie.bob.pmkitchen.png" alt="Microsoft Bob's Postmodern Kitchen" style="height:355px; width:500px;" /></p>
<h3>Location</h3>
<p>Ultimately though while all of this would be wonderful, for me it&#39;s not so much <strong>what</strong> my dream apartment would be, but rather <strong>where</strong> it would be. I&#39;ve realised Singapore is my <em>de facto</em> home, but having never lived in the same place for more than few years has rendered the idea of settling down somewhere permanently absolutely terrifying!</p>
<p>Therefore I&#39;d trade a gigantic apartment of opulent decadence for smaller ones in lots of places!</p>
<dl>
<dt style="font-weight:bold;">Singapore</dt>
<dd>I’d be happy with an HDB. Seriously! Somewhere in a newer estate near an MRT station and friendly aunties and uncles next door would be just wonderful. That said, I wouldn’t be adverse to a fancier place in Outram Park, just saying :).<p></p></dd>
<dt style="font-weight:bold;">Perth</dt>
<dd>It’s a long way from the rest of the country… a blessing in many ways! It’s also easily my favourite Australian city, and it’s the same timezone as Singapore and only a four hour flight away! And they have DOME!<p></p>
<p><a style="border:0px;" href="http://www.wolframalpha.com/input/?i=perth+singapore"><img class="transparent" src="https://rubenerd.com/files/uploads/diagram.wa.perthsg.png" alt="" style="height:230px; width:300px;" /></a></p></dd>
<dt style="font-weight:bold;">Dublin</dt>
<dd>My sister’s and my favourite city in Europe. Beautiful place, super friendly people, and easy access to the rest of Europe. Would love to show solidarity given all this bullsh*t economic hitman-ism. A close second would be Munich, and third Frankfurt am Main. <em>Es ist gut so!</em><p></p></dd>
<dt style="font-weight:bold;">Damansara</dt>
<dd>I don’t see myself staying there for too much of the year, but it grew on me living in Kuala Lumpur for a couple of years and I’m a hopelessly nostalgic fool!<p></p></dd>
<dt style="font-weight:bold;">Toronto, BC</dt>
<dd>Haven’t been there personally, but would be my base for visiting friends in Canada, Alaska and the Lower 48. If it had to be in the US, I’d love a pad in Portland, OR, or Boston, MA.<p></p></dd>
<dt style="font-weight:bold;">Kyoto</dt>
<dd>Haven’t been there personally either, but my old man claims it’s the most beautiful place in East Asia, and judging from his photos I can agree with him. Would be great base for visiting friends in Japan and Korea! Ooh, a place in Seoul overlooking the Han River or the redone Cheonggyecheon would be great too. Wow, this list is just getting ridiculous!<p></p></dd>
<dt style="font-weight:bold;">Vulcan</dt>
<dd>In the original Star Trek timeline of course! I imagine it would be a delightfully tranquil and lucid place to spend some time meditating and programming.</dd>
</dl>
<p><a style="border:0px;" href="http://www.wolframalpha.com/input/?i=perth+singapore+%22kuala+lumpur%22+kyoto+dublin+toronto"><img class="transparent" src="https://rubenerd.com/files/uploads/map.favplaces.png" alt="Map of the above places." style="height:228px; width:450px;" /></a></p>
<p>I suppose all that would be left would be to have a flexible enough telecommuting job that I could do from anywhere, though I suppose that&#39;s outside the scope of the original WordPress team&#39;s question!</p>
 
