---
title: 'NASA in 2011' 
date: "2011-07-09T06:13:25+10:00"
year: "2011"
category: Thoughts 
tag: 
- flickr-photos
- nasa
- peace
- postaday2011
- space 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/logo.nasa.png" alt="NASA" style="width:320px; height:274px;" class="transparent" /></p>
<p>Atlantis launched this morning, and the Space Shuttle program were a symbol of America&#39;s scientific prestige, of yesterday. It&#39;s all been said already, but I want to go on record too.</p>
<h3>Then</h3>
<p>After World War II, the Soviets and Americans developed their respective (and initially German derived) rocket technologies to target each other as ICBMs, not the stars. With the launch of Sputnik and the resulting achievement it had in capturing people&#39;s minds and imaginations (and the propaganda potential it had), the Space Race began in earnest. Within two decades, the Soviets had launched a satellite and placed a man in space, and the Americans had put men on the moon.</p>
<p>The Space Shuttle was an attempt starting in the 1970s to develop a reusable launch craft. Six were built in total, and from the 1980s to this morning, they carried out 135 successful missions. Two ended with the deaths of 14 brave astronauts, and their sacrifice has not been forgotten.</p>
<p><img src="https://rubenerd.com/files/2011/5915301679_d4fe583815_o@1x.jpg" srcset="https://rubenerd.com/files/2011/5915301679_d4fe583815_o@1x.jpg 1x, https://rubenerd.com/files/2011/5915301679_d4fe583815_o@2x.jpg 2x" alt="STS-135 Last Shuttle Launch by Robert Scoble, on Flickr" style="width:333px; height:500px;" /></p>
<p style="font-style:italic">(Photo by Robert Scoble, <a href="https://plus.google.com/111091089527727420853/posts/h3RAwEgMYe9">viewed on Google+</a> moments after the launch and later on <a title="End of an era in technology (the world’s most awesome tweetup)" href="http://scobleizer.com/2011/07/08/end-of-an-era-in-technology-the-worlds-most-awesome-tweetup/">his blog</a>. Thank you for the Creative Commons licence Robert, and for sharing the experience).</p>
<p>Once the symbol of what the <em>&quot;Free World&quot;</em> can accomplish, in 2011 we find ourselves with a battered and crumbing United States. While the rich continue to reap the benefits of their congressional puppets, the rest of the economy is in shambles. A decade of pointless wars and two cowardly presidents refusing to end them has bankrupted their government, leaving little for programs that help people, let alone advancing scientific and medical research.</p>
<h3>Now</h3>
<p>The Space Shuttle program ended this morning, and along with it any permanent plan for Americans to regularly launch manned space missions. I wasn&#39;t as upset at the end of the shuttles themselves as I was of this fact.</p>
<p>Of course this doesn&#39;t mean the end of space exploration in our lifetimes, other countries are stepping up to the plate and filling the vacuum of imagination. The Russians can continue to launch Americans into space, and there&#39;s no doubt the Chinese will be sending their own people up. As far as I know the ESA and JAXA are also continuing to receive funding.</p>
<p>I&#39;m also confident that with a forward thinking government, America can regain what she&#39;s lost here. We have the technology, expertise, financing, imagination and love in the world to feed, educate, house and employ everyone, and give them all internet access so they can watch our astronauts land on Mars and other places in the heavens. I fundamentally believe this, and I&#39;m not often this blunt, but if you don&#39;t agree, you&#39;re Wrong&#8482;. </p>
<p>Now if you&#39;ll excuse me, I&#39;m off to read those massive photo coffee table space books my parents bought me when I was a kid.</p>
 
