---
title: 'New Zealand, Africa, Middle East' 
date: "2011-02-22T05:50:16+10:00"
year: "2011"
category: Thoughts 
tag: 
- africa
- middle-east
- natural-disasters
- new-zealand
- news
- postaday2011
- shorts 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/blog.icon.new%20zealand.140px.png" alt="Flag of New Zealand." style="height:128px; width:128px; float:right; margin:0 0 10px 10px;" class="transparent" /></p>
<p>Revolutions, unrest and violence in Northern Africa and the Middle East, and now news of a huge earthquake and not one but nine aftershocks in Christchurch before they&#39;ve even had enough time to recover from their last quake. Jeepers.</p>
<p>Sending positive thoughts, for whatever that&#39;s worth.</p>
<p>Also helps to put our own problems into perspective, doesn&#39;t it?</p>
 
