---
title: 'An ode to HP desktops and PDAs' 
date: "2011-08-20T08:59:33+10:00"
year: "2011"
category: Hardware 
tag:
- business
- compaq
- flickr-photos
- hp
- hp-620lx
- hp-brio-bax
- infocomm
- postaday2011 
location: sydney
---
<p><img src="https://rubenerd.com/files/2011/1422425464_e5b6910c62_o@1x.jpg" srcset="https://rubenerd.com/files/2011/1422425464_e5b6910c62_o@1x.jpg 1x, https://rubenerd.com/files/2011/1422425464_e5b6910c62_o@2x.jpg 2x" alt="HP 620LX 1997 vintage" style="width:500px; height:375px;" /></p>
<p>When I went to bed last night, HP were still making computers and webOS devices. A lot can happen in one night!</p>
<h3>Then rhymes with &quot;Gwen&quot;</h3>
<p>See what I did there?</p>
<p><img src="https://rubenerd.com/files/uploads/gwen-hp.JPG" alt="" style="height:210px; width:400px;" /></p>
<p>I don&#39;t know exactly when this started, but lately I&#39;ve prefaced most of my blog posts with rambling bouts of nostalgia punctured with lame attempts at humour, then signed off with a submissive &quot;but I digress&quot; before launching into the meat of the matter. This post will be no different.</p>
<p>My first experience with HP was a year before I got my first iMac DV in the late 1990s. The 200MHz Pentium MMX machine we&#39;d built at Funan Centre was starting to show its age (though ironically it&#39;s outlasted ever other machine I&#39;ve ever built and still runs even now!) and we were on the lookout for something new. Out of the blue at COMEX in Singapore, HP were having a sale on the <a href="http://h20000.www2.hp.com/bizsupport/TechSupport/Home.jsp?locale=en_US&amp;prodTypeId=12454&amp;prodSeriesId=32896">Brio BAx line of business desktops</a>, and we snagged one.</p>
<p>Compared to the ugly, overly plastic boxes the Pavilion desktops came in, the Brio line looked rather smart with its simple lines and slight curves at the front. The machine had a blazingly fast 450MHz Pentium III (or <em>&quot;Pentium !!!&quot;</em> if you took their marketing seriously), a 8.4GB Seagate hard drive and 128MiB of PC133 memory. Because it was technically a business machine it only had onboard graphics, but it was all someone like me needed, particularly when I spent most of my time in an editor hacking away at my latest favourite programming language and only briefly stopping for some SimCity 3000.</p>
<p><img src="https://rubenerd.com/files/uploads/001590c3_medium.jpg" alt="Borland C++ Builder in 21 days" style="height:247px; width:200px;" /> <img src="https://rubenerd.com/files/uploads/photo.briobax.crappy.png" alt="HP Brio BAx" style="height:150px; width:200px;" class="transparent" /></p>
<p>Cooler still was what came with it. It happened to be the first computer I owned that came with a CD burner, and a gigantically massive 17&quot; display instead of the crusty 14.5 I&#39;d been using as a loaner from our original 486 machine from 1991! It was also a fateful machine in that it was the first one I tried Red Hat Linux on back in the day, but that&#39;s for another post :).</p>
<p>The only other piece of HP hardware I had from that time was a so-called &quot;handheld PC&quot; Given I was still a kid, my dad didn&#39;t trust that I wouldn&#39;t drop a laptop, so he bought me this little HP 620LX Windows CE 2.0 device for my birthday one year. For family trips overseas where we&#39;d be away from my beloved desktop, this little machine let me keep programming and tinkering :). As of today, aside from a vertical cyan coloured stripe across one side of the screen, it still works!</p>
<h3>Today rhymes with &quot;away&quot;</h3>
<p>So now we finally come back to the present. Hewlett Packard, one of the original icons of technoligical innovation and progress, has had a troubled recent history. Carly Fiorina&#39;s acquisition of Compaq gave them the server hardware and expertise they wanted, but also a legacy of race to to the bottom hardware.</p>
<p>In trying to be Dell, they only hastened the demise of their personal computer unit. Their <em>&quot;The Computer is Personal Again&quot;</em> campaign was embarrassing, couldn&#39;t shake off their reputation for being a business company, and fell on deaf ears as creative professionals and those really looking for Something Different fled to Apple.</p>
<p><img src="https://rubenerd.com/files/uploads/photo.touchpad.jpg" alt="Photos showing webOS devices." style="width:411px; width:280px;" class="transparent" /></p>
<p>On the mobile side, their acquisition of the troubled Palm didn&#39;t reverse their fortunes either. webOS, in my opinion the finest mobile operating system on the market today, was doomed from the start by slow hardware, <em>face-palmingly poor</em> marketing and a strategic position that none of us understood. It wasn&#39;t much cheaper than the also vertically integrated iPhone, didn&#39;t offer the breadth of devices of Android, and was only sold in a few select markets.</p>
<p>While for my own personal reasons I&#39;m disappointed in the latter, from a business perspective it makes sense for HP to do this. Junky desktops and laptops simply aren&#39;t profitable anymore, and their webOS devices always seemed like an odd fit for an enterprise company who&#39;s only other consumer focused devices were high end calculators.</p>
<p>I&#39;ll be interested to see where they go from here. I suggest they do some Invent-ing.</p>
<p>Now if you&#39;d excuse me, I&#39;m off to mirror their site with httrack. I&#39;m a sucker for nostalgia, not that you&#39;d know.</p>
<p><img src="https://rubenerd.com/files/uploads/desktop.hp.jpg" alt="HP desktop background" style="height:313px; width:500px;" /></p>
 
