---
title: '@OliYoung on WebM' 
date: "2011-01-13T07:43:56+10:00"
year: "2011"
category: Software
tag:
- browsers
- google
- google-chrome
- infocomm
- postaday2011
- shorts
- video
- webm 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/screenie.oliyoung.webv.png" alt="Things I love: open source zealots claiming we can 'just use ffmpeg' to encode WebM" style="height:162px; width:369px;" class="transparent" /></p>

<p><a href="https://twitter.com/oliyoung/status/25437051528679424">Exactamondo</a>. When real video production tools start supporting it, and when its own patent issues are resolved, I really hope it can be used eventually. Until then, Google is asking us to adopt a codec that still has training wheels, exclusively.</p>
 
