---
title: 'Photo expedition: early evening leaf things' 
date: "2011-06-22T09:35:35+10:00"
year: "2011"
category: Media
tag:
- australia
- photos
- postaday2011
- sunset
- sydney 
location: sydney
---
<p><a href="https://www.flickr.com/photos/rubenerd/5859686186/" title="Late evening leaves by rubenerd, on Flickr"><img src="http://farm6.staticflickr.com/5181/5859686186_51337e8be5.jpg" width="500" height="334" alt="Late evening leaves"></a></p>
<p>In hindsight I should have used ISO 800 instead of 1600 and one of my faster lenses, but given I finally have a <a title="Tuesday 21st June 2011: A cheap solution for my Nikon D60 battery?" href="//rubenerd.com/nikon-d60-cameragrip/">working battery</a> on my D60 now, on a whim I headed down to the park adjacent to Sydney Airport and just shot some stuff. I could have phrased that better, particularly given you&#39;re not supposed to make jokes about airport security near airports.</p>
<p>Enjoy :)</p>

<p><img src="https://rubenerd.com/files/2011/late-evening-leaves_5859134411_o@1x.jpg" alt="Late evening leaves" srcset="https://rubenerd.com/files/2011/late-evening-leaves_5859134411_o@1x.jpg 1x, https://rubenerd.com/files/2011/late-evening-leaves_5859134411_o@2x.jpg 2x" style="width:250px; height:167px;" /><img src="https://rubenerd.com/files/2011/wavelets_5859136625_o@1x.jpg" alt="Wavelets" srcset="https://rubenerd.com/files/2011/wavelets_5859136625_o@1x.jpg 1x, https://rubenerd.com/files/2011/wavelets_5859136625_o@2x.jpg 2x" style="width:250px; height:167px;" /></p>

<p><img src="https://rubenerd.com/files/2011/blue-sky_5859135353_o@1x.jpg" alt="Blue sky" srcset="https://rubenerd.com/files/2011/blue-sky_5859135353_o@1x.jpg 1x, https://rubenerd.com/files/2011/blue-sky_5859135353_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>

<p><img src="https://rubenerd.com/files/2011/blue-and-orange_5859685710_o@1x.jpg" alt="Blue and orange" srcset="https://rubenerd.com/files/2011/blue-and-orange_5859685710_o@1x.jpg 1x, https://rubenerd.com/files/2011/blue-and-orange_5859685710_o@2x.jpg 2x" style="width:500px; height:335px;" /></p>
 
