---
title: 'Photos across the Sydney Harbour Bridge' 
date: "2011-07-11T01:04:10+10:00"
year: "2011"
category: Media
tag:
- photos
- postaday2011
- sydney
- sydney-harbour-bridge
- sydney-opera-house 
location: sydney
---
<p><img src="https://rubenerd.com/files/2011/south-sydney-skyline_5921999894_o@1x.jpg" alt="South Sydney Skyline" srcset="https://rubenerd.com/files/2011/south-sydney-skyline_5921999894_o@1x.jpg 1x, https://rubenerd.com/files/2011/south-sydney-skyline_5921999894_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>

<p>It&#39;s been a year since my sister, old man and I <a title="Nighttime Sydney out our window" href="//rubenerd.com/sydney-out-window-night/">moved to Sydney</a> after <a  href="//rubenerd.com/goodbye-singapore/" title="Goodbye Singapore">living in Singapore and Malaysia</a> since the mid 1990s. To celebrate, I went on an <em>unabashedly touristy</em> photo trip across the Sydney Harbour Bridge and around Kirribilli.</p>

<h3>On and around the bridge</h3>

<p><img src="https://rubenerd.com/files/2011/sydney-opera-house_5921418331_o@1x.jpg" alt="Sydney Opera House" srcset="https://rubenerd.com/files/2011/sydney-opera-house_5921418331_o@1x.jpg 1x, https://rubenerd.com/files/2011/sydney-opera-house_5921418331_o@2x.jpg 2x" style="width:250px; height:167px;" /><img src="https://rubenerd.com/files/2011/sydney-harbour-bridge_5921988230_o@1x.jpg" alt="Sydney Harbour Bridge" srcset="https://rubenerd.com/files/2011/sydney-harbour-bridge_5921988230_o@1x.jpg 1x, https://rubenerd.com/files/2011/sydney-harbour-bridge_5921988230_o@2x.jpg 2x" style="width:250px; height:167px;" /></p>

<p><img src="https://rubenerd.com/files/2011/sydney-opera-house_5921985172_o@1x.jpg" alt="Sydney Opera House" srcset="https://rubenerd.com/files/2011/sydney-opera-house_5921985172_o@1x.jpg 1x, https://rubenerd.com/files/2011/sydney-opera-house_5921985172_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>

<p><img src="https://rubenerd.com/files/2011/sydney-harbour-bridge_5921988972_o@1x.jpg" alt="Sydney Harbour Bridge" srcset="https://rubenerd.com/files/2011/sydney-harbour-bridge_5921988972_o@1x.jpg 1x, https://rubenerd.com/files/2011/sydney-harbour-bridge_5921988972_o@2x.jpg 2x" style="width:250px; height:167px;" /><img src="https://rubenerd.com/files/2011/bridge-deck_5921425071_o@1x.jpg" alt="Bridge deck" srcset="https://rubenerd.com/files/2011/bridge-deck_5921425071_o@1x.jpg 1x, https://rubenerd.com/files/2011/bridge-deck_5921425071_o@2x.jpg 2x" style="width:250px; height:167px;" /></p>

<p><img src="https://rubenerd.com/files/2011/deck-just-before-the-bridge_5921431755_o@1x.jpg" alt="Deck just before the bridge" srcset="https://rubenerd.com/files/2011/deck-just-before-the-bridge_5921431755_o@1x.jpg 1x, https://rubenerd.com/files/2011/deck-just-before-the-bridge_5921431755_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>

<p><img src="https://rubenerd.com/files/2011/flags-above-the-bridge_5921426205_o@1x.jpg" alt="Flags above the bridge" srcset="https://rubenerd.com/files/2011/flags-above-the-bridge_5921426205_o@1x.jpg 1x, https://rubenerd.com/files/2011/flags-above-the-bridge_5921426205_o@2x.jpg 2x" style="width:250px; height:167px;" /><img src="https://rubenerd.com/files/2011/sydney-cbd_5921427357_o@1x.jpg" alt="Sydney CBD" srcset="https://rubenerd.com/files/2011/sydney-cbd_5921427357_o@1x.jpg 1x, https://rubenerd.com/files/2011/sydney-cbd_5921427357_o@2x.jpg 2x" style="width:250px; height:167px;" /></p>

<p><img src="https://rubenerd.com/files/2011/deck-just-before-bridge_5921998218_o@1x.jpg" alt="Deck just before bridge" srcset="https://rubenerd.com/files/2011/deck-just-before-bridge_5921998218_o@1x.jpg 1x, https://rubenerd.com/files/2011/deck-just-before-bridge_5921998218_o@2x.jpg 2x" style="width:250px; height:167px;" /><img src="https://rubenerd.com/files/2011/sydney-opera-house_5921999004_o@1x.jpg" alt="Sydney Opera House" srcset="https://rubenerd.com/files/2011/sydney-opera-house_5921999004_o@1x.jpg 1x, https://rubenerd.com/files/2011/sydney-opera-house_5921999004_o@2x.jpg 2x" style="width:250px; height:167px;" /></p>

<h3>Around Kirribilli</h3>

<p><img src="https://rubenerd.com/files/2011/quiet-street-in-kirrbilli_5921994984_o@1x.jpg" alt="Quiet street in Kirrbilli" srcset="https://rubenerd.com/files/2011/quiet-street-in-kirrbilli_5921994984_o@1x.jpg 1x, https://rubenerd.com/files/2011/quiet-street-in-kirrbilli_5921994984_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>

<p><img src="https://rubenerd.com/files/2011/kirribilli-street-sign_5921993926_o@1x.jpg" alt="Kirribilli street sign" srcset="https://rubenerd.com/files/2011/kirribilli-street-sign_5921993926_o@1x.jpg 1x, https://rubenerd.com/files/2011/kirribilli-street-sign_5921993926_o@2x.jpg 2x" style="width:250px; height:167px;" /><img src="https://rubenerd.com/files/2011/old-terrace-houses-in-kirribilli_5921430109_o@1x.jpg" alt="Old terrace houses in Kirribilli" srcset="https://rubenerd.com/files/2011/old-terrace-houses-in-kirribilli_5921430109_o@1x.jpg 1x, https://rubenerd.com/files/2011/old-terrace-houses-in-kirribilli_5921430109_o@2x.jpg 2x" style="width:250px; height:167px;" /></p>

<p>Aside from the cold, the weather could not have been better, and the colour of the water was absolutely stunning. Had a great time :).</p>
 
