---
title: 'QEMU 1.0 failing to build on Mac OS X?' 
date: "2011-12-07T12:17:55+10:00"
year: "2011"
category: Software
tag:
- errors
- infocomm
- mac-os-x
- postaday2011
- qemu 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/screenie.qemu10.pcdos2000.png" alt="PC DOS 2000 running in QEMU." style="height:165px; width:500px;" /></p>

<p>If QEMU 1.0 fails to build on Mac OS X (as I <a title="Sunday 04th December 2011: Building and running QEMU 1.0 on Mac OS X" href="//rubenerd.com/qemu-1-macosx/">described on Sunday</a>), you may be attempting to do it on a case-insensitive file system, like I just tried to do!</p>

<p>If you&#39;re installing QEMU on a case-insensitive file system, you&#39;ll need to modify the <code>./fpu/softfloat.h</code> header file. Apply the <a href="http://patchwork.ozlabs.org/patch/123112/">patch from here</a>, or simply open the file and add the following lines:</p>

56 typedef uint8_t flag;
57 typedef uint8_t uint8;
58 typedef int8_t int8;
59 #ifndef _AIX
60 <strong>#if !(defined(__APPLE__) &#038;&#038; defined(_UINT16))</strong>
61 <strong>typedef int uint16;</strong>
62 <strong>#endif</strong>
63 typedef int int16;
64 #endif
</pre>

<p>It should build without problems now, you unsigned integer you. </p>
 
