---
title: 'Rapture is nigh! Give to @i2yh and @Rubenerd!' 
date: "2011-05-20T09:47:11+10:00"
year: "2011"
category: Thoughts 
tag: 
- into-your-head
- neal-ocarroll
- nonsense
- postaday2011
- rapture 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/graphic.i2yh.donate.jpg" alt="Screenshot from Into Your Head, inviting us to finance a new third season of 100 Uniqely Hilarious Daily Breakfast Shows" style="width:500px;height:115px;" /></p>
<p>For those of you living under a rock with a cavity large enough to conceal your entire frame of reference (see what I did there?) and are unaware, there are those who have predicted The Rapture will be coming tomorrow, and those who have lived righteously will be taken up to Heaven. Or something.</p>
<p>This works for those who believe, as they get to be with their creator, and it works great for the rest of us because we don&#39;t have to be bothered by their tales of doomsday any more. Sure we&#39;ll have to dodge and weather all the natural disasters that will be unleashed upon us, but fortunately He has given us plenty of practice so far this year, and His diseases and famines have <span style="text-decoration:line-through;">mostly targeted poor people</span> indiscriminately struck enough to let the rest of us know what&#39;s in store.</p>
<h3>It makes sense to give!</h3>
<p>With the end of times in sight, I&#39;m reminded of the old proverb <em>&quot;you don&#39;t always get what you want&quot;</em>. While insightful, <em>&quot;you can&#39;t take it with you&quot;</em> is far more relevant to our discussion at hand, so much so that I don&#39;t even know why I mentioned the first one at all.</p>
<p>When one thinks of raptures and other such prophecies, its natural to apply logic. If you&#39;ve been virtuous, it makes sense to leave your worldly possessions to people like us who&#39;ll be left behind. If you&#39;ve been wicked, now&#39;s your chance to repent! Either way, you are being compelled to give! Here are some options:</p>
<ol>
<li>May I recommend donating all your life savings to the <a href="http://intoyourhead.com/tipjar/">Into Your Head tipjar</a> to support Neal O’Carrol and his Temporarily Almost Daily Breakfast Show. He’s 40% of the way to his goal and needs your heavenly support!<p></p></li>
<li>If you’ve already donated to that, may I suggest buying me a <a href="//rubenerd.com/buy-a-coffee/">cup of coffee</a>. I’ll need all the energy I can muster to run away from firestorms and pestilence, not to mention I’ll have my big leather suitcase and my garment bag and my tenor saxaphone and my twelve-pound bowling ball and my lucky lucky autographed glow-in-the-dark snorkel to <a href="//rubenerd.com/seeing-weird-al-yankovic/">drag along too</a>.</li>
</ol>
<p>If for some unforeseen circumstance aformentioned rapture doesn&#39;t happen, at least we can take a small measure of comfort in the fact those who prophesied this event will never be making predictions again, and will be publically apologising to us for making a mistake and leading us down the wrong path.</p>
 
