---
title: 'The Sydney Rocks Aroma Festival 2011' 
date: "2011-08-01T01:09:01+10:00"
year: "2011"
category: Thoughts 
tag: 
- australia
- coffee
- flickr-photos
- nsw
- personal
- photos
- sydney 
location: sydney
---
<p><img src="https://rubenerd.com/files/2011/5993357207_1d3616015a_o@1x.jpg" srcset="https://rubenerd.com/files/2011/5993357207_1d3616015a_o@1x.jpg 1x, https://rubenerd.com/files/2011/5993357207_1d3616015a_o@2x.jpg 2x" alt="Perfect weather for the day!" style="width:500px; height:334px;" /></p>

<p>To mark our first full year back in Sydney, my sister and I did exactly the <a href="http://twitter.com/rubenerd/statuses/19481334805">same thing</a> we did when we first arrived: go to <a href="http://www.therocks.com/sydney-Things_To_Do-The_Rocks_Aroma_Festival.htm">The Rocks Aroma Festival</a> with the world&#39;s greatest cousin Nim and her epic boyfriend Ben, and drink far too much coffee!</p>

<p>Compared to last years event:</p>

<h3>The weather was warmer</h3>

<p>Or perhaps it just seemed warmer given Elke and I are acclimatised now! That said though, the weather was beautiful, absolutely perfect.</p>

<p><img src="https://rubenerd.com/files/2011/5993913966_e689a59bdc_o@1x.jpg" srcset="https://rubenerd.com/files/2011/5993913966_e689a59bdc_o@1x.jpg 1x, https://rubenerd.com/files/2011/5993913966_e689a59bdc_o@2x.jpg 2x" alt="Did I mention perfect weather?" style="width:250px; height:167px" /><img src="https://rubenerd.com/files/2011/5993920408_f44a04ae87_o@1x.jpg" srcset="https://rubenerd.com/files/2011/5993920408_f44a04ae87_o@1x.jpg 1x, https://rubenerd.com/files/2011/5993920408_f44a04ae87_o@2x.jpg 2x" alt="So many people!" style="width:250px; height:167px;" /></p>

<h3>There was… less coffee</h3>

<p>The Aroma Festival was technically supposed to be about <em>Coffee, Chocolate, Tea, Spices</em>, but last year there seemed to be more of the first, less of the last three. This year we must have wandered around for at least half an hour in the huge crowds before coming across the first coffee shop!</p>

<p><img src="https://rubenerd.com/files/2011/5993361141_1546cf0ff7_o@1x.jpg" srcset="https://rubenerd.com/files/2011/5993361141_1546cf0ff7_o@1x.jpg 1x, https://rubenerd.com/files/2011/5993361141_1546cf0ff7_o@2x.jpg 2x" alt="Danieli Coffee" style="width:250px; height:167px;" /><img src="https://rubenerd.com/files/2011/5993921246_4a897b0188_o@1x.jpg" srcset="https://rubenerd.com/files/2011/5993921246_4a897b0188_o@1x.jpg 1x, https://rubenerd.com/files/2011/5993921246_4a897b0188_o@2x.jpg 2x" alt="Pony Coffee" style="width:250px; height:167px;" /></p>

<h3>The coffee was better</h3>

<p>As we all recalled, last year Nim, Ben and I had several cups of coffee which were less than stellar, and one from a stall which will remain nameless that tasted like burnt plastic! This year we had our favourites, but all were really good!</p>

<p>My personal favourite: Forsyth Coffee. Best taste, friendliest service, and most creative logo! ^_^</p>

<p><img src="https://rubenerd.com/files/2011/5993916906_e07bea8e11_o@1x.jpg" srcset="https://rubenerd.com/files/2011/5993916906_e07bea8e11_o@1x.jpg 1x, https://rubenerd.com/files/2011/5993916906_e07bea8e11_o@2x.jpg 2x" alt="Fortsyth Coffee tent" style="width:250px; height:167px;" /><img src="https://rubenerd.com/files/2011/5993357837_c9b953b2d9_o@1x.jpg" srcset="https://rubenerd.com/files/2011/5993357837_c9b953b2d9_o@1x.jpg 1x, https://rubenerd.com/files/2011/5993357837_c9b953b2d9_o@2x.jpg 2x" alt="Forsyth Coffee logo" style="width:250px; height:167px;" /></p>

<h3>There were more people</h3>

<p>Last year&#39;s event got pretty crowded around lunchtime, but despite making it to the event earlier this year, we often times felt ourselves squeezed on all sides, battling the flow of crowds that were often moving in the opposite direction! In a way such a turnout was fantastic as it ensures the future of the festival is secure… but we could have lived with fewer people in some of the lines ;).</p>

<p><img src="https://rubenerd.com/files/2011/5993350651_be92942204_o@1x.jpg" srcset="https://rubenerd.com/files/2011/5993350651_be92942204_o@1x.jpg 1x, https://rubenerd.com/files/2011/5993350651_be92942204_o@2x.jpg 2x" alt="Many many MANY people!" style="width:250px; height:167px;" /><img src="https://rubenerd.com/files/2011/5993918796_0fd9500ac4_o@1x.jpg" srcset="https://rubenerd.com/files/2011/5993918796_0fd9500ac4_o@1x.jpg 1x, https://rubenerd.com/files/2011/5993918796_0fd9500ac4_o@2x.jpg 2x" alt="People!" style="width:width:250px; height:167px;" /></p>

<h3>Conclusions</h3>

<p>I have university terribly early tomorrow morning, so I wish I could speak more about it. Suffice to say, had a great time with some great company, and can&#39;t wait till next year!</p>

<p>I&#39;ll admit I felt upset being torn away from me <em>de facto</em> home, but Sydney has grown on me, and events like this make me happy :).</p>

<p>To finish, a terribly unflattering photo taken of me having my fourth cup, by Elke!</p>

<p><img src="https://rubenerd.com/files/2011/5993354025_835e4fb932_o@1x.jpg" srcset="https://rubenerd.com/files/2011/5993354025_835e4fb932_o@1x.jpg 1x, https://rubenerd.com/files/2011/5993354025_835e4fb932_o@2x.jpg 2x" alt="Sampling!" style="width:333px; height:500px;" /></p>

