---
title: 'Ruben’s IMDB Top 250' 
date: "2011-04-15T12:15:43+10:00"
year: "2011"
category: Media
tag:
- imdb
- lists
- movies
- pointless
- postaday2011 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/2001-a-space-odyssey-original.jpg" style="height:281px; width:500px;" alt="That famous shot from 2001: A Space Odyssey" /></p>
<p>People are putting up which movies from the IMDB Top 250 they’ve seen. I’ve compiled mine, with smilies for my personal favourites :)</p>
<h3>Where’s Blues Brothers and Star Trek IV!?</h3>
<table>
<tr>
<td style="text-align:right;padding-right:10px;font-weight:bold;">1</td>
<td style="font-style:italic">1994</td>
<td>The Shawshank Redemption <span style="padding-left:5px;font-weight:bold;">^_^</span></td>
</tr>
<tr>
<td style="text-align:right;padding-right:10px;font-weight:bold;">2</td>
<td style="font-style:italic">1972</td>
<td>The Godfather</td>
</tr>
<tr>
<td style="text-align:right;padding-right:10px;font-weight:bold;">3</td>
<td style="font-style:italic">1974</td>
<td>The Godfather: Part II</td>
</tr>
<tr>
<td style="text-align:right;padding-right:10px;font-weight:bold;">5</td>
<td style="font-style:italic">1994</td>
<td>Pulp Fiction</td>
</tr>
<tr>
<td style="text-align:right;padding-right:10px;font-weight:bold;">8</td>
<td style="font-style:italic">2010</td>
<td>Inception <span style="padding-left:5px;font-weight:bold;">^_^</span></td>
</tr>
<tr>
<td style="text-align:right;padding-right:10px;font-weight:bold;">11</td>
<td style="font-style:italic">1980</td>
<td>Star Wars: Episode V &#8211; The Empire Strikes Back</td>
</tr>
<tr>
<td style="text-align:right;padding-right:10px;font-weight:bold;">12</td>
<td style="font-style:italic">2003</td>
<td>The Lord of the Rings: The Return of the King</td>
</tr>
<tr>
<td style="text-align:right;padding-right:10px;font-weight:bold;">16</td>
<td style="font-style:italic">1977</td>
<td>Star Wars: Episode IV &#8211; A New Hope</td>
</tr>
<tr>
<td style="text-align:right;padding-right:10px;font-weight:bold;">17</td>
<td style="font-style:italic">1942</td>
<td>Casablanca</td>
</tr>
<tr>
<td style="text-align:right;padding-right:10px;font-weight:bold;">19</td>
<td style="font-style:italic">2001</td>
<td>The Lord of the Rings: The Fellowship of the Ring</td>
</tr>
<tr>
<td style="text-align:right;padding-right:10px;font-weight:bold;">23</td>
<td style="font-style:italic">1999</td>
<td>The Matrix <span style="padding-left:5px;font-weight:bold;">^_^</span> (pretend the other two never happened!)</td>
</tr>
<tr>
<td style="text-align:right;padding-right:10px;font-weight:bold;">30</td>
<td style="font-style:italic">2002</td>
<td>The Lord of the Rings: The Two Towers</td>
</tr>
<tr>
<td style="text-align:right;padding-right:10px;font-weight:bold;">32</td>
<td style="font-style:italic">1994</td>
<td>Forrest Gump</td>
</tr>
<tr>
<td style="text-align:right;padding-right:10px;font-weight:bold;">43</td>
<td style="font-style:italic">1998</td>
<td>Saving Private Ryan</td>
</tr>
<tr>
<td style="text-align:right;padding-right:10px;font-weight:bold;">46</td>
<td style="font-style:italic">2001</td>
<td>Amelie <span style="padding-left:5px;font-weight:bold;">^_^</span></td>
</tr>
<tr>
<td style="text-align:right;padding-right:10px;font-weight:bold;">47</td>
<td style="font-style:italic">2001</td>
<td>Spirited Away <span style="padding-left:5px;font-weight:bold;">^_^</span></td>
</tr>
<tr>
<td style="text-align:right;padding-right:10px;font-weight:bold;">49</td>
<td style="font-style:italic">2008</td>
<td>WALL·E <span style="padding-left:5px;font-weight:bold;">^_^</span></td>
</tr>
<tr>
<td style="text-align:right;padding-right:10px;font-weight:bold;">51</td>
<td style="font-style:italic">2002</td>
<td>The Pianist</td>
</tr>
<tr>
<td style="text-align:right;padding-right:10px;font-weight:bold;">56</td>
<td style="font-style:italic">1971</td>
<td>A Clockwork Orange</td>
</tr>
<tr>
<td style="text-align:right;padding-right:10px;font-weight:bold;">70</td>
<td style="font-style:italic">1985</td>
<td>Back to the Future <span style="padding-left:5px;font-weight:bold;">^_^</span></td>
</tr>
<tr>
<td style="text-align:right;padding-right:10px;font-weight:bold;">74</td>
<td style="font-style:italic">1975</td>
<td>Monty Python and the Holy Grail <span style="padding-left:5px;font-weight:bold;">^_^</span></td>
</tr>
<tr>
<td style="text-align:right;padding-right:10px;font-weight:bold;">79</td>
<td style="font-style:italic">1999</td>
<td>The Green Mile</td>
</tr>
<tr>
<td style="text-align:right;padding-right:10px;font-weight:bold;">89</td>
<td style="font-style:italic">1968</td>
<td>2001: A Space Odyssey <span style="padding-left:5px;font-weight:bold;">^_^</span></td>
</tr>
<tr>
<td style="text-align:right;padding-right:10px;font-weight:bold;">104</td>
<td style="font-style:italic">2010</td>
<td>The King&#39;s Speech</td>
</tr>
<tr>
<td style="text-align:right;padding-right:10px;font-weight:bold;">107</td>
<td style="font-style:italic">1983</td>
<td>Star Wars: Episode VI &#8211; Return of the Jedi</td>
</tr>
<tr>
<td style="text-align:right;padding-right:10px;font-weight:bold;">117</td>
<td style="font-style:italic">1996</td>
<td>Fargo <span style="padding-left:5px;font-weight:bold;">^_^</span></td>
</tr>
<tr>
<td style="text-align:right;padding-right:10px;font-weight:bold;">135</td>
<td style="font-style:italic">1994</td>
<td>The Lion King <span style="padding-left:5px;font-weight:bold;">^_^</span></td>
</tr>
<tr>
<td style="text-align:right;padding-right:10px;font-weight:bold;">143</td>
<td style="font-style:italic">2003</td>
<td>Kill Bill: Vol. 1</td>
</tr>
<tr>
<td style="text-align:right;padding-right:10px;font-weight:bold;">146</td>
<td style="font-style:italic">1995</td>
<td>Toy Story</td>
</tr>
<tr>
<td style="text-align:right;padding-right:10px;font-weight:bold;">154</td>
<td style="font-style:italic">1996</td>
<td>Trainspotting</td>
</tr>
<tr>
<td style="text-align:right;padding-right:10px;font-weight:bold;">161</td>
<td style="font-style:italic">1962</td>
<td>The Manchurian Candidate</td>
</tr>
<tr>
<td style="text-align:right;padding-right:10px;font-weight:bold;">164</td>
<td style="font-style:italic">2009</td>
<td>Avatar</td>
</tr>
<tr>
<td style="text-align:right;padding-right:10px;font-weight:bold;">165</td>
<td style="font-style:italic">1979</td>
<td>Life of Brian <span style="padding-left:5px;font-weight:bold;">^_^</span></td>
</tr>
<tr>
<td style="text-align:right;padding-right:10px;font-weight:bold;">168</td>
<td style="font-style:italic">2003</td>
<td>Finding Nemo</td>
</tr>
<tr>
<td style="text-align:right;padding-right:10px;font-weight:bold;">171</td>
<td style="font-style:italic">2007</td>
<td>The Bourne Ultimatum</td>
</tr>
<tr>
<td style="text-align:right;padding-right:10px;font-weight:bold;">185</td>
<td style="font-style:italic">2007</td>
<td>Ratatouille</td>
</tr>
<tr>
<td style="text-align:right;padding-right:10px;font-weight:bold;">190</td>
<td style="font-style:italic">2010</td>
<td>The Social Network</td>
</tr>
<tr>
<td style="text-align:right;padding-right:10px;font-weight:bold;">192</td>
<td style="font-style:italic">2009</td>
<td>Star Trek <span style="padding-left:5px;font-weight:bold;">^_^</span></td>
</tr>
<tr>
<td style="text-align:right;padding-right:10px;font-weight:bold;">193</td>
<td style="font-style:italic">1997</td>
<td>Good Will Hunting</td>
</tr>
<tr>
<td style="text-align:right;padding-right:10px;font-weight:bold;">200</td>
<td style="font-style:italic">2004</td>
<td>The Incredibles</td>
</tr>
<tr>
<td style="text-align:right;padding-right:10px;font-weight:bold;">219</td>
<td style="font-style:italic">2003</td>
<td>Big Fish</td>
</tr>
<tr>
<td style="text-align:right;padding-right:10px;font-weight:bold;">227</td>
<td style="font-style:italic">2004</td>
<td>Kill Bill: Vol. 2</td>
</tr>
<tr>
<td style="text-align:right;padding-right:10px;font-weight:bold;">241</td>
<td style="padding-right:10px;">1944</td>
<td>Arsenic and Old Lace <span style="padding-left:5px;font-weight:bold;">^_^</span></td>
</tr>
</table>
 
