---
title: '@Scobleizer on Twitter and Google+' 
date: "2011-07-19T06:03:44+10:00"
year: "2011"
category: Internet
tag:
- food
- google-plus
- infocomm
- postaday2011
- pudding
- robert-scoble
- social-networking
- twitter 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/logo.twitter.bird.png" alt="The Twitter bird" style="height:151px; width:306px;" /><img src="https://rubenerd.com/files/uploads/photo.scoble.jpg" alt="Robert Scoble" style="margin-left:10px; height:151px; width:182px;" /></p>
<p>I disagree with Robert Scoble&#39;s assessment that Twitter needs to be more like Google+. If anything, from using Google+ I&#39;ve learned to appreciate Twitter&#39;s simplicity! Oh yeah, and pudding.</p>
<h3>It’s not easy being green</h3>
<p>In an <a href="https://plus.google.com/111091089527727420853/posts/85buiuuvkNZ">entry on Google+</a> (makes sense) and on <a href="http://scobleizer.com/2011/07/17/google-has-made-twitter-boring-heres-what-twitter-should-do-about-that/">his blog</a>, Robert goes into detail how Twitter now seems boring, and that the only way to change this would be for Twitter to broadly emulate Google+. <a href="http://techcrunch.com/2011/07/18/dont-drink-and-power-use/">MG Seigler</a> posted a rebuttal, which I&#39;d be able to take more seriously if it weren&#39;t quite as scathing, and hosted on a site that requires people to use a Facebook account to leave comments. Still, I found myself nodding my head in several places.</p>
<p>On the one hand, I can see Robert&#39;s point. With a [paltry!] 1200+ followers myself, I&#39;m acutely aware of how frustrating it can be to receive comments from people on a regular basis without knowing which tweet they&#39;re commenting on! With tens of thousands of followers and commentators, there&#39;s no denying Google+ facilitates tracking theses threaded conversations more easily for people like him.</p>
<p>Claiming this can be fixed by making Twitter more like Google+ though makes absolutely no sense to me, just as John C. Dvorak&#39;s claim that Apple would only gain market value and share by licensing Mac OS X didn&#39;t. You&#39;re awesome John, but what were you smoking my friend?</p>
<p><img src="https://rubenerd.com/files/uploads/500px-Kheer.jpg" alt="Indian rice pudding, photo by Stu Spivack" style="height:332px; width:500px;" /></p>
<h3>Google+ is cool, but so is Twitter</h3>
<p>Since Twitter&#39;s inception people have complained it&#39;s missing feature XYZ, but fortunately Twitter&#39;s managers have [largely] ignored such demands unless their users overwhelmingly form a consensus, such as with @replies and retweeting. The appeal of the platform is simple: 140 characters to do what you see fit. If you want more features, clients like Twitter&#39;s TweetDeck (that still sounds weird to say that) provide them.</p>
<p>The proof is in the pudding. Mmm, <a href="https://secure.wikimedia.org/wikipedia/en/wiki/File:Kheer.jpg">rice pudding</a>. Services such as <a href="https://rubenerd.com/friendfeed-still-exists/" title="Saturday 21st November 2009: Wait, FriendFeed still exists?">FriendFeed</a> and <a title="View entries tagged with Google Buzz" href="//rubenerd.com/tag/google-buzz/">Google Buzz</a> have attempted to come along in this [relatively] free marketplace to introduce lacking features such as threaded comments, but they never really gained any significant mind share. It makes sense for Google+ because that&#39;s what the service started as, and because they&#39;re a clone of Facebook… who ironically bought FriendFeed and attempted to clone much of Twitter&#39;s features.</p>
<p>Now I have no qualm in hypocritically acknowledging that Twitter does need a few more features. The ability to automatically block obvious spammers (those who only send links to strangers and have no followers) and perhaps &quot;associating&quot; a URL with a tweet <a href="//rubenerd.com/twitter-could-fix-url-shorteners/" title="Wednesday 19th January 2011: Twitter could fix URL shorteners">as I suggested in January</a> would be fantastic, but the key is these features would arguably make the system simpler.</p>
<p>I love you Robert Scoble and am a huge fan, but I really believe copying Google+&#39;s features would miss the point of Twitter entirely, and I sincerely hope nobody there takes your advice. The Google+ team should be taking it as a compliment though, they&#39;re obviously doing something right!</p>
<p>As a matter of disclosure, I know its not cool to admit but I&#39;ve been a Twitter user since Q1 2007, and I have Google+ and like what I see.</p>
 
