---
title: 'Replacing Google Reader with SeaMonkey?' 
date: "2011-12-30T11:54:54+10:00"
year: "2011"
category: Software
tag:
- atom
- flickr-photos
- google-reader
- infocomm
- mozilla
- postaday2011
- rss
- seamonkey
- thunderbird
- web-feeds 
location: sydney
---
<p><img src="https://rubenerd.com/files/2011/6599616683_809f1681a9_o@1x.jpg" srcset="https://rubenerd.com/files/2011/6599616683_809f1681a9_o@1x.jpg 1x, https://rubenerd.com/files/2011/6599616683_809f1681a9_o@2x.jpg 2x" alt="Using SeaMonkey as a RSS reader" style="width:500px; height:312px;" /></p>
<p>In the spirit of <a href="http://georgie.nu/">@Jeorgina</a> consolidation, I decided to see if <a href="http://seamonkey-project.org/">SeaMonkey</a> could <strong>also</strong> be used as a Google Reader replacement!</p>
<p style="font-style:italic;">Many of these tips should also work in Thunderbird, but I haven’t tested it. Feel free to leave a comment with your own experiences if you choose to try it out!</p>
<h3>Setting it up for feeds</h3>
<p>SeaMonkey Mail (SMM) works around the concept of accounts. Much as you would create a new email or newsgroup account, to subscribe to web feeds you create a special &quot;Blogs and Newsfeeds account.&quot;</p>
<ol>
<li>Navigate to File &#8594; New &#8594; Account</li>
<li>Choose &quot;Blogs and News Feeds&quot;</li>
<li>Give it any arbitrary name. I was boring and called it &quot;Feeds&quot;</li>
</ol>
<p>In your SMM sidebar, you should now see an account with the familiar square orange web feed icon alongside your mail and newsgroup accounts. Consolidation and simplification to the MAX! ^_^</p>
<h3>Subscribing to feeds</h3>
<p>As I found with Google Reader, creating folders to organise your feeds is easier to do before you subscribe to feeds.</p>
<ol>
<li>Right click your feeds account</li>
<li>Choose &quot;New Folder&quot;</li>
<li>Give it a unique name, and optionally choose a parent folder. Yes, you can have a hierarchy, such as &#8220;apple&#8221; under &#8220;tech&#8221;! Take that Google Reader!</li>
</ol>
<p>Then its simple enough to subscribe to feeds:</p>
<ol>
<li>Right click your feeds account</li>
<li>Choose &quot;Subscribe&quot;</li>
<li>Enter the feed URL, and choose a folder to download them to.</li>
<li>Optionally, you can also hit Import to download feeds from an OPML file, pretty slick!</li>
</ol>
<p><img src="https://rubenerd.com/files/uploads/screenie.seamonkey.rssfeeds.png" alt="Feed Subscriptions window" style="height:325px; width:500px;"  /></p>
<h3>Caveats</h3>
<p>One thing that caught me out initially was that SMM <strong>downloads</strong> article from feeds into folders like email, rather than just displaying them in folders like Google Reader. As Mozilla notes:</p>
<blockquote><p>Removing or changing the folder for a feed will not affect previously downloaded articles.</p></blockquote>
<p>If you decide to change the folder for a feed, this just means you need to drag and drop any previously downloaded entries into the new folder as well.</p>
<h3>Thoughts</h3>
<p>I&#39;ve been using SMM to read all my web feeds for about two weeks now, and so far it&#39;s been a more than capable replacement for Google Reader. Having my feeds in the same window as my newsgroups and email accounts has also been so gosh darn convenient!</p>
<p>Downloading and using SeaMonkey (or Thunderbird) just for web feeds might be overkill, but if you already use it, give it a try with your feeds. I&#39;m thoroughly enjoying myself :)</p>
 
