---
title: 'Singapore’s new president' 
date: "2011-08-28T04:35:45+10:00"
year: "2011"
category: Thoughts 
tag: 
- politics
- postaday2011
- singapore 
location: sydney
---

<p><img src="https://rubenerd.com/files/2011/singapore_6087986676_o@1x.jpg" alt="Singapore" srcset="https://rubenerd.com/files/2011/singapore_6087986676_o@1x.jpg 1x, https://rubenerd.com/files/2011/singapore_6087986676_o@2x.jpg 2x" style="width:500px; height:332px;" /></p>
<blockquote><p>Dr Tony Tan has been voted Singapore’s seventh president, in a race that had just 7,269 votes separating him and runner-up Dr Tan Cheng Bock. [..] 35.2% of 2.1 million voters threw their support behind the former deputy prime minister. ~ <a href="http://www.straitstimes.com/The-Big-Story/The-Big-Story-1/Story/STIStory_706809.html">Straits Times</a></p></blockquote>
<p>Disappointing, if unsurprising.</p>
<p>The photo is a random one from a memory card I found in a drawer. Singapore in 2010.</p>
 
