---
title: 'Hey, that plane is smiling!' 
date: "2011-11-30T04:51:25+10:00"
year: "2011"
category: Travel
tag:
- aviation
- photos
- pointless
- postaday2011
- retro
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/photo.pacsouthwest.l1011.jpg" style="height:240px; width:500px;" alt="Photo of the aforementioned smiling aeroplane!" /></p>
<p>Smiling <a href="https://secure.wikimedia.org/wikipedia/en/wiki/Lockheed_L-1011_TriStar">Lockheed L1011</a> taken in August 1974 by <a href="https://secure.wikimedia.org/wikipedia/en/wiki/File:Pacific_Southwest_Airlines_L-1011_N1079.jpg">Piergiuliano Chesi</a>. Clearly one doesn&#39;t need to be an <a href="http://myanimelist.net/anime/3667/Strike_Witches">anime character</a> without pants to be an anthropomorphic aircraft, just saying ;).</p>
<p>In related news, the <a href="//rubenerd.com/files/uploads/photo.bustedl1011.thankssalliedpickfords.jpg">only L1011 diecast model I have</a> had its forward landing gear and parts of the tail damaged during the latest move. I don&#39;t suppose I can get tiny 1mm wheel replacements?</p>
 
