---
title: 'Some J-Walk Rubenerd graph goodness' 
date: "2011-10-22T12:56:13+10:00"
year: "2011"
category: Internet
tag:
- infocomm
- j-walk-blog
- john-walkenbach
- postaday2011
- super-detailed-diagram 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/diagram.jwalk.rubenerd.canada.png" alt="Graph titled: Posts Containing Saskatchewan as Percentage of Total. J-Walk has 0.027, Rubenerd has 0.007." style="height:200px; width:430px; padding-right:70px;" /></p>
<p>Given John Walkenbach is an <a href="https://flickr.com/photos/rubenerd/2036556743/">Excel guru</a>, on a whim this afternoon I wondered what better way to pay tribute to his <a href="//rubenerd.com/goodbyej-walk-blog/" title="Monday 17th October 2011: Goodbye to the J-Walk Blog after 9 years">ended J-Walk Blog</a> than by creating some graphs!</p>
<p>We begin, above, with the number of posts we&#39;ve both written containing the name of the world&#39;s most awesomely titled location, your favourite place and mine, Saskatchewan. For this graph, I determined the number of posts containing said locale, then divided it by the total number of posts we&#39;ve written. Judging from this, we can deduce John was at least three times more interested in ice hockey than I was, and three times more likely to have a live moose roaming in his pantry.</p>
<p><img src="https://rubenerd.com/files/uploads/diagram.jwalk.rubenerd.wwr.yearsactive.png" alt="Graph showing years active. Rubenerd is 6, J-Walk is 9, Whole Wheat Radio is 8." style="height:200px; width:430px; padding-right:70px;" /></p>
<p>Here&#39;s a chart comparing the number of years the J-Walk Blog was active compared to Rubenerd.com. For interest&#39;s sake, I also included the late Whole Wheat Radio which was an influence on both of us, and that we both blogged frequently about during its heyday. John even met the site&#39;s proprietor, something I hope to do at some point as well.</p>
<p>According to this, I have two years to match WWR, and three for J-Walk. Wonder if I&#39;ll be able to overcome this apparent 8 to 9 year itch.</p>
<p><img src="https://rubenerd.com/files/uploads/diagram.jwalk.rubenerd.numberentries.png" alt="Graph showing the total number of post entries. J-Walk is 40738, Rubenerd is 4078." style="height:200px; width:430px; padding-right:70px;" /></p>
<p>You think I blog too much? I&#39;m a rank amateur compared to the blogging machine that was J-Walk, and who continues to be on Google+. Granted many of my posts tend to be longer than his, but given he&#39;d only been blogging a few years longer than me, that&#39;s pretty friggen amazing.</p>
<p>Check out the specific number of posts too. Aside from the 3 in the middle, the numbers are the same. That&#39;s just freaky.</p>
<p><img src="https://rubenerd.com/files/uploads/diagram.jwalk.rubenerd.cheese.png" alt="Graph showing Google site search results for Grilled Cheese. J-Walk had 301, Rubenerd 778." style="height:200px; width:430px; padding-right:70px;" /></p>
<p>And now we end on something that Google proposes but I still simply can&#39;t believe! Despite his order of magnitute more entries than yours truly, and despite both sharing a passion for this most perfect of constables, both in relative and absolute terms I&#39;ve mentioned them more often than he has.</p>
<p><strong>DISCLAIMER:</strong> These charts were generated in LibreOffice, not Excel. Sorry John!</p>
 
