---
title: 'Steve Rubel adopts a Tumbeast, has no more pets' 
date: "2011-06-11T02:21:53+10:00"
year: "2011"
category: Internet
tag:
- far-too-long
- infocomm
- memes
- postaday2011
- reliability
- tumblr
- worrying-out-loud 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/theoatmeal.tumbeast.jpg" alt="The Oatmeal's Tumbeast." style="height:265px; width:500px;" /></p>
<p>In a homage to Steve Rubel’s <a title="Why I Adopted a Scorched Earth Policy, Dismantled Two Blogs and Jumped to Tumblr in a Single Weekend" href="http://www.steverubel.me/post/6070334427/why-i-adopted-a-scorched-earth-policy-dismantled-two">verbosely titled Tumble post</a>, I’m saying <em>Why Adopting A Scorched Earth Policy, Dismantling Two Blogs and Jumping to Tumblr in a Single Weekend May Not Be Such a Good Idea</em>.</p>
<h3>Standard Chartered territory</h3>
<p>It’s a pun on a <a href="http://www.standardchartered.com.sg/">bank</a>, and <em>&quot;chartered territory&quot;</em>. I thought it was funny.</p>
<p>Firstly, despite its sudden transformation from a nerd site to a meme aggregator for alleged hipsters and teenage girls while I had my back turned, Steve is not the first well known blogger or journalist to move to Tumblr as their platform of choice. Robert Reich, a Chancellor’s Professor of Public Policy at the University of California at Berkeley and whom I have much respect for, has been posting detailed entries on <a href="http://robertreich.org/">his Tumblr blog</a> for years now. What makes Steve’s move different from the others who preceded him is he’s moved to the platform <strong>exclusively</strong>.</p>
<p>In his justification post, Steve claims he did this because <em>&quot;Tumblr is a truly unique hybrid&quot;</em> of many other media spheres such as blogs, traditional media and social media, and that essentially it gives him the best social bang for his buck.</p>
<blockquote><p>It’s highly social, with an incredibly engaged community and connective tissue to the aforementioned hubs. It offers most of the benefits of the large blog platforms (eg Owned media). And, last but not least, it is being used by dozens of traditional and tradigital [sic] media brands like TNW and Sports Blog Nation.</p></blockquote>
<p>He does have a point. Mmm, pointy. I’ve had a Tumblr account since 2007 (used on and off!) and think it could teach traditional blog platform UI designers a thing or two. I like how easy it is to add entries to my favourites, and reblog something I find interesting. Frankly, I was so happy someone had the guts to rethink how blogs work, nobody had really done that since Radio.</p>
<h3>I still have my own site though!</h3>
<p><img src="https://rubenerd.com/files/uploads/icon.tumblr.flower.png" alt="Tumblr's flower logo." style="height:128px; width:128px; float:right; margin:0 0 10px 20px;" class="transparent" /></p>
<p>We could discuss the reliability issues that have plagued the site worse than Twitter in 2007 and have sparked their own memes. Ah <a href="http://richarddawkins.net/">Richard Dawkins</a>, if only you knew what you’d be unleashing with that term! My favourites of his works are Climbing Mount Improbable and The Blind Watchmaker, but The Selfish Gene was also a delightfully thought provoking tome. But I digress!</p>
<p>What’s most troubling about this move however is <strong>Tumblr is a silo</strong>. The real reason Steve didn’t import his previous two blogs into Tumblr is because he couldn’t. If he changes his mind in the future, he can’t export [easily] either. To leave comments, you need to be in the Tumblr silo yourself. All these may seem like acceptable opportunity costs for access to a site that puts the dated UI of WordPress to shame, but what about the future?</p>
<p>His justification for deleting his previous two blogs bordered on the surreal!</p>
<blockquote><p>I want to make it easy for Google. The only way to do so was to scorch the earth. Anything more will confuse it. I want one site to earn the +1s, not three.</p></blockquote>
<p>So he was willing to contribute to the digital dark age, destroy hundreds of links and further give fuel to the traditional media folk who claim the internet is too transient a medium to be taken seriously, so maybe he can game (I’m sorry, &#8220;SEO&#8221;) the current dominant search engine? I’m assuming he has local backups of his blog, but what about those of us who commented on his words in the past? What about those who cited him in research papers? At best it sounds short sighted, at worst irresponsible.</p>
<p><img src="https://rubenerd.com/files/uploads/SteveRubel-CaptivatingAttention-Feb-2011.jpg" alt="" style="height:323px; width:500px;" /></p>
<h3>Ruben the Buzzkill to Ruben the Crackpot</h3>
<p>Forgive me for sounding a little like a conspiracy theorist, but I can’t shake the feeling there’s something else going on here. The cost of hosting a static version of a blog archive thesedays is a pittance, and I haven’t seen any convincing evidence that having multiple sites &quot;confuses&quot; search engines; if anything I’ve seen more of the opposite.</p>
<p>I described the situation to a bloke at uni, and his immediate response was &quot;so Tumblr gave him a wad of cash, did they?&quot; and my old man dismissed the move as someone trying to cover their tracks for some reason, either through threat or enticement from a company or government based on something he said about them. I have no evidence of either of these, but it does seem like an awfully short sighted decision for someone who lives and breathes social media.</p>
<p>Perhaps he’s right and I’m just not forward thinking enough to see the big picture; I wouldn’t put it past me! Heck I’m even following him on Tumblr now. I wish him luck, and even more than I’m wrong!</p>
 
