---
title: 'My two hours stuck in a #CityRail tunnel, with photos!' 
date: "2011-11-09T12:18:28+10:00"
year: "2011"
category: Travel
tag: 
- australia
- cityfail
- postaday2011
- public-transport
- sydney
- sydney-trains
- trains 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/photo.mine.cityfail.20111108.01.jpg" alt="Photo taken during one of the extended waits, where the driver kept the train doors open" style="height:320px; width:500px;" /></p>
<p>This could count as a NaNoWriMo entry!</p>
<h3>The beginninninninng</h3>
<p>I had just finished my two university exams today and was blissfully making my way to Central. I was physically exhausted from a lack of sleep of late, and my brain was fried enough to feel as though it was starting to leak out my ears, but I felt nothing could ruin my good mood!</p>
<p>My fortunes only seemed to get better when I arrived at platform 23, and low and behold the train to take me home was waiting there for me, its open doors inviting me in from the gentle rain. It was one of the new air conditioned units our tax dollars had paid for, and though I was forced to stand in the corner, I nevertheless was glad to be out of the muggy air into some coolness.</p>
<p>The train doors closed on the train (surprising though it may seen) and we were soon plunged into dark surroundings as we entered the Airport and East Hills line tunnel taking us under the city.</p>
<p>The first few stops were relatively uneventful. We arrived at Green Square, then Mascot without a hitch, other than perhaps one young and seemingly distracted women who somehow managed to get her skirt caught on the handrail. As someone who spends far too much of his time using his phone when he should be paying attention to where he&#39;s walking and going, I could relate. I get my skirt caught on things all the time too, it&#39;s rather embarrassing to say the least.</p>
<p><img src="https://rubenerd.com/files/uploads/photo.mine.cityfail.20111108.02.jpg" alt="Peering down the tunnel in front of us when the driver reported there wasn't any power ahead" style="height:320px; width:500px;" /></p>
<h3>Hey, we aren’t moving!</h3>
<p>Upon arriving at the International Airport stop, the fun started. Sitting at stations for a few minutes at a time is part of the commuter rail experience in Sydney sometimes, but we were all starting to get a little wary when we&#39;d been sitting there, doors open, at the station for ten minutes.</p>
<p>As a few people started shifting in their seats and looking out the windows in earnest, the driver came onto the PA system an announced there was a "person running on the tracks in front of us" and that we had to wait. Another ten uneventful minutes past before we were told a "person had been injured on the tracks".</p>
<p>One could start to see the expressions change from irritation to worry on many of the passengers&#39; faces. Was someone injured? Were we stopped because they had their foot caught or something equally painful?</p>
<p>After what seemed like an age, the announcer came on the PA again, this time changing his story completely and claiming "due to electrical problems we cannot proceed" and that "there is no power in the tunnel ahead of us". Leaving the carriage and walking to stretch my legs, I took a peek into the tunnel ahead of us which seemed illuminated enough, though I surmised the lighting and catenary systems were probably independent of one another.</p>
<p><img src="https://rubenerd.com/files/uploads/photo.mine.cityfail.20111108.03.jpg" alt="Station indicator board showing us St James, when were at the Domestic Airport station!" style="height:320px; width:500px;" /></p>
<h3>I read a lot of Gibraltar Earth</h3>
<p>After a few minutes shy of an hour, the driver came back onto the PA system to announce we were moving again, albeit cautiously and slowly! His explanation changed to "the signal systems are all dead due to a lightening strike at Wolli Creek station" and that we&#39;d essentially crawling along the tunnel blind. Excitement most thrilling!</p>
<p>As we started to move, I picked myself off the floor where I had slunk down to after my feet began to protest and prepared for the slow trip home. We made it as far as one more stop (the Domestic Airport station) before stopping again for another half an hour! Most amusingly, the indicator boards started informing us we were at St James, a station several stops away in the opposite direction!</p>
<p>When we started moving again, we&#39;d been in the tunnel for over an hour and a half. With a trainload of bored passengers it was inevitable many would turn to their phones for entertainment, and to inform relatives and friends they&#39;d be late, causing the entire phone network to be brought to its knees. If phone networks had knees, presumably. I attempted tweeting, SMSing and watching The Bird is The Word on YouTube dozens of times before finally giving up.</p>
<p><img src="https://rubenerd.com/files/uploads/photo.mine.cityfail.20111108.04.jpg" alt="Photo taken during one of the extended waits, where the driver kept the train doors open" style="height:320px; width:500px;" /></p>
<h3>Home finally! Kinda</h3>
<p>We arrived at Kingsgrove around 2 hours after we&#39;d entered the tunnel, and a special train had been arranged for us to take us back to Bexley North and Bardwell Park. By that stage, all the signs along the platforms informed other passengers to expect delays, with the City Service even being rerouted through Syndenham to avoid the Airport tunnel.</p>
<p>Tired and drenched in rain, I made the trek home, where I plopped down in front of my computer, fell asleep for a few short moments, then had dinner and wrote a blog post containing a great deal of overly verbose and long sentences. WHEW!</p>
<p><img src="https://rubenerd.com/files/uploads/photo.mine.cityfail.20111108.05.jpg" alt="Photo taken during one of the extended waits, where the driver kept the train doors open" style="height:320px; width:500px;" /></p>
<p>Twitter, SMSs and phone calls largely didn&#39;t work while I was stuck, but thanks to <a href="https://mobile.twitter.com/Sebasu_tan">@Sebasu_tan</a>, <a href="https://mobile.twitter.com/hanezawakirika">@hanezawakirika</a>, <a href="https://mobile.twitter.com/leehopkins">@leehopkins</a>, <a href="https://mobile.twitter.com/intoyourheadpod">@intoyourheadpod</a> and <a href="https://mobile.twitter.com/elkeee">@elkee</a> for the tweets while I was trapped… despite not being able to read them until I&#39;d surfaced!</p>
<p>All things considered, the CityRail staff were extremely friendly and dealt with the situation pretty well, particuclarly when we arrived at Kingsgrove and weren&#39;t sure how to interpret all the conflicting service disruption warning signs. It also could have been a lot worse, we could have been stuck in an old S or R class train in that tunnel for two hours. In this muggy weather, in a tunnel, without air conditioning, what a frightful prospect!</p>
<p>In any event, I&#39;m done regaling you with my First World Problems! Time for some tea.</p>
 
