---
title: 'Supanova Sydney 2011, with almost no photos!' 
date: "2011-06-20T11:02:36+10:00"
year: "2011"
category: Anime 
tag: 
- art
- australia
- conventions
- culture
- postaday2011
- sydney
- television 
location: sydney
---
<p><a href="//rubenerd.com/files/uploads/photo.mine.20110620.supanova.dome.jpg"><img src="https://rubenerd.com/files/uploads/photo.mine.20110620.supanova.dome.500px.jpg" alt="Photo of the Supanova floor in Olympic Park, click to expand!" style="height:334px; width:500px;" /></a></p>
<p>After skipping Saturday for personal reasons, yesterday I went to day two of Supanova Sydney 2011, the first ever sci-fi and anime convention I&#39;ve been to in Australia!</p>
<p><!--oldmore--></p>
<p style="font-style:italic;">As you’ll read below, my D60 battery was shot, but I was able to at least get that photo above… <a href="//rubenerd.com/files/uploads/photo.mine.20110620.supanova.dome.jpg">click to zoom in</a> and see all the stalls and people ^_^. And watch me attempt to make up for it with several terrible and pointless photos below!</p>
<h3>Live long and prosper</h3>
<p><a href="http://www.supanova.com.au/">Supanova Sydney 2011</a> was spread out over the Dome building in Olympic Park, the sprawling city within a city in Sydney that looks eerily similar to Putrajaya. When my terribly awesome sister and I noticed not one but two <a href="//rubenerd.com/miku-day/" title="Wednesday 10th March 2010: Happy Miku day!">Hatsune Mikus</a> attempting to jaywalk in the strong wind while holding down their skirts and trying not to trip over their bright teal hair, we knew we were getting close!</p>
<p>Inside the dome was row after row of absolute nerdishness in stalls, from Marvel and DC comics, Dr Who, Star Trek and Wars, Dr Who, Serenity and Firefly, Dr Who, and tables of players of Dungeons and Dragons and Magic The Gathering. Punctured between these stalls were more stalls for Dr Who, and anime and manga. I think I even saw a few Dr Who stalls.</p>
<p>For someone who often feels isolated for nerdishness, it can&#39;t be overstated just how wonderful it felt to hear people talk about which Magic deck colours were their favourites, how silly Kirk&#39;s two deaths were, and how cute and/or awesome character XYZ from series ABC that I recognised was!</p>
<p><img src="https://rubenerd.com/files/uploads/photo.mine.20110620.supanova.tomfelton.jpg" alt="" style="height:335px; width:500px;" /></p>
<h3>#EpicFail</h3>
<p>Despite a last ditch attempt to get my Nikon D60 battery re-jiggered with a week of being plugged in, the dang thing barely held enough charge to take a few photos before dying. We got just enough juice to take some blurry photos of the Q and A (qanda for the Twitter folk) with Tom Felton, the terribly attractive and friendly portrayer of Draco Malfoy in the Harry Potter movies, and of the dome building from the second floor you saw above. </p>
<p>This was most tragic, for there were some absolutely stunning cosplayers! As I eluded to above, there were a fair share of <strong>eerily good</strong> David Tennant Doctors walking around and a fair share of Star Wars characters and Starfleet officers, but also so many anime cosplayers which were just as good if not better than any I saw when I was in Singapore! There was an even mix of Caucasian and Asian people getting involved, some of the best seifuku wearers were Aussies, go figure!</p>
<p>I kept my spending in check given I&#39;ll be going to SMASH (the Sydney Manga Anime Show) next month, but I still was able to pick up a few figs of Mugi, Yoko from her Sweet Stars music video and Donkey Kong… for $35! We just started playing our Wii again and I&#39;m always that character you see ;). My sister picked up more handmade rings and badges than she could ever wear, and the stall owners were super friendly and helpful.</p>
<p>I was told by friends from Canberra we met up with that the crowds were insane on the first day and that it was their biggest turnout yet! Compared to the conventions I&#39;d been to in Singapore Supanova felt tiny, but there was enough to see and do that my feet were aching by the end, and there wasn&#39;t any shortage of enthusiasm or wares to spent [needlessly] large amounts of money on!</p>
<p><img src="https://rubenerd.com/files/uploads/photo.mine.20110620.supanova.schwag.jpg" alt="" style="height:330px; width:500px;" /></p>
<h3>Group hug!</h3>
<p>One observation my sister and I made was just how polite and nice everyone was. It was crowded enough that we were bumping into people regularly, but every single person apologised! The owners of the stalls, the volunteers checking wristbands and making sure queues for events were kept in check, everyone was just lovely.</p>
<p>In a scene reminiscent of the Revenge of The Nerds, Olympic Park was also hosting an NRL event to coincide with Supanova. My sister made the observation that after all these guys in their Harry Potter costumes and the girls in their (granted fairly skimpy) cosplay outfits were able to walk around with each other with impunity inside, it wasn&#39;t until the drunk rugby fans saw them that we heard jeers and cat calls. She claims the jocks were just stunned and jealous that the nerds have cuter/hotter friends ;).</p>
<p>One thing I would add, the sight of the sports fans in their team colours walking alongside the cosplayers and nerds as we all headed to the train station and car parks was surreal!</p>
<h3>Some lessons learned for SMASH</h3>
<p>Overall an amazing experience, though I&#39;ll remember to withdraw fundage BEFORE going to the event, and I&#39;ll make certain I have a working camera battery this time! The fact I didn&#39;t have one for this was more tragic than the times I watched Star Wars I, II and III and couldn&#39;t get my money or time back. I&#39;ll have some serious catching up to do :).</p>
<p>In conclusion, as I <a href="//rubenerd.com/twitter-2011-06-19/">wrote on Twitter</a>:</p>
<blockquote cite="//rubenerd.com/twitter-2011-06-19/"><p>Girls dressed as Miku and Sailor Moon in front of the carriage, people playing Magic Cards in the back. This train is made of win XD</p></blockquote>
 
