---
title: 'The big C' 
date: "2011-08-05T12:03:59+10:00"
year: "2011"
category: Thoughts 
tag: 
- family
- peace
- personal
- postaday2011
- twitter 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/icon.pinkribbon.png" alt="Pink ribbon" style="float:right; margin:0 0 10px 10px; height:128px;width:128px;" class="transparent" /></p>
<blockquote cite="https://twitter.com/#!/GeordieGuy/statuses/99003196827107328">
<p>I kinda understand. Being a geek faced with a loved one battling cancer is a particular sort of painful. ~ <a title="View tweet, JavaScript required" href="https://twitter.com/#!/GeordieGuy/statuses/99003196827107328">@GeordieGuy</a></p>
</blockquote>
<p>No kidding. ♡</p>
 
