---
title: 'Trying out Parallels Desktop 7' 
date: "2011-12-11T01:58:57+10:00"
year: "2011"
category: Software
tag:
- flickr-photos
- infocomm
- mac
- parallels
- parallels-desktop
- postaday2011
- virtualisation 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/screenie.parallels7.list.png" alt="Screnshot showing Parallels 7's list of VMs" style="height:230px; width:500px;" /></p>
<p><a href="http://www.parallels.com/products/desktop/">Parallels Desktop</a> was one of the first pieces of software I discussed in detail on this blog back in 2006. Now five years later, I&#39;m giving it another try!</p>
<h3>I need a bigger hard drive</h3>
<p>When I first got my new Intel MacBook Pro in 2006, I hurriedly installed the <a title="Wednesday 20th December 2006: Parallels Desktop FreeBSD issues" href="//rubenerd.com/parallels-desktop-freebsd-issues/">first betas of Parallels Desktop</a> onto it to fuel my virtualisation obsession. I appreciated that the support team were so… supportive… of someone attempting to install and use FreeBSD of all OSs on their software, and were more than happy to help me out.</p>
<p>Several months later though, VMware announced their Fusion product and I made the move, mostly because I already had invested time and money in their Workstation product for Windows and liked that I could move things over. Businesses I do… business… with also tend to use VMware products, ditto my university.</p>
<p>I&#39;ve also used VirtualBox, and more recently QEMU to run my bizarre mix of FreeBSD, Windows 2000, OS/2 and PC DOS 2000. All have worked fine, but each product has different problems with one of the aforementioned systems. VMware Fusion doesn&#39;t like some of my ancient DirectX games like Train Simulator. VirtualBox has issues with upper memory managers on DOS. QEMU doesn&#39;t have 3D acceleration at all, and can&#39;t boot OS/2.</p>
<p>The reality is, I&#39;ll most likely be keeping all four virtualisation applications on my Macs, but one day I&#39;d love to have one to do it all.</p>
<p><img src="https://rubenerd.com/files/2011/6486463793_85135d1bcb_o@1x.jpg" srcset="https://rubenerd.com/files/2011/6486463793_85135d1bcb_o@1x.jpg 1x, https://rubenerd.com/files/2011/6486463793_85135d1bcb_o@2x.jpg 2x" alt="Screenshot showing a few Parallels VMs" style="width:500px; height:312px;" /></p>
<h3>Parallels 7</h3>
<p>Installing Parallels Desktop on my Mac Pro on Thursday evening, I was struck by how much has changed. Unsurprising given the last time I used it was 2006, but the software fits right into Mac OS X Lion, complete with the dark patterned backgrounds that seem to be all the rage these days. I was a little disappointed at their icon change, but I suppose the Windows logo makes sense given its what most of their customers will use it for.</p>
<p>FreeBSD, Windows 2000 and PC DOS 2000 installed without incident, though I had a few issues installing the Parallels Tools in Windows 2000, a subject for a future post when I&#39;m over this flu and am not typing blog posts at glacial speed.</p>
<p>The virtual machines generally felt more responsive than VMware Fusion, and substantially more so than VirtualBox. What set Parallels apart however was its ability to run all my classic DirectX games such as Midtown Madness, which VMware Fusion simply couldn&#39;t do, at least on my hardware. SimCity 3000 also ran stunningly well.</p>
<p>Another aspect where Parallels shone was the company&#39;s technical support. Despite being an unpaid, trial user, within hours of voicing my problems on Twitter, <a href="http://mobile.twitter.com/ParallelsMac">@ParallelsMac</a> and <a href="http://mobile.twitter.com/ParallelsCares">@ParallelsCares</a> had provided feedback. Others should learn from their example!</p>
<p>Overall, while Parallels is a different ecosystem to what I need for work and uni (which will necessitate me keeping VMware Fusion as well), for those Mac users looking for the simplest, slickest way to run virtual machines, I&#39;m thoroughly impressed with Parallels. I&#39;ll be running out the 15 day trial, then registering a copy.</p>
 
