---
title: 'Twitter, icy attitude to developers, inevitability' 
date: "2011-03-23T06:20:54+10:00"
year: "2011"
category: Internet
tag:
- identica
- infocomm
- microblogging
- postaday2011
- statusnet
- twitter 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/truemorsintwitterrific.png" alt="Truemors on Twitter" /></p>
<h3>&lt;old man voice&gt;</h3>
<p>When I first started using Twitter in early 2007, I had a dozen or so followers, followed a dozen or so people back, and my Twitterrific client was so quiet it just sat dutifully in the corner of my screen updating only every few minutes or so (pictured above).</p>
<p>Its been a few years since then, and now I follow hundreds of people. I have complex lists to keep track of people, news sources, organisations and current topic searches, and my TweetDeck client has its own widescreen monitor. It has completely replaced any remaining TV news I used to watch, half of the email I write, and a substantial portion of Google Reader/Bloglines reading.</p>
<p>In the beginning, just as with virtually other site since the dawn of [WWW] time, we&#39;ve been the early adopters, and it always works the same way:</p>
<ol>
<li>We’re enthralled with a new underground site</li>
<li>All our nerd friends and the likes of Leo Laporte use it. We’re the base.</li>
<li>It gains more public attention. Lady Gaga starts using it.</li>
<li>General public becomes the base, nerds relegated to fringe case power users</li>
<li>Site changes to accommodate general public to the detriment of nerds</li>
<li>The nerds move on</li>
</ol>
<p>We&#39;re at number 5 right now. We nerds want greater access to the API, we want to access more than just 3000 or so tweets into our history. We want more sophisticated Twitter clients with more features. We want open access. It won&#39;t happen.</p>
<h3>We’re not the users they care about any more</h3>
<p>Unlike some of my nerdy brethren, I haven&#39;t kidded myself for one moment that I&#39;m a typical user, at least not any more. I continue to read report after report that loudly proclaim it was third party Twitter clients that handed Twitter success, but I&#39;ve yet to see any evidence to back up these claims outside a &quot;nerd core&quot; of users.</p>
<p>Twitter client developers have much to be proud of, and certainly many of us use their software, but nurturing them is allegedly no longer justifiable to Twitter. As Microsoft did with AV software to Symantec and the like, Twitter wants people to use their clients, and will use their competitive advantage to offer new features faster than outside developers can.</p>
<p>Free and open source software proponents developers like to think that people will choose freedom if given the choice (and perhaps 75% of the time, I do), but in the real world people need more than a philosophy or ideological position to make a shift from an existing application or service that otherwise works for them.</p>
<p><a href="http://identi.ca/">Identi.ca</a> and its <a href="http://status.net/">StatusNet software</a> has long been a free alternative to Twitter, but has failed to gain much traction at all. Perhaps this latest move by Twitter will give people another reason to use it. The next step will be when all my friends are on it… and that might not be for a long time yet.</p>
 
