---
title: 'Victorinox Altmont 2.0 laptop baggyness' 
date: "2011-05-22T06:22:07+10:00"
year: "2011"
category: Travel
tag:
- australia
- infocomm
- luggage
- postaday2011
- rant
- victorinox 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/photo.altmont-2.0-Laptop-Backpack.jpg" alt="Photo of the aforementioned backpack." style="height:320px; width:241px;" class="transparent" /></p>
<p>So I want to buy a bag. Who&#39;d have thought it would turn into such a kerfuffle!?</p>
<h3>Crumplerness</h3>
<p>For the last ten years, I&#39;ve been a loyal Crumpler customer. I bought my SLR camera bag, shoulder laptop bag and backpack from their store in <a href="https://secure.wikimedia.org/wikipedia/en/wiki/Wheelock_Place">Wheelock Place</a>. They&#39;re comfortable, come in bright colours and are more interesting than your run of the mill luggage. In the years I&#39;ve had them, they&#39;ve held up really well.</p>
<p>The problem is, while they look really cool and are super comfortable, they&#39;re not the most efficiently designed. Even when empty they tend to be bulky and large, and when they&#39;re full they expand into awkward shapes that are hard to travel with on trains, under the seat in front of me on aeroplanes and buses, through subspace with Ramona, and on Star Trek transporter pads. Starfleet have had it with my luggage shenanigans.</p>
<h3>It even has &quot;2.0&quot; in the name ^_^</h3>
<p>After a particularly awkward train ride with my backpack last week, I decided enough was enough and that I should start shopping for alternatives. A friend of mine in Boston recommended this series of bags, and this one looked perfect!</p>
<blockquote><p>
<a href="http://www.victorinox.com/product/4/401/4123/31388303">Laptop Backpack &#8211; Altmont™ 2.0 &#8211; Victorinox AG</a><br />
15.4&quot; / 39 cm Padded Computer Pack</p>
<p>Perfect for everyday commuting, this durable, spacious pack has ideal capacity for carrying a laptop and everyday gear.
</p></blockquote>
<p>It ticks all the boxes! Unlike my Crumpler bag which has a supremely awkward inner section for the laptop, it has two entirely separate compartments and is lighter and smaller. Like my Crumpler bag it also comes in red, a far nicer colour than black. Cue the <em>&quot;but black isn&#39;t a colour!&quot;</em> folks ;).</p>
<p>I&#39;ve been a Victorinox fan ever since I got my first Swiss Army Knife when I was 12. We were on holiday in Germany at the time, and on a whim we all thought it&#39;d be amusing if we bought it from Switzerland, so we made a half hour detour! :D</p>
<p>My old man has had Victorinox laptop and suit bags that have been around the world more times than he can count, and have survived extremely well. They&#39;re not as visually striking as Crumpler bags, but they&#39;re smaller for the same volume of space and are extremely durable. My primary bag tends to be my best friend, we go everywhere together, so this is important!</p>
<h3>Can I find someone to sell me one?</h3>
<p>So this is where the fun begins!</p>
<ul>
<li>I called every single Australian reseller listed on the Victorinox website, not one had them, and half didn’t even know what I was talking about.<p></p></li>
<li><a href="http://www.amazon.com/s/ref=nb_sb_noss?url=search-alias%3Dapparel&#038;field-keywords=Victorinox+Altmont+2.0+Collection+Laptop+Backpack">Amazon.com</a> and several of their affiliates have them, but refuse to ship to me. I suppose I’m from overseas and could stuff that bag with explosives or something.<p></p></li>
<li><a href="http://www.irvsluggage.com/Victorinox-Altmont-20-Collection-Laptop-Backpack/VL-313883">IRV’s Luggage</a> and <a href="http://www.luggageonline.com/product.cfm?product_ID=16358">LuggageOnline</a> sell them, but unfortunately they use the exorbitant iShopUSA for international shipping. $94, and its not even priority, are they high?<p></p></li>
<li>Three other international sellers had more reasonable prices, but only had stock of the black one, despite clearly stating they had stock of the red on their site(s).<p></p></li>
<li>No a single hit on eBay, GumTree or Craigslist.</li>
</ul>
<p>I&#39;ve lodged an enquiry with the <a href="http://theluggageprofessionals.com.au/contact-us/">Luggage Professionals</a> Victorinox resellers here in Sydney, and a couple of other international sellers for shipping quotes. </p>
<p>I&#39;m now at the stage where I could easily enough just buy another bag, but its the principle of the thing that irks me. Its 2011, and I can&#39;t buy a <em>bag</em>? I am making a mission out of this!</p>
 
