---
title: 'I vouch for SBS Radio!' 
date: "2011-07-17T10:31:20+10:00"
year: "2011"
category: Internet
tag:
- infocomm
- postaday2011
- sbs
- sbs-popasia
- sbs-radio
- security 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/anime.19888642.jpg" alt="" style="height:354px; width:500px;" /></p>
<p>This graphic by <a href="http://www.pixiv.net/member_illust.php?mode=medium&amp;illust_id=19888642">夜宵</a> on Pixiv is what I <strong>assume</strong> listening to the SBS Radio PopAsia station I learned about at SMASH! (photos coming soon, I promise!) must be like, given Firefox blocked the site for me on the grounds it was an <em>&quot;attack page&quot;</em>! </p>
<h3>A subtle dig at Asian music, perhaps?</h3>
<p>Browsing the site this afternoon for a change of pace while we frantically get this house cleaned for our next inspection (fun times in rentland!), I was told: </p>
<blockquote><p>
This web page at sbs.com.au has been reported as an attack page and has been blocked based on your security preferences. Attack pages try to install programs that steal private information, use your computer to attack others, or damage your system. Some attack pages intentionally distribute harmful software, but many are compromised without the knowledge or permission of their owners.</p></blockquote>
<p>This sure didn&#39;t sound (hah) like the site of my nation&#39;s <em>&quot;National Multicultural Broadcaster&quot;</em>, so I clicked <em>&quot;Why was this page blocked?&quot;</em>. Under the heading <em>&quot;What happened when Google visited this site?&quot;</em>:</p>
<blockquote>
<p>Of the 2 pages that we tested on the site over the past 90 days, 1 page(s) resulted in malicious software being downloaded and installed without user consent. The last time that Google visited this site was on 2011-07-16, and the last time that suspicious content was found on this site was on 2011-07-16.</p>
<p>Malicious software is hosted on 1 domain(s), including tecnoprosnc.cu.cc/.</p>
<p>1 domain(s) appear to be functioning as intermediaries for distributing malware to visitors of this site, including tppkuban.ru/.</p>
<p>This site was hosted on 2 network(s) including AS9667 (HOSTWORKS), AS17477 (MCT).</p>
</blockquote>
<p><img src="https://rubenerd.com/files/uploads/screenie.sbserror.png" alt="Screenshot of the error on the SBS Radio site." style="height:247px; width:500px;" /></p>
<h3>Using &quot;(s)&quot; means the developer is lazy</h3>
<p>So if I&#39;m interpreting the Googlese properly, the site itself wasn&#39;t malicious, but it contained a link to a site that hosted malware.</p>
<p>The little but loud conspiracy nutjob in me thinks the timing is awfully convenient, at least for the perpetrators. Step one, get a site advertised at a convention to people with generally higher than average disposable incomes and/or younger people who may not be as serious about patching their systems. Step two, get their machines to download malicious content. Step three, profit! It&#39;s like convention social engineering!</p>
<p>In any case, it can&#39;t have been good publicity for the fledgling Asian pop music station to be targeted, 24 hours after they were advertised and played non-stop at SMASH. Here&#39;s hoping they can get their site off Google&#39;s blacklist before too many people are turned off the service.</p>
<p>The site could have had a code injection attack levelled against it, or I&#39;m assuming more likely is someone left a comment pointing to a malicious site. This has happened to Rubenerd.com several times since 2004, its an honest enough mistake to make to let these kind of comments get through.</p>
<p>Blacklisting sites is but one of the examples of just how much power Google wields, and how much trust we put in them that they&#39;ll do the Right Thing&trade;. As a publicly listed company they determine how much more than half of what the English speaking world ends up seeing.</p>
<h3>Update, 20:00 AEST</h3>
<p>The site seems to be back to normal again, as far as I can tell.</p>
 
