---
title: 'We’re all Norweigian today' 
date: "2011-07-23T04:18:43+10:00"
year: "2011"
category: Thoughts 
tag: 
- norway
- peace
- terrorism 
location: sydney
---

<p><img src="https://rubenerd.com/files/2011/norwegian-sandwich-shop-at-the-curve-in-damansara_3731405208_o@1x.jpg" alt="" srcset="https://rubenerd.com/files/2011/norwegian-sandwich-shop-at-the-curve-in-damansara_3731405208_o@1x.jpg 1x, https://rubenerd.com/files/2011/norwegian-sandwich-shop-at-the-curve-in-damansara_3731405208_o@2x.jpg 2x" style="width:500px; height:375px;" /></p>
<p>I wanted to include a Norwegian photo here as a sign of solidarity, though all I had was <a href="https://www.flickr.com/photos/rubenerd/3731405208/">this photo</a> I took outside the Norwegian sandwich bar in Damansara, Malaysia. Take that <a href="http://twitter.com/naontiotami/statuses/94592932971163648">Andrew Bolt</a>.</p>
<p>Peace &lt;3.</p>
 
