---
title: 'When legit isn’t better' 
date: "2011-07-12T09:52:24+10:00"
year: "2011"
category: Media
tag:
- copyright
- drm
- dvd
- postaday2011 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/icon.tango.optical.png" alt="Icon from the Tango Desktop project" style="height:128px; width:128px; float:right; margin:0 0 10px 10px;" class="transparent" /></p>
<blockquote><p>Now, this is all for a product you as a consumer have taken the time and effort to pay and bring home to your house. In other words, you bought the [DVD] legally, but the studios still petulantly want you to hear them whining about piracy, and have no evident interest in giving you control to use it as you wish.</p></blockquote>
<p><a href="http://www.slate.com/id/2298871/pagenum/all/" title="Slate: Groundhog Decade">Bill Wyman commenting in Slate</a> about DVDs. I think this argument can be made about most so-called legal distribution channels, whether it be optical media with unskippable FBI warnings (as I <a href="//rubenerd.com/dvds-user-operation-prohibited/" title="DVDs: User Operation Prohibited">blogged in 2006</a>), or downloaded media with <abbr title="digital restrictions management">DRM</abbr>, or playing media with <abbr title="high definition copy protection">HDCP</abbr>.</p>
<p>Cheapskates will always pirate content, but a growing number of consumers do so simply because the legitimate product is less convenient, or timely. It&#39;s their beloved free market at work; media companies aren&#39;t making products people want, and they only have their greed and short-sightedness to blame, <a title="Sunday 17th May 2009: Sony Pictures CEO: nothing good came from Internet" href="//rubenerd.com/sony-pictures-ceo-internet/">not the internet</a>.</p>
 
