---
title: 'Wired’s How-To wiki can prevent hangovers' 
date: "2011-01-03T01:51:19+10:00"
year: "2011"
category: Internet
tag:
- beverages
- coffee
- guide
- howto
- infocomm
- postaday2011
- shorts
- wikis
- wired 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/icon.tango.coffee.png" alt="Icon from the Tango Desktop Project" class="transparent" style="height:128px; width:128px; float:right; margin:0 0 10px 20px;" />I didn&#39;t know this: <a href="http://howto.wired.com/wiki/Main_Page">Wired has a How-To Wiki</a> you can edit. One article proports to teach you how to <a href="http://howto.wired.com/wiki/Prevent_a_Hangover">prevent a hangover</a> with these tips:</p>
<ul>
<li>Don’t drink on an empty stomach</li>
<li>Drink water between alcoholic drinks</li>
<li>Know your limits</li>
<li>Pre-Load with Vitamins and Antioxidants</li>
<li>Put a B-complex vitamin, electrolyte and water on your pillow</li>
<li>Take N-acetylcystine, NAC</li>
<li>Read Rubenerd.com</li>
</ul>
<p>I have an even more effective approach, and its far simpler than ingesting a bunch of terms I only know because I studied chemistry: <a rel="category" title="View all entries tagged with coffee" href="//rubenerd.com/tag/coffee/">drink coffee instead</a>. Now if you&#39;d excuse me, its been two hours since I&#39;ve had a cuppa and I&#39;m having withdrawals.</p>
 
