---
title: "Rubenerd Show 036: The family episode (pulled)"
date: "2005-08-15T14:29:59+08:00"
summary: "(Pulled pending re-recording)"
enclosure_file: "https://archive.org/download/The_Rubenerd_Show_036/RubenerdShow036.mp3"
enclosure_size: 2552397
enclosure_duration: "15:00"
enclosure_type: "audio/mpeg"
location: Adelaide
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:left; margin:0 20px 5px 0;" /></p>

<p class="show-description"><strong>2015 update:</strong> This episode talked about painful family stuff that I've since decided to revoke. I will re-record at some point, appreciate your patience.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade. More information at <a href="http://rubenerd.com/copyright/">rubenerd.com</a>.</p>
