---
title: '64bit FreeBSD Commander Keen' 
date: "2009-06-20T07:29:18+10:00"
year: "2009"
category: Software
tag:
- bsd
- commander-keen
- dosbox
- freebsd
- games
- infocomm
- pointless 
---
<p><img src="https://rubenerd.com/files/2009/commander-keen-on-freebsd-3642811481_af1d68b9ea_o.png" alt="Command Keen on FreeBSD" style="width:500px" /></p>

<p>What&#39;s a better use for a <a href="http://www.freebsd.org/releases/7.2R/announce.html">64bit FreeBSD 7.2</a> Intel Core 2 Duo E8400 desktop with 6.0GiB of Kingston Low Latency RAM? Commander Keen in <a href="http://www.freshports.org/emulators/dosbox/">DOSBox</a> of course!</p>
<p>I dare you to come up with something more productive.</p>
 
