---
title: 'Windows 7 with 2000 explorer.exe?' 
date: "2009-08-01T05:45:54+10:00"
year: "2009"
category: Software
tag:
- infocomm
- microsoft
- operating-systems
- windows
- windows-2000
- windows-7
- windows-vista 
---
<p><img src="https://rubenerd.com/files/2009/3581187224_b19e8f0cc4_o@1x.jpg" srcset="https://rubenerd.com/files/2009/3581187224_b19e8f0cc4_o@1x.jpg 1x, https://rubenerd.com/files/2009/3581187224_b19e8f0cc4_o@2x.jpg 2x" alt="Screenshot showing Windows 2000 and Windows 7" style="width:500px; height:312px;" /></p>

<p>Because I require some software for my studies that only runs on Windows I went ahead and installed <strong>Windows 7</strong> in a virtual machine on my MacBook Pro, fairly run of the mill kind of setup. Despite it being somewhat of a moot point given how low Windows Vista set the bar, I do admit Windows 7 is more stable, less irritating and somewhat faster. Unfortunately the Windows 7 Explorer and Start Menu are still just as messy, cluttered and confusing as their Vista counterparts.</p>
<p>This got me thinking then: wouldn&#39;t it be great if it were somehow possible to merely swap in the <code>explorer.exe</code> file from <strong>Windows 2000</strong> &#8212; the last version of Windows I believe had a genuinely usable interface &#8212; into Windows 7? You&#39;d have the relative advantages of Windows 7 with the clean, uncluttered and classy interface of Windows 2000. Genius!</p>
<p>I figure though <code>explorer.exe</code> is probably a protected system file and requires any number of dll files and other dependencies that are scattered in that atrocious mess Windows refers to as the Windows and System32 folders, so it probably wouldn&#39;t be possible. Bummer.</p>
 
