---
title: 'Adelaide culture shock: No 7-Elevens!' 
date: "2009-06-02T09:50:15+10:00"
year: "2009"
category: Thoughts 
tag: 
- food
- homesickness
- nostalgia
- shopping
- singapore 
---
<p><img src="https://rubenerd.com/files/2009/43256948_d75e126627_o@1x.jpg" srcset="https://rubenerd.com/files/2009/43256948_d75e126627_o@1x.jpg 1x, https://rubenerd.com/files/2009/43256948_d75e126627_o@2x.jpg 2x" alt="" style="width:500px; height:357px;" /><br /><cite>7-Eleven in front of Ngee Ann City on Orchard Road in Singapore, by <a href="https://www.flickr.com/photos/kewynn/">Ke Wynn</a></cite></p>

<p>If you had been checking the post count here, you&#39;d know the previous post was number 1711. If we lend ourselves one of the tricks the Nostradameans use to contort their prophet&#39;s predictions to actually make sense, if we drop the first digit we&#39;re left with 711. Put a hyphen between the first two digits and we get 7-11.</p>
<p>One of the biggest shocks both my sister and I experienced when we came here to Adelaide to study was the lack of 24 hour 7-Eleven convenience stores. We both grew up in Singapore, a place that has more 7-Elevens per square kilometre than… well, Adelaide. They&#39;re almost a Singaporean institution, there are hundreds of them. We&#39;d leave our international school and grab a Slurpee just as all the kids from local schools were leaving with their Slurpees. The 7-Elevens in Singapore also sell local drinks and snacks, English Premier League football cards… even Japanese manga translated into English!</p>
<p><img src="https://rubenerd.com/files/uploads/logo.711.png" alt="7-Eleven" style="height:170px; width:170px; display:inline; border:0px; float:right; margin:0 0 10px 20px" /> In Singapore I tend to stay clear of many fast food chains, preferring to drink coffee in the hundreds of Coffee Beans, Starbuckses or the local chain of Killiney Coffee houses that dot the island. That said, I also really enjoy reliving part of my childhood by going into 7-Eleven and getting a sugar filled beverage every now and then :).</p>
<p>Unbeknownst to me, Wikipedia has an entire sub-section on <a href="http://en.wikipedia.org/wiki/7-11#Singapore">7-Eleven in Singapore</a>:</p>
<blockquote><p>In Singapore, 7-Eleven forms the largest chain of convenience stores island-wide. There are at present 419 7-Eleven stores scattered throughout the country. Stores in Singapore are operated by the Dairy Farm International Holdings, franchised under a licensing agreement with 7-Eleven Incorporated, headquartered in the United States.</p>
<p>The first 7-Eleven stores in Singapore were operated in 1983 with a franchise license under the Jardine Matheson Group. The license was then acquired by Cold Storage Singapore, a subsidiary of the Dairy Farm Group, in 1989. At present, 7 Eleven plans to expand its base to include 300 stores, within the next few years. 7-Eleven has also recently signed an agreement with Royal Dutch Shell to include its convenience stores in all Shell Petrol Stations.</p></blockquote>
<p>Laugh all you want at this silly obsession of mine, but it&#39;s the small things like this that do make you really homesick. I could have worded that better!</p>
 
