---
title: 'Yes, I am an advertisement free blog! I think…' 
date: "2009-04-27T02:11:57+10:00"
year: "2009"
category: Thoughts 
tag: 
- adfreeblog-org
- advertising
- idea-from-google-reader
- weblog 
---
<p><a href="http://www.adfreeblog.org/"><img src="https://rubenerd.com/files/uploads/adfreebanner.jpg" style="height:157px; width:423px; display:inline; border:0px;" alt="AdFreeBlog.org" /></a></p>
<p>This Sunday evening&#39;s Google Reader induced discussion (I really like the wording of that) is regarding a website idea I wish I had thought of myself given <a href="//rubenerd.com/monetisation-misnomer/">I&#39;ve been quite vocal</a> on the issue recently! <strong><a href="http://www.adfreeblog.org/">AdFreeBlog.org</a></strong> is a simple site containing a series of graphics you can put on your blog if you adhere to the following principals:</p>
<blockquote><p>By using this icon on my website I am stating…</p>
<p>1. That I am opposed to the use of corporate advertising on blogs.</p>
<p>2. That I feel the use of corporate advertising on blogs devalues the medium.</p>
<p>3. That I do not accept money in return for advertising space on my blog.</p>
<p>signed,</p>
<p>the author</p></blockquote>
<p>At one point back in 2007 I had <a href="http://en.wikipedia.org/wiki/Google_AdWords">Google Adwords</a> on my blog, but when I realised the costs associated with more visual clutter, less relevant information, slower page loading speeds and irritating distractions far outweighed the money it made I got rid of it. Besides, I use <a href="http://adblockplus.org/">AdBlock Plus</a> so I figured I shouldn&#39;t be a hypocrite and force others to see advertisements!</p>
<p>I&#39;m absolutely ready to take that quoted paragraph and sign it with my name, but I do have two nagging questions:</p>
<ol>
<li>As I’ve <a href="//rubenerd.com/monetisation-misnomer/">discussed previously</a>, I still have two banners at the bottom of my site to show my support and solidarity for the non commercial, non profit <em>Richard Dawkins Foundation for Reason and Science</em>, and <em>The FreeBSD Project</em>. I put these links on my own site without coercion, incentives or financial compensation in the hopes that I help their causes. I see no problem with this if I therefore declare myself commercial advertisement free, but perhaps others might not?<p></p></li>
<li>By linking to AdFreeBlog.org… am I not advertising them?<p></p></li>
</ol>
<p><a href="http://www.adfreeblog.org/"><img src="http://www.adfreeblog.org/art_not_ads.jpg" style="width:108px; height:111px; display:inline; border:0px; margin:0 0 10px 20px; float:right" alt="Art not Ads" /></a></p>
<p>I suspect it all comes down to comparing loud commercial advertising that detracts from the web page viewing experience, and tastefully designed links to other sites you include yourself as an act of goodwill and that have something relevant to do with your material.</p>
<p>Or at least that&#39;s how I interpret it. I&#39;m still getting my head around software licences, don&#39;t get me started on this!</p>
<p>This post brought to you by the great folks at Grilled Cheese Sandwich File System Research Laboratories Pty Ltd, a research organisation funded by the Department of Redundant Information Department as commissioned and ordered by the Bureau of Oversight.</p>
 
