---
title: 'I won’t be advertising on Twitter' 
date: "2009-08-26T09:08:48+10:00"
year: "2009"
category: Internet
tag:
- advertising
- far-too-long
- infocomm
- marketing
- twitter 
---
<p><img src="https://rubenerd.com/files/uploads/screenie.twitter.ads.png" alt="I find the idea of people being paid to insert advertisements into tweets to be a bit icky. This message brought to you by Rubenerd Pte Ltd" style="height:210px; width:500px;" /></p>
<p>As I was walking home this afternoon I was listening to a fascinating discussion on <a href="http://twit.tv/207">TWiT 207</a> from a couple of weeks ago about whether or not putting advertisements in Twitter feeds is appropriate. Leo made the comment that he was asked why he was so against advertisements in tweets yet he puts advertising in his podcasts. Molly, Scott and Veronica were quick to say that Twitter is more personal, and there&#39;s a clear differentiation between advertisements and content on reputable blogs, so it&#39;s wrong. Leo pointed out though that paid-for tweets are clearly marked as such, and unlike advertisements put on your Facebook page you&#39;re the one being paid for them.</p>
<p>Two brief observations about this discussion. Firstly, I agree initially I was repulsed by the idea of having people put paid advertisements in their tweets, but I do admit it comes down to what you use Twitter for. If you&#39;re a personal twitter user who&#39;s built up a great dialogue with people from around the world, having advertisements suddenly appearing in your feed might be jarring and put people off. If on the other hand all your Twitter account serves to do is deliver links or an Opera Winfrey like account where all she posts are comments about her shows, does having paid ads really change anything?</p>
<p>Secondly, I think people should be allowed to help offset the costs of what they do online by putting advertisements on their content if they so wish. I won&#39;t be though, because I acknowledge that aside from the job offers I&#39;ve been sent in response to some content I post on my blog and Twitter I blog and use Twitter because I enjoy them first and foremost. I briefly had advertisements on my blog here, but I got rid of them because I thought the visual clutter they introduced offset any crappy loose change I gleaned from them. I&#39;ve made far more money from my <strong>&quot;Buy Ruben a Coffee&quot;</strong> link which doesn&#39;t pay even a fraction of the bandwidth bills, but that&#39;s not the point of it.</p>

<p><img src="https://rubenerd.com/files/2009/subtle-coffee-art_3844867202_o@1x.jpg" srcset="https://rubenerd.com/files/2009/subtle-coffee-art_3844867202_o@1x.jpg 1x, https://rubenerd.com/files/2009/subtle-coffee-art_3844867202_o@2x.jpg 2x" alt="Coffee art" style="width:420px; height:560px;" /></p>

<p>Feel free to click <strong>&quot;Buy Ruben a Coffee&quot;</strong> by the way, just saying. Instead of putting advertisements on my pages and in my RSS feeds (don&#39;t you hate when sites do that!?) I make a few wisearse comments about asking for coffee. Most of my posts are made over a hot cup of coffee, so in effect you&#39;re paying to keep this going in a more direct way! I&#39;ll stop now, this appeal is too bad even for me to take.</p>
<p>I guess what I&#39;m trying to say is people should be allowed to put advertisements in their tweets and their blogs and on their shirts and on the sides of their cars and so forth, but some of us though will choose not to indulge because the negatives far outweigh any modest positives. And yes I&#39;ll be honest, the idea of having people tweeting ads does still irk me.</p>
 
