---
title: 'Afternoon Boatdeck Cafe conversations' 
date: "2009-11-14T06:49:06+10:00"
year: "2009"
category: Thoughts 
tag: 
- australia
- boatdeck-cafe
- living
- yknow 
---
<p><img src="https://rubenerd.com/files/2009/boat-deck-cafe-mawson-lakes_226687107_o@1x.jpg" alt="Boat Deck Cafe, Mawson Lakes" srcset="https://rubenerd.com/files/2009/boat-deck-cafe-mawson-lakes_226687107_o@1x.jpg 1x, https://rubenerd.com/files/2009/boat-deck-cafe-mawson-lakes_226687107_o@2x.jpg 2x" style="width:500px; height:375px;" /></p>
<p>Sitting at the <a href="http://www.theboatdeck.com/">Boatdeck Cafe</a> in Mawson Lakes this afternoon I couldn&#39;t help but overhear some Indian university students and an Indian student with an Aussie accent loudly talking about living in Australia. He seems to be even more of a scatterbrain than me!</p>
<p><!--oldmore--></p>
<blockquote><p>I’m a first generation Indian living here, I was born in Australia. So many first generation Indians here are confused about their identity, it’s crazy! They have no idea who they are and can’t relate to the culture here or at home, y’know?</p></blockquote>
<p>I can partly relate, in many ways I&#39;m not an Aussie but I&#39;m certainly not a Singaporean.</p>
<blockquote><p>I go to pubs here and so many of the Aussie girls are wearing almost nothing, and I’m all like, y’know, you’re not going to get any respect dressing like that.</p></blockquote>
<p>Even if we all think that, I&#39;m sure he would have been a very popular person saying that to someone!</p>
<blockquote><p>There are so many more distractions now than when I was growing up. Back in India there’s still a core foundation of, y’know, here in Australia they just don’t have that.</p></blockquote>
<p>Not quite sure what he means, wholesome family values or something? Or is it heritage and a sense of identity? I hope he meant the latter.</p>
<blockquote><p>
I’ve been to Singapore and Malaysia…
</p></blockquote>
<p>Oooh, a shared point of reference! Do tell!</p>
<blockquote><p>But Singapore has basically become a European country, right? I mean, everyone there is white.</p></blockquote>
<p>Wait, what? As a person of pasty white English/German heritage living in Singapore for most of my life I can honestly say that while there is a huge expatriate population we are certainly not the majoraty, not by a long shot!</p>
<blockquote><p>Singapore is clean and has lots going for it, y’know? Malaysia has culture but it’s really not liveable. So many Malaysian Indians want to live here.</p></blockquote>
<p>I&#39;m not touching that one!</p>
<blockquote><p>Engineering is a solid, core degree. It’s not airy fairy, it’s not arts, it’s not counting numbers. Engineering is a solid, solid degree. Science is kinda of a solid degree. When you study you need to, y’know, do a proper solid degree to get grounding and better finances.</p></blockquote>
<p>Solid, right? Solid? Solid? I guess everything is relative though, isn&#39;t it? And there&#39;s no point someone who&#39;s extraordinarily talented at writing but not good at engineering… doing engineering! Solid.</p>
<blockquote><p>And then the Aussie dollar went down because interest rates went up which, y’know, made people scared about having it.</p></blockquote>
<p>Clearly one of his solid degrees isn&#39;t economics ;-).</p>
<blockquote><p>I have no family in Adelaide, all in India, over there, right? If I have problems I have to, like, y’know, deal with them myself. It’s tough and everyone wears hats over there, and fewer people do here. Baseball hats look weird. Squandering money on silly things, y’know?</p></blockquote>
<p>y&#39;know… what?</p>
<blockquote><p>Haha, yeah, y’know it’s just like that, y’know. I mean, y’know, are like, there and here, y’know, and it’s not easy.</p></blockquote>
<p>I think someone slipped something in his coffee, y&#39;know.</p>
<blockquote><p>I want to stop using the train here, y’know, because students live in this suburb and the train is, y’know, full every morning and the parking around the station is, y’know, bursting!</p></blockquote>
<p>My bad, well at least for the first part!</p>
<p>I hope <a href="http://www.ministers.sa.gov.au/index.php?option=com_content&#038;view=article&#038;id=34&#038;Itemid=22">Patrick Conlon</a> is taking notice though, there&#39;s a surge in interest for public transport and some are being turned off using it <strong>because</strong> of it&#39;s popularity.</p>
 
