---
title: 'Web aggregators: the chocolate shop problem' 
date: "2009-05-19T03:01:47+10:00"
year: "2009"
category: Internet
tag:
- atom
- blog-aggregators
- bloglines
- feeds
- google-reader
- infocomm
- rss
- web-feeds
- xml 
---
<p>One of the problems with using a feed aggregator or blog reader is you tend to act like a kid in a chocolate shop: you just keep adding and adding feeds because they&#39;re free and they&#39;re full of goodness until one day you&#39;re subscribed to so many feeds and you&#39;re getting so many entries you start to drown. As a result you start to click the <em>&quot;Clear Unread Items&quot;</em> or equivalent more often <a href="//rubenerd.com/agitating-google-reader-users/">than you&#39;d care to admit</a>.</p>
<p>I&#39;ve never understood why blog aggregators must treat each item as if it were an email or to do list item in dire need of my attention. When I read a newspaper or magazine I don&#39;t read every article or story, I only read what&#39;s interesting to me. I guess the comeback to that would be that if you receive too many email messages you only start reading ones you find interesting or necessary, but I think that&#39;s pushing it.</p>
<p>What metaphor do we use to replace the proverbial story &quot;to do list&quot; though if it&#39;s so flawed?</p>
<p><img src="https://rubenerd.com/files/uploads/screenie.unreadfeeds.bloglines.png" style="height:155px; width:500px; border:0px; display:inline;" alt="Bloglines unread items" /><br /><cite>Whoops!</cite></p>
<p>As with a newspaper, unless we specify we want to keep something or share it with friends, we probably don&#39;t want to read the same story twice. By greying out an item from our subscribed feeds our software is telling us we don&#39;t need to read that material any more because we&#39;ve already seen it. Short of deleting a story altogether from our own cache of previously read articles, this is probably the most logical thing to do.</p>
<blockquote><p><strong>ASIDE:</strong> Notice my careful wording above, I said the software tells us that we’ve already <em>&quot;seen&quot;</em> a story, not read it. Unfortunately we’ve only scratched the surface here, should our software be able to tell me whether I just skimmed an article, just looked at the pictures or read it in full? Could it have a timer perhaps? I’m getting in way over my head!</p></blockquote>
<p>That&#39;s not to say though we want to be prompted in the opposite way if we haven&#39;t read an item, because again to me that&#39;s akin to the software telling me I&#39;m slack that I haven&#39;t read every single story, which I don&#39;t want to do. But then again, it&#39;s useful to tell me what I haven&#39;t read, otherwise how do I know what&#39;s new? Bummer, we&#39;re back where we started!</p>
<p>I&#39;ve often heard it said that one of the strengths of computers are their ability to process large volumes of data in an instant that would take a human an eternity. Silly jokes about politicians and physical education teachers aside, as humans we have the upper hand in having <em>intelligence</em>. The fact that so called <em>&quot;tags&quot;</em> and <em>&quot;categories&quot;</em> even exist for posts and other media online shows that artificial intelligence still has a long, long, long way to go. And I mean a LONG way. A computer can download every news story and media item from hundreds of feeds to my aggregator every time I check my browser and perhaps do some rudimentary filtering based on what I&#39;ve previously read or what I&#39;ve defined as my topics of interest, but it&#39;s speed and accuracy abruptly stop there. &quot;Rudimetary&quot; is the operative word.</p>
<p><img src="https://rubenerd.com/files/uploads/screenie.reader.updatedgreasemonkey.png" alt="I have a lot of reading ahead of me!" style="height:260px; width:500px; display:inline; border:0;" /><br /><cite>Whoops!</cite></p>
<p>Perhaps it&#39;s not the software that needs retraining, it&#39;s us. Perhaps I need to train myself to stop subscribing to every single news feed I come across with the thought in the back of my mind that my aggregator will handle it for me somehow. Because every morning when I wake up, turn my computer on and am told that I have 1000+ unread stories along with comments from friends for several dozen of them, I end up just reading just the latter, a few other bits and pieces, then leave. I reckon if my Google Reader and Bloglines accounts told me exactly how many items I&#39;ve failed to read over the years, the integer would be of sufficient length that if I had that amount in my bank account, I could purchase myself a small planet and retire there.</p>
<p>I haven&#39;t even touched on the problem of missing out on good stories I should have read because there&#39;s so much other stuff crowding around it, but I suspect if you&#39;ve read this far and use an aggregator yourself you don&#39;t need me to elaborate any further!</p>
<p>As I&#39;ve eluded to previously, what I really need is an electronic secretary of some sort who picks out important blog posts, emails, Tweets and so forth, then sends them to me in an email for me to skim each morning. Technologies like RSS and Atom allow us to deliver that material, but after that computers still have a long way to go.</p>
<p>Thesis material perhaps?</p>
 
