---
title: 'I almost got my Unicomp SpaceSaver! Blast!' 
date: "2009-07-09T12:59:30+10:00"
year: "2009"
category: Hardware 
tag:
- infocomm
- shopping
- unicomp 
---
<p><img src="https://rubenerd.com/files/2009/doh_3701562330_o@1x.jpg" alt="D'oh!" srcset="https://rubenerd.com/files/2009/doh_3701562330_o@1x.jpg 1x, https://rubenerd.com/files/2009/doh_3701562330_o@2x.jpg 2x" style="width:500px; height:335px;" /></p>
<p>What&#39;s worse than waiting for a parcel to arrive in the mail? Not being able to hastily take a sharp picture with your non-3GS iTelephone because there&#39;s insufficient light and it doesn&#39;t have proper focusing! Wait, let me try that again.</p>
<p>What&#39;s worse than waiting for a parcel to arrive in the mail? Having it arrive when you&#39;re not home! Somewhere out there in the warehouse districts of Singapore is a <strong><em>custom Unicomp SpaceSaver</em></strong>…</p>
<blockquote><p><strong>ASIDE:</strong> As I type this at this Starbucks in Singapore that’s still hecticly busy at 21:34, a women just walked past dressed as Shana from <a href="http://en.wikipedia.org/wiki/Shakugan_no_Shana">Shakugan no Shana</a>. Wha…?</p></blockquote>
<p>Sorry I was distracted. Somewhere out there in the warehouse districts of Singapore is a <a style="font-weight:bold" href="//rubenerd.com/unicomp-order/">custom Unicomp SpaceSaver bucking spring IBM Model M replica keyboard</a> with my name on it! Well not literally; <a href="http://pckeyboards.stores.yahoo.net/keyboards.html">Unicomp</a> is a great business that produces quality products, but as far as I know they don&#39;t go as far as etching your name on the devices you order.</p>
<p>Perhaps they should. Then if someone was walking out of our apartment wearing a balaclava and had a <a style="font-weight:bold" href="//rubenerd.com/unicomp-order/">custom Unicomp SpaceSaver bucking spring IBM Model M replica keyboard</a> under his arm I could quickly ascertain whether the keyboard was mine or whether he takes his own <a style="font-weight:bold" href="//rubenerd.com/unicomp-order/">custom Unicomp SpaceSaver bucking spring IBM Model M replica keyboard</a> with him when he robs apartment buildings in Singapore.</p>
<p>I think I&#39;ve had too much [coffee] to drink.</p>
<p>Did I mention I came very close today to getting a <a style="font-weight:bold" href="//rubenerd.com/unicomp-order/">custom Unicomp SpaceSaver bucking spring IBM Model M replica keyboard</a>?</p>
 
