---
title: 'Android’s built in excuse?' 
date: "2009-11-08T02:36:37+10:00"
year: "2009"
category: Hardware 
tag:
- android
- design
- google
- infocomm
- phones 
---
<p><img src="https://rubenerd.com/files/uploads/photo.g1.jpg" alt="The G1" style="height:263px; width:300px; display:inline; padding:0em; background:transparent;" /></p>
<p>There&#39;s no point reinventing the wheel, so when I saw this comment about Android I just had to quote it. It stills bums me out that most people are capable of saying the same thing as me but far more succinctly!</p>
<p><!--oldmore--></p>
<p>First the snippet from the <a href="http://www.appleinsider.com/articles/09/11/05/inside_googles_android_and_apples_iphone_os_as_core_platforms.html">AppleInsider</a> article the person was commenting on:</p>
<blockquote><p>Similarly, different phone manufacturers may have their own design or quality issues, support problems, features or pricing that contribute to or distract from the overall ownership experience but which also don’t involve Android itself.</p></blockquote>
<p>And <a href="http://forums.appleinsider.com/showpost.php?s=457a9fc485297f67d9da1ec8873b2cef&#038;p=1515129&#038;postcount=9">ahmlco&#39;s poignant response</a>:</p>
<blockquote cite="http://forums.appleinsider.com/showpost.php?s=457a9fc485297f67d9da1ec8873b2cef&#038;p=1515129&#038;postcount=9"><p>This seems to provide the Android market with a built-in excuse. &#8220;The PLATFORM is fine. It’s all of those crappy phones that are the problem.&#8221;</p>
<p>But I doubt the market will see it that way. If too many companies tout their latest Android hardware as the greatest thing since sliced bread and then fail to deliver, plenty of that mud is going to stick to Android. &#8220;Android phones suck.&#8221;</p>
<p>The flipside, of course, is that they could in fact make great phones. Unfortunately, quite of few of the current models have received lackluster reviews at best, with only one (Droid) being touted as a worthwhile competitor to the iPhone.</p></blockquote>
<p>Bingo.</p>
<p>As much as I want Android to succeed and as much as I see an Android enabled device in my future, I worry whenever I read a comment entirely attributing an Android problem to hardware implementations. It does risk becoming an excuse for any failings, even if they turn out to be software problems. Here’s hoping the Android community can avoid this.</p>
<p>I do hope Android does get some decent hardware, whether it be in the form of a Droid or otherwise, otherwise they do risk becoming something the public sees and attempts to avoid rather than embracing. People are generally scared of approaching something that has stung them before.</p>
 
