---
title: '#Anime Know your Senjougahara Hitagi moods' 
date: "2009-08-08T06:45:08+10:00"
year: "2009"
category: Anime 
tag: 
- 2009-anime
- bakemonogatari
- know-your-anime-moods
- pointless
- senjougahara-hitagi
- shaft 
---
<p><img src="https://rubenerd.com/files/uploads/anime.bakemonogatari.moods.01.jpg" alt="" style="height:281px; width:500px; display:inline; border:0px;" /><br /><span style="font-weight:bold;">&quot;Mildly surprised&quot;</span></p>
<p>Just like a person who scoffs down several coloured plates then feels too full to have any of the red ones, it has come to my attention that if I posted <a href="//rubenerd.com/tag/bakemonogatari/">reviews of Bakemonogatari</a> every day in a row I would exhaust my supply far too quickly. This is also the first time I&#39;ve reviewed an anime series as it&#39;s airing instead of using DVD releases, so I&#39;m having to think of ways to occupy myself while waiting for the next episode.</p>
<p><!--oldmore--></p>
<p>From my <a href="//rubenerd.com/anime-bakemonogatari-03/">review of the third episode</a>:</p>
<blockquote><p>Speaking of eyes (wait, what?), I think it would have made far more sense for the &#8220;password&#8221; for this episode to be <strong>eyes</strong> or <strong>hitagi-eyes</strong>. It was almost as if they adapted the story for this episode to maximise the number of random close up shots the animators could do so they could draw Hitagi’s eyes. I lost count after 14 times.</p></blockquote>
<p>Drumroll please: in this brilliantly composed post of literary genius I present a guide to get to know the <strong>moods of Senjougahara Hitagi</strong>. This is strictly for entertainment purposes only, I absolve myself of any responsibility if you find a staplers in your mouth.</p>
<p>And yes to reiterate, these are all from <a href="//rubenerd.com/anime-bakemonogatari-03/">the same episode</a>. And <strong>this isn&#39;t even a quarter of them</strong>. For your sanity and for my bandwidth I have limited myself to these so far. Arigato.</p>
<p><img src="https://rubenerd.com/files/uploads/anime.bakemonogatari.moods.02.jpg" alt="" style="height:281px; width:500px; display:inline; border:0px;" /><br /><span style="font-weight:bold;">&quot;Wary [of wind blowing hair into her eyes]&quot;</span></p>
<p><img src="https://rubenerd.com/files/uploads/anime.bakemonogatari.moods.03.jpg" alt="" style="height:281px; width:500px; display:inline; border:0px;" /><br /><span style="font-weight:bold;">&quot;Intrigued&quot;</span></p>
<p><img src="https://rubenerd.com/files/uploads/anime.bakemonogatari.moods.04.jpg" alt="" style="height:281px; width:500px; display:inline; border:0px;" /><br /><span style="font-weight:bold;">&quot;Stunned&quot;</span></p>
<p><img src="https://rubenerd.com/files/uploads/anime.bakemonogatari.03.04.jpg" alt="" style="height:281px; width:500px; display:inline; border:0px;" /><br /><span style="font-weight:bold;">&quot;Normal!&quot;</span></p>
 
