---
title: '#Anime Kallen Stadtfeld‎ has a cute cupcake' 
date: "2009-11-17T12:59:16+10:00"
year: "2009"
category: Anime 
tag: 
- code-geass
- cupcakes
- desktop-backgrounds
- food
- kallen-stadtfeld
- monnie 
---
<p><img src="https://rubenerd.com/files/2009/4111147536_ca32233d9d_o@1x.jpg" srcset="https://rubenerd.com/files/2009/4111147536_ca32233d9d_o@1x.jpg 1x, https://rubenerd.com/files/2009/4111147536_ca32233d9d_o@2x.jpg 2x" alt="Kallen eating a cupcake on my desktop" style="width:500px" /></p>

<p>While it wasn&#39;t my favourite anime series in and of itself, Kallen Stadtfeld‎ from Code Geass and Code Geass R2 is one of my favourite characters of all time. Perhaps it&#39;s the whole double personality thing or the fact she could be a super duper underground figure while still being a sweet person. ^^;</p>
<p>Perhaps now the Konachan folks have their hosting problems down pat they&#39;ve been paying attention to <a href="http://www.cupcakecampadelaide.com/">The Monnie&#39;s Cupcake Camp</a> here in Adelaide (perhaps they have operatives tapping her phones), because their latest Code Geass desktop background wallpaper is this pretty colourful one of <a href="http://konachan.net/post/show/62918/code_geass-food-kallen_stadtfeld">Kallen with a cupcake</a>. It&#39;s adorable ^_^.</p>
<p>Better still it&#39;s 1920&#215;1200 so I can scale it for my little ThinkPad X40 or use it full size on my MacBook Pro&#39;s external 24 inch Samsung display at full resolution which is sweet. Get it? Cupcake? Sweet? Hey, I thought it was funny. I&#39;m so stressed about exams I&#39;m starting to say even sillier things it seems.</p>
<p>On my old anime blog I had an A Team page and Kallen was the executive in charge of my blog&#39;s covert operations. Darn the more I think about that site the more I miss it. It was awesome in a very lame fanboy way :)</p>
 
