---
title: 'Getting around a Windows ban' 
date: "2009-08-01T03:29:02+10:00"
year: "2009"
category: Thoughts 
tag: 
- bsd
- freebsd
- mac-os-x
- microsoft
- windows 
---
<p><img src="https://rubenerd.com/files/2009/punggol-mrt-station_130711963_o@1x.jpg" alt="Punggol MRT Station" srcset="https://rubenerd.com/files/2009/punggol-mrt-station_130711963_o@1x.jpg 1x, https://rubenerd.com/files/2009/punggol-mrt-station_130711963_o@2x.jpg 2x" style="width:500px; height:375px;" /></p>
<p>For some people, eating grilled cheese sandwiches with ham in them is against their religion, for some it&#39;s working on the Sabbath. For me Microsoft Windows is <a href="http://twitter.com/Rubenerd/status/3065625566">against my religion</a>, I get around such restrictions by using FreeBSD and Mac OS X, and by having glass doors.</p>
<p>I released that joke into the public domain, feel free to use it. Please, it would make me feel better about not being able to write good jokes.</p>
 
