---
title: 'Back in Singapore… again' 
date: "2009-06-17T08:04:06+10:00"
year: "2009"
category: Travel
tag: 
- australia
- pointless
- singapore
---
<p><img src="https://rubenerd.com/files/2009/600912114_3864dce66e.jpg" alt="Orchard Parade Hotel photo by Rose_khansg on Flickr" style="width:500px" /></p>

<p>I&#39;ve been in such a mad rush doing things since coming back to Singapore I haven&#39;t really blogged about it or <a href="//rubenerd.com/show/">talked about it</a> here. I will attempt to correct this.</p>
<p>If you don&#39;t know the history, I was born in Australia and am an Australian citizen but grew up and spent most of my school years in Singapore. I&#39;m now studying in Adelaide but I return to Singapore during the longer study breaks because I consider it home… I think!</p>
<p>Singapore and Adelaide are both fantastic places to live, but they couldn&#39;t be more different. Well okay compared to say, Addis Abbaba they are very much alike, but now we&#39;re just being pedantic. Pedantic sounds like a luxury brand of grilled cheese sandwich irons.</p>
<p>For one, Adelaide is much more laid back. I&#39;m sitting here typing on my Armada M300 at the Starbucks at the Orchard Parade Hotel in Singapore and it&#39;s 22:30, and they&#39;ll be open for a while yet! Orchard Road is full of people at this time of night, there are cars everywhere, all the shops are still open. In fact I think there are more people down here just before midnight than there are people here during the day!</p>
<p>Then there are the differences in the cities themselves. Most of Singapore is huge high-rise buildings that are in a state of flux, being torn down when they&#39;re 20 years old to be replaced with even taller things. Adelaide is much smaller and has a built up CBD that almost never changes with many beautiful old buildings, along with a fairly restrained suburbia. I love the bustle of Singapore, but Adelaide provides a nice break sometimes :).</p>
<p>What I love though is that I&#39;ve established enough of a base in both that people recognise me in coffee shops and remember my usual order even if I haven&#39;t been there for a few months!</p>
<p>When I fly out of Singapore or Adelaide I feel as though my life there is being paused, and when I land in the other my life is resuming there after a several month long pause. It&#39;s like suspended animation.</p>
<p>Despite life sending my family and I plenty of sour lemons over the years, I&#39;m extraordinarily lucky to live this lifestyle. I&#39;m going to enjoy it while it lasts.</p>
 
