---
title: 'BBC News says Asia needs to stop export addiction' 
date: "2009-05-03T06:53:23+10:00"
year: "2009"
category: Thoughts 
tag: 
- clipmarks
- economics
- poverty 
---
<p><img src="https://rubenerd.com/files/2009/container-ship-in-the-straits-of-singapore_2389474702_o@1x.jpg" alt="Container ship in the Straits of Singapore" srcset="https://rubenerd.com/files/2009/container-ship-in-the-straits-of-singapore_2389474702_o@1x.jpg 1x, https://rubenerd.com/files/2009/container-ship-in-the-straits-of-singapore_2389474702_o@2x.jpg 2x" style="width:500px; height:375px;" /></p>
<p>This article from the BBC makes a valid point, many export driven economies in Asia shouldn&#39;t expect to develop further by relying on this model indefinitely, at some point domestic demand needs to pick up.</p>
<p>What bothers me about this article and with so many economists and analysts in general though is the assumption that GDP growth automatically equals less poverty. <strong>It doesn&#39;t.</strong> Economic growth measured by GDP per capita is not the be all, end all solution to lowering income inequality and raising average standards of living, and it never has been.</p>
<p>Every country (and in many cases different regions of the same country) has different circumstances and the same economic policies for one won&#39;t solve the issues of another. But only attempting to address GDP growth on paper (many provinces of China are infamous for inflating their growth figures) for any of them won&#39;t address the specific issue of poverty.</p>

<p><a href="http://clipmarks.com/clipmark/EFEF426A-5828-427D-9377-DCC8CF23BA43/">Clipmarked</a> from <a href="http://news.bbc.co.uk/1/hi/business/8031456.stm">BBC News</a>:</p>

<blockquote cite="http://news.bbc.co.uk/1/hi/business/8031456.stm">
<p>Asian governments must cut reliance on export-driven growth and spend more to cut poverty, Asian Development Bank (ADB) finance officials have said.</p>

<p>Countries must restructure to focus on domestic demand as they grapple with economic chaos, the banks’ annual meeting in Indonesia was told.</p>

<p>The downturn is set to keep tens of millions of people trapped in poverty.</p>

<p>&#8220;Already there are signs that domestic consumption is remaining strong in Asia and may well lead the way out of this downturn.&#8221;</p>

<p>The ADB is predicting growth of 3.4% in Asia for 2009 compared with more than 9% in 2007.</p>
</blockquote>
 
