---
title: 'Beautiful seaside Adelaide tram photos' 
date: "2009-04-27T02:20:26+10:00"
year: "2009"
category: Media
tag:
- adelaide
- australia
- south-australia
- trams 
---
<p><img src="https://rubenerd.com/files/uploads/photo.adelaide.glenelg.jpg" alt="Beautiful seaside Adelaide tram photo by Soak01" style="height:374px; width:500px; display:inline; border:0px;" /></p>
<p>I&#39;m not quite sure why I really love this photo. Maybe it&#39;s the clear sky, beautiful trees, the fact there isn&#39;t a car anywhere in the shot (I&#39;m sure <a href="http://tyrtle.wordpress.com/">Todd</a> would approve of the latter too!). Adelaide is a beautiful place, but so few people outside Australia know about it compared to Sydney and whatnot. I guess that&#39;s to be expected. Is the Premier of New South Wales <a href="http://twitter.com/PremierMikeRann">on Twitter</a> though? ;-)</p>
<p>The photo is part of a series of shots taken around Glenelg and Adelaide Airport by <a href="http://www.sqtalk.com/forums/showthread.php?t=3454">Soak01 over at the Singapore Airlines Talk</a> forums.</p>
<p>I wish I could remember where I found this other shot too. The black building in the centre left is the Oracle tower where I got one of my first part time jobs here. The lighter yellow colour building in front of it is the Myer Centre on Rundle Mall, the first open air pedestrian shopping street without cars that opened in Australia.</p>
<p><img src="https://rubenerd.com/files/uploads/photo.adelaide.small.jpg" alt="Beautiful seaside Adelaide tram photo by Soak01" style="height:281px; width:350px; display:inline; border:0px;" /></p>
 
