---
title: 'Best. AT&amp;T Logo. Ever.' 
date: "2009-07-25T03:07:43+10:00"
year: "2009"
category: Thoughts 
tag: 
- apple
- att
- design
- funny
- graphics
- logos
- nonsense
- star-wars 
---
<p><img src="https://rubenerd.com/files/uploads/graphic.13gaqe.jpg" alt="" style="height:300px; width:240px" /></p>
<p>For my American friends, from Wired.com&#39;s report on <a href="http://www.wired.com/gadgetlab/2009/07/black-hole-gadgets/">gadgets they wish hadn&#39;t been invented</a>. Surprising though it may seem, as with the friends I&#39;m addressing this post to, Wired also happens to be American.</p>
<p>Whatever the shrink is giving me, it&#39;s either too powerful, or not powerful enough. Grilled cheese sandwiches are best when they&#39;re made from bread and cheese. You read it here fist. First, you read it here first. Heaven forbid I be caught out making a typoo.</p>
 
