---
title: 'Not blogging about not blogging' 
date: "2009-06-30T09:30:05+10:00"
year: "2009"
category: Thoughts 
tag: 
- nonsense
- pointless
- weblog 
---
<p><img src="https://rubenerd.com/files/2009/starbucks-cups_3675153074_o@1x.jpg" alt="Starbucks cups" srcset="https://rubenerd.com/files/2009/starbucks-cups_3675153074_o@1x.jpg 1x, https://rubenerd.com/files/2009/starbucks-cups_3675153074_o@2x.jpg 2x" style="width:500px; height:335px;" /></p>
<p>I remember reading somewhere that one of the rules of blogging is you&#39;re not supposed to explain absences. Apparently people hate them and they detract from the topic you&#39;re blog is supposed to be about.</p>
<p>It&#39;s been a couple of extremely busy days, but I&#39;m back on the blogging and podcasting scene again. Thank you.</p>
<p>And by the way, does anyone find it somewhat hilarious that people write <em>books</em> about successful blogging? Does that say more about the author than perhaps they intended?</p>
 
