---
title: 'When I blog late at night…' 
date: "2009-04-29T01:30:11+10:00"
year: "2009"
category: Thoughts 
tag: 
- buddhism
- idea-from-google-reader
- night
- sleep
- thinking 
---
<p><img src="https://rubenerd.com/files/uploads/screenie.googlereader.times.png" alt="Graph from Google Reader showing hours of blogs posted" style="height:235px; width:500px; display:inline;" /></p>
<p>As a blogger there are many cool things Google Reader can display for you regarding your site&#39;s feed, one of which is a graph displaying the times of day posts are most often generated, such as my site above. The light blue bars represent items posted.</p>
<p>While I&#39;ve known for a while I tend to prefer writing in the evenings (usually with a hot cup of tea to relax), I was surprised by the extent to which the numbers were skewed to the early evening, and again much later. According to the graph, my most productive blogging hours on average are 23:00 and 01:00! I knew I tended to write later, but… damn!</p>
<p>Now it&#39;s true that during the day I&#39;ve got studying and work going on, plus other life distractions like getting rude phone calls from people in my high school expecting technical support for free even though they haven&#39;t spoken to me in months. With this in mind it&#39;s understandable I&#39;d write later in the evening when the day is starting to wind down and there&#39;s less stuff going on. But… 01:00?</p>
<p>Then I started thinking that I tend to have the most thoughts, am the most mentally alert and (in a cruelly ironic way) by far the most awake in the late evening, and given the sleeping patterns of many of my uni friends this isn&#39;t an unusual situation! Since I started my new treatment these symptoms have been substantially reduced and I&#39;ve been more easily able to sleep during regular hours, but I still find a disproportionate number of ideas and solutions to problems come to me really late at night.</p>
<p><img src="https://rubenerd.com/files/2009/earth-hour-in-mawson-lakes-adelaide-australia_3391309061_o@1x.jpg" alt="Earth Hour in Mawson Lakes, Adelaide, Australia" srcset="https://rubenerd.com/files/2009/earth-hour-in-mawson-lakes-adelaide-australia_3391309061_o@1x.jpg 1x, https://rubenerd.com/files/2009/earth-hour-in-mawson-lakes-adelaide-australia_3391309061_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>
<p>I wonder if other programmers, or scientists, or musicians, or artists, or jaffle makers come up with some of their best creations late at night? I know both my parents certainly didn&#39;t in science and art respectively, at least to the best of my knowledge.</p>
<blockquote style="clear:both"><p>
When I’m alone at night<br />
Watching those re-runs of Dragnet<br />
Catching those rays of electro-light<br />
Love pulls at me like a magnet<br />
When I’m alone at night</p>
<p>~~ <cite>Verse from &quot;Alone at Night&quot; by <a href="http://michaelfranks.com/">Michael Franks</a>, my <a href="//rubenerd.com/michaelfranks/">favourite singer/songwriter</a> since I was a kid.</cite>
</p></blockquote>
<p>A few years ago when I was obsessed with lucid dreaming I kept a dream diary on my PDA next to my bed, nowadays I have a notes page on my iPhone dedicated to random sporadic thoughts I have during the night. If I created a blog post for each one, I could fill up a phone book. I exaggerate, but you get my point. I don&#39;t know what I would ever do with this stuff, but it seems a shame to let it go to waste, even if all I write down is <em>&quot;Athenian LCD columns&quot;</em> or <em>&quot;baking colour&quot;</em>. What the heck do those mean?!</p>
<p>My dad has been learning about Buddhism for several years now and one technique they teach you is controlling the thoughts in your mind to achieve a state of mindfulness. They say the mind is constantly thinking about things not related to the task at hand, some of which can be useful for longer term problem solving, but it can also impede on your ability to finish a task. One such task is sleep: to sleep better they say you should attempt to bring long trains of thought under control and move them from your mind. Easier said than done I imagine!</p>
<p><img src="https://rubenerd.com/files/uploads/photo.me.sleepy.jpg" alt="I'm sleepy…" style="height:240px; width:320px; display:inline;" /></p>
<p>Anyway it&#39;s getting close to 01:00 and I have a ton of stuff in the morning, perhaps it&#39;s time for sleep. Why even this blog post itself was merely a rambling brain dump… perhaps the reason why I tend to blog at such late hours of the night is because my brain is trying to rid itself of nonsense before I sleep! Hey, I could be onto something here.</p>
<p>Night night.</p>
 
