---
title: 'Should blog posts be treated as time capsules?' 
date: "2009-05-05T12:50:58+10:00"
year: "2009"
category: Internet
tag:
- broken-links
- databases
- ethics
- grilled-cheese-sandwiches
- infocomm
- mysql
- pointless
- posterity
- time-capsule
- weblog
- websites 
---
<p><img src="https://rubenerd.com/files/uploads/photo.timecapsule.jpg" alt="Apple Time Capsule" style="height:281px; width:450px; display:inline; border:0px;" /><br /><cite>That wasn&#39;t quite the &quot;time capsule&quot; I had in mind…</cite></p>
<p>Having spent the better part of the afternoon and evening here working on fixing broken links caused by my <a href="//rubenerd.com/we-are-back/">recent abrupt domain and webhost move</a>, I encountered a potential problem to do with posterity. All the world&#39;s problems pale in comparison to it you must understand.</p>
<p>The problem was, internal links between posts on my blog here that were created before the move pointed to addresses <a href="//rubenerd.com/show/">at the old URL</a>. With some <code><a href="http://dev.mysql.com/doc/refman/5.1/en/string-functions.html">SELECT REPLACE</a></code> requests to my MySQL tables here I was able to change all these links from over five years of posts to point to this new domain (well actually this domain is older than the one I moved from, but that&#39;s beside the point).</p>
<p>Once I&#39;d cleaned up these links though, I started getting carried away. I started converting some categories to tags that these older posts had assigned to them, then I started optimising some of the images they contained and reuploading them. Previously I had also added header images and text explaining the context in which old posts were written, and I replaced one entire post from late 2005 with a grilled cheese sandwich I had cooked but dropped on the floor and was subsequently reluctant to eat.</p>
<p>So here&#39;s what I got to thinking: Is it really right to be doing this? I&#39;ve been reading a lot about the <a href="http://en.wikipedia.org/wiki/Digital_Dark_Age">concept of a digital dark age (Wikipedia)</a> where original material gets lost online because it&#39;s in a constant state of flux and some material inevitably goes offline never to be seen again.</p>
<p>With this in mind, should blog posts be treated as time capsules? As in, when you create a blog post and publish it, to be honest should they never be changed? In my case I didn&#39;t change any of the content per se, I just changed the links and optimised the images, but the text and the images themselves are the same. I know plenty of my earlier posts have spelling mistakes and the images aren&#39;t aligned correctly, but I haven&#39;t felt right changing them. As far as I care, posts from 2005 were written in 2005 and look the same as they did in 2005.</p>
<p>It&#39;s funny how ideas and quandaries that seem really important when they&#39;re floating around in your head seem extremely important, but when you explain them by writing them out on a blog post they seem so utterly ridiculous in their irrelevance.</p>
<p>Hey, at least I spelt <em>&quot;quandaries&quot;</em> correctly.</p>
 
