---
title: 'First set of mid-semester break park photos' 
date: "2009-09-29T08:10:38+10:00"
year: "2009"
category: Media
tag:
- adelaide
- birds
- mawson-lakes
- nature
- nikon-d60
- park
- photos 
---
<p><img src="https://rubenerd.com/files/2009/duck-duck-duck-duck_3962213090_o@1x.jpg" alt="Duck duck duck duck" srcset="https://rubenerd.com/files/2009/duck-duck-duck-duck_3962213090_o@1x.jpg 1x, https://rubenerd.com/files/2009/duck-duck-duck-duck_3962213090_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>

<p>My shrink and good friend in Alaska <a href="http://wholewheatradio.org/wiki/index.php/User:Jimkloss">Sir Jim Kloss esq.</a> suggested I <a href="//rubenerd.com/life-stress-whatnot/#comment-1410">take a break</a> from computers and see some nature. I didn&#39;t have time to take an entire day off, but on Monday morning for several hours I left the house and walked around the gardens in Mawson Lakes taking photos. It did me the world of good.</p>

<p><img src="https://rubenerd.com/files/2009/who-are-you-looking-at_3961440119_o@1x.jpg" alt="Who are you looking at?" srcset="https://rubenerd.com/files/2009/who-are-you-looking-at_3961440119_o@1x.jpg 1x, https://rubenerd.com/files/2009/who-are-you-looking-at_3961440119_o@2x.jpg 2x" style="width:250px; height:167px;" /><img src="https://rubenerd.com/files/2009/my-neck-hurts-3961442269_o@1x.jpg" srcset="https://rubenerd.com/files/2009/my-neck-hurts-3961442269_o@1x.jpg 1x, https://rubenerd.com/files/2009/my-neck-hurts-3961442269_o@2x.jpg 2x" alt="My neck hurts!" style="width:250px; height:167px;" /></p>

<p>I took far too many [amateur] photos to upload all at once, so I&#39;m staggering them over a few days. Today&#39;s selection are all the photos I took of avian friends. Well they weren&#39;t really friends, aside from the ducks they all flew away as soon as I got close :).</p>

<p><img src="https://rubenerd.com/files/2009/im-super-sneaky-sneaky_3961438567_o@1x.jpg" alt="I'm super sneaky sneaky" srcset="https://rubenerd.com/files/2009/im-super-sneaky-sneaky_3961438567_o@1x.jpg 1x, https://rubenerd.com/files/2009/im-super-sneaky-sneaky_3961438567_o@2x.jpg 2x" style="width:250px; height:167px;" /><img src="https://rubenerd.com/files/2009/didnt-i-park-my-car-here-3962217232_o@1x.jpg" srcset="https://rubenerd.com/files/2009/didnt-i-park-my-car-here-3962217232_o@1x.jpg 1x, https://rubenerd.com/files/2009/didnt-i-park-my-car-here-3962217232_o@2x.jpg 2x" alt="Didn't I park my car here?" style="width:250px; height:167px;" /></p>

<p>Taken with my Nikon D60 and my 55-200mm Nikkor lens. You can <a href="https://www.flickr.com/photos/rubenerd/sets/72157622471354226/">view the evolving Flickr gallery here</a>.</p>

<p><img src="https://rubenerd.com/files/2009/you-looking-at-me_3961436637_o@1x.jpg" alt="You looking at me?" srcset="https://rubenerd.com/files/2009/you-looking-at-me_3961436637_o@1x.jpg 1x, https://rubenerd.com/files/2009/you-looking-at-me_3961436637_o@2x.jpg 2x" style="width:250px; height:167px;" /><img src="https://rubenerd.com/files/2009/gotsta-get-me-some-foodage-3961439375_o@1x.jpg" srcset="https://rubenerd.com/files/2009/gotsta-get-me-some-foodage-3961439375_o@1x.jpg 1x, https://rubenerd.com/files/2009/gotsta-get-me-some-foodage-3961439375_o@2x.jpg 2x" alt="Gotsa get me some foodage" style="width:250px; height:167px;" /></p>

<p><img src="https://rubenerd.com/files/2009/my-new-hairgel-is-awesome_3962213754_o@1x.jpg" alt="My new hairgel is awesome" srcset="https://rubenerd.com/files/2009/my-new-hairgel-is-awesome_3962213754_o@1x.jpg 1x, https://rubenerd.com/files/2009/my-new-hairgel-is-awesome_3962213754_o@2x.jpg 2x" style="width:500px; height:335px;" /></p>
 
