---
title: 'Happy Canada Day!' 
date: "2009-07-01T08:58:36+10:00"
year: "2009"
category: Thoughts 
tag: 
- canada
- vexillology 
---
<p><img src="https://rubenerd.com/files/2009/happy-canada-day_3678289230_o@1x.jpg" alt="Happy Canada Day!" srcset="https://rubenerd.com/files/2009/happy-canada-day_3678289230_o@1x.jpg 1x, https://rubenerd.com/files/2009/happy-canada-day_3678289230_o@2x.jpg 2x" style="width:500px; height:335px;" /></p>

<p>A happy Canada Day and Fête du Canada to all those whom this greeting may concern! As I&#39;ve said before here, my father loves your country, he says it&#39;s the most breathtakingly beautiful place on Earth with some of the friendliest people… he did say &quot;warm people&quot; at one point, but given the double entendre regarding climate he changed his wording! I&#39;m determined to visit it myself one day :-).</p>

<p>We Aussies desperately need a new flag as beautiful as the Canadian one. Canada proves you can be a <a href="http://en.wikipedia.org/wiki/Commonwealth_realm">Commonwealth realm</a> (aka: having the Queen) without needing a boring Red or Blue British Ensign as the basis of your national flag.</p>
<p>Peace, democracy and love… keep showing us the way Canada!</p>
 
