---
title: 'Programmers confuse Halloween and Christmas' 
date: "2009-09-15T11:51:15+10:00"
year: "2009"
category: Software
tag:
- coffee-bean-and-tea-leaf
- infocomm
- jokes
- pointless
- programming 
---
<p><img src="https://rubenerd.com/files/2009/christmas-at-vivocity_2117300188_o@1x.jpg" srcset="https://rubenerd.com/files/2009/christmas-at-vivocity_2117300188_o@1x.jpg 1x, https://rubenerd.com/files/2009/christmas-at-vivocity_2117300188_o@2x.jpg 2x" alt="Chrismas tree in Vivocity" style="width:420px" /></p>

<p>In a similar vein to the old adage that there are 10 kinds of people in the world, those who understand binary and those who don&#39;t, we have this gem:</p>

<blockquote><p>Programmers confuse Halloween and Christmas because<br />
Oct31 == Dec25.</p></blockquote>

<p>HA!</p>

<p>Brought to you by Ruben Schade,<br />
Department of Redundant Information Department,<br />
a subsidiary of the Bureau of Oversight.</p>
 
