---
title: 'Think about the content, not the medium!' 
date: "2009-06-19T01:25:07+10:00"
year: "2009"
category: Thoughts 
tag: 
- content
- shannon-whitley
- twitter 
---
<p><img src="https://rubenerd.com/files/2009/rural-south-australia_2918514432_o@1x.jpg" alt="Rural South Australia" srcset="https://rubenerd.com/files/2009/rural-south-australia_2918514432_o@1x.jpg 1x, https://rubenerd.com/files/2009/rural-south-australia_2918514432_o@2x.jpg 2x" style="width:500px; height:375px;" /></p>
<p><a href="http://voiceoftech.com/swhitley/">Shannon Whitley</a> (a interesting and very nice guy, I encourage you to <a href="http://twitter.com/swhitley/">follow him</a>) shared a link to an article on Twitter (<a href="http://adage.com/digitalnext/article?article_id=137393">Why I Hate Social Media</a>) which I only needed to read the first few lines of to know I agreed with it:</p>
<blockquote cite="http://adage.com/digitalnext/article?article_id=137393"><p>
At the risk of being branded a heretic or perhaps just being shown the door by my agency HR director, I have to say it: I hate social media. Why? Because it’s just media. And since when was media ever interesting?</p>
<p>People are interesting. Ideas are interesting. Stories are interesting. Real stuff is interesting. Brands are interesting (or, at least, some of them are). Even ads can be interesting. But media? Media just connects those things. It’s a conduit. Media is not interesting. Not even the &#8220;social&#8221; kind. </p></blockquote>
<p>Right down to Matt Jones&#39; use of the word conduit, his views are broadly the same as mine. Being a programmer I&#39;m fascinated by the intricate details of how systems work, but I&#39;m also aware that the ideas and thoughts published on such platforms are (potentially) far more valuable than the system itself. This is different though from saying the platform and medium are worthless, mind.</p>
<p>I think we often tend to judge material based on the medium they&#39;re published in instead of looking objectively at the media itself. Not a day goes by thesedays without us being told major newspapers are in trouble, that satellite radio is faltering, that grilled cheese sandwich irons are more difficult to use, that Wikipedia is <em>&quot;unreliable&quot;</em> and that there&#39;s no <em>&quot;point&quot;</em> to Twitter. There are plenty of other examples I&#39;m sure we could both think of.</p>
<p>How much of this furore is being stirred up by people merely accepting that newspapers are automatically better than blogs, and that Britannica is better than Wikipedia? In some cases they very well could be, but I see enough examples where the opposite is true to think that it&#39;s nowhere near as black and white an issue as we&#39;re led to believe.</p>
<p>I assert more thinking&#8212;and less assuming&#8212;needs to be done.</p>
 
