---
title: 'Letter for the leaders in Copenhagen' 
date: "2009-12-20T08:02:40+10:00"
year: "2009"
category: Thoughts 
tag: 
- climate-change
- copenhagen-summit
- earth
- environment
- fail
- politics
- united-nations 
---
<p><img src="https://rubenerd.com/files/2009/dwarfed_4020962689_o@1x.jpg" alt="Dwarfed" srcset="https://rubenerd.com/files/2009/dwarfed_4020962689_o@1x.jpg 1x, https://rubenerd.com/files/2009/dwarfed_4020962689_o@2x.jpg 2x" style="width:500px; height:335px;" /></p>
<p>Won&#39;t make any difference of course.</p>
<p><!--oldmore--></p>
<blockquote><div style="float:right;">Ruben Schade<br />Singapore and Adelaide, Australia<br />Planet Earth</div>
<div style="clear:both">Copenhagen Summit delegates<br />
Copenhagen, Denmark<br />
Planet Earth</div>
<p>To the leaders in Copenhagen,</p>
<div style="font-weight:bold; text-align:center">Regarding your abject failure in your duties.</div>
<p>We had low hopes and expectations, and you delivered exactly what we expected. I don’t know whether it was a few of you who hamstrung the negotiations or whether you all played your own part, and to be blunt I don’t care. Collectively, the results are the same.</p>
<p>As supposed custodians of this beautiful planet Earth, and as supposed representitives of us, the people of Earth, you have let down your constituents in ways you apparently can’t begin to fathmon.</p>
<p>May you have a more joyeous holiday season than the rest of us.</p>
<p>Peace, health and happiness,<br />
<cite>~ Ruben</cite></p></blockquote>
 
