---
title: 'BankSA Crime Stopper advertising' 
date: "2009-08-19T11:04:14+10:00"
year: "2009"
category: Media
tag:
- australia
- eyetv
- south-australia 
---
<p><img src="https://rubenerd.com/files/2009/banksa-crime-stoppers_3836796592_o@1x.jpg" alt="BankSA Crime Stoppers" srcset="https://rubenerd.com/files/2009/banksa-crime-stoppers_3836796592_o@1x.jpg 1x, https://rubenerd.com/files/2009/banksa-crime-stoppers_3836796592_o@2x.jpg 2x" style="width:500px; height:281px;" /></p>
<p>At BankSA Crime Stoppers, our advertising is as up to date as our technology! I kid, they do valuable work, but you&#39;d think while they rearranged their advertising layout for widescreen HD television they would have updated the graphics and the pictured mobile phone handset too.</p>
<p>Though with all that said, ironically if its an analogue phone it probably has better sound quality than our current mobile phones! Wait hold on I&#39;m typing this in Safari on my iTelephone and its complaining about a lost data connection.</p>
 
