---
title: 'This site is dedicated to Debra Schade' 
date: "2009-05-19T06:28:59+10:00"
year: "2009"
category: Thoughts
tag: 
- debra-anne-ross
- debra-anne-schade
- debra-ross
- debra-schade
- dedication
- family
- memories
- personal
- weblog 
---
<p><img src="https://rubenerd.com/files/2009/me-and-mummy-in-2006_3509540425_o@1x.jpg" alt="Me and mummy in 2006" srcset="https://rubenerd.com/files/2009/me-and-mummy-in-2006_3509540425_o@1x.jpg 1x, https://rubenerd.com/files/2009/me-and-mummy-in-2006_3509540425_o@2x.jpg 2x" style="width:500px; height:375px;" /></p>
<p>Since she moved on my blog here has been dedicated to my late beautiful, cheeky, warm, funny, brave mum Debra.</p>
<p>After an epic battle with cancer that lasted since my sister and I was little kids and through three international moves, Debra suddenly left us in her sleep recently. Her funeral was a beautiful service in Sydney a few weeks later with close friends and family played to the sounds of Santana&#39;s <em>Sam Pa Ti</em>, Bob Dylan&#39;s <em>Forever Young</em>, Bob Marley&#39;s <em>Stir It Up</em>, Sabah Habas Mustapha&#39;s <em>Warm Rain Falls</em>, The Beatles&#39; <em>Let it Be</em> and of course <em>Spirit in the Sky</em>.</p>
<p>She was an amazing person with a ridiculous sense of humour that I can proudly claim was the primary influence for my own. We&#39;d watch Bertie Wooster and Fawlty Towers episodes for hours on weekends (a cow creamer!). In the oncology ward where we considered the nurses and Dr Tan family she&#39;d refer to her chemotherapy drip as champagne and loudly insist on seeing the wine menu. She introduced me to Michael Franks (now my favourite singer/songwriter) and his <em>Search for the Perfect Shampoo</em>. I&#39;d dance into her bedroom singing Dean Martin&#39;s <em>How Do Ya&#39; Like Your Eggs in the Morning?</em> to her at breakfast and she&#39;d throw books. I&#39;d poke fun at her short stature and she&#39;d mock me for being a nerd who was too scared to ask that cute Korean girl out that she had already pre-approved. Most of the time when she didn&#39;t have enough strength to get out of bed I&#39;d bring a pair of laptops in and I&#39;d do my work while she lectured on why the dress the latest celebrity was wearing was awful or how corrupt the cosmetics industry is.</p>
<p><img src="https://rubenerd.com/files/2009/my-mum-being-a-giraffe_3510393980_o@1x.jpg" alt="My mum being a giraffe" srcset="https://rubenerd.com/files/2009/my-mum-being-a-giraffe_3510393980_o@1x.jpg 1x, https://rubenerd.com/files/2009/my-mum-being-a-giraffe_3510393980_o@2x.jpg 2x" style="width:500px; height:375px;" /></p>
<p>Behind the tough, silly exterior though was a person in almost constant pain and anguish. Routine aspects of most of our lives were insurmountable chores for her that only got more difficult and painful as the years went on. She was a master at hiding it from the outside world, but the consequence was she&#39;d rarely want to leave the house for the effort to put her self described &quot;mask&quot; on was nearly always just too much.</p>
<p>She confided in my sister and I shortly before she left us that we were the reason she continued to fight, because she wanted us to be old enough to have memories of her. It&#39;s only now I realise how incredible (and lump-in-the-throat inducing) that was. I&#39;m also becoming aware now as I get older that she won&#39;t be around for so many milestones in my sister&#39;s and my lives (graduations, work, weddings, kids) but we do have memories we would not trade for anything.</p>
<p>One of her favourite songs of all time was Thunderclap Newman&#39;s <a style="font-style:italic;" href="http://en.wikipedia.org/wiki/Something_in_the_Air_(song)">Something in the Air</a>, particularly the beginning of the final verse when the coda finishes and the melody seems to soar; she told me she loved it because it sounded like a bird was taking off without worries. While I selfishly wish she was back here with me, I also know she was living in excruciating pain for years and her passing finally allowed her to take off and leave the agony behind. Even if she was taken away from me far too soon, she&#39;s no longer in pain.</p>
<p>Unfortunately I didn&#39;t seem to inherit her class or her incredible musical, comedic, artistic or literary skills (thank you Rainer!), but given this website is one of my own primary outlets for my mind I can&#39;t think of anything more fitting than to dedicate this to Debra Schade, even if all it amounts to are sporadic thoughts about software and the universe that she&#39;d laugh and mock me for if she read! We had a great relationship :-).</p>
<p>I love you Mumster, I miss you so much it hurts. Thank you for giving me life but even more for your friendship. Forgive me for this next part.</p>
<pre>#import Display.h;
int main( int argc, const char *argv[] ) {
    printf( "Lots of love, Ruben" );
    return 0;
}</pre>
<p><img src="https://rubenerd.com/files/2009/mummy-and-i-in-2006_3509541937_o@1x.jpg" alt="Mummy and I" srcset="https://rubenerd.com/files/2009/mummy-and-i-in-2006_3509541937_o@1x.jpg 1x, https://rubenerd.com/files/2009/mummy-and-i-in-2006_3509541937_o@2x.jpg 2x" style="width:500px; height:375px;" /></p>
 
