---
title: 'Do you own data, or does data own you?' 
date: "2009-01-05T11:47:36+10:00"
year: "2009"
category: Media
tag:
- could-have-been-expressed-in-one-line
- data 
---
<p><img src="https://rubenerd.com/files/uploads/photo.toomanydrives.jpg" alt="" style="height:335px; width:500px; display:inline;" /><br />
<cite>Too… many… drives!</cite></p>
<p>I tend to follow a similar familiar pattern of behaviour whenever I get a shiny new gadget or install a brand new operating system I&#39;ve never used before that has a solid package manager.</p>
<ol>
<li>Get excited</li>
<li>Check out available software</li>
<li>Download and install ridiculous numbers of titles based on the loose criteria that <em>&quot;it looks interesting&quot;</em></li>
<li>Attempt to organise and maintain all the software</li>
<li>After a few weeks I realise I didn’t use most of the software, start pruning back</li>
<li>Rinse, lather, repeat</li>
</ol>
<p>I&#39;m reminded of what my grandfather on my mum&#39;s side back in Australia has always said about clutter and junk: if you haven&#39;t used something in a month, it&#39;s safe to assume you probably won&#39;t ever use it, and it&#39;s time to sell it or give it away. Like a Greek or Chinese philosopher he claims that the amount you paid for something should NOT be a factor in whether you cling to it, because clutter just isn&#39;t worth it.</p>
<p>I think the same can be said for computers. People tend to see clutter in a more physical sense, and I admit even as late as a few years ago admitting that the amount of data and applications you have on a machine doesn&#39;t matter because your computer doesn&#39;t physically grow in size or get heavier. It may sound silly, but I suspect more people think like this.</p>
<p><img src="https://rubenerd.com/files/uploads/screenie.pkgsrcse.png" alt="pkgsrc.se" style="height:329px; width:500px; display:inline;" /><br /><cite>It&#39;s too tempting to install tons of free, quality software from pkgsrc!</cite></p>
<blockquote><p><strong>ASIDE:</strong> The irony isn’t lost on me that I’ve taken this NetBSD pkgsrc screenshot on a Windows machine. I’m on my dad’s machine here while I fix his partition table. That didn’t sound right.</p></blockquote>
<p>While I am a fan of Mac OS X, this is one of the things that really draws me to <a href="http://www.freebsd.org/">FreeBSD</a>. Unlike OS X or Windows or the vast majority of GNU/Linux distributions, FreeBSD starts off clean, simple to understand and small, and you only add what you need.</p>
<p>I don&#39;t quite know how to describe it, but when I view the few hundred packages I have on a FreeBSD tower compared to the thousands that Ububtu or Fedora installs or the many applications OS X or Windows come with that I&#39;d never use, I feel as though I&#39;m using a far more elegant system. Of course the trade off is you have to invest a not so insignificant amount of time initially setting it up compared to Ubuntu or OS X, but the results are worth it!</p>
<blockquote><p><strong>ASIDE:</strong> I would have said Windows too, but I find the initial stages of installing, locking down and securing a fresh Windows install takes even longer! I’m serious, I have timed this!</p></blockquote>
<p>The same clutter talk can also be applied to data. As I said before I used to assume data had an inexhaustible potential, for if I ran out of disk space, I could just add another drive! When you&#39;ve had this attitude for your whole life and have piled up terabytes of crap, backups and general hardware maintenance end up taking up more time than what I suspect the data is worth.</p>
<p>I have [almost] never deleted any of my data, unless I was compressing (and checksumming) it using the latest and greatest algorithm; and while I&#39;ve always been rather messy in my living environments (though seeing others I think I&#39;m quite tame!) I have always been obsessively meticulous when it comes to sorting and organising my data. I have a complex directory structure that has evolved over the years but it&#39;s clean enough that I can find a book report I typed up in primary school without using any search system… if I really wanted to!</p>
<p><img src="https://rubenerd.com/files/2009/container-ship-in-the-straits-of-singapore_2389474702_o@1x.jpg" alt="Container ship in the Straits of Singapore" srcset="https://rubenerd.com/files/2009/container-ship-in-the-straits-of-singapore_2389474702_o@1x.jpg 1x, https://rubenerd.com/files/2009/container-ship-in-the-straits-of-singapore_2389474702_o@2x.jpg 2x" style="width:500px; height:375px;" /></p>
<cite>Imagine if I printed everything I had on hard drives onto paper… sheesh!</cite></p>
<p>The question is… Is it worth maintaining all this data and infrastructure? When should common sense kick in? Should I be performing the same kind of auditing on data as I tend to do with software on a regular basis?</p>
<p>I suspect this is a fairly open ended problem, and as with clutter in the real world some people are naturally better at not letting it accumulate than others. I still have my Pentium MMX 200MHz desktop running the latest version of FreeBSD and it still performs great. I guess you can tell the nature of my hoarding habits from that :)</p>
<p>As I&#39;ve said on Google Reader, there is something alluring about buying a sturdy backpack that can hold a laptop, clothes and a teddy bear and living out of it as I spend my money travelling rather than buying more crap. I suspect I&#39;ll always need to have a storage room somewhere though… for my box of my late mum&#39;s handwriting and her paintings for example. And I&#39;ll always need a big arse external hard drive to store digital crap, even if I leave it in the same storage room.</p>
<p>I guess this post could have been summarised in two words: <strong>delete superfluous crap</strong>! Hey wait a minute.</p>
 
