---
title: 'Samoa now has left drivers' 
date: "2009-09-08T11:41:41+10:00"
year: "2009"
category: Thoughts 
tag: 
- australia
- cars
- news
- samoa
- singapore
- transport 
---
<p><img src="https://rubenerd.com/files/2009/getting-dark-in-hahndorf_3390961305_o@1x.jpg" alt="Getting dark in Hahndorf" srcset="https://rubenerd.com/files/2009/getting-dark-in-hahndorf_3390961305_o@1x.jpg 1x, https://rubenerd.com/files/2009/getting-dark-in-hahndorf_3390961305_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>
<p>If I were a car driver, I could now add Samoa to the list of countries I could figure out how to drive in, because they drive on the right side of the road now. Wait, I meant right as in <strong>correct</strong> not as in the <strong>right-hand side</strong>. I meant they&#39;re now driving on the <strong>left-hand side</strong>. From the <a href="http://www.sbs.com.au/news/article/1085857/Samoans-pray-for-a-safe-road-switch">SBS Australia news site:</a></p>
<blockquote cite="http://www.sbs.com.au/news/article/1085857/Samoans-pray-for-a-safe-road-switch"><p>On Tuesday, Samoa will end a century-old tradition of European-style driving, on the right, to become aligned with its Pacific neighbours.</p>
<p>The controversial move will make car importation from Australia and New Zealand easier and cheaper.</p>
<p>But the move has been fiercely opposed, with thousands taking to the streets in protest and backing a law suit to have the change overturned.</p></blockquote>
<p>Until recently I had no idea <a href="http://en.wikipedia.org/wiki/Right-_and_left-hand_traffic">so few countries drive on the left</a>. I&#39;m an Aussie and grew up in Singapore and Malaysia, so guess I&#39;m just used to it. Apparently aside from much of the Pacific, Indonesia, Ireland, the UK, Japan, Hong Kong and most of south-eastern Africa most of the world drives on the right.</p>
<p>I know I have my own biases, but I always thought driving on the left made more sense anyway. Most people are right-handed which means they have better control of the steering wheel, while their less accurate left hand is just used for the transmission.</p>
<p>What can I say, people say I tend to have left-leaning sympathies ;-)</p>
 
