---
title: 'A drizzly parking lot' 
date: "2009-06-07T09:45:28+10:00"
year: "2009"
category: Media
tag:
- flickr
- nikkor
- nikon-d60
- photos 
---
<p><img src="https://rubenerd.com/files/2009/drizzly-parking-lot_3602635257_o@1x.jpg" alt="Drizzly parking lot" srcset="https://rubenerd.com/files/2009/drizzly-parking-lot_3602635257_o@1x.jpg 1x, https://rubenerd.com/files/2009/drizzly-parking-lot_3602635257_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>
<p>For some reason I like the softer focus in this shot. The depth of field had to be narrower so I could shoot the picture faster to compensate for my overly jittery hands. At least with a 50mm 1.8 it can collect much more light in a shorter time.</p>
<p>This is another type of shot you just can&#39;t plan for. Like a really bad cold. Wait, that didn&#39;t sound terribly good. Need some work on holding cameras more steadily when standing though.</p>
 
