---
title: 'Facebook’s reputation erosion?' 
date: "2009-11-20T03:39:37+10:00"
year: "2009"
category: Software
tag:
- facebook
- infocomm
- privacy
- reputation
- social-networks
---
<p><img src="https://rubenerd.com/files/uploads/logo.facebook.sad.smaller.png" alt="Facebook sad logo." style="height:120px; width:420px; display:inline;" /></p>
<p>@jowyang <a href="http://twitter.com/jowyang/status/5879862761">commenting</a> on <a href="http://twitter.com/search?q=%23smba">#smba</a>:</p>
<blockquote cite="http://twitter.com/jowyang/status/5879862761"><p>Many attendees say they don’t trust Facebook. Concerned about how their data is used, permissions, and connecting personal with work</p></blockquote>
<p>It seems this attitude is spreading. Having spent some time at my <a href="//rubenerd.com/unisa-virus-fail/">uni&#39;s computer barns</a> recently, I&#39;ve overheard conversations even by non-techie people about how Facebook is starting to worry them. Some naturally talk about how their significant others, bosses and the like accidentally saw something they weren&#39;t supposed to, but others talked about the issues Owyang is hearing too. This is a fundamental shift in attitudes.</p>
<p>The vast majority of Facebook users probably don&#39;t know or care, but all it takes is for enough people to become worried for a shift to start happening. The Facebook guys should be taking this gradual erosion of their reputation <strong>very</strong> seriously because unlike their <a href="//rubenerd.com/facebook-changes-again/">constant remodelling</a> that angers people but then gets ignored, this could be enough to scare people away from their service.</p>
<p>The problem is, with MySpace and Friendster back in the day there was a viable alternative in the form of Facebook to move over to when things starting getting icky. What is there for disaffected Facebook users? Twitter is a different type of service, and Orkut doesn&#39;t seem to be getting anywhere outside South America.</p>
<p>I suppose we&#39;ve got a while yet before things really change.</p>
 
