---
title: 'Fedora 11 is almost awesome' 
date: "2009-11-12T11:09:56+10:00"
year: "2009"
category: Software
tag:
- fedora
- gnome
- infocomm
- linux
- nostalgia
- red-hat
- thinkpad
- thinkpad-x40 
---
<p><img src="https://rubenerd.com/files/2009/4097872878_720abb92e4_o@1x.jpg" srcset="https://rubenerd.com/files/2009/4097872878_720abb92e4_o@1x.jpg 1x, https://rubenerd.com/files/2009/4097872878_720abb92e4_o@2x.jpg 2x" alt="Fedora 11 screenshot showing garbled Xorg output" style="width:500px; height:375px;" /></p>

<h3>Installer</h3>
<p>Given the now defunct <a href="http://en.wikipedia.org/wiki/Red_Hat_Linux">Red Hat Linux</a> was the first GNU/Linux distribution I ever used (I bought a boxed version of it from Challenger in Funan Centre!), it was a bit of a nostalgia trip to see the <a href="https://fedorahosted.org/bluecurve/">Bluecurve</a> icons in the <a href="http://fedoraproject.org/wiki/Anaconda">Anaconda installer</a>… I was using Red Hat Linux before Mac and FreeBSD! To save myself burning another CD I created a bootable USB key from a LiveCD following the <a href="http://fedoraproject.org/wiki/FedoraLiveCD/USBHowTo">easy instructions</a> on the Fedora wiki.</p>
<p>I personally prefer the <a href="http://freebsd.org/">FreeBSD</a> and <a href="http://debian.org/">Debian</a> text installers, particularly when it comes to partitioning drives, but that probably has more to do with what I&#39;m used to.</p>
<h3>Default desktop</h3>
<p><img src="https://rubenerd.com/files/uploads/icon.fedora.png" alt="Fedora" style="width:96px; height:96px; display:inline; float:right; margin:0 0 1em 2em; padding:0em; background:transparent" />In keeping with the Red Hat tradition I remembered, Fedora ships with <a href="http://gnome.org/">Gnome</a> by default. I tend to switch between Gnome and <a href="http://xfce.org/">Xfce</a> on different machines, but for notebooks I find the flexible and easy to use Gnome networking tools put it ahead.</p>
<p><a href="http://pkg-gnome.alioth.debian.org/">Debian</a> and <a href="http://www.freebsd.org/gnome/">FreeBSD</a> implement Gnome in a fairly vanilla way, but Fedora does things a bit differently which caught me off guard. Fortunately it didn&#39;t take long to rearrange the desktop to resemble what I was used to :).</p>
<p>I&#39;m so thoroughly out of practise with RPM having got so used to pkgsrc, FreeBSD ports and Debian&#39;s apt-get that I took the easy way out and used gpk-application to install my apps. Curiously, Fedora 11 didn&#39;t install the <a href="http://projects.gnome.org/gconf/">Gnome Configuration Editor</a> which I would have considered to be a core application, nor did it come with <a href="http://live.gnome.org/GnomeGames/">Gnome Games</a> so I couldn&#39;t get my Python <a href="http://live.gnome.org/GnomeSudoku">Sudoku</a> and <a href="http://live.gnome.org/Tetravex">Tetravex</a> freak on, but gpk-application made it easy to get them installed.</p>
<h3>Hardware</h3>
<p><img src="https://rubenerd.com/files/uploads/logo.thinkpad.png" alt="Retro IBM ThinkPad logo" style="width:200px; height:134px; display:inline; float:right; margin:0 0 1em 2em; padding:0em; background:transparent" />I haven&#39;t ever felt the need to use the infrared or Bluetooth with this ThinkPad X40 so I can&#39;t vouch for whether they work or not. What I can say though is the SD card slot recognised my data card, xorg mostly worked without problems (see below) and the Intel wireless card was detected and connected to a WPA network sooner than I could say our gibberish 64 character password.</p>
<h3>Problems</h3>
<p>Disappointingly, Fedora does have a small quirk that neither Debian or FreeBSD had. Whenever I bring the machine out of standby, the backlight refuses to come on. I can just make out the screen enough to fire up a Terminal and initiate a shutdown so it&#39;ll restart and the backlight will come back on, but it&#39;s a pain. <a href="http://www.thinkwiki.org/wiki/Installing_Fedora_11_on_a_ThinkPad_X40#Configuration">This ThinkWiki page</a> details a few kernel parameters to define in the grub configuration, but that only seemed to solve the problem for me sometimes.</p>
<p>Also, for some reason taking screenshots results in the same garbled mess as shown at the beginning of the post. This is probably an xorg problem, but it&#39;s also one that fresh installs of Debian and FreeBSD didn&#39;t have.</p>
<h3>Thoughts</h3>
<p><img src="https://rubenerd.com/files/uploads/fedora12-countdown-banner-6.en.png" alt="Fedora 12" style="width:200px; height:100px; display:inline; float:right; margin:0 0 1em 2em; padding:0em; background:transparent" />Aside from the standby issue, so far so good. I&#39;ve got the OpenSolaris Nimbus theme installed for a change (look at that, my ThinkPad looks like the computers at uni!) and am finding it to be a productive environment to work in.</p>
<p>From my experience I reckon Fedora and Slackware with the <a href="http://www.slackbook.org/">Slackbook</a> are the the closest any Linux distribution has come to the <a href="http://www.freebsd.org/doc/en_US.ISO8859-1/books/handbook/">FreeBSD Handbook</a>. Fedora&#39;s <a href="http://docs.fedoraproject.org/">online documentation</a> is excellent, and their <a href="http://fedoraproject.org/wiki/">wiki</a> contains a ton of useful information.</p>
<p>I&#39;m counting down the days until Fedora 12, here&#39;s hoping it irons out some of these bugs. I&#39;ve got too much work and studying to do to chase them down myself!</p>
 
