---
title: 'Installing Linux for the first time' 
date: "2009-04-26T04:02:13+10:00"
year: "2009"
category: Software
tag:
- 1990s
- infocomm
- nostalgia
- operating-systems
- personal
- red-hat-linux
- slashdot 
---
<p><img src="https://rubenerd.com/files/2009/my-blue-imac_130698815_o@1x.jpg" alt="My Blueberry iMac from 2003" srcset="https://rubenerd.com/files/2009/my-blue-imac_130698815_o@1x.jpg 1x, https://rubenerd.com/files/2009/my-blue-imac_130698815_o@2x.jpg 2x" style="width:500px; height:375px;" /></p>
<p>Slashdot has an article asking you to <a href="http://rss.slashdot.org/~r/Slashdot/slashdot/~3/2jMrFl14mHE/article.pl">remember when you first installed Linux</a>. At the risk of sounding melodramatic, I can remember my first Linux installation vividly.</p>
<p>I was 14 or 15 I think and it was a Saturday which meant I was window shopping at the Challenger superstore at the top floor of Funan Centre! I had just walked into the software section which was separated by a huge space station looking thing suspended from the roof that I always thought looked cool in a very retro way, when I saw this box with a graphic of a weird, silhouetted figure of a guy wearing a red hat. At the time Red Hat Linux was THE Linux distribution and was available in cartons like commercial software.</p>
<p>I had heard of Linux but had never used it before and didn&#39;t even really understand the free software movement, but I was shocked at how cheap it was compared to Windows so I used my allowance and bought it! I sat at the Delifrance downstairs and had a snack and read the back of the box trying to understand what I&#39;d need to do to get it running. I was really excited!</p>
<p>When I got home I pulled out an old machine from retirement, booted it up and started installing it. I was absolutely enthralled by the process, it was so unlike anything I had used before coming from a DOS and Windows background! I&#39;ve since moved onto FreeBSD for most of my non-Mac machines, but I still have fond memories of that day, until that point.</p>
<p><img src="https://rubenerd.com/files/uploads/screenie.redhat.install.png" alt="Screenshot from the Red Hat Linux installer at the time" style="height:350px; width:500px; border:0px; display:inline" /></p>
<p>Barely had the installer started, my dad told me to go with him to the hospital. It turns out my mum had suffered a major complication in her chemotherapy treatment which even back then had been going on for years. I&#39;ll spare the details, but suffice to say what I found out scared the heck out me.</p>
<p>My cynical teenage years started around that time, it seemed whenever something good happened to my family or to me something bad just had to happen to neutralise it, because we weren&#39;t allowed to be normal. I guess that&#39;s the way Murphey&#39;s Law works, right?</p>
<p>Anyway at least one good thing happened; buying that box started my current love for tinkering with OSs, Unix-like systems and with free and open source software and platforms.</p>
<p>I still wonder even now whether I would have stayed a Windows guy had that not happened. If so, what would this blog read like now? I guess I&#39;d be defending Windows Vista/7, telling everyone the Microsoft Office ribbon is wonderful and that the only reason Windows is so insecure is because of it&#39;s large desktop market share. Perhaps I could have even been hired to write an astroturfing blog! Come to think of it, it&#39;d probably have made more money than this blog does ;-).</p>
 
