---
title: 'First impression of Snow Leopard: is gut!' 
date: "2009-08-29T02:17:12+10:00"
year: "2009"
category: Software
tag:
- apple
- infocomm
- mac-os-x
- operating-systems
- reviews
- snow-leopard 
---
<p><img src="https://rubenerd.com/files/2009/3866119615_3e44fd6783_o@1x.jpg" srcset="https://rubenerd.com/files/2009/3866119615_3e44fd6783_o@1x.jpg 1x, https://rubenerd.com/files/2009/3866119615_3e44fd6783_o@2x.jpg 2x" alt="Taming the snow leopards" style="width:500px; height:312px;" /></p>

<p>My premininary experience with <a href="//rubenerd.com/tag/snow-leopard/">Snow Leopard</a> after getting around to installing has been amazing. It&#39;s most probably also to do with the fact I did a clean install which always helps, but all the applications load instantly or with only one dock bounce even on this 2006 era first generation MacBook Pro! Obviously compiling huge projects or editing video won&#39;t be much faster, but if the machine is feeling this much more responsive I might be able to keep using it for even longer which my wallet will love.</p>
<p>There are also lots of tiny little non-performance related things. When you click the hide toolbar button in the Finder it does a quick animation, and the toolbar itself is spaced out more neatly. When I have my external monitor attached the open windows on it are easier to resize to fit the full height without going over. When you open folders in the Finder using column view they show an open icon. The Homebrew theme in the Terminal uses blue as a selection colour. I&#39;m sure I&#39;ll find more such things.</p>
<p>So far the only bad things I&#39;ve come across is hard drives aren&#39;t shown by default on the Desktop but a quick visit to the Finder Preferences screen can fix that. Also, for some reason the fonts look dreadful and the Appearance preference pane no longer has a drop down menu to select the degree of font smoothing. A visit to the Terminal will fix this, but it&#39;s weird they&#39;d do that.</p>
<p>Now it&#39;s time to put the Dock back on the side and install my applications. Speaking of which I need a cup of coffee. Why doesn&#39;t Snow Leopard do THAT for me still I ask?</p>
 
