---
title: 'Flickr Pro accounts expire like grilled cheese' 
date: "2009-10-08T10:43:04+10:00"
year: "2009"
category: Internet
tag:
- flickr
- infocomm
- photos 
---
<p><img src="https://rubenerd.com/files/2009/recycled-grey-water_3585457358_o@1x.jpg" alt="Recycled grey water" srcset="https://rubenerd.com/files/2009/recycled-grey-water_3585457358_o@1x.jpg 1x, https://rubenerd.com/files/2009/recycled-grey-water_3585457358_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>
<p>For those of you wondering what happened to those photos <a href="//rubenerd.com/break-photos-01/">I promised I&#39;d be uploading</a> a few days ago, alas I&#39;ve let my so-called <a href="https://flickr.com/photos/rubenerd/">Flickr Pro</a> account expire and while I&#39;ve got the money to plonk (plonk?) down for another year, I need to transfer it into my super special separate Visa Debit bank account I use for the intertubes which will take a few days.</p>
<p>In the meantime, I have attached an entirely pointless image from a <a href="//rubenerd.com/sandwich-observation-9">previous</a> Grilled Cheese Sandwich Observation Lesson. I need to do another one of those.</p>
 
