---
title: 'Using Flickr for screenshots' 
date: "2009-04-24T02:22:43+10:00"
year: "2009"
category: Media
tag:
- askjeeves
- flickr
- guide
- howto
- screenshots 
---
<p><img src="https://rubenerd.com/files/2009/3470249642_afc5ab6207_o@1x.jpg" srcset="https://rubenerd.com/files/2009/3470249642_afc5ab6207_o@1x.jpg 1x, https://rubenerd.com/files/2009/3470249642_afc5ab6207_o@2x.jpg 2x" alt="They brought back Jeeves!" style="width:500px" /><br /><cite>Screenshot on Flickr I uploaded of AskJeeves.com. They brought back Jeeves!</cite></p>

<p>It&#39;s another example of a feature that&#39;s available but unless you&#39;re specifically looking for it, it may elude you: <a href="https://flickr.com/">Flickr</a> supports screenshots. When you think about it, a screenshot is merely a photo taken on your computer in a specific state anyway and you could upload it as such, but you can actually declare images as screenshots as opposed to photos when you upload them.</p>
<p>If you use the Flickr website <a href="https://www.flickr.com/photos/upload/">upload page</a>, the option to declare an image as a screenshot is available when you click the <em>&quot;Show more upload settings&quot;</em>. In the <a href="https://www.flickr.com/tools/uploadr/">Flickr Uploadr</a> <em>[sic]</em> application then option is under the <em>&quot;Content type&quot;</em> listbox.</p>
<p><img src="https://rubenerd.com/files/uploads/icon.tango.camera.92px.png" alt="Icon from the Tango Desktop project" style="height:92px; width:92px; display:inline; border:0px; float:right; margin:0 0 10px 20px;" />When you think about it, hosting screenshots on a site like Flickr makes sense. Because they have many sharp lines and text you want to preserve, full sized screenshots tend to look degraded and crappy when saved as JPEGs, but saving them as PNGs drastically increases the file size to the point where sometimes their file sizes are larger than photos from my D60! Flickr also gracefully scales photos to many different sizes and sharpens them which also works great with screenshots.</p>
<p>I&#39;m a self confessed screenshot addict, always have been. I guess now the challenge is not to fill my Flickr account with screenshots instead of photos!</p>
<p>You can view all the screenshots I&#39;ve already uploaded to Flickr in the surprisingly titled <a href="https://www.flickr.com/photos/rubenerd/sets/72157601891669013/">Screenshots set</a>. Most of them have been used on my blog before.</p>
 
<p style="font-style:italic">(<strong>Update 2009</strong>: I moved back to self-hosting everything, oh well!)</p>
