---
title: 'Terrible food puns and nature photos' 
date: "2009-10-18T01:54:33+10:00"
year: "2009"
category: Media
tag:
- adelaide
- environment
- flickr-import
- mawson-lakes
- nature
- photography
- photos
- terrible-puns 
---
<p><a href="https://www.flickr.com/photos/rubenerd/4019451688/" title="An All-Bran tree!"><img src="https://rubenerd.com/files/2009/4019451688_f982446f2b_o@1x.jpg" srcset="https://rubenerd.com/files/2009/4019451688_f982446f2b_o@1x.jpg 1x, https://rubenerd.com/files/2009/4019451688_f982446f2b_o@2x.jpg 2x" alt="An All-Bran tree!" style="width:500px;" /></a></p>

<p>Funnily enough I wasn&#39;t terribly hungry when I took these two photos, but you could be forgiven for thinking food was foremost on my mind. For some reason I could see food and food related whatnot everywhere in The Nature.</p>

<p><img src="https://rubenerd.com/files/uploads/photo.allbran.jpg" alt="A box of All-Bran" style="height:160px; width:120px; display:inline; border:0em; padding:0em; background:transparent; float:right; margin:0 0 10px 20px" /></p>

<p>For example, in the photo above I have depicted through my camera conveyance a picture of an <a href="http://www.kellogg.com.au/Home/Products/Cereal/AllBran/tabid/321/Default.aspx">All-Bran</a> tree. I presume the <a href="http://www.kellogg.com.au/Home/Products/Cereal/AllBran/tabid/321/Default.aspx">Kellogg&#39;s cereal company</a> has fields of these trees that they harvest the All-Bran from and possibly toast or something before finally packaging for the morning crowd who subsequently have no trouble maintaining regularity. Super duper!</p>

<p>The other picture below is somewhat less interesting, but I loved the [purely accidental] interesting depth of field. I thought it kinda looked like wheat, which makes my use of the word <strong>field</strong> in the previous sentence a delicious pun, and the word <strong>delicious</strong> that was just mentioned was also a delicious pun because we&#39;re talking about food! I don&#39;t get paid enough for this gig.</p>

<p>In case you&#39;re wondering, these are part of the same mid semester break nature walk photos I took and <a href="//rubenerd.com/break-photos-01/">talked about</a> a couple of weeks ago and <a href="https://www.flickr.com/photos/rubenerd/sets/72157622471354226/">started a Flickr gallery for</a>. Over the next few days I&#39;ll be uploading more stuff.</p>

<p><a href="https://www.flickr.com/photos/rubenerd/4018688667/" title="Kinda looks like wheat, a bit by rubenerd, on Flickr"><img src="https://rubenerd.com/files/2009/4018688667_4e62b2a5ec_o@1x.jpg" srcset="https://rubenerd.com/files/2009/4018688667_4e62b2a5ec_o@1x.jpg 1x, https://rubenerd.com/files/2009/4018688667_4e62b2a5ec_o@2x.jpg 2x" alt="Kinda looks like wheat, a bit by rubenerd, on Flickr" style="width:500px" /></a></p>

