---
title: 'Free Software versus Open Source' 
date: "2009-05-03T09:06:03+10:00"
year: "2009"
category: Software
tag:
- floss
- gnu
- infocomm
- richard-stallman
- tim-oreilly 
---
<p><img src="https://rubenerd.com/files/uploads/photo.redmonk.jc4_01.jpg" alt="Tim O'Reilly and Richard Stallman." style="height:314px; width:500px;" /><br /><cite>Tim O&#39;Reilly and Richard Stallman, <a href="http://www.redmonk.com/jgovernor/2009/04/01/cloud-standards-breakthrough-with-new-cloud-source-license/">by RedMonk</a>. Great picture!</cite></p>
<p>Personally I don&#39;t think either term is ideal. Despite the <a href="http://www.fsf.org/">Free Software Foundation</a> repeatedly telling us <em>&quot;Free Software&quot;</em> <a href="http://www.fsf.org/about/">refers to liberty and freedom not price</a>, I doubt the typical English use of the word will ever change. <em>&quot;Open Source&quot;</em> as advocated by the <a href="http://www.opensource.org/">Open Source Initiative</a> also isn&#39;t ideal given it simply describes the ability of users to view code without mentioning how such code could be used.</p>
<p>I avoid confusion and this debate like many others by simply calling it <em>free and open source software</em>. I do admit I love both movements and value their importance, but frankly we all need to stop this infighting and come up with an all encompassing term.</p>
<p>I guess though one could say one of the points of FLOSS is the ability to fork or create new software when other solutions are licenced too restrictively or don&#39;t serve their purpose well, and that this includes terms as well. Who&#39;s to say even if we did come up with a term we all agreed upon that we&#39;d agree on it in perpetually?</p>
<p>I&#39;m off to connect to my FreeBSD machine through OpenSSH on my Arch Linux sub-notebook, this argument is making my head hurt!</p>
 
