---
title: 'It’s FreeBSD’s documentation, stupid' 
date: "2009-05-03T04:01:45+10:00"
year: "2009"
category: Software
tag:
- armada-m300
- bsd
- documentation
- freebsd
- gnu
- infocomm
- linux
- man-pages
- operating-systems 
---
<p><img src="https://rubenerd.com/files/uploads/icon.tux.png" style="height:192px; width:160px; display:inline; border:0px" alt="Tux" /><img src="https://rubenerd.com/files/uploads/icon.gnu.png" alt="GNU" style="height:192px; width:188px; display:inline" /><img src="https://rubenerd.com/files/uploads/bsd.daemon.png" alt="The BSD Daemon" style="height:182px; padding:5px 0px; width:168px; display:inline" /></p>
<p>As you might remember a few months ago I switched from <a href="http://freebsd.org/">FreeBSD</a> to <a href="http://archlinux.org/">Arch Linux</a> on my 2002-era <a href="//rubenerd.com/p1119/">Compaq Armada M300 sub-notebook</a> which I use for downloading torrents and as a <a href="http://www.theboatdeck.com.au/">coffee shop computer</a>. Since then I might have figured out how to get my wireless card working on FreeBSD after all, but that&#39;s for another post.</p>
<p>One thing I have really noticed using the GNU Project&#39;s userland tools on Linux instead of FreeBSD&#39;s userland tools on FreeBSD is while the GNU tools generally have more features, the difference in the quality of the bundled documentation, specifically <a href="http://en.wikipedia.org/wiki/Man_pages">manual pages (Wikipedia)</a> is huge. There&#39;s absolutely no comparison, FreeBSD&#39;s manual pages are more comprehensive, complete and better written.</p>
<p>As a FreeBSD user who has been spoilt silly and has come to expect this level of documentation, to use GNU/Linux has been somewhat of a shock. Often manual pages for the GNU userland tools contain a blunt dictionary style description of what the tool does, followed by a skeleton explanation of each of the options and a reference to a URL.</p>
<p>For example, check out the first screen of the manual page for the ls command for Linux and FreeBSD respectively, before the options are presented. Given Mac OS X&#39;s BSD underpinnings the man page for ls is the same too.</p>
<h3>GNU/Linux</h3>
<blockquote style="font-size:x-small;"><p>
<strong>NAME</strong><br />
ls &#8211; list directory contents</p>
<p><strong>SYNOPSIS</strong><br />
ls [OPTION]…. [FILE]…</p>
<p><strong>DESCRIPTION</strong><br />
List information about the FILEs (the current directory by default). Sort entries alphabetically if one of the -cftuvSUX nor &#8211;sort.</p>
<p>Mandatory arguments to long options are mandatory for short options too.
</p></blockquote>
<h3>FreeBSD (and Mac OS X)</h3>
<blockquote style="font-size:x-small;"><p>
<strong>NAME</strong><br />
ls &#8212; list directory contents</p>
<p><strong>SYNOPSIS</strong><br />
ls [-ABCFGHLPRSTW@abcdefghiklmnopqrstuwx1] [file …]</p>
<p><strong>DESCRIPTION</strong><br />
For each operand that names a file of a type other than directory, ls displays its name as well as any requested, associated information.  For each operand that names a file of type directory, ls displays the names of files contained within that directory, as well as any requested, associated information.</p>
<p>If no operands are given, the contents of the current directory are displayed.  If more than one operand is given, non-directory operands are displayed first; directory and non-directory operands are sorted separately and in lexicographical order.</p>
<p>The following options are available:
</p></blockquote>
<p>What I&#39;ve since learned is the GNU project eschews manual pages for Texinfo pages which you access with a separate command. According to the Wikipedia page on the subject, Texinfo pages are designed as tutorials as well as general references, meaning they&#39;re more like books and less like traditional help files.</p>
<p>While I understand the merits of this approach, I still think this shunning of manpages or the lowering of their development priority is a bit short sighted. Even if the benefits of Texinfo pages are real, I don&#39;t see why one should be developed at the expense of the other.</p>
<p>I guess to be fair, this is something I&#39;d get used to eventually if I switched to GNU/Linux as my primary OS.</p>
 
