---
title: 'Cute if stereotypical French smilie' 
date: "2009-10-08T07:51:23+10:00"
year: "2009"
category: Thoughts 
tag: 
- emoticons
- europe
- graphics
- nonsense
- pointless
- smilies 
location: Paris
---
<p><img src="https://rubenerd.com/files/uploads/francais2.gif" style="height:32px; width:32px; display:inline;" alt="" /></p>
<p><strong>Merci, merci, das ist gut!</strong> Wait a minute.</p>
<p>My dad, sis and I have decided to go back to France on our Eurotrip at the end of the year if only for a few days. Last time I went there was 1998, wonder if its changed much since then? And I insist on buying a beret this time! I&#39;m sure that&#39;ll go down really well wearing that around Deutschland and Eire.</p>
<p>Wait, why did I use the real names for them but I called it France? Wait a minute… again.</p>
 
