---
title: 'German Singapore facts you may or may not know!' 
date: "2009-01-04T05:27:52+10:00"
year: "2009"
category: Thoughts 
tag: 
- facts
- germany
- i-heart-germany
- singapore 
---
<p><img src="https://rubenerd.com/files/uploads/Nat_Fei_2005%20011.jpg" alt="Photo of the Discover Germany balloon in Singapore" style="display:inline; border:0px; width:200px; height:261px;" /><br /><cite>Photo of the Discover Germany balloon in Singapore</cite></p>
<p>Sometimes you learn something so interesting while browsing the net on a Saturday afternoon after you&#39;ve long forgotten what you were supposed to be doing, you just have to tell someone. Or maybe that&#39;s just me.</p>
<p>In this case this afternoon I started by searching for the name and location of a <a href="http://www.streetdirectory.com/restaurants/singapore/reviews/restaurant-Werners_Oven-556.php">certain German restaurant in Singapore</a> for my dad, sis and I to go to for brunch tomorrow (my dad is German of course) and I came across the <a href="http://www.discover-germany.sg/index.html">Discover Germany in Singapore website</a>. I had no idea there was so much Deutsch goodness here!</p>
<p>For example, did you know according to the aforementioned site:</p>
<ul>
<li>About 6,500 Germans live in Singapore.</li>
<li>Over 700 German companies are based in Singapore.</li>
<li>Germany is Singapore’s largest trading partner in Europe.</li>
<li>German visitors are second only to the British among European tourists in Singapore.</li>
<li>With over 1,000 students the German European School Singapore is the largest German school in Southeast Asia.</li>
<li>Over 150 years old, the German Club is the oldest foreign club in Singapore.</li>
</ul>
<p>And some facts about Germany itself that I didn&#39;t know about, from the same site:</p>
<ul>
<li>32 of Germany’s many unique sites of natural and cultural interest have been designated as UNESCO World Heritage sites.</li>
<li>Germany’s classical music heritage is second to none: Bach, Beethoven, Schumann, Mendelssohn, Brahms and Wagner are just a few of the many great German composers.</li>
<li>Germany’s rich theatrical landscape includes 180 public theatres, 190 private theatres, 30 festival theatres and countless independent groups and amateur theatres.</li>
<li>There are around 6000 museums in Germany.</li>
<li>In Germany, more than 300,000 people earn their living as musicians, performing artists, and specialists in academic &#038; governmental institutions, the media &#038; the arts.</li>
</ul>
<p>There you go, you can&#39;t say you never learn anything here! Well you could, but you&#39;d be awfully disingenuous. Or would you? Perhaps I&#39;ll just stop here while I&#39;m ahead.</p>
 
