---
title: 'I heart Gnome’s international panel clock' 
date: "2009-08-24T07:17:45+10:00"
year: "2009"
category: Software
tag:
- debian
- desktop-environments
- gnome
- infocomm
- thinkpad-x40
- x11 
---
<p><img src="https://rubenerd.com/files/2009/3851998800_5cca216c5e_o@1x.jpg" srcset="https://rubenerd.com/files/2009/3851998800_5cca216c5e_o@1x.jpg 1x, https://rubenerd.com/files/2009/3851998800_5cca216c5e_o@2x.jpg 2x" alt="Gnome's cool international clock" style="width:500px; height:375px;" /></p>

<p>I won&#39;t be giving up <a href="http://xfce.org/">Xfce</a> on my <a href="http://freebsd.org/">FreeBSD</a> desktop any time soon, but <a href="http://gnome.org/">Gnome</a> on <a href="//rubenerd.com/tag/thinkpad-x40/">my ThinkPad X40</a> keeps finding new ways to surprise me. Its a beautiful thing, and its free!</p>
<p>This might be an old feature, but its one I&#39;ve found wildly useful: the ability to set locations in the panel clock. Other desktops let you do this, but it&#39;s all the little extras that Gnome does. Perhaps <a href="http://kde.org/">KDE 4.2</a> does, I haven&#39;t had the chance to try yet.</p>
<p>When you define a series of locations they appear on a map of the world complete with an approximate night/day cast. Under the map each location is shown with digital and analogue clocks, and what I&#39;ve found absolutely brilliant is each timezone is displayed relative to where you are, <strong>NOT</strong> to GMT! For example I can see Singapore is 1:30 behind us here in Adelaide, and <a href="http://wholewheatradio.org/wiki/index.php/Main_Page">Jim Kloss</a> is 17:30 behind.</p>
<p>By default it&#39;s turned off, but if you use Gnome click the clock on your panel and click <strong>Locations</strong>.</p>
 
