---
title: 'Theming Gnome with purple is okay right?' 
date: "2009-08-20T11:19:31+10:00"
year: "2009"
category: Anime 
tag: 
- bakemonogatari
- colour
- debian
- design
- gnome
- pointless-anime-references
- senjougahara-hitagi
- themes
- x11 
---
<p><img src="https://rubenerd.com/files/2009/3838904829_9c7fc1974c_o@1x.jpg" srcset="https://rubenerd.com/files/2009/3838904829_9c7fc1974c_o@1x.jpg 1x, https://rubenerd.com/files/2009/3838904829_9c7fc1974c_o@2x.jpg 2x" alt="Fresh Debian install on a ThinkPad X40" style="width:500px; height:375px;" /></p>

<p>Yes I only just posted this picture in a <a href="//rubenerd.com/trying-debian/">previous post talking about Debian</a>, but I just have to come out and say purple and violet are some of the greatest colours in the world. <strong>That&#39;s okay to admit, isn&#39;t it?</strong></p>
<p>I haven&#39;t had much time to theme this <a href="http://gnome.org/">Gnome</a> desktop yet, but I think the <a href="http://ftp.gnome.org/pub/gnome/sources/crux/1.9/">Crux icons</a> and <a href="http://www.gnome-look.org/content/show.php/Unity?content=77778">Unity GTK+ theme</a> with 65% transparency in menu bars and Terminal windows for a purplish Mac OS X look is pretty swish.</p>
<p>Even with full composting on a heavy desktop environment like Gnome the system is still able to fly on my <a href="//rubenerd.com/tag/thinkpad-x40/">ThinkPad X40</a> which was built four years ago. That&#39;s something Windows 7 can barely pull off on similar hardware let alone Vista.</p>
<p>The background image is of course the awesome <strong>Senjougahara Hitagi</strong> from <a href="//rubenerd.com/tag/bakemonogatari/">Bakemonogatari</a> which I&#39;ve been reviewing here. Interestingly enough if you do an image search for <a href="http://images.google.com.au/images?hl=en&#038;q=Senjougahara+Hitagi&#038;btnG=Search+images&#038;aq=f&#038;oq=&#038;start=0">Senjougahara Hitagi</a> on The Googles one of my posts is currently the third result on the first page. Apparently her fan club is small!</p>
 
