---
title: 'GRC newsgroup discusson on Leo Laporte' 
date: "2009-06-07T08:44:04+10:00"
year: "2009"
category: Internet
tag:
- grc
- grc-newsgroups
- infocomm
- leo-laporte
- steve-gibson 
---
<p><img src="https://rubenerd.com/files/uploads/screenie.grc.newsgroup.png" style="height:170px; width:500px; display:inline; border:0px" alt="" /></p>
<p>The <a href="http://www.grc.com/discussions.htm">GRC newsgroups</a> are still all abuzz ragarding Leo Laporte and Mike Arrington&#39;s brief vocal feud on the latest Gillmor Gang. If you&#39;ve been living under a rock, you can <a href="http://www.youtube.com/watch?v=IsV-lgnAjps">view the video on YouTube</a>.</p>
<p><a href="http://12078.net/grcnews/article.php?id=14900&#038;group=grc.securitynow#14900">Steve&#39;s comment</a>:</p>
<blockquote cite="http://12078.net/grcnews/article.php?id=14900&#038;group=grc.securitynow#14900"><p>Gang…</p>
<p>Apparently Leo &#8220;lost it&#8221; during his &#8220;Gillmor Gang&#8221; show this<br />
(Saturday) afternoon.  Apparently he started swearing and using<br />
the F-word aimed AT his guests and hung up on everyone.  I find<br />
that BEYOND difficult to imagine.  I’m stunned.</p>
<p>&#8212;<br />
________________________________________________________________<br />
Steve. Working on: GRC’s DNS Benchmark utility:<br />
http://www.grc.com/dev/dnsbench.exe </p></blockquote>
<p>With timezone differences this was already ancient history by the time I was awake but even as of this evening Adelaide time it was still being discussed so <a href="http://12078.net/grcnews/article.php?id=14922&#038;group=grc.securitynow#14922">I posted my thoughts</a>.</p>
<blockquote cite="http://12078.net/grcnews/article.php?id=14922&#038;group=grc.securitynow#14922"><p>I’ve been an on-and-off Gillmor Gang listener since the very beginning in 2004 while they were still a part of IT Conversations; one of my favourite episodes is still their interview with Jonathan Schwartz when  Solaris was starting to be open-sourced.</p>
<p>That’s not to say I’ve had issues with a few of their guests, Mike Arrington in particular has always come across as a bit arrogant to me. Aside from the Last.fm debacle I’ve long since stopped reading TechCrunch.</p>
<p>I agree with Steve that I was shocked because I’m used to hearing the cheerful and good natured Leo; and his words may have been a bit harsh; but I can totally empathise with someone in his position. Like being called out as a &#8220;fanboy&#8221; when you merely point out a flaw in a particular OS, being called out for something you’re not guilty of in a cocky and unprovoked way can be one of the most maddening things to deal with.</p>
<p>&#8212;<br />
/  Ruben Schade,<br />
/  from Singapore &#038; Adelaide Australia<br />
/  http://rubenerd.com/
</p></blockquote>
 
