---
title: 'HP LaserJet Error -9672 on Snow Leopard' 
date: "2009-09-10T04:23:17+10:00"
year: "2009"
category: Hardware 
tag:
- errors
- guides
- howto
- hp
- hp-laserjet-p1005
- infocomm
- mac-os-x
- printers
- problems
- snow-leopard 
---
<p><img src="https://rubenerd.com/files/uploads/screenie.p1005.snowleopard.png" alt="Error HP LaserJet Error -9672 on Snow Leopard" style="height:275px; width:500px; display:inline; border:0em" /></p>
<p>Finally found the first hardware device that Snow Leopard breaks: The <a href="http://h30180.www2.hp.com/apps/Nav?h_client=S-A-R4155-1&#038;h_pagetype=s-001&#038;h_lang=en&#038;h_cc=uk&#038;h_product=3435676&#038;lang=en&#038;tmp_track_link=ot_we/prodlink/en_uk/3435676/loc:0">HP LaserJet P1005</a> printer. Using Bonjour on an AirPort express on two separate machines the same cryptic &quot;<code>Error:-9672</code>&quot; error message. Apparently others are <a href="http://macosx.com/forums/hardware-peripherals/310103-printer-not-found-after-snow-leopard-install.html">having a similar problem</a></p>
<p>So far this,<a href="//rubenerd.com/snow-leopard-software/">not being able to play Matroska video files reliably</a> and some <a href="//rubenerd.com/font-smoothing-snow-leopard/">weird font smoothing</a> have been the only problems for me with the Snow Leopard system software. Still it means I&#39;ll have to walk to uni to print stuff. As an early adopter I deserve this of course.</p>
 
