---
title: 'Microsoft is really running out of ideas' 
date: "2009-06-18T02:02:19+10:00"
year: "2009"
category: Software
tag:
- browsers
- infocomm
- microsoft
- running-out-of-ideas
- shenanigans 
---
<p><img src="https://rubenerd.com/files/2009/3637867820_60d852e8ee_o@1x.jpg" srcset="https://rubenerd.com/files/2009/3637867820_60d852e8ee_o@1x.jpg 1x, https://rubenerd.com/files/2009/3637867820_60d852e8ee_o@2x.jpg 2x" alt="More shameless Microsoft antics" style="width:500px; height:375px;" /></p>

<p>Not that I&#39;m biased or anything, but it seems when we though Microsoft couldn&#39;t do anything sillier (aside from naming their search engine Bing) Microsoft Australia has now come out with a contest encouraging people to download and install <em>Internet Explorer 8</em>, or <em>Windows Internet Explorer 8</em> or <em>Microsoft Windows Internet Explorer 8 Enterprise Edition SP1</em> or whatever it is they&#39;re calling it now.</p>
<p>The gist is, if you install IE8 and find a specially crafted page that only it can view, you&#39;ll win a cash prize. Several thoughts on this:</p>
<ol>
<li>Are they so desperate to get people to use IE these days and given they’ve long since lost so much of the public’s confidence that they have to resort to measures like this to promote their software that mention nothing about features, performance or security?<p></p></li>
<li>The page is disingenuous. Viewing it on my FreeBSD or Mac machines I’m told to upgrade to IE8 when clearly I can’t even if I wanted to.<p></p></li>
<li>What’s to stop me modifying my user agent?<p></p></li>
<li>There’s nothing like creating a page that only one browser can view to demonstrate to the world that you’re company is finally getting serious about adopting open standards.<p></p></li>
<li>The exact phrasing is <em>&quot;get rid of [Firefox] or get lost.&quot;</em> To be honest, I’d feel safer getting lost!<p></p></li>
</ol>
<p>They have billions in the bank and some talented people; and this was the best they could do? As Todd Tyrtle on Twitter said, who knew I hated Internet Explorer so much that they couldn&#39;t pay me $10,000 to use it!</p>
<p>If I&#39;ve said it once I&#39;ve said it a hundred times, I&#39;m constantly bewildered and baffled by Microsoft&#39;s antics. The Microsoft from my childhood has long since died.</p>
 
