---
title: 'Internode reactivated within a few hours!' 
date: "2009-09-28T08:01:51+10:00"
year: "2009"
category: Internet
tag:
- adelaide
- australia
- infocomm
- internode
- isps 
---
<p><img src="https://rubenerd.com/files/2009/my-macbook-pro-works-again_3962285014_o@1x.jpg" alt="My MacBook Pro works again!" srcset="https://rubenerd.com/files/2009/my-macbook-pro-works-again_3962285014_o@1x.jpg 1x, https://rubenerd.com/files/2009/my-macbook-pro-works-again_3962285014_o@2x.jpg 2x" style="width:500px; height:335px;" /></p>
<p>For the first time in weeks I now have a home internet connection and a <a href="//rubenerd.com/new-mbp-inverter-worked/">working MacBook Pro</a> upon which to use it! It&#39;s true you don&#39;t know what you&#39;ve got until you lose it!</p>
<p><!--oldmore--></p>
<p>So here&#39;s what happened. On Friday last week I contacted Telstra and finally managed to get our home phone line reconnected; why it was disconnected is a long and boring story that I&#39;m in too much of a good mood to relay. Despite having a working telephone line, our <a href="http://internode.on.net/">Internode</a> home ADSL connection we <a href="//rubenerd.com/p1291/">signed up for in August last year</a> still wasn&#39;t working, but an Internode tech support guy got back to me fairly quickly explaining why:</p>
<blockquote><p>Hi Ruben,</p>
<p>Your ADSL connection was disconnected along with your phone service. It is best to contact our Sales team on Monday to look at having this done.</p>
<p>If you have any further questions regarding this matter, please reply to this email or contact our Helpdesk by phone.</p>
<p>Kind regards,<br />
Andrew</p></blockquote>
<p>I admit I my heart sank at the prospect of having to wait over the weekend, then go into the city on Monday, get the account reactivated and wait for a further 2-7 business days to have it put through. Despite only going into their Sales office this morning though, as of early this afternoon we had home internet again!</p>
<p>Kudos to the Internode team for their ridiculously fast service :).</p>
 
