---
title: 'Thinking out loud about internet conversations' 
date: "2009-09-14T12:23:04+10:00"
year: "2009"
category: Internet
tag:
- facebook
- identica
- infocomm
- open-standards
- social-networking
- standards
- super-detailed-diagram
- thinking-out-loud
- twitter 
---
<p>Having been better for a couple of years compared to their less than stellar record in 2007, recent stability problems with Twitter have highlighted its vulnerability from a technical standpoint, though it&#39;s not the problem I wanted to talk sweepingly about here.</p>
<p><!--oldmore--></p>
<p>It occurred to me after reading that the free and open source <a href="http://status.net/?source=laconica">Laconi.ca</a> software powering <a href="http://identi.ca/">Identi.ca</a> had changed its name to <a href="http://status.net/">StatusNet</a> (for some reason) how great it would be to be able to sent Twitter @replies to people over there, and to be able to get replies back. Social networks are only as valuable as the people who use them, and for me nobody in my life excursively uses Identi.ca over Twitter, though that could change.</p>
<p><img src="https://rubenerd.com/files/uploads/diagram.social.01.png" alt="" style="height:157px; width:500px; display:inline; border:0em; background:transparent; padding:0em;"/></p>
<p>The problem with social networks like Twitter is that we&#39;re limited to having conversations with people using the same service, much like <a href="http://people.icq.com/people/about_me.php?uin=788530">ICQ</a> and <a href="http://messenger.yahoo.com/">Yahoo Messenger</a> for example. The solution then was much the same as what Identi.ca is trying to do now with status services and microblogs: create a free and open alternative in the form of <a href="http://www.jabber.org/">Jabber</a>. Unfortunately while Jabber is used by a sufficiently large group of people it suffers from the same problems as many free and open source projects; while it is a viable alternative, aside from possibly being slightly more reliable and robust it doesn&#39;t offer any compelling reason for the vast majority of people to switch from what they&#39;re currently using, in this case Identi.ca to Twitter.</p>
<p><img src="https://rubenerd.com/files/uploads/diagram.social.02.png" alt="" style="height:186px; width:500px; display:inline; border:0em; background:transparent; padding:0em;"/></p>
<p>The other approach to fixing the problem with closed IM networks was kind of kludgy but was accepted because it worked in current reality: services such as <a href="http://www.pidgin.im/">Pidgin</a> and <a href="http://adium.im/">Adium</a> aggregated many disparate networks into one application. The same can be said with next-generation software such as <a href="http://tweetdeck.com/">TweetDeck</a> now where you can import your Twitter, Facebook (and for some reason MySpace) contacts and track what they&#39;re doing. The problem with this approach is while such software gives the illusion we&#39;re all talking together, in reality I still can&#39;t reply to a Facebook message with a tweet from my Twitter account. The different networks are presented in the same way, but are entirely separate.</p>
<p><img src="https://rubenerd.com/files/uploads/diagram.social.03.png" alt="" style="height:127px; width:500px; display:inline; border:0em; background:transparent; padding:0em;"/></p>
<p>I used to be somewhat a free and open source zealot, but I&#39;ve come to realise especially in the last few years that free and open source software is much less important than free and open standards, at least in my own opinion. People can create their own walled gardens and closed networks for their own reasons, but they should offer lifeboats in the form of accessible, open protocols and standards that others could write to. As we&#39;ve seen with the WWW, standards that are implemented [properly] can be an extraordinary way to level the playing field and to allow small, independent services to compete with larger, more established ones.</p>
<p><img src="https://rubenerd.com/files/uploads/diagram.social.04.png" alt="" style="height:38px; width:500px; display:inline; border:0em; background:transparent; padding:0em;"/></p>
<p>It is for this reason though why I think we won&#39;t ever see direct collaboration between Twitter and Laconi.ca, or FriendFeed or other such services. I love Twitter and it forms a critical part of my life now that I could honestly not imagine not having any more (I really do mean that), but that doesn&#39;t mean it doesn&#39;t scare me just a little. Though to be fair, it scares me infinitely less than Facebook.</p>
 
