---
title: 'The HP 12C as the greatest iPhone app ever!' 
date: "2009-06-30T11:04:32+10:00"
year: "2009"
category: Software
tag:
- app-store
- hp12c
- infocomm
- iphone
- itelephone
- phones
- retro
- reviews 
---
<blockquote><p><strong>UPDATE:</strong> HP also sell a <a href="http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=318956846&#038;mt=8">clone of the 15C</a> which was their scientific calculator instead of this financial one. Unfortunately it’s over AU$36.00 which is far more than I’d like to spend. Both have RPN and the retro HP interface which is all I care about right now :)</p></blockquote>
<p>While I am an extraordinarily <a href="//rubenerd.com/p1722/">happy iTelephone owner</a>, I always thought the argument that the application store was the sticky-ist feature keeping people on the platform instead of using other devices like the Palm Pre was.. misguided. While I do use many applications on my iTelephone, if it turned out I liked the Palm Pre or an Android phone better I wouldn&#39;t hesitate to move over.</p>
<div style="font-size:x-large; text-align:center">Until now!</div>
<p>Because I have bought and downloaded the single greatest mobile phone application for my iTelephone of all time. This one application is so overwhelmingly, awe inspiringly amazing that it alone could keep me as an iTelephone user for the forseable future.</p>
<p>I am talking of course about the official <a href="http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=318954345&#038;mt=8">HP 12c Programmers Calculator</a> application which was just released. It&#39;s a faithful reproduction of the original with it&#39;s reverse polish notation goodness and the same retro buttons and interface.</p>
<p>At AU$17.99 it&#39;s not cheap as far as iTelephone applications go, but it&#39;s still far cheaper than picking up a second hand 12C on eBay and given I always have my iTelephone with me it makes it even more convenient. Goodbye default Calculator!</p>
<p><img src="https://rubenerd.com/files/uploads/screenie.iphone.12c.png" alt="" style="height:190px; width:320px; display:inline; border:0px" /></p>
<p>If you don&#39;t know what the HP 12C is, <a href="http://en.wikipedia.org/wiki/HP-12C#The_HP-12C">check out Wikipedia</a>. In a nutshell, it was one of a series of sophisticated pocket calculators that HP sold in the 1980s but then stopped manufacturing. They&#39;re collectors items.</p>
<p>Now I just need to figure out how to hide the stock Calculator application so I can put the 12C in it&#39;s place :).</p>
 
