---
title: 'Random iPhone photos from Singapore' 
date: "2009-12-06T04:56:12+10:00"
year: "2009"
category: Media
tag:
- coffee
- photos
- singapore
- twitpic
- twitter 
---
<p><img src="https://rubenerd.com/files/uploads/photo.twitpic.47587126.jpg" alt="Evidently first thing in the morning is a good time to park on Orchard Road!" style="height:320px; width:479px; display:inline;" /></p>
<p>Since coming back to Singapore I&#39;ve been packing in a lot of errands, exploring and walking around so I haven&#39;t been blogging so much obviously. You can&#39;t leave this city for more than a few months without so much changing that you become completely disoriented!</p>
<p>Anyway in case you haven&#39;t been following me on <a href="http://twitter.com/Rubenerd/">Twitter</a>, <a href="http://twitpic.com/photos/rubenerd">TwitPic</a> or <a href="http://gowalla.com/users/Rubenerd">Gowalla</a>, here are some crappy iPhone shots I took. When it&#39;s a weekday and less busy I&#39;ll be taking my Nikon D60 out again :).</p>
<table style="border-collapse:collapse; border:0em;">
<tr>
<td><a href="http://twitpic.com/s20od"><img src="https://rubenerd.com/files/uploads/photo.twitpic.47123437.jpg" alt="I admit it, one of the main reasons why I look forward to the holiday season is Starbucks Toffee Nut Lattes. And I got a comfy chair :D" style="height:240px; width:320px; display:inline;" /></a></td>
<td>I admit it, one of the main reasons why I look forward to the holiday season is Starbucks Toffee Nut Lattes. And I got a comfy chair :D</td>
</tr>
<tr>
<td><a href="http://twitpic.com/s26qw"><img src="https://rubenerd.com/files/uploads/photo.twitpic.47131304.jpg" alt="Leaving the Tanglin Mall Starbucks I wasn't watching where I was going and almost walked into these Christmas decoration thingys. They scared the bejeebus out of me!" style="height:240px; width:320px; display:inline;" /></a></td>
<td>Leaving the Tanglin Mall Starbucks I wasn’t watching where I was going and almost walked into these Christmas decoration thingys. They scared the bejeebus out of me!</td>
</tr>
<tr>
<td><a href="http://twitpic.com/s27fz"><img src="https://rubenerd.com/files/uploads/photo.twitpic.47132207.jpg" alt="The decorations along Tanglin Road are definitely more subdued than the usual flamboyant ones from previous years. Economic downturn played a role probably." style="height:240px; width:320px; display:inline;" /></a></td>
<td>The decorations along Tanglin Road are definitely more subdued than the usual flamboyant ones from previous years. Economic downturn played a role probably.</td>
</tr>
<tr>
<td style="padding-right:1em;"><a href="http://twitpic.com/s2t1k"><img src="https://rubenerd.com/files/uploads/photo.twitpic.47160200.jpg" alt="Coffee Bean and Tea Leaf Peppermint Chocolate Latte. I'm such a nerd ;)" style="height:240px; width:320px; display:inline;" /></a></td>
<td>Coffee Bean and Tea Leaf Peppermint Chocolate Latte.</td>
</tr>
<tr>
<td><a href="http://twitpic.com/s2865"><img src="https://rubenerd.com/files/uploads/photo.twitpic.47133149.jpg" alt="When I was here in July, there was a gigantic apartment block here. They already knocked it down and started building something else!" style="height:240px; width:320px; display:inline;" /></a></td>
<td>When I was here in July, there was a gigantic apartment block here. They already knocked it down and started building something else!</td>
</tr>
<tr>
<td><a href="http://twitpic.com/s6pr8"><img src="https://rubenerd.com/files/uploads/photo.twitpic.47342564.jpg" alt="Starbucks Toffee Nut Latte. I know, I know!" style="height:240px; width:320px; display:inline;" /></a></td>
<td>Starbucks Toffee Nut Latte. I know, I know!</td>
</tr>
</table>
 
