---
title: 'On Java inner classes and whatnot' 
date: "2009-10-15T07:14:25+10:00"
year: "2009"
category: Software
tag:
- computer-science
- infocomm
- java
- programming
- studies 
---
<p><img src="https://rubenerd.com/files/uploads/logo.java.wide.png" alt="Classic Java logo" style="height:210px; width:350px; display:inline; border:0em; padding:0em; background:transparent" /></p>
<p>A few weeks ago I discussed the different ways to include <a href="https://rubenerd.com/java-classes-one-file/">multiple classes in one file</a>, and <a href="//rubenerd.com/java-classes-one-file/#comments">one of the comments</a> questioned my use of a class within a class. Apparently when they tried to do it in earlier versions of Java all they got in return was grief. I could say something there about swearing being the common language of all programmers but I&#39;ll leave it at that :).</p>
<p>From what I can tell, so called inner classes were introduced in Java 5, and they allow you to do some pretty cool stuff. By having an inner class defined within an outer class:</p>
<ul>
<li>the inner class can access the data members of the outer class without the need for setter and getter methods</li>
<li>tidyness and encapsulation <em>es ist gut so!</em></li>
<li>if you start getting into using C++’eque &lt;T&gt; object types (something I’m learning now) the outer and inner classes automatically share them (which they need to anyway)</li>
<li>of lesser importance, you only need to give the Java compiler one file to compile two or more related classes, and you only need to work on the one file</li>
</ul>
<p>When you compile a java class with inner classes, the resulting compiled bytecode class file whatsits (to use the technical terminology) are divided into outer classes and inner classes with a dollar sign:</p>
<pre>
% javac OuterClass.java
% ls -l
==&gt; OuterClass.class
==&gt; OuterClass$innerClass.class
% echo Grilled Cheese Sandwich
==&gt; Grilled Cheese Sandwich
</pre>
<p>My <a href="//rubenerd.com/java-linked-list-stack/">Java linked list stack</a> post shows how a outer link list class uses an inner Node class if you want to check it out. Another example is the <a href="http://java.sun.com/javase/6/docs/api/java/util/Iterator.html">Iterator</a> class which belongs to Java&#39;s new and very nice to use lists that implement the <a href="http://java.sun.com/javase/6/docs/api/java/util/List.html">List</a> interface, other things I&#39;ll be blogging about soon once I&#39;ve had a chance to play around with them more.</p>
<p>Personally I can already see how these could be abused, but I guess as with any great power comes great responsibility, and with any blog post comes the need for a cliché apparently!</p>
 
