---
title: 'CBS Last.fm selling out to the RIAA?'
date: "2009-05-26T02:39:59+10:00"
year: "2009"
category: Media
tag:
- lastfm
- librefm
- mike-arrington
- music
- riaa
- techcrunch 
---
<p><img src="https://rubenerd.com/files/uploads/graphic.lastfm.map.png" alt="Last.fm: The free, democratic music site" style="height:246px; width:500px; display:inline; border:0px;" /></p>
<p>Back in March I talked here about <a href="//rubenerd.com/p3945/">Last.fm&#39;s decision to start charging users</a> outside the United States, United Kingdom and Germany for the right to stream audio. Initially I was quite angry about it, but eventually realised that they were probably bullied into doing it by old media companies and that all they were guilty of was poor execution.</p>
<p>It seems now though there&#39;s further evidence of unscrupulous activity on Last.fm&#39;s part, and it has to do with sending listening information to the RIAA in the United States. You can read the whole saga on TechCrunch (<a href="http://www.techcrunch.com/2009/02/20/did-lastfm-just-hand-over-user-listening-data-to-the-riaa/">Did Last.fm Just Hand Over User Listening Data To the RIAA?</a>), the Last.fm blog (<a href="http://blog.last.fm/2009/02/23/techcrunch-are-full-of-shit">Techcrunch are full of sh*t</a>), and TechCrunch again (<a href="http://www.techcrunch.com/2009/05/22/deny-this-lastfm/">Deny This, Last.fm</a>), but if you want the quick lowdown <a href="http://www.last.fm/forum/21717/_/535934">Paul Richard Cook summarised it very well</a> on a posted message on the Last.fm site.</p>
<p>Even if the Last.fm team had no idea this was happening as they claim, and even though I&#39;m outside the <em>de jure</em> jurisdiction of the RIAA both in Australia and Singapore, this still really rubs me the wrong way. It&#39;s creepy this kind of behavior is going on, though to be fair we should all have expected this when they were bought out by CBS.</p>
<p><img src="https://rubenerd.com/files/uploads/graphic.lastriaa.png" alt="Last.fm and the RIAA" style="height:123px; width:292px;" /></p>
<p>I really enjoyed my time with you Last.fm, but we must part ways now. My lifeboat has left the ship and I&#39;m now rowing over to Libre.fm which will be the topic for another post. Sayonara.</p>
 
