---
title: 'Silly iPhone photos from Mawson Lakes' 
date: "2009-06-12T11:07:48+10:00"
year: "2009"
category: Media
tag:
- adelaide
- australia
- mawson-lakes
- photos 
---
<p><img src="https://rubenerd.com/files/2009/walking-the-mawson-lakes-bike-trail_3618738543_o@1x.jpg" alt="Walking the Mawson Lakes bike trail" srcset="https://rubenerd.com/files/2009/walking-the-mawson-lakes-bike-trail_3618738543_o@1x.jpg 1x, https://rubenerd.com/files/2009/walking-the-mawson-lakes-bike-trail_3618738543_o@2x.jpg 2x" style="width:500px; height:375px;" /></p>
<p>It may shock you beyond recognition, but I&#39;m typing this post as I sip an oversized coffee at the <a href="http://www.theboatdeck.com.au/">Boatdeck Cafe</a> in <a href="http://mawsonlakes.com.au/">Mawson Lakes</a>. This time tomorrow I&#39;ll be on the last part of a flight back to Singapore, the closest place I&#39;ve ever had to a so called <em>&quot;home&quot;</em> that people seem to have attachments to.</p>
<p>The problem with being an expat growing up and going to an international school in a foreign country is it&#39;s next to impossible to see many of your friends ever again because they&#39;ve all since returned to their respective homes or even gone further out. Since the beginning of this year I&#39;ve got word that some of my friends from Singapore have since moved to Seoul, Tokyo, Boston, London… and it struck me… that all these place names have a similar number of letters in their names. I&#39;m entertaining the notion that this is some sort of government conspiracy, and like all conspiracy theories I base this on absolutely nothing.</p>
<p>What I love about living in Mawson Lakes in Adelaide in particular are the bike paths which snake their way alongside the river, then go through the science park and finally through a series of parks. I don&#39;t have a bike, I walk through them instead, often listening to <a href="http://intoyourhead.com/">IntoYourHead</a>, <a href="http://www.grc.com/securitynow.htm">Security Now</a> and random songs about Chacaron and Surfin Birds.</p>
<p><img src="https://rubenerd.com/files/2009/walking-the-mawson-lakes-bike-trail_3618737241_o@1x.jpg" alt="Walking the Mawson Lakes bike trail" srcset="https://rubenerd.com/files/2009/walking-the-mawson-lakes-bike-trail_3618737241_o@1x.jpg 1x, https://rubenerd.com/files/2009/walking-the-mawson-lakes-bike-trail_3618737241_o@2x.jpg 2x" style="width:500px; height:375px;" /></p>
<p>I may not have a spiffy new iTelephone 3GS, but my lowly iPhone 3G was still with me so I took a few pictures, with the camera. I thought taking pictures with the camera would make more sense than attempting to reproduce the scene in front of me by drumming out trillions of binary digits on the iTelephone&#39;s keyboard. I may have still been there typing after I&#39;m due to be back in Adelaide again in August.</p>
<p>I have grand ambitions for this trip home to Singapore; firstly I&#39;m going to have real hot chocolate from Max Brenners at The Esplanade, teeppnyaki after teeppnyaki, masala chicken and sates from the Newton circus hawker centre which is just down the road, Japanese-Italian pasta from Wheelock Place, Sakae Sushi until I can&#39;t bear the thought of eating more raw fish, litres of Starbucks coffee with my laptop, authentic German grub at Werner&#39;s Oven, Brotzeit, Baden Baden and the Paulaner at Millennia Walk… then I&#39;ll spend the last day of the trip at a liposuction clinic.</p>
<p>One thing people comment on when they visit me in Adelaide is how it very rarely changes, whereas if you leave Singapore for even six months a dozen shopping centres and apartment buildings have been razed and rebuilt! I&#39;ve been told three new shopping centre towers have been finished along Orchard Road, and the 70+ floor condo outside my bedroom window has been topped off.</p>
<p>What I&#39;m looking forward to most is seeing my dad, he&#39;s been under a ton of stress with the latest project he&#39;s overseeing, hopefully we&#39;ll be able to make a budget airline trip to Bali or Vietnam while we&#39;re there.</p>
<p>Anyway better go, this place is filling up fast. Bird bird bird, the bird is the word.</p>
 
