---
title: 'It’s a post about life and whatnot' 
date: "2009-09-18T01:10:47+10:00"
year: "2009"
category: Thoughts 
tag: 
- life
- philosophy
- sanity
- work 
---
<p><img src="https://rubenerd.com/files/2009/thar-be-water-in-thar-mawson-lakes-again_3470666544_o@1x.jpg" alt="Thar be water in thar Mawson Lakes again!" srcset="https://rubenerd.com/files/2009/thar-be-water-in-thar-mawson-lakes-again_3470666544_o@1x.jpg 1x, https://rubenerd.com/files/2009/thar-be-water-in-thar-mawson-lakes-again_3470666544_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>
<p>Because I took an extended leave of absence to take care of my mum, I hit the ground running and launched back into studying and work at full speed again once I arrived back in Adelaide. For the first time since resuming though, I&#39;m starting to think I&#39;ve bitten off more than I can chew.</p>
<p>Fortunately I have things like Twitter and my blog here. Most of said blog&#39;s posts you read here I&#39;ve typed on my iTelephone while commuting on the train and consider them a pleasant distraction and break from my responsibilities; I suppose I just wish the ratio was a bit more favourable!</p>
<p>My father back in Singapore who works his brains out 24/7 has assured me such studying and work is giving me experience for what to expect when I&#39;ll [hopefully] hold down a full time job when I graduate! If you&#39;re a student, or a worker who&#39;s probably doing more for less now in a difficult economic climate, or an unemployed person who&#39;s desperately searching for work, or a parent taking care of a crazy infant, or some combination of all of the above, what are you strategies for remaining sane?</p>
 
