---
title: 'Links for 2009-08-14' 
date: "2009-08-14T10:01:42+10:00"
year: "2009"
category: Internet
tag:
- delicious
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://www.topproduct.nl/hardware/notebooks/IBM_ThinkPad_X/IBM_ThinkPad_X40_PM_1400_512MB_40GB_WXPP/id/141635/specificaties.html">IBM ThinkPad X40 PM 1400 512MB 40GB WXPP &#8211; Reviews, specificaties en prijzen</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/thinkpad">thinkpad</a> <a href="http://delicious.com/rubenerd/x40">x40</a> <a href="http://delicious.com/rubenerd/ibm">ibm</a> <a href="http://delicious.com/rubenerd/hardware">hardware</a> <a href="http://delicious.com/rubenerd/photos">photos</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.thinkwiki.org/wiki/Category:X40">Category:X40 &#8211; ThinkWiki</a></dt>
<dd class="delicious-extended">&quot;This pages gives an overview of all ThinkPad X40 related topics.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/thinkpad">thinkpad</a> <a href="http://delicious.com/rubenerd/x40">x40</a> <a href="http://delicious.com/rubenerd/ibm">ibm</a> <a href="http://delicious.com/rubenerd/hardware">hardware</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.roe.ch/FreeBSD_on_the_IBM_ThinkPad_X40">FreeBSD on the IBM ThinkPad X40 (FreeBSD on the IBM Think Pad X40)</a></dt>
<dd class="delicious-extended">&quot;In this document, I will try to give a comprehensive report on installing FreeBSD on an IBM ThinkPad X40 — what I got to work, and how, and what still does not work for me.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/thinkpad">thinkpad</a> <a href="http://delicious.com/rubenerd/x40">x40</a> <a href="http://delicious.com/rubenerd/ibm">ibm</a> <a href="http://delicious.com/rubenerd/hardware">hardware</a> <a href="http://delicious.com/rubenerd/freebsd">freebsd</a> <a href="http://delicious.com/rubenerd/bsd">bsd</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://picasaweb.google.com/lh/photo/G73ubQDiukTnQ7XGwSprFw">Picasa Web Albums &#8211; Greg</a></dt>
<dd class="delicious-extended">&quot;ThinkPad X40 and PowerBook G4 17&#39; &#8211; with apple mighty mouse&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/thinkpad">thinkpad</a> <a href="http://delicious.com/rubenerd/x40">x40</a> <a href="http://delicious.com/rubenerd/powerbook">powerbook</a> <a href="http://delicious.com/rubenerd/ibm">ibm</a> <a href="http://delicious.com/rubenerd/apple">apple</a> <a href="http://delicious.com/rubenerd/hardware">hardware</a> <a href="http://delicious.com/rubenerd/mightymouse">mightymouse</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://conky.sourceforge.net/">Conky &#8211; Home</a></dt>
<dd class="delicious-extended">&quot;Conky is a free, light-weight system monitor for X, that displays any information on your desktop. Conky is licensed under the GPL and runs on Linux and BSD.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/software">software</a> <a href="http://delicious.com/rubenerd/unix">unix</a> <a href="http://delicious.com/rubenerd/linux">linux</a> <a href="http://delicious.com/rubenerd/bsd">bsd</a> <a href="http://delicious.com/rubenerd/geek">geek</a>)<p></p></dd>
</dl> 
