---
title: 'Links for 2009-08-19' 
date: "2009-08-19T10:02:28+10:00"
year: "2009"
category: Internet
tag:
- delicious
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://www.debianhelp.co.uk/ssh.htm">SSH Configuration and Troubleshooting in Debian</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/ssh">ssh</a> <a href="http://delicious.com/rubenerd/linux">linux</a> <a href="http://delicious.com/rubenerd/debian">debian</a> <a href="http://delicious.com/rubenerd/openbsd">openbsd</a> <a href="http://delicious.com/rubenerd/howto">howto</a> <a href="http://delicious.com/rubenerd/software">software</a> <a href="http://delicious.com/rubenerd/foss">foss</a>)<p></p></dd>
</dl> 
