---
title: 'Links for 2009-08-26' 
date: "2009-08-26T10:02:20+10:00"
year: "2009"
category: Internet
tag:
- delicious
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://ah-kew.blogspot.com/">Q&#39;s Mind</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/blogs">blogs</a> <a href="http://delicious.com/rubenerd/singapore">singapore</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://dwindlinginunbelief.blogspot.com/">Dwindling In Unbelief</a></dt>
<dd class="delicious-extended">&quot;An unbeliever&#39;s thoughts about the Bible, Quran, and Book of Mormon&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/religion">religion</a> <a href="http://delicious.com/rubenerd/blogs">blogs</a> <a href="http://delicious.com/rubenerd/atheism">atheism</a> <a href="http://delicious.com/rubenerd/skepticism">skepticism</a> <a href="http://delicious.com/rubenerd/funny">funny</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://exchristian.net/">ExChristianDotNet &#8211; encouraging ex-Christians (de-converting or former Christians)</a></dt>
<dd class="delicious-extended">&quot;The ExChristian.Net blog exists for the express purpose of encouraging those who have decided to leave religion behind. It is not an open challenge for Christians to avenge what they perceive as an offense against their religious beliefs.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/religion">religion</a> <a href="http://delicious.com/rubenerd/rationality">rationality</a> <a href="http://delicious.com/rubenerd/blogs">blogs</a> <a href="http://delicious.com/rubenerd/atheism">atheism</a> <a href="http://delicious.com/rubenerd/skepticism">skepticism</a>)<p></p></dd>
</dl> 
