---
title: 'Links for 2009-07-14' 
date: "2009-07-14T10:05:16+10:00"
year: "2009"
category: Internet
tag:
- delicious
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://www.maths.lancs.ac.uk/~lucy/hobbies/father/father.html">Father&#39;s projects</a></dt>
<dd class="delicious-extended">Some amazing ship models!</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/models">models</a> <a href="http://delicious.com/rubenerd/liners">liners</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.dvorak.org/blog/2009/07/11/americans-respect-science-%e2%80%93-they-just-don%e2%80%99t-understand-any-of-it/">» Americans respect science – they just don’t understand any of it Dvorak Uncensored: General interest observations and true web-log.</a></dt>
<dd class="delicious-extended">&quot;According to a survey from the Pew Research Center, 84 percent of Americans think science has had a mostly positive effect on society, and scientists are held in high regard – But along with all this adulation comes a shaky grasp of science&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/science">science</a> <a href="http://delicious.com/rubenerd/usa">usa</a> <a href="http://delicious.com/rubenerd/education">education</a>)<p></p></dd>
</dl> 
