---
title: 'Links for 2009-08-25' 
date: "2009-08-25T10:01:47+10:00"
year: "2009"
category: Internet
tag:
- delicious
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://ftp.acc.umu.se/pub/gnome/binaries/mac/">Index of /pub/gnome/binaries/mac</a></dt>
<dd class="delicious-extended">Mac OS X binaries for the Gnome Gedit, Tomboy, Glade3 and Tasque apps</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/gnome">gnome</a> <a href="http://delicious.com/rubenerd/floss">floss</a> <a href="http://delicious.com/rubenerd/software">software</a> <a href="http://delicious.com/rubenerd/macosx">macosx</a>)<p></p></dd>
</dl> 
