---
title: 'Links for 2009-10-05' 
date: "2009-10-05T11:01:58+10:00"
year: "2009"
category: Internet
tag:
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://store.mcetech.com/Merchant2/merchant.mvc?Screen=PROD&amp;Product_Code=OBSXGB-MB15&amp;Category_Code=STORHDOPTIBAY&amp;Product_Count=2">MCE OptiBay Hard Drive for MacBook/MacBook Pro 15-inch: MCE Technologies Online Store</a></dt>
<dd class="delicious-extended">&quot;The MCE OptiBay Hard Drive for MacBook Pro 15-inch replaces your internal SuperDrive or Combo drive with a high performance hard drive&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/harddrive">harddrive</a> <a href="http://delicious.com/rubenerd/macbookpro">macbookpro</a> <a href="http://delicious.com/rubenerd/shopping">shopping</a> <a href="http://delicious.com/rubenerd/hardware">hardware</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://communities.vmware.com/message/819306;jsessionid=3EFFC2F9EF903115E66FB81E34ED69DB">VMware Communities: How do I create a DOS 6.22 virtual machine?</a></dt>
<dd class="delicious-extended">&quot;Create your diskette images using the built-in dd command from the Terminal.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/vmware">vmware</a> <a href="http://delicious.com/rubenerd/software">software</a> <a href="http://delicious.com/rubenerd/emulation">emulation</a> <a href="http://delicious.com/rubenerd/virtualisation">virtualisation</a> <a href="http://delicious.com/rubenerd/dos">dos</a> <a href="http://delicious.com/rubenerd/msdos">msdos</a> <a href="http://delicious.com/rubenerd/howto">howto</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.oracle.com/pls/db111/homepage">Oracle Database Online Documentation 11g Release 1 (11.1)</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/oracle">oracle</a> <a href="http://delicious.com/rubenerd/11g">11g</a> <a href="http://delicious.com/rubenerd/software">software</a> <a href="http://delicious.com/rubenerd/programming">programming</a> <a href="http://delicious.com/rubenerd/reference">reference</a> <a href="http://delicious.com/rubenerd/sql">sql</a> <a href="http://delicious.com/rubenerd/documentation">documentation</a> <a href="http://delicious.com/rubenerd/databases">databases</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://docs.python.org/howto/curses.html#curses-howto">Curses Programming with Python — Python v2.6.3 documentation</a></dt>
<dd class="delicious-extended">&quot;This document describes how to write text-mode programs with Python 2.x, using the curses extension module to control the display.&quot;`</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/curses">curses</a> <a href="http://delicious.com/rubenerd/ncurses">ncurses</a> <a href="http://delicious.com/rubenerd/programming">programming</a> <a href="http://delicious.com/rubenerd/python">python</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.dansdata.com/images/io022/beads560.jpg">beads560.jpg (JPEG Image, 560×619 pixels)</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/ferritebeads">ferritebeads</a> <a href="http://delicious.com/rubenerd/electronics">electronics</a> <a href="http://delicious.com/rubenerd/hardware">hardware</a> <a href="http://delicious.com/rubenerd/photos">photos</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.rfsafe.com/product-26.html">Ferrite Bead/ Wire Guard &gt;&gt; Ferrite Bead/RFS Wire Guard</a></dt>
<dd class="delicious-extended">&quot;This device clamps over the headset wire above the plug that is inserted into the phone. It incorporates a ferrous composition based material which interacts directly with the high frequency energy and suppresses it&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/ferritebeads">ferritebeads</a> <a href="http://delicious.com/rubenerd/electronics">electronics</a> <a href="http://delicious.com/rubenerd/hardware">hardware</a> <a href="http://delicious.com/rubenerd/shopping">shopping</a>)<p></p></dd>
</dl> 
