---
title: 'Links for 2009-11-19' 
date: "2009-11-19T04:04:17+10:00"
year: "2009"
category: Internet
tag:
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://www.goldinsenneby.com/gs/?p=81">Goldin+Senneby » Blog Archive » After Microsoft</a></dt>
<dd class="delicious-extended">What the Windows XP hill looks like now</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/photography">photography</a> <a href="http://delicious.com/rubenerd/microsoft">microsoft</a> <a href="http://delicious.com/rubenerd/windows">windows</a> <a href="http://delicious.com/rubenerd/art">art</a> <a href="http://delicious.com/rubenerd/design">design</a> <a href="http://delicious.com/rubenerd/desktops">desktops</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.airliners.net/photo/Boeing-737-75V-BBJ/1425895/L/">Photos: Boeing 737-75V BBJ Aircraft Pictures | Airliners.net</a></dt>
<dd class="delicious-extended">Even private jets have peanuts</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/airliners.net">airliners.net</a> <a href="http://delicious.com/rubenerd/aviation">aviation</a> <a href="http://delicious.com/rubenerd/photos">photos</a> <a href="http://delicious.com/rubenerd/aeroplanes">aeroplanes</a> <a href="http://delicious.com/rubenerd/boeing">boeing</a> <a href="http://delicious.com/rubenerd/737">737</a> <a href="http://delicious.com/rubenerd/privatejet">privatejet</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.airliners.net/photo/Tupolev-Tu-154M/1607460/L/&amp;sid=fde24b9f7b5534cb4476bce5842c60d8">Photos: Tupolev Tu-154M Aircraft Pictures | Airliners.net</a></dt>
<dd class="delicious-extended">Go the fake wood veneer :)</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/airliners.net">airliners.net</a> <a href="http://delicious.com/rubenerd/aviation">aviation</a> <a href="http://delicious.com/rubenerd/tupolev">tupolev</a> <a href="http://delicious.com/rubenerd/photos">photos</a> <a href="http://delicious.com/rubenerd/aeroplanes">aeroplanes</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.airliners.net/photo/Seaboard-World-Airlines/McDonnell-Douglas-DC-8-63CF/1583660/L/&amp;sid=c532e90d349233b2ed1a1fdb7e9a6ed0">Photos: McDonnell Douglas DC-8-63CF Aircraft Pictures | Airliners.net</a></dt>
<dd class="delicious-extended">Retro 1970s :)</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/airliners.net">airliners.net</a> <a href="http://delicious.com/rubenerd/aviation">aviation</a> <a href="http://delicious.com/rubenerd/dc8">dc8</a> <a href="http://delicious.com/rubenerd/photos">photos</a> <a href="http://delicious.com/rubenerd/aeroplanes">aeroplanes</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.greentechmedia.com/articles/read/starbucks-goes-bonkers-for-led-lights/">Greentech Media: Starbucks Goes Bonkers for LED Lights</a></dt>
<dd class="delicious-extended">&quot;Coffee behemoth Starbucks will replace conventional lights with light emitting diode (LED) bulbs in 8,000 stores by March of next year.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/news">news</a> <a href="http://delicious.com/rubenerd/energy">energy</a> <a href="http://delicious.com/rubenerd/led">led</a> <a href="http://delicious.com/rubenerd/starbucks">starbucks</a> <a href="http://delicious.com/rubenerd/light">light</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.channelnewsasia.com/stories/singaporelocalnews/view/1018225/1/.html">channelnewsasia.com &#8211; George Yeo &amp; Hillary Clinton discuss global &amp; regional issues</a></dt>
<dd class="delicious-extended">&quot;SINGAPORE: Singapore Foreign Minister George Yeo met US Secretary of State Hillary Clinton on Saturday morning, and exchanged views on global and regional issues.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/economics">economics</a> <a href="http://delicious.com/rubenerd/singapore">singapore</a> <a href="http://delicious.com/rubenerd/news">news</a> <a href="http://delicious.com/rubenerd/apec">apec</a> <a href="http://delicious.com/rubenerd/asiapacific">asiapacific</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://i.zdnet.com/blogs/03_black_polycarbonate_aio.jpg">03_black_polycarbonate_aio.jpg (JPEG Image, 480×395 pixels)</a></dt>
<dd class="delicious-extended">A PC iMac!</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/imac">imac</a> <a href="http://delicious.com/rubenerd/pc">pc</a> <a href="http://delicious.com/rubenerd/hardware">hardware</a> <a href="http://delicious.com/rubenerd/funny">funny</a> <a href="http://delicious.com/rubenerd/tech">tech</a>)<p></p></dd>
</dl> 
