---
title: 'Links for 2009-10-24' 
date: "2009-10-24T11:02:07+10:00"
year: "2009"
category: Internet
tag:
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://www.geeky-gadgets.com/star-trek-spock-usb-drive/">Star Trek Spock USB Drive | Geeky Gadgets</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/startrek">startrek</a> <a href="http://delicious.com/rubenerd/hardware">hardware</a> <a href="http://delicious.com/rubenerd/usb">usb</a> <a href="http://delicious.com/rubenerd/funny">funny</a> <a href="http://delicious.com/rubenerd/memory">memory</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://code.google.com/p/magnum-py/">magnum-py &#8211; Project Hosting on Google Code</a></dt>
<dd class="delicious-extended">&quot;Magnum is a pure python HTTP server that is fast and efficient with resources. It is ideal for serving dynamic python-generated pages.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/software">software</a> <a href="http://delicious.com/rubenerd/programming">programming</a> <a href="http://delicious.com/rubenerd/web">web</a> <a href="http://delicious.com/rubenerd/python">python</a> <a href="http://delicious.com/rubenerd/webserver">webserver</a> <a href="http://delicious.com/rubenerd/framework">framework</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.rwapsoftware.co.uk/spectrum/spectrum_storage.html">Sinclair ZX Spectrum Home Computer &#8211; Storage Solutions.</a></dt>
<dd class="delicious-extended">&quot;The DivIDE Plus Hard Disk Interface provides a standard ATA (IDE) interface to allow any Sinclair ZX Spectrum (including the +2A, +2B, +3 and clones, including the Timex TC2048) to connect to an industry standard hard disk drive, CD ROM drive or Compact Flash (CF) memory card (up to 2GB).&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/hardware">hardware</a> <a href="http://delicious.com/rubenerd/retro">retro</a> <a href="http://delicious.com/rubenerd/sinclair">sinclair</a> <a href="http://delicious.com/rubenerd/storage">storage</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.crunchyroll.com/forumtopic-478408/manganime-news/">Crunchyroll &#8211; Groups &#8211; MANGAnime Fans &#8211; Big Anime News</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/news">news</a> <a href="http://delicious.com/rubenerd/anime">anime</a> <a href="http://delicious.com/rubenerd/2009">2009</a> <a href="http://delicious.com/rubenerd/forums">forums</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.toypusher.com/figures/shining-wind-figure-seena-kanon/">Shining Wind’s Seena Kanon 1/7 figure figures &#8211; Toy Pusher</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/figures">figures</a> <a href="http://delicious.com/rubenerd/anime">anime</a> <a href="http://delicious.com/rubenerd/shiningwind">shiningwind</a>)<p></p></dd>
</dl> 
