---
title: 'Links for 2009-07-29' 
date: "2009-07-29T10:02:35+10:00"
year: "2009"
category: Internet
tag:
- delicious
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://wps.prenhall.com/esm_johnsonbau_discrtmath_6/0,9611,1575789-,00.html">Companion Website for Discrete Mathematics</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/discretemaths">discretemaths</a> <a href="http://delicious.com/rubenerd/mathematics">mathematics</a> <a href="http://delicious.com/rubenerd/studies">studies</a> <a href="http://delicious.com/rubenerd/books">books</a> <a href="http://delicious.com/rubenerd/textbooks">textbooks</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.cs.odu.edu/~toida/nerzic/content/logic/">Introduction to Logic</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/discretemaths">discretemaths</a> <a href="http://delicious.com/rubenerd/logic">logic</a> <a href="http://delicious.com/rubenerd/mathematics">mathematics</a> <a href="http://delicious.com/rubenerd/studies">studies</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.purplemath.com/modules/index.htm">PurpleMath Practical Algebra Lessons</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/studies">studies</a> <a href="http://delicious.com/rubenerd/mathematics">mathematics</a> <a href="http://delicious.com/rubenerd/algebra">algebra</a> <a href="http://delicious.com/rubenerd/discretemaths">discretemaths</a>)<p></p></dd>
</dl> 
