---
title: 'Links for 2009-06-13' 
date: "2009-06-13T10:04:57+10:00"
year: "2009"
category: Internet
tag:
- delicious
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://www.yellowcabgroup.com.au/frmshowpage.aspx">Yellow Corporation.</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/adelaide">adelaide</a> <a href="http://delicious.com/rubenerd/cabs">cabs</a> <a href="http://delicious.com/rubenerd/transport">transport</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://celestialkitsune.wordpress.com/2009/03/08/sayonara-zetsubou-sensei-parody-art/">Sayonara Zetsubou Sensei Parody Art « Kitsune’s Thoughts</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/anime">anime</a> <a href="http://delicious.com/rubenerd/blogs">blogs</a> <a href="http://delicious.com/rubenerd/funny">funny</a>)<p></p></dd>
</dl> 
