---
title: 'Links for 2009-08-02' 
date: "2009-08-02T10:03:03+10:00"
year: "2009"
category: Internet
tag:
- delicious
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://mail.opensolaris.org/pipermail/indiana-discuss/2008-December/013316.html">[indiana-discuss] opensolaris 2008/11 rc2 on macbook pro (fdisk fails during installation)</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/software">software</a> <a href="http://delicious.com/rubenerd/apple">apple</a> <a href="http://delicious.com/rubenerd/unix">unix</a> <a href="http://delicious.com/rubenerd/mac">mac</a> <a href="http://delicious.com/rubenerd/solaris">solaris</a> <a href="http://delicious.com/rubenerd/macbookpro">macbookpro</a> <a href="http://delicious.com/rubenerd/sun">sun</a> <a href="http://delicious.com/rubenerd/opensolaris">opensolaris</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://bugs.opensolaris.org/view_bug.do?bug_id=6413235">Bug ID: 6413235 fdisk won&#39;t commit (-F) tables to bootcamp prepared disks</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/software">software</a> <a href="http://delicious.com/rubenerd/apple">apple</a> <a href="http://delicious.com/rubenerd/unix">unix</a> <a href="http://delicious.com/rubenerd/mac">mac</a> <a href="http://delicious.com/rubenerd/solaris">solaris</a> <a href="http://delicious.com/rubenerd/macbookpro">macbookpro</a> <a href="http://delicious.com/rubenerd/sun">sun</a> <a href="http://delicious.com/rubenerd/opensolaris">opensolaris</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://weblogs.java.net/blog/bleonard/archive/2008/05/_opensolaris_20.html">Brian Leonard&#39;s Blog: OpenSolaris 2008.05 Meet the MacBook Pro</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/software">software</a> <a href="http://delicious.com/rubenerd/apple">apple</a> <a href="http://delicious.com/rubenerd/unix">unix</a> <a href="http://delicious.com/rubenerd/mac">mac</a> <a href="http://delicious.com/rubenerd/solaris">solaris</a> <a href="http://delicious.com/rubenerd/macbookpro">macbookpro</a> <a href="http://delicious.com/rubenerd/sun">sun</a> <a href="http://delicious.com/rubenerd/opensolaris">opensolaris</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://wikis.sun.com/display/chosug/OpenSolaris+2009.06+on+a+MacBook+Pro">OpenSolaris 2009.06 on a MacBook Pro &#8211; Switzerland OpenSolaris User Group &#8211; wikis.sun.com</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/software">software</a> <a href="http://delicious.com/rubenerd/apple">apple</a> <a href="http://delicious.com/rubenerd/unix">unix</a> <a href="http://delicious.com/rubenerd/mac">mac</a> <a href="http://delicious.com/rubenerd/solaris">solaris</a> <a href="http://delicious.com/rubenerd/macbookpro">macbookpro</a> <a href="http://delicious.com/rubenerd/sun">sun</a> <a href="http://delicious.com/rubenerd/opensolaris">opensolaris</a>)<p></p></dd>
</dl> 
