---
title: 'Links for 2009-07-09' 
date: "2009-07-09T10:05:36+10:00"
year: "2009"
category: Internet
tag:
- delicious
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://jseliger.com/2009/01/31/ibm-model-m-unicomp-customizer-keyboard-update-mac-edition/">IBM Model M / Unicomp Customizer Keyboard update: Mac edition « The Story’s Story</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/unicomp">unicomp</a> <a href="http://delicious.com/rubenerd/hardware">hardware</a> <a href="http://delicious.com/rubenerd/mac">mac</a> <a href="http://delicious.com/rubenerd/keyboards">keyboards</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.rhino-award.com/voting2006/rhino06sieger.php">Rhino-Award</a></dt>
<dd class="delicious-extended">VERY clever semi trailer designs! The FedEx one is my favourite</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/advertising">advertising</a> <a href="http://delicious.com/rubenerd/clever">clever</a> <a href="http://delicious.com/rubenerd/funny">funny</a> <a href="http://delicious.com/rubenerd/germany">germany</a> <a href="http://delicious.com/rubenerd/trucks">trucks</a> <a href="http://delicious.com/rubenerd/transport">transport</a>)<p></p></dd>
</dl> 
