---
title: 'Links for 2009-09-10' 
date: "2009-09-10T10:01:45+10:00"
year: "2009"
category: Internet
tag:
- delicious
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://aldeby.org/blog/index.php/linux-laptop-power-saving-customization.html">Linux Power Saving Tweaks for HP Pavilion laptops | Nobody was Born with Linux Knowledge</a></dt>
<dd class="delicious-extended">&quot;Less watts: environmentally friendly, longer lasting battery, less spending on energy bills. Thanks to these tips you’ll be able to improve your Ubuntu GNU/Linux laptop lasting, maximize battery lasting and life and also our own planet Earth life expectancy!&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/hardware">hardware</a> <a href="http://delicious.com/rubenerd/linux">linux</a> <a href="http://delicious.com/rubenerd/power">power</a> <a href="http://delicious.com/rubenerd/foss">foss</a> <a href="http://delicious.com/rubenerd/energy">energy</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.timeanddate.com/worldclock/converter.html">The World Clock – Time Zone Converter</a></dt>
<dd class="delicious-extended">&quot;Do time zone conversions between two cities. This time zone calculator takes into account daylight saving time (DST), local time zone and accepts dates in past or future.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/travel">travel</a> <a href="http://delicious.com/rubenerd/timezones">timezones</a> <a href="http://delicious.com/rubenerd/converter">converter</a> <a href="http://delicious.com/rubenerd/clock">clock</a> <a href="http://delicious.com/rubenerd/world">world</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.youtube.com/watch?v=ofxVMlU97yA">YouTube &#8211; Right wing mother cries on CNN &#8211; Hilarious Parody</a></dt>
<dd class="delicious-extended">It&#39;s funny in an almost scary way. I imagine there are more than a few people who honestly do think like this.</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/video">video</a> <a href="http://delicious.com/rubenerd/funny">funny</a> <a href="http://delicious.com/rubenerd/barackobama">barackobama</a> <a href="http://delicious.com/rubenerd/politics">politics</a> <a href="http://delicious.com/rubenerd/unitedstates">unitedstates</a> <a href="http://delicious.com/rubenerd/news">news</a> <a href="http://delicious.com/rubenerd/parody">parody</a>)<p></p></dd>
</dl> 
