---
title: 'Links for 2009-06-23' 
date: "2009-06-23T10:01:37+10:00"
year: "2009"
category: Internet
tag:
- delicious
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://www.daylightatheism.org/">Daylight Atheism</a></dt>
<dd class="delicious-extended">&quot;Nighttime is for dreaming. Daylight is for action.&quot; Why can&#39;t I write taglines like that?!</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/blogs">blogs</a> <a href="http://delicious.com/rubenerd/politics">politics</a> <a href="http://delicious.com/rubenerd/science">science</a> <a href="http://delicious.com/rubenerd/atheism">atheism</a> <a href="http://delicious.com/rubenerd/religion">religion</a> <a href="http://delicious.com/rubenerd/logic">logic</a> <a href="http://delicious.com/rubenerd/skepticism">skepticism</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://lorenzozanirato.blogspot.com/2009/06/singapores-total-population-grew-to.html">Sesto Potere &#8211; Il mio Blog: Singapore&#39;s total population grew to 4.84m in 2008</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/singapore">singapore</a> <a href="http://delicious.com/rubenerd/news">news</a> <a href="http://delicious.com/rubenerd/blogs">blogs</a> <a href="http://delicious.com/rubenerd/economics">economics</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://scienceblogs.com/dispatches/2009/06/farah_obama_wants_to_kill_all.php">Farah: Obama Wants to Kill All Jews! : Dispatches from the Culture Wars</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/politics">politics</a> <a href="http://delicious.com/rubenerd/nuts">nuts</a> <a href="http://delicious.com/rubenerd/middleeast">middleeast</a> <a href="http://delicious.com/rubenerd/news">news</a> <a href="http://delicious.com/rubenerd/science">science</a>)<p></p></dd>
</dl> 
