---
title: 'Links for 2009-06-22' 
date: "2009-06-22T10:01:41+10:00"
year: "2009"
category: Internet
tag:
- delicious
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://www.ish.com.au/solutions/articles/freebsdzfs">How to install FreeBSD 7.0 under ZFS | ish</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/zfs">zfs</a> <a href="http://delicious.com/rubenerd/bsd">bsd</a> <a href="http://delicious.com/rubenerd/freebsd">freebsd</a> <a href="http://delicious.com/rubenerd/storage">storage</a> <a href="http://delicious.com/rubenerd/software">software</a> <a href="http://delicious.com/rubenerd/foss">foss</a> <a href="http://delicious.com/rubenerd/sun">sun</a>)<p></p></dd>
</dl> 
