---
title: 'Links for 2009-11-12' 
date: "2009-11-12T11:01:48+10:00"
year: "2009"
category: Internet
tag:
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://www.bay-wolf.com/usbmemstick.htm">How to format a USB memory key</a></dt>
<dd class="delicious-extended">&quot;If you do not have a floppy disk drive, you may want to create a bootable USB memory key which will allow you to boot into a pure DOS environment. This can be very useful if you want to flash your BIOS.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/thinkpad">thinkpad</a> <a href="http://delicious.com/rubenerd/x40">x40</a> <a href="http://delicious.com/rubenerd/ibm">ibm</a> <a href="http://delicious.com/rubenerd/hardware">hardware</a> <a href="http://delicious.com/rubenerd/bios">bios</a> <a href="http://delicious.com/rubenerd/usb">usb</a> <a href="http://delicious.com/rubenerd/memorykey">memorykey</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://lists.freebsd.org/pipermail/freebsd-acpi/2004-November/000870.html">FIXED: Re: Problems with an IBM Thinkpad X40</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/thinkpad">thinkpad</a> <a href="http://delicious.com/rubenerd/x40">x40</a> <a href="http://delicious.com/rubenerd/ibm">ibm</a> <a href="http://delicious.com/rubenerd/hardware">hardware</a> <a href="http://delicious.com/rubenerd/fix">fix</a> <a href="http://delicious.com/rubenerd/bios">bios</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.freebsd.org/cgi/query-pr.cgi?pr=123775">i386/123775: [dri] DRI Broken under freebsd7-stable/i386</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/thinkpad">thinkpad</a> <a href="http://delicious.com/rubenerd/x40">x40</a> <a href="http://delicious.com/rubenerd/graphics">graphics</a> <a href="http://delicious.com/rubenerd/intel">intel</a> <a href="http://delicious.com/rubenerd/intel855gm">intel855gm</a> <a href="http://delicious.com/rubenerd/xorg">xorg</a> <a href="http://delicious.com/rubenerd/x11">x11</a> <a href="http://delicious.com/rubenerd/error">error</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://bugs.freedesktop.org/show_bug.cgi?id=13845">Bug 13845 – [intel] server crashs at startup (signal 11)</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/thinkpad">thinkpad</a> <a href="http://delicious.com/rubenerd/x40">x40</a> <a href="http://delicious.com/rubenerd/graphics">graphics</a> <a href="http://delicious.com/rubenerd/intel">intel</a> <a href="http://delicious.com/rubenerd/intel855gm">intel855gm</a> <a href="http://delicious.com/rubenerd/xorg">xorg</a> <a href="http://delicious.com/rubenerd/x11">x11</a> <a href="http://delicious.com/rubenerd/error">error</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://martin.wuertele.net/x40/index.html#contents">http://martin.wuertele.net/x40/index.html#contents</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/thinkpad">thinkpad</a> <a href="http://delicious.com/rubenerd/x40">x40</a> <a href="http://delicious.com/rubenerd/ibm">ibm</a> <a href="http://delicious.com/rubenerd/hardware">hardware</a> <a href="http://delicious.com/rubenerd/debian">debian</a> <a href="http://delicious.com/rubenerd/linux">linux</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.iosn.net/Members/kaeru/articles/freebsd/x40">FreeBSD on IBM Thinkpad X40 — UNDP-APDIP International Open Source Network</a></dt>
<dd class="delicious-extended">&quot;These are the steps and settings in getting FreeBSD running on an IBM Thinkpad X40. This article deals with a non-dual boot setup, and installation using IBM&#39;s USB DVD-CDRW drive.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/thinkpad">thinkpad</a> <a href="http://delicious.com/rubenerd/x40">x40</a> <a href="http://delicious.com/rubenerd/ibm">ibm</a> <a href="http://delicious.com/rubenerd/hardware">hardware</a> <a href="http://delicious.com/rubenerd/freebsd">freebsd</a> <a href="http://delicious.com/rubenerd/bsd">bsd</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://people.bath.ac.uk/masrjb/x40.html">Linux on the IBM Thinkpad X40</a></dt>
<dd class="delicious-extended">&quot;A new IBM Thinkpad, so time to install Linux. This time Suse 9.1&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/thinkpad">thinkpad</a> <a href="http://delicious.com/rubenerd/x40">x40</a> <a href="http://delicious.com/rubenerd/ibm">ibm</a> <a href="http://delicious.com/rubenerd/hardware">hardware</a> <a href="http://delicious.com/rubenerd/linux">linux</a> <a href="http://delicious.com/rubenerd/suse">suse</a>)<p></p></dd>
</dl> 
