---
title: 'Links for 2009-06-12' 
date: "2009-06-12T10:01:26+10:00"
year: "2009"
category: Internet
tag:
- delicious
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://www.startupcto.com/server-tech/freebsd/upgrading-all-freebsd-ports">Upgrading All FreeBSD Ports via portupgrade [StartupCTO]</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/ports">ports</a> <a href="http://delicious.com/rubenerd/portupgrade">portupgrade</a> <a href="http://delicious.com/rubenerd/freebsd">freebsd</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://fullmoepanic.blogspot.com/2008/01/minami-ke-is-dead-long-live-minami.html">Full Moe Panic!!!: Minami-ke is dead. Long Live Minami-ke~okawari</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/anime">anime</a> <a href="http://delicious.com/rubenerd/reviews">reviews</a> <a href="http://delicious.com/rubenerd/blogs">blogs</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://tekky99.wordpress.com/2008/12/18/winter-2009-anime-season-preview/">Winter 2009 Anime Season Preview « Tekky99’s Anime Blog</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/anime">anime</a> <a href="http://delicious.com/rubenerd/reviews">reviews</a> <a href="http://delicious.com/rubenerd/blogs">blogs</a>)<p></p></dd>
</dl> 
