---
title: 'Links for 2009-07-11' 
date: "2009-07-11T10:04:46+10:00"
year: "2009"
category: Internet
tag:
- delicious
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://savagemike.tumblr.com/post/138843069/lets-hope-its-a-lasting-vogue">I Am A Savage &#8211; Let&#39;s Hope It&#39;s A Lasting Vogue</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/religion">religion</a> <a href="http://delicious.com/rubenerd/atheism">atheism</a> <a href="http://delicious.com/rubenerd/usa">usa</a>)<p></p></dd>
</dl> 
