---
title: 'Links for 2009-08-21' 
date: "2009-08-21T10:02:17+10:00"
year: "2009"
category: Internet
tag:
- delicious
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://www.basbasbas.com/blog/">BasBasBas.com &#8211; Serial Expat</a></dt>
<dd class="delicious-extended">I&#39;m Bas, 23, an International Comm. Management student from The Netherlands. I write about living abroad, travelling, the future, all things 2.0 and a little activism.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/expat">expat</a> <a href="http://delicious.com/rubenerd/blog">blog</a> <a href="http://delicious.com/rubenerd/travel">travel</a> <a href="http://delicious.com/rubenerd/fascinating">fascinating</a> <a href="http://delicious.com/rubenerd/activism">activism</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.airbagindustries.com/introvertster/">Introvertster</a></dt>
<dd class="delicious-extended">&quot;The new way to get rid of people!&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/socialnetworking">socialnetworking</a> <a href="http://delicious.com/rubenerd/funny">funny</a> <a href="http://delicious.com/rubenerd/internet">internet</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.nzshipmarine.com/news/detail.aspx?id=58">Emma Maersk: New Zealand Marine and Shipping Society</a></dt>
<dd class="delicious-extended">Beautiful pictures of the sleek new ship</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/shipping">shipping</a> <a href="http://delicious.com/rubenerd/trade">trade</a> <a href="http://delicious.com/rubenerd/photos">photos</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.huffingtonpost.com/cynthia-boaz/what-if-the-right-was-rig_b_262723.html">Cynthia Boaz: What if the Right was Right? A Reflection on the &quot;Christian States of America.&quot;</a></dt>
<dd class="delicious-extended">&quot;What would it look like if we considered the nation&#39;s most pressing policy questions through the lens of &quot;Christian&quot; principles? What would it mean if the right was right?&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/politics">politics</a> <a href="http://delicious.com/rubenerd/religion">religion</a>)<p></p></dd>
</dl> 
