---
title: 'Links for 2009-12-06' 
date: "2009-12-06T11:01:43+10:00"
year: "2009"
category: Internet
tag:
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://www.epson.com/cgi-bin/Store/support/supDetail.jsp?oid=66172&amp;prodoid=63056499&amp;infoType=Downloads&amp;platform=Macintosh">Epson Perfection V700 Photo Scanner</a></dt>
<dd class="delicious-extended">Drivers and whatnot</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/drivers">drivers</a> <a href="http://delicious.com/rubenerd/hardware">hardware</a> <a href="http://delicious.com/rubenerd/epson">epson</a> <a href="http://delicious.com/rubenerd/scanners">scanners</a> <a href="http://delicious.com/rubenerd/mac">mac</a> <a href="http://delicious.com/rubenerd/windows">windows</a> <a href="http://delicious.com/rubenerd/software">software</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.usa.canon.com/consumer/controller?act=ModelInfoAct&amp;tabact=DownloadDetailTabAct&amp;fcategoryid=367&amp;modelid=12892">Canon PIXMA Pro9000 Professional Inkjet Printer</a></dt>
<dd class="delicious-extended">Drivers and whatnot</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/drivers">drivers</a> <a href="http://delicious.com/rubenerd/printer">printer</a> <a href="http://delicious.com/rubenerd/canon">canon</a> <a href="http://delicious.com/rubenerd/software">software</a>)<p></p></dd>
</dl> 
