---
title: 'Links for 2009-11-21' 
date: "2009-11-21T11:01:55+10:00"
year: "2009"
category: Internet
tag:
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://www.abc.net.au/news/newsitems/200201/s452228.htm">Praise for SA firies in NSW. 4/01/2002. ABC News Online</a></dt>
<dd class="delicious-extended">They still serve content with the old theme?</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/abc">abc</a> <a href="http://delicious.com/rubenerd/australia">australia</a> <a href="http://delicious.com/rubenerd/news">news</a> <a href="http://delicious.com/rubenerd/design">design</a> <a href="http://delicious.com/rubenerd/graphics">graphics</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://larussophobe.files.wordpress.com/2008/08/medvedev.jpg">medvedev.jpg (JPEG Image, 465×329 pixels)</a></dt>
<dd class="delicious-extended">&quot;That&#39;s what SHE said!&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/medvedev">medvedev</a> <a href="http://delicious.com/rubenerd/russia">russia</a> <a href="http://delicious.com/rubenerd/photo">photo</a>)<p></p></dd>
</dl> 
