---
title: 'Links for 2009-09-19' 
date: "2009-09-19T10:01:51+10:00"
year: "2009"
category: Internet
tag:
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://www.physicsforums.com/archive/index.php/t-90083.html">Java&#39;s &quot;Scanner&quot; Text &#8211; Physics Forums Library</a></dt>
<dd class="delicious-extended">Epic reply!</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/java">java</a> <a href="http://delicious.com/rubenerd/forums">forums</a> <a href="http://delicious.com/rubenerd/howto">howto</a> <a href="http://delicious.com/rubenerd/funny">funny</a> <a href="http://delicious.com/rubenerd/guides">guides</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://lifehacker.com/5360150/install-snow-leopard-on-your-hackintosh-pc-no-hacking-required?skyline=true&amp;s=i">Install Snow Leopard on Your Hackintosh PC, No Hacking Required &#8211; Hackintosh &#8211; Lifehacker</a></dt>
<dd class="delicious-extended">&quot;Two weeks ago I detailed how to build a Hackintosh with Snow Leopard, start to finish, with a little Terminal work. If you&#39;re not comfortable with command-line hacking, you can now install Snow Leopard on your Hackintosh with just a few point-and-clicks.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/hackintosh">hackintosh</a> <a href="http://delicious.com/rubenerd/mac">mac</a> <a href="http://delicious.com/rubenerd/osx">osx</a> <a href="http://delicious.com/rubenerd/leopard">leopard</a> <a href="http://delicious.com/rubenerd/snowleopard">snowleopard</a> <a href="http://delicious.com/rubenerd/howto">howto</a> <a href="http://delicious.com/rubenerd/guide">guide</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.juliantrubin.com/computerjokes.html">Science Jokes: Computer and Internet Jokes</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/retro">retro</a> <a href="http://delicious.com/rubenerd/funny">funny</a> <a href="http://delicious.com/rubenerd/computers">computers</a> <a href="http://delicious.com/rubenerd/jokes">jokes</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://forums.macrumors.com/showthread.php?t=368861">Capitalize Java string? &#8211; Mac Forums</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/java">java</a> <a href="http://delicious.com/rubenerd/programming">programming</a> <a href="http://delicious.com/rubenerd/software">software</a> <a href="http://delicious.com/rubenerd/tutorials">tutorials</a> <a href="http://delicious.com/rubenerd/howto">howto</a> <a href="http://delicious.com/rubenerd/forums">forums</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://java.sun.com/docs/books/tutorial/java/IandI/super.html">Using the Keyword super (The Java™ Tutorials &gt; Learning the Java Language &gt; Interfaces and Inheritance)</a></dt>
<dd class="delicious-extended">&quot;If your method overrides one of its superclass&#39;s methods, you can invoke the overridden method through the use of the keyword super. &quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/java">java</a> <a href="http://delicious.com/rubenerd/programming">programming</a> <a href="http://delicious.com/rubenerd/software">software</a> <a href="http://delicious.com/rubenerd/tutorials">tutorials</a> <a href="http://delicious.com/rubenerd/howto">howto</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.devdaily.com/java/edu/pj/pj010006/">Java split String &#8211; Split a String into tokens with StringTokenizer | devdaily.com</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/java">java</a> <a href="http://delicious.com/rubenerd/howto">howto</a> <a href="http://delicious.com/rubenerd/programming">programming</a>)<p></p></dd>
</dl> 
