---
title: 'Links for 2009-08-09' 
date: "2009-08-09T10:01:48+10:00"
year: "2009"
category: Internet
tag:
- delicious
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://shyandquiet.com/2009/03/14/living-well-is-the-best-revenge-against-social-anxiety-disorder/#comments">Best Revenge Against Social Anxiety Disorder | Shy And Quiet</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/socialanxiety">socialanxiety</a> <a href="http://delicious.com/rubenerd/depression">depression</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://beatingsocialanxiety.blogspot.com/">Beating Social Anxiety</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/depresson">depresson</a> <a href="http://delicious.com/rubenerd/socialanxiety">socialanxiety</a> <a href="http://delicious.com/rubenerd/blogs">blogs</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.readthesigns.com.au/need_help/feeling_depressed">ReadtheSigns &#8211; Feeling depressed?</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/depresson">depresson</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.reetsyburger.com/2007/07/are-eyes-gate-to-emoticons-soul.html">Reetsyburger&#39;s Refuge: Are the Eyes the Gate to the Emoticon&#39;s Soul???</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/emoticons">emoticons</a> <a href="http://delicious.com/rubenerd/graphics">graphics</a> <a href="http://delicious.com/rubenerd/japanese">japanese</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.gizmodo.com.au/2009/06/aussie-iphone-tethering-guide-%e2%80%93%c2%a0all-carriers/comment-page-2/#comments">Aussie iPhone Tethering Guide – All Carriers | Gizmodo Australia</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/iphone">iphone</a> <a href="http://delicious.com/rubenerd/australia">australia</a> <a href="http://delicious.com/rubenerd/internet">internet</a> <a href="http://delicious.com/rubenerd/apple">apple</a> <a href="http://delicious.com/rubenerd/optus">optus</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://tetherme.lstoll.net/">Tether me!</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/iphone">iphone</a> <a href="http://delicious.com/rubenerd/australia">australia</a> <a href="http://delicious.com/rubenerd/internet">internet</a> <a href="http://delicious.com/rubenerd/apple">apple</a> <a href="http://delicious.com/rubenerd/optus">optus</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.digitela.com/articles-a22.html">Digitela &#8211; Related Articles &#8211; HOWTO: Transparent PNG in Internet Explorer 6</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/ie">ie</a> <a href="http://delicious.com/rubenerd/graphics">graphics</a> <a href="http://delicious.com/rubenerd/hack">hack</a> <a href="http://delicious.com/rubenerd/fix">fix</a> <a href="http://delicious.com/rubenerd/javascript">javascript</a> <a href="http://delicious.com/rubenerd/png">png</a> <a href="http://delicious.com/rubenerd/howto">howto</a>)<p></p></dd>
</dl> 
