---
title: 'Logitech Powered USB Hub schweetness' 
date: "2009-12-12T12:02:30+10:00"
year: "2009"
category: Hardware 
tag:
- connectors
- hard-disks
- hard-drives
- hubs
- infocomm
- logitech
- peripherals
- usb 
---
<p><a href="https://www.flickr.com/photos/rubenerd/4176626712/" title="My new Logitech powered USB hub! by rubenerd, on Flickr"><img src="https://rubenerd.com/files/2009/4176626712_5e6671d575_h@1x.jpg" srcset="https://rubenerd.com/files/2009/4176626712_5e6671d575_h@1x.jpg 1x, https://rubenerd.com/files/2009/4176626712_5e6671d575_h@2x.jpg 2x" alt="My new Logitech powered USB hub!" style="width:500px; height:335px;" /></a></p>
<p>After what has seemed like an eternity of searching, I finally was able to track down and buy a <strong>Logitech Premium Powered USB Hub</strong>. Christmas has come early!</p>
<p>You may choose one (or both) of the following sections to read.</p>
<h3>Option one: I don’t want to read this entire post</h3>
<p>Well okay fair enough! In short, the Logitech Premium Powered USB Hub a spectacular little device that takes power from an external power supply and allows me to plug in four bus powered hard drives into one USB port. It&#39;s fantastic, and I&#39;m kicking myself for not buying it sooner! Thank you.</p>
<p><img src="https://rubenerd.com/files/uploads/photo.logitech.premium.hub.jpg" alt="Press photo of the Logitech powered USB hub" style="height:280px; width:450px;" /></p>
<h3>Option two: Please, spare no detail!</h3>
<p>Let me regale you with my tale as to why I so desperately needed a powered USB hub and why this one fits the bill so well its a bit creepy. Don&#39;t say I didn&#39;t warn you.</p>
<p>Despite finding a local Singaporean distributor for the Drobo entirely by accident, and while it would be a real time saver, I&#39;m not rich enough to still spend $600 on what is essentially an attractive, empty RAID box (<a href="//rubenerd.com/arm-leg-drobo/">An arm, a leg and a Drobo</a>) so instead I have a veritable Stonehenge of external hard drives. I miss the days before I started studying overseas and my desktop was my primary machine, I had a large power supply and had all but a few drives internal. That was schweet!</p>
<p>Anyway so I have a specialised, shock absorbing hard drive carrying case for when I&#39;m in aeroplanes that can take two desktop sized external drives and half a dozen notebook sized ones. I have a FireWire 800 ExpressCard (which Apple inexplicably removed from all but their 17&quot; MacBook Pros now, stupid idea) which I plug the desktop drives into, but all the notebook sized drives are USB.</p>
<p>This is a problem because notebook hard drives are <strong>bus powered</strong> which means they need a dedicated USB port. Traditional USB hubs are no good because they can only support one powered device, which in this case defeats their purpose. With this powered Logitech hub thingy though, I can attach all my drives at once and they&#39;re all recognised! Transfer speeds would be fairly terrible if I tried to do intensive work off all four drives at once, but that&#39;s not how I intend to use them anyway. It&#39;s a convenience thing.</p>
<p>Now the only problem is my OS X desktop and Finder are rapidly filling up with drive icons! Time to run rsync to get them all in check, and maybe upgrade the desktop drives to 2TB ones :)</p>
 
