---
title: '$58 billion on roads, $1.5 on public transport!' 
date: "2009-09-20T10:54:43+10:00"
year: "2009"
category: Thoughts 
tag: 
- australia
- environment
- public-transport
- rant
- singapore
- the-greens 
---
<p><img src="https://rubenerd.com/files/2009/punggol-mrt-station_130711963_o@1x.jpg" alt="Punggol MRT Station" srcset="https://rubenerd.com/files/2009/punggol-mrt-station_130711963_o@1x.jpg 1x, https://rubenerd.com/files/2009/punggol-mrt-station_130711963_o@2x.jpg 2x" style="width:500px; height:375px;" /></p>
<p>As you may have noticed if you&#39;ve been reading my blog for a while, I&#39;m somewhat of a <a href="//rubenerd.com/tag/public-transport/">public transport</a> nut. Having lived in Singapore most of my life, moving back to Australia for part of the year made me realise just how much I&#39;d taken the public transport there for granted.</p>
<p><!--oldmore--></p>
<p>Many Singaporeans complain about the reliability of some of the buses and that they think it costs too much money to constantly build new underground train lines, but those are the kinds of investments that will be paying dividends for decades.</p>
<p>In comparison most Australian cities seem to follow the American model (sans perhaps New York City and Portland) of new expensive highways over public transport; while there are token efforts every now and then there is still the publicly held consensus that car ownership is a right not a privilege, and that the opportunity cost of building a new highway in place of a new train line is an acceptable one to take. I&#39;ve been arguing for years this is entirely backwards and that if people are given a reliable, fast, comprehensive and affordable public transport system they&#39;ll use it.</p>
<p>Anyway, I was going somewhere with this! <a href="http://greens.org.au/node/5042">Scott Ludlam of the Aussie Greens had this to share</a> this afternoon in regards to the current <a href="http://www.aph.gov.au/Senate/committee/rrat_ctte/public_transport/report/index.htm">Senate report on public transport</a>, in particular the issue I was talking about with road transport always getting priority:</p>
<blockquote><p>The report on the Senate Inquiry into Public Transport tabled today recognised a multitude of reasons why public transport is a vital part of our nations’ infrastructure and that its significance will grow in the years ahead.</p>
<p>[…] only states with coherent public transport plans and proposals will benefit. States that retain outdated planning policies favouring freeways over public transport will miss out. I hope that this report will play a role in focusing Government attention on the urgent need for a systematic re-prioritising of transport funding,&#8221; Senator Ludlam said.</p>
<p>Trips made using public transport increased by 14.7 per cent from 2004 to 2008 in the eight capital cities.
</p></blockquote>
<p>These figures nearly made me fall out of my chair:</p>
<blockquote><p>In the 30 years to 2004 the Commonwealth spent $58 billion dollars on roads, $2.2 billion on rail, and just $1.5 billion on public transport.</p></blockquote>
<p>Even if you &quot;John C Dvorak&quot; the figures they still seem wildly disproportionate:</p>
<blockquote><p>In the 30 years to 2004 the Commonwealth spent a meagre $58 billion dollars on roads, while spending a huge $2.2 billion on rail, and a whopping $1.5 billion on public transport!</p></blockquote>
<p>I just don&#39;t know where to begin with these. Yes roads are needed and are useful for a functioning economy, and Australia&#39;s vast size and limited population presents formidable challenges for dealing with moving people and goods around, but come on… 1.5 billion? 2.2 for rail? It just boggles the mind!</p>
<p>Ah well, at least I&#39;m lucky enough to live next to a train station here so I can commute into Adelaide and return without too many problems. The vast majority of Aussies aren&#39;t so lucky.</p>
 
