---
title: 'Looking back at virtual machines on Macs' 
date: "2009-04-14T05:25:03+10:00"
year: "2009"
category: Software
tag:
- apple
- infocomm
- parallels-desktop
- q-app
- reviews
- virtualbox
- virtualisation
- vmware
- vmware-fusion 
---
<p><img src="https://rubenerd.com/files/uploads/screenie.mac.vm.png" alt="My virtual machine applications" style="height:200px; width:500px; border:0px" /><br /><cite>My Applications folder is one full beast!</cite></p>
<p>Since I first picked up my first copies of <a href="http://en.wikipedia.org/wiki/Connectix">Connectix Virtual PC</a> for my <a href="http://en.wikipedia.org/wiki/IMac_G3#iMac_.28slot-loading.29">Blueberry iMac DV</a> I’ve been awestruck by the elegance of virtual machines and have had a ridiculous amount of fun tinkering with operating systems and software I probably would not have otherwise been able to use. Some like <a href="http://freebsd.org/">FreeBSD</a> have even &quot;graduated&quot; and become primary operating systems on machines I use, others like DOS and earlier versions of Windows get to stick around for bouts of electronic nostalgia.</p>
<p>Given I’ve been so busy with other projects and studying I thought the long Easter weekend would be a great time to look into some lesser known virtual machine programs for Mac: <a style="font-weight:bold" href="http://www.kju-app.org/">Q</a> and <a style="font-weight:bold" href="http://www.virtualbox.org/">VirtualBox</a>. I’ll be posting my full reviews in the next day or so, but suffice to say they both fill their intended rolls amazingly well and could give the commercial Mac virtualisation solutions a run for their money. They’re free and open source, so you can download them and give them a shot right now!</p>
<p>For the sake of completeness, <a href="//rubenerd.com/parallels-desktop-freebsd-issues/">I talked about Parallels Desktop a lot back in 2006</a> when I was first messing around with FreeBSD on my then-new Intel MacBook Pro, then <a href="//rubenerd.com/just-bought-vmware-fusion/">switched to VMware Fusion in 2007</a> because of it’s superior support for Unix-like clients. It’s kind of fun to look back at those posts for me, at the time I thought such experimentation was fun but essentially pointless; I had no idea how much I was actually learning.</p>
<p>If you love tinkering with obscure and/or old operating systems, it’s a great time to be alive! Now all I need is time…</p>
 
