---
title: 'Some Mac software link clouds' 
date: "2009-05-25T05:29:00+10:00"
year: "2009"
category: Software
tag:
- apple
- clouds
- infocomm
- mac-os-x
- macports 
---
<p><img src="https://rubenerd.com/files/2009/beautiful-colours-and-clouds_3055705014_o@1x.jpg" alt="Beautiful colours and clouds" srcset="https://rubenerd.com/files/2009/beautiful-colours-and-clouds_3055705014_o@1x.jpg 1x, https://rubenerd.com/files/2009/beautiful-colours-and-clouds_3055705014_o@2x.jpg 2x" style="width:500px; height:375px;" /></p>
<p>As I said previously, I tend to wipe and reinstall the operating systems on my computers at least once a year, then I go about reinstalling software. Here&#39;s a cloud showing my current Mac software, current as of this post. I would discuss software from the future, but that would be in violation of the <a href="http://en.wikipedia.org/wiki/Prime_Directive#Temporal_Prime_Directive">Temporal Prime Directive</a>.</p>
<blockquote><dl>
<dt style="font-size:large; font-weight:bold; display:inline; margin:0em; padding:0em;"><a href="http://cyberduck.ch">Cyberduck</a></dt>
<dd style="display:inline; margin:0em; padding:0em;">Slick little (S)FTP client</dd>
<dt style="font-size:large; font-weight:bold; display:inline; margin:0em; padding:0em;"><a href="https://sourceforge.net/projects/gimponosx">Gimp</a></dt>
<dd style="display:inline; margin:0em; padding:0em;">Photoshop replacement for editing pictures</dd>
<dt style="font-size:large; font-weight:bold; display:inline; margin:0em; padding:0em;"><a href="http://www.inkscape.org">Inkscape</a></dt>
<dd style="display:inline; margin:0em; padding:0em;">Vector graphics editor</dd>
<dt style="font-size:large; font-weight:bold; display:inline; margin:0em; padding:0em;"><a href="http://www.islayer.com/apps/istatpro/">iStat Pro</a></dt>
<dd style="display:inline; margin:0em; padding:0em;">For monitoring temperature, memory etc from the Dashboard
<dt style="font-weight:bold; display:inline; margin:0em; padding:0em;">
<dt style="font-size:large; font-weight:bold; display:inline; margin:0em; padding:0em;"><a href="http://code.google.com/p/macfuse/">MacFuse</a></dt>
<dd style="display:inline; margin:0em; padding:0em;">For easily mounting tons of file systems, and for TrueCrypt</dd>
<dt style="font-size:large; font-weight:bold; display:inline; margin:0em; padding:0em;"><a href="http://www.macports.org/">MacPorts</a></dt>
<dd style="display:inline; margin:0em; padding:0em;">OS X free software package manager</dd>
<dt style="font-size:large; font-weight:bold; display:inline; margin:0em; padding:0em;"><a href="http://code.google.com/p/macvim/">MacVim</a></dt>
<dd style="display:inline; margin:0em; padding:0em;">Beautiful Aqua-native Gvim text editor</dd>
<dt style="font-size:large; font-weight:bold; display:inline; margin:0em; padding:0em;"><a href="http://getfirefox.com/">Mozilla Firefox</a></dt>
<dd style="display:inline; margin:0em; padding:0em;">With these <a href="//rubenerd.com/firefox-extensions/">mostly-security extensions</a> because I’m paranoid</dd>
<dt style="font-size:large; font-weight:bold; display:inline; margin:0em; padding:0em;"><a href="http://perian.org/">Perian</a></dt>
<dd style="display:inline; margin:0em; padding:0em;">QuickTime codec library, so Finder can create video thumbnails</dd>
<dt style="font-size:large; font-weight:bold; display:inline; margin:0em; padding:0em;"><a href="http://www.truecrypt.org/">TrueCrypt</a></dt>
<dd style="display:inline; margin:0em; padding:0em;">Encrypted volume creator and manager</dd>
<dt style="font-size:large; font-weight:bold; display:inline; margin:0em; padding:0em;"><a href="http://www.tweetdeck.com/">TweetDeck</a></dt>
<dd style="display:inline; margin:0em; padding:0em;">Full screen Twitter client with interchangable columns</dd>
<dt style="font-size:large; font-weight:bold; display:inline; margin:0em; padding:0em;"><a href="http://www.videolan.org/vlc/download-macosx.html#mirror_row_random_33">VLC (Intel)</a></dt>
<dd style="display:inline; margin:0em; padding:0em;">For actually playing most of my video!</dd>
</dl>
</blockquote>
<p>From MacPorts I build copies of:</p>
<blockquote><dl>
<dt style="font-size:large; font-weight:bold; display:inline; margin:0em; padding:0em;"><a href="http://trac.macports.org/browser/trunk/dports/graphics/ImageMagick/Portfile">ImageMagick</a></dt>
<dd style="display:inline; margin:0em; padding:0em;">Easy command line image converting</dd>
<dt style="font-size:large; font-weight:bold; display:inline; margin:0em; padding:0em;"><a href="http://trac.macports.org/browser/trunk/dports/audio/lame/Portfile">LAME</a></dt>
<dd style="display:inline; margin:0em; padding:0em;">For encoding <a href="//rubenerd.com/show/">podcasts</a></dd>
<dt style="font-size:large; font-weight:bold; display:inline; margin:0em; padding:0em;"><a href="http://trac.macports.org/browser/trunk/dports/sysutils/mc/Portfile">Midnight Commander</a></dt>
<dd style="display:inline; margin:0em; padding:0em;">Still my primary file manager!</dd>
<dt style="font-size:large; font-weight:bold; display:inline; margin:0em; padding:0em;"><a href="http://trac.macports.org/browser/trunk/dports/multimedia/moc/Portfile">Music on Console</a></dt>
<dd style="display:inline; margin:0em; padding:0em;">For listening to online radio, smaller than iTunes</dd>
<dt style="font-size:large; font-weight:bold; display:inline; margin:0em; padding:0em;"><a href="http://trac.macports.org/browser/trunk/dports/lang/python26/Portfile">Python 2.6</a></dt>
<dd style="display:inline; margin:0em; padding:0em;">A kind of snake, also a British comedy troupe</dd>
</dl>
</blockquote>
 
