---
title: 'Brief comments about new MacBooks' 
date: "2009-06-09T07:16:29+10:00"
year: "2009"
category: Hardware 
tag:
- apple
- infocomm
- laptops
- macbook
- macbook-pro
location: Adelaide
---
<p><img src="https://rubenerd.com/files/2009/3609473956_f6fe54b47d_o.png" alt="New MacBook Pros" style="width:480px" /></p>

<p>If you&#39;re interested in Apple hardware you&#39;re probably already well versed in the changes Apple announced and the last thing the blogosphere needs is another personal blog talking in detail about changes you could read about in hundreds of other sites.</p>
<p>What I will say is that it&#39;s fantastic that Apple listened to their customers and once again includes FireWire 400 or FireWire 800 on ALL their models now. If you recall late last year I had an entire series of posts tagged the MacBook FireWire Debacle where I was discussing what a terrible decision it was to remove FireWire from the MacBook at the time:</p>
<ul>
<li><a href="//rubenerd.com/p2757/">Possible reason why there’s no MacBook FireWire</a></li>
<li><a href="//rubenerd.com/p2370/">MacBook a winner, unless you need FireWire</a></li>
<li><a href="//rubenerd.com/p2300/">The penultimate plus one MacBook FireWire post</a></li>
<li><a href="//rubenerd.com/p2291/">Addressing some MacBook FireWire arguments</a></li>
<li><a href="//rubenerd.com/p2280/">Apple still claims the MacBook includes FireWire</a></li>
<li><a href="//rubenerd.com/p2267/">Obituary for FireWire 1999-2008</a></li>
<li><a href="//rubenerd.com/p2202/">Apple’s tragic FireWire MacBook mistake</a></li>
</ul>
<p>I seem to recall there were several people <a href="//rubenerd.com/p2202/#comment-750">posting comments on my blog here</a> disputing what I was saying by claiming FireWire isn&#39;t necessary anymore, and that Apple was removing a &quot;legacy&quot; port. I like Apple products but I&#39;m not an apologist; I called them out for this bad decision and it&#39;s good to see they&#39;ve corrected their mistake.</p>
<p>What I am disappointed about is despite the improved screen technology in the 15 inch MacBook Pro model, it is <em>STILL</em> only <code>1440x900</code> resolution. It baffles me that the 17 inch model was updated from <code>1680x1050</code> to <code>1920x1200</code> without problems, but the 15 inch model is still stuck with essentially the same resolution as the PowerBook line from years past. As I&#39;ve said here, I&#39;ll upgrade when this changes.</p>
<p>Overall I&#39;m impressed with the new lineup, but as a proud owner of a first generation MacBook Pro from 2006 with a 2.0GHz Core Duo CPU I still don&#39;t feel as though it&#39;s worth upgrading yet. Looking forward to Snow Leopard!</p>
 
