---
title: 'The first Michael Franks Libre.fm fan!' 
date: "2009-06-01T05:03:45+10:00"
year: "2009"
category: Media
tag:
- jazz
- librefm
- michael-franks
- music 
---
<p><img src="https://rubenerd.com/files/2009/3572661788_0caa868633_o@1x.jpg" srcset="https://rubenerd.com/files/2009/3572661788_0caa868633_o@1x.jpg 1x, https://rubenerd.com/files/2009/3572661788_0caa868633_o@2x.jpg 2x" alt="Michael Franks on Libre.fm" style="width:500px; height:312px;" /></p>

<p>I tend to listen to <a href="http://wholewheatradio.org/">Whole Wheat Radio</a> during the early afternoon, and my own music later in the evening. Since using <a href="http://alpha.libre.fm/user/rubenerd/">Libre.fm</a> to scrobble music I&#39;ve noticed many artists I listen to haven&#39;t been in their database before and are subsequently automagically added. What a mouthful.</p>
<p>The latest such artist is <a href="http://www.michaelfranks.com/">Michael Franks</a>! Currently if you click any of these covers, I&#39;m the only one who&#39;s played him, even <em>Popsicle Toes</em> and <em>Tiger in the Rain</em>. Unfortunately I don&#39;t have all his music in CD form, I inherited from my mum all his classics on original LPs but as far as I know I don&#39;t think any scrobbling client currently supports such archaic devices :).</p>
<p>The great thing about being an early adopter of a service is you get to be part of the site during important milestones like this. Well, at least I consider them important. As Michael sang in one of his songs: &quot;<em>Just continue reading me…</em>&quot; which doesn&#39;t make sense given he&#39;s a singer/songwriter not an author. I guess I could read along with the lyrics. Why do I talk to myself so often here now? Can senelity set in when you&#39;re 23? Don&#39;t answer that.</p>
<p>I wrote my <a href="//rubenerd.com/michaelfranks/">Michael Franks music review</a> back in January 2007.</p>
 
