---
title: '#Anime New Samsung Akiyama Mio desktop' 
date: "2009-07-26T08:25:08+10:00"
year: "2009"
category: Anime 
tag: 
- akiyaya-mio
- desktop-backgrounds
- k-on
- keion
- kyoani 
---
<p><img src="https://rubenerd.com/files/2009/3751663494_7415703015_o@1x.jpg" srcset="https://rubenerd.com/files/2009/3751663494_7415703015_o@1x.jpg 1x, https://rubenerd.com/files/2009/3751663494_7415703015_o@2x.jpg 2x" alt="New Samsung 1920x1200 display" style="width:500px; height:312px;" /></p>

<p>It&#39;s very much in vogue in the anime community to bash K-On! because it&#39;s supposedly shallow, has weak characters and a plot that&#39;s only there to show cute girls in various situations, but I thoroughly enjoyed it for it&#39;s high life escape value ^_^.</p>
<p>My current desktop background is this of Mio from the light music club. I guess it&#39;s a typical otaku fantasy to be friends with a cute, shy girl and I&#39;m falling right into the nerdy anime stereotype, but I find Mio very endearing. Besides, it&#39;s a nice design and scales beautifully on my new 1920&#215;1200 display. Or screen, or whatever it is this thing is called.</p>
 
