---
title: 'MonnieCakes!' 
date: "2009-09-18T01:04:29+10:00"
year: "2009"
category: Internet
tag:
- adelaide
- australia
- cupcakes
- food
- infocomm
- monniecakes
- schweet
- twitter 
---
<p><img src="https://rubenerd.com/files/2009/3930687778_568acd6be2_o@1x.jpg" srcset="https://rubenerd.com/files/2009/3930687778_568acd6be2_o@1x.jpg 1x, https://rubenerd.com/files/2009/3930687778_568acd6be2_o@2x.jpg 2x" alt="Monniecakes launch!" style="width:500px; height:312px;" /></p>

<p>Thanks to the <a href="http://twitter.com/rubenerd/">power of The Twitters</a> I&#39;ve made friends with people in a new home who I&#39;ve never met. Presumably they actually exist and are not just Turing machines. That reminds me, the UK government <a href="http://news.bbc.co.uk/2/hi/technology/8249792.stm">apologised to him</a>! Only took them half a century. <strong>Century</strong> has <strong>cent</strong> at the beginning like <strong>centimetre</strong> and a <strong>cent coin</strong> because it deals with units of 100. <strong>Devilish cunning</strong>.</p>
<p>This isn&#39;t good, I was going to post a link to something but I&#39;ve point blank forgotten what it was… I think I mixed up a couple of analogies there. I&#39;m not going to glance over at the tab bar, I want to remember this for myself. Something I read on Twitter. Dollar reaching new low? Some guy forgot to… <a href="http://www.monniecakes.com/2009/welcome/">CUPCAKES</a>! Yes, I remember now! And it only took my cheating by glancing up at the tab bar to see it!</p>
<blockquote cite="http://MonnieCakes.com/"><p>Welcome to <a href="http://MonnieCakes.com/">MonnieCakes.com</a>! Soon this website will become my little hub for all things cupcakes. I bake cupcakes, make them out of polymer clay and make them into little charms and earrings, I draw them and I collect everything I see that is cupcake related. They are adorably cute!</p>
<p>I will start posting up recipes and also my vanilla and chocolate cupcake recipes that never let me down and are incredibly delicious. I hope to start posting photos and videos of my cooking too, so you can see what I’m making/drawing :).</p>
<p>I’ll also be posting cupcakes to Ruben in Mawson Lakes that I make on a regular basis from now on because not only is he extremely intelligent and articulate, but above all he’s modest, humble and would never fabricate quotations to suit his own appetite or culinary interests.</p>
<p>Check back for more updates soon!</p>
<p>xx Monnie</p></blockquote>
<p>I like the idea, the theme and the colour scheme. Hehe, that rhymed.</p>
<p>Unless I were to print <a href="//rubenerd.com/nonsense/">nonsense</a> on sugar paper and wrap it around a slab of apple crumble which I would have claimed to have baked myself but really I bought it from down the street, I don&#39;t think anything I blog about here could be construed to suggest dessert preparation. The <a href="//rubenerd.com/anime-k-on-02/">girls on K-On</a> always seem to be eating good cakes :).</p>
 
