---
title: 'I moved from Last.fm to Libre.fm' 
date: "2009-05-26T08:09:57+10:00"
year: "2009"
category: Media
tag:
- lastfm
- librefm
- music 
---
<p><img src="https://rubenerd.com/files/2009/3566793378_9eab4593e1_o@1x.jpg" srcset="https://rubenerd.com/files/2009/3566793378_9eab4593e1_o@1x.jpg 1x, https://rubenerd.com/files/2009/3566793378_9eab4593e1_o@2x.jpg 2x" alt="" style="width:500px; height:312px;" /></p>

<blockquote><p><strong>UPDATE:</strong> This post was supposed to go live on Tuesday, but when I overshot my bandwidth allowance I dropped everything and forgot to publish it. Given the only image is being hosted on Flickr not here, I suppose this one is okay.</p></blockquote>
<p>It seems all I&#39;ve talked about this beautiful Tuesday is music! So lets keep the blogging ball rolling and discuss <a href="http://alpha.libre.fm/">Libre.fm</a>, the website I mentioned earlier today that <a href="http://alpha.libre.fm/user/rubenerd/">I&#39;ve migrated to</a> after <a href="//rubenerd.com/lastfm-riaa/">Last.fm&#39;s latest shenanigans</a>.</p>
<p>Libre.fm is a music scrobbling and sharing website that runs on the free and open source GNUkebox software which you could even host yourself if you wanted to. With a bit of technical know-how (more on that below), you can import your existing plays from Last.fm, and in return you get a profile page with your most recent plays, a complete history including artists and songs you&#39;ve played the most, and the opportunity to join groups.</p>
<p>As reflected in their current URL though, Libre.fm is very much in alpha and still a bit rough around the edges. For one thing, you need to <a href="http://ideas.libre.fm/index.php/Using_turtle">edit your <code>hosts</code> file</a> to redirect scrobbles from your Last.fm <a href="http://ideas.libre.fm/index.php/Client_Support">client</a> to Libre.fm given no software (so far) has been designed for it; the official Last.fm client <em>won&#39;t work</em>. To <a href="http://ideas.libre.fm/index.php/Using_lastscrape">export your plays from Last.fm</a> also involves downloading and running a few Python scripts. The links I sprinkled in above direct you to <a href="http://ideas.libre.fm/index.php/Main_Page">their Wiki</a> with guides showing you how to do it.</p>
<blockquote><p><strong>ASIDE:</strong> I’ll be posting in more detail how to set it up if you’re interested, for now if you’re technical I created a Libre.fm account with the same username and password as my Last.fm account, then downloaded <a href="http://www.last.fm/group/iScrobbler">iScrobbler</a> and appended <code>89.16.177.55 post.audioscrobbler.com</code> to my <code>/etc/hosts</code> file. So far it seems to be working beautifully.</p></blockquote>
<p>You can now find me over at <a href="http://alpha.libre.fm/user/rubenerd/">http://alpha.libre.fm/user/rubenerd/</a>. I&#39;m not going to close <a href="http://www.last.fm/user/rubenerd">my Last.fm account</a> just yet, but I won&#39;t be scrobbling to it any more and have updated my profile there to reflect this.</p>
 
