---
title: 'Moving on from atheism, humanism commentary' 
date: "2009-05-21T10:25:01+10:00"
year: "2009"
category: Thoughts 
tag: 
- agnosticism
- atheism
- humanism
- philosophy
- rationality
- religion 
---
<p><a href="https://www.flickr.com/photos/26377803@N03/3079998533/"><img src="https://rubenerd.com/files/uploads/3079998533_67b38c8638.jpg" alt="Beautiful Carl Sagan atheism quote picture thing" style="border:0px; display:inline; height:375px; width:500px;" /></a></p>
<p>To all my readers,</p>
<p>After my <a href="//rubenerd.com/pro-misnomers/">latest post</a> concerning matters of religion and my assertion that &quot;pro life&quot; and &quot;pro family&quot; are misnomers, I received positive feedback from half a dozen people in various channels, rude emails from over ten people, and two comments here that included so many profanities and nothing of value I did what I thought I would never do here and decided not to publish them.</p>
<p>People obviously have heartfelt opinions on these issues and many are willing to discuss them in constructive ways, but a disproportionate number seem to be unable to post without resorting to ad hominum attacks on my character. To be blunt, I couldn&#39;t be bothered dealing with these any more.</p>
<p>I am a proudly a humanist atheist and may on occasion relay some interesting sites I find here, but I will no longer be creating new posts from scratch about such material. If you have been offended by posts about religion I&#39;ve posted here, believe me when I say it was not my intention and I apologise.</p>
<p>I&#39;m looking forward to the day when I can have frank and honest discussions about religion and faith without being insulted by religious conservatives or being labelled intolerant by social liberals whom I identify with on virtually everything else. Clearly this time has not yet come.</p>
<p>If you came to my blog here expecting such material, I encourage you to click over to <a href="http://richarddawkins.net/">RichardDawkins.net</a>, <a href="http://samharris.org/">SamHarris.org</a>, the <a href="http://skepticsannotatedbible.com/">Skeptics Annotated Bible</a>, the <a href="http://outcampaign.org/">Out Campaign</a> and of course the <a href="http://www.venganza.org/">Church of the Flying Spaghetti Monster</a>. Searches for Russel&#39;s Teapot, Occam&#39;s Razor, Thomas Jefferson, Thomas Paine, humanism and secularism will also (to borrow a phrase) set you on the right path.</p>
<p>Sincerely,<br />
<cite><a href="//rubenerd.com/about/">Ruben</a></cite></p>
<blockquote><p>
I was reading a book<br />
Well maybe it was a magazine<br />
Suggestions on where to place faith<br />
Suggestions on what to believe</p>
<p>But I read somewhere that you’ve got to beware<br />
You can’t believe anything you read<br />
But the good book is good and that’s well understood<br />
So don’t even question<br />
If you know what I mean</p>
<p>But it’s all relative even if we don’t understand<br />
And it’s all understood especially when we don’t understand<br />
And it’s all just because<br />
Even if we don’t understand then let’s all just believe</p>
<p>~ <cite>Jack Johnson, &quot;It’s All Understood&quot;</cite>
</p></blockquote>
 
