---
title: 'Testing Mozilla Firefox 3.5 Beta 4' 
date: "2009-05-20T02:41:47+10:00"
year: "2009"
category: Software
tag:
- browsers
- firefox
- grilled-cheese-sandwiches
- infocomm
- reviews
- ssl-blacklist 
---
<p>This morning I decided to give <a href="http://www.mozilla.com/en-US/firefox/all-beta.html">Firefox 3.5 Beta 4</a> from Mozilla Labs a try.</p>
<p>I&#39;m really interested in a lot of what they&#39;re doing, including their development of HTML 5 support for <code>&lt;audio&gt;</code> and <code>&lt;video&gt;</code> elements and closer CSS 2.1 support including text shadows. I haven&#39;t tested the former, but the latter is definitely working; not sure whether I&#39;d ever use such shadows on my own pages but it&#39;s good to see Firefox catching up to Safari/WebKit, Opera and Konqueror/KHTML in this regard.</p>
<p><img src="https://rubenerd.com/files/uploads/screenie.firefox35b4.png" alt="Testing CSS 2.1 test shadows" style="height:125px; width:500px;" /></p>
<p>According to the development page, another feature is vastly improved JavaScript support which should be most noticeable in Ajax applications. I&#39;m old fashioned and am of the opinion most Ajax online is poorly executed (plus I dislike it when sites only work with JavaScript enabled) but to be fair Gmail and Google Maps did seem quicker and the interfaces worked more smoothly; that said I don&#39;t have any hard numbers so this could all just be attributable to a placebo effect.</p>
<p>Mac users like me will be pleased to note some quite significant cosmetic changes which make Firefox look more Mac-like. Context menus now finally match Mac OS X Leopard&#39;s rounded corners, the bookmark bar has a much more subdued gradient which looks classier and the toolbar itself takes up less screen real estate.</p>
<p><img src="https://rubenerd.com/files/uploads/screenie.firefox35b4.toolbar.png" alt="Testing CSS 2.1 test shadows" style="height:76px; width:500px; border:0px; display:inline;" /></p>
<p>Given <a href="//rubenerd.com/firefox-extensions/">I use so many extensions</a> I admit I was worried how many of them would break in the beta; to my relief only two were, and neither are security related. SSL Blacklist (now my favourite extension alongside NoScript) in the version I had was incompatible, but updating to version 4.0.31 and the SSL Blacklist Local Database 1.0.7 fixed this. Clipmarks reports to be compatible, but alas doesn&#39;t work for me at all.</p>
<table style="border:0px; border-collapse:collapse">
<thead>
<tr>
<th style="padding-right:1em">Compatible with 3.5b4</th>
<th>Not compatible with 3.5b4</th>
</tr>
</thead>
<tbody>
<tr>
<td style="vertical-align:top; padding-right:2em">
Adblock Plus 1.0.2<br />
BetterPrivacy 1.29<br />
British English Dictionary 1.19<br />
DownThemAll! 1.1.3<br />
FireFTP 1.0.4<br />
FoxClocks 2.5.33<br />
Ghostery 1.4.0<br />
NoScript 1.9.2.8<br />
Permit Cookies 0.6.2<br />
SSL Blacklist 4.0.31<br />
SSL Blacklist Local D’Base 1.0.7<br />
Tree Style Tab 0.7.2009051501
</td>
<td style="vertical-align:top">
Clipmarks 3.5.1<br />
Greasemonkey 0.8.20090123.1<br />
LORI 0.2.0.20080521
</td>
</tr>
</tbody>
</table>
<p>I look forward to the final release, as usual the Mozilla folks are doing a fantastic job.</p>
 
