---
title: 'Multiple online identities are too tiring' 
date: "2009-10-04T07:07:38+10:00"
year: "2009"
category: Internet
tag:
- identity
- infocomm
- philosophy
- thinking-out-loud 
---
<p><img src="https://rubenerd.com/files/2009/duck-duck-duck-duck_3962213090_o@1x.jpg" alt="Duck duck duck duck" srcset="https://rubenerd.com/files/2009/duck-duck-duck-duck_3962213090_o@1x.jpg 1x, https://rubenerd.com/files/2009/duck-duck-duck-duck_3962213090_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>
<p>I briefly had a talk with a few epicly awesome people yesterday from interstate about the idea of online personae, and how it seems to be the norm for many people to have their real selves and an internet pseudonym that &quot;never shall meet&quot;.</p>
<p>I personally never saw the attraction of having multiple online identities because by having all my material in one place with my name people can see all that I&#39;m interested in, plus I don&#39;t have to remember which voice to use depending on what site I&#39;m on and what account I&#39;m logged into. I&#39;m far too absent minded to pull that off.</p>
<p>I&#39;ve heard the argument that people want to maintain a &quot;professional&quot; and &quot;personal&quot; online presence, but too often when I see this their professional sites are dry, dull and boring, while their personal sites are really interesting &#8212; even if they end up taking about the same thing. For me, I like people to see that I have a life outside studies and work, and conversely that I have interests in topics such as FreeBSD that I&#39;m not studying at university at all!</p>
<p>I&#39;m also a dreadful hypocrite, I maintain this site here at Rubenerd.com even though I&#39;ve registered RubenSchade.com, RubenSchade.net and RubenSchade.org just in case I ever want to separate them. Oh yeah, and the name is shorter and catchier and all that.</p>
<p>Perhaps when I&#39;m older and have a full time job outside studying I&#39;ll want to keep my stuff separate, or perhaps I&#39;ll even be required to. The way it stands now though, I&#39;m perfectly happy with people knowing.</p>
 
