---
title: 'My Open Web Awards, Mashable be darned!' 
date: "2009-12-11T01:29:32+10:00"
year: "2009"
category: Internet
tag:
- alex-lindsay
- birdfeed
- infocomm
- marian-call
- mashable
- neil-humphreys
- open-web-awards
- protest
- tweetdeck
- twitter 
---
<p><img src="https://rubenerd.com/files/uploads/screenie.mashable.owa.fail.png" alt="Mashable Open Web Awards Fail!" style="height:250px; width:500px; display:inline" /></p>
<p>I&#39;ve always thought the idea of the Mashable Open Web Awards was at best just a misnomer and silly, but this year I decided to give it a try. Most of the categories had nothing I wanted to vote for, and in the case of those that did I was incorrectly informed I had already voted for it! In protest, I&#39;m creating this post.</p>
<h3>Best Twitter App &ndash; <a href="http://twitter.com/TweetDeck/">@TweetDeck</a></h3>
<p>Now that it supports Twitter Lists, I can keep track of tweets in multiple columns from different parts of the world even easier than I could before. It single handedly makes widescreen monitors (that are otherwise useless for programming) a useful thing to have!</p>
<h3>Best Location Based Mobile App &ndash; <a href="http://twitter.com/gowalla/">@Gowalla</a></h3>
<p>I originally used it because Foursquare wasn&#39;t available in Singapore or Australia, but now I reckon it&#39;s superior anyway, especially since Leo and the gang on This Week in Google said they didn&#39;t like it :).</p>
<h3>Best Mobile Based Twitter App &ndash; <a href="http://twitter.com/birdfeedapp/">@Birdfeed</a></h3>
<p>Not one of the options. Since Tweetie&#39;s disappointing interface downgrade in version 2, Birdfeed is now by far the most polished and easiest to use Twitter client for the iTelephone. Its fast, stable and supports multiple accounts.</p>
<h3>Best News Source to follow &ndash; <a href="http://twitter.com/SBSnews/">@SBSNews</a></h3>
<p>The official news feed for the <a href="http://www.sbs.com.au/news/">Special Broadcast Service</a> in Australia. Covers news going on everywhere, not just White House car and gate crashing Tiger Woods. Honestly guys, I don&#39;t care about that stuff!</p>
<p>A follow up would be the Deutsche Welle feed at <a href="http://twitter.com/dw_english/">@dw_english</a>.</p>
<p><img src="https://rubenerd.com/files/uploads/photo.mariancall.jpg" alt="Marian Call" style="height:320px; width:213px; display:inline" /></p>
<h3>Best Celebrity to Follow &ndash; <a href="http://twitter.com/MarianCall">@MarianCall</a></h3>
<p>In no particular order, <a href="http://www.mariancall.com/">Marian Call</a> is brutally honest, down to earth, funny, charming, beautiful, talented, she loves Firefly and most important of all: she&#39;s awesomely friendly! Despite having thousands of followers and a schedule busier than… somebody with a really busy schedule, she&#39;ll almost always reply to tweets from her fans, including little old me!</p>
<p>There are two very close follow up folks in this category. First we have <a href="http://twitter.com/NeilHumphreys/">@NeilHumphreys</a>.<br />
Enough said! Better still, it means I can follow his antics and thoughts without having to go to his website that uses Flash which I don&#39;t have on most of my computers.</p>
<p>The other runner up is <a href="http://twitter.com/AlexLindsay">@AlexLindsay</a> because his tweets are ridiculously interesting and honest, and like Neil he always replies to tweets I send him.</p>
<h3>Best Brand Use of Twitter &ndash; <a href="http://www.brewerkz.com/">@Brewerks</a></h3>
<p>The <a href="http://www.brewerkz.com/">microbrewary in Singapore</a> who&#39;s Twitter account is run by a real person not a bot and that if you send messages to you get cheerful responses! I haven&#39;t had the chance to enter any of their competitions or quiz nights yet, but using Twitter to announce them is a fantastic idea.</p>
 
