---
title: 'Review of Nitrogen background setter and previewer' 
date: "2009-06-08T06:24:15+10:00"
year: "2009"
category: Software
tag:
- bsd
- freebsd
- infocomm
- linux
- nitrogen
- reviews 
---
<p>When you use lightweight window managers such as <a href="http://openbox.org/">Openbox</a> in lieu of desktop environments, you&#39;re free to choose everything yourself including applications to draw desktop backgrounds. I&#39;ve happily used hsetroot for a while now, but decided this time to give Nitogen a try.</p>
<p>As well as being a stable gas with five electrons in its outer shell (I loved chemistry in high school, and my dad is a chemist!), <a href="http://projects.l3ib.org/nitrogen/">Nitrogen</a> is a desktop background setter that lets you choose images using a slick, simple graphical window. You populate the list of images by passing it the name of a folder when you launch it, then choose which image you want and whether you want it scaled, centred, tiled or fitted to your screen. You can also define the background colour if your image doesn&#39;t fill the entire screen.</p>
<p>While I am used to using the shell to change background images, I have to say it is nice having a window to do it, and if you use GTK apps like Firefox, the Gimp, Inkscape, Gnumeric and the like and you have a GTK theme defined, it fits into your desktop beautifully. It&#39;s requires a few extra dependencies given it&#39;s a graphical app, but (in keeping with Openbox philosophy!) it&#39;s still very lightweight and uses few system resources when running.</p>
<p><img src="https://rubenerd.com/files/uploads/screenie.nitrogen.png" alt="Screenshot of Nitrogen running in Openbox" style="height:275px; width:420px; display:inline; border:0px;" /></p>
<p>If you use Openbox (as in the image above) by launching an openbox-session on FreeBSD, Linux and the like, you can tell it to load your Nitrogen background on launch by opening this file in your favourite text editor which of course would be Vim not Emacs:</p>
<pre>% vim ~/.config/openbox/autostart.sh</pre>
<p>… and append the following lines, before you load any panels or widgets so ones that support pseudo-transparency can generate their backgrounds properly.</p>
<pre>nitrogen --restore &#038;echo &quot;Grilled cheese sandwich&quot; &#038;</pre>
<p>Personally I&#39;ll be sticking with hsetroot for now simply because I don&#39;t really need the graphical screen (and it&#39;s extra dependencies). As I said though, I found the interface slick and easy to use and would encourage people to try it out (especially if they&#39;re afraid of the shell like so many Linux and BSD newbies are!). With Nitrogen and apps like the Openbox Configuration Manager, Openbox becomes closer to being a general use desktop everybody can use and enjoy.</p>
<p><a href="http://freshports.org/sysutils/nitrogen/">Nitrogen is available</a> from the <a href="http://freshports.org/">FreeBSD ports collection</a>.</p>
 
