---
title: 'There’s nothing wrong with online privacy' 
date: "2009-07-29T11:01:50+10:00"
year: "2009"
category: Internet
tag:
- infocomm
- privacy
- super-detailed-diagram 
---
<p><img src="https://rubenerd.com/files/uploads/diagram.abuse.profit.png" alt="Diagram showing someone building a website, leading to attracting loyal users, then abusing loyal users, then blank, then... profit!" style="height:250px; width:500px;" /></p>
<p>There have been so many comments in both my Google Reader and Bloglines accounts about the <a href="http://consumerist.com/5322173/facebook-lets-ads-steal-your-profile-photos-to-sell-crap-to-your-friends">problems with dodgy Facebook applications</a> taking photos of your friends and deceptively using them in advertisements targeted at you as well as Facebook <a href="http://blog.tarynhicks.com.au/facebook-dont-respect-your-privacy/">publishing things it&#39;s not supposed to</a> I was all ready to write my own response in them both… when I remembered I had a blog for that kind of thing. I used to write longer things here at one point, uncanny.</p>
<p>I think the problems with so many of these flare-ups online can be traced to <strong>one flawed assumption</strong>, that <strong>privacy exists online</strong>. I&#39;m guilty of having these thoughts too. Once you remove the assumption, it&#39;s surprising how trivial so many of these online problems seem. It&#39;s cliche, but Steve Rambam said it best when he decried that <strong>&quot;privacy is dead, get over it!&quot;</strong>;. I&#39;ve yet to see a convincing rebuttal of this.</p>
<p>These problems existed before Facebook (and Orkut, Twitter, MySpace, Friendster…) and they&#39;ll still be with is for the foreseeable future <a href="http://en.wikipedia.org/wiki/Don't_be_evil">despite some mantras</a>. If we all just assume there&#39;s no privacy and conduct our online lives accordingly, we&#39;ll be in a better position.</p>
<blockquote><p>What is it they say? The power of accurate observation is often called pessimism by those who don’t posses it? Or is that cynicism?</p></blockquote>
<p>Any gains made in privacy should be viewed in this context. Plus then it makes genuinely honest sites like <a href="http://wholewheatradio.org/">Whole Wheat Radio</a> that buck the trend that much more of a surprise and a joy to use as a result :).</p>
<p>In an ironic twist for my Singaporean readers, the WordPress post ID for this entry is <strong>4888</strong>. Seems the 4 in that number is enough to offset even three 8s!</p>
 
