---
title: 'Obama White House Flickr photos' 
date: "2009-04-29T03:26:55+10:00"
year: "2009"
category: Media
tag:
- barack-obama
- flickr
- photos
- synchronicity 
---
<p><img src="https://rubenerd.com/files/2009/3484832496_d432ebd410_o.jpg" alt="Obama White House press photo" style="width:325px; height:504px;" /></p>

<p>I&#39;m not quite sure why I find images like this so heartening. Perhaps it&#39;s because he looks like… a real human being. And <a href="https://www.flickr.com/photos/whitehouse/">there are many more</a> where that came from.</p>
<p>The eerie thing is, no sooner had I viewed this picture on Flickr than The Scorpions <em>&quot;Wind of Change&quot;</em> started playing in iTunes. Synchronicity?</p>
 
