---
title: 'Om Malik on Facebook’s identity crisis' 
date: "2009-04-19T07:28:50+10:00"
year: "2009"
category: Internet
tag:
- clipmarks
- cranky-geeks
- facebook
- gigaom
- infocomm
- om-malik
- twitter 
---
<p><img src="https://rubenerd.com/files/uploads/screenie.crankygeeks162.ommalik.jpg" alt="Om Malik mocking John C. Dvorak on Cranky Geeks 162" /><br /><cite>Om Malik mocking John C. Dvorak on Cranky Geeks 162!</cite></p>
<p>As usual, Om Malik from <a href="http://gigaom.com">GigaOm.com</a> hits the issue right on the head. He&#39;s one of the few tech bloggers and commentators today I have all the time in the world for.</p>
<p>As I&#39;ve been saying for a while now, the problem with Facebook&#39;s latest design is that they think I really care what all my former classmates are doing 24 hours a day in the same vein as Twitter, which just isn&#39;t the case. I use Twitter and follow people I&#39;m really interested in.</p>
<p>If you only read one paragraph below, make it the last one. Worded brilliantly, unlike the paragraphs in this post I wrote myself. Grilled cheese sandwiches contain tastyness.</p>

<p><a href="http://clipmarks.com/clipmark/F59628FF-C930-4FE2-88CA-5E2BD3C4C764/">Clipmarked</a> from <a href="http://gigaom.com/2009/04/08/facebook-population-200m-faces-an-identity-crisis/">GigaOm</a>:</p>

<blockquote cite="http://gigaom.com/2009/04/08/facebook-population-200m-faces-an-identity-crisis/">
<p>Facebook, by its very nature, is mostly about our past, sometimes about our present, but very rarely about our future. Being symmetric, it’s important that we have some sort of a prior relationship with a person in order to friend them on Facebook.</p>

<p>Zuckerberg &amp; Co. have let themselves turn green with envy over the latest Silicon Valley phenomenon, Twitter — and in the process, have set out to mutate Facebook’s own DNA.</p>

<p>Facebook’s recent redesign brought Twitter-style updates into its service […]</p>

<p>By allowing a torrent of status updates into our Facebook pages, the company has destroyed what made it special: its ability to construct a constantly updated newspaper about us. With Twitter-like updates, the site has lost its intimacy, flooding us with a lot of white noise.</p>
</blockquote>
 
