---
title: 'On a Little Street in Singapore' 
date: "2009-07-22T03:13:46+10:00"
year: "2009"
category: Media
tag:
- jazz
- music
- singapore
- third-culture-kid 
---
<p><img src="https://rubenerd.com/files/2009/outside-paulaner-in-singapore_3744599833_o@1x.jpg" alt="Outside Paulaner in Singapore" srcset="https://rubenerd.com/files/2009/outside-paulaner-in-singapore_3744599833_o@1x.jpg 1x, https://rubenerd.com/files/2009/outside-paulaner-in-singapore_3744599833_o@2x.jpg 2x" style="width:500px; height:746px;" /></p>
<p>It seems somewhat ironic that my latest song obsession would be about a place I&#39;m homesick for since I just left it again, but this time it&#39;s the <a href="http://www.manhattantransfer.net/">Manhattan Transfer&#39;s</a> cover of <a href="http://en.wikipedia.org/wiki/On_a_Little_Street_in_Singapore">On a Little Street in Singapore</a>, originally written in the 1930s. I no nothing about music but when I was told it&#39;s played in a minor key I could tell it&#39;s quite different. The trumpets also sound &quot;old&quot;, probably using some specialised mutes which again I know nothing about.</p>
<p><a href="http://www.youtube.com/watch?v=T9Non-0JGag">You can watch and listen on YouTube</a>.</p>
<p>According to those <a href="http://en.wikipedia.org/wiki/On_a_Little_Street_in_Singapore">dang Wikipedias</a>:</p>
<blockquote cite=""><p>&quot;On a Little Street in Singapore&quot; is a jazz song written by Peter De Rose and Billy Hill. Though now obscure, it had some measure of popularity in the 1930s and 40s, marked by a number of high-profile performances. Artists to cover the song included Frank Sinatra, Glenn Miller, Bert Kaempfert, and Jimmy Dorsey among others. Manhattan Transfer covered it again in 1978. The song features a haunting, lazy hook in a minor key, with numerous diminished chords. The overall impression is both languid and wistful.</p></blockquote>
<p>They&#39;re right, it has a laid back, summer sound. Singapore has changed a bit since then (the understatement of the century) but sitting at the Long Bar at the Raffles Hotel, the Riders Cafe, the restaurant at the Botanic Gardens or even a hawker centre having kaya toast for breakfast the song lyrics still fit :).</p>
<p>Given we moved around Australia and South-East Asia when I was growing up which firmly established me as a third culture kid, I&#39;m glad I was able to live in a place long enough to consider it home… or at least more home than anywhere else.</p>
 
