---
title: 'On this day, 06th of September' 
date: "2009-09-07T01:52:29+10:00"
year: "2009"
category: Thoughts 
tag: 
- far-too-long
- nostalgia
- on-this-day
- zombieplan 
---
<p><img src="https://rubenerd.com/files/2009/1335091480_ee8f0a67a6_o@1x.jpg" srcset="https://rubenerd.com/files/2009/1335091480_ee8f0a67a6_o@1x.jpg 1x, https://rubenerd.com/files/2009/1335091480_ee8f0a67a6_o@2x.jpg 2x" alt="Twitter being upgraded" style="width:500px; height:312px;" /></p>

<p>Screenshot is <a href="https://www.flickr.com/photos/rubenerd/1335091480/">from my MacBook Pro</a> taken on the 06th of September 2007. Yup, I was still running Mac OS X Tiger!</p>
<p>Cross pollination is a good thing. If you don&#39;t think it&#39;s a good thing then you&#39;re against flowers. You&#39;re not… against flowers are you? More to the point, that evil twisted genius Zombie Skittles has used two blog posts here recently as the basis for his own (<a href="http://zombieskittles.com/do-you-have-flybys">Do You Have Flybuys?</a> referencing <a href="//rubenerd.com/okay-woolies-you-win/">Okay Woolies, you win</a> and <a href="http://zombieskittles.com/funfact-bombshell">Funfact Bombshell</a> referencing <a href="//rubenerd.com/funfact80/">Rubenerd Fun Fact #80</a>), so it seems only fitting for me to do the same with one of his.</p>
<p>For my derivative work I&#39;ve elected his post titled <a href="http://zombieskittles.com/on-this-day">On This Day</a> in which he describes the following:</p>
<blockquote><p>I have decided to come clean and admit to you all that on this day four years ago I entered a convenience store with a poster tube painted to look like a bazooka and demanded they hand over all their issues of Better Homes and Gardens otherwise I’d blow away their frozen food section. The owner called my bluff and had me placed under citizens arrest for making a mockery of World War II artillery by the Adelaide Historical Society of Southern Sri Lanka. True story.</p></blockquote>
<p>Underneath this baffling admission he listed a series of things which he believed happened On This Day, which is clever because that premise also happened to be the title of his blog post. I&#39;ve decided to blatantly copy him, by listing what happened on my blog On This Day being the 06th of September, and what happened around the world.</p>
<h3>On this day on my blog</h3>
<ul>
<li>in 2009 I was writing a weird blog post titled <a href="//rubenerd.com/onthisday-20090906/">On this day…</a></li>
<li>in 2008 I was <a href="//rubenerd.com/p1623/">rendering sports commentators obsolete</a></li>
<li>in 2007 I was coming to terms with <a href="//rubenerd.com/twitter-down-internet-addiction/">Twitter being down and my Twitter addiction</a></li>
<li>in 2007 I was wishing aloud about <a href="//rubenerd.com/ipod-features-id-love-to-see-and-love-to-hate/">things I wanted to see in 2007 iPods!</a></li>
<li>in 2006 I tried to scare my dad by saying I wanted a <a href="//rubenerd.com/peugeot-307-hdi/">Peugeot 307 HDi</a></li>
<li>in 2006 I had <a href="//rubenerd.com/rubenerd-logos-done/">updated my logos</a> which have barely changed since</li>
<li>in 2006 I was <a href="//rubenerd.com/late-night-for-ruben/">having a late night</a> (also hasn’t changed)</li>
<li>in 2006 I was also <a href="//rubenerd.com/bender-quote/">quoting Bender</a></li>
<li>in 2005 I was <a href="//rubenerd.com/rubenerd-show-042-wed-07sep2005/">recording a Rubenerd Show</a> which I used to release the following day</li>
</ul>
<h3>On this day around the world</h3>
<ul>
<li>A lottery company announced a bogus winner and kept the money for themselves</li>
<li>A <a href="//rubenerd.com/tag/grilled-cheese-sandwich/">grilled cheese sandwich</a> which was left out to cool caused subsequent gastrointestinal stress for a meek house cat</li>
<li><a href="http://en.wikipedia.org/wiki/RMS_Queen_Elizabeth_2">Queen Elizabeth II</a> had her plumbing checked out</li>
<li>In a surprisingly well choreographed high octane fight scene, two people with the same name started a brawl and unwittingly took out a noticeboard when they were called for a plastic surgery appointment at the same time</li>
<li>A dimwitted hamster fell asleep after crawling under a blanket and thinking it was night</li>
<li>A cute, shy women slightly older than Ruben Schade briefly talked to him by asking if he had seen her boyfriend anywhere</li>
<li>Several hundred people around the world dropped entire cartons of eggs onto the floor that they had just purchased soliciting various profanities in different languages</li>
<li>A tapir skidded on a patch of mud but was able to maintain it’s dignity and composure by performing a perfect dismount</li>
<li>A twisted person took the term for a gymnastics move to mean something else</li>
<li>All of the <a href="http://zombieskittles.com">Zombie’s Skittles</a> and all the Kings Men, could not make Ruben Write a Succinct Blog Post Again.</li>
</ul>
 
