---
title: 'Openbox FreeBSD netbook software whatnot' 
date: "2009-06-07T09:41:52+10:00"
year: "2009"
category: Software
tag:
- armada-m300
- bsd
- clouds
- freebsd
- infocomm
- openbox
- screenshots 
---
<p><img src="https://rubenerd.com/files/2009/3603100038_abf208f147_o@1x.jpg" srcset="https://rubenerd.com/files/2009/3603100038_abf208f147_o@1x.jpg 1x, https://rubenerd.com/files/2009/3603100038_abf208f147_o@2x.jpg 2x" alt="Obconf, Nitrogen, urxvt on Openbox, my cloud theme :)" style="width:500px; height:375px;" /></p>

<p>It seems I&#39;m never quite satisfied with the configuration of my Armada M300 subnotebook which despite it&#39;s age works as a fantastic netbook with a brighter screen and nicer keyboard than any of &quot;them&quot;!</p>
<p>My current software configuration having played around with Arch Linux and Debian at various times is now back to FreeBSD with 7.2-RELEASE i386 with the GEOM Gjournal system enabled on <code>/usr</code> and compiled-in kernel support for Vesa shells, all of which I&#39;ll be talking about here at some point.</p>
<p>And because I have new love for link clouds, here&#39;s my currently (and ever changing) list of software installed on it from the ports collection, some of which you can see in the screenshots.</p>
<blockquote><dl style="margin:0; padding:0;">
<dt style="font-weight:bold; font-size:large; display:inline; margin:0; padding:0;"><a href="http://www.freshports.org/x11/xorg/">Xorg</a></dt>
<dd style="margin:0; padding:0; display:inline">with Mach64 video drivers</dd>
<dt style="font-weight:bold; font-size:large; display:inline; margin:0; padding:0;"><a href="http://www.freshports.org/x11-wm/openbox/">Openbox</a></dt>
<dd style="margin:0; padding:0; display:inline">very lightweight window manager</dd>
<dt style="font-weight:bold; font-size:large; display:inline; margin:0; padding:0;"><a href="http://www.freshports.org/deskutils/pypanel/">pypanel</a></dt>
<dd style="margin:0; padding:0; display:inline">lightweight panel with transparency</dd>
<dt style="font-weight:bold; font-size:large; display:inline; margin:0; padding:0;"><a href="http://www.freshports.org/x11/rxvt-unicode/">urxvt</a></dt>
<dd style="margin:0; padding:0; display:inline">lighter xterm replacement with unicode</dd>
<dt style="font-weight:bold; font-size:large; display:inline; margin:0; padding:0;"><a href="http://www.freshports.org/sysutils/nitrogen/">Nitrogen</a></dt>
<dd style="margin:0; padding:0; display:inline">display backgrounds with nice selection window</dd>
<dt style="font-weight:bold; font-size:large; display:inline; margin:0; padding:0;"><a href="http://www.freshports.org/misc/mc/">Midnight Commander</a></dt>
<dd style="margin:0; padding:0; display:inline">fast orthodox shell file manager</dd>
<dt style="font-weight:bold; font-size:large; display:inline; margin:0; padding:0;"><a href="http://www.freshports.org/editors/vim/">Vim</a></dt>
<dd style="margin:0; padding:0; display:inline">text editor</dd>
<dt style="font-weight:bold; font-size:large; display:inline; margin:0; padding:0;"><a href="http://www.freshports.org/editors/cream/">Cream</a></dt>
<dd style="margin:0; padding:0; display:inline">Tasty Vim extension</dd>
<dt style="font-weight:bold; font-size:large; display:inline; margin:0; padding:0;"><a href="http://www.freshports.org/www/firefox3/">Firefox 3</a></dt>
<dd style="margin:0; padding:0; display:inline">grilled cheese sandwich iron</dd>
<dt style="font-weight:bold; font-size:large; display:inline; margin:0; padding:0;"><a href="http://www.freshports.org/www/elinks/">Elinks</a></dt>
<dd style="margin:0; padding:0; display:inline">shell web browser</dd>
<dt style="font-weight:bold; font-size:large; display:inline; margin:0; padding:0;"><a href="http://www.freshports.org/mail/alpine/">Alpine</a></dt>
<dd style="margin:0; padding:0; display:inline">shell email client</dd>
<dt style="font-weight:bold; font-size:large; display:inline; margin:0; padding:0;"><a href="http://www.freshports.org/news/pan/">Pan</a></dt>
<dd style="margin:0; padding:0; display:inline">newsgroup reader</dd>
</dl>
</blockquote>
 
