---
title: 'Ten fresh Rubenerd fun facts!' 
date: "2009-03-19T07:34:19+10:00"
year: "2009"
category: Thoughts 
tag: 
- fun-facts
- funny
- nonsense
- pointless 
---
<p><img src="https://rubenerd.com/files/uploads/title.funfacts.covers.jpg" alt="Fun Facts!" style="height:191px; width:500px" /></p>
<p>It’s been <strong>several long months</strong> since we’ve had another Rubenerd Fun Facts post… so here are another ten fresh Rubenerd Fun Facts! As I’ve mentioned previously, all these facts are irrefutable and 110% true.</p>
<p>If you missed them, feel free to refer to the previous Rubenerd Fun Facts posts (<a href="//rubenerd.com/p2978/">part one</a>, <a href="//rubenerd.com/p3082/">part two</a>, <a href="//rubenerd.com/p3557/">part three</a>, <a href="//rubenerd.com/p3593/">part four</a>). And as usual, feel free to take notes.</p>
<ol style="font-style:italic">
<li>While laughter is an excellent medicine, it’s a poor substitute for sleep.<p></p></li>
<li>Due to a single letter misprint in a brochure in 1996, thousands of tourists flocked to DBS Bank branches in Singapore expecting to find duty free products.<p></p></li>
<li>The words <em>&quot;mangrove&quot;</em> and <em>&quot;Fokker 50&quot;</em> have no numbers in common.
<p><a href="http://en.wikipedia.org/wiki/File:VHFNI.JPG"><img src="https://rubenerd.com/files/uploads/photo.funfacts.fokker50.YSSYguy.jpg" alt="Fokker 50 photo by Wikipedia user YSSYguy" style="height:140px; width:280px;" /></a></li>
<li>No two forks jabbed into power sockets will generate identical electrical sparks.<p></p></li>
<li>While keyboards with <code>[RETURN]</code> keys are inherently more reliable than keyboards with <code>[ENTER]</code> keys, keyboards with half note keys are more reliable still.<p></p></li>
<li>Dubious facts becomes true if you shout them.<p><img src="https://rubenerd.com/files/uploads/photo.funfacts.billo.jpg" alt="Bill O'Reilly" style="height:140px; width:280px; display:inline;" /></p></li>
<li>The &quot;<code>if</code>&quot; statement is often confused with the &quot;<code>not getting paid enough for this</code>&quot; statement by inexperienced programmers.<p></p></li>
<li>Ergonomics experts in Switzerland agree that cereal is more easily eaten with a butter knife than chopsticks.<p></p></li>
<li>The time it takes to recharge a mobile phone is inverse to the time you have between realising you didn’t charge your phone and when you need to leave the house.
<p><img src="https://rubenerd.com/files/uploads/photo.funfacts.iphonebattery.jpg" alt="iPhone battery status indicator" style="height:140px; width:280px; display:inline;" /></li>
<li>There has never been a New Zealander called Larly Browkart.<p></p></li>
<li>Common sense is a wishful phrase, not a statement of the pervasiveness of certain views in society.<p></p></li>
<li>Despite her exhausting occupation, Siesta from Zero No Tsukaima claims she never has had one.<p></p></li>
</ol>
 
