---
title: 'Rubenerd Shows are now on Archive.org' 
date: "2009-01-15T04:20:42+10:00"
year: "2009"
category: Internet
tag:
- infocomm
- ourmedia
- podcasting
---
<p><a href="//rubenerd.com/show260/"><img src="https://archive.org/download/RubenerdShow2602009.01.14/RubenerdShow260.png" alt="Larger version of cover art" style="height:320px; width:320px; display:inline;" /></a></p>
<p>For those of you who subscribe to my blog but not nessisarily my podcast, there&#39;s finally a fresh new <a href="//rubenerd.com/show/">Rubenerd Show</a> available for your listening pleasure, <a href="//rubenerd.com/rubenerd-show-260-20080114/">Episode 260</a>! You can subscribe to the <a href="//rubenerd.com/show/feed/">RSS Feed</a> if you like what you hear.</p>
<p>I gave up waiting for <a href="http://ourmedia.org/user/38566">Ourmedia</a> to get back to me after I emailed them 7 times with not even a peep back. We had some good times guys, but if you&#39;re going to repeatedly ignore me I don&#39;t have a choice :-(.</p>
<p>These Ourmedia problems may have been a blessing is disguise though for I rediscovered the joy of dealing with the <a href="http://archive.org/">Internet Archive</a>. Not only can I upload my audio to their servers and add metadata, but they also allow other files to be uploaded into the same media container. What this means is I can upload the cover art graphics I create for each episode and they appear alongside the description, very nice.</p>
<blockquote><p><strong>ASIDE:</strong> Conveniently because Ourmedia used the Internet Archive as a backend for their file storage, if you do a search for <a href="http://www.archive.org/search.php?query=creator%3A%22Ruben%20Schade%22">Ruben Schade</a> you can see all my Ourmedia material anyway!</p></blockquote>
<p>One thing I need to learn how to do though is figure out if it&#39;s possible to have my material listed in the <a href="http://www.archive.org/details/audio_podcasts">Audio Podcasts</a> collection instead of <a href="http://www.archive.org/details/opensource_audio">Open Source Audio</a>. It&#39;s not that I don&#39;t like being listed in Open Source Audio, far from it: in fact I love having my material being described as such. I think Audio Podcast is more appropriate though and might get me slightly better exposure.</p>
 
