---
title: 'Obama is president, we heave a sigh of relief' 
date: "2009-01-23T04:05:11+10:00"
year: "2009"
category: Thoughts 
tag: 
- barack-obama
- politics
- us-elections
- usa 
---
<p><img src="https://rubenerd.com/files/2009/obama-in-the-singapore-papers_3217228401_o@1x.jpg" alt="Obama in the Singapore papers" srcset="https://rubenerd.com/files/2009/obama-in-the-singapore-papers_3217228401_o@1x.jpg 1x, https://rubenerd.com/files/2009/obama-in-the-singapore-papers_3217228401_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>
<p>Now that the United States is finally no longer in control of George W. Bush and Dick Cheney and we&#39;ve all heaved a collective &#8212; and much anticipated &#8212; sigh of relief, the work begins cleaning up the royal mess this incompetent pair made domestically and internationally. It&#39;s not <strong><em>all</em></strong> their fault of course, but even if you thought none of it was (and believe it or not there are people on Twitter telling me this) you can at least admit they did nothing to improve the world during their tenure. Yuck.</p>
<p>Barack Obama, Joe Biden and their team have their work cut out for them, if by <em>&quot;work cut out for them&quot;</em> I mean <em>&quot;they have Mount Everest to climb to even reach the base camp at foot of the summit&quot;</em>.</p>
<blockquote><p><strong>ASIDE:</strong> I think I can be confident in saying thought that Obama and Biden would have to royally screw up on a scale unseen in history to beat the Bush/Cheney record. Would it be safe to say George W. Bush was the worst American president of all time?</p></blockquote>
<p>All around Singapore today as I walked around you could see the change.</p>
<p>As you could see from the photo above, the front page of the local Straits Times broadsheet were all about Obama. Given the media control in Singapore (the only negative things about living here in my opinion) I generally don&#39;t read the papers, but let&#39;s just say yesterday and today were special occasions.</p>
<p>I walked past the <a href="http://www.starbucks.com.sg/stores/index.html">Starbucks</a> in <a href="http://en.wikipedia.org/wiki/Shaw_House_and_Centre">Shaw House</a> and noticed an American couple roaring with laugher with a barista as they talked about Bushisms and the relief they felt. In the underpass between Shaw House and <a href="en.wikipedia.org/wiki/Wheelock_Place">Wheelock Place</a> the buskers were singing about Obama. The radio waves were saturated. Plasma TVs in shopping centres, restaurants and bars were playing the swearing in on what seemed like an infinite loop. Mmm… infinite loop.</p>
<p>Less tangible was the overall jubilation but at the same time a sense of restraint and calm. You could tell some people were pleased and relieved at the same time. When I strolled into the <a href="http://www.coffeebean.com.sg/">Coffee Bean</a> at Wheelock Place the women serving me asked if I was an American before I opened my mouth. My accident quickly showed for her that I wasn&#39;t, but she commented that it was such a relief to get that &quot;bleeping moron out of ruling the world!&quot;. She was cute :).</p>
<p>This may be a honeymoon period, but boy does it feel good! I remember when our Aussie Prime Minister John Howard was relieved of duty and all those who didn&#39;t support the war in Iraq felt so much better in an instant. I can&#39;t imagine what Americans themselves must be feeling now.</p>
 
