---
title: 'A hard hitting and relevent post' 
date: "2009-01-29T10:38:17+10:00"
year: "2009"
category: Thoughts 
tag: 
- funny
- motivational-posters
- nonsense
- off-topic
- pointless 
---
<p style="font-style:italic;">(Update: Original picture was taken offline. Let's pretend there's a motivational picture of significant motivation here).</p>

<p>Amen! Though to be fair I also think black hair would also be appropriate in this context; and as a matter of disclosure some people say I have blond hair myself, though I&#39;d argue I have light brown.</p>
<p>Some people accuse me of going off topic on this blog, can you believe it? I&#39;m not Bill Kurtis.</p>
 
