---
title: 'Awake and ready to go… at 03:30' 
date: "2009-02-02T09:24:31+10:00"
year: "2009"
category: Thoughts 
tag: 
- personal
- sleep 
---
<p><img src="https://rubenerd.com/files/2009/nikon-d60-outside-my-bedroom_3147216633_o@1x.jpg" alt="Nikon D60 outside my bedroom" srcset="https://rubenerd.com/files/2009/nikon-d60-outside-my-bedroom_3147216633_o@1x.jpg 1x, https://rubenerd.com/files/2009/nikon-d60-outside-my-bedroom_3147216633_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>
<p>I feel as though I could start a blog dedicated to the science of sleep &#8212; I sure talk about it enough here. Perhaps this topic is worthy of a new category even?</p>
<p>This morning I&#39;m having the exact opposite problem to what I normally have: I&#39;m too awake. Last night I went to sleep around 20:00 which is extraordinary early for me, but it unfortunately had the same result it always has: it made me bolt out of bed around 03:00 ready to start a new day! It&#39;s 03:40 already and I&#39;ve had a shower, a bite to eat and tacked a small programming problem that&#39;s been gnawing at me for the last few days, and I&#39;m still wide awake.</p>
<p>The ironic thing is, for most of my life I&#39;m tired. Virtually any time of day, if you give me a comfortable pillow to rest my head on, I will doze off. The only time of the day I have trouble sleeping is… late at night. It&#39;s as if I&#39;m a nocturnal creature by nature and trying to force a sleeping pattern that&#39;s the opposite to that is unnatural and doesn&#39;t work. Some people my age are nocturnal because with all the booze filled partying late at night they&#39;ve conditioned themselves for it, but for me it seemed to happen organically with all my regular day-to-day tasks.</p>
<p>I&#39;d say other than deciding what to do when I finish university and whether I&#39;ll finish all my studies in Adelaide after all, figuring out how to sleep properly is currently the biggest problem I&#39;m facing. Nobody should feel tired 100% of the time during the day and only a low percentage at night… at least I don&#39;t think they should.</p>
<p>I&#39;m going to figure out how to sleep one of these nights if I have to stay awake all night to do it! I&#39;m not Bill Kurtis.</p>
 
