---
title: 'My joke against Bill O’Reilly saga continues, again' 
date: "2009-03-01T12:13:25+10:00"
year: "2009"
category: Thoughts 
tag: 
- bill-oreilly
- comments
- faux-news
- nicksmultiverse
- politics 
---
<p><img src="https://rubenerd.com/files/2009/singapore-magazine-misspells-bill-oreilly_1294327989_o@1x.jpg" alt="Singapore magazine misspells Bill O'Reilly!" srcset="https://rubenerd.com/files/2009/singapore-magazine-misspells-bill-oreilly_1294327989_o@1x.jpg 1x, https://rubenerd.com/files/2009/singapore-magazine-misspells-bill-oreilly_1294327989_o@2x.jpg 2x" style="width:250px; height:187px;" /></p>
<p>In September 2007 I posted a photo I took of a Singaporean magazine where they had <a href="//rubenerd.com/singapore-magazine-misspells-bill-oreilly/">spelt Bill O’Reilly’s name as Nill O’Reilly</a>. I thought it was hilarious, and postulated that it was a Freudian Slip on the editor’s part. I also commented on the irony of positioning him in the magazine next to a panel talking about global warming which I said I was sure he denied was happening. <a href="//rubenerd.com/p3579/">This didn’t please someone</a> who rudely told me to &quot;Wise up&quot; which I replied to. Whew!</p>
<p>Well the unintended saga continues! <a href="https://www.flickr.com/photos/nickcarchidi/">nicksmultiverse</a> has posted another comment where he attacks my reply:</p>
<blockquote><p><img src="https://rubenerd.com/files/uploads/icon.tango.mail.reply.png" alt="Icon from the Tango Desktop Project" style="height:128px; width:128px; float:right; margin:0 0 10px 20px; display:inline; border:0px; margin-right:-20px" />Leffy loon or no loon, you still tried to twist the actual point for this.</p>
<p>Bill believes in global warming.</p>
<p>Who gives a horse’s a** about who &quot;misspelled&quot; anyone’s name?</p>
<p>The fact is, GW is occurring at such speeds that are quite alarming. Enough about what/who caused it. Let’s do something about it. Put aside partisan politics and change the world. </p>
</blockquote>
<p>In retrospect this reply was far too long, but I figure I may as well give him another thing to complain about.</p>
<blockquote><p><img src="https://rubenerd.com/files/uploads/icon.tango.mail.reply.png" alt="Icon from the Tango Desktop Project" style="height:128px; width:128px; float:right; margin:0 0 10px 20px; display:inline; border:0px; margin-right:-20px" />I posted this photo because I thought it was funny, <strong>that</strong> was the point of posting this image, which I have explained to you twice now.</p>
<p>I didn’t want this image to degenerate into a tit-for-tat pedantic argument over wording (of all things), but if that’s what you want, instead of linking to the articles (which curiously didn’t satisfy your need for me to defend what I said) I’ll quote the pertinent sections.</p>
<p>From <a href="http://www.fair.org/index.php?page=1070">Fair.org</a>: For example, O’Reilly often touts himself as a staunch environmentalist to prove his ideological evenhandedness. But then he rails that &quot;the greens have strangled the California economy&quot; (5/10/01), environmentalists are &quot;distorting and oversimplifying some very powerful issues&quot; (5/1/01), and his stance on climate change (3/29/01) is so qualified as to be practically a non-position: &quot;I believe there is global warming. I mean, I know that’s controversial. For every scientist who says there is, there’s one that says there isn’t.&quot;</p>
<p>Too early in the decade for you? What about <a href="http://mediamatters.org/items/200803040011">Media Matters</a> in 2008: Responding to a viewer’s email about whether the current global warming &quot;scare&quot; is &quot;natural&quot; or &quot;man-made,&quot; Fox News’ Bill O’Reilly asserted: &quot;It’s all guesswork.&quot; Contrary to O’Reilly’s assertion, the United Nations Intergovernmental Panel on Climate Change has concluded that the Earth is warming and human activity is very likely responsible for most of that warming.</p>
<p>Climate change is happening, and O’Reilly isn’t helping. Could I have more precisely worded what I originally wrote better? If I were writing a masters thesis, perhaps (see reason for posting photo above). At this point though a non-position is just as destructive to our environment as denial, and it certainly isn’t the <em>&quot;belief&quot;</em> which you claim it is.</p>
<p>If you’re going to ask me who gives an arse about how a major publication misspelled a name, I’d ask you who gives an arse about the exact wording on a guy’s lighthearted Flickr page. And if you’re going to call me out on being partisan, drop the &quot;leftie loon&quot;. You make yourself look like a hypocrite on both counts.</p>
<p>In the meantime, chill out and have a laugh! We’re only on this planet for a limited amount of time, and negativity doesn’t help anyone. If you didn’t find the photo funny, just don’t post, it’s that simple mate.</p>
</blockquote>
<p>I really hope that’s the end of this, but I get the feeling it won’t be. As I’ve said before, I try my best to assume good intentions online when it comes to comments, but if someone accuses me of doing something I haven’t, I will defend myself. I get the feeling I’ll need to learn to let some things slide though!</p>
 
