---
title: 'Homer Simpson on Wings' 
date: "2009-03-10T11:55:41+10:00"
year: "2009"
category: Media
tag:
- funny
- homer-simpson
- paul-mccartney
- quotes
- television
- the-simpsons 
---
<p><img src="https://rubenerd.com/files/uploads/screenie.simpsons.0518.jpg" alt="Screenshot from The Simpsons" style="height:240px; width:320px; display:inline; border:0px;" /></p>
<blockquote><p>
<strong>Therapist:</strong> I even got Paul McCartney out of Wings…<br />
<strong>Homer:</strong> You idiot, he was the most talented one!
</p></blockquote>
 
