---
title: 'Freak snow storm chart from CalgaryGuru' 
date: "2009-03-22T06:27:38+10:00"
year: "2009"
category: Media
tag:
- adelaide
- alberta
- canada
- photos
- weather 
---
<p><img src="https://rubenerd.com/files/uploads/graphic.snowstorm.alberta.png" style="height:348px; width:420px; display:inline; border:0px;" alt="Weather chart of Strathmore in Alberta, Canada" /></p>
<p>Ever wanted to see what a severe snow storm radar chart looks like? <a href="http://twitter.com/CalgaryGuru/">CalgaryGuru</a> forwarded me to a site from Twitter <a href="http://weatheroffice.gc.ca/radar/index_e.html?id=XSM">showing the current weather in Strathmore, Alberta</a> in Canada. Looks like scary stuff. </p>
<p>My dad really loves Canada but he says the weather is the only thing he doesn’t like. Then again he has been stationed in Singapore since the mid 1990s where the weather is 32C every single day of the year. One assumes what you’re acclimatised to would affect your perceptions of weather. For example it doesn’t get cold enough to snow in Adelaide other than the Adelaide Hills, and yet I find it absolutely freezing by comparison!</p>
<p>We kept conversing on Twitter and he directed me to a photo of Calgary with the mountains in the distance:</p>
<p><img src="https://rubenerd.com/files/uploads/photo.dh9o7w.jpg" style="height:288px; width:500px; display:inline; border:0px;" alt="Weather chart of Strathmore in Alberta, Canada" /><br /><cite>From <a href="http://www.cnam.ca/images/calgary_skyline.jpg">http://www.cnam.ca/images/calgary_skyline.jpg</a>, copied here so I’m not hotlinking</cite>.</p>
<p>The closest photo I have is one I took in the other direction, a photo of Adelaide from Mount Lofty. Certainly looks warmer if a bit drier!</p>
<p><img src="https://rubenerd.com/files/2009/mount-lofty-in-the-adelaide-hills_216802153_o@1x.jpg" alt="Adelaide from Mount Lofty" srcset="https://rubenerd.com/files/2009/mount-lofty-in-the-adelaide-hills_216802153_o@1x.jpg 1x, https://rubenerd.com/files/2009/mount-lofty-in-the-adelaide-hills_216802153_o@2x.jpg 2x" style="width:500px; height:375px;" /></p>
<p>But back to CalgaryGuru, we all hope you’re okay and are able to get along those roads safely tomorrow.</p>
 
