---
title: 'Was ALMOST ready to overuse Clipmarks!' 
date: "2009-03-25T01:13:57+10:00"
year: "2009"
category: Internet
tag:
- clipmarks
- infocomm
- reviews
- w3c
- xhtml 
---
<p><img src="https://rubenerd.com/files/uploads/screenie.w3c.clipmarks.png" alt="An automatically posted Clipmarks blog entry failing validation…" style="height:169px; width:500px; display:inline; border:0px;" /><br /><cite>An automatically posted Clipmarks blog entry failing validation</cite></p>
<p>Having now used the <a href="http://clipmarks.com/">Clipmarks</a> service for a day now, I have to say I’m impressed. The interface for their Firefox plugin could use a bit of polishing but other than that it’s fast and easy to use, and the blog export feature after I’ve saved a block of text is insanely convenient… almost!</p>
<blockquote><p><strong>ASIDE:</strong> I’ve largely tried to avoid sites like this because I’m paranoid about having my own data locked away somewhere that if I chose to move to another platform or service I’d be stuck, but the fact Clipmarks lets me export all my items to my own blog makes me feel much better.</p>
</blockquote>
<p>There are just three small problems preventing me going crazy and using this service to tag and subsequently share everything I come across with you all here:</p>
<ol>
<li>Their white colour scheme doesn’t match other posts on this site at all.<p></p></li>
<li>It doesn’t automagically create grilled cheese sandwiches after it’s automatically posted entries to my blog after I’ve bookmarked something<p></p></li>
<li>The resulting automatically generated posts aren’t XHTML 1.0 Strict or even valid HTML 4.01, even if the quoted material was. They also generate a gigantic amount of HTML code for just showing what I’ve quoted plus a few links.<p></p></li>
</ol>
<p><img src="https://rubenerd.com/files/uploads/anime.lappie.waiting.jpg" style="height:260px; width:500px" alt="So close, and yet so far!" /><br /><cite>So close, and yet so far!</cite></p>
<p>I can solve these problems by modifying the source HTML for each Clipmarks generated blog post after they’re published, but that negates any benefit of using an automated service in the first place!</p>
<p>I might contact the people running Clipmarks asking about whether future versions will have custom colours and XHTML validation options. If they ever implemented these features, this service might become more addictive than coffee! If they’re strapped for cash and time, I’d gladly pay a few bucks to unlock &quot;advanced features&quot;.</p>
 
