---
title: 'My 23rd birthday photos from Hahndorf' 
date: "2009-03-28T08:00:02+10:00"
year: "2009"
category: Thoughts 
tag: 
- adelaide
- adelaide-hills
- australia
- birthday
- coffee
- german-food
- hahndorf
- personal
- photos
- south-australia 
---
<p><img src="https://rubenerd.com/files/2009/im-pretending-to-concentrate_3390956541_o@1x.jpg" alt="I'm pretending to concentrate" srcset="https://rubenerd.com/files/2009/im-pretending-to-concentrate_3390956541_o@1x.jpg 1x, https://rubenerd.com/files/2009/im-pretending-to-concentrate_3390956541_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>
<p>To celebrate my 23rd birthday yesterday, my sister (who’s in Adelaide studying at the same university I am) and I braved Adelaide’s bafflingly confusing public transport system and went to Hahndorf in the Adelaide Hills for some German beer and grub, and for a bit of a photographic expedition. Good times!</p>
<p>I’ve been making the mistake of taking far too many photos and not uploading any of them, so this afternoon I made the time to pick the best shots and upload them to a Flickr photo gallery, surprisingly named <a href="https://www.flickr.com/photos/rubenerd/sets/72157615921354573/">Birthday in Hahndorf!</a>.</p>
<p><img src="https://rubenerd.com/files/2009/autumn-in-main-street-hahndorf_3391770374_o@1x.jpg" alt="Autumn in Main Street, Hahndorf" srcset="https://rubenerd.com/files/2009/autumn-in-main-street-hahndorf_3391770374_o@1x.jpg 1x, https://rubenerd.com/files/2009/autumn-in-main-street-hahndorf_3391770374_o@2x.jpg 2x" style="width:500px; height:335px;" /></p>
<p>Hahndorf is a beautiful little German heritage town in the Adelaide Hills in Australia with many German souvenir shops, restaurants, delicatessens, pastry shops, art galleries and coffee shops. <a href="http://en.wikipedia.org/wiki/Hahndorf,_South_Australia">Wikipedia’s Hanhdorf article</a> has a lot of information about it’s history.</p>

<p>The <a href="https://www.openstreetmap.org/relation/7381960#map=10/-35.0328/138.8119">OpenStreetMap for Hahndorf</a> gives you an idea where it is in relation to the Adelaide city area:</p>

<p><a href="https://www.openstreetmap.org/relation/7381960#map=10/-35.0328/138.8119"><img src="https://rubenerd.com/files/uploads/screenie.googlemaps.hahndorf.jpg" alt="Hahndorf and Adelaide in Google Maps, replaced with OpenStreetMap" style="height:266px; width:500px;" /></a></p>

<p>The German influences are really noticeable in the architecture and design of many of the buildings and streets. At this time of the year when the weather is getting cooler in a part of the hills where it’s usually cooler than the rest of Adelaide it starts to feel really authentic. The only hint you’re still in Australia are all the Holden cars parked along the side of the road!</p>

<p><img src="https://rubenerd.com/files/2009/main-street-hahndorf-3391768156_o@1x.jpg" srcset="https://rubenerd.com/files/2009/main-street-hahndorf-3391768156_o@1x.jpg 1x, https://rubenerd.com/files/2009/main-street-hahndorf-3391768156_o@2x.jpg 2x" alt="Main street, Hahndorf" style="width:250px; height:167px;" /><img src="https://rubenerd.com/files/2009/side-street-in-hahndorf_3390960619_o@1x.jpg" alt="Side street in Hahndorf" srcset="https://rubenerd.com/files/2009/side-street-in-hahndorf_3390960619_o@1x.jpg 1x, https://rubenerd.com/files/2009/side-street-in-hahndorf_3390960619_o@2x.jpg 2x" style="width:250px; height:167px;" /></p>

<p>Our favourite German restaurant and pub in Hahndorf is the Hahndorf Inn on Main Street; we’ve been coming here since we first visited Adelaide back in 2004 when we were trying to decide what city in Australia to study in (it’s good to have some recent history to recall in times like this in my birth country!)</p>

<p>The food is ridiculously good and reasonably priced, especially compared to German grub in Singapore which can cost over $100 for my sister, dad and I. They also have authentic German beer from Munich on tap which tastes great and is also reasonably priced.</p>

<p><img src="https://rubenerd.com/files/2009/bar-at-the-hahndorf-inn-hotel_3391766442_o@1x.jpg" alt="Bar at the Hahndorf Inn Hotel" srcset="https://rubenerd.com/files/2009/bar-at-the-hahndorf-inn-hotel_3391766442_o@1x.jpg 1x, https://rubenerd.com/files/2009/bar-at-the-hahndorf-inn-hotel_3391766442_o@2x.jpg 2x" style="width:500px; height:335px;" /></p>

<p>Given it was my birthday I got the German mixed grill which had roast pork, sliced potatoes with herbs, klöße, sauerkraut and a selection of würstes and mustard. As I said, it was ridiculously tasty! Elke got her usual schnitzel, and of course we got plenty of authentic warm pretzels! We had some chocolate cake and coffee for desert after sitting and talking for an hour or so.</p>

<p><img src="https://rubenerd.com/files/2009/german-mixed-grill_3390955699_o@1x.jpg" alt="German mixed grill" srcset="https://rubenerd.com/files/2009/german-mixed-grill_3390955699_o@1x.jpg 1x, https://rubenerd.com/files/2009/german-mixed-grill_3390955699_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>

<p>I’m regretting posting these photos now, they’re making my hungry again! Do you reckon they do home delivery to Mawson Lakes?</p>

<p><img src="https://rubenerd.com/files/2009/real-pretzel-3391766906_o@1x.jpg" srcset="https://rubenerd.com/files/2009/real-pretzel-3391766906_o@1x.jpg 1x, https://rubenerd.com/files/2009/real-pretzel-3391766906_o@2x.jpg 2x" alt="Real pretzel!" style="width:250px; height:167px;" /><img src="https://rubenerd.com/files/2009/german-cake-desert_3391767764_o@1x.jpg" alt="German cake desert" srcset="https://rubenerd.com/files/2009/german-cake-desert_3391767764_o@1x.jpg 1x, https://rubenerd.com/files/2009/german-cake-desert_3391767764_o@2x.jpg 2x" style="width:250px; height:167px;" /></p>

<p>After a certain time on weeknights the buses back to Adelaide only leave every hour, so after a few hours of eating, taking photos and walking around we rushed to the main bus stop with just a few minutes to spare. I’d love to come back with my camera when in less of hurry, as I said Hahndorf is a beautiful place.</p>
<p><img src="https://rubenerd.com/files/2009/getting-dark-in-hahndorf_3390961305_o@1x.jpg" alt="Getting dark in Hahndorf" srcset="https://rubenerd.com/files/2009/getting-dark-in-hahndorf_3390961305_o@1x.jpg 1x, https://rubenerd.com/files/2009/getting-dark-in-hahndorf_3390961305_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>
<p>You can view the rest of the photos I took in my <a href="https://www.flickr.com/photos/rubenerd/sets/72157615921354573/">Birthday in Hahndorf Flickr photo gallery</a>.</p>
<p>As for my birthday, I had a great time even if I spent all morning doing homework! I got some great presents and an amazing delivery as well, but those will be for another post. Thank you all for your birthday wishes on Twitter, Google Reader, Facebook and emails :).  I was worried how down I’d be feeling considering it’s only my second one since mum moved on, but it would’ve been hard to feel bad with all you guys sending me messages all day. Thank you again!</p>
 
