---
title: 'Followup thougths on the Last.fm debacle' 
date: "2009-03-30T03:23:22+10:00"
year: "2009"
category: Media
tag:
- ironically-named-sites
- lastfm
- music 
---
<p><img src="https://rubenerd.com/files/uploads/graphic.lastfm.map.png" alt="Last.fm: The free, democratic music site" style="height:246px; width:500px;" /></p>
<p>Yesterday you might have read my somewhat harsh <a href="//rubenerd.com/p3943/">tirade against Last.fm</a> in regards to their decision to keep their service free for everyone in the world, provided you’re American, British or German. I’ve learned a few things about the decision since yesterday.</p>
<ol>
<li>Scrobbling music will remain free. I’d add that we don’t know how long it will be, but for now at least we can still keep track of music until a similar alternative service become available.<p></p></li>
<li>It seems the decision was more the result of &quot;old&quot; media companies being clueless and greedy, just as they did <a href="//rubenerd.com/p3926/">when they shut down internet radio streams in Singapore recently</a>. Therefore I’m less angry at the Last.fm staff about this than I was before because I know the decision might have mostly been out of their control, but the flip side to this is I don’t want to support a website such as Last.fm and therefore support old media companies.<p></p></li>
<li>Remember when it was called the <strong>WORLD</strong> Wide Web? Using the  excuse in point 2 above along with saying that nobody else other than Americans, British or German people are financially viable and worth the trouble reeks of hypocrisy if those people get the service for free and we have to pay. If they needed funds, <em>charge</em> everyone: I imagine there’d be far less uproar about this if they went that way.<p></p></li>
<li>When they claim the service won’t be affected for those in the US, UK and Germany, they’re wrong. Previously being a free site globally meant people around the world were contributing their musical tastes and sharing their local culture, now it will be a far more homogeneous mix. This will hurt the people still using the service.</li>
</ol>
<p>I’ll still be scrobbling to Last.fm, but starting now I’m on the hunt for alternatives. Bummer.</p>
 
