---
title: 'Clipmark: China spying on Aussie PM’s emails' 
date: "2009-04-03T10:34:08+10:00"
year: "2009"
category: Internet
tag:
- australia
- clipmarks
- infocomm
- news
- scary
- spying 
---
<p>You probably all know by now I’m an unabashed greenie, but I have to admit things like this scare me more than nukes. I worry for each of these exposed plots there are plenty more going under the radar; and China certainly isn’t the only country guilty of it!</p>
<p>Cold War 2.0?</p>

<p<a href="http://clipmarks.com/clipmark/797E8329-9FC7-4F74-98B4-F23DBF5C6CD2/">Clipmarked</a> from <a href="http://www.news.com.au/adelaidenow/story/0,22606,25283163-5006301,00.html">news.com.au</a>:</p>

<blockquote cite="http://www.news.com.au/adelaidenow/story/0,22606,25283163-5006301,00.html">
<p>CHINESE spies have directly targeted Kevin Rudd, repeatedly attempting to infiltrate prime ministerial email and mobile phone communications.</p>

<p>The Australian newspaper reports that Mr Rudd and his travelling party were under constant cyber attack during his latest trip to China, in August last year, with authorities trying to access the laptop computers and mobile phones used by the Australians.</p>

<p>The blatant nature of Beijing’s electronic espionage is understood to have alarmed the Rudd Government and led to a further tightening of communications security procedures for senior government figures travelling to China. </div>
</p>

<p>Intelligence sources said Beijing had also made repeated attempts to break into government and business IT networks, as well as foreign embassies based in Canberra.</p>
</blockquote>
