---
title: 'Missing Peter Cook and Dudley Moore' 
date: "2009-03-30T11:08:42+10:00"
year: "2009"
category: Media
tag:
- peter-cook-and-dudley-moore
- quotes 
---
<p><img src="https://rubenerd.com/files/uploads/photo.pete_dud.jpg" alt="Peter Cook and Dudley Moore" style="height:314px; width:430px; display:inline; border:0px;" /></p>
<blockquote><p>
<strong>Pete: </strong> …she was comatose.<br />
<strong>Dud: </strong> Comatose? Comatose to her head?<br />
<strong>Pete: </strong> Coma-toes… to her head… shaddup!
</p></blockquote>
 
