---
title: 'Clipmark: Barack Obama on tax havens' 
date: "2009-04-05T02:19:58+10:00"
year: "2009"
category: Thoughts 
tag: 
- barack-obama
- clipmarks
- economics
- quotes
- tax-havens 
---
<p><a href="http://clipmarks.com/clipmark/2C1D50ED-70F0-4086-9B31-3C38F7DA4801/">Clipmarked</a> from <a href="http://en.wikipedia.org/w/index.php?title=Tax_haven&amp;oldid=281698106">Wikipedia</a>:</p>

<blockquote cite="http://en.wikipedia.org/w/index.php?title=Tax_haven&amp;oldid=281698106">
<p>“There is a building in the Cayman Islands that houses supposedly 12,000 US-based corporations. That’s either the biggest building in the world or the biggest tax scam in the world, and we know which one it is.”</p>
</blockquote>
</div>
 
