---
title: 'Reading Google Reader in the dark on Linux, BSD' 
date: "2009-04-05T12:43:56+10:00"
year: "2009"
category: Software
tag:
- armada-m300
- browsers
- bsd
- dwm
- far-too-long
- firefox
- google-reader
- greasemonkey
- gtk
- guide
- howto
- infocomm
- linux
- opera
- pointless 
---
<p><a href="//rubenerd.com/files/uploads/screenie.dwm.googreader.png"><img src="https://rubenerd.com/files/uploads/screenie.dwm.googreader.thumb.jpg" alt="Screenshot of my Armada M300 as a lean, mean Google Reading machine!" style="height:375px; width:500px; display:inline; border:0px;" /></a><br /><cite>Screenshot of my Armada M300 as a lean, mean Google Reading machine!</cite></p>
<p>Given this is Sunday (as of two minutes ago), I thought it would be logical to post a Sunday blog post. That was an entirely irrelevant and superfluous sentence; then again so was this one. And this one too.</p>
<p>I’ve started getting into the habit in Adelaide where I’m studying to catch up on my latest Google Reader and Bloglines feeds first thing in the morning and before I go to bed on my cute 2002-vintage Armada M300 subnotebook in my room because it’s interesting but also relaxing. At these times of day there isn’t much light out so I have an even lower tolerance for Blazing White&reg; website themes, so I decided to completely re-theme the entire interface of the machine to accommodate my picky eyes.</p>
<blockquote><p><strong>ASIDE:</strong> This bizarre post is mostly geared towards Linux, FreeBSD and whatnot, but the browser specific whatnot could be adapted if you have a Mac user or if you use that obscure operating system a small software company in Redmond makes.</p>
</blockquote>
<p>Firstly, if you’re a <a href="http://getfirefox.com/">Mozilla Firefox</a> or <a href="http://www.opera.com/browser/">Opera</a> user with <a href="https://addons.mozilla.org/en-US/firefox/addon/748">Greasemonkey</a> or an equivalent user style engine, I’ve found the <a href="http://userstyles.org/styles/10531">Google Reader Dark-Blue-Grey</a> user style by <a href="http://userstyles.org/users/5173">hronir</a> to be by far the most readable dark theme. If your machine has limited screen real estate like mine, the <a href="http://userscripts.org/scripts/show/40447">Google Reader Maximize Vertical Space</a> script by Chase Seibert makes a huge difference, and plays well with the colour changes &#8212; an important consideration!</p>
<p><a href="//rubenerd.com/files/uploads/screenie.dwm.googreader.png"><img src="https://rubenerd.com/files/uploads/screenie.dwm.googreader.detail.png" alt="Showing detail" style="height:215px; width:500px; display:inline; border:0px;" /></a></p>
<p>Next the browser itself: I first downloaded the beautiful <a href="https://addons.mozilla.org/en-US/firefox/addon/2311">MidnightFox Dark Firefox Theme</a> which I’ve had lots of success with on my MacBook Pro, but then I thought I might as well take advantage of the fact Firefox is a GTK+ application and use a theme that would affect all the applications I use. I really love the dark Xfce-dusk theme, so I downloaded the Xfce theme package and added the following line to my <code>~/.gtkrc-2.0</code> file. If you’re using a desktop environment you’d probably want to use it’s theme selector.</p>
<blockquote><p><strong>On Linux</strong><br />
<code>include "/usr/share/themes/Xfce-dusk/gtk-2.0/gtkrc"</code></p>
<p><strong>On FreeBSD</strong><br />
<code>include "/usr/local/share/themes/Xfce-dusk/gtk-2.0/gtkrc"</code></p>
<p><strong>On NetBSD or other systems with pkgsrc</strong><br />
<code>include "/usr/pkg/share/themes/Xfce-dusk/gtk-2.0/gtkrc"</code>
</p>
</blockquote>
<p>Finally I customised the window manager. I use dwm on my Armada M300 because it’s ridiculously fast and lightweight even when running on very modest hardware, plus it automatically tiles windows. In the config.h file in the dwm build directory I changed the following lines then recompiled and installed (you could substitute these hex colours into whichever window manager you’re using too):</p>
<pre>
[…]
static const char normbordercolor[] = #404e63;
static const char normbgcolor[]     = #404e63;
static const char normfgcolor[]     = #000000;
static const char selbordercolor[]  = #222a36;
static const char selbgcolor[]      = #222a36;
static const char selfgcolor[]      = #ffffff;
[…]
</pre>
<p>The results are what you saw at the beginning of the post. I love this colour scheme so much I’ve even started using it for when I’m writing code and assignments because it’s so easy on my eyes when stared at for hours on end. Good times ^_^.</p>
<p><img src="https://rubenerd.com/files/uploads/icon.tango.network.transmit.png" alt="Icon from the Tango Desktop project" style="height:128px; width:128px; display:inline; border:0px;" /> <img src="https://rubenerd.com/files/uploads/icon.tango.heart.png" alt="Icon from the Tango Desktop project" style="height:128px; width:128px; display:inline; border:0px;" /> <img src="https://rubenerd.com/files/uploads/icon.tango.coffee.png" alt="Icon from the Tango Desktop project" style="height:128px; width:128px; display:inline; border:0px;" /></p>
 
