---
title: 'Review of AirMe for iPhone and iPod Touch' 
date: "2009-04-06T05:09:57+10:00"
year: "2009"
category: Hardware 
tag:
- airme
- apple
- flickr
- infocomm
- iphone
- ipod-touch
- itelephone
- phones
- photos
- reviews 
---
<p><img src="https://rubenerd.com/files/2009/05042009_3413727850_o.jpg" alt="Mmm, coffee" style="width:500px; height:375px;" /></p>

<p>Upon reading a few positive reviews, I decided to try the new <strong><a href="http://www.airme.com/">AirMe</a></strong> iPhone application yesterday. I’ve been having lots of fun with it! AirMe is a free (cool!) iPhone and iPod Touch application that lets you upload screenshots and photos you’ve either taken with the built in camera or already have on your device to photo sharing sites such as Flickr and Photobucket.</p>
<p>One really useful feature it has include being able to scale images down before transmitting which would be really useful if you’re on a crappy 2G phone network or slow WiFi connection. You can also set it to only transfer images if you’re on WiFi.</p>
<p>The buttons along the bottom of the screen could use some labels in my opinion to make them easier to figure out for first time users, but aside from that I think it’s a fantastic application. And it’s free!</p>
<p>In this post are the two shots I’ve uploaded directly to <a href="https://flickr.com/photos/rubenerd/">my Flickr account</a> from my iPhone as of yesterday. The first that you can see above is a horribly out of focus shot of a pretty cup of coffee from the <a href="http://theboatdeck.com.au/">Boatdeck Cafe</a> where I was sitting at the time. The second below is a screenshot of the iTunes application downloading an episode of <a href="http://crankygeeks.com/">Cranky Geeks</a> which appears to be taking a while!</p>

<p><img src="https://rubenerd.com/files/2009/this-might-take-a-while_3412923011_o.jpg" alt="Cranky Geeks taking 38:55 to download" style="width:320px; height:480px;" /></p>

