---
title: 'Clipmark: Some of my favourite Slashdot sigs' 
date: "2009-04-07T03:43:53+10:00"
year: "2009"
category: Thoughts 
tag: 
- clipmarks
- forums
- quotes
- slashdot 
---
<p><a href="http://clipmarks.com/clipmark/A69014F7-1716-41C5-948C-8788B932A647/">Clipmarked</a> from <a href="http://news.slashdot.org/article.pl?sid=09/04/06/1336235">Slashdot</a>:</p>

<blockquote cite="http://news.slashdot.org/article.pl?sid=09/04/06/1336235">
<p>"You cannot simultaneously prevent and prepare for war." — Albert Einstein</p>

<p>A pizza of radius z and thickness a has a volume of pi z z a</p>

<p>You are using English. Please learn the difference between loose and lose; they’re, there, and their; your and you’re.</p>

<p>If I have been able to see further than others, it is because I bought a pair of binoculars.</p>

To prove my love for you, I had these flowers killed. Put them in water and it will prolong their slow, agonizing death.</p>

<p>If free will means obeying my orders without question, then yes.</p>

<p>Lose/Find, Loose/Tight</p>

<p>Slashdot has the the worst form of moderation system, except all the others that have been tried.</p>

<p>There’s no place I could be, since I’ve found Serenity…</p>

<p>Carrot!</p>

<p>This sig intentionally left blank.</p>

<p>Slashdot: Putting the ‘passive’ in passive-aggressive since 1997!</p>

<p>Light travels faster than sound. This is why some people appear bright until you hear them speak</p>
</blockquote>

