---
title: 'PageRank, fast sites, net neutrality?' 
date: "2009-11-24T12:14:46+10:00"
year: "2009"
category: Internet
tag:
- google
- infocomm
- net-neutrality
- pagerank
- worrying-out-loud 
---
<p><img src="https://rubenerd.com/files/2009/ferrari-testarossa-in-our-apartment-block-parking-lot_3491324252_o@1x.jpg" alt="Ferrari Testarossa in our apartment block parking lot" srcset="https://rubenerd.com/files/2009/ferrari-testarossa-in-our-apartment-block-parking-lot_3491324252_o@1x.jpg 1x, https://rubenerd.com/files/2009/ferrari-testarossa-in-our-apartment-block-parking-lot_3491324252_o@2x.jpg 2x" style="width:500px; height:335px;" /></p>
<p>It seems to be another example of an idea that everyone else seems to favour but I find worrying; even more jarring it&#39;s perhaps the first time I&#39;ve really <a href="http://gigaom.com/2009/11/22/should-web-page-speed-influence-google-pagerank/">disagreed with Om Malik</a> (of whom I&#39;m a huge fan) about something! Allegedly some people over at Google are exploring the option of including the speed of pages as a metric for a site&#39;s PageRank.</p>
<p><!--oldmore--></p>
<p>The problem nobody (that I can find) seems to be discussing is the implications for net neutrality, or whatever fancy name people are calling that now.</p>
<p>The glorious, beautiful, elegant architecture of the internet lowered the barrier to entry for people like me to voice my opinions and publish my material (however silly it may be) in the same league as the Big Guys. In traditional media such as television and print, I would need a small fortune to write and distribute what I&#39;m doing here on my blog.</p>
<p>I bring up finances because what Google is proposing could be the first step towards favouring companies that can afford fast, reliable servers with solid redundancy to deliver their content over people and smaller businesses without the financial means or technical know-how to do so.</p>
<p>It also raises some troubling scenarios. For one, what would happen if a website that&#39;s much faster than your own but had a similar existing PageRank started broadly duplicating your content, would it rank higher than your own site?</p>
<p>Speed may be convenient but it is not a replacement for valuable information, and Google is heading down a dangerous road if they decide to do this. Even though I don&#39;t use Bing for example, it&#39;s another example of why they need to exist, to keep Google on their toes.</p>
<p>I&#39;d be really relieved to hear why I&#39;m wrong and being overly paranoid, if you have some insights I&#39;d love to hear them.</p>
 
