---
title: 'People getting dressed up… for exams?' 
date: "2009-11-18T08:04:44+10:00"
year: "2009"
category: Thoughts 
tag: 
- people
- studies
- weird 
---
<p><img src="https://rubenerd.com/files/2009/cibo-espresso-in-rundle-mall_4113732981_o@1x.jpg" srcset="https://rubenerd.com/files/2009/cibo-espresso-in-rundle-mall_4113732981_o@1x.jpg 1x, https://rubenerd.com/files/2009/cibo-espresso-in-rundle-mall_4113732981_o@2x.jpg 2x" alt="Cibo Espresso in Rundle Mall" style="width:500px; height:375px;" /></p>
<p>For a change of atmosphere after my exam, instead of going to the <a href="http://www.theboatdeck.com.au/">Boatdeck Cafe</a> where I spend much of my Adelaide life, I decided to stay in the city and park myself at the <a href="http://en.wikipedia.org/wiki/Cibo_Espresso">Cibo Espresso</a> in <a href="http://www.rundlemall.com/">Rundle Mall</a>. I&#39;m a wild guy!</p>
<p>Coffee haunts aside, I had a point with this post. What continuously amazes me with some people is to the extent they&#39;ll tart themselves up for the most mundane or weird situations, such as for an <strong>exam</strong>. Having just left the Wayville Showground for my few hours of exam fun, I noticed more girls than not had skimpy but expensive looking clothes (ugh) and thick makeup on. <strong>Makeup</strong>! For an exam! I can barely cope with studying and going for an exam let alone caring that much about my appearance.</p>
<h3>Hey, aren’t you that guy?</h3>
<p>Adelaide really is a small place, I was just asked by a woman who saw me typing away on my laptop if I was the same fixture she sees at the Boatdeck Cafe in Mawson Lakes. I said yes, but looking back now I should have said I was a twin brother or a clone or something. Why is it we only figure out what to say <strong>after</strong> things like that happen!?</p>
<h3>You were talking about your exam</h3>
<p>Are you sure? Wait, let me check. Well looky there, I was. You&#39;re not as much of a witless half bright than I thought. Kudos.</p>
<p>Here&#39;s a tip for those of you who carry bags and have to drop them off at the aptly named Bag Drop: take a brightly coloured bag! Just as they help you to see your bag easier when you&#39;re at an airport and using one of those newfangled baggage carousel things <span style="text-decoration:line-through">that are fun to stand on</span>, having a bright coloured bag means when you go to retrieve it the overworked staff can see it much easier and get it back to you. It&#39;s sheer, unmitigated genius I tell you. I almost spelt genius wrong.</p>
<p>Next exam is Saturday so I still have a ton of studying to do as well as dealing with ongoing family issues and a landlord who wants to sell the house out from under us. I&#39;m going to savour this hour or so I&#39;m sitting here. It&#39;s a good time to be outside, because tomorrow Adelaide will be 41C (over 100F I think). Glad it wasn&#39;t that hot today, I can tell you that much :O.</p>
 
