---
title: 'Pro life, pro family and other misnomers' 
date: "2009-05-20T05:41:36+10:00"
year: "2009"
category: Thoughts 
tag: 
- faith
- feminism
- human-rights
- humanism
- lgbt-rights
- philosophy
- pro-life-is-anti-women
- rationality
- religion
- womens-rights 
---
<p><img src="https://rubenerd.com/files/uploads/photo.common.sense.jpg" alt="Mourning the death of common sense" style="height:280px; width:480px; display:inline; border:0px;" /><br /><cite>Common sense, we hardly knew thee…</cite></p>
<p>I&#39;m well aware these observations have been made by many rational people before, but I&#39;m just putting them on the record here too.</p>
<ul>
<li>Isn’t it funny <em>[most of]</em> those who claim to be &quot;pro life&quot; overwhelmingly support the death penalty? This isn’t even touching on the issues surrounding legitimate medical research. (see the <a href="//rubenerd.com/pro-misnomers/#comments">comments thread</a> for revisions)<p></p></li>
<li>Isn’t it funny those who claim to be &quot;pro family&quot; want to deny so many loving and responsible people the right to have one based on arbitrary critera for which they have no evidence affects their abilities?<p></p></li>
<li>And isn’t it also funny that those who are quick to dismiss sciences such as evolutionary biology, astronomy and geology suddenly change their minds when it works in their favour?</li>
</ul>
<p>Everybody has the right to choose what they believe, but that doesn&#39;t mean we should reject <em>common sense</em>. If certain religious beliefs (and conspiracy theories too while we&#39;re at it) are hindering social, moral, scientific and medical progress, it&#39;s time to review them. I know enough moderate religious people who agree with me on this to know it&#39;s possible.</p>
<p>My last attempt at a post like this generated more hate mail than any I&#39;ve ever had before. Hey, as long as people are <em>thinking</em> about these issues I&#39;m (as I always say) cautiously optimistic :-).</p>
 
