---
title: 'Using Qmax as your free Wireless@SG carrier' 
date: "2009-06-18T07:40:09+10:00"
year: "2009"
category: Internet
tag:
- guide
- howto
- infocomm
- isps
- singapore
- telcos
- wifi
- wirelesssg 
---
<p><img src="https://rubenerd.com/files/2009/3638352038_6f263fea32_o.png" alt="StarHub Wireless@SG on an iPhone using WiFi" style="width:480px" /></p>

<p>Little tip for those who use <a href="http://www.qmax.com.sg">Qmax</a> for their <a href="http://www.ida.gov.sg/Programmes/20061027174147.aspx">Wireless@SG</a> provider, because you&#39;re not using <a href="http://home.singtel.com/wirelessSG/">SingTel</a> or <a href="http://www.starhub.com/portal/site/HubVillage/">StarHub</a> it means you can log into the free WiFi services at both <a href="http://www.starbucks.com.sg/">Starbucks</a> and the <a href="http://www.coffeebean.com.sg/">Coffee Bean</a> (to use the places I frequent as examples) regardless of the carrier and use the &quot;local roaming customers&quot; option, very cool!</p>
<p>One thing you have to keep in mind though is how you enter your username. On SingTel when you select Qmax the username field will be populated with <code>@qmax.com.sg</code> so you just have to enter your username at the beginning. On StarHub when you select Qmax they fill in the email address part but only <em>after</em> you&#39;ve hit the <code>[SUBMIT]</code> button! In this case don&#39;t worry that you&#39;ve only partially entered your details, when you enter your username and submit the form it&#39;ll still work.</p>
<p>Now if I could get the <a href="http://www.ida.gov.sg/">Singapore Information and Development Authority</a> to pay me for help posts like this we&#39;d be in business.</p>
 
