---
title: 'Redirecting UniSA email is such a relief!' 
date: "2009-11-25T01:52:12+10:00"
year: "2009"
category: Internet
tag:
- email
- imap
- infocomm
- microsoft-exchange
- outlook-web-access
- pop
- studying
- thunderbird 
---
<p><img src="https://rubenerd.com/files/2009/3924600205_61f455ee05_o@1x.jpg" srcset="https://rubenerd.com/files/2009/3924600205_61f455ee05_o@1x.jpg 1x, https://rubenerd.com/files/2009/3924600205_61f455ee05_o@2x.jpg 2x" alt="New MyUniSA in Firefox 3.0.14" style="width:500px; height:255px;" /></p>

<p>Are you fed up with constantly checking and deleting messages from your <a href="http://unisa.edu.au/">UniSA</a> student email account because of the tiny quota? Turns out you can have your messages redirected to an outside account. I can breathe easier now!</p>
<p>From the <a href="http://www.unisa.edu.au/ists/ITHelpDesk/FAQS/Email/General/email_faq17.asp">UniSA email FAQ</a>:</p>
<blockquote><p>Students are able to redirect their email to either a University staff account, or to an external account by filling in the required details in the Email Redirection application located at:</p>
<p><a href="https://my.unisa.edu.au/emailredirection">https://my.unisa.edu.au/emailredirection</a></p>
<p>Further information regarding the application is located at:<br />
<a href="http://www.unisa.edu.au/ists/email/email_redirect.asp">Email Redirection Further Information</a></p></blockquote>
<h3>WARNING!</h3>
<p>I&#39;m being told by my solicitors I have to dispense with the following warning. By redirecting your university email the burden is on <strong>you</strong> to keep it secure and backed up. If you don&#39;t understand this, <strong>do not do it!</strong> Read the further information link above for more disclaimers.</p>
<h3>Okay, back to the blog post</h3>
<p>To make life easier for myself I went ahead and created a new email account with SegPub which I have gigabytes of space free on, then used the form above to redirect my student email to it instead. Now when I have lecturers email me PDFs showing the schematics of entire nuclear reactors it won&#39;t blow out my quota and prevent other messages from arriving!</p>
<p>There&#39;s also another benefit; by redirecting messages I no longer have to interface at all with the university&#39;s Microsoft Exchange services including the dreadful Microsoft Outlook Web Access which only works in Internet Explorer, as I <a href="//rubenerd.com/sa-education-microsoft/">discussed previously</a>.</p>
<h3>The IMAP problem</h3>
<p>Inevitably the question arises: why didn&#39;t I just use IMAP and access my email remotely? I was asked by more than a few people on twitter, and by the technical support guy I called at UniSA.</p>
<p>My problem was I initially went ahead and configured <a href="http://mozillamessaging.com/">Thunderbird</a> (I upgraded from Mozilla/SeaMonkey Mail) for IMAP access, but unlike POP after I&#39;d downloaded messages they stayed on the server. That&#39;s how it&#39;s supposed to work, but I wanted to archive local copies of my messages while deleting them from the university&#39;s servers, so I&#39;d avoid maxing out my inbox like I was virtually every day before.</p>
<p>On a somewhat related note, I&#39;ve been having no end of trouble with my university email and with general online student services since resuming full time studies. Perhaps I&#39;m anomaly in the system.</p>
 
