---
title: 'Reminding myself I’m alive at least!' 
date: "2009-09-11T01:01:29+10:00"
year: "2009"
category: Thoughts 
tag: 
- busy
- errors
- grilled-cheese-sandwiches
- pointless
- rambling
- weblog 
---
<p><img src="https://rubenerd.com/files/2009/3903658302_3680c96b03_o.png" alt="Screenshot of my Optus phone without a data connection." style="width:320px; height:480px;" /></p>

<p>Had a ridiculously busy day today with a ton of things that went wrong. Two conference calls; five classes with hour long tests in two of them; I had to see my sister off at the airport by taking public transport which took an age in an of itself; I had to work on an assignment because I&#39;m a schedule freak and don&#39;t like getting behind on university work I&#39;ve planned; three lots of homework which I had to sprint to the computer pools at the campus to print because our printer stopped working; I had to deal with another internet banking glitch and subsequent explanation to the landlord; our internet was throttled; and while having one of my usual headrushes I blacked out for a second and hit my head on a light switch, something which doesn&#39;t sound like it would hurt much but it really did!</p>
<p>Then after breakfast… I kid. I tell you what though, while days like today aren&#39;t exactly the most fun, I think it helps at times to remind ourselves that&#39;s it better than the alternative. I&#39;m comfortable saying this now because today is over of course, if someone had come up to me and relayed that sentiment to me earlier today I might have relayed a frozen grilled cheese sandwich at their head. That&#39;s my new weapon of choice by the way.</p>
<p>On behalf of the entire writing team here which consists of me, I apologise for the lack of posts today. I&#39;ve been on a roll publishing posts these last few months, so I can understand it&#39;s difficult to miss out, especially if you use Google Reader for example and are used to seeing all my nonsense scattered through your unread posts every day.</p>
<p>Now if you&#39;ll excuse me, I&#39;m off to put another ice pack on my bruised forehead and call it a day. Which would be disingenuous to say the least given it&#39;s 00:26 and therefore it&#39;s very early morning and still dark.</p>
 
