---
title: 'Riders Cafe scones and whatnot' 
date: "2009-08-03T12:53:21+10:00"
year: "2009"
category: Thoughts 
tag: 
- food 
---
<p><img src="https://rubenerd.com/files/2009/riders-cafe-scones-_3783783602_o@1x.jpg" alt="Riders Cafe scones :)" srcset="https://rubenerd.com/files/2009/riders-cafe-scones-_3783783602_o@1x.jpg 1x, https://rubenerd.com/files/2009/riders-cafe-scones-_3783783602_o@2x.jpg 2x" style="width:500px; height:375px;" /></p>
<p>I know I&#39;m back in Adelaide again now, but I was going through some of the photos I took with my iTelephone and remembered I just had to tell you all about the scones at the <a href="http://www.riderscafe.sg/">Riders Cafe</a>.</p>
<p>Being an Aussie with British isle heritage (or whatever its called) on my mum&#39;s side, scones are a critical part of my diet, but finding good ones in Singapore is tough. The ones at the Riders Cafe are stunningly amazingly tasty. As in you take one bite and you feel like you&#39;re at an English teahouse somewhere. A good one presumably!</p>
<p>I tell you what, eating scones with cream and jam is just about the best thing in the universe. I remember a girl in my high school economics class used to make savoury scones and bring them in too; when I first heard of them I was wary but they turned out to be the best thing since… well, sweet scones.</p>
<p>If I had more time I&#39;d buy some flower, butter and milk and make me some scones. My mum used to make epic scones. This post also uses the word scones nine times. Sage, rosemary and times?</p>
 
