---
title: 'Rubenerd.com is now JavaScript free! I think' 
date: "2009-07-13T08:36:24+10:00"
year: "2009"
category: Internet
tag:
- infocomm
- javascript
- noscript
- weblog 
---
<p><img src="https://rubenerd.com/files/2009/clear-day-in-singapore_3678149462_o@1x.jpg" alt="Clear day in Singapore" srcset="https://rubenerd.com/files/2009/clear-day-in-singapore_3678149462_o@1x.jpg 1x, https://rubenerd.com/files/2009/clear-day-in-singapore_3678149462_o@2x.jpg 2x" style="width:500px; height:335px;" /></p>
<p>I noticed this afternoon while going through my comment moderation queue that <a href="//rubenerd.com/">Rubenerd.com</a> was running a bit sluggishly. Like I would if I ever ran anywhere presumably.</p>
<p>The culprit? A line of JavaScript designed to download and display <a href="https://flickr.com/photos/rubenerd/">my latest photos from Flickr</a>. Seems it was hanging on that particular part of the page and deciding not to go any further. So I got rid of it, and now my site is running faster than it ever has! Not sure whether I&#39;ll do something server-side to replace it&#39;s function, or whether my link to my Flickr page in the header along with linked images in posts here like I&#39;ve done above will suffice.</p>
<p>Aside from some Ajax websites that behave more like applications than web pages such as Google Docs, I dislike JavaScript on pages. It&#39;s cool now I can say I don&#39;t have any on my own site. Have <a href="http://noscript.net/">NoScript</a> in <a href="http://getfirefox.com/">Firefox</a> or <a href="http://pimpmycamino.com/parts/caminoscript-10">CamiNoScript</a> in <a href="http://caminobrowser.org/">Camino</a>? My site will work exactly the same!</p>
 
