---
title: 'Sad month for gay rights in South Australia' 
date: "2009-04-18T06:14:08+10:00"
year: "2009"
category: Thoughts 
tag: 
- adelaide
- australia
- discrimination
- education
- gay-rights
- mark-parnell
- news
- politics
- religion
- south-australia
- the-greens 
---
<p><a href="http://markparnell.org.au/"><img src="https://rubenerd.com/files/uploads/screenie.markparnell.png" alt="Mark Parnell" style="height:95px; width:480px; display:inline; border:0px;" /></a></p>

<p><a href="http://markparnell.org.au/mr.php?mr=584">Sad news being reported</a> by <a href="http://sa.greens.org.au/">South Australia&#39;s Greens</a> senator <a href="http://markparnell.org.au/">Mark Parnell</a> this month. It&#39;s really sad this kind of discrimination is still legal in this day and age.</p>

<p>I&#39;ve <a href="//rubenerd.com/p3694/">previously blogged about Mark Parnell here</a>. We need more people like him in politics.</p>

<p><a href="http://clipmarks.com/clipmark/1B1F3875-CD57-4761-8DAF-34C6D81F8FBA/">Clipmarked</a> from <a href="http://markparnell.org.au/mr.php?mr=584">markparnell.org.au</a>:</p>

<blockquote cite="http://markparnell.org.au/mr.php?mr=584">
<p>Critical amendments to the Equal Opportunity Act that will allow religious schools to continue to discriminate against gay teachers have passed the SA Upper House with the support of Liberals, Family First and No Pokies.</p>

<p>&#8220;The Greens were extremely disappointed that Labor had previously backed down on removing discrimination against teachers on the basis of sexuality.  Now, this already compromised Bill has been compromised again.</p>

<p>&#8220;An individual’s sexuality or chosen gender has absolutely no impact on their ability to teach well.  So why will schools be able to discriminate on that basis?</p>

<p>&#8220;Freedom from discrimination on the basis of a person’s sexuality is a basic human right.  Our state used to have an enviable reputation for progressive social policy. Not any more&#8221;, he said.</p>
</blockquote>

