---
title: 'Lesson 9 in grilled cheese sandwich observation' 
date: "2009-09-08T12:47:39+10:00"
year: "2009"
category: Thoughts 
tag: 
- grilled-cheese-sandwich-observation
- grilled-cheese-sandwiches
- nonsense
- pointless 
---
<p><img src="https://rubenerd.com/files/2009/recycled-grey-water_3585457358_o@1x.jpg" alt="Recycled grey water" srcset="https://rubenerd.com/files/2009/recycled-grey-water_3585457358_o@1x.jpg 1x, https://rubenerd.com/files/2009/recycled-grey-water_3585457358_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>
<p>Oh come on, <em>nine</em> lessons? Now we&#39;re just getting silly people. Welcome to your ninth grilled cheese sandwich observation lesson. As usual, feel free to take notes.</p>
<p>As far as I know this is <strong><em>not</em></strong> a grilled cheese sandwich, and quite frankly it concerns me that you think it is. Please seek counselling.</p>
<blockquote><p><strong>ASIDE:</strong> I have been advised by my solicitors to disclose that while this information has been deemed accurate by most gastronomes, it should not be taken as sound legal advice when attempting to identify grilled cheese sandwiches in criminal and civil cases, particularly if you are serving with a jury of your peers.</p>
<p>If you do attempt to use such advice in legal proceedings however, please cite <a href="http://intoyourhead.com/">Neal O’Carroll</a> as the creator of this post and not me so that I may not be involved and have to deal with the associated paperwork and litigation. Thank you ever so much.</p></blockquote>
<h3 style="padding:0em; margin:0em">Previous lessons</h3>
<p><a href="//rubenerd.com/p4551/">08</a>, <a href="//rubenerd.com/p3971/">07</a>, <a href="//rubenerd.com/p3932/">06</a>, <a href="//rubenerd.com/p3581/">05</a>, <a href="//rubenerd.com/p2921/">04</a>, <a href="//rubenerd.com/p2617/">03</a>, <a href="//rubenerd.com/p1453/">02</a>, <a href="//rubenerd.com/p1284/">01</a></p>
 
