---
title: 'Sharing your favourite restaurants online' 
date: "2009-08-31T02:07:11+10:00"
year: "2009"
category: Internet
tag:
- alltop
- boatdeck-cafe
- infocomm
- mawson-lakes
- twitter 
---
<p><img src="https://rubenerd.com/files/2009/boat-deck-cafe-mawson-lakes_226687107_o@1x.jpg" alt="Boat Deck Cafe, Mawson Lakes" srcset="https://rubenerd.com/files/2009/boat-deck-cafe-mawson-lakes_226687107_o@1x.jpg 1x, https://rubenerd.com/files/2009/boat-deck-cafe-mawson-lakes_226687107_o@2x.jpg 2x" style="width:500px; height:375px;" /></p>
<blockquote cite="http://twitter.com/NEENZ/status/3659141464"><p><a style="font-weight:bold" href="http://twitter.com/NEENZ/status/3659141464">NEENZ</a>: If you want your favorite restaurants to stay in business, you have to eat there and share with the world! &#8211; <a href="http://bkite.com/0blZR">http://bkite.com/0blZR</a></p></blockquote>
<p><a href="//rubenerd.com/tag/boatdeck-cafe/">Done</a> and <a href="https://www.flickr.com/photos/rubenerd/tags/boatdeckcafe/">done</a> :)</p>
 
