---
title: 'Singapore from my bedroom window' 
date: "2009-07-03T06:26:42+10:00"
year: "2009"
category: Media
tag:
- architecture
- singapore 
---
<p><img src="https://rubenerd.com/files/2009/clear-day-in-singapore_3678149462_o@1x.jpg" alt="Clear day in Singapore" srcset="https://rubenerd.com/files/2009/clear-day-in-singapore_3678149462_o@1x.jpg 1x, https://rubenerd.com/files/2009/clear-day-in-singapore_3678149462_o@2x.jpg 2x" style="width:500px; height:335px;" /></p>
<p><a href="http://twitter.com/rubenerd/">Twitter</a> has become such an <a href="//rubenerd.com/tag/twitter/">integral part of my life</a> that I sometimes forget most people don&#39;t use it. Probably everyone else has this thing called a &quot;life&quot; which I hear so much about.</p>
<p>This was a photo I took outside my bedroom window yesterday afternoon after I&#39;d finished a coding session. Since the last time I was in Singapore back in March I can count two new apartment buildings and several more under construction. Time-lapse photography over a period of months would be pretty cool from here, I can tell you that!</p>
<p>What gobsmacks me is how ridiculously tall some of these apartment buildings are becoming. In Australia there&#39;s the Eureka Tower and Q1… and that&#39;s pretty much it. Then again, Australia isn&#39;t trying to cram all it&#39;s population into a minuscule island dot!</p>
 
