---
title: 'My Snow Leopard software compatibility list' 
date: "2009-08-29T07:38:16+10:00"
year: "2009"
category: Software
tag:
- apple
- compatibility
- infocomm
- mac-os-x
- macports
- snow-leopard 
---
<p><img src="https://rubenerd.com/files/uploads/screenie.xquartz.leopardonly.png" alt="" style="height:145px; width:434px; display:inline; border:0em; padding:0em; background:transparent" /></p>
<p>There are plenty of more thorough lists online, but I thought I&#39;d keep my own too. So far I&#39;ve been using this software without problems:</p>
<ul>
<li><a href="http://www.adobe.com/products/air/"><span style="font-weight:bold">Adobe Air 1.5.2</span></a></li>
<li><a href="http://gimp.lisanet.de/Website/Overview.html">Simone’s <span style="font-weight:bold">Gimp</span> 2.6.7</a></li>
<li><a href="//rubenerd.com/worry-imoviehd/"><span style="font-weight:bold">iMovie HD 6</span> from iLife 06</a></li>
<li><a href="http://www.macports.org/"><span style="font-weight:bold">MacPorts</span> 1.8.0 Snow Leopard release</a> (guess that goes without saying!)</li>
<li><a href="http://mirror.internode.on.net/pub/mozilla/firefox/releases/3.0.13/">Mozilla <span style="font-weight:bold">Firefox</span> 3.0.13</a></li>
<li><a href="http://www.mozilla-europe.org/en/firefox/3.5.2/releasenotes/">Mozilla <span style="font-weight:bold">Firefox</span> 3.5.2</a></li>
<li><a href="http://download.openoffice.org/other.html"><span style="font-weight:bold">OpenOffice.org</span> 3.1.1</a></li>
<li><a href="http://macromates.com/"><span style="font-weight:bold">TextMate</span> 1.5.8</a></li>
<li><a href="http://tweetdeck.com/"><span style="font-weight:bold">TweetDeck</span> 0.26.6</a></li>
</ul>
<p>Software I&#39;ve been having problems with:</p>
<ul>
<li><a href="http://www.skype.com/intl/en/download/skype/macosx/"><span style="font-weight:bold">Skype</span> 2.8.0.659</a> works as long as you do not thin the universal binary with <code>ditto</code> as <a href="//rubenerd.com/thinning-universal-binaries-with-ditto/">I described in December 2007</a>.<p></p></li>
<li><a href="http://apple.com/quicktime/"><span style="font-weight:bold">QuickTime</span> 10</a> with <span style="font-weight:bold"><a href="http://perian.org/">Perian</a></span> currently doesn’t support the MKV media container because of a <a href="http://twitter.com/arnekolja/status/3623337319">registration incompatibility problem</a>.<p></p></li>
<li>The <a href="http://www.videolan.org/vlc/download-macosx.html">Intel build of <span style="font-weight:bold">VLC</span> 1.0</a> works, but for some reason takes upwards of 30 seconds on my machine to load and start playing MKV files. This wasn’t an issue on regular Leopard on the same machine.<p></p></li>
<li><a href="http://xquartz.macosforge.org/trac/wiki/X112.4.0"><span style="font-weight:bold">XQuartz</span> 2.4.0</a> returns an error saying <span style="font-weight:bold">&quot;This update is designed for OSX Leopard Only.&quot;</span>.<p></p></li>
</ul>
<p>I&#39;ve been able to compile the following ports from MacPorts without problems:</p>
<ul>
<li><a href="http://trac.macports.org/browser/trunk/dports/audio/lame/Portfile"><span style="font-weight:bold">lame</span> 3.98.2_1</a></li>
<li><a href="http://trac.macports.org/browser/trunk/dports/devel/ncurses/Portfile"><span style="font-weight:bold">ncurses</span> 5.7_0</a></li>
<li><a href="http://trac.macports.org/browser/trunk/dports/devel/ncursesw/Portfile"><span style="font-weight:bold">ncursesw</span> 5.7_0</a></li>
</ul>
 
