---
title: '#SongsInCode' 
date: "2009-08-21T03:55:17+10:00"
year: "2009"
category: Media
tag:
- java
- music
- perl
- pointless
- programming
- ruby
- twitter 
---
<p><img src="https://rubenerd.com/files/uploads/photo.rick_james-super_freak_s.jpg" alt="Rick James Super Freak" style="height:341px; width:500px; display:inline; border:0em;" /></p>

<p>As if I needed one, but another reason <a href="http://twitter.com/rubenerd/">why I love Twitter</a> is the spontaneous memes with a half life shorter than the time it takes for the fizz in soft drink to dissipate when the bottle is opened. I prefer Solo. Well this paragraph rapidly degenerated into nonsense more quickly than most.</p>

<p>Today&#39;s fun was coming up with expressing famous songs as code with the surprisingly descriptive <a href="http://twitter.com/#search?q=%23songsincode">#SongsInCode</a> hashtag. <a href="http://twitter.com/NickHodge/">@NickHodge</a> by far had the best ones, but I tried my hand at a few too. I spaced them out to make them easier to read, but all these fitted into the 140 character Twitter limit when written on the one line!</p>

<p><a href="http://twitter.com/Rubenerd/status/3441809571">San Francisco</a>:</p>
<pre>
if (destination == "San Francisco") {
   hair.wear(flowers);
}
</pre>

<p><a href="http://twitter.com/Rubenerd/status/3441963601">My Sharona</a>:</p>
<pre>
4.times do
   puts "My"
end
puts "Sharona"
</pre>

<p><a href="http://twitter.com/Rubenerd/status/3439712448">One Headlight</a>:</p>
<pre>
if ( headlight &gt;= 1 ) {
   [driveTo : home];
}
</pre>

<p><a href="http://twitter.com/Rubenerd/status/3442045904">Superfreak</a>:</p>
<pre>
%signs = ( "Wild", "Can't Take Home to Mum", "Kinky" );
if ( exists $signs{$girl} ) {
   print "That girl's a super freak!\n"
}
</pre>

<p><a href="http://twitter.com/Rubenerd/status/3437561041">Mambo No. 5</a>:</p>
<pre>
int Mambo = 5;
</pre>

<p><a href="http://twitter.com/Rubenerd/status/3439834758">Before You Accuse Me</a>:</p>
<pre>
if ( yourself.takenLookAt() ) {
   me.accuse(allow);
}
</pre>

<p><a href="http://twitter.com/Rubenerd/status/3442428260">Rock Around the Clock</a>:</p>
<pre>
for ( my $i = 1; $i &lt; 13; $i++ ) {
   if ($i % 4 == 0) {
      print "$i o'clock rock!";
   } else {
      print "$i o'clock";
   }
}
</pre>

<p><a href="http://twitter.com/Rubenerd/status/3439641523">Rehab</a>:</p>
<pre>
try {
   makeMeGo("rehab");
} catch(WinehouseRefusalException e) {
   System.out.println("no no no!");
}
</pre>

<p><a href="http://twitter.com/Rubenerd/status/3441928588">Bird is the Word</a>:</p>
<pre>
Word thing = "Bird";
System.out.println ("The " + thing + " is the "
   + thing.getClass().getName() );
</pre>

<p>While all those were fun, I think the last was my crowning achievement :).</p>
 
