---
title: 'My sudoku puzzles page is go!' 
date: "2009-09-20T07:07:41+10:00"
year: "2009"
category: Internet
tag:
- infocomm
- personal
- rss
- sudoku
- tumblog
- web-feeds 
---
<p><img src="https://rubenerd.com/files/uploads/sudoku.2009.09.20.png" style="height:206px; width:206px; display:inline;" alt="2009.09.20" /></p>
<p>Time for some shameless self promotion! I&#39;ve started a new website for a pet project of mine that isn&#39;t a website at all, it&#39;s just an RSS feed. Technically I could have published all the stuff here on my blog, but I thought I&#39;d give this a try.</p>
<p><a style="font-weight:bold" href="//rubenerd.com/puzzles.xml">//rubenerd.com/puzzles.xml</a></p>
<blockquote><p>Some people start blogs about their obsession with <a href="//rubenerd.com/monniecakes-launch/">cupcakes</a>, so I’ve decided to create one to keep track of the pretty sudoku puzzles I try to do on a regular basis. I figure <a href="//rubenerd.com/">my blog</a> already has enough stuff on it, and I don’t want to fill up my <a href="https://flickr.com/photos/rubenerd/">Flickr account</a> which already has enough things that aren’t photos!</p>
<p>To keep things <strong>simple</strong>, this page is just an <a href="//rubenerd.com/sudoku.xml">RSS feed</a> I craft myself. Most modern browsers will generate a pretty page when they encounter a web feed, which means I don’t have to worry about CMSs, HTML, themes, maintenance, blasted PHP! You can even subscribe to it if you really care.</p>
<p>Peace, health and happiness ^_^<br /><cite>~ <a href="//rubenerd.com/about/">Ruben</a> (<a href="http://twitter.com/Rubenerd/">@Rubenerd</a></cite>)</p>
</blockquote>
 
