---
title: 'Scatterbrain thoughts on the Sun Oracle deal' 
date: "2009-04-21T08:49:16+10:00"
year: "2009"
category: Software
tag:
- databases
- enterprise
- infocomm
- java
- jonathan-schwartz
- mysql
- netbeans
- news
- openoffice
- openofficeorg
- opensolaris
- oracle
- solaris
- sun
- sun-microsystems
- sun-workstation
- thinking-out-loud
- virtualbox 
---
<p style="font-style:italic;">(Update 2021: I wrote this trying <strong>hard</strong> to be optimistic and open-minded. Suffice to say, is a phrase with three words).</p>

<p><img src="https://rubenerd.com/files/uploads/screenie.virtualbox.opensolaris.png" alt="Showing my support by running OpenSolaris in VirtualBox on my Mac" style="height:344px; width:420px; display:inline; border:0px;" /><br /><cite>Showing my support running OpenSolaris in VirtualBox on my Mac :-)</cite></p>
<p>Well it&#39;s official, <a href="http://sun.com/">Sun Microsystems</a> found a suitor not in IBM, Apple or Microsoft, but with <a href="http://www.oracle.com/">Oracle</a>. I must say on the whole I&#39;m cautiously relieved, though there are some things that worry me. What an ambiguous sentence. Well you know what they say, certainty is hobgoblin of the fool… right? Wait, that&#39;s not how it goes.</p>
<p><img src="https://rubenerd.com/files/uploads/icon.sun.opensolaris.png" style="float:right; height:62px; width:82px; display:inline; border:0px; margin:5px 0 10px 20px" alt="OpenSolaris" />Firstly, Java and Solaris absolutely make sense for Oracle; I believe I read somewhere that (paraphrasing) Larry Ellison claimed Solaris was the most effective Unix system out there for use with Oracle infrastructure. I haven&#39;t played with <a href="http://www.opensolaris.org/">OpenSolaris</a> (or Linux for that matter) to the extent I&#39;ve used <a href="http://www.freebsd.org/">FreeBSD</a> but I was really impressed by it&#39;s completeness and quality. I&#39;m also interested in licencing; as a BSD guy the CDDL that has prevented Linux users from adopting ZFS and Dtrace hasn&#39;t bothered me but Oracle&#39;s work with Linux may see it change to the GPL… maybe.</p>
<p>What I&#39;m also interested in is Sun&#39;s free and open source acquisitions and assets, namely NetBeans, VirtualBox, OpenOffice.org and MySQL. If they keep them and continue to support them I don&#39;t see any problem, and one could argue that said projects would benefit from being part of a larger company in the same vein as Linux at IBM. Some brainstorming on each:</p>
<ul>
<li style="clear:both"><img src="https://rubenerd.com/files/uploads/icon.sun.netbeans.png" style="float:right; height:62px; width:82px; display:inline; border:0px; margin:5px 0 10px 20px" alt="Netbeans" /><a href="http://netbeans.org/">NetBeans</a> would compliment their Java acquisition, but Oracle is a signed member of the Eclipse foundation. Will Oracle attempt to merge it, ditch it or continue to develop it and instead ditch Eclipse?<p></p></li>
<li style="clear:both"><img src="https://rubenerd.com/files/uploads/icon.sun.virtualbox.png" style="float:right; height:62px; width:82px; display:inline; border:0px; margin:5px 0 10px 20px" alt="VirtualBox" /><a href="http://virtualbox.org/">VirtualBox</a> at Oracle is a fascinating combination. Could Oracle somehow leverage VirtualBox’s virtualisation technology to more efficently deploy servers with Oracle’s database? They could do it with Solaris too!<p></p></li>
<li style="clear:both"><img src="https://rubenerd.com/files/uploads/icon.sun.openoffice.png" style="float:right; height:62px; width:82px; display:inline; border:0px; margin:5px 0 10px 20px" alt="OpenOffice.org" /><a href="http://openoffice.org/">OpenOffice.org</a> is a real wildcard. One could potentially see Oracle leverage OOo against Microsoft, or perhaps they could pull a Novell and instead fork it into an independent stream and an Oracle branded product that could use groupware Oracle develops. The possibilities are extremely intriguing.<p></p></li>
<li style="clear:both"><img src="https://rubenerd.com/files/uploads/icon.sun.mysql.png" style="float:right; height:62px; width:82px; display:inline; border:0px; margin:5px 0 10px 20px" alt="MySQL" /><a href="http://mysql.com/">MySQL</a> for me is a major concern. Oracle’s databases and MySQL are light years apart in features and from what I’ve heard scalability, but the gap is much narrower than it was even a few years ago. Is it conceivable Oracle would intentionally cripple MySQL or keep it with only a subset of features so as to not cannibalise their bread and butter? If they do, might we see MySQL forks or even a general move to PostgreSQL?</li>
</ul>
<p>I&#39;ve done work for Oracle in the past but I still don&#39;t know the inner workings of the company or the details regarding merged product lines (ala PeopleSoft and Siebel). Whatever the outcome, I&#39;ll be watching closely.</p>
<p><a href="//rubenerd.com/p3797/">As I&#39;ve said here before</a> I have huge respect for Sun and have always wanted a pimped out Sun Workstation to really get stuck into Solaris. In fact if I were offered a Mac Pro or a similarly high end Sun Workstation I&#39;d take the latter just because I&#39;ve used them at university but ave never had one of my own before!</p>
<p><a href="http://blogs.sun.com/jonathan/"><img src="https://rubenerd.com/files/uploads/graphic.schwartz.blogheader.jpg" alt="Jonathan Schwartz's weblog at Sun Microsystems" style="height:97px; width:500px; border:0px; display:inline" /></a></p>
<p>The biggest question I still have though is: what will happen to one of my top technology idols Jonathan Schwartz? Will he get a position in Oracle? Will he continue to blog from there? Or perhaps a more pertinent question would be: will he be <em>allowed</em> to blog from there?</p>
<p>I wish Sun the best in this transition period.</p>
 
