---
title: 'Surfin Bird over Aussie brekkie TV' 
date: "2009-08-13T08:23:17+10:00"
year: "2009"
category: Media
tag:
- australia
- brekkie
- eyetv
- surfin-bird
- television 
---
<p><img src="https://rubenerd.com/files/2009/3816170678_f0102a90d8_o@1x.jpg" srcset="https://rubenerd.com/files/2009/3816170678_f0102a90d8_o@1x.jpg 1x, https://rubenerd.com/files/2009/3816170678_f0102a90d8_o@2x.jpg 2x" alt="" style="width:500px; height:312px;" /></p>

<p>You know what&#39;s a fun thing to do? Playing <a href="//rubenerd.com/tag/surfin-bird/">Surfin Bird</a> over Aussie breakfast TV! It actually fits spookily well. Is spookily a word? :)</p>
 
