---
title: 'Fun testing my NIKKOR 55-200mm in low light' 
date: "2009-06-02T08:32:54+10:00"
year: "2009"
category: Media
tag:
- flickr
- lenses
- nikkor
- nikon
- photography
- photos 
---
<p><img src="https://rubenerd.com/files/2009/testing-my-nikkor-55-200mm-vr_3588864096_o@1x.jpg" alt="Testing my new 55-200mm" srcset="https://rubenerd.com/files/2009/testing-my-nikkor-55-200mm-vr_3588864096_o@1x.jpg 1x, https://rubenerd.com/files/2009/testing-my-nikkor-55-200mm-vr_3588864096_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>
<p>This was a spontaneous extreme test of my new budget <a href="http://en.wikipedia.org/wiki/Nikon_55-200mm_f/4-5.6G_AF-S_Zoom-Nikkor">AF-S NIKKOR 55-200mm VR</a>. Without warning, a helicopter flew above us in the distance, and I had just enough time to pull the camera out of the camera bag (yes, a camera in a camera bag!) and take this picture before it flew into the distance. It was a blend of low light with a very fast moving object a long distance away with a uniform background. <em>You can&#39;t plan for such moments!</em></p>
<p>Considering it was very low light, the body of the helicopter came out sharper and more well definied that I would have expected, thanks in part because it&#39;s <a href="http://en.wikipedia.org/wiki/Image_stabilization">VR</a>. Even with my glasses I couldn&#39;t see any writing from the ground, but here we can clearly make out &quot;FTA&quot; and the &quot;VH-FIX&quot; registration (doesn&#39;t sound like a reassuring one!). If I were the type to snoop, this would be an affordable lens to use, no question. Wait, what?</p>
<p>What you can see though with the uniform background is the falloff (dark corners); while I&#39;d like to pretend I intentionally made the centre of the image brighter and the corners darker, this is the result of using the lens at the extreme 200mm end. One thing I&#39;ve learned with using DX lenses is the same with choosing an ISO level in the camera: generally it&#39;s better to be more conservative with your choice of settings and to avoid using it&#39;s most extreme setting.</p>
<p><img src="https://rubenerd.com/files/2009/testing-my-nikkor-55-200mm-vr_3588863788_o@1x.jpg" alt="Testing my new 55-200mm, traffic" srcset="https://rubenerd.com/files/2009/testing-my-nikkor-55-200mm-vr_3588863788_o@1x.jpg 1x, https://rubenerd.com/files/2009/testing-my-nikkor-55-200mm-vr_3588863788_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>
<p>The great thing about this lens is it&#39;s perfect for my D60, being a DX and AF-S lens it autofocuses (albeit not as quickly as my kit 18-55mm). I&#39;ve been really spoilt by the stunningly surpreme sharpness of my <a href="http://en.wikipedia.org/wiki/Nikon_50_mm_f/1.8D_AF_Nikkor">AF NIKKOR 50mm f/1.8D</a> (which is actually designed for full frame cameras), but it is nice to have the camera autofocus sometimes, especially in a situation like this photo when the reflexes of the photographer are especially important!</p>
<p>I&#39;ll continue to leave my 50mm mounted on my cute Nikon D60 because it&#39;s sharpness, speed and brilliant performance in low light is absolutely unmatched between my three lenses, but this 55-200mm is lightweight and very capable if used properly, and am looking forward to doing some more testing when I don&#39;t have so much work to do. <a href="http://www.kenrockwell.com/nikon/55-200mm-vr.htm">Ken Rockwell really likes this lens</a>.</p>
<p>I clearly still have much to learn about this interesting hobby!</p>
 
