---
title: 'Final review of ThinkPad X40 awesomeness' 
date: "2009-08-22T04:41:14+10:00"
year: "2009"
category: Hardware 
tag:
- debian
- design
- gnome
- infocomm
- pointless-anime-reference
- thinkpad
- thinkpad-x40
- x11
- yuki-in-photo 
---
<p><img src="https://rubenerd.com/files/uploads/photo.mine.x40.jpg" alt="My ThinkPad X40" style="height:334px; width:500px;" /></p>
<p>I know I&#39;ve posted about it far too much, but I just have to post one more time about my experiences with this amazing little machine.</p>
<p>It&#39;s been over a week since I installed <a href="http://debian.org/">Debian Lenny</a> on my <a href="//rubenerd.com/tag/thinkpad-x40/">newly bought second hand ThinkPad X40</a> and it&#39;s exceeded all my expectations. I honestly have not been as impressed with a non-Mac piece of hardware for years. It&#39;s extremely lightweight, has a fantastic full keyboard and despite having an old battery <a href="http://twitter.com/Rubenerd/status/3466836092">I still get 3+ hours</a> with the screen set to full brightness and WiFi on. I&#39;ve literally walked into lectures and tutorials at uni with just this machine which has been such a tremendous relief on my back compared to lugging my 15&quot; MacBook Pro. It&#39;s light, solidly built and it&#39;s 1.4GHz Pentium M with a scant 512MiB of memory perform far above what I expected.</p>
<p>As an <a href="http://xfce.org/">Xfce</a> user on <a href="http://freebsd.org/">FreeBSD</a> the other thing I&#39;ve been surprised by is how much I&#39;m enjoying Gnome 2.26. The problem is I tend to use FreeBSD on older machines and servers so Gnome has always been overkill but it works beautifully even on this older hardware. The built in graphical tools allow me to update software, configure wireless networks and even have true composting video effects which means I can have translucent menubars and all that cool stuff. The system also boots up quickly and standby works. It&#39;s almost feels as if IBM shipped me this ThinkPad with the software preinstalled.</p>
<p>I am still primarily a Mac guy, but I must admit I&#39;m tempted at some point when I decide to replace my MacBook Pro to spend the same amount of money on a <a href="http://shopap.lenovo.com/SEUILibrary/controller/e/auweb/LenovoPortal/en_AU/catalog.workflow:expandcategory?current-catalog-id=3634951826AE4D3881BFFF1AC5FCD957&#038;current-category-id=A56CF1BCD411404E8B1184A5C307A0FB">brand new ThinkPad</a> and put Debian or FreeBSD on it. If Debian with one of the heaviest *nix desktop environments performs this amazingly well on a four year old machine, imagine how well it would run on a current one! It&#39;d be stunning!</p>
<p>Having used Macs I cringe at the very sight of so many nasty, horribly flimsy, cheap and plastic PC laptops being passed off as well designed and expensive (not to even start on the <a href="//rubenerd.com/craptastic-v-second-hand/">budget craptops</a>) but my dad always said his ThinkPads were fantastic machines and now that I have a tiny one of my own I can honestly say I see the appeal.</p>
 
