---
title: 'Got me a set of TrackPoint replacement caps' 
date: "2009-08-20T12:06:19+10:00"
year: "2009"
category: Hardware 
tag:
- ibm
- infocomm
- mouses
- thinkpad
- thinkpad-x40
- trackpoint 
---
<p><img src="https://rubenerd.com/files/2009/replacement-thinkpad-mouse-caps_3836766984_o@1x.jpg" alt="Replacement ThinkPad mouse caps" srcset="https://rubenerd.com/files/2009/replacement-thinkpad-mouse-caps_3836766984_o@1x.jpg 1x, https://rubenerd.com/files/2009/replacement-thinkpad-mouse-caps_3836766984_o@2x.jpg 2x" style="width:500px; height:335px;" /></p>
<p><strong>I&#39;m gonna pop a cap in your</strong>… nah I can never pull off gangsta.</p>
<p>Depending on your attitude you either think the <a href="http://en.wikipedia.org/wiki/Pointing_stick">TrackPoint mouses</a> between the keys on ThinkPads are either fantastic or dreadful. I love them, I&#39;ve always been far more accurate with them than with trackpads or those trackballs older notebooks had. With all the multitouch gestures Apple now bundles with their laptop trackpads it&#39;s doubtful I&#39;ll ever get to use a TrackPoint mouse on a Mac, but I&#39;m enjoying the experience again on my <a href="//rubenerd.com/tag/thinkpad-x40/">second hand ThinkPad X40</a>.</p>
<p>Not only that, but as a *nix user I also love having three dedicated buttons which lets me copy and paste text in terminals as well as having the usual right click menus. <strong>Look at the mouse go! Click! Whoosh! Zoom! Blaz!</strong> Blaz?</p>
<p>Anyway because I got this machine second hand I quickly wanted to replace the gungy TrackPoint cap. You can buy a set of <a href="http://shopap.lenovo.com/SEUILibrary/controller/e/auweb/LenovoPortal/en_AU/catalog.workflow:item.detail?GroupID=38&#038;Code=73P2698&#038;current-category-id=E9ADAEB6787146E29B78400A33E7FE8A">replacement TrackPoint caps from Lenovo</a> but they&#39;re a whopping $25 so I <a href="http://shop.ebay.com.au/i.html?_nkw=trackpoint+caps+ibm">went on eBay</a> and picked up a set for a couple of bucks from a friendly guy in Melbourne.</p>
<p>The little bag of caps (product ID 73P2698) come with three different styles you can choose: the <strong>classic dome</strong>, <strong>soft dome</strong> and a <strong>concave soft rim</strong>. All three are great but I prefer the concave soft rim (top right in the photo I took above) because it fits the shape of my finger and I can apply much more pivoting force with less effort. By pushing on the edges I can also accurately move the cursor just one pixel in any direction with no effort at all. It&#39;s a beautiful thing.</p>
<p>If someone made an aftermarket TrackPoint mouse for Apple notebooks I would buy one in a heartbeat! I&#39;d forgotten how much I love them.</p>
 
