---
title: 'Train Simulator at 1am' 
date: "2009-10-30T01:42:59+10:00"
year: "2009"
category: Software
tag:
- gaming
- graphics
- infocomm
- night
- nostalgia
- retro
- sleep
- virtualisation
- vmware
- vmware-fusion 
---
<p><img src="https://rubenerd.com/files/2009/4055093819_8f36279a1d_o@1x.jpg" srcset="https://rubenerd.com/files/2009/4055093819_8f36279a1d_o@1x.jpg 1x, https://rubenerd.com/files/2009/4055093819_8f36279a1d_o@2x.jpg 2x" alt="Train Simulator in VMware Fusion 3.0" style="width:500px; height:341px;" /></p>

<p>Sometimes a short train trip late at night through the <a href="http://en.wikipedia.org/wiki/Marias_Pass">Marias Pass</a> train route in northern Montana with the 2001 era DirectX graphics and sky is just what I need to relax just before going to sleep.</p>
<p>I first got <a href="http://en.wikipedia.org/wiki/Microsoft_Train_Simulator">Train Simulator</a> in 2002, it was the first game I tried on my desktop at the time, the first game I tried running with Boot Camp with my then-new MacBook Pro in early 2006 (<a href="//rubenerd.com/widescreen-windows-gaming/">Windows gaming on a MacBook Pro</a>), and is still one of the reasons I keep a copy of Windows XP lying around for the 3D acceleration in software like <a href="//rubenerd.com/tag/vmware-fusion/">VMware Fusion</a>.</p>
<p>For someone who moved around so much as a kid and could never have huge trainsets, this was the closest I ever got, and I still find it fun :).</p>
 
