---
title: 'Trying out SmugMug' 
date: "2009-10-17T01:36:08+10:00"
year: "2009"
category: Internet
tag:
- flickr
- infocomm
- photography
- photos
- smugmug
- web-hosting 
---
<p><img src="https://rubenerd.com/files/uploads/screenie.smugmug.try.jpg" alt="" style="height:308px; width:500px; display:inline;" /></p>
<p>Trying out <a href="//rubenerd.com.smugmug.com/Food/Cocolat/">SmugMug</a> after hearing so many people on The Twitters and other sources rave about it. I&#39;ve uploaded a few photos from my sister&#39;s and my recent trip to <a href="http://www.cocolat.com.au/">Cocolat</a> on <a href="https://www.openstreetmap.org/way/4958467">Rundle Street in Adelaide</a>. Tastyness!</p>
<p>While I do love the design and think their uploading tools and generated URLs are far superior, I think I&#39;ll <a href="https://flickr.com/photos/rubenerd/">stick with Flickr</a> for now. I&#39;ve already got a ton of stuff hosted with them from many years of use, they make it easier to display images externally, not to mention the fact I <a href="//rubenerd.com/flickr-expire/">just topped up my pro account</a> so might as well use them for the next year!</p>
<p>The <a href="//rubenerd.com.smugmug.com/Food/Cocolat/">link to my testing account</a> will still be active for 30 days before it expires. Unless someone else can give me a reason why I should keep it up of course :)</p>
 
