---
title: 'Twitter councelling at 2am' 
date: "2009-09-01T03:30:41+10:00"
year: "2009"
category: Thoughts 
tag: 
- night
- philosophy
- sleep
- twitter
- worrying 
---
<p><img src="https://rubenerd.com/files/2009/drizzly-parking-lot_3602635257_o@1x.jpg" alt="Drizzly parking lot" srcset="https://rubenerd.com/files/2009/drizzly-parking-lot_3602635257_o@1x.jpg 1x, https://rubenerd.com/files/2009/drizzly-parking-lot_3602635257_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>
<p>There seems to be a certain class of people who derive their primary source of life value by <a href="http://www.google.com.au/search?q=twitter+sucks">mocking Twitter</a> because it&#39;s not good enough for them to simply not use it. Fair enough, if it helps them to get high, it&#39;s probably healthier they do that than using drugs!</p>
<p>Last night I couldn&#39;t sleep because I had so many conflicting worrying thoughts in my head. As longer time readers here would know I&#39;ve <a href="//rubenerd.com/tag/sleep/">never been that good at sleeping</a>, but these last few weeks have been particularly hard. You probably know the drill yourself, your head hits the pillow and for the next two hours you&#39;re shifting around trying to get comfortable while all these negative thoughts and scenarios play out in your head. Personally I find myself dwelling on the past as much as the future, I&#39;m constantly going through the &quot;what if&#39;s&quot;.</p>
<p>As I said on Twitter though, sometimes it helps to put things into perspective. As I sat in bed worrying about studies, work, family and time there were people around the world who didn&#39;t even have a place to sleep. I&#39;m typing this on a computer which most people around the world couldn&#39;t dream of affording. When I woke up in the morning I could go to the fridge to get something to eat then have a hot shower, two more things much of the people in the world don&#39;t have access to.</p>
<p>I guess it&#39;s harder to make rational sense at 2am when you have assignments due, work that&#39;s behind schedule, an unpaid bill you&#39;re disputing and getting angry calls about, and social anxiety problems. Cliche developed world problems I&#39;m sure many around the world would more than happily exchange me for.</p>
<p>It&#39;s all about our frame of reference. In my case I suppose I just have to work at making the frame bigger and to stop dwelling on problems when I&#39;m alone with my thoughts when I&#39;m trying to sleep. Makes rational, logical sense but alas seems to be easier said than done.</p>
 
