---
title: 'Twittering with South Australian Premier Mike Rann!' 
date: "2009-05-05T05:52:48+10:00"
year: "2009"
category: Thoughts 
tag: 
- australia
- mike-rann
- politics
- south-australia
- twitter 
---
<p><img src="https://rubenerd.com/files/2009/3503098739_f851aeab8a_o@1x.jpg" srcset="https://rubenerd.com/files/2009/3503098739_f851aeab8a_o@1x.jpg 1x, https://rubenerd.com/files/2009/3503098739_f851aeab8a_o@2x.jpg 2x" alt="Twittering with Premier Mike Rann" style="width:500px" /></p>

<p><a href="http://twitter.com/rubenerd/">Twitter</a> really is an amazing communication system for so many reasons, one of which is it&#39;s allowed me to contact and receive replies from famous people who otherwise would have been out of my reach such as <a href="http://twitter.com/SteveGillmor">Steve Gillmor</a>, <a href="http://twitter.com/JDLasica">JD Lasica</a>, <a href="http://twitter.com/StephenFry">Stephen Fry</a>, <a href="http://twitter.com/THErealDVORAK">John C. Dvorak</a> and <a href="http://twitter.com/AlexLindsay">Alex Lindsay</a>.</p>
<blockquote><p><strong>ASIDE:</strong> Notice I said &#8220;famous people&#8221; not celebrieties because, to be honest I don’t give a hoot about most celebrities from movies, music and television. Not to mention I suspect a great deal of them aren’t actually Twittering but have a publicist.</p></blockquote>
<p>The latest name to add to this list is the Premier of the state of South Australia <a href="http://twitter.com/PremierMikeRann">Mike Rann</a>! If you&#39;re not up to date with local politics here (judging from my server logs that more than 90% of you!) you wouldn&#39;t know what we were discussing, but the fact that I sent him a series of messages and actually got replies… blows my mind! In many ways I&#39;m still a very simple person :)</p>
<p><a href="http://en.wikipedia.org/wiki/Mike_Rann">Mike Rann (Wikipedia)</a> has been the Premier and head of the Labor party here in South Australia for seven years and has been one of the few leaders in the country to really &quot;get&quot; digital communication platforms such as Twitter; <a href="http://www.ministers.sa.gov.au/index.php">his official website</a> places a link to his Twitter account on no less than the front page! I also applaud his tough stance on bikie gangs, his choice to take to high road when responding to Victorian government officials dubbing Adelaide as a backwater, extending the Gleneng tram line to the Adelaide Railway Station, his support for solar power and passing legislation that makes South Australia the first state in the country to phase out harmful plastic bags.</p>
 
