---
title: 'Twitter’s low retention rate' 
date: "2009-04-29T01:23:45+10:00"
year: "2009"
category: Thoughts 
tag: 
- clipmarks
- marketing
- retention-rates
- twitter 
---
<p><img src="https://rubenerd.com/files/uploads/logo.twitter.bird.png" alt="The Twitter bird" style="height:151px; width:306px; display:inline; border:0px;" /></p>
<p><a href="http://www.news.com.au/adelaidenow/story/0,22606,25403477-5006301,00.html">AdelaideNow is reporting</a> that <a href="http://twitter.com/">Twitter</a> has a far lower retention rate of other sites such as Facebook or presumably GeoCities back in the late 1990s. So?</p>
<p>It really bugs me when people attempt to adopt old media principals such as ratings and retention rates and apply them to websites to draw the same conclusions. I’ve long since thought ratings for television shows were suspect, but online they make even less sense, if that’s possible.</p>
<p>For example, according to my server logs I have a retention rate of 33.3% which is in a similar league to Twitter. Therefore, I must be as successful as Twitter is, by golly gee whiz wow! When do I get my large swaths of venture capital?</p>
<p>Such ratings also don’t take into account how sites are used. For example Facebook may have a higher retention rate simply because people log in to check messages then leave again; the nature of Twitter is that you’re generally posting messages or not logging in at all. And who’s to say the 70% of people sticking with Facebook are better than the 40% or so of people who stick with Twitter? <strong>That’s the problem with quantitative and qualitative analysis, just doing one doesn’t tell you anything.</strong></p>
<p>Even in spite of my own vested interests in the service as an avid user and fan when all other social networks have failed me in the past, I can confidently say Twitter is doing just fine.</p>

<p><a href="http://clipmarks.com/clipmark/B2552150-AFE1-4567-819F-8017AD2686C3/">Clipmarked</a> from <a href="http://www.news.com.au/adelaidenow/story/0,22606,25403477-5006301,00.html">AdelaideNow</a>:</p>

<blockquote cite="http://www.news.com.au/adelaidenow/story/0,22606,25403477-5006301,00.html"><p>MORE than 60 per cent of Twitter users have stopped using the micro-blogging service a month after joining, according to Nielsen Online research.</p>

<p>&#8220;Twitter has enjoyed a nice ride over the last few months, but it will not be able to sustain its meteoric rise without establishing a higher level of user loyalty,&#8221; said David Martin, Nielsen Online’s vice president for primary research.</p>

<p>Martin said that when Facebook and MySpace were emerging networks like Twitter their retention rates were twice as high and they now have retention rates of nearly 70 per cent.</p>
</blockquote>

