---
title: 'A wild weather umbrella safety warning' 
date: "2009-08-24T11:01:04+10:00"
year: "2009"
category: Thoughts 
tag: 
- adelaide
- australia
- boatdeck-cafe
- weather 
---
<p><img src="https://rubenerd.com/files/2009/dark-rainy-afternoon-from-boatdeck-cafe_3851555647_o@1x.jpg" alt="Dark, rainy afternoon from Boatdeck Cafe" srcset="https://rubenerd.com/files/2009/dark-rainy-afternoon-from-boatdeck-cafe_3851555647_o@1x.jpg 1x, https://rubenerd.com/files/2009/dark-rainy-afternoon-from-boatdeck-cafe_3851555647_o@2x.jpg 2x" style="width:500px; height:375px;" /></p>
<p>That is the view outside the <a href="http://www.theboatdeck.com.au">Boatdeck Cafe</a> where I typed up this post early this afternoon as I drank a huge cup of frothy coffee to warm me up. The rain stopped as soon as I came in of course.</p>
<p>Weather is an unpredictable beast, to the extent that meteorologists can sustain their lives by attempting to predict it with newer and more expensive equipment which themselves are funded by the preoccupation we all have with not getting ourselves wet when we leave the house and ensuring we&#39;re wearing adequate clothing for the temperatures we&#39;ll be facing. That was a very long sentence, especially when compared to this one.</p>
<p>In a day where other cities in the country were experiencing mini heatwaves (Sydney and Brisbane I&#39;m looking at you!) Adelaide was blustery and frigidly cold. Blustery is a word right? It was insanely windy, so windy that the glass in our windows was rattling and creaking and the rain was falling almost horizontally. I also saw a semi trailer loaded up with bricks and cinder blocks literally sailing through the air outside the window, though that could have just been a Matchbox car.</p>
<p><img src="https://rubenerd.com/files/uploads/screenie.sbs.wildweather2009.jpg" alt="" style="height:288px; width:500px; display:inline; border:0em;" /></p>
<p>The screenshot above was from the <a href="http://www.sbs.com.au/news">SBS World News</a> bulletin from earlier this evening. We were told two low pressure systems acting on each other so disruptively isn&#39;t unusual in itself, but that it typically happens in Australia in September-October not August! Adelaide is right in the middle of the two bands of white cloud stuff.</p>
<p>Why am I boring you with bad weather talk this evening? It has to do with personal safety, from personal experience. You can safely ignore the nonsense I&#39;ve belaboured so far, but <strong>I&#39;d start taking notes from here on if I were you</strong>.</p>
<p>Ladies and gentlemen, if you per chance find yourself facing the daunting task of taking on extremely heavy rain and strong winds, do not take a very large umbrella thinking it will help to shield you from getting too wet. For one thing it&#39;s entirely ineffective; when rain isn&#39;t obeying gravity or the laws of physics your crappy piece of material held together with tiny metal rods isn&#39;t going to do squat.</p>
<p>Secondly, and more importantly, by using a huge umbrella in strong winds and rain you are essentially unfolding a gigantic sail which if you hold on to makes you the servant in the relationship, not the master. This afternoon the wind was so strong I was being pulled by the umbrella and as a result was nearly forced off a bridge twice and onto the road in the path of an oncoming automotive driver in their motorised vehicle. I would not have wanted to be the person to clean up that mess.</p>
<p>If my terrifying message of hope has been useful, consider donating me a cup of coffee by clicking the link on the right hand side of the site here. It&#39;s a small price to pay for your safety am I right? Wait, that really didn&#39;t sound right. Did I mention I saw a semi trailer loaded up with bricks and cinder blocks sailing through the air?</p>
 
