---
title: 'Viewing images from the Terminal in Mac OS X' 
date: "2009-01-03T02:32:07+10:00"
year: "2009"
category: Software
tag:
- guide
- howto
- infocomm
- mac-os-x
- preview-app
- terminal 
---
<p><img src="https://rubenerd.com/files/uploads/screenie.terminal.preview.jpg" alt="Viewing images from the Terminal in Mac OS X" style="display:inline; border:0px; height:322px; width:500px;" /><br /><cite>You can pass multiple images to the Preview app, very nice!</cite></p>
<p>The more I learn and love <a href="http://www.freebsd.org/">FreeBSD</a> the more I&#39;ve been using the <a href="http://en.wikipedia.org/wiki/Apple_Terminal">Terminal application</a> on my Macs, to the point now where I&#39;m using it more than any other application except perhaps a web browser: for file file compression and management the command line is so much quicker and simpler. As a result I&#39;ve been trying to modify my workflow to allow me to work inside the Terminal even more, and I thought I&#39;d share some tips I&#39;ve picked up here.</p>
<p>One such example is viewing images and other media from the Terminal. Just as you probably use the bundled <a href="http://en.wikipedia.org/wiki/Preview_(software)">Preview.app</a> to do this when you&#39;re in the Finder or from the OPENSTEP days, you can also call it from the Terminal to do the same thing. For example, to load a picture called <code>Geass.jpg</code>:</p>
<pre>
% /Applications/Preview.app/Contents/MacOS/Preview Geass.jpg
</pre>
<p>And voila, Preview opens showing you the image you told it to load… from the Terminal! You can pass multiple images seperated with spaces, you can even mix in a few PDFs into your list. The scripting potential is just making me quiver with excitement! Okay maybe not, but still.</p>

