---
title: 'Joe is back at the Boatdeck' 
date: "2009-08-22T04:05:00+10:00"
year: "2009"
category: Travel
tag: 
- boatdeck-cafe
- food
- lebanon
---
<p><img src="https://rubenerd.com/files/2009/subtle-coffee-art_3844867202_o@1x.jpg" srcset="https://rubenerd.com/files/2009/subtle-coffee-art_3844867202_o@1x.jpg 1x, https://rubenerd.com/files/2009/subtle-coffee-art_3844867202_o@2x.jpg 2x" alt="Coffee art" style="width:420px; height:560px;" /></p>

<p>Given I spend so much time at the <a href="http://www.theboatdeck.com.au/">Boatdeck Cafe</a> programming and drinking their amazing coffee I&#39;d noticed the owner Joe Karem hadn&#39;t been there for a while since I came back. Turns out he didn&#39;t divulge himself of his shares after all, he was on holidays in Lebanon around the same time as I was back in Singapore but stayed there longer.</p>
<p>Lebanon is on my ever expanding laundry list of <a href="http://www.lebanon-tourism.gov.lb/">places I want to visit</a> because Beirut has some amazing architecture and cultural sights, but mostly because I love Lebanese food! The best Lebanese I&#39;ve had in Australia was in a kebab stall in Canberra of all places, in South-East Asia I had a great lunch at the <a href="http://www.alamanda.com.my/">Alamanda shopping centre</a> in Putrajaya. Does being a capital ensure you have good Lebanese food, is that it?</p>
<p>I&#39;d be interested to hear what people reckon is the best place to get it in Adelaide, I admit now I&#39;m having insane cravings!</p>
 
