---
title: 'Welcome Google Reader readers!' 
date: "2009-09-30T11:46:19+10:00"
year: "2009"
category: Internet
tag:
- blog-aggregators
- google-reader
- grilled-cheese-sandwiches
- infocomm
- personal
- rss
- web-feeds
- weblog 
---
<p><img src="https://rubenerd.com/files/2009/apparently-these-are-weeds_3969124894_o@1x.jpg" alt="Apparently these are weeds" srcset="https://rubenerd.com/files/2009/apparently-these-are-weeds_3969124894_o@1x.jpg 1x, https://rubenerd.com/files/2009/apparently-these-are-weeds_3969124894_o@2x.jpg 2x" style="width:500px; height:335px;" /></p>
<p>Checking my Google Reader page this evening I noticed all of a sudden I have <strong>18 readers</strong> for my main RSS feed here at <a href="//rubenerd.com/feed/">Rubenerd.com</a>, and <strong>34 readers</strong> for the <a rel="nofollow" href="//rubenerd.com/show/blog/feed/">old URL</a> bringing the <strong>total to 52</strong>! I do admit I started blogging because I enjoy writing about my weird and disparate interests first and foremost, but it&#39;s another world of good feeling knowing a few of you are interested in some of it too.</p>
<p><em><code>&lt;Cheesyness&gt;</code></em> So I just wanted to get all soppy for a second and send out a thank you and a hug to all of you for thinking my material here was worthwhile enough to warrant some of the time from your hectic electronic lives. Its a fulfilling feeling that has helped a socially awkward, introverted guy like me in ways you can&#39;t imagine. <em><code>&lt;/cheesyness&gt;</code></em></p>
<p>I&#39;ll try my best to minimise the number of typos and grammar mistakes :). I chose the above photo from my <a href="https://www.flickr.com/photos/rubenerd/sets/72157622471354226/">Flickr account</a> because it looked all dramatic and the primary colour is similar to uncooked grilled cheese sandwiches.</p>
<p>Peace, health and happiness,<br />
<cite>~  <a style="font-weight:bold" href="//rubenerd.com/about/">Ruben</a></cite></p>
 
