---
title: 'Westpac’s bold new advertising campaign' 
date: "2009-08-12T09:15:33+10:00"
year: "2009"
category: Thoughts 
tag: 
- advertising
- banks
- grilled-cheese-sandwiches
- pointless
- television 
---
<p><a href="https://flickr.com/photos/dodge76/sets/72157601241522720/"><img src="https://rubenerd.com/files/2009/2135074572_32769e56b3_o@1x.jpg" srcset="https://rubenerd.com/files/2009/2135074572_32769e56b3_o@1x.jpg 1x, https://rubenerd.com/files/2009/2135074572_32769e56b3_o@2x.jpg 2x" alt="Photo is of the ANZ and Westpac bank buildings on an appropriately drizzly day in central Adelaide, by Dodge 76 on Flickr." style="width:420px; height:560px;" /></a></p>
<p>Photo is of the ANZ and Westpac bank buildings on an appropriately drizzly day in central Adelaide, by <a href="https://flickr.com/photos/dodge76/sets/72157601241522720/">Dodge 76</a> on Flickr.</p>
<p>I saw Westpac&#39;s latest television advertisement on the television. Which was a good thing because I spent weeks looking at a banana expecting to see a Westpac television advertisement but all I got was banana. It did start changing from yellow to brown though in it&#39;s fourth episode, but by then I&#39;d lost interest due to obvious scripting problems.</p>
<p>The new slogan Westpac was proudly trumpeting on television:</p>
<blockquote><p>We’re a bank you can bank on.</p></blockquote>
<p>Need to read that again?</p>
<blockquote><p>We’re a grilled cheese sandwich you can bank on.</p></blockquote>
<p>Don&#39;t believe me? After doing a bit of digging online to determine whether or not I had in fact heard what the advertisement was saying correctly, it turns out they&#39;re so proud of it you can <a href="http://www.westpac.com.au/internet/publish.nsf/content/WICP+A+bank+you+can+bank+on">download it from their website</a>!</p>
<p>Now ladies and gentleman having just seen said advertisment, I have so many words and thoughts spinning through my head as we speak that I don&#39;t quite know in what order to type them here if at all. Perhaps starting from the beginning would be a useful thing to do.</p>
<p>Firstly, I know what you&#39;re thinking. I&#39;m not psychic, I&#39;m just very good at reading people. The Westpac Bank advertising itself by saying that line is silly because we <strong>ALL KNOW</strong> this line was already used in a <a href="http://www.businessweek.com/archives/1992/b326156.arc.htm">BusinessWeek article from 1992</a> about the Chicago Bank. I <a href="http://www79.wolframalpha.com/input/?i=adelaide+chicago">checked Wolfram Alpha</a>, and this is the difference between Adelaide where Westpac aired this advertisement, and Chicago where I&#39;ve divined the Chicago Bank has its headquarters:</p>
<p><img src="https://rubenerd.com/files/uploads/screenie.wolfram.adelaide.chicago.png" alt="Adelaide and Chicago distance" style="height:380px; width:500px; display:inline; border:0px;" /></p>
<p>The second, perhaps more subtle aspect of this advertising campaign which you probably haven&#39;t figured out for yourself is just how needlessly unnecessary it is. Yes Westpac you&#39;re a bank, and if I do business with you I know I can bank with you. This I can figure out from the fact you&#39;re a bank, I don&#39;t need restaurants telling me I can eat their food, or the vending machines at the Mawson Lakes campus of my university telling me they&#39;ll take my change and give me nothing in return. This is to be expected. You&#39;re not crediting (HA!) your audience with much intelligence.</p>
<p>Perhaps the problem is Westpac is being direct and forthcoming, but they&#39;re not quite at the point where Captain Obvious swoops down from the sky to proclaim he&#39;s Captain Obvious. I suggest this slogan with a very clever pun for their next campaign.</p>
<blockquote><p>We’ll keep your money safe, as well as in a safe.</p></blockquote>
<p>I wonder how much Westpac paid their advertising agency for their current slogan, and whether they&#39;re kicking themselves now that they know they could have just come to Rubenerd.com and got one of equal calibre for free.</p>
<p style="font-style:italic;"><strong>2019 Update:</strong> Fixed the broken image.</p>
 
