---
title: 'Who are YOU looking at?' 
date: "2009-01-23T04:51:03+10:00"
year: "2009"
category: Media
tag:
- dogs
- funny
- pets
- photos 
---
<p><img src="https://rubenerd.com/files/2009/who-are-you-looking-at_3216830207_o@1x.jpg" alt="Who are YOU looking at?" srcset="https://rubenerd.com/files/2009/who-are-you-looking-at_3216830207_o@1x.jpg 1x, https://rubenerd.com/files/2009/who-are-you-looking-at_3216830207_o@2x.jpg 2x" style="width:500px; height:335px;" /></p>
<p>Photo taken this morning of Romeo, the older of our two family doggies. Even though he&#39;s seven, he looks and acts like a puppy still. Really friendly little guy :).</p>
 
