---
title: 'Why I’m studying in Adelaide, stop bugging me!' 
date: "2009-11-13T04:39:25+10:00"
year: "2009"
category: Thoughts 
tag: 
- adelaide
- australia
- get-off-my-case 
---
<p><img src="https://rubenerd.com/files/2009/north-terrace-in-adelaide_4099346139_o@1x.jpg" alt="North Terrace in Adelaide" srcset="https://rubenerd.com/files/2009/north-terrace-in-adelaide_4099346139_o@1x.jpg 1x, https://rubenerd.com/files/2009/north-terrace-in-adelaide_4099346139_o@2x.jpg 2x" style="width:500px; height:335px;" /></p>
<p>Of all the people from my <a href="http://www.ais.com.sg/">class of 2004 in Singapore</a>, I&#39;m one of the few who didn&#39;t go to university in Melbourne or Sydney, and it seems every few days someone feels compelled to ask me why; often from people I&#39;ve never met. The conversation usually goes something like this…</p>
<p><!--oldmore--></p>
<ul>
<li>Hey Ruben, where are you thesedays?</li>
<li>I’m studying in Adelaide</li>
<li>Eww! Why Adelaide?</li>
<li>Because.</li>
<li>Lame/Boring/Stupid! What’s wrong with you?</li>
<li>Your fly is undone. Ha, made you look!</li>
</ul>
<p>I&#39;m tired of having this same conversation, so I&#39;ve decided to put all my answers on this one blog post. If you&#39;ve poked fun at me then asked why I&#39;m studying in Adelaide instead of Sydney or Melbourne, take your pick from these pre-written answers below. It&#39;s like Ikea, but these are flat packed answers!</p>
<h3>Why are you studying in Adelaide Ruben?!</h3>
<ul>
<li>Its different.</li>
<li>I grew up in large, crowded cities and wanted a change.</li>
<li>People here are friendly and the atmosphere is more relaxed.</li>
<li>People here don’t have a superiority complex (Melbourne, cough!).</li>
<li>Given how much time I spend at them, the new airport is schweet.</li>
<li>Farmers Union Iced Coffee, Coopers Mild Ale.</li>
<li>My extended family are in Sydney and I wanted a fresh start.</li>
<li>More affordable.</li>
<li>Rundle Mall is like a miniature Orchard Road!</li>
<li>UniSA staff are extremely understanding of family issues.</li>
<li>Very friendly local Twitter community.</li>
<li>I’ve already lived in Sydney, Melbourne and Brisbane. Trying something new.</li>
<li>The state’s name is self documenting!</li>
<li>Internode, Oracle, Australian Central Credit Union.</li>
<li>Metro area is a navigable size without a drivers licence.</li>
<li>Trees, clear air.</li>
<li>Hahndorf, Barossa Valley, Flinders Ranges.</li>
<li>Public transport is easier than Sydney or Melbourne.</li>
<li>Only six hour flight from Singapore, and Singapore Airlines flies direct</li>
<li>Mawson Lakes is a pretty little bubble that has my uni campus, a fantastic family run coffee shop, my house, a Woolies, lots of cute ducks, a GP, a train station to the city and everything else I need :).</li>
<li>Why do I have to justify my life choices to you? ;)</li>
<li>If you don’t like Adelaide, don’t come :)</li>
</ul>
<h3>To be fair, any negatives?</h3>
<ul>
<li>Half hour off timezone! Why not +0900?</li>
<li>Having internet quotas (though to be fair that’s all of Australia)</li>
<li>Designer Direct closing down sale ads!</li>
</ul>
 
