---
title: 'Wikipedia’s new spiffy beta UI' 
date: "2009-09-03T07:24:04+10:00"
year: "2009"
category: Internet
tag:
- css
- infocomm
- mediawiki
- themes
- wikipedia 
---
<p><img src="https://rubenerd.com/files/2009/3884033894_7dcac1b705_o@1x.jpg" srcset="https://rubenerd.com/files/2009/3884033894_7dcac1b705_o@1x.jpg 1x, https://rubenerd.com/files/2009/3884033894_7dcac1b705_o2x.jpg 2x" alt="Wikipedia Beta Theme" style="width:500px; height:312px;" /></p>

<p>If you log into <a href="http://en.wikipedia.org/wiki/">Wikipedia</a>, there&#39;s a link in the top right corner that lets you try their new beta user interface. Don&#39;t know how long has it been there, I&#39;ve never seen it before now.</p>
<p>I think the new theme does look classier despite being slightly less efficient with screen real estate. It also introduces an interesting new per-user &quot;book&quot; feature which you can add articles to.</p>
<blockquote><p><strong>UPDATE:</strong> It seems this book feature has been made available for general use in the sidebar not just for people participating in the beta.</p></blockquote>
<p>I wonder if this new theme and new features will be made available for other MediaWiki installs? That be schweeet :D</p>
 
