---
title: 'Getting a copy of Windows 7 Home Basic' 
date: "2009-08-16T04:39:38+10:00"
year: "2009"
category: Software
tag:
- infocomm
- microsoft
- upgrading
- windows
- windows-2000
- windows-7 
---
<p><img src="https://rubenerd.com/files/2009/3824895365_0b657683d0_o.png" alt="Testing Rubenerd.com in IE8" style="width:500px" /></p>

<p>Given some of the software I have to run at university is Windows only and that I need to test sites in IE, I&#39;ve been using Windows 2000 and later a copy of the release candidate of Windows 7 in a virtual machine. I&#39;ve decided it&#39;s probably in my best interests to purchase a licence for 7 once it becomes available.</p>
<p>As far as I can tell I don&#39;t need, want or care about any of the so called premium features of Windows 7 so I want the most barebones one possible. <strong>Windows 7 Starter</strong> is out of the question because I just can&#39;t bring myself to use an OS where you&#39;re <a href="http://www.withinwindows.com/2009/03/28/surprise-you-cant-change-your-wallpaper-in-windows-7-starter-edition/">not even allowed to change your desktop background</a>. Whatever the marketing people at Microsoft are smoking I advise them to get off it before it causes them all irreversible brain damage! I turn Aero off on machines I use so not having that doesn&#39;t bother me.</p>
<p>Problem is the next one up is <strong>Windows 7 Home Basic</strong> which according to Wikipedia will only be available in so called &quot;emerging markets&quot;, no doubt to help stop people from considering free software alternatives that do most of what they want to do without most of the vendor lock-in and high prices. I guess it makes sense.</p>
<p>Here&#39;s what I was thinking. When I go back to Singapore for Christmas to see my dad and we head over to Bangkok I might be able to grab myself a copy there, though I assume there&#39;s a clause in the EULA that states taking a copy of Home Basic outside an emerging market is illegal or some other dubious legal claim. Would I have to run that virtual machine through a Thai proxy server whenever I wanted to update it to trick it into thinking I was using it there? ;)</p>
<p>Once again Microsoft saves itself from a failed product (Vista) with a relatively decent product, then fails in the marketing and follow up. It&#39;s a bummer, I really thought they had a compelling product here for the first time in a long time. I guess they still have time before the final release.</p>
<p>I wonder if they&#39;ll have student pricing for Windows 7? I know <a href="http://www.microsoft.com/student/discounts/itsnotcheating/">they do for Vista</a>. I&#39;m assuming my legitimate retail Windows 2000 Professional licence won&#39;t mean squat for an upgrade, and even if it did it would probably only apply to the Professional or Enterprise versions which are too expensive anyway. Might have to look into this.</p>
 
