---
title: 'Dave Winer on money versus happiness' 
date: "2009-04-20T09:23:19+10:00"
year: "2009"
category: Thoughts 
tag: 
- clipmarks
- dave-winer
- happiness
- finances
---
<p>Very well put.</p>

<p><a href="http://clipmarks.com/clipmark/17D47E74-0A44-460F-938B-75DA4EAD4B5E/">Clipmarked</a> from <a href="http://www.scripting.com/stories/2009/04/18/whatILearnedAboutBeingRich.html">Scripting News</a>:</p>

<blockquote>
<p>I made enough money in the late 80s to realize what wealth buys &#8212; distance. Then it took a few years to learn that distance is not what I wanted, in fact I don’t think it’s human to crave distance. People are built to want to be among others, at least I was.</p>

<p>I bought a house with a 750 foot driveway in the middle of the woods. My neighbors built houses the size of high schools. You couldn’t walk anywhere.</p>

<p>Now I live among humanity, much more modestly and I’m happier.</p>
</blockquote>
 
