---
title: 'Removing Categories from WordPress URIs' 
date: "2009-06-27T10:53:20+10:00"
year: "2009"
category: Internet
tag:
- far-too-long
- infocomm
- nobody-cares
- plugins
- pointless
- weblog
- wordpress 
---
<p><img src="https://rubenerd.com/files/uploads/graphic.wordpress.icon.png" alt="WordPress icon." style="height:140px; width:380px; border:0px; display:inline;" /></p>
<p>A few months ago <a href="//rubenerd.com/wordpress-category-uri/">I lampooned WordPress</a> for it&#39;s need to have the term &quot;category&quot; appear within every category URL. It appears I&#39;m <a href="http://wordpress.org/extend/ideas/topic.php?id=359">not the only one who found this irritating</a>.</p>
<p>For me I wanted to merge all my disparate nonsense blogs into one meta nonsense blog (<a href="//rubenerd.com/">Rubenerd.com</a>) which would be easier to maintain, then use categories with their own CSS to make them still appear separate. A shrewd, devilish cunning plan <a href="http://en.wikipedia.org/wiki/Blackadder">worthy of Baldric himself</a>, but alas having the term &quot;category&quot; in all the URis spoilt the illusion.</p>

<table style="border:0px; border-collapse:collapse;">
<tr>
<th>Original blogs</th>
<th>Ideal new sub-URI</th>
<th>WordPress illusion screwup</th>
</tr>
<tr>
<td style="padding-right:1em">Rubenerd Show</td>
<td style="padding-right:1em">/show/</td>
<td>/category/show/</td>
</tr>
<tr>
<td style="padding-right:1em">Fun Facts</td>
<td style="padding-right:1em">/nonsense/</td>
<td>/category/nonsense/</td>
</tr>
<tr>
<td style="padding-right:1em">Intranet</td>
<td style="padding-right:1em">/anime/</td>
<td>/category/anime/</td>
</tr>
<tr>
<td style="padding-right:1em">Studies</td>
<td style="padding-right:1em">/studies/</td>
<td>/category/studies/</td>
</tr>
</table>

<p>Fortunately having played with and been disappointed by so many plugins in the past, I&#39;ve finally found one that works so beautifully I&#39;m thinking of sending the writer a grilled cheese sandwich: the adeptly-titled <a style="font-weight:bold" href="http://wordpresssupplies.com/wordpress-plugins/no-category-base/">WP No Category Base</a>. Not only does it work right out of the box, but it also redirects your previous category permalinks which means you don&#39;t need to mess with <code>.htaccess</code> files. A beautiful, elegant solution!</p>
<blockquote cite="http://wordpresssupplies.com/wordpress-plugins/no-category-base/"><p>As the name suggests this plugin will completely remove the mandatory &quot;Category Base&quot; from your category permalinks ( e.g. &quot;myblog.com/category/my-category/&quot; to &quot;myblog.com/my-category/&quot;.</p>
<p>The plugin requires no setup or modifying core wordpress files and will not break any links.</p></blockquote>
<p>Now I can finally start to import all my other posts. Apparently the anime category gets the most hits here anyway despite it having nothing of value in it! Crazy, grilled cheese sandwich stuff.</p>
<p>I&#39;ve <a href="//rubenerd.com/excluding-wp-categories/">already figured out how to exclude certain categories</a> from certain places so they act like separate sites with their own styles and whatnot, now I just need to work out the feeds. I know WordPress allows you to generate separate RSS and Atom feeds for different categories, but how do I customise them? For example, add iTunes information to the Rubenerd Show category feed, but not any others.</p>
<p>If I spent as much time blogging and talking about interesting topics on my blog and podcast as I did blogging and talking about blogging and talking, I&#39;d get much more blogging and talking done on my blog and podcast. Wait, what?</p>
 
