---
title: 'Yellow Envelope junk mail' 
date: "2009-09-13T06:26:10+10:00"
year: "2009"
category: Thoughts 
tag: 
- adelaide
- australia
- environment
- junk-mail
- neal-ocarroll
- rant
- spam 
---
<p><img src="https://rubenerd.com/files/2009/junk-mail_3915149668_o@1x.jpg" alt="Junk Mail" srcset="https://rubenerd.com/files/2009/junk-mail_3915149668_o@1x.jpg 1x, https://rubenerd.com/files/2009/junk-mail_3915149668_o@2x.jpg 2x" style="width:500px; height:335px;" /></p>
<p>As a greenie, while <a href="//rubenerd.com/tag/spam/">electronic junk mail</a> frustrates me, it&#39;s nothing compared to the frustration I feel when we get snail mail junk here, especially considering we have one of those &quot;No Junk Mail&quot; stickers. I&#39;m starting to think I may have to be <a href="http://twitpic.com/hajd2">more specific</a>. It&#39;s such a waste of resources considering very few people want them and often just throw such crap away away.</p>
<p>This latest piece of [expletive] junk mail disuses itself as a legitimate piece of business correspondence with a proper envelope and fake franked stamp. Upon opening though, its just a huge slab of loose leaf advertisements peddling everything from phone contracts to hit men (I presume). Despite not asking for it (opting in) and having a notice on my mailbox stating I did not want it (opting out) they gave it to me anyway.</p>
<p><a href="http://twitpic.com/hak2s"><img src="https://rubenerd.com/files/uploads/photo.njoc.junkmail.jpg" alt="Neal O'Carroll's No Junk Mail sign" style="height:375px; width:500px; display:inline; border:0em;" /></a></p>
<p>I already have contracts with Telstra and Optus alas, but as for the rest I will not be purchasing goods from the following folk for supporting such a dodgy enterprise. I&#39;m not linking to their sites so I don&#39;t inadvertently give them Google Juice, and I&#39;m showing them in a cloud to make it look less icky. Thank you.</p>
<dl>
<dt style="font-weight:bold">Bradford Exchange</dt>
<dd>Can I exchange your junk mail for mail I want?</dd>
<dt style="font-weight:bold">Debt Mediators Australia</dt>
<dd>How much money did you blow paying for this advertising?</dd>
<dt style="font-weight:bold">Electrodry</dt>
<dd>Do you make electric shredders?</dd>
<dt style="font-weight:bold">European Lottery Guild</dt>
<dd>I like to spend my money to get something in return</dd>
<dt style="font-weight:bold">Fitness First</dt>
<dd>No, irritate people with your junk mail first</dd>
<dt style="font-weight:bold">Kresta</dt>
<dd>Are the blinds on your glasses shut guys?</dd>
<dt style="font-weight:bold">IdentityDirect</dt>
<dd>No need, I’ve identified you as a junk mailer</dd>
<dt style="font-weight:bold">InsuranceLine</dt>
<dd>Why not spend the money paying claims instead of junk mailers?</dd>
<dt style="font-weight:bold">Labels By Mail</dt>
<dd>After receiving junk by mail, is that how it works?</dd>
<dt style="font-weight:bold">MagnaMail</dt>
<dd>False avertising junk mail, a Mitsubishi car can’t fit in an envelope</dd>
<dt style="font-weight:bold">Maths Worldwide</dt>
<dd>I don’t trust their maths if they thought paying spammers made financial sense</dd>
<dt style="font-weight:bold">MyAdventureBooks</dt>
<dd>MyAdventureSpam?</dd>
<dt style="font-weight:bold">SGIC</dt>
<dd>Sorry guys, junk starts with a &quot;J&quot; not a &quot;G&quot;</dd>
<dt style="font-weight:bold">Vet Products Direct</dt>
<dd>They want me to feed my pets shredded junk mail?</dd>
<dt style="font-weight:bold">Vistaprint</dt>
<dd>I love Vista, and I certainly love printed junk mail</dd>
<dt style="font-weight:bold">WholeSaleToner</dt>
<dd>WholeSaleJunk!</dd>
</dl>
 
