---
title: 'ZombiePlan made me into a card' 
date: "2009-08-05T06:58:50+10:00"
year: "2009"
category: Thoughts 
tag: 
- cards
- magic-the-gathering
- memories
- school
- zombieplan 
---
<p><img src="https://rubenerd.com/files/uploads/graphic.rubenerdplaycard.jpg" alt="I'm in a card, with my Toblerone nose!" style="height:357px; width:491px; display:inline; border:0px" /></p>
<p>You may remember a few days I go I <a href="https://rubenerd.com/zombie-plan-cryptic/">wrote a blog post</a> about <a href="http://zombieplan.zombieskittles.com/god-damn-it-novephel">a blog post</a> that <a href="http://zombieplan.zombieskittles.com/">ZombiePlan</a> had written on his blog. A blog post about a blog post on a blog, <strong>who would have thought it</strong>? Anyway I <strong>blatantly fabricated</strong> a screenshot by inserting words he in fact did not say and then proceeded to pretend he did in fact say what I had fabricated. <strong>I like pie.</strong></p>
<p>In response to said post ZombiePlan did what any reasonable person would do under the circumstances and <a href="http://zombieplan.zombieskittles.com/an-old-geeky-obsession">made me into a Yu-Gi-Oh card</a> that mocked the frequency in which I post blog posts on my blog. I write blog posts on my blog, who would have thought it?</p>
<p>The two cards presented above may look identical to the untrained eye, but in fact there are significant differences. In my late primary school and early high school years in the early 2000s I used to play <a href="http://en.wikipedia.org/wiki/Magic:_The_Gathering">Magic: The Gathering</a>. Yes I&#39;m afraid it&#39;s true, you could have been forgiven up until this point for thinking my online nerdish dorkyness was just a disguise, but it&#39;s definitely not!</p>
<p>In fact initially I didn&#39;t even play the game to start with, I used to collect the cards and put them in card folders because I loved the graphics. This used to work great because often the cards that had the crappiest attack/defence power or the lamest actions had some of the best pictures, so people would give them to me for free.</p>
<p>And why is it that I included the <strong>Thran Dynamo</strong>? Well when I started playing half-seriously I managed to scrounge up several of these cards and use them in place of mana once I had four down. By tapping one of those beauties, I had three times the mana to activate cards in one turn, and more importantly they could be used with any coloured cards. Not the best card ever, but I thought I was being clever.</p>
<p>It&#39;s amazing what you remember… and conversely what you try to forget. <strong>I still like pie</strong> though.</p>
 
