---
title: 'Diesel cars'
date: "2014-05-05T07:14:25+10:00"
year: "2014"
category: Hardware
tag:
- cars
- environment
- health
- transport
location: sydney
---
<p>Forgive the esoteric subject matter, but this story harkened back to a topic I pontificated on eight years ago. For the twelve of you still subscribed to the RSS from back then, you may remember <a title="Rubenerd: The diesels are coming!" href="//rubenerd.com/response-to-the-diesels-are-coming/">this post from October 2006</a>:</p>
<blockquote><p>Diesel is still an oil derived fossil fuel that generates dangerous greenhouse gas emissions, and no matter how “clean” they can make it the particles spewed out from diesel engines are dangerous and carcinogenic.</p>
</blockquote>
<p>This was in reference to an article espousing the wonders of diesel powered cars at the time. The comment thread was full of people praising diesel, from being a cost effective alternative to petrol, to the better performance and reliability of the engines.</p>
<p>Given family history, I spent a significant amount of time in oncology wards. I got to know one doctor particularly well, and I often picked his brains about all manner of topics. When it came to air pollution, he didn’t mince words: diesel is bad news. Aside from the regular nasties it shares with petrol like carbon monoxide, incomplete diesel combustion releases carcinogenic particles. Even a well maintained engine will still release some of this muck, and we’ve all had the experience of standing by a kerb as a rickety old bus sprays us with the stuff. My girlfriend Clara’s nose is so sensitive, she can even feel the dust in her nose long after being in the city.</p>
<p>Residence of Paris are starting to realise this. Earlier this month, Feargus O’Sullivan wrote <a href="hhttp://www.citylab.com/commute/2014/03/air-quality-woes-may-finally-force-paris-rethink-its-love-diesel-fuel/8649/">Air Quality Woes May Finally Force Paris to Rethink Its Love of Diesel Fuel</a> for The Atlantic Cities:</p>
<blockquote><p>France’s air pollution crisis became yet more dramatic Monday, as Paris banned half of its region’s cars from the roads.</p>
<p>After highly polluted air became trapped close to the ground across France last week by unseasonably warm weather, authorities introduced free public transport over the weekend in Paris, Bordeaux, Caen, and Rouen.</p>
</blockquote>
<p>One of the leading causes?</p>
<blockquote><p>What France really needs to do, according to a number of environmentalists, is slash its dependency on diesel-powered engines. An estimated 60 percent of French vehicles currently run on diesel. This higher than average level dates from the 1960s, when French governments promoted diesel in the mistaken belief that it was cleaner than gasoline. In fact, diesel has both higher carbon emissions and carcinogenic fine particles, the form of invisible pollution from which France is currently suffering a major spike.</p>
</blockquote>
<p>Enough with diesel powered cars.</p>
 
