---
title: "Epic Ryouko background is epic"
date: "2014-11-23T04:56:00+10:00"
year: "2014"
category: Anime
tag:
- 2014-anime
- backgrounds
- kill-la-kill
- trigger 
---
<p><img src="https://rubenerd.com/files/2014/kill_la_kill_by_asharl.jpg" alt="Desktop background with Ryouko and her half-scissor weapon overlayed above text reading 'Kill la Kill'" style="width:500px; height:281px" /></p>
<p>Once again, the scourge of 1920&#215;1080 ruins a <strong>perfectly epic</strong> desktop background, for those of us using proper 1920&#215;1200 resolution screens. I suppose it could make do for a MacBook Air, though.</p>
<p>By <a href="http://artofkillian.deviantart.com/art/Kill-la-Kill-Wallpaper-1920x1080-413148855">ArtOfKillian</a>. Makes me think I should finish watching this series after all.</p>
 
