---
title: 'A Firefox 29 bugshot' 
date: "2014-05-01T04:57:06+10:00"
year: "2014"
category: Software
tag:
- firefox
- mozilla
- reviews 
location: sydney
---
<p>This <a href="http://www.mozilla.org/en-GB/firefox/new/">new version of Firefox</a> is out with a new UI. A few people have asked what I think about it on Twitter, so I did what any normal person would do: took a dramatically ugly photo and annotated it with <a href="http://www.marco.org/bugshot">Bugshot</a>.</p>
<p>On the Mac, there are a couple of minor tweaks that are nice. The double border on the bookmarks bar when using TreeStyleTabs is gone. The colours of various UI elements seems lighter, and the hover effect for toolbar icons are rather pretty.</p>
<p>Then there were the less palatable changes. From left to right with the above arrows:</p>
<ol>
<li><p>The toolbar icons now default to large, without the option to shrink them back down. It’s wasted space, especially when you compare it to the svelte (and perfectly functional) toolbars of the Finder or Safari.</p></li>
<li><p>There are a few ragged edges. For example, the address bar highlighting stops abruptly behind the back button. It’s probably where the underlying UI element also stops, but the effect isn’t very polished.
</p></li>
<li><p>The Share icon can no longer be removed. If you don’t need or want it, it’s wasted space.</p></li>
<li><p>Despite the Mac (thankfully!) enforcing a menubar, Firefox 29 includes the <em>brushed metal Georgia font</em> design cliché of 2014 in the form of a <a href="http://www.designfloat.com/blog/2013/09/09/hamburger-menu-prominent-ui-evolution/">meatstack</a>, and there’s no way to remove it. OS X negates the need for this menu, it is wasted space.</p></li>
<li><p>If you click the edge of the meatstack by accident, then click it again to dismiss, it simply reappears. This doesn’t happen if you click the middle.</p></li>
</ol>
<p>I’m also not a fan of the tabs. To me their size and shape look ungainly, as though Windows 3.1 tabs lost their bold font and got rendered in XUL. Yes I’m old enough to remember 16 bit Windows; it was the first GUI on our family computer. But I digress.</p>
<p>Firefox 29 brings some important technical and security improvements which will continue to make it my preferred browser; albeit in the form of <a href="http://www.seamonkey-project.org/">Mozilla SeaMonkey</a>. And to be fair, it always looked funky on the Mac. Hopefully one day they’ll get the mix right.</p>
 
