---
title: "Libertarianism"
date: "2014-04-30T20:28:21+11:00"
abstract: "I briefly entertained the idea of being one as a teenager."
year: "2014"
category: Thoughts
tag:
- economics
- libertarianism
location: sydney
---
<p>Livia Gershon <a href="https://aeon.co/essays/what-happens-when-libertarians-try-to-build-a-new-society">wrote some fascinating background</a> on libertarians for Aeon. I briefly entertained the notion of being one as a teenager before rediscovering issues like *market failures*, and realising environmental problems will require collective solutions rather that us acting in our selfish self-interest.</p>

<p>Livia wrote of classical libertarianism:</p>

<blockquote cite="https://aeon.co/essays/what-happens-when-libertarians-try-to-build-a-new-society"><p>By some accounts, the first thinker to describe himself as libertarian was Joseph Déjacque, a mid-19th-century French anarcho-communist writer. Déjacque’s beef wasn’t just with government, but with capitalist bosses and religious hierarchies. Any kind of authority The Free State Project draws recruits with a mishmash of different philosophies, which isn’t surprising given libertarianism’s history. By some accounts, the first thinker to describe himself as libertarian was Joseph Déjacque, a mid-19th-century French anarcho-communist writer. Déjacque’s beef wasn’t just with government, but with capitalist bosses and religious hierarchies. Any kind of authority was an assault on individual autonomy. He even opposed families, with their elevation of husband above wife and parents above children. For about a century, this is what people meant when they said “libertarianism”: a far-left vision of autonomous individuals working as equals.</p></blockquote>

<p>And the current flavour espoused by cool people today:</p>

<blockquote cite="https://aeon.co/essays/what-happens-when-libertarians-try-to-build-a-new-society"><p>Then, beginning in the 1950s, a new definition of ‘libertarianism’ emerged in America, defining its love of freedom in ways that directly contradicted Déjacque. The new philosophy drew on the classical liberalism of Thomas Jefferson, filtered through an economic lens that made property rights central. This was the libertarianism of the Cato Institute think tank, formed in 1977 by economist Murray Rothbard, corporate right-wing superstar Charles Koch, and Edward Crane, a leader of the then-fledgling Libertarian Party. Here, the government was faulted not for standing with capital against the people but for getting in the way of progress by promoting socialist welfare systems.</p></blockquote>

<p>And on the poster-child for modern libertarians, Ayn Rand:</p>

<blockquote cite="https://aeon.co/essays/what-happens-when-libertarians-try-to-build-a-new-society"><p>Ayn Rand’s Objectivism contained a ‘fatal flaw’, says Shimek. She confused capitalism, a system that gives wealthy owners control over workers, with free markets, which depend on individual autonomy.</p></blockquote>

