---
title: 'My preferred Safari extensions' 
date: "2014-04-16T11:59:57+10:00"
year: "2014"
category: Software
tag:
- extensions
- privacy
- safari 
location: sydney
---
<p>I’m not yet ready to move on from Firefox, but these are some useful extensions for my reliable backup browser of choice:</p>

<dl>
<dt style="font-weight:bold"><a href="https://getadblock.com/">AdBlock</a></dt>
<dd>Does what you think. Also allows whitelisting of domains for sites with unobtrusive ads you want to support.<p></p></dd>
<dt style="font-weight:bold"><a href="http://disconnect.me/">Disconnect</a></dt>
<dd>As I blogged about recently. Allows you to control, block and monitor various methods of tracking. Or you can just install and forget, and let it do its thing.<p></p><</dd>
<dt style="font-weight:bold"><a href="http://www.writeitstudios.com/csbasic.php">CookieStumbler Basic</a></dt>
<dd>Allows for easy, fine grain control of tracking cookies. There’s also a paid version I’m seriously considering.<p></p></dd>
<dt style="font-weight:bold"><a href="http://uwl-safari.s3.amazonaws.com/AmazonWishlist.safariextz">Add To Amazon Wish List</a></dt>
<dd>Why would I need advertising on this site when all you lovely people are more generous with your cups of coffee and wish list items than Google or any other advertising company ever was? :). This extension allows you add items on any page to your wishlist.<p></p></dd>
</dl>

<h3>Other mentions</h3>

<dl>
<dt style="font-weight:bold">Open in Internet Explorer by Parallels</dt>
<dd>Useful for testing how badly IE breaks on sites you’re developing if you have your Parallels Windows VM open, though I wish Parallels would ask before installing it.</dd>
</dl>
 
