---
title: 'An RSA randomart boot' 
date: "2014-11-15T04:54:26+10:00"
year: "2014"
category: Media
tag:
- art
- cryptography
- randomart
- rsa
- ssh 
location: sydney
---
<p>Sometimes, I generate RSA and ECDSA keys for the randomart. We’ve also had a <a href="//rubenerd.com/ecdsa-randomart-vulture/">vulture</a> and a <a href="//rubenerd.com/rsa-randomart-camel/">camel</a>.</p>

<pre>
---
|                 |
|                 |
|                 |
|     o . ..      |
|      = S+ o     |
|     . =E.+      |
|      +o+o       |
|       BB  .     |
|      +=ooo      |
---
</pre>

<div style="text-align:right; font-size:small"><a href="https://gist.github.com/RubenSchade/21d3893381c8e29884bf">Github Gist</a></div>
 
