---
title: 'Wet’n’Wild Australian infrastructure' 
date: "2014-01-03T11:51:40+10:00"
year: "2014"
category: Thoughts 
tag:
- australia
- cars
- infrastructure
- public-transport 
---
<p>Yesterday, Lucy Carroll ran a story in the Sydney Morning Herald about the recently opened Wet’n’Wild amusement park. <a href="http://www.smh.com.au/travel/travel-news/wetnwilds-many-problems-have-councillors-fed-up-20140101-30643.html" title="Wet'n'Wild's many problems have councillors fed up">It’s been plagued with issues</a>, culminating in the cancellation of New Year’s Eve events.</p>
<p>What caught my eye was this tidbit towards the end:</p>
<blockquote cite="http://www.smh.com.au/travel/travel-news/wetnwilds-many-problems-have-councillors-fed-up-20140101-30643.html"><p>[Blacktown councillor Edmond Atalla] said while the venue provided transport from Parramatta railway station, the lack of buses from Blacktown was forcing customers to walk along a dangerous stretch of the Great Western Highway to reach the entrance.</p></blockquote>
<p>In Australia, cars always come first. Huge complexes are routinely built with little regard for supporting infrastructure, not least public transport. It reminds me a lot of Malaysia, and dealing with their own systems for the time we lived there.</p>
<p>Back in Singapore, they would have diverted roads, extended an MRT line, built a new station or two and factored it into their decades–long urban planning scheme.</p>
 
