---
title: '#Anime I may be able to restore my blog!' 
date: "2010-05-28T01:56:48+10:00"
year: "2010"
category: Anime 
tag: 
- digital-archaeology
- feeling-better
- pointless
- weblog 
---
<p><img src="https://rubenerd.com/files/uploads/screenie.originalanimeblog.png" style="height:330px; width:500px;" alt="Screenshot of my original anime blog" /></p>
<p>Today was so ridiculously depressing what with <a href="//rubenerd.com/bp/">stories like this</a> and the fact I couldn&#39;t see <a href="//rubenerd.com/steve-ballmer-20-years-of-microsoft-in-singapore/">Steve Ballmer in Singapore</a> made me think I needed to end today on a high note. <strong>I may have uncovered some of my old anime blog posts!</strong></p>
<h3>Hey remember…</h3>
<p>Remember when I <a href="//rubenerd.com/anime-restarting/">lost my university hosted anime blog</a> in a database wipe? Well this afternoon I was going through one of my old hard drive image backups looking for mummy&#39;s awesome recipe for guacamole. I talk to her every night in my dreams, but can&#39;t ask her during the day. Wait, I&#39;m supposed to be <strong>cheering</strong> myself up, enough of such thoughts.</p>
<p>Anyway buried in an otherwise nondescript folder I stumbled across some of my anime blog drafts! By that I mean the text files I wrote while sitting at my beloved Boatdeck Cafe or at Starbucks before I added all the XHTML paragraph and image markup. I would have just left a university class and had my spirits crushed, so it was a happy, uplifting thing to do :).</p>
<p><img src="https://rubenerd.com/files/uploads/anime.toradora.01.glasses.jpg" style="height:281px; width:500px;" alt="The Palmtop Tiger trying on glasses!" /></p>
<h3>Daijoubu!</h3>
<p>What&#39;s even scarier is I <a href="//rubenerd.com/celebrating-geek-pride-day/">just did</a> a Toradora marathon again recently and that series was the last one I blogged about. I had the biggest otaku crush on Minori (Minorin to her friends!), possibly the biggest since Ami Mizuno. She had a visor mounted computer. I think I&#39;ll stop now.</p>
<p>Anyway (I&#39;ve preceded two paragraphs with that word now) it means I can start restoring all these lost posts!</p>
<p>So here comes the ultimate question: should I spin my anime blog off again now that I can restore some of it? Could I be bothered? Or perhaps a more  question: do I have the time? Or even more pertinent: desu desu desu desu desu desu desu desu desu desu desu desu desu desu desu desu desu desu desu desu desu desu desu desu desu desu desu desu desu desu desu desu desu desu desu desu desu desu desu desu desu desu desu desu desu! Nyoro~n.</p>
<p><img src="https://rubenerd.com/files/uploads/avatar.kyou.gif" alt="" style="height:99px; width:100px;" /> <img src="https://rubenerd.com/files/uploads/avatar.matsuri.gif" alt="" style="height:100px; width:100px;" /> <img src="https://rubenerd.com/files/uploads/avatar.mikuru.gif" alt="" style="height:99px; width:100px;" /> <img src="https://rubenerd.com/files/uploads/avatar.yui.gif" alt="" style="height:99px; width:100px;" /></p>
<p>See, that&#39;s why I used to separate those posts out onto another blog. I remember I wrote an entire entry on using Minorin&#39;s kinetic energy to power a city, and questioning how Negi could see anything through his glasses that were barely larger than coins. I had diagrams.</p>
<p>I&#39;m cheered up now, all good ^^.</p>
 
