---
title: 'Biofuels ain’t no silver bullet thing' 
date: "2010-03-05T02:16:38+10:00"
year: "2010"
category: Thoughts 
tag: 
- environment
- flickr-doesnt-have-reasonable-image-sizes
- kyoto-protocol
- twitter 
---
<p><img src="https://rubenerd.com/files/2010/chinese-new-year-on-orchard-rd_4353372480_o@1x.jpg" alt="Chinese New Year on Orchard Rd" srcset="https://rubenerd.com/files/2010/chinese-new-year-on-orchard-rd_4353372480_o@1x.jpg 1x, https://rubenerd.com/files/2010/chinese-new-year-on-orchard-rd_4353372480_o@2x.jpg 2x" style="width:500px; height:335px;" /></p>
<p>I fancy myself a bit of a greenie (I&#39;ve even voted for them), but I&#39;m not that impressed by biofuels, at least not so far.</p>
<p><!--oldmore--></p>
<p>First the tweet that started this train of thought off, <a href="http://twitter.com/GreenITers/status/10004812761">from @GreenITers</a>:</p>
<blockquote><p>Under the Kyoto Protocol, biofuels are treated as zero-emission fuels. However, it doesn’t account emissions from producing &#038; transporting it</p></blockquote>
<p>I didn&#39;t know that. I&#39;m willing to bet it also doesn&#39;t take into account the forests and other natural wilderness that have to be destroyed to grow the huge fields of crops to make the biofuel. Not to mention as my dad put it a few weeks ago when we were talking about it: &quot;there&#39;s something wrong with growing huge fields of food to feed our cars while billions of people are starving to death.&quot;</p>
<p>The only positive aspect I can see to biofuels is the potential for recycling waste products, but even then they still cause localised pollution in the areas they&#39;re combusted in because we extract the useful energy by burning it!</p>
<p>Don&#39;t get me wrong, the idea of burning nature&#39;s sequestered carbon reserves (aka fossil fuels) makes me shiver, but biofuels aren&#39;t a silver bullet either. Maybe I&#39;m just bitter that it&#39;s 2010 and I&#39;m still waiting for my jetpack.</p>
 
