---
title: 'BP'
date: "2010-05-28T12:24:57+10:00"
year: "2010"
category: Thoughts
tag:
- design
- energy
- environment
- logos
---
<p><img src="https://rubenerd.com/files/uploads/160px-BP_Logo.svg.png" style="height:182px; width:137px; padding:0em; background:transparent;" alt="The BP Logo." /></p>
<p>My good Twitter friend Mary Wallace recently wrote a <a title="British Petroleum Apparently Owns American Beaches, and you thought America was a Sovereign Nation" href="http://schizoamerica.com/2010/05/british-petroleum-apparently-owns-american-beaches-and-you-thought-american-was-a-soveriegn-nation/#comments">poignant post on the American oil spill</a>. So much for their new corporate logo indeed.</p>
<blockquote><p>So much for the ‘new’ logo, the earth-friendly ‘Beyond Petroleum’ public relations campaign of a few years ago, BP’s attempt to win over environmentally aware consumers, designed to show the company’s commitment to, get this, the environment and solar power […] BP is firmly an oil company. It is dodging responsibility for its epic, monumental, continuing spill and its degradation of the US coastline, AND its running our own sovereign law enforcement agencies.</p></blockquote>
<p>As for their humanitarian efforts [or lack thereof], this part particularly broke my heart. He&#39;s a year younger than <strong><em>me</em></strong>:</p>
<blockquote><p>One of the youngest workers on the rig, Shane Roshto, 22, is survived by his son and his wife, Natalie, who has filed a lawsuit against BP, Transocean and Halliburton. An inspiration to his friends, he wrote two dates — his wedding day and his son’s birthday — inside of his hard hat, referring to these dates when he was having a bad day.</p>
<p>[…] the oil rig company has already received $270 million in insurance money as a claim for the lost oil rig, none of which will go to cleanup or to compensate the families of the dead.</p>
<p>[…] BP sent its lawyers in within hours of the beginning of the spill to get the widows and residents of coastal Alabama to sign off any future lawsuit against BP, for a measly $5,000 per life.</p></blockquote>
<p>As I said on her post, the part of this story that frustrates me the most is that a couple of safety valves could have prevented this entire disaster, but allegedly the small cost of having them fitted along the length of a pipe is just too expensive to justify.</p>
<p>If it weren’t for the fact people and the environment are suffering, I’d say BP deserves this for cutting corners. Alas, their greed and short sightedness must now be paid for by all of us. It makes me want to cry.</p>
 
