---
title: 'Can we expect fairness?' 
date: "2010-03-03T03:49:00+10:00"
year: "2010"
category: Thoughts 
tag: 
- economics
- philosophy
- ruben-cant-sleep
- thinking-out-loud
- wont-be-quitting-my-day-job 
---
<p><img src="https://rubenerd.com/files/uploads/icon.tango.heart.png" alt="Heart icon from the Tango iconset" style="height:128px; width:128px; display:inline; border:0px; background:transparent; padding:0em;" /></p>
<p>Or perhaps a more pertinent question: even if we want it, can fairness exist?</p>
<p>Today my mind was stimulated not from conversations on Twitter, but rather back in Google Reader again; in particular these <a href="http://anarchistnews.org/?q=node/10799">two</a> <a href="http://susanrosenthal.com/articles/anger-is-the-emotion-of-injustice">posts</a> shared by Atuuschaaw and Jim Kloss respectively.</p>
<p>In a nutshell, using profoundly different language the writers explore the idea of fairness and argue it&#39;s an innate feeling within us. They point out even young children are aware of fairness (but mum, he got more than me!), and when classes of people are treated unfairly for long enough they eventually up-rise and revolt.</p>
<p>They make good points, but what I want to know isn&#39;t whether we desire fairness, but whether fairness can possibly exist. Forgive the phrasing and presentation of these disconnected, scatterbrain thoughts, it&#39;s 3:30am and I just bolted out of bed because of all these questions were swimming in my head like a… swimmer.</p>
<ol>
<li>Is fairness a vague enough concept like getting rid of crime, in that we’re always striving for it but never expect to completely get there?<p></p></li>
<li>We have limited resources and unlimited wants. Perhaps instead of attacking the resource side, which is finite, should we instead do something to address our wants. Could we encourage fairness by setting ourselves more realistic wants? I suppose this would be the Buddhist philosophy.<p></p></li>
<li>The Star Trek universe is depicted as having solved the problem of limited resources with the invention of the replicator, but until that happens is all we can do attempt to more evenly distribute resources to encourage fairness?<p></p></li>
<li>Do we define fairness as everyone having the same thing? If so, then if there’s a finite amount of something, such as waterfront housing, should everybody be denied it because not everyone can have it?<p></p></li>
<li>Despite what libertarians and fiscal conservatives may proclaim, capitalism has a lousy track record when it comes to providing fairness. Despite what liberals or progessives may say, governments have a lousy track record when it comes to proving fairness. Is it so wrong to want a combined approach?<p></p></li>
<li>What’s fair for Earth is, in the long run, fair for us. In the short term, that may be hard to see at times and even harder to accept.<p></p></li>
<li>There are some innate needs all humans have; food, shelter, love, friendship, peace, truth. If everyone had these basic needs satisfied, would that be a fair society? If so, and leaving aside sarcasm, I reckon we could do it, if we <strong>wanted</strong> to.<p></p></li>
<li>We need to embrace indicators like the Gini Coefficient as the <strong>standard</strong> measure of progress and completely throw away GDP per capita. We also need to once and for all embrace economic sustainability not economic growth. GDP per capita and priorities on economic growth belonged to the 19th century, not the 21st.<p></p></li>
<li>Is fairness a consensus thing? If so, how do we reach a consensus? The definition of consensus is sacrifice, to give some to get some. Holy sh*t that was way deeper and more profound than I intended: could all fairness be about is personal sacrifice? To give up a little of what we <strong>want</strong> so everyone can get what they <strong>need</strong> and then work from there? How do we define what we need then? Well look at that, <strong>we’re back to consensus again</strong>.<p></p></li>
</ol>
<p>I have no idea what I&#39;m saying. I&#39;m toddling off back to bed now.</p>
 
