---
title: 'Catching up on a fortnight of happenings' 
date: "2010-01-15T02:22:38+10:00"
year: "2010"
category: Internet
tag:
- android
- censorship
- china
- google
- google-reader
- infocomm
- malicious-hacking
- news
- nexus-one
- security 
location: Singapore
---
<p><img src="https://rubenerd.com/files/uploads/icon.tango.coffee.png" alt="Icon from the Tango Desktop Project" style="height:128px; width:128px; display:inline; background:transparent; padding:0em" /> <img src="https://rubenerd.com/files/uploads/icon.tango.news.png" alt="Icon from the Tango Desktop Project" style="height:128px; width:128px; display:inline; background:transparent; padding:0em" /></p>
<p>While my dad, sis and I were on our <a href="//rubenerd.com/tag/eurotrip/">Eurotrip</a> over the New Year holidays (photos coming soon) we were placed in self imposed <a href="http://twitter.com/Rubenerd/news-iness">24-hour-instant-Twitter-news</a> exile, which to tell the truth was kinda refreshing. The only thing we had to worry about in Europe was being buried in a freak Irish, German, French, Czech or Austrian snowstorm, or finding plastic explosive in our baggage from Slovakia on arrival in Dublin. But I digress.</p>
<p>Checking out the headlines in Google Reader which has two weeks worth of unread posts, it seems the biggest story that broke while we were away were the strongest earthquake since Australia was colonised <strong>hit Haiti</strong>, decimating entire communities and the livelihoods of so many already desperate people which made my heart skip a beat and clench in despair. A Gaelic speaking police officer was also <strong>shot in Dublin</strong> sparking fears The Troubles may not be over despite the recent handing in of arms.</p>
<p>In the tech space we have the <strong>Google Nexus One phone</strong>, the fact <strong>3D televisions</strong> in lieu of Avatar are the bees knees, how there&#39;s still <strong>no Apple slate tablet</strong> and the <strong>alleged malicious hacking by the Chinese government</strong> of many Silicon Valley sites and tech companies by the Chinese government. Well, that was a poorly constructed and superfluous sentence ending. The Nexus One is an evolutionary, GSM friendly version of the Droid with an <strong>OLED screen that&#39;s unusable</strong> in daylight, and <strong>Google is no longer censoring Chinese content</strong> on their Google.cn website, claiming they&#39;ll leave if approval is not met.</p>
<p>What else? <strong>Marian Call also performed at Whole Wheat Radio</strong> and released some one day only CDs of which I missed both, and speaking of D&#39;OH my <strong>primary DIY desktop power supply inexplicably blew up</strong> in my room which was a &quot;surprise&quot; upon our arrival back home. I don&#39;t have a need for fancy graphics cards so it was only a 400W PSU which I&#39;m hoping won&#39;t be too expensive to replace.</p>
<p>I&#39;m sure that&#39;s not it, but it&#39;s a start. Anything else I should know about?</p>
 
