---
title: 'Celebrating Geek Pride Day!' 
date: "2010-05-26T01:23:52+10:00"
year: "2010"
category: Thoughts 
tag: 
- discworld
- douglas-adams
- dweeb
- forty-two
- geek
- nerd 
---
<p><img src="https://rubenerd.com/files/uploads/42.png" alt="42! The answer to The Great Question!" style="height:196px; width:322px; padding:0em; background:transparent;" /></p>
<p>I can&#39;t believe I almost missed this, today was <a href="http://en.wikipedia.org/wiki/Geek_Pride_Day">Geek Pride Day</a>!</p>
<blockquote cite="http://en.wikipedia.org/wiki/Geek_Pride_Day"><p>Geek Pride Day is an initiative which claims the right of every person to be a nerd or a geek. It has been celebrated on May 25 since 2006, celebrating the premiere of the first Star Wars movie in 1977.</p>
<p>It shares the same day as two other science-fiction fan &#8216;holidays’ &#8211; Towel Day, for fans of the Hitchhiker’s Guide to the Galaxy Trilogy by Douglas Adams, and the Glorious 25th of May, for fans of Terry Pratchett’s Discworld.</p></blockquote>
<p>According to that <a href="https%3A%2F%2Fduckduckgo.com%2F%3Ft%3Dffab%26q%3Dvenn%2Bdiagram%2Bnerd%2Bgeek%2Bdork%26iax%3Dimages%26ia%3Dimages">now infamous venn diagram</a> showing the relationship between nerds, geeks and dweebs I&#39;m a dweeb owing to the fact I&#39;m socially inept. Still, Geek Pride Day is for all of us!</p>
<p><img src="https://rubenerd.com/files/uploads/kushieda_minori_09.png" alt="Kushieda Minori avatar" style="height:128px; width:128px; display:inline; float:right; margin:0 0 5px 10px;" /> I didn&#39;t carry a towel all day with me, but I did use one on several occasions and by pure coincidence I was listening to <a href="http://en.wikipedia.org/wiki/The_Restaurant_at_the_End_of_the_Universe">The Restaurant at the End of the Universe</a> from Audible while traversing the <a href="http://en.wikipedia.org/wiki/Newton_MRT_Station">MRT</a>! I also spent much of the day <a href="//rubenerd.com/cloudsourcesg/">transfixed on a cloud computing keynote</a> by the CEO of SalesForce.com with their announcement of Cloud2 and Chatter, and I rewatched an anime series from 2008 because <a href="http://en.wikipedia.org/wiki/Toradora!">Minori</a> is awesome!</p>
<p>I would say more, but I fear I&#39;d be in violation of the Temporal Prime Directive.</p>
<h3>And he’s single folks!</h3>
 
