---
title: 'I deleted my Facebook, not you!' 
date: "2010-12-20T06:09:49+10:00"
year: "2010"
category: Internet
tag:
- facebook
- high-school
- infocomm
- rant
- social-networking 
---
<p><img src="https://rubenerd.com/files/uploads/logo.facebook.sad.smaller.png" alt="" style="height:120px; width:420px; display:inline;" /></p>
<p>I&#39;ve continued to receive emails from people demanding an explanation as to why I&#39;ve <em>&quot;deleted&quot;</em> them from my Facebook profile. In the interest of alleviating their fears, I&#39;m writing this post.</p>
<h3>Clear as mud</h3>
<p>Firstly, I would like to make one thing clear. I like grilled cheese sandwiches. There, I admit it, its out in the open, nothing more needs to be said.</p>
<p>Except for this. To those who have frantically emailed me and analysed our friendship in great detail to attempt to find a reason, I did not delete you from Facebook.</p>
<h3>I deleted my Facebook profile entirely!</h3>
<p>It&#39;s people who get upset over a token gesture like why I don&#39;t have you on Facebook any more that was one of the reasons why I stopped using the service. It&#39;s like high school popularity contests all over again. I suspect more than a few people who never attempted to talk to me until my profile disappeared only wanted me there to boost their friendship numbers so they can outdo someone else or look cooler. You see, there&#39;s a direct correlation between how many &quot;friends&quot; you have and how socially secure and awesome you are.</p>
<p>The fact that:</p>
<ul>
<li>The site is a front for some very dodgy companies doing dodgy things in a dodgy way without regards to privacy (or even security, *cough* Firesheep *cough*)<p></p></li>
<li>Mr. Zuckerberg is the personification of all that’s wrong with my generation (with people like Matt Mullenweg being an example of good)<p></p></li>
<li>I like grilled cheese sandwiches<p></p></li>
<li>Ultimately I didn’t dervive much value from the service, which is public-relations speak for <em>I didn’t use it!</em><p></p></li>
</ul>
<p>… are all auxiliary reasons. Well maybe not auxiliary, they&#39;re all a mesh of things that came together that left a bad taste in my mouth, along with the social aspect I described before. Bad mouth tastes have never happened with a grilled cheese sandwich. Except that one time the cheese had expired and I didn&#39;t notice. That was right royally rank.</p>
<h3>Yes, I just used the word rank with alliteration</h3>
<p>I may attempt to make another profile in the future under a complete alias and fill out the interests and hobby fields with complete BS, but for now I&#39;m savouring not having to worry about that site any more. Its a tremendous relief :).</p>
<p>Is <strong>Oh Ess Two</strong> free as a name? I&#39;m having a small obsession with OS/2 at the moment, will be the subject of a new post soon.</p>
 
