---
title: 'del.icio.us being sunsetted?' 
date: "2010-12-18T06:44:40+10:00"
year: "2010"
category: Internet
tag:
- cloud-computing
- del-icio-us
- delicious
- infocomm
- site-closures
- social-networking
- yahoo 
---
<p><img src="https://rubenerd.com/files/uploads/screenie.yahoo.sunsetslide.jpg" alt="The infamous internal Yahoo sunset slide" style="height:260px; width:500px;" /></p>
<p>Putting my self imposed exile on Twitter and my blog here aside for the time being because something so critically important has sprouted up that I need to discuss it in painstaking detail here. And it has nothing to do with The Bird being The Word, though that would also be important. Derp.</p>
<h3>Hysterical, wait Historical</h3>
<p>When I was in high school I had multiple machines with multiple browsers on said multiple machines. Each machine had multiple browsers, and I had multiple machines. In a nutshell, I had a ton of browsers, a multiple amount of them you could say. This whole paragraph could have been condensed down into: I had lots of browsers.</p>
<p>Oh, but it got worse. Because I&#39;m a paranoid neat freak when it comes to computers, every six months or so I reformat my machines, cleanly reinstall them and use the time to clean up my data folders and make sure my backups are all in order. The upshot of this obsessiveness is not only did I have bookmarks in hundreds of thousands of millions of places, but they were regularly being deleted, or having to be manually restored every time I performed a system re-installation.</p>
<p>Needless to say, keeping track of these bookmarks was becoming increasingly difficult, and I was tempted to use an extension like Foxmarks (what it was called at the time), but it seemed like a bandaid solution. There had to be a Better Way.</p>
<h3>There’s an answer here somewhere</h3>
<p>The answer came in the form of <a style="font-weight:bold;" href="http://delicious.com/">del.icio.us</a>, a beautifully simple site where you could store your bookmarks, tag them, and share them with people if you so wanted. Because they were sitting up in The Cloud (before we even started calling it such) it didn&#39;t matter what happened to my local machines, or even what machine or browser I was using at the time, all my bookmarks were there ready to go each time I fired one up. It was amazing.</p>
<p>Of course, over time I <a href="//rubenerd.com/cloud/">set up my blog</a> to do automatic backups of <a href="http://delicious.com/rubenerd/">my del.icio.us bookmarks</a> just in case the site went down, but aside from that I had nothing but reliable service from them. Well, at least until now probably.</p>
<p><img src="https://rubenerd.com/files/uploads/screenie.rubenerd.delicious.png" alt="There is a better way" style="height:110px; width:500px;" /></p>
<h3>Trouble brewing</h3>
<p>Sounds like someone making instant International Roast or instant Nescaf&eacute;. That stuff is rank.</p>
<ol>
<li>The first sign of trouble was when Yahoo bought out del.icio.us in 2005, and went about changing the site’s backend from Perl to PHP. Those who know Yahoo know that they use PHP religiously for their disparate services, so it was natural to expect this. Unfortunately, it didn’t simply require a porting of code, but an entire rewrite. For some reason, this necessitated an entirely new site design which was less space efficient, had some glaring usability flaws that I remember Frank talking about on The Overnightscape all those years ago, and it generally felt more sluggish. Still, the bookmarklets in my web browser toolbars still continued to perform as normal.<p></p></li>
<li>The second change occurred when the otherwise clever domain hack http://del.icio.us/ was changed to http://delicious.com/ to make it more accessible. Unfortunately, it also meant the site lost its elitist appeal, because only hardcore users of the site such as myself could ever remember where to put the blasted full stops in the word delicious in the URL. Big problem. Huge.<p></p></li>
<li>Finally, when the threat of being bought by Microsoft seemed real, a lot of us started scrambling for alternatives. The idea of using Microsoft Delicious seemed far too terrifying to contemplate, partly because it wouldn’t be called Microsoft Delicious, but probably Windows Live Bookmarks Express Online Home Corporate Enterprise, then later Bing Bookmarks which is just a downright embarrassing name.</li>
</ol>
<p><img src="https://rubenerd.com/files/uploads/418eNVaRbIL._SL500_AA300_.jpg" alt="" style="height:300px; width:197px;" /></p>
<h3>My point, and I do have one</h3>
<p>Anyway so it seems after all these gradual steps in the wrong direction, coupled with the loss of the del.icio.us staff from Yahoo&#39;s payroll, it seems the site has been slated for <em>&quot;sunsetting&quot;</em>, which we can only assume means eventually shutting it down.</p>
<p>There have been calls to open source the site (the eventual graveyard for so much software that a lot of people have stopped caring about), but with its rewrite depending on so much internal Yahoo PHP I doubt that would ever happen, unless they open sourced the original Perl system which may or may not be able to have the current features and people&#39;s data backported to. I suppose a couple of astute developers could give it a shot.</p>
<p>In the meantime, I&#39;ll be looking into alternatives, probably writing and hosting something of my own. I didn&#39;t really use the social aspect of the site much, so a painfully simple database with a table for the the EARL, a title and a timestamp, along with a table of tags should be easy enough to configure.</p>
<p>Fortunately, del.icio.us has always made it easy to export data, so I&#39;ll be getting some XML goodness out of it soon enough.</p>
<p><img src="https://rubenerd.com/files/uploads/screenie.delicious.export.png" alt="" style="height:122px; width:500px;" /></p>
<h3>Uh oh</h3>
<p>My biggest concern right now is my late mum was a huge del.icio.us user, and obviously I can&#39;t ask her for her password any more. I&#39;d hate for her stuff to disappear, maybe I&#39;ll have to contact Yahoo support and ask if I can have her password reset or if they can send me her exported data. Not sure what their protocol is for stuff like that.</p>
<p>It was nice knowing and using you del.icio.us, but I guess you&#39;re destined for the Web 2.0 scrapheap.</p>
<h3>Update</h3>
<p>It seems they&#39;re looking for someone to buy the service, but not shut it down. Still jittery. MerchantCircle it, I suppose?</p>
 
