---
title: 'The Dequindre Cut in Detroit' 
date: "2010-03-15T07:58:24+10:00"
year: "2010"
category: Media
tag:
- backgrounds
- photography
- united-states
---
<p><img src="https://rubenerd.com/files/2021/4434235677_5e1856d304@1x.jpg" srcset="https://rubenerd.com/files/2021/4434235677_5e1856d304@1x.jpg 1x, https://rubenerd.com/files/2021/4434235677_5e1856d304@2x.jpg 2x" alt="My current desktop with the aforementioned photo." style="width:500px; height:313px;" /></p>
<p>I&#39;m taking a break from <a href="//rubenerd.com/anime-kallen-cupcake/">anime backgrounds</a> for a while (stop the presses!) for <a href="http://en.wikipedia.org/wiki/File:Dequindre_Cut_Detroit_a.JPG">this photo</a> taken of the <a href="http://en.wikipedia.org/wiki/Dequindre_Cut">Dequindre Cut in Detroit</a> of all places!</p>
<blockquote><p>The Dequindre Cut is a below-grade pathway, formerly a Grand Trunk Western Railroad line located on the east side of Detroit, Michigan just west of St. Aubin Street. Much of the Cut has been converted to a greenway; the colorful graffiti along the pathway has been left in place.</p></blockquote>
<p>I found it while doing research on the automotive industry, and I was spellbound by it for some deeply weird reason. Maybe it&#39;s the forced perspective, or the colours, or the way the concrete frames the monitor around the edges, or something. I don&#39;t know, I&#39;m not a visual designer or a pro photographer.</p>
<p>Credit goes to Andrew Jameson, if he had a link on the photo page for me to plug, I&#39;d put it here.</p>
 
