---
title: 'Some midday eBay listing fun' 
date: "2010-04-15T04:11:58+10:00"
year: "2010"
category: Internet
tag:
- ebay
- errors
- family
- infocomm
- paypal
- problems
- shopping
- the-big-cleanout-2010 
---
<p><img src="https://rubenerd.com/files/uploads/screenie.ebay.error.png" alt="Ebay technical difficulties" style="height:134px; width:500px;" /></p>
<p>In our efforts to clean out our apartment here, we decided to put a bunch of old home entertainment equipment up on eBay. I&#39;d forgotten just how maddeningly frustrating it could be!</p>
<p>I&#39;ve been using eBay to buy things for many years and have only had a small number of negative experiences, but assuming the role of a seller is another thing entirely. For people who make their livelihoods off the service and have thousands of items for sale, I&#39;m sure its just fine but for the person looking to only put a few items up it&#39;s a quick trip to the loony bin.</p>
<p>My biggest gripe isn&#39;t even the ridiculous little charges they impose on everything from the gallery images to the way text is presented, or the slow and crappy 1999-era interface to enter item details, it just doesn&#39;t work.</p>
<h3>Steps can be found on staircases</h3>
<ol>
<li>Upon painstakingly entering in all the details for our first item, I was informed I wasn’t allowed to sell in Singapore because I have an Aussie eBay account. I don’t know what they hope to accomplish with such a restriction, but I played along and used my dad’s eBay account instead.<p></p></li>
<li>Upon painstakingly re-entering in all the details for our first item, I was informed I would need to convert my dad’s account to a seller.<p></p></li>
<li>I re-entered the login credentials and was asked whether I wanted to pay the fees with PayPal, a credit card or a bank account. I opted to go with PayPal seeing as my dad has used it many, many times on eBay before and clearly had it linked up already. Before going any further, we got a terse error message.<p></p></li>
<li>After trying this a dozen more times on Windows, Mac and FreeBSD machines around the house, we gave up attempting to use PayPal for the fees. Upon painstakingly re-entering in all the details for our first item (again) we chose credit card instead. It worked, and we became a seller.<p></p></li>
<li>We clicked the List This Item button and were given another error message claiming we needed to be verified before listing the item. The only way to do this? With a PayPal account. If it had worked we would have used PayPal, but we had to use a credit card instead! And this despite the account <strong>already</strong> being linked to a <strong>verified</strong> PayPal account.<p></p></li>
</ol>
<p>So far I haven&#39;t got any comments back from my support emails, but they could surprise my any minute now ;).</p>
 
