---
title: 'Eight goals for 2010, from Monnie and EdibleHat' 
date: "2010-02-25T08:27:22+10:00"
year: "2010"
category: Thoughts 
tag: 
- ediblehat
- far-too-long
- forty-two
- goals
- life
- monnie
- thinking-out-loud 
---
<p><img src="https://rubenerd.com/files/uploads/photo.me.irelandcold.jpg" alt="Me in Ireland in December 2009 with a hot cup of coffee in the snow!" style="height:238px; width:500px;" /></p>
<p>I got a blog comment from Monnie <a href="//rubenerd.com/trevor-grace-leaflet/">on my recent</a> South Aussie elections post which led me to her <a href="http://www.monniecakes.com/">cupcakes blog</a>, which led me to her other blog where she talks about <a href="http://vanillasilence.com/?p=186">an idea she got</a> from <a href="http://ediblehat.wordpress.com/2010/01/03/2010-projects/">@edible_hat</a> about goals for 2010. Whew, that was a long and needlessly convoluted sentence.</p>
<p>Anyway we&#39;re already almost 3 months into the new year, but I figured I&#39;d try this myself, only instead of coming up with my own goals I would shamelessly rip off some of <strong>their</strong> goals instead. Recycling reduces resource use, you see. And because I&#39;m a nerd I have to start counting from 0.</p>
<ul>
<li><a href="//rubenerd.com/eight-goals-2010/#declutter">Declutter</a></li>
<li><a href="//rubenerd.com/eight-goals-2010/#worryless">Worry less about what people say about me</a></li>
<li><a href="//rubenerd.com/eight-goals-2010/#personalarchive">Start my own personal archive</a></li>
<li><a href="//rubenerd.com/eight-goals-2010/#uni">Work out what’s going on with uni, and finish off my degree</a></li>
<li><a href="//rubenerd.com/eight-goals-2010/#computerparts">Use random computer parts lying around</a></li>
<li><a href="//rubenerd.com/eight-goals-2010/#cook">Learn to cook more</a></li>
<li><a href="//rubenerd.com/eight-goals-2010/#beme">Keep being me</a></li>
<li><a href="//rubenerd.com/eight-goals-2010/#city">Choose a city to get old in</a></li>
</ul>
<h3 id="declutter">0. Declutter <cite style="font-weight:normal">(~ Monnie)</cite></h3>
<p>A really good idea, and one I&#39;ve already started implementing. I spent much of my holiday back in Singapore getting rid of computer stuff I don&#39;t need and scanning documents to shred. Last check I&#39;d got rid of <a href="http://twitpic.com/12yqb8">over 70,000 pages</a> which is a fair number of boxes worth, as well as several large packing boxes of old computer keyboards, cables and CRT monitors.</p>
<p>In an admission that would make any Buddhist happy, I really need to get over my attachment to objects, before they really start controlling my life. I won&#39;t throw away my first computer though :).</p>
<p>My aim is to finish the year with less stuff than I started with for the first time, and to base my purchasing decisions as much on necessity and the space such things take up instead of just price.</p>
<h3 id="worryless">1. Worry less about what people think/say about me <cite style="font-weight:normal">(~ Monnie)</cite></h3>
<p>As you&#39;re all already bored of reading here, I&#39;m a terribly shy and socially awkward person in real life and that needs to change, firstly by worrying less about what people think about me. People like Monnie and Edible_Hat are awesome enough that they could coast on it, but for me I&#39;d need to work on it some more.</p>
<p>Being self conscious is such a crushing emotion to overcome when I leave the house each morning. Not sure how one goes about fixing that though, maybe getting a haircut?</p>
<h3 id="personalarchive">2. Start my own personal archive <cite style="font-weight:normal">(~ EdibleHat)</cite></h3>
<p>I&#39;d already started doing this to a certain degree with my scanning, but the way he phrased this idea is simply brilliant. To take it literally, I&#39;ve been using a tiny SQLite3 database for my personal stuff for a long time, what&#39;d be great is to scan even more stuff and collate it all with timestamps and subjects in a database too. Because I essentially live in two places this means I could carry more stuff with me virtually!</p>
<p>Been looking at Bento for the Mac which looks perfect, but I&#39;m doing just fine with SQLite3 and my crappy but usable Python interface for it. Should create a nice little ncurses app for it :).</p>
<h3 id="uni">3. Work out what’s going on with uni, and finish off my degree <cite style="font-weight:normal">(~ EdibleHat)</cite></h3>
<p>This really resonated with me. I&#39;ve been studying on and off for family and personal reasons since 2005 and I really need to finish. If that involves transferring because the current university I&#39;m attending has been inflexible and cruel then I need to get my arse into gear and do that.</p>
<h3 id="computerparts">4. Use the random computer parts lying around here to build a file server. <cite style="font-weight:normal">(~ EdibleHat)</cite></h3>
<p>I managed to build several machines from parts while I was in Singapore, but instead of a file server I <a href="http://fah-web.stanford.edu/cgi-bin/main.py?qtype=userpage&amp;username=rubenerd">have them all doing Folding@Home</a> to find cures for diseases. It&#39;s too late for my mum, but I figure I don&#39;t have a medical degree so someone handy around a computer this is my way of helping others. What&#39;s cool is I can use DynDNS and remotely connect to these machines through SSH from here in Adelaide and check on their progress!</p>
<p>I added this here because it&#39;s proof I actually managed to <strong>do something</strong> on this list!</p>
<h3 id="cook">5. Learn to cook more <cite style="font-weight:normal">(~ EdibleHat)</cite></h3>
<p>I tried Vietnamese last week for the first time (<a href="http://gowalla.com/spots/126667">in Kuala Lumpur</a> of all places). I&#39;d love to learn how to cook that, it&#39;s so fresh, healthy and tasty! I can cook all kinds of German stuff but that&#39;s my practical limit. Must be the genes :).</p>
<h3 id="beme">6. Keep being me <cite style="font-weight:normal">(~ Monnie)</cite></h3>
<p>I don&#39;t want to equate my own personal and family struggles with Monnie&#39;s, but that stated goal is simply awesome! Again putting it into practise might be tough, but I&#39;m going to try. I&#39;m a computer nerd who doesn&#39;t like getting drunk, going to nightclubs and spends too much time in coffee shops working on puzzles late at night while chilling to some jazzy <a href="//rubenerd.com/michaelfranks/">Michael Franks</a>. I watch anime. I&#39;m an atheist. I like grilled cheese sandwiches. Take THAT world!</p>
<h3 id="city">7. Choose a city to get old in <cite style="font-weight:normal">(~ Me!)</cite></h3>
<p>Okay, throwing one in that I came up with :). I&#39;d been feeling so disconnected with all the places I&#39;ve been in most of my life because I&#39;ve never been anywhere long enough to have roots. Singapore has been the only exception because I spent my teenage years there and my dad&#39;s still there. It&#39;s where I had my first crush. It&#39;s where I had my first job. It&#39;s where I went to high school. It&#39;s where I fell down the stairs and broke my first laptop.</p>
<p>Still, I&#39;d like to be able to have the guts just to pick up and go to Munich and learn German, or Toronto, or Dublin, or Seoul and learn Korean, or Hong Kong and learn Cantonese, or Kyoto and learn Japanese for a few years. Or acknowledge that I&#39;m in love with Singapore and that I should go back there in my own right instead of on a green card attached to my dad.</p>
<p>Australia is a nice place with friendly people, but I&#39;m really only an Aussie on my passport and with a few of my mannerisms. Studying here is good, but I don&#39;t see my future here. Actually just acknowledging that has made me feel good, maybe I can move on after all.</p>
<h3>Your turn!</h3>
<p>What about you, how many of your 2010 goals have you messed up already?</p>
 
