---
title: '[Eurotrip] Weather shockness!' 
date: "2010-01-11T06:44:58+10:00"
year: "2010"
category: Thoughts 
tag: 
- big-freeze
- dashboard-widgets
- europe
- eurotrip
- ireland
- shock
- weather 
location: Dublin
---
<p><img src="https://rubenerd.com/files/uploads/screenie.eurotrip.weather.png" alt="Weather dashboard widgets" style="height:384px; width:358px; display:inline;" /></p>
<p>When we get back to Singapore on Tuesday, we&#39;re going to die!</p>
 
