---
title: 'Foursquare sorta sells out, I’m on Gowalla' 
date: "2010-02-12T01:15:54+10:00"
year: "2010"
category: Internet
tag:
- foursquare
- gowalla
- infocomm
- location-based-services
- twitter 
---
<p><img src="https://rubenerd.com/files/uploads/foursquare-world.jpg" alt="Foursquare" style="width:260px; height:190px; display:inline; padding:0em;" /></p>
<p>Previously when people would <a href="http://twitter.com/mbsullivan/status/8148663043">ask me on Twitter</a> whether I used <a href="http://gowalla.com/users/Rubenerd">Gowalla</a> or <a href="http://foursquare.com/">Foursquare</a> I&#39;d reply with Gowalla because Foursquare wasn&#39;t available in Singapore or Australia when I started, and now that I have all my locations on there I may as well keep using it. Now it seems I finally have a <a href="http://mashable.com/2010/02/09/foursquare-media-deals/">concrete reason</a> to keep using Gowalla:</p>
<blockquote cite="http://mashable.com/2010/02/09/foursquare-media-deals/"><p>On the heels of the Foursquare-Bravo TV deal, news of several additional major media partnerships involving the location-based social networking app have dropped this evening.</p>
<p>According to various reports, Zagat, Warner Bros., HBO, the History Channel and ExploreChicago have all been added to Foursquare’s media and entertainment mix.</p></blockquote>
<p><strong>First reaction</strong>: oh well, sellouts! <strong>Second reaction</strong>: doesn&#39;t this just further cement Foursquare&#39;s reputation as a site that puts the US #1 and the rest of the world on the backburner? I&#39;m assuming these &quot;media partnerships&quot; are America centric. <strong>Third reaction</strong>: the linked news report on Mashable only had glowing, positive comments? That&#39;s a bit suspect.</p>
<p>Anyway I&#39;ve decided now more than ever to keep using Gowalla, even if their <a href="http://alamofire.com/">parent company&#39;s homepage</a> is so full of saccharine sweet marketing speak I needed to skull three dozen espressos in rapid succession after reading it!</p>
 
