---
title: 'FreeBSD 8.0 boots on a Toshiba Libretto 70CT' 
date: "2010-03-14T12:18:22+10:00"
thumb: "https://rubenerd.com/files/uploads/photo.libretto.freebsd.jpg"
year: "2010"
category: Hardware 
tag:
- bsd
- freebsd
- infocomm
- libretto
- libretto-70ct
---
<p><img src="https://rubenerd.com/files/uploads/photo.libretto.freebsd.jpg" alt="FreeBSD running on my Libretto 70CT" style="height:350px; width:500px;" /></p>
<p>And it works! Yays! ^_^ I&#39;ll be detailing how on Sunday when I have more time, suffice to say it was far more complex and time consuming than I <a href="http://en.wikipedia.org/wiki/Murphy%27s_law">imagined it would be</a>. The Windows 95 partition has also been preserved, albeit in a smaller partition.</p>
<p>It may be a nerdy thing to admit, but working on puzzles like this and solving them is just about the greatest feeling in the world. ^_^</p>
 
