---
title: 'Goodbye Singapore' 
date: "2010-07-12T03:07:41+10:00"
year: "2010"
category: Thoughts 
tag: 
- australia
- family
- forty-two
- life
- moving
- nostalgia
- nsw
- packing
- singapore
- sydney 
---
<p><img src="https://rubenerd.com/files/2010/saying-goodbye-to-singapore_4782366004_o@1x.jpg" alt="Saying goodbye to Singapore" srcset="https://rubenerd.com/files/2010/saying-goodbye-to-singapore_4782366004_o@1x.jpg 1x, https://rubenerd.com/files/2010/saying-goodbye-to-singapore_4782366004_o@2x.jpg 2x" style="width:500px; height:332px;" /></p>
<p><!--oldmore--></p>
<p>Goodbye Singapore, you were a pretty, nice, safe, clean bubble to grow up in with great food, friends and experiences; but after 13 years we have to move on. I arrived at you as a nervous little primary school kid who loved pizza and left as a nervous computer professional who loves late night prata and sushi washed down with a teh tarik and green tea, though perhaps not at the same time.</p>
<p>You spoiled me with your public transport, safe streets, ultra fast internet and your friendly, talkative taxi drivers who always guessed I was from the UK. I&#39;ll miss The Morning Express; hearing meteorologists predicting 24-33 degree weather with afternoon showers every single day; nights with Brian Richmond; debating with shop keepers at Sim Lim Square over the merits of AMD versus Intel; the best airport and national airline in the world; the three different currency design changes that kept us all on our toes; exclaiming aiyo and wah lah; the street directories that proudly proclaim they come with a free map; the smiles from cute baristas who I never worked up the guts to ask out; the customs officials that repeatedly treated me with more respect than the ones from my native country; the year long warm weather that made it so much easier to wake up in the morning; the proximity to amazingly diverse places like Indonesia, Malaysia, Thailand, Cambodia and Viet Nam that made my school excursions and camps that much more amazing; Dr Tan and the tireless nurses and staff at the medical oncology ward at Gleneagles Hospital; and finally the experience of growing up somewhere different.</p>
<h3>Huh?</h3>
<p>My family moved to Singapore in the mid 1990s, now finally we&#39;re being transferred back to Sydney where I was allegedly born, though I have poor memory of such an event ;). My sister and I studied part time in Adelaide but went back to SG for holidays, now we&#39;re studying at UTS in Sydney, across the street from a family friend of all people!</p>
<p>I&#39;ve wondered for ages what sort of person I would have turned out to be had we stayed in Australia. I probably would have been satisfied with Aus and had no qualms with settling down somewhere, probably Sydney where it all started. Now the thought of sitting still and living in the same place for more than a few years terrifies me for more reasons that I could be bothered to talk about, or that you could care to read!</p>
<p>A &quot;base&quot; back in Singapore would be nice for our general stuff we don&#39;t want to be lugging around in moves all the time (like photo albums, my late mum&#39;s posessions and so on). I&#39;ve always wanted to live in Hong Kong for a while, seems like the next logical progression from Singapore ;).</p>
 
