---
title: 'No more Apple Cinema Displays' 
date: "2010-07-28T10:19:20+10:00"
year: "2010"
category: Hardware 
tag:
- apple
- cinema-display
- displays
- infocomm
- monitors
- nostalgia
- powermac-g5
- shopping 
---
<p><img src="https://rubenerd.com/files/uploads/apple.M9179_AV2.jpg" alt="The 30-inch Cinema Display." style="height:326px; width:326px; padding:0em; border:0em; background:transparent;"/></p>
<p>With their launch of new iMacs and Mac Pros yesterday, Apple are perhaps copping the most flack for discontinuing the 24 and 30 inch Cinema Displays. Presented for your consideration are my thoughts, interspersed with plenty of pointless nostalgia. Is that how you spell &quot;interspersed&quot;? Doesn&#39;t look right.</p>
<h3>Anecdotal nostalgia</h3>
<p>For several years my primary machine was a PowerMac G5. It was an amazing machine for compiling huge projects, compressing archives and video, and when it got hot it sounded as if a fighter jet was landing on my desk. It was huge, it was beautiful, it looked like a machine someone would use to get things <strong>done</strong>. But I digress.</p>
<p>Along with the Mac mini, the PowerMac (and now the Mac Pro) are the only Apple computers that didn&#39;t/don&#39;t come with displays, and I&#39;m sure I wasn&#39;t the only one who baulked at the price when I saw the Cinema Displays displayed (heh) as an optional extra for use with my new PowerMac. Next thing I did was go down to <a href="https://secure.wikimedia.org/wikipedia/en/wiki/Funan_DigitaLife_Mall">Funan Centre</a> and pick up a <a href="http://www.samsung.com/sg/function/search/espsearchResult.do?keywords=910T&amp;input_keyword=910T">Samsung display</a> for 1/10th the price.</p>
<p>Now it might seem silly that a person buying a professional computer would go out and buy a consumer display to use with it, but the great thing about the PowerMac line was you could bring your own third party stuff to the party. Its why people went with them instead of getting an iMac. Even most professional AV users I read on newsgroups opted for third party displays, though they no doubt splurged a bit more on them than I did to buy mine.</p>
<p>As a pointless aside, that Samsung display still works. We have it attached to our media server and scanner machine. Last Windows box in the house, go figure.</p>
<p><img src="https://rubenerd.com/files/uploads/screenie.30cinemadisplay.apple.png" alt="The 30-inch Cinema Display in the Apple online store." style="height:230px; width:420px;"/></p>
<h3>Don’t attempt jokes before breakfast</h3>
<p>The problem for Apple is displays are now so cheap and the profits so razor thin people are more likely to cut themselves on that than any of the styling of the display itself (that was supposed to be a joke, but it went off the rails). Apple uses IPS panels in their displays, but people don&#39;t see that when they&#39;re comparing prices, they just see inches and price. There&#39;s another joke there, but I&#39;ll leave that for you to imagine.</p>
<p>Still, I can see why some people would be disappointed. My aging MacBook Pro still has a great screen built in, and because it&#39;s the older generation it has a florescent tube as the backlight instead of LEDs which their new display and current MacBooks use. It sucks (relatively speaking) for battery life, but I find I can use it for much longer periods <a href="https://duckduckgo.com/?q=led%20screen%20eye%20strain">without getting eyestrain</a>. The same goes for the 30 inch Cinema Display, probably, if I could have afforded one.</p>
<p>The other issue is that Apple&#39;s lone display &#8212; the 27 inch &#8212; is just as wide in resolution, but you lose 200 pixels down. For an OS that keeps the menubar permanently locked to the top of the display, plus with all the toolbars in pro apps, that&#39;s not an insignificant loss of screen real estate.</p>
<p>I suppose this is another of those decisions that makes bidness sense for Apple, but will ruffle plenty of people&#39;s feathers. I wish I could have afforded a cool Apple 30 inch display that they used all over Law and Order, but I suppose my current super cheap but decent 1920&#215;1080 22&quot; ViewSonic will have to do. The ratio is a bit irritating, but the colours are great and lines are ultra sharp. Oh yeah, and it&#39;s <em>matte</em>!</p>
<h3>As a final aside…</h3>
<p>It looks as though Apple Australia <a href="http://store.apple.com/au/search?find=30+cinema+display">still has stock</a> of the 30 inch Cinema Display, as of the 29th of July. If I had two and a half grand I&#39;d get one in a heartbeat if only so I could revel in further digital nostalgia. It&#39;s got DVI instead of a MiniDisplay Port too. I could even pretend it&#39;s an iMac by drawing a black optical drive slot on the side.</p>
 
