---
title: 'Google Ad Planner now… DoubleClick?' 
date: "2010-02-26T02:02:34+10:00"
year: "2010"
category: Internet
tag:
- advertising
- aviation
- boeing
- branding
- doubleclick
- google
- infocomm 
---
<p><img src="https://rubenerd.com/files/uploads/logo.doubleclickadplan.png" alt="DoubleClick's logo." style="height:48px; width:205px; display:inline; padding:0em; background:transparent;" /></p>
<p>Got an email this morning from Google claiming one of their advertising products will be retroactively branded as DoubleClick. Huh?</p>
<blockquote><p>Hello,</p>
<p>We have renamed Google Ad Planner to DoubleClick Ad Planner. Next time you log on, you will notice our new logo. You can continue to use Ad Planner whether or not you are a DoubleClick customer. The product remains free and open for everyone.</p>
<p>[…] Since Ad Planner’s media research and planning tools are a significant part of these efforts, we’ve brought it under the DoubleClick brand. We’ll continue to dedicate the same Google and DoubleClick engineering and product resources to the newly renamed DoubleClick Ad Planner. Only the name is changing!</p></blockquote>
<p>The copyright notice still says Google, and the URI still points to a Google domain, but they&#39;re giving it the name of a previously acquired business instead. It&#39;d be like Boeing releasing the <a href="http://en.wikipedia.org/wiki/Boeing_787">Dreamliner</a> as the McDonnell Douglas MD-13, with a tiny little <em>By Boeing</em> graphic next to it.</p>
<p>Oh well, I suppose they have their reasons. Heck when I was a kid I thought the aviation company was called Boing.</p>
 
