---
title: '[Eurotrip] Happy New Year from Paris!' 
date: "2010-01-01T11:10:23+10:00"
year: "2010"
category: Travel
tag: 
- eiffel-tower
- eurotrip
- new-year
- paris
location: Paris
---
<p><a href="http://twitpic.com/w3xco"><img src="https://rubenerd.com/files/uploads/photo.2010.ny.eiffel.jpg" alt="Happy New Year from Paris!" style="height:500px; width:334px;" /></a></p>
<p>This European trip has been so jam packed with stuff I haven&#39;t had time to blog about it, but one of my New Years Resolutions is to rectify this! Once we&#39;ve arrived in Ireland for our scheduled downtime I&#39;ll get started :).</p>
<p>Happy new year and all that jazz!</p>
 
