---
title: 'Hey, its a new theme thing' 
date: "2010-12-24T06:37:10+10:00"
year: "2010"
category: Internet
tag:
- infocomm
- pointless
- themes
- weblog
- wordpress 
---
<p><img src="https://rubenerd.com/files/uploads/screenie.iphone4.rubenerd2011.png" alt="Screenshot of my new blog on the iPhone 4." /></p>
<p>A few observant readers have noticed Rubenerd has a new theme. Gosh!</p>
<h3>Almost!</h3>
<p>If you&#39;ve been reading my ramblings for many years, you may recognise it! This theme is a rehash of the one I used for a few months in 2005, but with a cleaned up stylesheet. I also modularised all the the inline PHP I wrote, and wrapped up most of WordPress&#39;s API calls so I&#39;m hoping it&#39;ll be more portable. <em>shudder</em>, PHP!</p>
<p>The irony is, at the time I didn&#39;t know much CSS, so the design was simple and basic. Now I consider simple and basic a <strong>feature</strong> not a liability, because its minimalistic :D. Its the reason why I love Apple hardware, and why if I were into sports cars I&#39;d have an Audi TT. I don&#39;t care that it has a tiny engine and is apparently a girly car, it's cute and minimalistic and awesome. But I digress.</p>
<p>There&#39;s a financial benefit too! My previous themes were 512KB, 434KB and 262KB, and this one is only 70. It may look silly to quibble over tiny kilobyte differences, but with several hundred unique visits an hour they add up pretty quickly. Like a boss. At some point I&#39;ll upload screenshots of these old ones, if only to remove all doubt that I made the right decision to be a developer/system designer and not a graphic designer ;).</p>
<p>So far most of the feedback I&#39;ve received has been positive, with a couple of resoundingly negative ones. Oh well, <em>se a vida é</em>.</p>
 
