---
title: 'If I had a diary, this hiatus post would go there' 
date: "2010-03-10T12:55:33+10:00"
year: "2010"
category: Thoughts 
tag: 
- leopard
- pointless
- shigure-asa
- snow-leopard
- thinking-out-loud 
---
<p><img src="https://rubenerd.com/files/2010/got-bread_4419188305_o@1x.jpg" alt="Got bread?" srcset="https://rubenerd.com/files/2010/got-bread_4419188305_o@1x.jpg 1x, https://rubenerd.com/files/2010/got-bread_4419188305_o@2x.jpg 2x" style="width:500px; height:375px;" /></p>
<p>Self professed blogging experts (who&#39;s blogs aren&#39;t well known, go figure) say you should never write posts discussing why you haven&#39;t blogged. I&#39;ve already used the word blog four times here. Anyway what have I been doing in this two day absence?</p>
<p>Don&#39;t read this post, the quality doesn&#39;t improve.</p>
<p><!--oldmore--></p>
<h3>Melting Snow Leopard with a hair dryer</h3>
<p><img src="https://rubenerd.com/files/uploads/snow_leopard.jpg" alt="Snow Leopard" style="height:128px; width:137px; margin:0 0 5px 10px; float:right;" /> Or would that be a fur driver, wait fur dryer? The former sounds like an upholstered golf club.</p>
<p>First things first, given it was a <a href="http://www.safework.sa.gov.au/show_page.jsp?id=2483">public holiday</a> in South Australia yesterday (something about a race, I think) I took most of the day to wipe my MacBook Pro and <a href="//rubenerd.com/downgrading-to-leopard/">downgrade it back to Leopard</a>. Is it redundant to say you&#39;ve &quot;gone back&quot; and &quot;downgraded&quot; something? Stop interrupting me.</p>
<p>There are a few features I took for granted in Snow Leopard I took for granted (wait, I already said that) that I&#39;m already missing, such as timestamped screenshot files (WOW that was a huge improvement!). I plugged all my external drives (seven… yes I know I know) and not one single Finder crash. Phews. Is Phews the plural of phew?</p>
<h3>Corn chips</h3>
<p>They&#39;ve started selling <a href="http://en.wikipedia.org/wiki/CC%27s">CCs</a> in Woolworths again! Unfortunately despite this awesomeness, I went to their Mawson Lakes branch late this afternoon and they were completely sold out of bread. Completely! Not a single loaf, not even that Home Brand bread that tastes like cardboard flour, or flour cardboard. I took that photo with my iTelephone and showed my sister, she said &quot;WHOA&quot;. Her exact word.</p>
<h3>Programming</h3>
<p><img src="https://rubenerd.com/files/uploads/logo.perl.gif" alt="Snow Leopard" style="height:80px; width:80px; padding:0em; margin:0 0 5px 5px; background:transparent; float:right;" /> The Perl script I wrote to sync a few computers back in Singapore in 2003 for a small company is still running, albeit with a few modifications since the last time I saw it! They called me up to take a look at it, and it consumed an entire afternoon.</p>
<p>I try my best to love object orientation, but clean, simple, modular code is still so much friggen fun. Heck I&#39;m enjoying working in C again recently for similar reasons, it feels like I&#39;m working with the computer on a problem that&#39;s easier for <em>it</em> to visualise instead of attempting to model objects from our world onto it. Does that make any sense? Damn I want to do assembler, but as if the university will do anything cool and interesting like that :(</p>
<p><img src="https://rubenerd.com/files/uploads/anime.shuffle.memories.asa.jpg" alt="Shugure Asa!" style="height:220px; width:420px;" /></p>
<h3>Smileness</h3>
<p>I was at a coffee shop this morning as I was typing on my new(ish) Libretto 70CT and a cute girl smiled and waved at me as she walked past. I&#39;m such a pathetic simpleton, that one smile was enough to make me feel all warm and fuzzy all morning :).</p>
<h3>I GOT A LIBRETTO 70CT!</h3>
<p>HUGE news, but will be waiting to blog about it in more detail tomorrow.</p>
 
