---
title: 'Host multiple blogs with default WordPress?' 
date: "2010-04-06T04:11:06+10:00"
year: "2010"
category: Internet
tag:
- apache
- infocomm
- php
- wordpress 
---
<p><img src="https://rubenerd.com/files/uploads/graphic.wordpress.icon.png" alt="WordPress icon." style="height:140px; width:380px;" /></p>

<p>Vinícius Lira over in <a href="http://wpengineer.com/wordpress-3-multisite-settings/#comment-3291">this comments thread</a> has proposed a ridiculously elegant solution to using a default WordPress installation to host multiple blogs on different databases. If it works, it&#39;s genius.</p>

<ol>

<li><p>Create a subdomain that points to your WordPress installation, such as <code>http://newblog.site.com/</code></p></li>

<li><p>Create a new database, such as <code>newblog</code></p></li>

<li><p>Edit the <code>wp-config.php</code> file and replace:</p>

<pre>define('DB_NAME', 'wordpress');</pre>

<p>with:</p>

<pre>
if($_SERVER['HTTP_HOST'] == "site.com" or
$_SERVER['HTTP_HOST'] == "www.site.com") {
	define('DB_NAME', "mysitedatabase");
}
elseif ($_SERVER['HTTP_HOST'] == "newblog.site.com") {
	define('DB_NAME', "newblog");
}
</pre></li>

</ol>

<p>Haven&#39;t tested it myself yet, but it seems too simple. It shouldn&#39;t work. If it does, it&#39;d be schweet.</p>
 
