---
title: 'What HP needs to do after The Hurd' 
date: "2010-08-09T12:29:13+10:00"
year: "2010"
category: Hardware 
tag:
- bidness
- business
- carly-fiorina
- hp
- infocomm
- mark-hurd
- taking-care-of-business 
---
<p><img src="https://rubenerd.com/files/uploads/photo.HP_sauce.jpg" style="height:124px; width:500px; background:transparent; padding:0em;" alt="HP Sauce" /></p>
<p>The internet is all abuzz with the resignation of <a href="http://www.gnu.org/software/hurd/hurd.html">Mark Hurd</a> from <a href="http://en.wikipedia.org/wiki/HP_Sauce">HP Sauces</a>. I don&#39;t want to dwell on the circumstances that led to his departure or the health risks posed by the products of a company that make electronic condiments, but rather what the next CEO should do with the company.</p>
<h3>Forward (reverse, neutral, look out, a HERD!)</h3>
<p>First, I suppose its worth mentioning that HP is in a better position than it was when he arrived. Before Fiorina became a scary politician, she steered HP towards purchasing Compaq and for some strange reason selling iPods with the HP logo on them.</p>
<p>I mean, iPods are the gateway drugs to other Apple products not ugly beige Windows boxes, and heavens we all know how terribly slow and crash prone iTunes is on non-Apple hardware! Hey, but at least she could stand on the stage with Gwen Stefani. I wouldn&#39;t have minded doing that. No scratch that, I&#39;d rather stand on a stage with Marian Call and Lisa Ono. I&#39;d be their manager, or some other meaningless position that pays well and means I get to talk to them all the time. That&#39;d be awesome.</p>
<p>So what should HP do now? Lots. But in my professional opinion as a socially awkward student and developer who felt fantastic when he figured out how to use the clothes dryer this morning, these three should be given priority.</p>
<h3>1. Get a new CEO</h3>
<p><img src="https://rubenerd.com/files/uploads/hurdlogo.png" style="height:68px; width:321px; background:transparent; padding:0em;" alt="GNU Hurd" /></p>
<p>If something goes wrong, you always need a scapegoat. Fiorina was great for that. The problem was, despite Hurd&#39;s management skills he brought his own personal problems. CEOs should be tar and feather free so it&#39;s easier to throw corporate failure on them later.</p>
<h3>2. Use Palm for… something!</h3>
<p>Currently Apple and BlackBerry are the only competent, vertically integrated mobile phone makers. Average consumers don&#39;t want to have to deal with Windows Mobile Enterprise Home Premium Phone 7 Corporate Service Pack 3 Release Update 1, nor Android Super Chunky Bacon Fudgy Goodness (that&#39;s not available for your device yet despite it being released 9 decades ago), they just want something they can buy, that works perfectly on the hardware and is easy to sync.</p>
<p>They bought Palm, now where are the new WebOS phones and tablets? I wanted a Pre from the beginning for its OS, but couldn&#39;t justify buying something that was too slow for it to work. Give us something fast, sleek and a bit more open than Apple. I&#39;d buy one!</p>
<p>Oh yeah, and don&#39;t bother with Windows 7 tablets. Nobody bought Windows tablets for a decade, other than those ones Microsoft Pharmaceuticals made for system admins who had to deal with various worm problems. Owies.</p>
<h3>3. Re-release the HP 16C</h3>
<p><img src="https://rubenerd.com/files/uploads/Hp16c.jpg" style="height:261px; width:420px;" alt="The HP 16C calculator" /></p>
<p>I learned and got used to doing reverse polish notation, and I&#39;ve always wanted an original <a href="http://www.hpmuseum.org/hp16.htm">HP 16C</a>, but all HP make now are scientific and financial calculators for scientists and financial peoples. The 16C was a work of art, and as such I can&#39;t afford to buy one on eBay.</p>
<p>Don&#39;t modernise it, don&#39;t change the colour scheme, don&#39;t swap the metal for plastic, don&#39;t &quot;synergise&quot; it with new marketing paradigms or stuff it with WiFi and Bluetooth antennas, just make the original again!</p>
<h3>4. Send me a new HP/Palm phone and an HP 16C</h3>
<p>Or better still I can come by your Sydney offices and pick them up. I&#39;m the guy with the Marvin Martian jumper and the K-On! badges on my bag.</p>
<h3>5. Make David Packard and Bill Hewlett proud</h3>
<p>I suspected they envisioned greater things for the company than selling crappy laptops. Bring back the old HP R&amp;D powerhouse that used to crank our awesome stuff! Like the HP 16C. That calculator was great.</p>
 
