---
title: 'HP buys Palm, Ruben buys coffee to feel better' 
date: "2010-04-29T03:04:05+10:00"
year: "2010"
category: Hardware 
tag:
- bidness
- end-of-an-era
- hp
- infocomm
- palm
- sad-face 
---
<p><img src="https://rubenerd.com/files/uploads/logo.palm.90.png" style="height:140px; width:140px; padding:0em; background:transparent;" alt="Palm logo." /></p>
<p>Its official, HP is buying Palm. Cue the link to my previous post about <a title="Post: Palm for sale, and some drawn out nostalgia" href="//rubenerd.com/palm-for-sale/">Palm nostalgia</a> and a sad face. From the <a href="http://www.hp.com/hpinfo/newsroom/press/2010/100428xa.html">HP press release</a>:</p>
<p><!--oldmore--></p>
<blockquote><p>HP and Palm, Inc. (NASDAQ: PALM) today announced that they have entered into a definitive agreement under which HP will purchase Palm, a provider of smartphones powered by the Palm webOS mobile operating system, at a price of $5.70 per share of Palm common stock in cash or an enterprise value of approximately $1.2 billion. The transaction has been approved by the HP and Palm boards of directors. </p></blockquote>
<p>As I said to @FrankNora on Twitter, it&#39;s not exactly the end to my favourite tech company I was hoping for. HP used to be a fantastic company (I&#39;ve ALWAYS wanted an HP 16C), but now their consumer product divisions are the epitome of dull, uninspired mediocrity that characterises much of the PC industry right now.</p>
<p>Granted Palm will now survive instead of going bankrupt, but how they&#39;ll fare in the kind of environment where product design and quality are shunned in favour of race-to-the-bottom pricing remains to be seen.</p>
<p>HP claims they bought Palm for their WebOS which I admit is fantastic (and needs hardware worthy to run it, which the Pre and Pixi weren&#39;t), but how much of it was just so they could get their warchest of patents? If they do release new hardware, I really hope it looks like something Palm would make and not an HP abomination!</p>
<h3>Update</h3>
<p>@DDsD on Twitter made the observation that HP was listed as a Windows Phone 7 partner with Microsoft. I wonder what this aquisition will mean to this; they could pull an HTC and make phones for every OS under the sun or they go and ditch Microsoft completely. If the latter is the case, will HP still retain their premier positioning at the <span style="text-decoration: line-through;">Apple</span> Microsoft stores in the US?</p>
 
