---
title: 'Initial iPad Star Trek sounding reactions' 
date: "2010-01-29T02:35:00+10:00"
year: "2010"
category: Hardware 
tag:
- apple
- apple-tablet
- far-too-long
- industrial-design
- infocomm
- ipad 
---
<p><img src="https://rubenerd.com/files/uploads/photo.apple.ipad.jpg" alt="The Apple iPad" style="height:305px; width:500px; display:inline; background:transparent; padding:0em;" /></p>
<p>As I sit here on my <a href="//rubenerd.com/fedora-12-installed/">ThinkPad X40 running Fedora 12</a> drinking a piping hot <a href="http://www.starbucks.com.sg/">Americano</a> in <a href="http://www.milleniawalk.com/milleniawalk.shtml">Millenia Walk</a> I&#39;m attempting to make sense of the announcements made thousands of kilometres away on the other side of the planet and their potential ramifications. How&#39;s that for a fluffy, pointless introduction?</p>
<p>Okay cutting through the crap, <a href="http://www.apple.com/ipad/">Apple&#39;s iPad</a> is all <a href="http://twitter.com/search#search?q=ipad">anyone is talking about</a>, so I decided to add my voice to the seething mass of discussion.</p>
<h3>Hypermegaglobalmart</h3>
<p>At first glance that word looks like I was trying to put the word Gaga into it. <strong>Caught in a bad romaaaaaance!</strong> Good heavens I was singing Lady Gaga, this is not a good sign.</p>
<p>As with any Apple announcement, the event often eclipses the product they&#39;re introducing. People frantically stay glued to their computer screens watching the event and posting their live thoughts, people like me in other parts of the world stay up into the inhospitable hours of the morning to watch grainy photos being posted of The Steve&#39;s presentational prowess.</p>
<p>I <a href="http://twitter.com/Rubenerd/status/8271027009">remarked</a> a few days ago on Twitter that I hadn&#39;t seen too many tweets and blog posts by people saying <em>&quot;OMG I don&#39;t care about Apple! Stop talking about the tablet lolz!!!1!!one!&quot;</em> and fortunately these people (who seemingly don&#39;t get the irony of their posts) still constitute a minority of the discussion.</p>
<h3>Initial reaction (would that be &quot;R&quot;?)</h3>
<p>Firstly I&#39;ve got to be brutally honest and admit I was expecting more. I can&#39;t quantify what that means exactly, but when I first saw the presentation for the iPhone I was blown away by how fresh and original it was; to me so far the iPad just looks like a bigger iPod Touch with slick apps.</p>
<p>On the flipside, it really says something about Apple design that something so beautiful and functional could be considered passe. Nothing to see here, it&#39;s just a huge iPod Touch/iPhone! Well yes, but imagine showing this to someone who had never seen an iPhone or iPod Touch before. Imagine if Apple had ceased to exist as per Michael Dell&#39;s prediction and we were still in the stagnant 90s? Hate or love Apple, but you can&#39;t deny their impact on the industry; everyone from Google with Android to Microsoft with the Zune and Windows Aero want to work like Apple products.</p>
<p>I&#39;m still worried the market for this device could be too small <a href="//rubenerd.com/apple-tablet-worrying/">as per my previous post</a>, but that&#39;s not to say I don&#39;t want one!</p>
<p>I&#39;m also reserving discussion as to it&#39;s <strong>&quot;walled garden-ness&quot;</strong> for a future post because I could easily write pages (heh pun) on it and this post is already far too long. Suffice to say for now, it&#39;s not &quot;open&quot;, but it&#39;s not &quot;closed&quot; either.</p>
<p><img src="https://rubenerd.com/files/uploads/photo.girder.jpg" alt="A girder assembly, because I could" style="height:218px; width:500px; display:inline; background:transparent; padding:0em;" /></p>
<h3>Hardware sounds like a girder proof helmet</h3>
<p>With devices like this I don&#39;t like to pass judgement until after I&#39;ve used them, otherwise you end up with people comparing devices based on silly benchmarks and tables of features that mean bugger all in the context of practical usability (we&#39;ve all dealt with people who argue this way). What I can do though is talk about some of the specific details.</p>
<p><span style="font-weight:bold">DISPLAY</span> &#8212; People seem to hate the 1024&#215;768 idea, and while I think the res is a bit too low, the aspect ratio was a smart move by being squarer the horizontal keyboard doesn&#39;t take up too much of the display. I&#39;m extremely impressed that its an IPS display, and I&#39;m relieved they didn&#39;t use OLED (uneven colour fading, terrible in daylight). If I had this tablet, I&#39;d use it on the balcony with a cup of coffee you see :).</p>
<p><span style="font-weight:bold">EINK</span> &#8212; Having used eInk devices, their irritating screen flashes, slow refresh speeds (especially if you scroll) and a lack of a backlight (biggest ugh) outweigh any subjective difference in quality. I find reading on my iPhone when I&#39;m curled up in bed with a subtle backlight and larger fonts (albeit with more page turns) preferable, but I suppose it comes down to user preference. Frankly I don&#39;t like carrying around too many devices, so each has to justify their existence in my bag and a plain eBook reader just can&#39;t do that for me. An iPad would.</p>
<p><span style="font-weight:bold">PORTS</span> &#8212; Ugh, adaptors.</p>
<p><span style="font-weight:bold">APPLE A4</span> &#8212; A custom, system on a chip built in house? Far more interesting than people are giving it credit for. Will be posting more.</p>
<p><span style="font-weight:bold">INTERFACE</span> &#8212; From what I saw in the demos and in the provided screenshots it looks stunning, and if it&#39;s as fast as it&#39;s made out to be it looks like it would be a real pleasure to use. The difference is the same as the difference between a dodgy Windows Flavour X and the surprisingly slick <a href="http://www.ubuntu.com/GetUbuntu/download-netbook">Ubuntu Netbook Remix</a>. The bundled applications are gorgeous and even more I can&#39;t wait to see how third party developers take advantage of it.</p>
<p><span style="font-weight:bold">ETYMOLOGY</span> &#8212; I thought the name sounded like a Star Trek Next Generation prop, but my sister said the name sounds like a brand of women&#39;s sanitary products which is now stuck in my head too!  I hope this will change as I get used to it. I was hoping they&#39;d recycle the iBook moniker for it not just for the book store because I used and adored my iBook in high school. Was dual booted with Panther and NetBSD :).</p>
<p><span style="font-weight:bold">BOOKS</span> &#8212; Only available in the US is a <strong>bummer</strong>, but with the glacial rate old media companies move I&#39;m not surprised. Kudos for using the ePub format, <strong>MEGA</strong> kudos.</p>
<p><span style="font-weight:bold">OTHER THOUGHTS</span> &#8212; Has 13 letters.</p>
<p>I&#39;ve already got some fantastic comments on my <a href="//rubenerd.com/apple-tablet-worrying/">previous iPad speculation post</a>, but feel free to add more :).</p>
 
