---
title: 'User:Jimkloss/Thoughts6' 
date: "2010-02-26T07:25:40+10:00"
year: "2010"
category: Thoughts 
tag: 
- far-too-long
- forty-two
- jim-kloss
- life
- philosophy
- thinking-out-loud
- whole-wheat-radio 
---
<p><img src="https://rubenerd.com/files/uploads/photo.jim.2010-02-24.jpg" alt="Jim Kloss" style="height:304px; width:380px; display:inline;" /></p>
<p>Having just spent the last few days talking about my own social anxiety, awkwardness and questions about my point in life, the universe, everything and 42, I thought I’d stop being so inwardly focused and <a href="http://wholewheatradio.org/wiki/index.php/User:Jimkloss/thoughts6">address someone else’s post</a> discussing similar issues. We’re a confederacy of introverts here aren’t we? :).</p>
<p><strong>WARNING</strong>: This is one of the longest posts I’ve ever done out of <a href="//rubenerd.com/archive/">over <span style="text-decoration:line-through">2,700</span> 2,570</a> of them (whoops!). You’ve been warned.</p>
<p>I’ll start with a maddening rhetorical question, maddening if only because I hate rhetorical questions personally, and I can never spell rhetorical. Who do you think is the greatest, nicest, most intelligent person on the internet? If your answer is Ruben Schade, nobody likes a suck up, so stop it. The answer is a person who, if you’re not a wheathead or even know what a wheathead is, you’ve probably never heard of.</p>
<h3>Meeting is only two chars away from Greeting</h3>
<p>I first met Jim Kloss when I perfected my bicycle powered trans conductive reverse warp drive which allowed me to travel backwards in time for brief moments. I landed in a small park in Ohio in the 1980s and saw a business man through a window frantically typing code into a blinking computer. His eyes were bloodshot which suggested he’d either been staring at that screen for an extended period of time, or management at the company he was working for had needlessly frustrated him with empty rhetoric (there’s that word again) and bureaucratic nonsense, or most likely a combination of the two. I approached the window, but before I could get close enough to say hello and to see what he was doing, a gigantic guard dog lept out from nowhere and clamped his jaw onto my left leg. That little stunt trapped me in 1980s Ohio for weeks because my leg was too sore to start up the bicycle powered trans conductive reverse warp drive to get home. True story.</p>
<p>The second time I met Jim was another accident, it was towards the end of 2004 and I had found out about this term called <a href="http://newtimeradio.com/">New Time Radio</a> by <a href="http://onsug.com/">Frank Nora</a>, a friendly, nerdy prolific internet radio show producer who talked about all sorts of cool, weird, unconventional stuff. Through that I learned about podcasting which led me to download <a href="http://juicereceiver.sourceforge.net/">iPodder</a> and subscribe to this <a href="http://wholewheatradio.org/">Whole Wheat Radio</a> comedy <a href="http://wholewheatradio.org/wiki/index.php/Audio_magazines">audio magazine</a> which from the sound of it was clips from a guy’s rants on an internet radio station.</p>
<p>I’d been used to sending fan mail to people and never getting replies, which was why I was so thrilled that I got a response from Jim within a day of messaging him the first time. I was so taken aback I decided to investigate further, and within a year I’d bought a dozen CDs through his website and had even got my dad listening.</p>
<h3>It’s trust, stupid!</h3>
<p><img src="https://rubenerd.com/files/uploads/diagram.jim.awesomeness.png" alt="Diagram of Jim Kloss awesomeness!" style="height:134px; width:372px; display:inline; padding:0em; background:transparent;" /></p>
<p>This post isn’t about Jim’s Whole Wheat Radio independent music venture, it’s about Jim himself. Over the years I’d come to trust Jim and consider him a friend because in a world of internet stars so engrossed by their own fame they consider themselves demi gods of the online realm worthy of worship, Jim has always been modest and underplayed his own significance and awesomeness, to use the technical terms.</p>
<p>Perhaps as a result of this instant rapport for some reason I started emailing him with problems I was facing and asking for advice. Both our mums (sorry Jim, moms!) passed on at around the same time, and in a very selfish way it was great to talk to someone with similar interests and focus during that time. If he ever resented these messages, he never let it show and always took them with gentle good humour and refreshingly candid advice. Much as <a href="//rubenerd.com/not-laura-douglass/">Laura Douglass was better</a> than the school psychiatrist, Jim has been better than any councillor I’ve seen. No doubt his modest nature will cause him to dismiss such claims as ridiculous, but unless he hacks my blog (and given it’s WordPress it’d probably be simple for a PHP wizard like him to do!) the claim is there and there’s nothing he can do about it!</p>
<h3>Getting off track are we Ruben?</h3>
<p>Anyway I belabour all this pointless crap because after hearing our problems for so long he finally reached out to us a couple of days ago <a href="http://wholewheatradio.org/wiki/index.php/User:Jimkloss/thoughts6">in a wiki entry</a>. I could describe its contents, but best to let the man speak for himself:</p>
<blockquote><p>
…by comparison, <strong>Zettai Ryouiki</strong> is a recent anime fandom term used to describe female characters who wear super long socks with…
</p></blockquote>
<p>Well that was clearly the wrong quote. <a href="http://wholewheatradio.org/wiki/index.php/User:Jimkloss/thoughts6">Let me try again</a>.</p>
<blockquote><p>I’m in the midst of a mid-life identity crisis. I hope it doesn’t include hot flashes.</p>
<p>Examples colliding and breeding in my skull cavity for days/weeks/months include: brief/detailed; funny/serious; personal/business; brain/soul; technical/simple; political/neutered; controversial/Boy Scout; semi-infinite self-created possibilities; Jim; feelings; family; etc;</p></blockquote>
<p>He then goes on to detail his dissolution with Big Mouths who obsessively detail their lives without ever coming to any profound realisations while sparking anger and frustration with other Big Mouths who disagree. Of course my summary does no justice to his words, <a href="http://wholewheatradio.org/wiki/index.php/User:Jimkloss/thoughts6">so stop being lazy and read it</a>. Don&#39;t worry, my page will still be here when you&#39;re done :).</p>
<h3>Setting things straight</h3>
<p><img src="https://rubenerd.com/files/uploads/diagram.jim.awesomeness.cycle.png" alt="Diagram of Jim Kloss awesomeness" style="height:181px; width:397px; display:inline; padding:0em; background:transparent;" /></p>
<p>Reminiscent of <a href="//rubenerd.com/eight-goals-2010/">my recent post</a> inspired by <a href="http://vanillasilence.com/?p=186">Monnie</a> and <a href="http://ediblehat.wordpress.com/2010/01/03/2010-projects/">EdibleHat</a>, Jim then discusses a few points about himself that if you don’t like, you can shove it!</p>
<dl>
<dt style="font-weight:bold">&quot;I’m a human being&quot;</dt>
<dd>You are a human being Jim, with your own opinions and thoughts and your own abilities that you are <strong>damned good at</strong>. People who dispute these are not worth your time and energy. I know it’s pointless advice that’s easier said than done, but it sounded profound in my head.<p></p></dd>
<dt style="font-weight:bold">&quot;I am a big mouth&quot;</dt>
<dd>That may be the case, but you know things and have been around the block enough times to have formed opinions grounded in these apparently trivial things called <strong>reality, common sense and fact</strong> that others are willing to dismiss because they’re an anonymous guy behind a computer, or a political pundit who got where they are by selling out, sucking up and using sound bytes. In other words, you’re a person someone like me can genuinly look up to. Appreciate for a moment how rare that is.<p></p></dd>
<dt style="font-weight:bold">&quot;I am painfully shy, insecure and thin-skinned. I am incredibly gregarious, pompous and proud. It all depends on mood, situation and sunspots&quot;</dt>
<dd>No wait, I’m the one who’s all those things! If you figure out how to overcome the shyness, let me know, but whatever you do <strong>don’t change any of the other things.</strong><p></p></dd>
<dt style="font-weight:bold">&quot;I reserve the right to change this agreement at any time.&quot;</dt>
<dd>Damn straight. Personally I wish to continue our association, but if others don’t, their loss not ours.<p></p></dd>
<dt style="font-weight:bold">&quot;Keep your sense of humor.&quot;</dt>
<dd>(Damn straight)^1024.</dd>
</dl>
<h3>If this post were a circle, it’d have no end.<br />How terrifying.</h3>
<p><img src="https://rubenerd.com/files/uploads/diagram.worth.png" alt="Diagram of diagram worth" style="height:93px; width:360px; display:inline; padding:0em; background:transparent;" /></p>
<p>I’m just going to come right out and say it, no matter how sappy it sounds. You are an awesome person Jim and I believe I speak for many people when I say we’ve been privelidged to have you in our lives. If you do decide to make changes, I hope you do them because <strong>you</strong> want to, and not because you’re feeling pressured by anybody else or anything else. We will be staying tuned, and will support you in any decisions you make.</p>
<p>And if you’re ever in Singapore or Adelaide there’s a manhug, coffee, a grilled cheese sandwich and a philosopical discussion about telling Sh*t from Shinola waiting for you, choose whatever from that list you deem appropriate :)</p>
<p>Peace, health and happiness my friend,<br /><cite>~ Ruben</cite></p>
<h3>Final thoughts</h3>
<blockquote><p>We’re all zippy little bags of energy &#8211; electrons excited enough to energize as light for a few milliseconds on life’s CRT. I know. I get it. We’re equally unimportant and hilariously grandiose in our overblown sense of self-importance within the Universes. I know, I know. I really get that.</p></blockquote>
<p>I would have hoped my life would be on an LCD by now. Perhaps LCDs would help shield us from burnout. Get it? Burn in? CRTs? Sounded witty in my head. I’m hungry, wish I had a DVD spinning stomach.</p>
 
