---
title: 'Sorry Lance, staying on XP still makes sense' 
date: "2010-09-30T07:56:45+10:00"
year: "2010"
category: Software
tag:
- infocomm
- lance-ulanoff
- microsoft
- pc-magazine
- windows
- windows-7
- windows-xp 
---
<p><img src="https://rubenerd.com/files/uploads/screenie.lance.windowsxp.png" alt="Lance Ulanoff's article about Windows XP." style="height:200px; width:500px;" /></p>
<p>While Lance Ulanoff does respond to all my @replies on Twitter like a gentleman, and while I&#39;m deeply envious of his awesome name, I have to say I haven&#39;t disagreed with one of his columns as vehemently as this one (<a href="http://www.pcmag.com/article2/0,2817,2369575,00.asp">Stop Using Windows XP, Please</a>). So much so that he made me look up how to spell vehemently.</p>
<p>In his latest column for PC Magazine, Lance argues that Microsoft wants the stragglers on Windows XP to move up to Windows 7, and that he agrees. He claims that Windows XP is a legacy operating system that&#39;s past its time, that critical software such as Internet Explorer will no longer be supporting it, that Windows 7 has critical features missing from XP, and that staying back on XP may end up costing customers more, not less.</p>
<h3>Older doesn’t mean bad</h3>
<p>Firstly, I am not suggesting Windows XP isn&#39;t an ancient operating system, at least in terms of modern contemporary computers. It was released in 2001 into a 32 bit market and where having an 80 gigabyte hard drive afforded you bragging rights with your nerdy friends. It also appealed to the juvenile Fisher Price sensibilities of consumers by wrapping the interface in ugly shades of blue and green. And no, I don&#39;t see any irony in that, so shaddup.</p>
<p>I&#39;ve been saving a post on how some journalists frustrate me with their attempts to discuss computer security, but for now I&#39;ll say that legacy software isn&#39;t necessarily a bad thing, in fact often times it can be better. Software that has been in the field for many years will often trump new software simply by virtue of the fact there have been more real world test cases. This is the logic behind business decisions to generally eschew versions of Windows until a service pack has been released.</p>
<p>Even despite Windows 7&#39;s perceived security benefits, Windows XP is more mature and runs more current Windows software, <strong>especially</strong> in the enterprise. Why should customers have to buy new machines to run Ultimate versions of Windows 7 with its Windows XP virtual environment to run their Windows XP code, when they can run Windows XP?</p>
<h3>Windows XP is the Flipcam of operating systems</h3>
<p>… because it&#39;s Good Enough™</p>
<p>Even if Windows 7 was as saccharine sweet as most journalists and bloggers and journalist bloggers seem to suggest, that doesn&#39;t change the fact that for the majority of consumers Windows XP does all they need it to. With previous versions of Windows there were real and perceived advantages in usability and stability, this time around the operating system is the browser.</p>
<p>Yes Windows 7 has more features, some of which may be genuinely useful such as BitLocker. For enterprise customers though they most likely have their own tools for achieving the sort of things these built in tools accomplish, or there are superior tools available (TrueCrypt, Firefox). Computer nerds and power users care about such enhancements, but they represent a tiny fraction of the user space. Home users couldn&#39;t care less.</p>
<p>Given the current economic climate when budgets are stretched tighter than the plot of a harem anime (you sinister okaku, I know you know what I&#39;m talking about!) its also understandable why people would be reluctant to move from something that works.</p>
<p>Finally, despite all the aforementioned sweet reviews, Windows 7 is not a fast operating system by any stretch of the imagination. From my own experience I can attest that XP not only boots faster (especially on older hardware) but is more responsive and has a Windows Explorer shell that makes sense. Menubars are great!</p>
<h3>It’s not the user’s fault!</h3>
<p>Rather than getting frustrated and blaming users for continuing to demand a ten year old operating system instead of their current baby, Microsoft should be taking this as a sign that their customers don&#39;t want what Windows 7 is.</p>
<p>A classic user case is my father who&#39;s been using Windows in a corporate setting since Windows/286. He doesn&#39;t care about translucent menus or circular start buttons, he wants a system that will run his suite of Windows applications without getting in his way so he can get his work done quicker and go home to his shiny new MacBook so he can mess around with photos and music.</p>
<p>I&#39;ve been saying for years here that if Microsoft were gracious in defeat they&#39;d admit they&#39;ve lost the high end market to Apple and the power user market to Linux, and instead focus on releasing a bare bones, minimalistic, thin operating system that would allow them to further lock in their corporate customers with their Windows software and allow home users to use the Internet without worrying about anything else. In a way, Windows XP&#39;s continued dominance in light of Vista and 7 is proof of this in action anyway.</p>
<h3>This is the beginning of the end… of this post</h3>
<p>Sorry Lance, you&#39;re a nice guy, and I certainly wouldn&#39;t be caught running Windows XP any more (well okay, that&#39;s a lie, I have it in a VM on my Mac), but as it stands the case simply isn&#39;t compelling enough for most people, and I can&#39;t say I blame them.</p>
<p>By the way if you&#39;re looking for an easy to use and far cheaper desktop alternative: <a href="http://pcbsd.org/">PC-BSD</a> or <a href="http://www.sabayon.org/">Sabayon Linux</a>. Just saying ;).</p>
 
