---
title: 'Links for 2010-03-03' 
date: "2010-03-03T11:01:43+10:00"
year: "2010"
category: Internet
tag:
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://www.littlespeck.com/content/development/CTrendsDev-100227.htm">Singapore&#39;s demographic ambition</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/economics">economics</a> <a href="http://delicious.com/rubenerd/singapore">singapore</a> <a href="http://delicious.com/rubenerd/people">people</a> <a href="http://delicious.com/rubenerd/lifestyle">lifestyle</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://lab.arc90.com/experiments/readability/">Readability &#8211; An Arc90 Lab Experiment</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/internet">internet</a> <a href="http://delicious.com/rubenerd/design">design</a> <a href="http://delicious.com/rubenerd/browser">browser</a> <a href="http://delicious.com/rubenerd/css">css</a> <a href="http://delicious.com/rubenerd/usability">usability</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.tuaw.com/2009/08/31/a-pawful-of-quick-snow-leopard-tips/">A pawful of quick Snow Leopard tips</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/mac">mac</a> <a href="http://delicious.com/rubenerd/osx">osx</a> <a href="http://delicious.com/rubenerd/snowleopard">snowleopard</a> <a href="http://delicious.com/rubenerd/tips">tips</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.cyfuss.com/un_spectrum_en_un_libretto">Un Spectrum en un Libretto | CYFUSS</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/spectrum">spectrum</a> <a href="http://delicious.com/rubenerd/hardware">hardware</a> <a href="http://delicious.com/rubenerd/libretto">libretto</a> <a href="http://delicious.com/rubenerd/retro">retro</a> <a href="http://delicious.com/rubenerd/sinclair">sinclair</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.cs.cmu.edu/~joshuad/libretto.html">Linux and OpenBSD on a Libretto 70CT</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/toshiba">toshiba</a> <a href="http://delicious.com/rubenerd/libretto">libretto</a> <a href="http://delicious.com/rubenerd/hardware">hardware</a> <a href="http://delicious.com/rubenerd/software">software</a> <a href="http://delicious.com/rubenerd/openbsd">openbsd</a> <a href="http://delicious.com/rubenerd/bsd">bsd</a> <a href="http://delicious.com/rubenerd/howto">howto</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.ottaky.com/lib70ct.php">ottaky.com : SuSE Linux on the Toshiba Libretto 70CT</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/toshiba">toshiba</a> <a href="http://delicious.com/rubenerd/libretto">libretto</a> <a href="http://delicious.com/rubenerd/hardware">hardware</a> <a href="http://delicious.com/rubenerd/software">software</a> <a href="http://delicious.com/rubenerd/linux">linux</a> <a href="http://delicious.com/rubenerd/suse">suse</a> <a href="http://delicious.com/rubenerd/howto">howto</a> <a href="http://delicious.com/rubenerd/specs">specs</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://davissharonforest.tripod.com/DebianLinux31onToshibaLibretto50.htm">Installing Debian Linux 3.1 Sarge on Toshiba Libretto 50</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/toshiba">toshiba</a> <a href="http://delicious.com/rubenerd/libretto">libretto</a> <a href="http://delicious.com/rubenerd/hardware">hardware</a> <a href="http://delicious.com/rubenerd/software">software</a> <a href="http://delicious.com/rubenerd/howto">howto</a> <a href="http://delicious.com/rubenerd/debian">debian</a> <a href="http://delicious.com/rubenerd/linux">linux</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://ubuntuforums.org/showthread.php?t=557431">What distro will work in a Toshiba Libretto 70CT? &#8211; Ubuntu Forums</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/toshiba">toshiba</a> <a href="http://delicious.com/rubenerd/libretto">libretto</a> <a href="http://delicious.com/rubenerd/hardware">hardware</a> <a href="http://delicious.com/rubenerd/software">software</a> <a href="http://delicious.com/rubenerd/openbsd">openbsd</a> <a href="http://delicious.com/rubenerd/bsd">bsd</a> <a href="http://delicious.com/rubenerd/howto">howto</a> <a href="http://delicious.com/rubenerd/ubuntu">ubuntu</a> <a href="http://delicious.com/rubenerd/linux">linux</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.crowsons.net/puters/fcm.htm">Fred&#39;s Toshiba Libretto 70CT</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/toshiba">toshiba</a> <a href="http://delicious.com/rubenerd/libretto">libretto</a> <a href="http://delicious.com/rubenerd/hardware">hardware</a> <a href="http://delicious.com/rubenerd/software">software</a> <a href="http://delicious.com/rubenerd/openbsd">openbsd</a> <a href="http://delicious.com/rubenerd/bsd">bsd</a> <a href="http://delicious.com/rubenerd/howto">howto</a>)<p></p></dd>
</dl> 
