---
title: 'Links for 2010-07-17' 
date: "2010-07-17T10:02:46+10:00"
year: "2010"
category: Internet
tag:
- delicious
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://sydneywebcam.blogspot.com/2007_02_01_archive.html">Sydney Webcam: February 2007</a></dt>
<dd class="delicious-extended">&quot;Blues Point Tower, built in the early 1960&#039;s, was the city&#039;s first modern high rise apartment building. It is one of Sydney’s most  controversial landmarks and considered by many to be an eyesore, or at least inconsistent with its surrounding buildings or cityscape&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/photos">photos</a> <a href="http://delicious.com/rubenerd/sydney">sydney</a> <a href="http://delicious.com/rubenerd/australia">australia</a> <a href="http://delicious.com/rubenerd/apartments">apartments</a> <a href="http://delicious.com/rubenerd/architecture">architecture</a> <a href="http://delicious.com/rubenerd/design">design</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.smh.com.au/articles/2002/09/27/1032734319538.html">Towering ambition &#8211; smh.com.au</a></dt>
<dd class="delicious-extended">&quot;The architect believes it&#039;s one of his best. The people of Sydney think otherwise. Forty years after Harry Seidler introduced high-rise living to the city, Stephen Lacey examines the impact of a controversial landmark.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/sydney">sydney</a> <a href="http://delicious.com/rubenerd/architecture">architecture</a> <a href="http://delicious.com/rubenerd/design">design</a> <a href="http://delicious.com/rubenerd/apartments">apartments</a> <a href="http://delicious.com/rubenerd/australia">australia</a>)<p></p></dd>
</dl> 
