---
title: 'Links for 2010-02-03' 
date: "2010-02-03T11:02:56+10:00"
year: "2010"
category: Internet
tag:
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://myconan.net/blog/">animeBSD · 3.3b1: Even more beta :&lt;</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/anime">anime</a> <a href="http://delicious.com/rubenerd/software">software</a> <a href="http://delicious.com/rubenerd/floss">floss</a> <a href="http://delicious.com/rubenerd/blogroll">blogroll</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.likecool.com/Cave_Bookshelf--Store--Home.html">Cave Bookshelf | Store | Home</a></dt>
<dd class="delicious-extended">&quot;Close yourself in the book cave. The Cave Bookshelf(EUR 3,600-EUR 5,250) designed by Sakura Adachi. I love this design, that you or your chilid can sit and read. This bookself provide reading place or cave, just and book, it is a good place you communicate with book. It features cave gives a feeling of hiding from others standing around it, books can be stored on both sides.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/inventions">inventions</a> <a href="http://delicious.com/rubenerd/chairs">chairs</a> <a href="http://delicious.com/rubenerd/cool">cool</a> <a href="http://delicious.com/rubenerd/wantone">wantone</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://akibanana.com/?q=node/1667">Two Monthly Serializations to be Made into Anime Series | Akibanana</a></dt>
<dd class="delicious-extended">Sora no Otoshimono (そらのおとしもの)and Omamori Himari (おまもりひまり) from monthly manga magazines Shonen Ace and Dragon Age respectively are set for the small screens!</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/anime">anime</a> <a href="http://delicious.com/rubenerd/manga">manga</a> <a href="http://delicious.com/rubenerd/television">television</a>)<p></p></dd>
</dl> 
