---
title: 'Links for 2010-07-20' 
date: "2010-07-20T10:02:18+10:00"
year: "2010"
category: Internet
tag:
- delicious
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://helpdesk-software.ws/it/29-04-2004.htm">101 Reasons Why Java is Better than .NET (Reloaded)</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/java">java</a> <a href="http://delicious.com/rubenerd/programming">programming</a> <a href="http://delicious.com/rubenerd/dotnet">dotnet</a> <a href="http://delicious.com/rubenerd/api">api</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://news.bbc.co.uk/2/hi/programmes/newsnight/8720870.stm">BBC News &#8211; Newsnight &#8211; Defectors throw light on harsh realities of life in North Korea</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/news">news</a> <a href="http://delicious.com/rubenerd/korea">korea</a> <a href="http://delicious.com/rubenerd/bbc">bbc</a> <a href="http://delicious.com/rubenerd/history">history</a> <a href="http://delicious.com/rubenerd/northkorea">northkorea</a> <a href="http://delicious.com/rubenerd/politics">politics</a> <a href="http://delicious.com/rubenerd/video">video</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.thegiant.org/">The Giant: The Definitive Obey Giant Site</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/art">art</a> <a href="http://delicious.com/rubenerd/graphics">graphics</a> <a href="http://delicious.com/rubenerd/design">design</a> <a href="http://delicious.com/rubenerd/images">images</a> <a href="http://delicious.com/rubenerd/culture">culture</a> <a href="http://delicious.com/rubenerd/wow">wow</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.australiandesignreview.com/news/17581-Lacoste-Stevenson-wins-UTS-podium-competition">Australian Design Review / News</a></dt>
<dd class="delicious-extended">&quot;Lacoste + Stevenson and DJRD win the competition to redesign the UTS tower podium.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/uts">uts</a> <a href="http://delicious.com/rubenerd/sydney">sydney</a> <a href="http://delicious.com/rubenerd/university">university</a> <a href="http://delicious.com/rubenerd/design">design</a> <a href="http://delicious.com/rubenerd/architecture">architecture</a> <a href="http://delicious.com/rubenerd/australia">australia</a> <a href="http://delicious.com/rubenerd/nsw">nsw</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://lunaticjoker.deviantart.com/art/Maya-Kumashiro-171118939?q=boost%3Apopular+meta%3Aall+max_age%3A8h&amp;qo=10">Maya Kumashiro by *lunaticjoker on deviantART</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/anime">anime</a> <a href="http://delicious.com/rubenerd/cute">cute</a> <a href="http://delicious.com/rubenerd/deviantart">deviantart</a> <a href="http://delicious.com/rubenerd/occultacademy">occultacademy</a> <a href="http://delicious.com/rubenerd/art">art</a> <a href="http://delicious.com/rubenerd/graphics">graphics</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://scottlinux.com/">linux and other geek divagation</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/blog">blog</a> <a href="http://delicious.com/rubenerd/interestingpeople">interestingpeople</a> <a href="http://delicious.com/rubenerd/tech">tech</a> <a href="http://delicious.com/rubenerd/opensource">opensource</a> <a href="http://delicious.com/rubenerd/software">software</a> <a href="http://delicious.com/rubenerd/foss">foss</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.artofobama.com/2009/01/20/evolution/">Evolution | The Art of Obama</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/politics">politics</a> <a href="http://delicious.com/rubenerd/art">art</a> <a href="http://delicious.com/rubenerd/graphics">graphics</a> <a href="http://delicious.com/rubenerd/funny">funny</a> <a href="http://delicious.com/rubenerd/barackobama">barackobama</a>)<p></p></dd>
</dl> 
