---
title: 'Links for 2010-03-06' 
date: "2010-03-06T11:01:40+10:00"
year: "2010"
category: Internet
tag:
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://www.empowermentzone.com/wp51mini.txt">http://www.empowermentzone.com/wp51mini.txt</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/howto">howto</a> <a href="http://delicious.com/rubenerd/guide">guide</a> <a href="http://delicious.com/rubenerd/wordperfect">wordperfect</a> <a href="http://delicious.com/rubenerd/retro">retro</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://laptop.bsdgroup.de/freebsd/index.html?action=list_pcmcia_cat&amp;catid=1">FLCL &#8211; List WLAN PCMCIA cards &#8211; BSDGroup</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/freebsd">freebsd</a> <a href="http://delicious.com/rubenerd/hardware">hardware</a> <a href="http://delicious.com/rubenerd/wifi">wifi</a> <a href="http://delicious.com/rubenerd/pcmcia">pcmcia</a> <a href="http://delicious.com/rubenerd/pccard">pccard</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.abc.net.au/news/stories/2010/03/05/2837546.htm?section=justin">Atheists &#39;fuelling sectarian conflict&#39; &#8211; ABC News (Australian Broadcasting Corporation)</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/fearmongering">fearmongering</a> <a href="http://delicious.com/rubenerd/bs">bs</a> <a href="http://delicious.com/rubenerd/atheism">atheism</a> <a href="http://delicious.com/rubenerd/religion">religion</a> <a href="http://delicious.com/rubenerd/australia">australia</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.cnn.com/2010/HEALTH/02/26/liberals.atheists.sex.intelligence/">Liberalism, atheism, male sexual exclusivity linked to IQ &#8211; CNN.com</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/atheism">atheism</a> <a href="http://delicious.com/rubenerd/ethics">ethics</a> <a href="http://delicious.com/rubenerd/news">news</a> <a href="http://delicious.com/rubenerd/politics">politics</a> <a href="http://delicious.com/rubenerd/religion">religion</a> <a href="http://delicious.com/rubenerd/science">science</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.mail-archive.com/libretto@basiclink.com/msg04325.html">Re: mouse cap</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/libretto">libretto</a> <a href="http://delicious.com/rubenerd/toshiba">toshiba</a> <a href="http://delicious.com/rubenerd/hardware">hardware</a>)<p></p></dd>
</dl> 
