---
title: 'Links for 2010-06-15' 
date: "2010-06-15T10:01:59+10:00"
year: "2010"
category: Internet
tag:
- delicious
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://www.makeyourideasbetter.com/events.html">Make your ideas better with Microsoft Office 2010 in Singapore</a></dt>
<dd class="delicious-extended">Was invited, but I think I&#39;ll pass ;) &quot;Catch performances by Jack &amp; Rai, 53A and other local artistes – including our 15-year-old guest DJ who will be spinning as we count down to the launch.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/events">events</a> <a href="http://delicious.com/rubenerd/invitiations">invitiations</a> <a href="http://delicious.com/rubenerd/ooxmlsucks">ooxmlsucks</a> <a href="http://delicious.com/rubenerd/office">office</a> <a href="http://delicious.com/rubenerd/microsoft">microsoft</a> <a href="http://delicious.com/rubenerd/software">software</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://twitter.com/BobMetcalfe">Bob Metcalfe (BobMetcalfe) on Twitter</a></dt>
<dd class="delicious-extended">Always a disappointment when you find someone you respect (as in, the inventor of Ethernet!) takes Fox News seriously. :P</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/twitter">twitter</a> <a href="http://delicious.com/rubenerd/ethernet">ethernet</a> <a href="http://delicious.com/rubenerd/inventions">inventions</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.sbs.com.au/news/article/1275192/Potato-salad-cuts-barbecue-cancer-risk">World News Australia &#8211; Potato salad cuts barbecue cancer risk</a></dt>
<dd class="delicious-extended">Cool, I love potato salad :). Then again I don&#39;t really like red meat anyway</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/food">food</a> <a href="http://delicious.com/rubenerd/health">health</a> <a href="http://delicious.com/rubenerd/news">news</a> <a href="http://delicious.com/rubenerd/australia">australia</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://i.imgur.com/BxVy1.gif">BxVy1.gif (GIF Image, 344&#215;328 pixels)</a></dt>
<dd class="delicious-extended">Guy just barely misses an out of control car. WOW :O</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/gif">gif</a> <a href="http://delicious.com/rubenerd/animation">animation</a> <a href="http://delicious.com/rubenerd/wow">wow</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://dannystack.blogspot.com/2009/01/joss-whedons-top-10-writing-tips.html">Scriptwriting in the UK: Joss Whedon&#39;s Top 10 Writing Tips</a></dt>
<dd class="delicious-extended">Going to give some of these a try</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/howto">howto</a> <a href="http://delicious.com/rubenerd/television">television</a> <a href="http://delicious.com/rubenerd/tips">tips</a> <a href="http://delicious.com/rubenerd/writing">writing</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.flightglobal.com/blogs/aircraft-pictures/2010/06/jals-new-sky-eco-livery-on-a-7.html?utm_source=twitterfeed&amp;utm_medium=twitter">JAL&#39;s New &#39;Sky Eco&#39; Livery on a 777-200 &#8211; Flight Image of the Day</a></dt>
<dd class="delicious-extended">Really pretty ^^. Surprised they&#39;d do it to a 777 though, isn&#39;t the 787 Dreamliner the lighter, more efficient, greener one?</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/jal">jal</a> <a href="http://delicious.com/rubenerd/japan">japan</a> <a href="http://delicious.com/rubenerd/boeing">boeing</a> <a href="http://delicious.com/rubenerd/boeing772">boeing772</a> <a href="http://delicious.com/rubenerd/design">design</a> <a href="http://delicious.com/rubenerd/graphics">graphics</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.canvasdreams.com/web-hosting.php">Sustainable Web Hosting, Oregon Web Hosting &#8211; Canvas Dreams</a></dt>
<dd class="delicious-extended">Looks really good. Contacting them as a contingency plan for some of my other sites if SegPub keeps messing up.</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/internet">internet</a> <a href="http://delicious.com/rubenerd/green">green</a> <a href="http://delicious.com/rubenerd/environment">environment</a> <a href="http://delicious.com/rubenerd/hosting">hosting</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.billpressshow.com/2010/06/08/admiral-thad-allen-at-the-white-house-on-the-oil-spill/">Admiral Thad Allen at the White House on the Oil Spill</a></dt>
<dd class="delicious-extended">&quot;Coast Guard Admiral Thad Allen, National Incident Commander for the oil spill,  presented this graphic detailing the response at yesterday’s White House Press Briefing.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/news">news</a> <a href="http://delicious.com/rubenerd/environment">environment</a> <a href="http://delicious.com/rubenerd/unitedstates">unitedstates</a> <a href="http://delicious.com/rubenerd/gulfmexico">gulfmexico</a> <a href="http://delicious.com/rubenerd/disaster">disaster</a> <a href="http://delicious.com/rubenerd/ugh">ugh</a> <a href="http://delicious.com/rubenerd/infographic">infographic</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.motivatedphotos.com/?id=1921">demotivational posters &#8211; Anime &#8211; because in real life women wont dress and act like this</a></dt>
<dd class="delicious-extended">And who could blame them, right? ;)</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/anime">anime</a> <a href="http://delicious.com/rubenerd/gurrenlagann">gurrenlagann</a> <a href="http://delicious.com/rubenerd/motivationalposter">motivationalposter</a> <a href="http://delicious.com/rubenerd/funny">funny</a> <a href="http://delicious.com/rubenerd/pointless">pointless</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://tidyread.com/">TidyRead &#8211; A Faster and Leaner Mobile Reading Experience</a></dt>
<dd class="delicious-extended">And I only just learned about the new feature of Safari 5 doing the same thing. It&#39;s a great idea, even if my site fails on it</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/browser">browser</a> <a href="http://delicious.com/rubenerd/html">html</a> <a href="http://delicious.com/rubenerd/internet">internet</a> <a href="http://delicious.com/rubenerd/iphone">iphone</a> <a href="http://delicious.com/rubenerd/phones">phones</a> <a href="http://delicious.com/rubenerd/accessibility">accessibility</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.straitstimes.com/BreakingNews/Singapore/Story/STIStory_540075.html">Hotel site for tender &#8211; Channel News Asia</a></dt>
<dd class="delicious-extended">I guess when you have such a tiny amount of land, each parcel of it has to be carefully rationed out!</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/singapore">singapore</a> <a href="http://delicious.com/rubenerd/urbanplanning">urbanplanning</a> <a href="http://delicious.com/rubenerd/urban">urban</a> <a href="http://delicious.com/rubenerd/business">business</a> <a href="http://delicious.com/rubenerd/bidness">bidness</a> <a href="http://delicious.com/rubenerd/news">news</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.straitstimes.com/BreakingNews/Singapore/Story/STIStory_535669.html">&#39;Window Safety Day&#39; on June 6</a></dt>
<dd class="delicious-extended">&quot;SINGAPORE &#8211; SINGAPORE will hold a &#39;Window Safety Day&#39; to highlight a growing problem of windows falling from high-rise apartment buildings in the densely populated city-state.&quot; Not what I was expecting ;)</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/windows">windows</a> <a href="http://delicious.com/rubenerd/cna">cna</a> <a href="http://delicious.com/rubenerd/news">news</a> <a href="http://delicious.com/rubenerd/singapore">singapore</a> <a href="http://delicious.com/rubenerd/safety">safety</a> <a href="http://delicious.com/rubenerd/security">security</a> <a href="http://delicious.com/rubenerd/microsoft">microsoft</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.cartoonleap.com/2009/03/12/toradora%C2%B4s-taiga-x-ryuuji-marriage/">Toradora´s Taiga x Ryuuji Marriage! : Cartoon Leap Anime Blog</a></dt>
<dd class="delicious-extended">It&#39;s funny because it&#39;s true!</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/tsundere">tsundere</a> <a href="http://delicious.com/rubenerd/anime">anime</a> <a href="http://delicious.com/rubenerd/funny">funny</a> <a href="http://delicious.com/rubenerd/toradora">toradora</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.thevine.com.au/fashion/beauty/rihanna%27s-new-red-hair20100608.aspx">Rihanna&#39;s new red hair &#8211; Beauty | thevine.com.au</a></dt>
<dd class="delicious-extended">From Lady Gaga to Madonna to Rihanna now, why do female singers feel the need to do without pants!? Are they all Strike Witches fans?! Is it any wonder I listen to and support awesome people like Marian Call?! I&#39;ll stop now *grumble*</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/music">music</a> <a href="http://delicious.com/rubenerd/rant">rant</a> <a href="http://delicious.com/rubenerd/mariancall">mariancall</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.smh.com.au/nsw/second-harbour-crossing--or-chaos-20100530-wnik.html?comments=45#comments">Second rail link across the harbour proposed &#8211; Sydney Morning Herald</a></dt>
<dd class="delicious-extended">Public transport in Australia is terrible, and comments on this story show I&#39;m not the only one who thinks so :(.</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/publictransport">publictransport</a> <a href="http://delicious.com/rubenerd/australia">australia</a> <a href="http://delicious.com/rubenerd/sydney">sydney</a> <a href="http://delicious.com/rubenerd/nsw">nsw</a> <a href="http://delicious.com/rubenerd/news">news</a> <a href="http://delicious.com/rubenerd/politics">politics</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.merriam-webster.com/dictionary/egads">Egads &#8211; Definition and More from the Free Merriam-Webster Dictionary</a></dt>
<dd class="delicious-extended">&quot;probably euphemism for oh God, 1673, used as a mild oath&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/definitions">definitions</a> <a href="http://delicious.com/rubenerd/facts">facts</a> <a href="http://delicious.com/rubenerd/dictionary">dictionary</a> <a href="http://delicious.com/rubenerd/egads">egads</a> <a href="http://delicious.com/rubenerd/terms">terms</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.electricsistahood.com/reviews/2010/01/top-five-worst-anime-of-2009_03.html">Electric Sista Hood: Top Five Worst Anime of 2009 :: Video Game, Tech Gadgets, and Anime Reviews</a></dt>
<dd class="delicious-extended">They&#39;re not a fan of K-On! That&#39;s okay, I&#39;m not a fan of their overly cluttered blog theme ;)</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/anime">anime</a> <a href="http://delicious.com/rubenerd/k-on">k-on</a> <a href="http://delicious.com/rubenerd/keion">keion</a> <a href="http://delicious.com/rubenerd/kyoani">kyoani</a> <a href="http://delicious.com/rubenerd/reviews">reviews</a> <a href="http://delicious.com/rubenerd/blogs">blogs</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.bbc.co.uk/blogs/thereporters/nickbryant/2010/06/the_ocker_shocker.html">BBC &#8211; Nick Bryant&#39;s Australia: The Ocker Shocker</a></dt>
<dd class="delicious-extended">&quot;I speak, of course, of Tourism Australia&#39;s long-awaited new global advertisement, where no cliché and stereotype is left un-reinforced.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/advertising">advertising</a> <a href="http://delicious.com/rubenerd/australia">australia</a> <a href="http://delicious.com/rubenerd/bbc">bbc</a> <a href="http://delicious.com/rubenerd/news">news</a> <a href="http://delicious.com/rubenerd/cringeworthy">cringeworthy</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://dl.dropbox.com/u/7502354/ubn.mp3">ubn.mp3 (audio/mpeg Object)</a></dt>
<dd class="delicious-extended">Nurie saying I&#39;m stupid. She was supposed to say &quot;I&#39;m going to give Ruben one million dollars!&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/audio">audio</a> <a href="http://delicious.com/rubenerd/rubenerdshow">rubenerdshow</a> <a href="http://delicious.com/rubenerd/funny">funny</a> <a href="http://delicious.com/rubenerd/friends">friends</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://tv.yahoo.com/photos/gallery?galtype=show&amp;id=36471&amp;goto=14">Will Dailey guest stars as himself on CSI: NY</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/csi">csi</a> <a href="http://delicious.com/rubenerd/television">television</a> <a href="http://delicious.com/rubenerd/photos">photos</a>)<p></p></dd>
</dl> 
