---
title: 'Links for 2010-02-01' 
date: "2010-02-01T11:01:40+10:00"
year: "2010"
category: Internet
tag:
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://blogs.wsj.com/washwire/2010/01/29/republican-leaders-forming-new-political-group/?mod=wsj_share_facebook">Republican Leaders Forming New Political Group &#8211; Washington Wire &#8211; WSJ</a></dt>
<dd class="delicious-extended">Not sure whether to laugh or be nervous. Maybe I&#39;ll nervously laugh</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/news">news</a> <a href="http://delicious.com/rubenerd/politics">politics</a> <a href="http://delicious.com/rubenerd/unitedstates">unitedstates</a> <a href="http://delicious.com/rubenerd/neocons">neocons</a> <a href="http://delicious.com/rubenerd/scary">scary</a> <a href="http://delicious.com/rubenerd/funny">funny</a>)<p></p></dd>
</dl> 
