---
title: 'Links for 2010-07-21' 
date: "2010-07-21T10:01:34+10:00"
year: "2010"
category: Internet
tag:
- delicious
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://support.microsoft.com/kb/926657">Some 16-bit DOS-based Programs and the Command Prompt will not run in full-screen mode in Windows Vista and in Windows 7</a></dt>
<dd class="delicious-extended">&quot;You may find that some 16-bit DOS-based programs do not run in full-screen mode in Windows Vista and in Windows 7. You cannot set a Command Prompt (CMD) window to display in full-screen mode.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/windows">windows</a> <a href="http://delicious.com/rubenerd/microsoft">microsoft</a> <a href="http://delicious.com/rubenerd/knowledgebase">knowledgebase</a> <a href="http://delicious.com/rubenerd/support">support</a> <a href="http://delicious.com/rubenerd/dos">dos</a> <a href="http://delicious.com/rubenerd/retro">retro</a> <a href="http://delicious.com/rubenerd/errors">errors</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.cherrypy.org/">CherryPy &#8211; Trac</a></dt>
<dd class="delicious-extended">&quot;CherryPy is a pythonic, object-oriented HTTP framework [..] allows developers to build web applications in much the same way they would build any other object-oriented Python program.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/cherrypy">cherrypy</a> <a href="http://delicious.com/rubenerd/python">python</a> <a href="http://delicious.com/rubenerd/programming">programming</a> <a href="http://delicious.com/rubenerd/framework">framework</a> <a href="http://delicious.com/rubenerd/internet">internet</a> <a href="http://delicious.com/rubenerd/software">software</a> <a href="http://delicious.com/rubenerd/web">web</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.mophie.com/product-p/8007_usb-micro-12-blk.htm">mophie &#8211; iPhone Battery, iPod Cases, iPhone accessories and more!</a></dt>
<dd class="delicious-extended">Only thing I don&#039;t like about this otherwise awesome battery pack is the silly cable. Need to get another one because it doesn&#039;t just use a regular mini USB.</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/morphie">morphie</a> <a href="http://delicious.com/rubenerd/iphone">iphone</a> <a href="http://delicious.com/rubenerd/batteries">batteries</a> <a href="http://delicious.com/rubenerd/accessories">accessories</a> <a href="http://delicious.com/rubenerd/shopping">shopping</a> <a href="http://delicious.com/rubenerd/doh">doh</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.redkid.net/generator/sign.php">RedKid.Net</a></dt>
<dd class="delicious-extended">This is my favourite sign generator site so far</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/signgenerators">signgenerators</a> <a href="http://delicious.com/rubenerd/fun">fun</a> <a href="http://delicious.com/rubenerd/funny">funny</a> <a href="http://delicious.com/rubenerd/pointless">pointless</a> <a href="http://delicious.com/rubenerd/graphics">graphics</a> <a href="http://delicious.com/rubenerd/signs">signs</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.addletters.com/">Add Letters! Custom Image Generators &amp; Sign Generators</a></dt>
<dd class="delicious-extended">These really are lots of fun :)</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/signgenerators">signgenerators</a> <a href="http://delicious.com/rubenerd/fun">fun</a> <a href="http://delicious.com/rubenerd/funny">funny</a> <a href="http://delicious.com/rubenerd/pointless">pointless</a> <a href="http://delicious.com/rubenerd/graphics">graphics</a> <a href="http://delicious.com/rubenerd/signs">signs</a>)<p></p></dd>
<dt class="delicious-link"><a href="https://secure.wikimedia.org/wikipedia/en/wiki/File:Caravelle_yu.JPG">File:Caravelle yu.JPG &#8211; Wikipedia, the free encyclopedia</a></dt>
<dd class="delicious-extended">&quot;Old Caravelle in front of the Museum of Aviation in Belgrade&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/wikimediacommons">wikimediacommons</a> <a href="http://delicious.com/rubenerd/photos">photos</a> <a href="http://delicious.com/rubenerd/caravelle">caravelle</a> <a href="http://delicious.com/rubenerd/retro">retro</a> <a href="http://delicious.com/rubenerd/aeroplanes">aeroplanes</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.motorola.com/Consumers/AU-EN/Consumer-Products-and-Services/Mobile-Phones/ci.Motorola-MILESTONE-AU-EN.alt">Milestone Android &#8211; Tech Specs &#8211; Australia</a></dt>
<dd class="delicious-extended">Not my first choice of phone, but if I can get it for free…!</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/australia">australia</a> <a href="http://delicious.com/rubenerd/android">android</a> <a href="http://delicious.com/rubenerd/motorola">motorola</a> <a href="http://delicious.com/rubenerd/motorolamilestone">motorolamilestone</a> <a href="http://delicious.com/rubenerd/phones">phones</a> <a href="http://delicious.com/rubenerd/specs">specs</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.airliners.net/photo//1744506/L/">Photos: &#8211; Aircraft Pictures | Airliners.net</a></dt>
<dd class="delicious-extended">&quot;Penang International Airport terminal building. &quot; Ah brings back memories :)</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/aviations">aviations</a> <a href="http://delicious.com/rubenerd/photos">photos</a> <a href="http://delicious.com/rubenerd/buildings">buildings</a> <a href="http://delicious.com/rubenerd/architecture">architecture</a> <a href="http://delicious.com/rubenerd/malaysia">malaysia</a> <a href="http://delicious.com/rubenerd/penang">penang</a> <a href="http://delicious.com/rubenerd/airliners.net">airliners.net</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.airliners.net/photo/Boeing/Boeing-787-8-Dreamliner/1744492/L/">Photos: Boeing 787-8 Dreamliner Aircraft Pictures | Airliners.net</a></dt>
<dd class="delicious-extended">&quot;N787BX (cn 40692/3) The aircrafts first visit to the UK was marked by wing wagging fly by after its 9hr 31 min flight.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/boeing787">boeing787</a> <a href="http://delicious.com/rubenerd/aviation">aviation</a> <a href="http://delicious.com/rubenerd/photos">photos</a> <a href="http://delicious.com/rubenerd/airliners.net">airliners.net</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.airliners.net/photo/Boeing/Boeing-787-8-Dreamliner/1744817/L/">Photos: Boeing 787-8 Dreamliner Aircraft Pictures | Airliners.net</a></dt>
<dd class="delicious-extended">N787BX (cn 40692/3) Farnborough Airshow 2010 &#8211; 1st visit of the 787 outside the US (inside view)</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/boeing787">boeing787</a> <a href="http://delicious.com/rubenerd/aviation">aviation</a> <a href="http://delicious.com/rubenerd/photos">photos</a> <a href="http://delicious.com/rubenerd/airliners.net">airliners.net</a>)<p></p></dd>
</dl> 
