---
title: 'Links for 2010-07-26' 
date: "2010-07-26T10:03:07+10:00"
year: "2010"
category: Internet
tag:
- delicious
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://www.dw-world.de/dw/article/0,,5826127,00.html?maca=en-TWITTER-EN-2004-xml-mrss">Berlin Paper Girls give the gift of art to passers-by | Art &amp; Architecture | Deutsche Welle | 25.07.2010</a></dt>
<dd class="delicious-extended">That&#039;s a really cool idea, I love it :)</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/art">art</a> <a href="http://delicious.com/rubenerd/design">design</a> <a href="http://delicious.com/rubenerd/peace">peace</a> <a href="http://delicious.com/rubenerd/germany">germany</a> <a href="http://delicious.com/rubenerd/berlin">berlin</a>)<p></p></dd>
</dl> 
