---
title: 'Links for 2010-07-12' 
date: "2010-07-12T10:01:47+10:00"
year: "2010"
category: Internet
tag:
- delicious
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://www.birdcowfish.com.au/">Bird Cow Fish</a></dt>
<dd class="delicious-extended">Really great little cafe and restaurant in Surry Hills in Sydney that my dad and I ate at this morning. Friendly people too, and a great name :). Needs a temporary NoScript allowance for the menus to load.</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/restaurant">restaurant</a> <a href="http://delicious.com/rubenerd/sydney">sydney</a> <a href="http://delicious.com/rubenerd/australia">australia</a> <a href="http://delicious.com/rubenerd/nsw">nsw</a> <a href="http://delicious.com/rubenerd/food">food</a> <a href="http://delicious.com/rubenerd/coffee">coffee</a> <a href="http://delicious.com/rubenerd/cafe">cafe</a> <a href="http://delicious.com/rubenerd/breakfast">breakfast</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.searchlores.org/realicra/mrwho_67.htm">mrwho_67.htm: Reality Cracking: Commercial TV</a></dt>
<dd class="delicious-extended">Don&#39;t let the Web 1.0-ness fool you, this is a really eye opening site. Teaches you to think critically and differently about advertising.</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/advertising">advertising</a> <a href="http://delicious.com/rubenerd/mindcontrol">mindcontrol</a> <a href="http://delicious.com/rubenerd/thoughts">thoughts</a> <a href="http://delicious.com/rubenerd/eyeopening">eyeopening</a> <a href="http://delicious.com/rubenerd/thinking">thinking</a>)<p></p></dd>
</dl> 
