---
title: 'Microsoft’s consumer space woes' 
date: "2010-05-08T12:49:52+10:00"
year: "2010"
category: Hardware 
tag:
- advertising
- apple
- design
- history
- infocomm
- madobe-nanami
- marketing
- microsoft
- nostalgia
- windows 
---
<p><img src="https://rubenerd.com/files/uploads/anime.nanami.madobe.jpg" alt="Madobe Nanami, Windows 7-tan" style="height:280px; width:500px; display:inline;" /></p>
<p><a href="http://twitter.com/DDsD">David Olsen</a> on Twitter <a href="http://twitter.com/DDsD/status/13457104674">said something</a> this morning which I think is endemic of the reason why Microsoft is being crushed in the consumer space and can’t understand why. For once, <strong>a more serious post</strong> here on Rubenerd.com!</p>
<p><!--oldmore--></p>
<blockquote><p>MS works with hardware partners to deliver more or less the same solution as Apple, distribute the delivery of competing product</p></blockquote>
<h3>I hate and love Clarkson at the same time</h3>
<p>In an <a href="http://www.youtube.com/watch?v=wI2MpcIiO6A">old episode</a> of Top Gear from 2006, Jeremy Clarkson test drives the a <a href="//rubenerd.com/tag/malaysia/">Malaysian</a> Perodua car. While acknowledging the price point and features made it compelling compared to other small and affordable cars on paper, he immediately dismissed it and took a sledgehammer to its body work in an entertaining rage. It was clear the car had been designed by a team of business executives in a board room, and not by people passionate about cars, he claimed.</p>
<p>The dilemma facing Microsoft isn’t that they have a lack of talent; some brilliant people work for them and they have access to the same potential employee pool as Apple does. Their problem is they advertise <strong>what</strong> they’re doing without addressing <strong>why</strong> other than profits, which means people fill in the blanks with images of the Evil Empire and monopolies. They also create consumer products by broadly duplicating products (or at least attempting to) from other companies and then stare in utter bewilderment when people keep buying iPods instead of Zunes, as David showed above.</p>
<p><img src="https://rubenerd.com/files/uploads/photo.windowsstore.ugh.jpg" alt="Second hand embarrassment!" style="height:280px; width:500px; display:inline;" /></p>
<h3>The image problem</h3>
<p>Apple has pizzazz and is too cool for school, and Microsoft is old and tired. Microsoftians dismiss such notions as marketing babble and that consumers are dumb for falling for it, without realising how important such image is. Instead we end up with knockoff Microsoft stores in the US stocked with offerings from mediocre companies like HP and with hapless employees attempting to dance to the Black Eyed Peas. Don’t get me wrong, my dancing is painfully embarrassing too, but that’s why I don’t do it in public!</p>
<p>Apple is successful because they advertise themselves as a lifestyle company that wants to make life easier and more fun for people, and as a result they happen to make computers, music players and phones. Microsoft advertises themselves in the consumer space with lists of technical specifications. It works great for them in the enterprise space, but not for consumers.</p>
<p>Whether they intend it or not is inconsequential, consumers broadly see Microsoft as wanting to make as much money as possible as their <strong>why</strong>, and Apple as being a company wanting to challenge the status quo. They’re both businesses with shareholders, but the difference is striking.</p>
<p>The irony is that while Microsoft was trying to be Apple by attempting to duplicate their experience, the very real alternative market that embraces openness and customisation was cornered by the Linux folks, a loose confederation of white hat hackers and disparate IT companies with an OS that’s less reliable, secure and has lower performance than FreeBSD but that is driven by one hell of a goal. Microsoft is being squeezed from both ends.</p>
<h3>What they so desperately need to do</h3>
<p>I use Apple computers. I have an iPhone. I also have a bunch of vanilla boxes running FreeBSD and I still run Windows 3.0 with Multimedia Extensions and 95 in virtual machines for nostalgic fun. I grew up on Windows and many of Microsoft’s Home titles such as Bookshelf, Musical Instruments, Explorapedia, Dangerous Creatures and Entertainment Pack. Skifree! Chip’s Challenge! If you need proof that I used to like Microsoft products, I wrote about it <a href="//rubenerd.com/p2773/">in detail here back in 2008</a>.</p>
<p>Unlike some Apple and Linux folk, I have no qualm with saying Microsoft is capable of making great products that are fun to use, because I remember using some. However, their approach of embrace, extend and extinguish that worked so well for them in the operating system and office software market simply doesn’t translate in the consumer space for reasons that seem to be out of their grasp or comprehension.</p>
<p>What Microsoft needs to do is take a step back and make a genuine attempt to connect with consumers. Don’t show us a vapourware video for a product you have no intention of releasing or simply photocopy another product and stick a Zune sticker on it, they need to tell us what <strong>motivates</strong> them to make these products.</p>
<p><img src="https://rubenerd.com/files/uploads/microsofttitanic.jpg" alt="" style="height:270px; width:390px; border:0px; display:inline" /></p>
<p>Instead of flooding the market with hundreds of different (and often incompatible) devices that copy a product another company released three years ago, they need to pour their collective heart and soul into just a few and make it show. We can tell when a company has done this, and when they’ve made something as a result of board room decisions, as Clarkson showed with that Perodua.</p>
<p>I often point out here that for all their monopolistic shenanigans in the 90s and the horrid reliability of their products during that era, I reckoned there were some real diamonds in the rough during that time which gives me hope that they can do it again. As far as I know and care now, <a href="//rubenerd.com/p2773/">the Microsoft I knew and grew up with</a> died a long time ago in a cloud of indignation and broken promises.</p>
<p>Perhaps the first step is to ditch Ballmer.</p>
 
