---
title: 'Morning Sydney out our window' 
date: "2010-07-15T01:37:07+10:00"
year: "2010"
category: Media
tag:
- australia
- blue
- nikkor-afs-35mm-f1-8d
- nikon-d60
- nsw
- photos
- pretty
- sky
- sydney 
---
<p><img src="https://rubenerd.com/files/2010/stunning-sydney-morning_4795476102_o@1x.jpg" alt="DSC_0002" srcset="https://rubenerd.com/files/2010/stunning-sydney-morning_4795476102_o@1x.jpg 1x, https://rubenerd.com/files/2010/stunning-sydney-morning_4795476102_o@2x.jpg 2x" style="width:500px; height:335px;" /></p>
<p>The contrast, colour and details on the buildings are terrible, but adjusting the RAW and exporting like this was the only way I could hope to match the colour of the sky out the window this morning. I reckon the real thing was even deeper and bluer than this!</p>
<p>I tell you what, I prefer the climate in Singapore, but nowhere on earth has better skies than Australia :). Except maybe Ireland earlier this year, they had epic skies when we weren&#39;t trapped in a snowbank for long enough to see it.</p>
 
