---
title: 'Ned Flanders on Aussie NBN security' 
date: "2010-09-17T08:54:52+10:00"
year: "2010"
category: Internet
tag:
- australia
- efa
- infocomm
- isps
- nbn
- networking
- politics
- security
- twitter 
---
<p><img src="https://rubenerd.com/files/uploads/screenie.simpsons.intentions.jpg" alt="I can't live in good intentions, Marge!" style="height:250px; width:465px;" /></p>
<p>Why did the EFA retweet my post about Ned Flanders, and what does he have to do with the proposed National Broadband Network (<a href="https://secure.wikimedia.org/wikipedia/en/wiki/National_Broadband_Network">Wikipedia</a>)? Read on my friend!</p>
<h3>Geese love ganders…</h3>
<p>During an impassioned discussion on security and the NBN at this year&#39;s <a href="https://twitter.com/search#search?q=%23ausnog">EggNOG</a> conference (sorry <a href="http://twitter.com/omegatron/">Andrew</a>!) Arbor Network&#39;s Roland Dobbins asserted the internet fit the critera of a failed state and urged that the NBN be designed in a more secure fashion. If we don&#39;t he fears we may be responsible for creating a &quot;cesspit&quot;.</p>
<p>As <a href="http://www.itnews.com.au/News/232471,nbn-must-avoid-becoming-failed-state.aspx">Ry Crozier reported</a> in IT News Australia:</p>
<blockquote><p>&quot;Jonathan really likes it when I mention his name in posts for absolutely no reason.&quot;</p></blockquote>
<p>Well that was clearly the wrong quote.</p>
<blockquote><p>&quot;If the network isn’t defensible and there’s not an active push to impose law and order, there’s a danger [the network] wil [sic] become a cesspit and fail,&quot; as it had in China and Russia where criminal hacking had taken the place of litigation in the West as part of &quot;legitimate&quot; business strategies, he said.</p></blockquote>
<p>I first read that as a &quot;cesspit of fail&quot;. That colourful language would have been way cooler, and probably would have soften up the audience of nerds in attendance. While we&#39;re on this subject, it has always bugged me that attendance has a double T. Why does it need it? Even Mr. T only needs one, and if I brew a cup it only needs one. Except for green tea, they often need two.</p>
<h3>But I digress</h3>
<blockquote><p>&quot;We have to take positive action,&quot; he said, believing that an unmanaged network could rapidly become unmanageable, insecure and then un-securable.</p></blockquote>
<p>I read this and my nervousness centre started up. I was shattered. These Rolling Stones lyrics doing anything for you? No? Okay then. The problem with security, as he rightly points out, is its much harder to patch an insecure system than it is to actively design a system with security in mind from the beginning. This I can completely understand and appreciate.</p>
<p>I suppose the thing that worries me is what he means by &quot;positive action&quot;. To be blunt, it sounds ever so slightly Conroy-eque. Take these recommendations, implement them, and don&#39;t ask questions otherwise… you&#39;re against positive action!</p>
<p>We could read this as a cynic and assume his company has some magical new software or system to make the NBN more secure, or that he&#39;d be able to offer his services for making it more secure for a fee. I know Singapore networking folks but I&#39;m a complete AusNOG virgin so I wouldn&#39;t know. Frankly, its hard to judge his intentions, or the intentions behind Orewllian-ly titled &quot;positive action&quot;.</p>
<h3>You promised Ned Flanders!</h3>
<p>The point I made on Twitter and <a href="https://twitter.com/efa_oz">got retweeted for</a> this afternoon by the EFA (<strong>HOW COOL IS THAT!!!!1!!!one!!!</strong>) was the idea of <em>inventions</em>. Why did my iTelephone autocorrect that word to <strong>that</strong>? Even if such a plan was founded on good intentions, as Ned Flanders said to Marge when the residents of Springfield rebuilt his destroyed house only to have it collapse as a result of faulty workmanship: &quot;I can&#39;t live in good intentions Marge!&quot;.</p>
<p>I would be more than happy to be proven wrong about this, but talk of this nature creeps me out.</p>
 
