---
title: 'New Rupee symbol for the Rupee' 
date: "2010-07-16T09:38:03+10:00"
year: "2010"
category: Thoughts 
tag: 
- currency
- design
- graphics
- india
- news
- rupee
- symbols 
---
<p><img src="https://rubenerd.com/files/uploads/rupee.png" alt="New Rupee sign." style="height:240px; width:161px; padding:0em; background:transparent; border:0px;" /></p>
<p>Despite not knowing the first thing about graphic design, I&#39;m a unabashed logo and symbol nerd so I&#39;ve been intently following the story of India&#39;s search for a Rupee symbol. Now <a href="http://in.reuters.com/article/idINIndia-50144320100715">Reuters is reporting</a> they&#39;ve found one. Reminds me of something.</p>
<h3>Initial thoughts I thought and all that</h3>
<p>I didn&#39;t like it at first because it seemed unbalanced, like it would topple over in a stiff breeze, but the way they able to incorporate Hindi and Roman lettering along with the <em>de facto</em> double line that&#39;s found in the Dollar, Yen and Euro was pretty cool. Is my lack of graphic design knowledge showing yet?</p>
<p>I often wondered why currencies like this never got their own symbols. When I lived in Malaysia I got a kick out of having part of my name in front of every RM denomination, but it takes up twice as much space and isn&#39;t terribly imaginative.</p>
<p>I wonder how this will be implemented in Indian computers? Will they ship with a symbol on the R key you can activate with FN, or will it replace the $ on the 4? And where in Unicode will it go?</p>
<h3>Wait, wait: UPDATE!</h3>
<p>Now I know what it reminds me of:</p>
<p><img src="https://rubenerd.com/files/uploads/Wella_Logo_frei.png" alt="Wella's logo." style="height:237px; width:320px; padding:0em; background:transparent; border:0px;" /></p>
<p>I suppose Indian people are always winning beauty pagents and whatnot, so it makes sense. Unfortunately as anyone who has seen me can attest to, I also know virtually nothing about hair and hair care. I think I&#39;ll stop while I&#39;m ahead. Get it? A… head!?</p>
<p>Actually now that I look at them side by side, they don&#39;t look anything alike at all. Disregard this entire post.</p>
 
