---
title: 'Aussie Canadian news of interest (rates)' 
date: "2010-06-02T02:43:34+10:00"
year: "2010"
category: Thoughts 
tag: 
- australia
- bidness
- canada
- economics
- news
- twitter 
---
<p><img src="https://rubenerd.com/files/2010/kallen-doesnt-like-predatory-mail-credit-card-applications-either_3524120629_o@1x.jpg" alt="Kallen doesn't like predatory mail credit card applications either!" srcset="https://rubenerd.com/files/2010/kallen-doesnt-like-predatory-mail-credit-card-applications-either_3524120629_o@1x.jpg 1x, https://rubenerd.com/files/2010/kallen-doesnt-like-predatory-mail-credit-card-applications-either_3524120629_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>
<p>By themselves these two interest rate stories about Australia and Canada wouldn&#39;t really be worth mentioning here, but when they appeared in my Twitter client together they made for an interesting contrast:</p>
<blockquote><p>
<a style="font-weight:bold;" href="http://twitter.com/CBCNews/status/15183600745">CBC News:</a> Bank of Canada raises interest rate to 0.5% Read more:… <a href="http://www.cbc.ca/money/story/2010/06/01/carney-bank-of-canada-interest-rates.html#ixzz0pc7rAxzp">http://bit.ly/cAB6Cx</a></p>
<p><a style="font-weight:bold;" href="http://twitter.com/SBSNews/status/15155848272">SBS News:</a> Reserve Bank of Australia keeps interest rates on hold at 4.5 per cent <a href="http://www.sbs.com.au/news/article/1268817/RBA-keeps-rates-on-hold">http://bit.ly/ag0E4B</a>
</p></blockquote>
<p>WOW! I suppose I should move to Canada and buy an apartment, eh!</p>
 
