---
title: 'One sided reporting on Android and the iPhone' 
date: "2010-06-26T03:15:20+10:00"
year: "2010"
category: Hardware 
tag:
- android
- apple
- design
- google
- infocomm
- ios
- iphone
- journalism
- phones 
---
<p><img src="https://rubenerd.com/files/uploads/f2112_android-logo.png" alt="Creepy Android logo." style="height:188px; width:250px;" /></p>
<p>While I&#39;m ragging on <a href="//rubenerd.com/tag/android/">Android</a> and on my mobile soapbox thingy, why is it the media consistently gives the platform a free ride but criticises everything Apple does?</p>
<h3>It’s not just old media</h3>
<p>Don&#39;t get me wrong, I adore Slashdot and still use it as a primary news source in lieu of sites like Reddit and Digg, but their double standards are so breathtaking I fear sometimes I may collapse from a lack of oxygen. I hope I&#39;m not near anything pointy when that happens, I don&#39;t think my insurance covers such stuff.</p>
<p><a href="//rubenerd.com/android-not-eye-candy/">Yesterday&#39;s story</a> that was summarised as the sweet eye candy of Android was only one of a litany of examples. I imagined that if Android had been substituted with iOS, the story would probably have been tagged as flamebait and plenty of angry people would have been frantically typing on their keyboard explaining why Apple is the spawn of Satan.</p>
<p>The latest example is this serious security hole in Android that wasn&#39;t even accidental but was deliberately designed.</p>
<blockquote><p><a href="http://it.slashdot.org/story/10/06/26/024221/Google-Has-Android-Remote-App-Install-Power-Too" style="font-weight:bold;">Google Has Android Remote App Install Power, Too</a><br />
 It turns out that Android also includes a feature that enables Google to remotely install apps on users’ phones as well.</p></blockquote>
<p>BlueBoxSW humorously <a href="http://it.slashdot.org/comments.pl?sid=1699040&#038;cid=32699508">pointed out</a> that had the story been about the iPhone, the headline would have read:</p>
<blockquote><p>&#8220;Evil Apple Hides Secret Rootkit Installer on All iPhones&#8221;</p></blockquote>
<h3>Standards</h3>
<p>I think the reason for such one sided reporting is people hold Apple to such higher standards than everyone else. If Apple had released a Google Nexus One like device people would have been screaming bloody murder that they couldn&#39;t read the OLED screen outside, or if it were an EVO there would have been thousands of detailed stories about how the battery barely lasts a few hours and that CDMA 4G takes half an hour to connect.</p>
<p>Because the aforementioned devices don&#39;t have an Apple badge, it&#39;s as if people are somewhat more willing to live with the flaws so they can pretend to be running these entirely open phones with their locked in, proprietary, crash prone Flash players and backdoors to allow a commercial company to install things without the user&#39;s knowledge.</p>
<p>Again none of this should be construed to mean I wouldn&#39;t want an Android device myself (once they make some decent hardware and stop blaming it for software problems as I <a href="//rubenerd.com/androids-built-in-excuse/">blogged about last year</a>), and I certainly am not suggesting we let our guard down on Apple, but come on folks the stench of hypocrisy is threatening to gas us all.</p>
<h3>The other players</h3>
<p>I tell you what though, one thing we can all agree on is how amazing it is Microsoft has been so quickly and effectively sidelined with all their silly Kin and Windows Mobile Enterprise Phone Corporate Service Pack One Edition whatnot. The entire debate is framed as Apple versus Google, Microsoft barely even gets a mention in footnotes any more. Except for this post, hey at least I&#39;m doing my bit. <em>Buy a Sidekick!!!</em></p>
 
