---
title: 'Robbie Williams sings about… Palm?' 
date: "2010-04-12T08:24:18+10:00"
year: "2010"
category: Hardware 
tag:
- infocomm
- music
- nostalgia
- palm
- robbie-williams 
---
<p><img src="https://rubenerd.com/files/uploads/logo.palm.90.png" alt="Palm logo." style="height:140px; width:140px; padding:0em; background:transparent;" /></p>
<p>Was thinking about the situation with Palm I <a title="Post: Palm for sale, and some drawn out nostalgia" href="//rubenerd.com/palm-for-sale/">discussed this morning</a> when a Robbie Williams song came on the radio, and I thought it was apt.</p>
<blockquote><p>“I don’t miss you, just who you used to be…”</p></blockquote>
 
