---
title: 'Threatening Earlwood skies' 
date: "2010-10-24T06:53:58+10:00"
year: "2010"
category: Media
tag:
- clouds
- nikon-d60
- photos
- sky 
---
<p><img src="https://rubenerd.com/files/2010/threatening-sky_5109794366_o@1x.jpg" alt="" srcset="https://rubenerd.com/files/2010/threatening-sky_5109794366_o@1x.jpg 1x, https://rubenerd.com/files/2010/threatening-sky_5109794366_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>
<p>Taken straight from the camera without any editing. Usually the sky around here fills with fairly uniform clouds, but this morning there were so many layers with light piercing the thinner bands, the detail and colours were amazing. Earlwood, inner west Sydney. <a href="https://www.flickr.com/photos/rubenerd/5109794366/">Full sized image on Flickr</a>.</p>
<p>I&#39;m tempted to start quoting a Paul Simon song… maybe I&#39;ll just leave it at that :).</p>
 
