---
title: 'Rescuing Wikipedia from deletors, part two' 
date: "2010-03-07T01:48:54+10:00"
year: "2010"
category: Internet
tag:
- collaboration
- infocomm
- notability
- wikipedia
- wikipedia-notability-deletions
- wikis 
---
<p><img src="https://rubenerd.com/files/uploads/screenie.wikipedia.me.png" alt="My Wikipedia user page" style="height:283px; width:420px; display:inline;" /></p>
<p>In a tip of the hat to Jim Kloss who was essentially <a href="http://en.wikipedia.org/wiki/User:Jimkloss">driven off</a> Wikipedia by trigger happy administrators as well as some recent adventures of my own, I&#39;ve updated <a href="http://en.wikipedia.org/wiki/User:Rubenerd">my Wikipedia user page</a>.</p>
<p>Under the <a href="http://en.wikipedia.org/wiki/User:Rubenerd#Worrying_out_loud">Worrying out loud</a> title thingy:</p>
<blockquote cite="http://en.wikipedia.org/wiki/User:Rubenerd"><p>While he finds the philosophy and mission of Wikipedia noble, he worries the resource is slowly being derailed by an elitist clique of power hungry administrators more interested in slapping indiscriminate boilerplate without further explanation on articles they deem unworthy before they’ve had the chance to be fleshed out. He firmly  believes administrators who repeatedly have article deletion nominations rejected should have their privileges revoked in order to discourage such behaviour.</p>
<p>One tiny example out of a laundry list of potential candidates, the fact the Australian Central Credit Union article was nominated for deletion by this person because it &#8220;wasn’t notable&#8221;, despite the fact a Google search would have returned thousands of results and that the credit union is one of the largest in the country.</p>
<p>It is our collective loss that responsible editors like Jim Kloss have left because of such people.</p></blockquote>
<p>For fun, I also borrowed the wiki template used for articles on people and added some pointlessness. For example I listed my ethnicity as White and Nerdy :D.</p>
<p>It seems Jim Kloss and I aren&#39;t the only ones having trouble. Recently Slashdot ran an article <a href="http://news.slashdot.org/story/10/03/06/1917223/Why-Wikipedia-Articles-Vary-So-Much-In-Quality">discussing</a> quality issues with Wikipedia and some of the responders were pretty vocal. Darkness404 gave one of the <a href="http://news.slashdot.org/comments.pl?sid=1573812&#038;cid=31383616">better responses</a> that addresses several of the exact issues I&#39;ve been worrying about:</p>
<blockquote><p>I think the main problem with Wikipedia is it went from &#8220;an encyclopedia where you -might- find something of interest&#8221; to &#8220;a place you can find anything!&#8221; to now &#8220;a place where you can possibly find some things but if we don’t like it, it gets deleted and we don’t want your help unless you feel like reading 22342342343 policies, follow them exactly and patrol &#8220;your&#8221; page constantly&#8221;. Seriously, Wikipedia 2-3 years ago was a lot better than Wikipedia now. Why is it that editors think deleting articles somehow makes it better? Especially since Wikipedia is online and a few new articles don’t translate to (much) extra load?</p></blockquote>
<p>The <a href="http://deletionpedia.dbatley.com/w/index.php?title=Main_Page">Deletionpedia</a> site shows a lot of fairly terrible articles that were worthy of deletion, but also a significant number of good articles. As I said before, that&#39;s the problem with basing notability solely on the number of mentions something has online, and vesting power in only a few individuals.</p>
<p><a href="//rubenerd.com/wikipedia-problems/">Part one of this post</a> written last year shows one of my own personal experiences with some senior Wikipedia editors. For example, did you know war and a ritualistic bonfire are equivalent?</p>
 
