---
title: 'The Starbucks culture in Singapore' 
date: "2010-06-15T12:50:29+10:00"
year: "2010"
category: Internet
tag:
- coffee
- infocomm
- isps
- singapore
- starbucks
- wifi 
---
<p><img src="https://rubenerd.com/files/2010/starbucks-in-tanglin-mall_3708710385_o@1x.jpg" alt="" srcset="https://rubenerd.com/files/2010/starbucks-in-tanglin-mall_3708710385_o@1x.jpg 1x, https://rubenerd.com/files/2010/starbucks-in-tanglin-mall_3708710385_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>
<p>There was a <a title="Slashdot Mobile: Starbucks Frees Wi-Fi" href="http://mobile.slashdot.org/story/10/06/14/2251253/Starbucks-Frees-Wi-Fi">discussion on Slashdot</a> this morning about WiFi access at Starbucks in the States, so I added my own SG$0.02 about the free access here.</p>
<p><!--oldmore--></p>
<blockquote>
<p>Probably not all that relevant to this discussion, but my SG$0.02.</p>
<p>All the Starbucks branches here in Singapore have free WiFi provided you register first, it’s part of the government’s Wireless@SG initiative, which I can forgive the corny 1990s name for because it Just Works. The irony is this free internet is faster and more reliable than the ADSL I was paying a small fortune for back in Australia!</p>
<p>There’s a huge coffee shop culture here. It’s really fascinating to see Starbucks (and Coffee Bean, and Killiney etc), even at 11pm they’re absolutely packed with students studying on their MacBooks and business folk frantically typing away. I asked a few local friends why, and mostly it’s because apartments here are so small an overpriced cup of coffee is a small price to pay for a comfy chair, relaxing music and a place to do some work on the Internets without your siblings making noise in your ear.</p>
</blockquote>
 
