---
title: 'Dave Winer’s TechWithoutBorders.org' 
date: "2010-12-30T12:48:41+10:00"
year: "2010"
category: Internet
tag:
- dave-winer
- great-firewall-of-australia
- infocomm
- law
- openinternet
- politics 
---
<p><img src="https://rubenerd.com/files/uploads/logo.twobs.png" alt="Tech Without Borders logo" style="height:38px; width:500px;" class="transparent" /></p>
<p>Following Dave&#39;s instructions as per his <a href="http://techwithoutborders.org/">interesting new site</a>:</p>
<blockquote><p>If you agree with these principles, please say so in a place where your expression can be seen and counted. If you mostly agree, or would say it differently, just copy and modify the text, and point back to the original. That’s why it has a CC license. Discuss on the tech-without-borders mail list.</p></blockquote>
<h3>The points, and Dave has them</h3>
<ol>
<li>We are people of tech.</li>
<li>We live and work everywhere.</li>
<li>We value our own freedom, the freedom of people who use our technology and freedom in general.</li>
<li>We think there is no meaningful distinction between WikiLeaks and the news organizations covering the stories in cooperation with WikiLeaks.</li>
<li>We urge all governments to respect freedom of the press, whether the news originates online or offline. </li>
<li>We apply these principles in our work and they are embodied in our technology.</li>
</ol>
<h3>My thoughts, and Ruben has them</h3>
<p>On the whole I agree with all of his points, save for #4. I think there <strong><em>is</em></strong> a difference between Wikileaks and news organisations covering the stories with their cooperation, but that&#39;s not my primary concern. If we want to make this an all inclusive and time tested list people will be able to reference, we&#39;d be doing ourselves a huge favour by not discussing the flavour site of the month and keeping things more general. Perhaps a more perititent point would be &quot;We are journalists, because we&#39;re engaged in debate and discussion&quot;. Finally, </p>
<p>Point #2 really spoke to me, as I&#39;ve essentially used it to attack the Australian governments plan for a compulsory internet filter on several occasions. Forgive the <a title="Welcome to the 21st Century Conroy, Atkinson" href="//rubenerd.com/21st-century-conroy-atkinson/">self-quoting:</a></p>
<blockquote><p>Welcome to the 21st century Steven Conroy [the senator proposing the mandatory filter]. If you piss off well educated people who have the means to travel, they will simply wave, move away, apply themselves passionately to their jobs in a society that values their contributions [..] and pay their taxes to them instead. It’s your call.</p></blockquote>
<h3>Random footnotes</h3>
<ul>
<li>I’m glad I can agree with Dave on something again after this <a href="http://scripting.com/stories/2010/12/19/netNeutralityIsHypocrisy.html">confusing piece</a>.<p></p></li>
<li>Because this is TechWithoutBorders, I suppressed my weblog theme’s automatic image border on the logo. Having a sense of humour and using common sense, there’s another point he should include!<p></p></li>
<li>Part of the reason why some things don’t make sense, such as this point, is because they’re entirely meaningless. This means people attempt to find meaning where there is none, like in this point. This point was entirely meaningless.<p></p></li>
<li>In line with Dave’s original piece, this work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 License</a>.</li>
</ul>
 
