---
title: 'Thanks for nothing UniSA' 
date: "2010-03-17T01:02:54+10:00"
year: "2010"
category: Thoughts 
tag: 
- personal
- studies
---
<p><img src="https://rubenerd.com/files/2010/4113573708_01a3e8c89e_o@1x.jpg" srcset="https://rubenerd.com/files/2010/4113573708_01a3e8c89e_o@1x.jpg 1x, https://rubenerd.com/files/2010/4113573708_01a3e8c89e_o@2x.jpg 2x" alt="UniSA Virus Uh Oh." style="width:500px" /></p>

<p>Please don&#39;t ask me to elaborate on specifics just yet, I will once I&#39;m safely enrolled somewhere else.</p>

<p>(<strong>Update 2021:</strong> I've removed this open letter).</p>

