---
title: 'A Tree Style Tab post, now with free trivia' 
date: "2010-04-09T12:25:28+10:00"
year: "2010"
category: Software
tag:
- browsers
- extensions
- firefox
- infocomm
- mozilla
- plugins
- tree-style-tab
- trivia 
---
<p><img src="https://rubenerd.com/files/uploads/screenie.firefox.update.tst.201004.png" alt="Tree Style Tab update screen" style="height:170px; width:420px;" /></p>
<p>For those of you as addicted to <a href="http://piro.sakura.ne.jp/xul/_treestyletab.html.en">Tree Style Tab for Firefox</a> as I am, there&#39;s been a flurry of updates over the last week that address some appearance and functionality bugs as well as improved compatibility with other extensions. <strong>Get it!</strong></p>
<p><!--oldmore--></p>
<h3>If only my brain were so easily updated</h3>
<p>As of this evening I&#39;m up to the conveniently named 2010.04.02 version and it works great. Curiously I had the Christmas 2009 version of it for months before Firefox told me there was an update, despite the fact there were several intermediary versions and other extensions have been automatically updated dozens of times since then.</p>
<p>Anyway, I used to say NoScript was the only reason I stuck with Firefox, but having all my tabs neatly stacked on the side instead cramming them all under the address bar makes them so much easier to read and navigate. As far as I know Opera is the only other browser that allows you to put tabs on the side, which is weird given I&#39;d think you&#39;d <strong>really need it</strong> if you&#39;re a browser power user.</p>
<p>The screenshot below that I took for <a title="Post: MonnieCakes!" href="//rubenerd.com/monniecakes-launch/">this post back in 2009</a> should give you a pretty good idea as to why I need such an extension!</p>
<h3>Some trivia</h3>
<p>Wikipedia articles that have trivia sections tend to have template boilerplate stating their existence is discouraged, so I&#39;ve decided to actively put trivia sections in more of my blog posts from now on.</p>
<p>If you abbreviate <em>&quot;Tree Style Tab&quot;</em>, you get TST, which sounds an awful lot like a South Park episode with a dog whisperer, as well as being an acronym for Transition state theory which I learned in high school, and the code for a Hong Kong MTR station. True story.</p>
 
