---
title: 'Trevor Grace’s South Aussie leaflet thing' 
date: "2010-02-25T06:55:32+10:00"
year: "2010"
category: Thoughts 
tag: 
- adelaide
- elections
- south-australia 
---
<p><img src="https://rubenerd.com/files/uploads/photo.fundie.sa.jpg" alt="AbortSA leaflet" style="height:345px; width:500px; display:inline;" /></p>
<p>Not many tech posts today, getting up on my soap box. I arrived back in Adelaide just as the South Australian elections are starting to heat up. This post shows a letter response I sent to sent to sent to sent to sent to (sorry, got stuck in an infinite loop) Trevor Grace who sent me a leaflet in the mail for his AbortSA party.</p>
<blockquote style="font-family:Georgia,serif">
<div style="float:right; width:200px;">Ruben Schade<br />
Mawson Lakes, SA 5095<br />
Australia, Earth</div>
<div style="clear:both">
</div>
<p>Dear Trevor Grace of AbortSA,</p>
<p style="font-weight:bold; text-align:center">Regarding your 2010 South Australian state election leaflet</p>
<p>Despite a &quot;No Junk Mail&quot; sign on my mailbox, I recently received your leaflet for AbortSA. Suffice to say I could argue for women’s rights including the right to an abortion if…</p>
<ul>
<li>she’s been raped and/or subject to abuse</li>
<li>pregnancy will endanger her life</li>
<li>her birth control measures unintentionally failed</li>
<li>or for any other reason a grown woman with full suffrage under the law who can make her own decisions deems necessary and who doesn’t need to justify to you</li>
</ul>
<p>…but we clearly have different views and such an exercise would get us nowhere. What I will say sir is that what a woman does with her own body &#8212; or a man with his for that matter &#8212; is none of the State’s business.</p>
<p>I can tell you care deeply about this issue and I honestly and sincerely respect your convictions, but this debate belongs in the wider public discourse alongside discussions on education, safe sex and violence against women, not in a Parliament chamber. Legislating morality like this sir is a dangerous path to tread with grave ramifications. I need only point to elections with our brothers and sisters in America to demonstrate this, or Malaysia where I spent part of my life growing up.</p>
<p>I would also advise (nay, encourage) you to rethink your daft and questionable comparison between whaling and abortion. I don’t see how belittling the intelligence of your voters will allow you to enter public office. A more apt comparison would be women’s rights and the global emancipation movement, though I doubt that would gel with your party’s stated objectives. Perhaps best to leave comparisons out entirely.</p>
<p>I will be publishing this letter along with your leaflet on my website at <strong>rubenerd.com/trevor-grace-leaflet/</strong> in which you’re free to post your own comments if you so desire.</p>
<p>Finally as a matter of disclosure, I am a 23 year old who has never got a women pregnant, though I’d love to be a dad one day if friendly and wickedly funny Ms. Right enters my life and we adopt. If the State permits of course.</p>
<p>Peace, health and happiness,<br /><a href="http://RubenSchade.com/"><cite>Ruben Schade</cite></a></p></blockquote>
<p>And here I was thinking Australia was above all this biased, scaremongering stuff in elections. Hah.</p>
 
