---
title: 'Trying out Whole Wheat Radio widgets' 
date: "2010-03-05T09:22:13+10:00"
year: "2010"
category: Internet
tag:
- indie-media
- infocomm
- jim-kloss
- music
- websites
- whole-wheat-radio
- widgets
- wikis
- wwr-artists 
---
<p><a href='http://wholewheatradio.org/wiki/index.php/Artists:John_Gorka'>(Original link here, but image no longer exists).</a></p>
<p>Trying out some of these new <a href="http://wholewheatradio.org/">Whole Wheat Radio</a> share link artist widgets, what an awesome idea!</p>
<p>As Jim discussed this morning, you can click the <a href="http://wholewheatradio.org/widgets.php?artist=Artists:John_Gorka">WWR Widgets</a> link in the <a href="http://wholewheatradio.org/wiki/index.php/Listener_console">Listener console</a> for the currently playing artist, or you can click the <a href="http://wholewheatradio.org/widgets.php?artist=Artists:John_Gorka">Get WWR widgets</a> link under <a href="http://wholewheatradio.org/wiki/index.php/Artists:John_Gorka#More_information">More Information</a> on <strong>any</strong> artist&#39;s page. The links in this paragraph link to <a href="http://wholewheatradio.org/wiki/index.php/Artists:John_Gorka">John Gorka</a> as an example.</p>
<p><a href="http://wholewheatradio.org/wiki/index.php/Artists:John_Gorka">(Original link here, but image no longer exists).</a></p>
<p>This is a fantastic idea because with a few clicks I can now share what I&#39;m listening to or what I just rated highly in a <strong>REALLY EASY</strong> way, which is the key. Make something easy, and people will <strong>use it</strong>. Previously I could have talked about an artist, but it would have involved downloading the picture off the WWR servers, uploading it here, then transcribing parts of their artist page, the upshot being I didn&#39;t do it as often.</p>
<p>Not only that, but the referral fees will pile up until one day I can cash out and buy his old cabin in Alaska!</p>
<p>Amongst my biggest current concerns is figuring out which one I like the best, and that Jim may have given control freaks like me <strong>too much</strong> power over what I can do!</p>
<p><a href="http://wholewheatradio.org/wiki/index.php/User:Jimkloss">(Original link here, but image no longer exists).</a></p>
<p>The only technical point I would make is for W3C freaks like me, the generated code for these widgets we copy and paste from the WWR site <a href="http://validator.w3.org/">don&#39;t validate</a> as XHTML because the ampersands in the URL aren&#39;t escaped and a <code>alt=&quot;&quot;</code> isn&#39;t declared, which means any page we put them on <a href="http://validator.w3.org/check?uri=http%3A%2F%2Frubenerd.com%2F&amp;charset=%28detect+automatically%29&amp;doctype=Inline&amp;group=0">doesn&#39;t validate</a>. This can be fixed in post by changing all the &quot;<code>&amp;</code>&quot; characters to &quot;<code>&amp;amp;</code>&quot; and adding our own <code>alt=&quot;&quot;</code> no biggie :).</p>
<p>Now if you&#39;d excuse me, I&#39;m off to grab a cup of coffee down the road, presumably while <a href="http://wholewheatradio.org/wiki/index.php/Songs:Looking_Forward_%2874130%29">still humming this John Gorka</a> tune I can&#39;t get out of my head! Will be back in an hour, when I assume I&#39;ll be posting more widgets :D</p>
 
