---
title: 'The United Kingdom votes 2010 and all that' 
date: "2010-05-06T04:27:07+10:00"
year: "2010"
category: Thoughts 
tag: 
- philosophy
- politics
- united-kingdom 
---
<p><img src="https://rubenerd.com/files/uploads/420px-Nick_Clegg_Bournemouth_rally.jpg" alt="Photo of Nick Clegg's rally" style="height:260px; width:420px;" /></p>
<blockquote><p>&quot;I believe every single person is extraordinary. The tragedy is that we have a society where too many people never get to fulfill that extraordinary potential. My view – the liberal view – is that government’s job is to help them to do it. Not to tell people how to live their lives. But to make their choices possible, to release their potential, no matter who they are. The way to do that is to take power away from those who hoard it. To challenge vested interests. To break down privilege. To clear out the bottlenecks in our society that block opportunity and block progress. And so give everyone a chance to live the life they want.&quot;</p></blockquote>
<p>Wow. The UK&#39;s Liberal Democrats manifesto. Why don&#39;t we have a third major party like that in Australia? The two party Labor/Liberal system here is farce.</p>
 
