---
title: 'Some Western Digital drives have EARS' 
date: "2010-05-24T03:34:06+10:00"
year: "2010"
category: Hardware 
tag:
- economics
- hard-drives
- infocomm
- reliability
- storage
- western-digital 
---
<p><img src="https://rubenerd.com/files/uploads/photo.wd2tbgreen.jpg" alt="" style="height:239px; width:320px; background:transparent; padding:0em;" /></p>
<p>So I want to get a new 2TB drive for my FreeBSD and Fedora tower. Looking at the <a href="http://www.cybermind.com.sg/index.php?option=com_content&amp;task=view&amp;id=38&amp;Itemid=54">Cybermind pricelist</a> most of their Western Digital drives referenced EARS, an acronym which I&#39;m assuming has nothing to do with the drives being able to detect audible messages from their operators, or allow them to operate a European aerospace conglomerate. Oh wait that&#39;s EADS, never mind.</p>
<p><!--oldmore--></p>
<h3>Now hear this, sorry, really bad pun</h3>
<p>It turns out EARS is (amongst other things) a new formatting method for Western Digital drives that uses 4KiB blocks instead of the regular 512 bytes. It seems to me like its a cost cutting measure and would decrease drive density due to greater file size rounding. As far as I can tell no other manufacturer is doing this yet.</p>
<p>Potential performance and density issues aside though, what I&#39;m more interested in is compatibly. Scouring FreeBSD and Fedora web forums it seems a lot of people have been having issues with these drives using any OSs other than Windows Vista or Windows Vista Second Edition/7. Whether it&#39;s something FLOSS OSs will adapt to in the future I can&#39;t say, but for the time being it makes these drives useless for my needs.</p>
<p><img src="https://rubenerd.com/files/2010/my-new-logitech-powered-usb-hub_4176626712_o@1x.jpg" alt="My new Logitech powered USB hub!" srcset="https://rubenerd.com/files/2010/my-new-logitech-powered-usb-hub_4176626712_o@1x.jpg 1x, https://rubenerd.com/files/2010/my-new-logitech-powered-usb-hub_4176626712_o@2x.jpg 2x" style="width:500px; height:335px;" /></p>
<h3>Insert required personal experience here</h3>
<p>On the whole I&#39;ve had good experiences with Western Digital drives; I was <a href="//rubenerd.com/seagate-hard-disk-shot-my-firewire-port/">burned quite literally</a> by a Seagate a few years ago when it irreversibly destroyed the desperately needed FireWire port on my MacBook Pro and Maxtor are really just a cheapie brand for Seagate now. Then again I&#39;ve also heard plenty of horror stories from people about WD drives, including ones that WD use refurbished drives in some of their external enclosures.</p>
<p>I suppose hard drives are universally bad and it all comes down to user preference. It&#39;s a clever ploy because drive manufacturers can skimp on more stringent QC and lower tolerances, and then tell people they need to buy more drives for backups for when their crappy drives fail. It&#39;s one of the few consumer goods that are terrible but can be fixed by buying even more, it&#39;s genius!</p>
<p>Is there an economic model that shows a correlation between the demand for a good and a decrease in quality at the same price? It wouldn&#39;t be an elastic or Giffin because price isn&#39;t the reason people buy more, but it wouldn&#39;t be inelastic because that shows a sustained amount of consumption regardless of price. Or perhaps it would be then? Its been a while since I&#39;ve studied economics ;).</p>
 
