---
title: 'WWR artist of the day 05: Michael Wolff' 
date: "2010-03-11T07:41:40+10:00"
year: "2010"
category: Media
tag:
- jazz
- michael-wolff
- music
- whole-wheat-radio
- wwr-artist-of-the-day 
---
<p><a href='http://wholewheatradio.org/wiki/index.php/Artists:Michael_Wolff'>(Original link here, but image no longer exists).</a></p>
<p>Continuing in our seven day Whole Wheat Radio Artist of the Day experiment here on Rubenerd.com, today&#39;s artist is the awesome jazz pianist and composer <a href="http://wholewheatradio.org/wiki/index.php/Artists:Michael_Wolff">Michael Wolff</a>.</p>
<p>I can describe Michael&#39;s jazzy tunes in one word: cool, suave, cool, awesome, sophisticated, cool, swish, cool, fun and <strong>cool</strong>. That was substantially more than one word. Then again so is &quot;Michael Wolff&quot;, so we&#39;ve come out ahead again. All is good with the world!</p>
<p>As with all Whole Wheat Radio artists you can request a show of his songs to be added to the webcast in real time as well as view his artist page where you can leave comments. He also has an <a href="http://www.michaelwolff.com/">official website</a> where you can listen to a few tracks.</p>
<p>I keep trying to branch out of my music comfort zone and try new things, but Michael&#39;s style of music is still by far my favourite and he more than does the genre justice. He is just so friggen <strong>awesome</strong> to listen to! If you can get a more glowing endorsement from a computer nerd who knows nothing about music terminology than that, I haven&#39;t heard it!</p>
 
