---
title: 'Shared WWR artist 06: Peter Mulvey' 
date: "2010-03-31T11:26:14+10:00"
year: "2010"
category: Media
tag:
- funny
- music
- peter-mulvey
- whole-wheat-radio
- wwr-artists 
---
<p><a href="http://wholewheatradio.org/wiki/index.php/Artists:Peter_Mulvey">(Original link here, but image no longer exists).</a></p>

<blockquote><p>&quot;So this song is by Erving Mills, who’s name is also a sentence…<br />
[ Esther chortling in the background ]<br />
… like Tom Waits, or George Burns.&quot;</p></blockquote>
 
