---
title: 'WWR artist of the day 03: Esther Golton' 
date: "2010-03-07T12:13:16+10:00"
year: "2010"
category: Media
tag:
- indie-artists
- music
- whole-wheat-radio
- wwr-artists 
---
<p><a href="http://wholewheatradio.org/wiki/index.php/Artists:Esther_Golton">(Original link here, but image no longer exists).</a></p>
<p>Part three in the Rubenerd Whole Wheat Radio Artist of the Day (try saying that really fast!) is Esther Golton!</p>
<p>She&#39;s perhaps a predictable choice for me given I&#39;ve talked about her and her music <strong>so many times</strong> here, but when Herrie started playing <a href="http://wholewheatradio.org/wiki/index.php/Songs:Going_To_Shadu_%28127813%29">Going to Shadu</a> then <a href="http://wholewheatradio.org/wiki/index.php/Songs:The_Unseen_Visitor_%28143881%29">The Unseen Visitor</a> while running <strong>on random</strong> this morning I took it to be a sign.</p>
<p>I was a fan of <a href="http://wholewheatradio.org/wiki/index.php/Albums:Unfinished_Houses">Unfinished Houses</a> (particularly for that first song linked to above), but her recent <a href="http://wholewheatradio.org/wiki/index.php/Albums:Aurora_Borealis_-_Conversations_With_Alaska%27s_Northern_Lights">Aurora Borealis</a> work is on another level entirely from most music, it&#39;s up there with <a href="//rubenerd.com/michaelfranks/">Michael Franks</a> which you&#39;d know if you read this blog is <strong>very</strong> high praise! It&#39;s also a pleasant coincidence that&#39;s she&#39;s a <strong>genuinely nice person</strong>, something which doesn&#39;t really have any bearing on her musical talent <em>per sé</em> but it means I feel good buying her music. Does that make sense? It made sense in my head!</p>
<p>Visit her <a href="http://wholewheatradio.org/wiki/index.php/Artists:Esther_Golton">artist page</a> and her <a href="http://www.esthergolton.com/">official website</a> for all you need to know, and <a href="http://wholewheatradio.org/wiki/index.php/Artists:Esther_Golton#Request_a_show_of_songs_by_Esther_Golton">request</a> some of her music :).</p>
 
