---
title: "A home NAS of the future"
date: "2022-01-19T16:13:32+11:00"
abstract: "I dreamed of a DAN case full of SSDs, then woke up sad!"
thumb: "https://rubenerd.com/logo.png"
year: "2022"
category: Hardware
tag:
- bsd
- dreams
- freebsd
- nas
- openzfs
- storage
- zfs
location: Sydney
---
<p>I dream about weird things. Last week it was a pool party where everyone was playing pool in a pool, only the pool was badminton. The week before that I was haggling with someone for train tickets to get to a flower nursery next door, because I wanted to buy groceries.</p>

<p>Last night’s dream was both cruel and unusual. I’d come into some money, and proceeded to spend a chunk of it on a home NAS that only used a stack of SSDs for bulk storage. They were installed into a tiny DAN A4 case with an SFX power supply, a Mini-ITX board with ECC, and FreeBSD with OpenZFS to handle the storage. I could lift and spin the whole ensemble with one hand.</p>

<p>I woke up, and went into our loungeroom to look at the heavy Antec 300 loaded to the gills with heavy, slow, hot spinning rust in OpenZFS arrays. It looked so <em>antiquated</em>, like I’d stepped back in time and built a cupboard full of punch cards or ticker tape.</p>

<p>One day I’ll have a cute little FreeBSD hypervisor and storage NAS that I could fit in a small case. Silicon shortages notwithstanding, here’s hoping SSD prices keep dropping over time. Spinning disks have been (mostly!) my loyal servants until now, but I feel like they deserve a retirement.</p>
