---
title: "Battery-powered trains"
date: "2022-01-25T14:10:11+11:00"
abstract: "Alstom trialling battery trains in Germany."
thumb: "https://rubenerd.com/logo.png"
year: "2022"
category: Hardware
tag:
- environment
- europe
- germany
- trains
location: Sydney
---
<p>Forgive me linking to a press release, but this is so cool. <a href="https://www.alstom.com/press-releases-news/2022/1/alstom-and-deutsche-bahn-test-first-battery-train-passenger-operation">From Alstom</a>:</p>

<blockquote>
<p>Starting on 24 January, the Battery Electric Multiple Unit (BEMU) will begin revenue service with passengers in Baden-Württemberg and in Bavaria from 5 February. DB will operate the low-emission vehicle with its regional transport subsidiary DB Regio.</p>

<p>Since 2016, Alstom has been developing the battery-electric train together with the Technical University of Berlin and with support from the National Organisation for Hydrogen and Fuel Cell Technology (NOW) and funding from the Federal Ministry for Digital and Transport. The project is intended to be a sustainable solution for Germany’s rail network where a total of 450 lines are operated exclusively with diesel trains.</p>
</blockquote>

<p>If these trains are recharged from renewable or low-carbon electrical sources, it’s a win-win. Even using dirty power now can be easily swapped out, unlike a fleet of internal combustion engines.</p>

<p>Diesel trains are a mainstay of rural and regional train lines that weren’t justified being electrified. Which sucks; diesel trains are louder, smellier, and generate localised pollution within residential areas. The more we learn about the hazardous effects of this pollution, especially in the development of young children, the more we should want to rid ourselves of them.</p>

<p>Rechargeable trains necessarily require a mechanism to recharge, so you’re getting a train that can run in rural areas, <em>and</em> from external power sources when available. It’s the best of both worlds.</p>

<p>I’ve always been surprised something like this wasn’t taken more seriously with diesel electric propulsion. You’d think you could use the diesel engines on non-electrified sections of track, then kick the traction motors across to overhead wires or third rails when available. Instead you see plenty of diesel trains smoking up inner-city areas, often within eyeshot of a catenary! I suppose the cost of having a hybrid drive train like that was just deemed too expensive.</p>

<p>If these trials go well, I hope we start seeing this tech roll out in more places.</p>
