---
title: "Comestible aromas, via @Georgiecel"
date: "2022-01-08T07:57:58+11:00"
abstract: "A Twitter thread last night spawned an interesting discussion and research into how we perceive food."
thumb: "https://rubenerd.com/logo.png"
year: "2022"
category: Thoughts
tag:
- food
location: Sydney
---
<p>I’ve noticed a bunch of changes since I stopped eating red meat a while ago. For all the talk about iron, it wasn’t till I became full blown vegetarian that my blood work went down the drain. A bit of fish
and some poultry immediately went a long way, and now all my markers are great. Save for vitamin D, which remains stubbornly low despite sitting most of my working day outside on our apartment balcony on purpose, and slavish addiction to supplements. <em>Vitamin d’oh!</em></p>

<p>Something else I wasn’t expecting was how my perceptions of smell would change, and how inconsistent it’d be.</p>

<p>Six years after my last beef or kangaroo, and the smell of it cooking is still amazing. I’ve been around people making classic Australian spag bowl, and I want to sit down and tuck in with them. I never liked steak, but it did smell like a feast. And don’t get me started on the aromas emanating from those those <a href="https://en.wikipedia.org/wiki/Democracy_sausage">democracy sausage sizzles</a>, or the fixtures outside a certain large hardware establishment that begins with <em>B</em> and end with <em>unnings Warehose</em>.</p>

<p>That was a typo, it was supposed to be <em>Warehouse</em>. But now I’m interested in a werewolf firefighter holding a hose. Next installment in the <em>Fire Force</em> manga, perhaps?</p>

<p>Pork is a different story. For one, the words have completely different letters. Pork was a big part of my childhood, owing to my German dad who was always an excellent cook. We’d regularly have pork knuckle, hackbraten, kassler on Oktoberfest, and leberkäse. We’d visit family friends from Munich who’d always have plenty of weißwurst and the appropriate spicy mustards and beers to go with it. I mostly ate Asian food in Singapore, but even then there was always char siu and bak kwa.</p>

<p><em>(These were somewhat curtailed when we lived in Kuala Lumpur for a couple of years, for obvious reasons! Going into the “forbidden” areas of supermarkets there always felt strange; stranger still was seeing all these Western deli stuff interspersed with Chinese food. I guess it made sense).</em></p>

<p>But then I began to notice a change after abstaining from it for a year or so. The savoury smell I remember started to be replaced with  something I can best describe as gamey and stale. I’ve always hated lamb and mutton for that reason, and smelling it again after an absence was jarring. Even bacon, something I liked the smell of growing up, now smells sickly rich and bloody, almost rotten. Like my fashion sense or a Kubernetes cluster, it’s deeply unpleasant.</p>

<p>I didn’t think twice about it, but a random post last night lead Georgie of <a href="https://hey.georgie.nu/">Hey Georgie</a> (<a href="https://hey.georgie.nu/feed/">RSS feed here</a>) to provide some fascinating context:</p>

<blockquote>
<p>The last one reminds me of something I learned recently called “boar taint”, the smell of pig meat has always made me want to retch, and it affects 75% of the population! Sometimes associated with low quality meat or environment, but also to do with if the animal was castrated.</p>

<p>It’s really interesting; even the Wikipedia article on boar taint alone is enough to explain why one might be sensitive to the odour. I  did read into some more studies about it though, such as whether it’s genetic (because my mum experiences it too).</p>

<p>Turns out that sensitivity to it is associated with a gene, but it may not be the only contributing factor. Either way, it’s really educational, and there are obviously studies that are related to the welfare of the animal in the procedure.</p>

<p>You’ll no doubt find many about the ethics/animal welfare side of things easily but <a href="https://jesspryles.com/boar-taint/">here’s a post in more colloquial language</a> about it: And <a href="https://www.ibtimes.com/meat-leaving-bad-taste-your-nose-scientists-find-genetic-explanation-boar-taint-sensitivity-695141">an article</a> that links to a study about the gene stuff.</p>
</blockquote>

<p>I had no idea this was as widespread as it was. I wonder if so many religious aversions to pork could be traced back to something like this? I also appreciate the angle of animal welfare too. I go out of my way to make sure the little bit of meat I do it is ethically sourced, though this isn’t always easy.</p>

<p>The genetic component interests me. It sounds like Georgie and her mum have a much worse reaction to it than me; at worst I just find the smell unpleasant. I’d have expected to show signs of this in my childhood when I was eating pork if there was a genetic component, and
not just recently. But who knows; coriander soap mouth is also genetic, and if anything that has been getting <em>better</em> for me over time. It’s probably multiple factors.</p>

<p>Part of me wonders if it’s a defence mechanism at play too. The few times in Japan I accidentally had pork I was sick the following night. Not to get too blue, but my gut biome has probably adapted and changed over time as I’ve eaten less animal protein, and perhaps pork requires something I no longer have (for comparison, accidental beef has been fine).</p>

<p>Now I have the urge to start a pig sanctuary in Minecraft where they can wallow and play :). It also might be time to bump up my monthly RSPCA donations. Thanks again to Georgie for those links and insights.</p>
