---
title: "Farewell to my Kindle Paperwhite"
date: "2022-01-18T21:50:21+11:00"
abstract: "I’ve moved on to an iPad Mini 6, which has a screen that’s just as comfortable to use (which surprised me)."
thumb: "https://rubenerd.com/files/2022/paperwhite-bye@1x.jpg"
year: "2022"
category: Hardware
tag:
- books
- ebooks
- ebook-readers
- ipad
- ipad-mini
- reading
location: Sydney
---
<p>Today I bid farewell to my last ebook reader. I’ve <a href="https://rubenerd.com/the-ipad-mini-6/">migrated to an iPad</a>, and the <a href="https://www.kobo.com/">Kobo store</a> for books.</p>

<p><img src="https://rubenerd.com/files/2022/paperwhite-bye@1x.jpg" srcset="https://rubenerd.com/files/2022/@1x.jpg 1x, https://rubenerd.com/files/2022/paperwhite-bye@2x.jpg 2x" alt="Screenshot showing the last book I read on the Kindle: the first volume of the Penguindrum manga" style="width:500px; height:375px;" /></p>

<p>eInk screens are crisp and paper-like, but I’ve been spoiled by the screen and flexibility of my iPad Mini. I can read full colour RSS feeds, newspapers, manga, ebooks, light novels, and books all on a device that’s barely larger than the Kindle. The iPad’s significantly higher resolution, coupled with a textured, matte screen protector makes manga really pop.</p>

<p>The iPad is easier to make annotations on, highlight and copy passages for quoting, take screenshots, and read content from multiple sources and stores. I have it hooked up with our local Chatswood library, and use Apple’s default ebook reader for DRM-free epubs and PDFs I source from other stores.</p>

<p>But its nighttime performance is what most surprised me. The Kobo app, like other book readers, lets you invert the screen in low light. Reading grey text on a dark background on this amazing screen feels less harsh than the white backlight of the eInk display. I also don’t feel the same fatigue looking at the iPad that I do other LCDs for extended periods; whether that has to do with the Retina+ display resolution, refresh rates, a better quality backlight, or some other technical achievement I’m not sure.</p>

<p><em>(This doesn’t apply to manga, which would look downright weird with inverted blacks and whites, even if it were possible. But then, I prefer reading manga during the day and books before sleep).</em></p>

<p>I wasn’t sure if I was ready to move on from eInk, and I’ll miss its battery life. But given how much more reading I’ve been doing on the iPad, I think the proof is in the pudding.</p>
