---
title: "Fine art accounts on The Bird Site"
date: "2022-01-04T09:23:46+11:00"
abstract: "I’m going to follow ALL of these!"
thumb: "https://rubenerd.com/files/2022/FIJp-GdWUAEtlHs@1x.jpg"
year: "2022"
category: Internet
tag:
- art
location: Sydney
---
<p>I made a list of <a href="https://rubenerd.com/rss-feeds-with-pictures-of-the-day/">pictures of the day</a> last year that I added to my RSS reader. I want more nice things in my day, and this seemed like a great, reliable way to do it.</p>

<p>Dave Winer <a href="http://scripting.com/2021/12/30.html#a151206">noted a fun trend</a> on Twitter in a similar vein:</p>
<blockquote>

<p>My favorite community project of 2021 are the art curators on Twitter. There’s a group of Twitter users who, on behalf of great painters throughout history, are posting their works to Twitter.</p>
</blockquote>

<p>He’s <a href="https://github.com/scripting/artDownloader#the-fan-feeds">made a list of these</a> on an application he’s written, all of whom have now made it to my follow lists! Here’s a <a href="https://twitter.com/JulianOnderdonk/status/1477860145359204353">Gauguin</a> from 1922, which I only just realised was exactly a century ago:</p>

<p><a href="https://twitter.com/JulianOnderdonk/status/1477860145359204353"><img src="https://rubenerd.com/files/2022/FIJp-GdWUAEtlHs@1x.jpg" srcset="https://rubenerd.com/files/2022/FIJp-GdWUAEtlHs@1x.jpg 1x, https://rubenerd.com/files/2022/FIJp-GdWUAEtlHs@2x.jpg 2x" alt="Dawn in the Hills, 1922, Paul Gauguin" style="width:500px; height:379px;" /></a></p>
