---
title: "Goodbye to Plastikitty"
date: "2022-01-03T18:32:39+11:00"
abstract: "Another IndieWeb anime site bit the dust last year."
thumb: "https://rubenerd.com/files/2022/plastikitty@1x.jpg"
year: "2022"
category: Anime
tag:
- anime-figures
- goodbye
- indieweb
- reviews
location: Sydney
---
<p>Going through the blogroll on my <a href="https://rubenerd.com/omake.opml">omake page</a> was bittersweet. I discovered all these new, related blogs when I was updating the OPML to point to the correct RSS feeds, but I also realised more of the IndieWeb has slipped into the waves.</p>

<p><img src="https://rubenerd.com/files/2022/plastikitty@1x.jpg" srcset="https://rubenerd.com/files/2022/plastikitty@1x.jpg 1x, https://rubenerd.com/files/2022/plastikitty@2x.jpg 2x" alt="A screenshot from one of their last posts." style="width:500px; height:254px;" /></p>

<p>Plastikitty was one such blog. From their about page:</p>

<blockquote>
<p>Plastikitty is a site for toy lovers, by toy lovers! We are two dedicated collectors who want to bring the best news, features and reviews to the figure collecting community. We’ve been working together for 6 years in the industry, though Plastikitty itself is a bit younger than that. This is our passion and our hobby, and we’re so pleased to share that love with all of our readers!</p>
</blockquote>

<p>It showed. There were plenty of sites one could read reviews and speculation on upcoming anime figures, but Leah Bayer and Stephen Donaldson’s writing style and enthusiasm endeared me to theirs. I appreciated their attention to detail, going beyond the shallow aesthetics of a particular fig to discuss if it represented the character well, how they differed from prototypes, as well as meta debate about whether the hobby was getting too expensive.</p>

<p>Alter was also Leah’s favourite fig manufacturer, and she especially loved the <a href="https://rubenerd.com/tag/racing-miku/">Racing Miku</a> aesthetic, which clearly spoke to her excellent taste!</p>

<p>As I used to say about GigaOm, their comment section was also shockingly reasonable. It spoke to the community they were able to foster around this niche interest starting in 2011.</p>

<p>I hope they’re going well. I didn’t realise how much I missed their stuff until I checked out my feed archives.</p>
