---
title: "Lewis Mumford on urban cars"
date: "2022-01-14T09:12:41+11:00"
abstract: "Adding highway lanes to deal with traffic congestion is like loosening your belt to cure obesity."
thumb: "https://rubenerd.com/logo.png"
year: "2022"
category: Thoughts
tag:
- cars
- public-transport
- transport
- trains
- urban-planning
location: Sydney
---
<p>Lewis Mumford was an American technology and science historian, who wrote at length about urban environments. I saw <a href="https://www.azquotes.com/quote/1024074">this quote of his</a> going around again recently:</p>

<blockquote>
<p>Adding highway lanes to deal with traffic congestion is like loosening your belt to cure obesity.</p>
</blockquote>

<p>But <a href="https://en.wikiquote.org/wiki/Lewis_Mumford#My_Works_and_Days_(1979)">this is my favourite</a>:</p>

<blockquote>
<p>Forget the damned motor car and build the cities for lovers and friends.</p>
</blockquote>
