---
title: "Lists are great!"
date: "2022-01-13T08:11:18+11:00"
abstract: "Who’d have thought they’d reduce anxiety and make you more productive, other than everyone?"
thumb: "https://rubenerd.com/logo.png"
year: "2022"
category: Thoughts
tag:
- personal
- productivity
- work
location: Sydney
---
<p>This year I’ve remembered how amazing lists are. Write down a list of things I need to do, and I’ll be more likely to do them. Dong this silly little thing has helped so much with my anxiety since I slavisly started writing them again.</p>

<p>There’s no way to write this without it all seeming so obvious as to be patronising, but indulge me for a moment!</p>

<p>Lists are great for remembering things. I can’t tell you the number of times I’ve made a &ldquo;mental note&rdquo; for what groceries I need, only to arrive at the supermarket and not have a clue. The same goes for work tasks and personal commitments.</p>

<p>As I’ve quoted my old boss saying <em>so many times</em>, if it’s not documented, it doesn’t exist. Mental notes aren’t worth the paper they’re printed on, you could say.</p>

<p>But I think it even goes beyond this. Writing things down into lists gives my brain permission to think about other things. I realise I was stressed last year not because I had so much to do, but because I was juggling all of it in my head at the same time. <em>But I’m smart, I can remember to do this stuff!</em> Yeah, nah. Having made a habit of living in Ruben’s brain, I know this squishy mess of greymatter is the <em>last</em> place I should be stashing tasks to remember. As Cory Doctorow would say, use an outboard brain for this!</p>

<p>There’s also that supreme sense of satisfaction from crossing off items. I’m motivated not just to get stuff done, but because I know I can remove another item from the list that’s been glaring at me this whole time.</p>

<p>The other predictable reaction to this is over-thinking. If lists are so great, a sophisticated system to store, track, and update them is better, right? <em>NO!</em> Having spent a small fortune on a complicated mess of Getting Things Done applications over the years, I’m back to using basic text files, and to-to items with due dates in calendars.</p>
