---
title: "Microfibre cloths"
date: "2022-01-21T15:08:52+11:00"
abstract: "They’re great."
thumb: "https://rubenerd.com/logo.png"
year: "2022"
category: Hardware
tag:
- cleaning
- hi-fi
location: Sydney
---
<p>I almost mistyped the heading for this post as microfibre <em>clothes</em>. I’d be picking up <em>everyone</em> with a set of those. I lived with someone at uni (of course) who thought of himself as a bit of a <em>pick-up artist</em>, which I can only assume meant he never put anything down.</p>

<p>I kid, but one of his &ldquo;escapades&rdquo; seemed so dejected and blue after the deed that I took her for coffee and a chat down the road. Definitely one of the more surreal experiences of my life, and only cemented my reputation for being a &ldquo;beta&rdquo;, which I can only assume means I wasn’t VHS or Video 2000. I hope you’re doing okay Katie, if you’re reading this!</p>

<p>Wow, that was a decade-old memory I <em>completely</em> forgot about until just then. That’s wild. What else is wild is microfibre cloths. They’re one of those things you know exist, but only appreciate their majesty upon using them. Clara and I got a few sets, and they lift dust and fingerprints so effortlessly, it feels like magic.</p>

<p>The following items have been cleaned with them over the last day:</p>

<ul>

<li><p>Our Technics quartz locked, direct drive, linear tracking, track selecting turntable cover.</p></li>

<li><p>The computer monitor I’m looking through to see these words right now.</p></li>

<li><p>My $16 analogue Casio watch from Akihabara, with which I tell the time when I’m outside.</p></li>

<li><p>An <a href="https://rubenerd.com/my-new-ibm-workpad-pda/">IBM WorkPad 20X</a>, a rebranded Palm III.</p></li>
</ul>

<p>However, they’re no panacea. Wiping with a microfibre clock [sic] made no difference to the following items:</p>

<ul>
<li><p>My receding hairline.</p></li>

<li><p>Uni memories.</p></li>

<li><p>Both bruised and unripe bananas.</p></li>

<li><p>Another microfibre cloth.</p></li>
</ul>

<p>Have I misspelled cloth as clothes <em>and</em> clock now? Well then.</p>

<p><em>Well well well, water we have here?</em> Oh wait, it’s a microfibre cloth.</p>
