---
title: "Migraines Australia’s new fact sheets"
date: "2022-01-11T08:19:23+11:00"
abstract: "Please pass them on to people you think might find them useful."
thumb: "https://rubenerd.com/logo.png"
year: "2022"
category: Thoughts
tag:
- health
- migraine
location: Sydney
---
<p>Migraines are one of those things that people either don’t understand, or they think they do (it’s a headache, right?). I empathise; it’s hard to relate to specific afflictions if you don’t have a frame of reference.</p>

<p><em>(I used to joke that migraines are headaches if the flu is a cold. Neither are fun, but they’re not comparable).</em></p>

<p>Migraines Australia is a registered charity that does valuable work advocating for migraine suffers, including getting specific treatments on the Pharmaceutical Benefits Scheme for Medicare, and educating the public. Their <a href="https://www.migraine.org.au/join">newsletter</a> always has useful information.</p>

<p>Last year they <a href="https://www.migraine.org.au/factsheets">published a series of free fact sheets</a> for primary care givers, but I think there’s information there that’d be useful for anyone who either suffers from migraines, or cares for someone that does. I’m a big fan of distilling essential information into one-pagers to make complicated topics approachable.</p>

<p>Please pass them on to people you think might find them useful.</p>
