---
title: "My favourite Australian decaf beans"
date: "2022-01-11T07:51:56+11:00"
abstract: "The drink most famous for what George drank on Seinfeld is now just as good as any regular beans you could get."
thumb: "https://rubenerd.com/files/2022/george-decaf.jpg"
year: "2022"
category: Thoughts
tag:
- coffee
- food
- reviews
location: Sydney
---
<p>Ah decaf. Most famous for being what George drank on Seinfeld, it’s the biggest invitation since mothers told their kids to clean their rooms for unimaginative people to tilt their heads, and ask: <em>yeah, but why?</em></p>

<p><img src="https://rubenerd.com/files/2022/george-decaf.jpg" alt="Screenshot from the first episode of Seinfeld, where George insists on confirming the coffee is, in fact, decaf. WHERE'S THE INDICATOR!?" style="width:500px; height:287px;" /></p>

<p>For years I cut decaf more slack than I would my regular beans. I assumed there’d always be a more limited selection based on demand, and that roasters wouldn’t ever put as much effort into it compared to their flagship brews. I’m glad to say this is no longer true!</p>

<p>My favourite in Australia remains Cassiopia Speciality Coffee’s <a href="https://cassiopeia.com.au/store/ethiopia-mw-decaf">Colombia Mountain Water Decaf</a>. I first had it in their beautiful little store in the Blue Mountains, and it’s  <em>exquisite</em>. Well rounded, tasty, and the smell that permeates out kitchen when I grind it is glorious. Most normal coffee I’ve ever had wasn’t as good as this decaf.</p>

<p>Another contender to enter the ring was one <a href="https://www.apothecarycoffee.com.au/">Apothecary Coffee</a> has started selling in their Chatswood coffee shop: <a href="https://stali.com.au/products/latin-america-decaf-1">ST.ALi Decaf</a>. Clara noted it smelled like chocolate when I first ground it, and those tasty notes come through strong. It’s now my favourite evening coffee to have with a desert biscuit if I’m not in the mood for tea.</p>

<p>And finally, this might sound shocking, but Aldi granulated instant decaf. Granulated coffee is bad, but this is the only granulated decaf I’ve ever had that passes the threshold for being tolerable. Don’t ever drink granulated, but if you’re too tired or lazy, it’s better than a slap in the face with a wet fish. Their marketing department can have that one.</p>

<p>This post, like all my coffee posts, is dedicated to <a href="https://jamesg.blog/">James' Coffee Blog</a>. His reviews, lists, tools, and posts about brews continue to be a source of inspiration for my writing of the aforementioned beverage here.</p>
