---
title: "Boulevard of Enthusiasts, Naberezhnye Chelny"
date: "2022-01-09T10:18:46+11:00"
abstract: "I haven’t been able to stop looking at this photo!"
thumb: "https://rubenerd.com/files/2022/boe@1x.jpg"
year: "2022"
category: Media
tag:
- photos
- russia
location: Sydney
---
<p>I was reading about the <a href="https://en.wikipedia.org/wiki/Tatarstan">Republic of Tartarstan</a> on Wikipedia over coffee this morning, like a gentleman, when I saw this photo of the <a href="https://commons.wikimedia.org/wiki/File:%D0%AD%D0%BD%D1%82%D1%83%D0%B7%D0%B8%D0%B0%D1%81%D1%82%D0%BB%D0%B0%D1%80_%D0%B1%D1%83%D0%BB%D1%8C%D0%B2%D0%B0%D1%80%D1%8B.jpg">Boulevard of Enthusiasts</a> in <a href="https://en.wikipedia.org/wiki/Naberezhnye_Chelny">Naberezhnye Chelny</a> by Zahidulla:</p>

<p><img src="Rubenerd%20Boulevard%20of%20Enthusiasts,%20Naberezhnye%20Chelny_files/boe1x.jpg" srcset="Rubenerd%20Boulevard%20of%20Enthusiasts,%20Naberezhnye%20Chelny_files/boe1x.jpg 1x, Rubenerd%20Boulevard%20of%20Enthusiasts,%20Naberezhnye%20Chelny_files/boe2x.jpg 2x" alt="Photo looking down the Boulevard of Enthusiasts, in Naberezhnye Chelny." style="width:500px; height:375px;"></p>

<p>I haven’t been able to stop looking at it! That quintessential skyline, the trees, the landscape in the background… it’s unmistakable what part of the world it is. But I’m most intrigued by the regular square patterns in the plaza, the angular fountains that perfectly align to them, and that building in the upper centre with the glass cone for a roof. I wonder what it is?</p>

<p>Two decades ago, and you would have only seen a photo like this in a travel book, or on slides if you had friends who travelled around Tartar Russia. The fact a schmuck like me can lose himself in that part of the world by clicking a link hasn’t been lost on me. Anyone know what the Tartar word is for schmuck?</p>

<p>Russia has so many fascinating pockets of different culture everywhere. I’d love to visit Kazan in the same republic one day.</p>
