---
title: "Account spam from @PayPal?"
date: "2022-01-20T10:26:37+11:00"
abstract: "This isn’t just unprofessional, it puts people at risk."
thumb: "https://rubenerd.com/logo.png"
year: "2022"
category: Internet
tag:
- email
- language
- spam
location: Sydney
---
<p>I’m invoking <a href="https://en.wikipedia.org/wiki/Betteridge's_law_of_headlines">Betteridge’s Law</a> here, because <em>turns out</em> this email wasn’t as clear cut as I thought it was. Today’s spam comes from someone purporting to be PayPal. I didn’t alter the text or formatting in any way:</p>

<blockquote>
<p>Hello, Ruben Schade</p>

<p>For the safety and security of the PayPal network, we are writing to notify you that we need to collect some additional information from you to continue using your PayPal account.<br />
We need you to please update this by20 March 2022 (+60 days),otherwise the "functionality of your PayPal account will be impacted".
It should only take a few minutes to complete. To keep using your account and all its features, please:<br />
- "Log in " to"" your PayPal account.<br />
- Click on the notification icon.<br />
- Update your details.<br />
Forgotten your password? Don't worry – you can reset it in just a few simple steps by following the instructions<br />
here</p>
</blockquote>

<p>Note the giveaway signs of this being a phishing attack:</p>

<ul>

<li><p>Referring to it as the <em>PayPal network</em></p></li>

<li><p>Amateurish paragraphs and weird carriage returns, such as in that last line.</p></li>

<li><p>Incorrect or missing spaces, such as <em>by20 March 2022 (+60 days),otherwise</em></p></li>

<li><p>Inconsistent quotation marks, such as <em>&quot;Log in &quot; to&quot;&quot;</em></p></li>

<li><p>Redundant use of punctuation, such as <em>&quot;functionality of your PayPal account will be impacted&quot;</em></p></li>

</ul>

<p>Except, as you’ve probably guessed by my tone, this email was legitimate. I logged into my PayPal account directly without clicking any links in the email, and sure enough they needed to verify some of my information.</p>

<p>I won’t mince words here. <strong>This is bad!</strong></p>

<p>Basic spelling, grammar, and punctuation mistakes are poor form in any corporate communication, but the stakes are so much higher when it comes to financial services, for reasons I’m sure you appreciate.</p>

<p>Phishing attacks broadly exploit three facts:</p>

<ol>

<li><p>People don’t look too closely at their email</p></li>

<li><p>People implicitly trust email from a company they do business with</p></li>

<li><p>People don’t know how to spot fakes</p></li>

</ol>

<p>Our collective efforts to train people to protect themselves are undermined the moment a legitimate outfit sends email like this. I cannot stress how dangerous this precedent is. We worry about malicious email looking legitimate, but what hope does a layperson have if the reverse is also true?</p>

<p>The potential customer impact is just as frustrating at a personal level. I sent this email to spam, but on a hunch checked my PayPal account just in case. Had I not, my account may have eventually been terminated, and my email provider’s spam filters would have been trained to ignore any further communications. Imagine the consequences if I ran a business through a PayPal account, or had large sums of money sitting in it.</p>

<p>Companies like PayPal have a responsibility to the Internet that made their services possible. They can, should, and must do better, or we will continue to lose this fight against scams.</p>
