---
title: "Programming language names"
date: "2022-01-16T18:49:37+11:00"
abstract: "I’d also add: choose a name that’s easy to search without appending “lang”."
thumb: "https://rubenerd.com/logo.png"
year: "2022"
category: Software
tag:
- language
- programming
location: Sydney
---
<p><a href="https://merveilles.town/@metkis/107385495880661177">@metkis@merveilles.town</a>:</p>

<blockquote>
<p>Really, what good is a programming language if it doesn’t have a cool name?</p>
</blockquote>

<p>I’d also add: a name that’s easy to search for without appending &ldquo;lang&rdquo;.</p>
