---
title: "Self-doubt"
date: "2022-01-14T08:04:14+11:00"
abstract: "Stop listening to that sackbutt in your head."
thumb: "https://rubenerd.com/logo.png"
year: "2022"
category: Thoughts
tag:
- personal
- psychology
location: Sydney
---
<p>Self-doubt is that voice inside you that says you can’t do something, or you’re not qualified to so something, or that what you’re about to do is fraught with peril.</p>

<p>It’s yet another facet of anxiety that’s so self-defeating, so utterly pointless, and so destructive, yet we convince ourselves to listen to it. Worse, we accept what it says without any critical thought, and let ourselves feel all the worse for it.</p>

<p>Can you imagine sitting next to someone who belittled, berated, and angered you as often as your self-doubt did? What a jerk. What a self-absorbed, nasty, maniacal cynic. What a machiavellian, rude, entitled sackbutt.</p>

<p>I started personifying my self-doubt. His name is Ted. He’s a right old curmudgeon who’d rather see me fall over to make a point than catch me. He’d rather see me pick up a call a nervous wreck. He’d rather have me sit an exam, or enter an interview, thinking about him instead of the task at hand. He’d rather I fumble for the correct syntax in a command line—ideally with disastrous consequences—than perform a task correctly.</p>

<p>I’ve found cloaking self-doubt in a human form to be helpful, precisely because we wouldn’t tolerate this shit from a real person. We’d be rushing to report them faster than you can say sackbutt. It’s an insult my sister and I coined as kids from a medieval trombone, and I’m bringing it back.</p>

<p>Ted is a useful idiot occasionally. Him doubting me had lead me to perform more research, or check both ways before crossing the street, or prepare more for a talk or meeting than I might otherwise. But most of the time he sits there giving me shit, and I don’t tolerate it.</p>

<p>Right now he’s telling me I can’t publish this post, because nobody would care, normal people who have their shit together don’t have these doubts, that I’m a loser for even thinking about it, and that nothing written in less than five minutes could possibly be any good.</p>

<p>Watch this, Ted!</p>

<pre><code>git add ./content/post/2022/self-doubt.html
git commit -m 'New post on self-doubt'
git push origin trunk
</code></pre>

<p>You sackbutt.</p>
