---
title: "The Ricoh GR IIIx"
date: "2022-01-04T10:16:13+11:00"
abstract: "I didn’t see (hah!) this new 40mm-equiv version of this awesome camera."
year: "2022"
category: Hardware
tag:
- cameras
- photography
- reviews
- ricoh-gr-iii
location: Sydney
---
<p>I haven’t had much opportunity to go outside and use mine over the last couple of years, but my Ricoh GR III is my favourite camera of all time. After years of convincing myself I needed a viewfinder and interchangeable lenses, the GR III is tiny, sharp, fast, and <em>fun</em> to use; all with the same APS-C sized sensor of my beloved boat-anchor Nikon SLR kit it replaced.</p>

<p>The best camera is the one you have on you, and I always have mine in my bag. I imagine Henri Cartier-Bresson using one of these things if he were snapping around today.</p>

<p>Unbeknownst to me, Ricoh released an update to the GR III in the form of the <a href="https://pentax.com.au/products/15287/ricoh-gr-iiix-camera---black">GR IIIx</a>. The main difference is a new lens:</p>

<blockquote>
<p>The RICOH GR IIIx incorporates a newly developed 26.1mm F2.8 GR lens, which harmonizes exceptional image quality with a slim design. Unlike past GR-series models which featured a 28mm wide angle of view for exaggerated perspective, this lens provides a 40mm standard angle of view in the 35mm format, delivering images with a more natural perspective and a more truthful sense of depth for a completely different type of street photography.</p>
</blockquote>

<p>Save for a precious few times where I wish I had a telephoto for a distance shot, I haven’t ever felt limited by the III’s lens. I also like capturing more detail in a shot when travelling, mostly because I want to remember a scene I visited. But this looks like a compelling option for people who want that human scale. If you held off looking at the GR line before because the lens was too wide, I’d <em>highly</em> enourage you to give this a try!</p>

<p>Most importantly of all, I appreciate the naming scheme as a <a href="https://en.wikipedia.org/wiki/Palm_IIIx">Palm fan</a>.</p>
