---
title: "The current state of Linux gaming"
date: "2022-01-16T12:00:13+11:00"
abstract: "Native gaming is as good as Windows. If you’re motivated and armed with ProtonDB, it might also work."
thumb: "https://rubenerd.com/logo.png"
year: "2022"
category: Software
tag:
- atelier-ryza
- bsd
- cities-skylines
- debian
- games
- freebsd
- kde
- linux
- minecraft
- portal-2
- superliminal
- train-simulator
- x-plane
location: Sydney
---
<p><em>I’m dealing with an on/off migraine today, so I’m publishing this half-baked draft. I think I got out most of what I wanted to say, though I’m sure it’s still a bit rough.</em></p>

<p><em>The Year of the Linux Desktop</em> is a meme among detractors and even Linux users. It speaks to the inability of the platform to crack into the general purpose computing market, despite its overwhelming success in the server space and years of development. This is a shame, because for plenty of use cases I’d consider Linux to be <em>easier</em> to use than equivalent Windows and Mac systems. That’s not something I’d have expected to write.</p>

<p>The way I see it, there are two major stumbling blocks: hardware support, and games. General purpose devices have seen huge improvements: gone are the days of spotty Wi-Fi or poor graphics performance under most circumstances. But it’s still far too easy to buy a printer, scanner, or phone, and simply not have it recognised. That’s a topic for another time.</p>

<p>Games are another tough nut to crack. As a Mac and FreeBSD user, I empathise with the struggle people running Linux face in getting vendors to care about their platform, let alone port their software. If you’re not on Windows, you’re a source of support tickets, not money. In some cases, the GPL makes Linux even tougher to support than the BSDs; at least legally.</p>

<p>But there have been some massive improvements over the years. Regardless of your stance on binary blob drivers, Linux is as capable as Windows at running games today. I don’t think this gets enough attention.</p>

<p>I’m lucky that almost all my favourite contemporary games support Linux natively, including <a href="https://www.citiesskylines.com/en">Cities Skylines</a>, <a href="https://www.minecraft.net/">Minecraft</a>, <a href="https://store.steampowered.com/app/620/Portal_2/">Portal 2</a>, <a href="https://store.steampowered.com/app/1049410/Superliminal/">Superliminal</a>, and <a href="https://www.x-plane.com/">X-Plane 11</a>. Have I mentioned recently how delightful <a href="https://games.kde.org/">KDE’s puzzle games</a> are too? The idea that I can reboot my FreeBSD workstation into <em>Debian</em> to play games instead of Windows would have seemed preposterous less than a decade ago.</p>

<p>Today, I don’t invest in a new game or franchise unless I know Linux support is either offered or available. FreeBSD is a bonus&hellip; I love that Minecraft has become my favourite game, and it runs natively on my favourite OS. After years of enduring enterprise software, who would have thought Java would save my recreation time? <em>But I digress.</em></p>

<p>Most people though aren’t interested in native Linux games, but rather the promise of running <em>Windows</em> games on Linux. Linus and his team at Linus Tech Tips have been running Linux through its paces, <a href="https://www.youtube.com/watch?v=Rlg4K16ujFw">and concluded</a>:</p>

<blockquote>
<p>Overall I’m really happy I did the challenge. I learned a lot, and it gave me a lot of hope for the future. But is this the year of the Linux desktop? For gamers, the answer is no, I’m sorry. And the more niche your use case gets &hellip; the more resounding that &lsquo;no’ gets.</p>

<p>But something has given me a lot of hope. And that’s how much positivity from the Linux community in spite of our concerns. Because even if I’m not ready to convert my gaming rig just yet, it gives me hope that one day the meme will end, and the Year of the Linux Desktop will come.</p>
</blockquote>

<p>The volunteers and developers behind Wine, Steam, ProtonDB, and Lutris have pushed the envelope further than I think any of us could have imagined, but Linux is still not a general replacement for Windows for games. You have to be willing to spend the time to get things working, and there’s no guarantee they will. There are also plenty of gaps in support, including from companies who use packages that <em>do</em> support Linux. Regardless of the political or business reasons for it, the result is the same.</p>

<p>I agree with LTT’s assessment from my own anecdotal experience. <a href="https://store.steampowered.com/app/24010/Train_Simulator_2022/">Train Simulator 2022</a> for Windows runs great on Linux via the Proton framework, but the <a href="https://store.steampowered.com/app/1257290/Atelier_Ryza_2_Lost_Legends__the_Secret_Fairy/">recent Atelier Ryza games</a> struggle. I run those on my Mac, where fortunately it runs fine.</p>

<p>Linux is enough of a gaming platform for me, and possibly anyone else who has my weird taste in games. But I wouldn’t give it to someone who doesn’t have that motivation to avoid having to touch Windows (some of us get enough of Windows Server during the day at work to want to, thank you)!</p>
