---
title: "This post only has the word “bagel”"
date: "2022-01-17T21:45:24+11:00"
abstract: "Bagel."
thumb: "https://rubenerd.com/logo.png"
year: "2022"
category: Thoughts
tag:
- bagels
- pointless
location: Sydney
---
<p>Bagel.</p>

<p>Thank you. Wait, damn it.</p>
