---
title: "Tire evidence by Peter McDonald"
date: "2022-01-06T09:39:37+11:00"
abstract: "I didn’t realise he passed away in 2013. Time to find a copy of this!"
thumb: "https://rubenerd.com/files/2022/3236204.jpg"
year: "2022"
category: Thoughts
tag:
- books
- science
location: Sydney
---
<p>Every forensic science show I watch that involves tyre imprint evidence either interviewed or referenced Peter McDonald. He literally wrote the book on tyre evidence, and was also one of those frustrating people who was a technical expert <em>and</em> an artist. Compared to many stone-faced officers and prosecutors, it was also clear how much he cared about the victims he helped investigate.</p>

<p><img src="https://rubenerd.com/files/2022/3236204.jpg" style="width:129px; height:200px; float:right; margin:0 0 1em 2em;" alt="Cover of Tire Evidence." /></p>

<p>Sadly he <a href="https://www.cleveland.com/obituaries/2013/06/pete_mcdonald_was_a_leading_fo.html">passed away</a> in 2013, but I only just realised his book is <a href="https://www.goodreads.com/book/show/3236204-tire-imprint-evidence">publicly available in print</a>, and not locked away in academia. I’m tempted to find a copy, even if I have to go the paper route.</p>

<p>I love non-fiction, and especially books that explore topics I have no background in whatsoever. As Merlin Mann says, there’s something invigorating about reading or listening to topics from passionate people, regardless of what it is.</p>

<p>Who knows, given how some Sydney Buses drive around pedestrians, I may find this book useful sooner than I think.</p>
