---
title: "Trying out the Windows Package Manager"
date: "2022-01-06T10:57:33+11:00"
abstract: "I think I’ll stick with installing with MSIs."
thumb: "https://rubenerd.com/files/2022/windows-package-manager@1x.png"
year: "2022"
category: Software
tag:
- package-managers
- reviews
- windows
location: Sydney
---
<p>There’s a ton of stuff I miss when I have to use Windows for something, but package managers would be among the biggest. For all the new problems they can introduce, they still make setting up systems <em>so</em> much easier. My Mac and *nix machines are up and running with a few commands.</p>

<p>Windows has had the Chocolatey package manager for years, but like my dance moves I’ve always found it clunky and brittle. Wait, what? Package managers will always give you just enough rope, but Chocolatey also supplies an unlocked Acme supercar, and a handy cliff to drive it off from. <a href="https://scoop.sh/">Scoop</a> is much nicer, but I’ve also run into integration problems. Not to rag on the developers of these tools, they’re doing the best they can with the toolchains and frameworks available.</p>

<p>The news slipped by me last year that Microsoft released an <a href="https://devblogs.microsoft.com/commandline/windows-package-manager-1-1/">official Windows Package Manager</a>, so I thought I’d give it a try. I went to the Microsoft Store and downloaded the <a href="ms-windows-store://pdp/?productid=9nblggh4nns1">App Installer</a>, which provides the winget binaries. Hey, it’s better than calling it Windows Console Application Installer Enterprise Corporate for Teams, SP1 RU2.</p>

<p>I did a search for Firefox, and installed:</p>

<p><img src="https://rubenerd.com/files/2022/windows-package-manager@1x.png" srcset="https://rubenerd.com/files/2022/windows-package-manager@1x.png 1x, https://rubenerd.com/files/2022/windows-package-manager@2x.png 2x" alt="Screenshot showing winget in operation. I did a search with winget search firefox, then winget install Mozilla.Firefox. The final line shows 'Starting package install...'." style="width:500px" /></p>

<p>Again, the syntax is just a <em>little</em> bit clunkier than what we have elsewhere, but already it felt like an improvement. It downloaded Firefox and ran the MSI automatically without user interaction, albeit with the mandated installer popups. It even detected and installed the correct version based on my locale.</p>

<p>After installing though, the prompt sat at <em>Starting package install&hellip;</em> for the rest of the day until I turned the VM off. The same thing happened with a few other packages, and on two separate machines. Maybe the installers aren’t handing off properly, or the package manager itself isn’t properly detecting when tasks are finished. It <em>is</em> a bit weird using software that the package manger claims it’s still only starting to install. The verbose IDs are also tedious to write out, and <a href="https://github.com/microsoft/winget-cli/issues/353">these shenanigans</a> sour me on it.</p>

<p>At the end of the day, is a phrase with six words. Maybe if I were a full-time Windows Server sysadmin, I’d invest more time in it. But I can’t shake the feeling that all of these feel like a kludge on top of a system that wasn’t designed to be maintained this way, like attaching turbines and wings to a dump truck. I’ll probably stick with just installing MSIs the old fashioned way.</p>
