---
title: "Vivaldi’s Jon von Tetzchner on crypto-“currency”"
date: "2022-01-14T08:24:13+11:00"
abstract: "Vivaldi won’t include support, for all the ethical and financial reasons you expect."
thumb: "https://rubenerd.com/logo.png"
year: "2022"
category: Software
tag:
- bitcoin
- cryptocurrency
- scams
location: Sydney
---
<p>Vivaldi is an excellent alternative browser that consistently takes the right approach when it comes to all manner of things. Jon von Tetzchner recently wrote about why the browser won’t go into the crypto-&ldquo;currency&rdquo; space, commending that even April Fool’s jokes would be dangerous:</p>

<blockquote>
<p>&hellip; with the incredible hype and attention that cryptocurrencies, and more recently NFTs, are currently getting, we couldn’t even go for such a joke, for fear that it would be taken seriously.</p>
</blockquote>

<p>Appreciate for a moment that blockchain’s technology and advocates are so ridiculous, they’re indistinguishable from satire! I’d only be hesitant to call the whole self-defeating mess <a href="https://en.wikipedia.org/wiki/Poe%27s_law">Poecoin</a> if I weren’t worried a cryptobro would assume Nathan Poe is Satoshi Nakamoto.</p>

<p>Jon’s conclusion is spot on:</p>

<blockquote>
<p>The entire crypto fantasy is designed to lure you into a system that is extremely inefficient, consumes vast amounts of energy, uses large amounts of hardware that could better be spent doing something else and will quite often result in the average person losing any money they might put into it.</p>

<p>When you strip away the hype, these virtual currencies have very real repercussions for people, society, and the environment.  By creating our own cryptocurrency or supporting cryptocurrency-related features in the browser, we would be helping our users to participate in what is at best a gamble and at worst a scam. It would be unethical, plain and simple.</p>

<p>We refuse to dress these scams up as opportunities. Instead, we encourage you to treat them with the skepticism they deserve. This may be a game for some curious crypto-investors and wealthy speculators, but for those unlucky enough to get caught out by the pyramid scheme, it could be devastating.</p>
</blockquote>
