---
title: "What year is The Future now?"
date: "2022-01-17T15:01:36+10:00"
abstract: "Remember beyond 2000?"
thumb: "https://rubenerd.com/logo.png"
year: "2022"
category: Thoughts
tag:
- futurism
- gateway
- years
location: Sydney
---
<p>I can hear the faint sound of The Smiths asking <em><a href="https://www.youtube.com/watch?v=hnpILIIo9ek">How Soon is Now</a></em> in relation to the title of this post. I used to think some of their music was interesting, but insufferable hipsters and Morrisey ruined them for me. But I digress.</p>

<p><em>Beyond 2000</em> was one of the first shows I remember watching as a kid. It detailed all the new inventions and live improvements we’d have by the turn of the new millennium, including fusion power and self-driving cars. Gateway 2000 wanted to sell us futuristic computers before they pivoted to those awesome cow boxes.</p>

<p>And say, remember The New Millennium? Microsoft went as far as to break from their year-based nomenclature and called Windows 98 Third Edition <em>Windows Millennium Edition</em> instead, given Windows 2000 wasn’t the unifying OS they expected it would be. Is it a coincidence that Windows 2000 had the best UI before and since of any Microsoft OS? I think not.</p>

<p>The year 2000 was a big deal for obvious reasons, but its passing lead futurists, politicians, and planners to pin their hopes on a new one. When I lived in Singapore, I remember going across the Causeway (or the Tuas Second Link!) and seeing the billboards for the Malaysian Government’s bold <em>Wawasan 2020</em> plan. I’m sure they had no idea how right they were about needing rapid development and world-class healthcare to combat a changing landscape.</p>

<p>Now that 2020 has faded into memory, with the collective middle fingers of the world squarely aimed at it, what year is the future now?</p>

<p>I’ve seen a few discussions about 2030, but it doesn’t have the same satisfying repetition. <span style="text-decoration:line-through">2036</span> 2038 (thanks <a href="https://petermolnar.net">Peter Molnar</a>!) will be another Y2K moment when the 32-bit timestamps used by older Unix and NTP roll over, but I doubt it’ll generate the same fervour as the former. 2048 would be a fun number for computer nerds, but likely few others.</p>

<p>2050 seems to be the new darling. It’s what governments around the world are pinning their reductions in carbon to, despite it long being too late. 2100 nay gets a mention at all, which surprises me.</p>

<p>Personally, I’m pinning my hopes on 2024, when we can all travel and see each other again. Clara and I have wanted to tick off Nagoya, Hiroshima, Taipei, and Boston for years!</p>
