---
title: "You must have only done it for the money"
date: "2022-01-17T08:25:15+11:00"
abstract: "Another thought-terminating cliché."
thumb: "https://rubenerd.com/logo.png"
year: "2022"
category: Thoughts
tag:
- debating
- social-media
location: Sydney
---
<p>I wish I could remember where I first read this, but someone commented that she was accused of only doing it &ldquo;for the money&rdquo; in response to her work. She could have been working for a charity, or she wrote a book on Bitcoin&hellip; a lot of things have <a href="https://rubenerd.com/where-did-i-see-that-thing/">melded together</a> in my mind over the last few weeks.</p>

<p>Richard Dawkins, the gentleman behind the term <em>meme</em>, refers to such tactics as <em>thought-terminating clichés</em>. They’re devices designed to derail a discussion when a debate is descending (I couldn’t keep that alliteration going) away from their control. Rather than respond to points, these dishonest people retreat to arguing that the motive must only be financial.</p>

<p><em>Pineapple on pizza is tasty? Pfft, you’re only saying that because you have a cookbook you’re trying to spruik!</em></p>

<p>It’s not entirely without basis, unfortunately. Televangelists, politicians, and <a href="https://rubenerd.com/belle-gibson-fake-cures-and-media/">charlatans</a> have trained us to be skeptical when someone passes around a collection plate, only to lavish it on themselves or in corrupt ways. Someone comes along spouting an opinion or view you don’t agree with, and its easy to ascribe malicious intent.</p>

<p>But it’s not always true, and it’s usually dishonest and lazy to level the charge against someone unless you have proof. It’s especially silly when claimed about someone in academia, given how much more they’d be making in the private sector if that were their primary motivation! But then, nobody is making such a claim while thinking rationally.</p>

<p>I guess it’s just projection again. If you only see your work as a source of money, or manipulate people to part with theirs, you assume everyone else is motivated the same way. In the <a href="https://twitter.com/webmink/status/1482826768016883716">words of Simon Phipps</a>, people tell you where their weaknesses are by what they attack.</p>

<p>We all have to eat, so I don’t begrudge anyone for just doing jobs for the money. In some cases I can see where it’d be a coping mechanism, especially if they company paying for your food treats you like rubbish. But there are other goals out there too.</p>
