---
title: 'A380 plushies with @johncarneyau and @DrRachie' 
date: "2012-04-16T05:46:47+10:00"
year: "2012"
category: Hardware 
tag:
- a380
- airbus
- aviation
- drrachie
- infocomm
- johncarneyau
- p12
- plushies
- qantas
- soft-toys 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/21Qantas_380M_lg.jpg" alt="Photo of the A380 plushie offered by Qantas" style="width:248px; height:168px;" class="transparent" /></p>
<p>What started as a <a href="https://mobile.twitter.com/Rubenerd/status/191726032909381632">mere observation</a> regarding the obvious cuddliness of the Airbus A380 resulted in the <a href="https://mobile.twitter.com/johncarneyau/status/191734369134706688">this tweet</a> from @johncarneyau, the <a href="https://mobile.twitter.com/DrRachie/status/191740816929206272">tweet below</a> from @DrRachie, a Google search and the above plushie!</p>
<blockquote><p>@Rubenerd it’s totes your fault I googled this! <a href="http://www.qantasshop.com.au/product-46-QantasA380PlushPlane%28M%29">bit.ly/HL8Pru</a> <a href="http://www.qantasshop.com.au/product-252-SPECIALOFFERFreeA380kidspursewitheverypurchaseofaA380backpack">bit.ly/HL8ODU</a>  #want #huggableA380 @johncarneyau</p></blockquote>
<p>I&#39;d had a pretty difficult day, but this made me grin from ear to ear… in public! :D Who says Twitter is nothing but people complaining?</p>
 
