---
title: 'Alpha Centauri Bb' 
date: "2012-10-23T12:15:10+10:00"
year: "2012"
category: Thoughts 
tag: 
- astronomy
- exoplanets
- science
- space 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/Eso1241b.500.jpg" alt="Artist's impression of Alpha Centauri" style="width:500px; height:313px;" /></p>
<blockquote><p>The discovery of an Earth-sized planet (artist’s impression pictured) in Alpha Centauri, the star system closest to Earth, is announced.</p></blockquote>
<p>News from <a href="https://en.wikipedia.org/wiki/Alpha_Centauri_Bb">Wikipedia</a>. I still get a giddy thrill from news like this, just like I did when I was a kid. To boldly go~</p>
 
