---
title: 'My de facto birthday 2012!' 
date: "2012-03-27T01:36:24+10:00"
year: "2012"
category: Thoughts 
tag: 
- birthday
- p12
- personal 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/photo.birthday2012.jpg" alt="" style="height:335px; width:500px;" /></p>
<p>As I sit here in the remaining few hours of being 25, I suddenly realise I hadn&#39;t written about my wonderful <em>de facto</em> birthday party that took place last weekend!</p>
<h3>Uh oh, it’ll be a rambling post!</h3>
<p>Had you spoken to me a few weeks ago, you would have been inundated with stories about my struggles with the UTS enrollment system. Turns out several subjects I thought I could get an exemption for fell through, but by the time I realised it the semester had already started and all my required classes had prerequisites! To my delight, the illustriously fabulous Chris Wong was able to patch through my enrollment, and I was able to do a full semester of work again. Whew!</p>
<p>Why am I regaling you with this? Well for one simple reason, I suddenly found myself with far less spare time to celebrate my <em>de jure</em> birthday, and as much fun as I find programming, the idea of wearing party hats and watching Sherlock while stuck in a several hour long classes on application development seemed less than appealing. Not to mention other people in my classes would probably want in.</p>
<p>With this in mind, I decided to do something I&#39;d never done before; partly because I&#39;m obviously not the brightest lightbulb in the ceiling, and because I hadn&#39;t ever had enough friends to pull it off! The world&#39;s smallest violin playing, just for me. I decided to host an Sherlock marathon tea party; nothing out of the ordinary if I&#39;m to believe it&#39;s what rugged, manly people do. In response to several Twitter conversations prior regarding anti-social behavior over dinner with electronic devices, the bringing of laptops, tablets and mobile phones was actively encouraged; I&#39;d mulled over installing a metal detector near the front door with entrance being barred for those without any gadgets on their person, but the cost would have been prohibitive.</p>
<h3>Look out, he said Starbucks!</h3>
<p>My closest friends from UTS and I started the day at the Starbucks in Capitol Square, not to be confused with a geometric square or an American Capitol. Come to think of it, why is it called Capitol Square? I had my traditional Caramel Latte which I&#39;ve had at Starbucks in various cities on my birthday since I was 13, and despite specific instructions not to these lovely people showered me with gifts! Adorable Haruhi nendoroids, a plushie block of tofu, some of the most original, tastiest sweets I&#39;ve ever had, and several manga volumes of Toradora and the recently re-released in English Sailor Moon! My sister even chipped in with some bright, colourful, clever Threadless shirts! :)</p>
<p>We headed to Chez Schade on the train (fortunately one with plushie seats) where I demonstrated to a rapped audience the ability of a singular tunnel with uniform appearance to give wildly different phone reception strengths depending on our location. We all had our phones out attempting to best each other&#39;s dropped reception; being on Optus I was able to hold out fairly well during the early run but was successful in achiving the glorious &quot;Searching…&quot; status as we approached Earlwood! I guess it <em>was</em> my birthday ;D.</p>
<p>We made it up to my house no thanks to the gigantic hill, then proceeded to spend our afternoon troubleshooting my family&#39;s media server, and finally watching some brilliant BBC Sherlock for kicks! Tea was had, presents unwrapped, WiFi passwords set, the works!</p>
<h3>They had Japanese mints!</h3>
<p>Finally to top off the evening, we headed to Ken&#39;s Sushi Bar Dining in Bexley North, a single stop from Bardwell Park but an area with staggeringly wondrous phone reception and my favourite Japanese food in Sydney! We huddled around the table in the small place and ordered; several took the opportunity to render me nervous by choosing items I&#39;d recommended… <em>what if they didn&#39;t like it!?</em> Fortunately, either they all enjoyed the food or were able to pretend convincingly ;).</p>
<p>We talked and Tweeted, they put up with my terrible jokes, parting hugs were had as we made our way back to Central. ^^</p>
<h3>Of note</h3>
<p>With all the studies, assignments, family work and other commitments in my life right now, it was so lovely to be afforded a (for want of a better word) blessed reprieve and spend a single day just being happy with super friendly people without feeling guilty. I still miss mummy so much it hurts, and obviously on my birthday (the day she obviously played a large part in originally!) those feelings were very close to the surface. Having a great time was a huge weight off my chest, and I really appreciated it. Sincerely.</p>
<p>Thanks to Sashin, Vadim, Cindy, Clara, Sebastian and Emily for an absolutely wonderful time! :&#39;D We must do this again at some point; with the limit on the size of the restaurant lifted we could have even more people, provided they like British television and anime! :D. <strong>HUGS</strong>.
<h3>Travel back in time!</h3>
<p>As always, my ever increasing list of birthday posts here on Rubenerd!</p>
<ul>
<li><a href="//rubenerd.com/my-25th/">2011: A quarter century of Ruben Schadeyness</a></li>
<li><a href="//rubenerd.com/my-24th/">2010: It’s my Jack Bauer, 42 backwards birthday</a></li>
<li><a href="//rubenerd.com/p3939/">2009: My 23rd birthday photos from Hahndorf</a></li>
<li><a href="//rubenerd.com/p1099/">2008: I’m 22, but I won’t wear one!</a></li>
<li><a href="//rubenerd.com/rubens-21st-eve-musings/">2007: Ruben’s 21st eve musings!</a></li>
<li><a href="//rubenerd.com/im-20-and-useless-ebay-purchase/">2006: I’m 20! And Useless eBay Purchase!</a></li>
</ul>
 
