---
title: 'CentOS favicons in Nautilus?' 
date: "2012-10-01T01:48:52+10:00"
year: "2012"
category: Software
tag:
- centos
- favicons
- fedora
- gnome
- icons
- infocomm
- nautilus 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/centos.favicon.png" alt="CentOS icon." style="width:500px; height:120px;" class="transparent" /></p>
<p>Speaking of <a href="//rubenerd.com/linus-torvalds-vaio/">short blog posts</a> today, setting up a VPS this evening I noticed a <a href="http://centos.org/">CentOS</a> favicon appearing in Nautilus on my local machine. A Fedora tip of the hat to a somewhat related distribution?</p>
<p>I might look into this. Icons are pretty. I like icons. Having them appear to represent an SFTP session is wild!</p>
 
