---
title: 'Disable some of Google’s tracking' 
date: "2012-11-15T03:50:37+10:00"
year: "2012"
category: Internet
tag:
- cookies
- doubleclick
- extensions
- firefox
- google
- infocomm
- privacy
- seamonkey
- tracking
- web-history 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/screenie.google.tracking.png" alt="Screenshot showing a Google search result for DoubleClick opt-out" style="height:260px; width:500px" /></p>
<p>If you still use Google services regularly, it&#39;s worth noting they allow you do disable some of the tracking they perform. Browser plugins can help to block the rest.</p>
<h3>Disable Web History</h3>
<p>Most people I talk to don&#39;t realise Google records all the sites they visit through their searches. They bill it as a way to &quot;tailor search results&quot;. The DuckDuckGo people call it <a href="http://dontbubble.us/">&quot;search bubbling&quot;</a>. I deem it &quot;unnecessary&quot;. Fortunately, Google lets you turn it off:</p>
<ol>
<li>Log in, the go to <a href="https://history.google.com/">history.google.com</a></li>
<li>Click the gear button on the right hand side</li>
<li>Choose &#8220;Settings&#8221;</li>
<li>Click &#8220;Pause&#8221;</li>
</ol>
<p>To confirm, go back to <a href="https://history.google.com/">history.google.com</a> and notice the bright blue &quot;Turn History On&quot; button. Isn&#39;t it interesting that Google lets you turn web tracking on with one click, but it takes three clicks and loading a menu behind an untitled button to turn it off? ;)</p>
<p>It should be noted here that web history is merely being &quot;paused&quot;. Whether Google can turn it back on, or can be compelled to, would be reason enough to logout when you want to use their search.</p>
<p><img src="https://rubenerd.com/files/uploads/anime.hyouka.detective.02.jpg" alt="Adorable Hyouka detective image by こよる on Pixiv" style="width:500px; height:320px;" /></p>
<p><cite>Adorable Hyouka detective image by <a href="http://www.pixiv.net/member_illust.php?mode=medium&amp;illust_id=28947404">こよる on Pixiv</a></cite></p>
<h3>Set DoubleClick tracking opt-out cookies</h3>
<p>Google&#39;s advertising arms and subsidiaries track you across sites by default, but you can disable it with a cookie by visiting:</p>
<p><a href="https://www.google.com/ads/preferences/html/opt-out.html">https://www.google.com/ads/preferences/html/opt-out.html</a></p>
<p>Google now even offer a plugin for Firefox, Chrome and Internet Explorer to store your desire not to be tracked. I haven&#39;t tested this, so I can&#39;t vouch for it.</p>
<p><a href="https://www.google.com/ads/preferences/plugin/">https://www.google.com/ads/preferences/plugin/</a></p>
<p>In both cases, these opt-outs are stored in your browser, not your account. Therefore, to prevent this kind of tracking you need to have the opt-out cookie and/or plugin installed on every browser and on each computer/smartphone. Cumbersome, I know, but it&#39;s currently the only option Google allows us.</p>
<h3>Browser extensions</h3>
<p>To further prevent tracking, there are several different plugins you can use.</p>
<p>For Mozilla browsers, <a href="https://code.google.com/p/gprivacy/">Gprivacy</a> forces sites to respect the do-not-track header by sanitising links in search results. Any links that it modifies in your browser are shown with a green shield, and the original link with a red shield is included alongside it.</p>
<p>If you&#39;re not interested in maintaining a cookie whitelist with <a href="https://addons.mozilla.org/en-us/firefox/addon/cslite-mod/?src=search">CS Lite Mod</a> or <a href="https://addons.mozilla.org/en-us/firefox/addon/cookie-monster/">Cookie Monster</a>, the <a href="https://addons.mozilla.org/en-us/firefox/addon/beef-taco-targeted-advertising/">Beef Taco</a> extension maintains opt-outs for hundreds of advertising networks, including Google. I&#39;ve <a href="//rubenerd.com/beef-taco-firefox-debate/">blogged about this</a> before.</p>
<h3>Done</h3>
<p>As I&#39;ve said with all cloud computing services, the key isn&#39;t to abstain from them, but to use them wisely. As Professor Frink would say, <strong>MMMMMMMM-HIVEN MAVEN!</strong></p>
 
