---
title: 'Facebook saved Twitter $1 billion?' 
date: "2012-04-16T03:37:59+10:00"
year: "2012"
category: Internet
tag:
- facebook
- infocomm
- instagram
- p12
- posterous
- twitter 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/icon.tango.finance.png" alt="Icon from the Tango Desktop project" style="height:128px; width:128px; display:inline; border:0px; float:right; margin:0 0 10px 20px;" class="transparent" /></p>
<p>Emil Protalinski <a href="https://www.zdnet.com/blog/facebook/facebook-beat-twitter-to-instagram-rumor/11779">writing</a> for ZDNet:</p>
<blockquote><p>Summary: Not only did Facebook beat Google to the purchase of Instagram, but it also beat out Twitter, according to a recent rumor. </p></blockquote>
<p>If that&#39;s true, Facebook did Twitter a favour!</p>
<p>By the way, whatever happened to Twitter&#39;s acquisition of Posterous? I never really used it, but was thinking of setting one up as a replacement for TwitPic.</p>
<p>Wow, someone who time travelled from even a few years ago wouldn&#39;t have any idea what any of these services are.</p>
 
