---
title: 'Goodbye blog comments!' 
date: "2012-06-04T03:36:55+10:00"
year: "2012"
category: Internet
tag:
- comments
- infocomm
- p12
- simple-spam-filter
- spam
- weblog 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/350px-montyspam.jpg" alt="Spam, spam, spam, spam, spam…" style="height:208px; width:350px;" /></p>
<p>Given a spam filter of mine recently past the dubious 6 millionth spam comment filtered, I&#39;ve decided to do the unthinkable and disable comments entirely. Here&#39;s my logic!</p>
<h3>It didn’t used to be this way Smithers…</h3>
<p>Back in the bad old days of blogging, we didn&#39;t have comment systems. My first site was run off a simple Perl CGI script I wrote, but even as I moved to RapidWeaver I still didn&#39;t have blog comments. I got around the problem by running a Vanilla Forums install, and linking to my posts. It worked reasonably well.</p>
<p>When I moved to WordPress in 2005, I suddenly had blog comments. I liked that the barrier to entry was lower than a forum; users didn&#39;t need to register for an account to post a comment, so the upshot was more people left comments. Some posts I&#39;ve written, such as font smoothing on Snow Leopard and the Canadian Hinton Train disaster have spawned entire discussions with disparate people around the world.</p>
<p>Like so many technologies though, it didn&#39;t take the douchebags long to realise they could wreck it for the rest of us. I can&#39;t tell exactly when it started getting out of control, but in the last few years the amount of blog spam has exploded here. My combination of <a href="https://wordpress.org/extend/plugins/tantan-spam/">TanTanNoodle&#39;s Simple Spam Filter</a> and <a href="https://akismet.com/">Automattic&#39;s Akismet</a> do as best a job as they can to stop the onslaught, but at this stage I feel as though I&#39;m trying to stop a waterfall by holding out a sheet of newspaper.</p>
<h3>Some statistics</h3>
<ul>
<li>Since 2008, <span style="color:#900068">TanTanNoodle’s SimpleSpamFilter</span> reports that it’s blocked 6,131,412 comments. That’s right, more than 6 million spam comments. As I <a href="https://twitter.com/Rubenerd/status/209474140300779521">said on Twitter</a>, this is absurd!<p></p></li>
<li>Since 2005, <span style="color:#0081CC">Akismet</span> reports that it has blocked 196,192 comments, missed 1,844, and had 22 false positives. The latter I suspect is optimistic, I’m sure plenty more legitimate ones have been lost.
<p></p></li>
<li>WordPress reports 3,336 <span style="color:#AD8F16">legitimate blog comments</span>.</li>
</ul>
<p><img src="https://rubenerd.com/files/uploads/diagram.spam.2012-06-04.png" alt="Pie chart showing the overwhelming amount of comments being spam." style="width:291px; height:371px" class="transparent" /></p>
<h3>That graphs shows why I’m not studying stats</h3>
<p>So now I come to the inevitable question… is having comments on my blog worth it?</p>
<p>For the first time, I&#39;m thinking not. With uni and family work consuming more of my time thesedays, I simply couldn&#39;t be bothered trawling through what&#39;s been caught in the hopes of finding a couple of legitimate comments. I&#39;m tired of having my email inbox flooded with notifications of generic, bogus comments linking to dodgy websites.</p>
<p>Hosting sites with public facing interfaces are also harder to keep secure too, while I&#39;m at it.</p>
<p>So what&#39;s the alternative? The more I think about it, the more I realise the alternative already exists, and people are using it. I get more comments from people on Twitter and the like than I ever got on my site here.</p>
<p>I&#39;m also reminded of how blogging used to work, with trackbacks and the like. Before comment systems, if you wanted to comment on someone&#39;s post, you&#39;d write a response post on your own blog and link back. Such was the promise of the early &quot;blogosphere&quot;, a loose knit federation of writers with their own spaces. A <a href="http://www.catb.org/~esr/">bazaar rather than a cathedral</a>, if you like.</p>
<p><img src="https://rubenerd.com/files/uploads/screenie.commentspam.png" alt="Screenshot from my WordPress portal showing a couple of spam comments." style="width:500px; height:249px" /></p>
<h3>So here we go!</h3>
<p>I&#39;m going to trial disabling the comment system on Rubenerd.com, and replacing the comment form with static, HTML links for those who want to post to Delicious, Twitter and so on, along with the permalink (URL) for this page for those who want to respond on their own blogs. Like it used to be :).</p>
<p>If it works for John Gruber and the like, I&#39;m hoping it&#39;ll work for me. It&#39;ll reduce my workload, the load on my server, and the number of plugins I need to keep updated. We&#39;ll see.</p>
 
