---
title: 'Google has merged their TOS… so?' 
date: "2012-02-03T02:56:04+10:00"
year: "2012"
category: Internet
tag:
- dnt
- google
- infocomm
- p12
- privacy 
location: sydney
---
<p><a class="transparent" href="https://www.flickr.com/photos/rubenerd/2917622761/" title="The Ghan train line from Adelaide to Darwin by rubenerd, on Flickr"><img src="https://farm4.staticflickr.com/3229/2917622761_75eae26ecc.jpg" width="500" height="375" alt="The Ghan train line from Adelaide to Darwin" /></a></p>
<p>I&#39;ve touched on the whole New Google thing a few times, but only in reference to other people&#39;s comments. Here are some of my own. Get it? TRACKING!? :D</p>
<h3>Inevitability</h3>
<p>In the same way Microsoft and Lotus standardised the disparate applications that made up their office suites, on the surface Google is attempting to simplify things for their users and engineers by making things look and work similar. Leaving aside questions of effectiveness, one need only look at the user interface changes in Gmail, Google Reader, Analytics and Google+ to see this new line of thinking in action.</p>
<p>In that vein, a unified Terms of Service for all their products makes nothing but sense. Instead of a different one for each service, their users can now ignore and click accept under just one.</p>
<p>Still, while everyone seems worried with the tracking (more on that below), I&#39;m more concerned that a unified Terms of Service will lead to the same lowest common denominator problem that is plaguing their new <abbr title="user interfaces">UIs</abbr>. Some services naturally need more and different information than others, but a blanket <abbr title="terms of service">TOS</abbr> would (logically, perhaps?) need to include all of these. The result is services that don&#39;t need certain personal information to operate now have legal access (well, as legal as a TOS can be, as I sort of wrote about <a title="Wednesday 02nd August 2006: We've Been Bamboozled by Software Licences" href="//rubenerd.com/weve-been-bamboozled-by-software-licences/">way back in 2006</a>). </p>
<p>It didn&#39;t entirely wash with me, and it seems even US lawmakers are having a <a href="http://thehill.com/blogs/hillicon-valley/technology/208385-google-not-forthcoming-during-congressional-questioning">hard time believing it</a> too.</p>
<p><img src="https://rubenerd.com/files/uploads/logo.google.peace.png" alt="" style="height:162px; width:289px" class="transparent" /></p>
<h3>Tracking</h3>
<p>The tech world is all a dither about the potential tracking problems this new TOS introduces. For one thing, all their services will now be sharing data with each other, and worse still you won&#39;t be able to opt-out of this sharing. The end of the world… right?</p>
<p>Firstly, anyone who banked on having their YouTube history insulated from their Google profiles, Gmail history and so on need a cold glass of reality. I&#39;ve been told they&#39;ve always been doing this, so presumably they&#39;ve merely become public about it recently. In either case, wake up guys!</p>
<p>Secondly, not being able to opt-out is also not unusual behavior from Google. While other advertising companies were issuing statements saying they&#39;d respect the Do Not Track headers that Mozilla, Apple and even Microsoft had implemented into their browsers, Google was tellingly silent. Under increasing public pressure, they eventually released an <em>optional</em> extension for Chrome. If you want some fun, try opting out of DoubleClick&#39;s tracking as well. On every browser on every device you own. Individually.</p>
<p>I&#39;m not entirely defending Google here, I&#39;m just pointing out they&#39;re doing what they&#39;ve always done. They&#39;re an internet advertising company.</p>
<h3>Conclusions</h3>
<p>As I&#39;ve repeatedly said here, it&#39;s impossible to have complete privacy online, and cloud computing will only continue to grow. The key isn&#39;t to stop using the Internet, it&#39;s to use it intelligently. There&#39;s still a place for Google (indeed, any cloud company), provided you take the right precautions and weigh up the utility you derive from them with what you&#39;re giving up.</p>
 
