---
title: 'Gundam Gangnam Style' 
date: "2012-08-04T04:35:41+10:00"
year: "2012"
category: Media
tag:
- gangnam-style
- gundam
- korean
- music
- psy
- video
- youtube
location: sydney
---
<p><a href="http://www.youtube.com/watch?v=9bZkp7q19f0" title="Play PSY - GANGNAM STYLE(강남스타일) M/V"><img src="https://rubenerd.com/files/2012/yt-9bZkp7q19f0@1x.jpg" srcset="https://rubenerd.com/files/2012/yt-9bZkp7q19f0@1x.jpg 1x, https://rubenerd.com/files/2012/yt-9bZkp7q19f0@2x.jpg 2x" alt="Play PSY - GANGNAM STYLE(강남스타일) M/V" style="width:500px;height:281px;" /></a></p>
<p>Via my very <del>evil</del> awesome friend <a href="http://jamiejakov.com/2012/08/03/gangnam-style/">JamieJakov</a>. One of my new favourite things in the world, and a contender for the world&#39;s second greatest song behind The Bird is The Word.</p>
<p>I&#39;m also getting fashion ideas.</p>
 
