---
title: 'But it’s just a theory!' 
date: "2012-07-09T01:26:50+10:00"
year: "2012"
category: Thoughts 
tag: 
- atheism
- p12
- science 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/dawkins.theory.jpg" alt="Evolution is just a theory? Well, so is gravity, and I don't see you jumping out of buildings." style="width:500px; height:282px;" /></p>
<p>Jokes aside, it&#39;s easy to see how people get &quot;theories&quot; and &quot;scientific theories&quot; confused. Conjecture satisfies the former, the latter follows strict rules. So humble and precise are scientists that even the most accepted theory isn&#39;t referred to as fact. Of all the reasons why I&#39;m an <a href="//rubenerd.com/tag/atheism/">atheist</a>, that&#39;s high on my list.</p>
 
