---
title: 'Linus Torvalds and I had the same computer' 
date: "2012-09-30T09:15:18+10:00"
year: "2012"
category: Hardware 
tag:
- infocomm
- linus-torvalds
- sony
- sony-vaio-pcg-c1vm
- vaio 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/photo.vaio.Linus-Torvalds.jpg" style="width:500px; height:375px;" alt="Photo of Linus holding the same laptop I had!" /></p>
<p>In fact, I could do him one better! I had the <a href="http://www.sony.com.sg/support/product/PCG-C1VM">Sony VAIO PCG-C1VM</a>, which had the <a href="https://en.wikipedia.org/wiki/Transmeta_Crusoe">Crusoe</a> chip his employer Transmetta made at the time.</p>
<p>Half a decade later, and we both had the same dual 2GHz <a href="http://www.zdnet.com/torvalds-switches-to-apple-1139183867/">PowerMac G5s</a>.</p>
 
