---
title: 'Microsoft India stores plaintext passwords' 
date: "2012-02-08T02:45:00+10:00"
year: "2012"
category: Internet
tag:
- india
- microsoft
- passwords
- security 
location: sydney
---
<p>From the <a href="http://articles.timesofindia.indiatimes.com/2012-02-13/security/31054691_1_passwords-security-breach-hackers">Times of India Enterprise IT</a> section, emphasis added:</p>
<blockquote><p>NEW DELHI: Hackers, allegedly belonging to a Chinese group called Evil Shadow Team, struck at www.microsoftstore.co.in on Sunday night, stealing login ids and passwords of people who had used the website for shopping Microsoft products.</p>
<p>While it is troublesome that hackers were able to breach security at a website owned by one of the biggest IT companies in the world, it is more alarming that user details &#8211; login ids and <strong>passwords &#8211; were reportedly stored in plain text</strong> file, without any encryption.</p>
</blockquote>
<p>Absolutely <strong>inexcusable</strong> security in 2012. My only hope is this was a dodgy contractor doing shoddy work, and doesn’t represent standard Microsoft Store policy.</p>
 
