---
title: 'Minor site tweaks of doom' 
date: "2012-12-20T11:46:24+10:00"
year: "2012"
category: Internet
tag:
- css
- design
- infocomm
- weblog 
location: sydney
---
<p><img style="float:right; margin: 0 0 10px 10px;" src="https://rubenerd.com/files/uploads/document_navigator.png" alt="Netscape Navigator!" class="transparent" /></p>
<p>Taking a quick break from writing a development proposal, I made some minor tweaks on the site today. On the site? To the site?</p>
<ul>
<li>The layout is now centred, not to the left. I preferred it the old way, but the number of tweets and emails from well meaning people asking me if my CSS was broken got to be too much. Actually, I did this a few days ago.<p></p></li>
<li>Lines from the header have been removed.<p></p></li>
<li>After two years of CSS3 rounded corners, I’ve got rid of those too. They looked okay, but they were inconsistent with the rest of the design. Or at least, I thought so.</li>
</ul>
<p>I&#39;ve also done some other CSS tweaks in preparation for the unveiling of something much bigger soon. Or should I say, someone much bigger. And no, it&#39;s not Netscape Navigator Gold 2.02 support.</p>
 
