---
title: 'More Gmailers than Hotmailers?' 
date: "2012-07-01T09:20:14+10:00"
year: "2012"
category: Internet
tag:
- email
- gmail
- google
- hotmail
- infocomm
- microsoft
- p12
- trends 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/logo.cia.png" alt="Not that CIA CIA logo" style="float:right; margin:0px 0px 10px 20px; width:108px; height:117px;" /></p>
<p>Sean Ludwig writing for <a href="http://venturebeat.com/2012/06/28/gmail-hotmail-yahoo-email-users/">VentureBeat</a>:</p>
<blockquote><p>Google announced today that its Gmail service has 425 million monthly active users. That means it has blown past Hotmail for the first time, becoming the largest email service in the world.</p></blockquote>
<p>While this trend was inevitable, I think a far more interesting comparison would be the number of people using alternatives to email. Aside from a few fringe cases, people still have and use email, but are supplementing them with social networks and the like.</p>
<p>I long since ditched both Hotmail and Gmail, but ironically enough I still know far more people at <a href="http://uts.edu.au/">UTS</a> with Hotmail/MSN accounts than anything else!</p>
 
