---
title: '[Outage] 2012.01.05' 
date: "2012-01-06T12:27:47+10:00"
year: "2012"
category: Internet
tag:
- infocomm
- net-logistics
- outage
- p12
- web-hosting
- web-hosts 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/downtime.2012.01.05.21.36.png" alt="Down For Everyone Or Just Me reporting Rubenerd.com is down" style="height:210px; width:500px;" /></p>
<p>Rubenerd was offline intermittently for several hours again today. I&#39;m contacting my web host asking what&#39;s going on, for now it seems everything is back to normal. Touch wood!</p>
 
