---
title: 'Post A Day 2011 reflections' 
date: "2012-01-04T01:51:17+10:00"
year: "2012"
category: Internet
tag:
- infocomm
- p12
- postaday2011
- questions
- weblog 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/madoka.reflection.jpg" style="height:280px; width:500px;" alt="" /></p>
<p>My second post for 2012, and it&#39;s on the 3rd of January! I had fun doing the Post A Day 2011 challenge, but as <a href="//rubenerd.com/nye-family-syd-2011/#comment-27477">Georgina observed</a> in the comments for a previous post, I&#39;m not doing it this year ;).</p>
<p><cite>Cute, pretty Madoka Magica reflections picture by <a href="http://www.pixiv.net/member.php?id=23723">ゴロー</a> on Pixiv</cite>.</p>
<h3>Reflections, get it?!</h3>
<p>Erica Johnson on the <a href="http://dailypost.wordpress.com/2011/12/28/looking-back-at-2011/">Post a Day 2011</a> website:</p>
<blockquote><p>Remember when you first decided to take on the Post a Day/Week Challenge?</p>
<p>Well, you made it to the end — congratulations! Now is the perfect time to reflect on your 2011 in blogging, and your goals for 2012.</p>
<p>Here are eleven questions to help you determine your blogging strategy for the new year:</p>
</blockquote>
<p><img src="http://dailypost.files.wordpress.com/2011/01/postaday-badge-wide.png?w=500" alt="I'm part of Post A Day 2011" style="height:62px; width:274px; background-color:#ffffff;" class="transparent" /></p>
<h3>Questions about blogging on a blog #blogception</h3>
<dl>
<dt style="font-style:italic;">Why did you start the Post a Day Challenge?</dt>
<dd>Aside from drinking water, I’d never done a 365 challenge before. Given I’d already been blogging regularly for years I figured it was worth a try.<p></p></dd>
<dt style="font-style:italic;">Describe the state of your blog at the time you started the challenge.</dt>
<dd>New South Wales. Bad joke. Largely the same as it is now, though with 570 odd posts less.<p></p></dd>
<dt style="font-style:italic;">How did your blog evolve over the course of the challenge?</dt>
<dd>Given it’s ever expanding girth, my blog mutated and grew and extra set of limbs.<p></p></dd>
<dt style="font-style:italic;">Did you post as often as you had hoped? Why or why not?</dt>
<dd>I posted at least once a day! Occasionally this entailed jumping out of bed late at night and hurriedly punching up an entry, that’s one aspect of the challenge I perhaps won’t miss as much!<p></p></dd>
<dt style="font-style:italic;">What type of blogging strategy works best for you?</dt>
<dd>For some reason I work best in caw-fee shops, at later in the evening at home, that much hasn’t really changed. In the past I’d publish when I was done, but for the challenge I got used to scheduling posts &#8212; which I’d like to think reduced the sudden onslaught of posts I used to inundate your blog aggregators with!<p></p></dd>
<dt style="font-style:italic;">If you could go back to the beginning, what would you do differently?</dt>
<dd>More consistency, moe and pointless diagrams.<p></p></dd>
<dt style="font-style:italic;">What are you most proud of accomplishing [in 2011]?</dt>
<dd>I… wrote at least one blog post a day for a whole year! :D<p></p></dd>
<dt style="font-style:italic;">Name 3 great blogs you discovered through the challenge.</dt>
<dd>An unintended consequence of blogging more is I found myself reading more for inspiration for my daily entries! As a result, in 2011 I subscribed to <a href="http://alonelyseptember.org/">A Lonely September</a>, <a href="http://heartdrops.org/">Heartdrops.org</a> and <a href="http://oshibanashiori.wordpress.com/">Oshibanashiori</a>.<p></p></dd>
<dt style="font-style:italic;">What surprised you about the challenge?</dt>
<dd>That I was able to keep it up! That’s what she said. Wait, I don’t get it. That’s what she said too. Shaddup.<p></p></dd>
<dt style="font-style:italic;">What advice would you give to others who want to blog regularly?</dt>
<dd>I’m probably the last person on earth you’d want to take blogging advice from! Still, just write about what you love, care about or what makes you interesting; EVERYBODY has these whether you deny it or not. Don’t get hung up about whether what you’re writing is useful, interesting etc, just DO IT. Remember the cliche, whether you think you can succeed or fail, you’re right.<p></p></dd>
<dt style="font-style:italic;">What are your blogging goals for 2012?</dt>
<dd>My biggest aim is to try only blogging about topics and ideas that make me happy. Blogging about things that angry or frustrated only render me… angry and frustrated. Maybe one-off quotes, but no lengthy articles any more.</dd>
</dl>
<h3>Conclusions</h3>
<p>Over all, PostADay2011 was a thoroughly rewarding and fun experience, and as I said I couldn&#39;t believe I actually pulled through and did it! It was tempting to continue it for 2012, and certainly Post A Day 2011 gave me so much inspiration and raw momentum I probably could! </p>
<p>That said, there&#39;s something rather gratifying about posting things when I want, rather than adhering to a schedule. Posting pre-written items to fulfil the Post A Day when I had a headache or too much work also seemed a little like cheating, though that may have just been me ;).</p>
<p>Thank you to all of you for your support, kind words and patronage!</p>
 
