---
title: 'Tweaking the SeaMonkey UI' 
date: "2012-01-07T11:34:31+10:00"
year: "2012"
category: Software
tag:
- guide
- infocomm
- mozilla
- p12
- seamonkey
- userchrome-css 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/icon.seamonkey.png" alt="SeaMonkey icon." style="height:128px; width:128px;" class="transparent" /></p>
<p>I&#39;ve had a surprising number of emails and tweets from people asking about my move to SeaMonkey, so I&#39;ve decided to write a few posts about how I tweaked it to work for me. This is the first, on messing around with the interface :).</p>
<h3>Simplifying the interface</h3>
<p>Despite its modern core based on Firefox, SeaMonkey&#39;s user interface is still derived largely from Netscape Communicator. It can be easily tweaked to resemble contemporary browsers such as Firefox and Chrome though if you prefer.</p>
<ol>
<li>Right click the Navigation toolbar and choose <em>Customise…</em></li>
<li>Click <em>Use Small Icons</em></li>
<li>Choose <em>Icons</em> from the <em>Show</em> listbox.</li>
<li>Drag the <em>Search button</em> off the toolbar</li>
<li>Drag on the <em>Search box</em></li>
<li>Boom!</li>
</ol>
<p>If you&#39;re a Chrome user, you can skip step 5 and use SeaMonkey&#39;s shortcuts for search! You can either type &quot;g [terms]&quot; into the navigation box for a Google search, or enter any terms and choose the &quot;Search Google for [terms]&quot; that appears.</p>
<p><img src="https://rubenerd.com/files/uploads/screenie.seamonkey.simple.png" alt="" style="height:145px; width:500px;" /></p>
<h3>Modern theme</h3>
<p>Aside from having retro appeal that you&#39;d be a fool to not take advantage of, I think <em>SeaMonkey Modern</em> it still has real class, particularly in the mail application.</p>
<ol>
<li>Go to the <em>View</em> menu</li>
<li>Choose <em>SeaMonkey Modern</em> under <em>Apply Theme</em></li>
<li>Restart, boom!</li>
</ol>
<p><img src="https://rubenerd.com/files/uploads/screenie.seamonkey.mail.modern.png" alt="" style="height:145px; width:500px;" /></p>
<h3>Using userChrome.css</h3>
<p>Many of the userChrome.css tricks I <a title="Thursday 29th July 2010: Make Firefox look spiffier with userChrome.css" href="//rubenerd.com/firefox-userchromecss/">blogged about for Firefox</a> back in 2010 work with SeaMonkey too. If you haven&#39;t made a userChrome.css file yet and really want to customise SeaMonkey to an extreme:</p>
<ol>
<li>Open your SeaMonkey profile folder</li>
<li>Create a folder called <em>chrome</em> (ironically enough!)</li>
<li>Create a file within <em>chrome</em> called <em>userChrome.css</em></li>
</ol>
<p>Below is my file. I err on the side of minimalism, so you may want to adjust to your own tastes!</p>
<pre>
/* RENDER PRIMARY FONT MORE COMPACT */
* {
    font-size: 10px !important;
}
 
/* MONOSPACE FONT FOR LOCATION BOX */
#urlbar {
    font-family: monospace !important;
}
 
/* MERGE STOP AND RELOAD BUTTONS
   STOP MUST BE PLACED BEFORE RELOAD TO WORK */
#stop-button[disabled="true"],
#stop-button:not([disabled]) + #reload-button {
    display:none !important;
}
 
/* HIDE SUPERFLUOUS ELEMENTS */
.autocomplete-history-dropmarker,
.search-go-button,
#star-button,
.tabs-closebutton,
.tabs-newbutton,
.toolbarbutton-menubutton-dropmarker,
tooltip {
    display:none !important;
}
</pre>
<h3>All done!</h3>
<p>Part two I&#39;ll be tacking importing and extensions, stay tuned! ^_^</p>
 
