---
title: 'An unexpected express train!' 
date: "2012-06-22T06:09:38+10:00"
year: "2012"
category: Travel
tag: 
- australia
- p12
- personal
- sydney
- trains 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/photo.mine.missairport.jpg" alt="Photo showing indicator screen for Airport Line trains." style="height:290px; width:500px;" /></p>
<p>Normally my train heads through the Airport Line tunnel to Green Square, Mascot, Domestic and International. Today, it bypassed the tunnel completely, passing Redfern and Syndenham without stopping before heading to Turrella and my stop at Bardwell Park. What&#39;s usually a 20-25 minute train ride was over in less than 15!</p>
<p>I have no idea why it did this (and why TwitPic <a href="http://twitpic.com/9z4izd">refused to upload</a> the image above!) but I wasn&#39;t complaining!</p>
 
