---
title: 'A veritable pain in the neck' 
date: "2012-11-27T10:25:21+10:00"
year: "2012"
category: Anime
tag:
- ergonomics
- hatsune-miku
- health
- infocomm
- max-factory
- personal
- pointless-anime-references
- vocaloid
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/anime.maxfactory.hatsunemiku.jpg" alt="Max Factory Hatsune Miku figure" style="width:500px; height:313px;" /></p>
<p>My first reaction when I saw this Hatsune Miku figure in 2011 was &quot;jeepers, you&#39;d get a twisted back doing that!&quot; Today, I feel like an idol who&#39;s spun too far, though there&#39;s nothing virtual about <strong><em>MY</em></strong> neck!</p>
<h3>&#8220;A curved spine is The Devil’s roller coaster!&#8221;</h3>
<p>As a young, healthy, immortal person who&#39;s only health issue is recurrent family headaches every few weeks, when I do get sick or have pains hit me from out of nowhere, I take the opportunity to complain about it whenever and however I can.</p>
<p>Since this morning, the back of my neck towards my spine has been in such horrid pain it&#39;s indescribable. I&#39;ve had neck pain before, often when I&#39;ve slept in an awkward position or that time I fixed a computer tower under a desk rather than bothering to lift it up and work on it where there was plenty of light and space.</p>
<p>This pain is different through. It&#39;s as though someone has a drill and is boring a hole into the top of my spine. As long as I sit perfectly still with perfect posture (the latter is probably a good thing to do anyway) the pain is dulled, but the instant I turn my head or eat or sneeze, I&#39;m suddenly a drunk sailor.</p>
<p>My mum&#39;s cancer treatment often left her immobile for many days, and as a result I&#39;d help her perform exercises to release tension in her joints and muscles. A common one we did for her neck was to have her stand in the corner of the room with her arms on each wall, and leaning as far forward as she could before the pain set in. Years later, I found myself doing the same thing this morning. I could feel (and, gulp, hear) things happening with my body, and afterwards the pain was slightly more tolerable.</p>
<h3>Not the French bread kind</h3>
<p>I&#39;ll be heading to the GP first thing in the morning to see what I should do. I&#39;ve never done this before, will I get a referral for a physiotherapist? And while I&#39;m on the subject, what&#39;s a physiotherapist?</p>
<p>If anything, this is a wake up call. I&#39;m not a teenager any more, and can&#39;t afford to take things like my posture and ergonomics for granted. I liked to think I do the right things for my back and neck, but there are probably many more things I could be doing.</p>
<p>Thank you for letting me whinge ^_^;</p>
 
