---
title: 'What does Ruben look like?' 
date: "2012-03-29T12:19:18+10:00"
year: "2012"
category: Thoughts 
tag: 
- durarara
- p12
- personal
- pointless 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/anime.durararararara.jpg" alt="Character from everyone's favourite Durararararara anime with the aforementioned facial features." style="float:right; margin:0px 0px 10px 20px;" /></p>
<p>I get one lift home, and I leave an impression! Sort of. From my friend Emily on <a href="https://mobile.twitter.com/emi_wong/statuses/184952410295377922">The Twitters</a>:</p>
<blockquote><p>My dad was like, &#8220;I just realised, I don’t know what this Ruben guy looks like &#8211; just that he’s blonde, tall and kind of skinny.&#8221;</p></blockquote>
<p>To the right is an artist&#39;s conception based on that description.</p>
 
