---
title: "Trains Ruben Taketh: S81"
date: "2011-04-21T07:48:44+00:00"
source: https://trainsrubentaketh.tumblr.com/post/4801185795
year: "2011"
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_ljzshaatIq.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_ljzshaatIq.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_ljzshaatIq@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>S81 from Bardwell Park to City Circle</p>

<p>Cleanliness: Some rubbish</p>
