---
title: "Trying out Tumblr"
date: "2007-11-27T17:17:00+00:00"
source: "https://rubenerd.tumblr.com/post/20320840"
year: "2007"
category: Annexe
tag:
- from-tumblr
---
<p style="font-style:italic">This post originally appeared on the <a title="Rubenerd Annexe post" href="https://rubenerd.tumblr.com/post/20320840">Annexe</a>.</p>

<p><a href="https://rubenerd.com/">I already have a weblog</a> where I constantly post random stuff without much cohesion, but I figure where&rsquo;s the harm trying this cool new site out?</p>

<p>Discovered Tumblr site through my good friend Feeeeeeelix Tanjono who&rsquo;s page is already much cooler than mine! <a href="http://ftanjono.tumblr.com">http://ftanjono.tumblr.com</a></p>

<p>For now I&rsquo;ve got my Flickr, del.icio.us, weblog, podcast and Ourmedia feeds plugged in, so will be interesting to see this fill up with stuff.</p>

<p>Cheers :)<br/>
Ruben</p>

