---
title: "Trains Ruben Taketh: T24, yet again!"
date: "2011-02-04T05:26:22+00:00"
source: https://trainsrubentaketh.tumblr.com/post/3100515085
year: "2011"
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_lg2v7gtAKe.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_lg2v7gtAKe.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_lg2v7gtAKe@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>T24 from Town Hall to Bardwell Park</p>
