---
title: "Trains Ruben Taketh: S78"
date: "2011-05-21T04:51:00+00:00"
source: https://trainsrubentaketh.tumblr.com/post/5688712290
year: "2011"
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_llj45yTZxC.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_llj45yTZxC.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_llj45yTZxC@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>S78 from Bardwell Park to Central</p>

<p>Cleanliness: Fair</p>
