---
title: "Trains Ruben Taketh: M33"
date: "2011-04-28T03:25:59+00:00"
source: https://trainsrubentaketh.tumblr.com/post/5003492397
year: "2011"
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_lkcez0vWRw.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_lkcez0vWRw.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_lkcez0vWRw@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>M33 from Bardwell Park to Central</p>
