---
title: "Trains Ruben Taketh: T103"
date: "2010-12-10T01:26:49+00:00"
source: https://trainsrubentaketh.tumblr.com/post/2160151759
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_ld6uoxGpbc.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_ld6uoxGpbc.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_ld6uoxGpbc@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>T103 from Bardwell Park to Town Hall</p>
