---
title: "Jaiku: 2007-04"
date: "2007-04-16T05:43:00+08:00"
year: "2007"
category: Annexe
tag:
- from-jaiku
---
<p style="font-style:italic">These posts were imported to the Annexe from Jaiku, which Google bought and shut down.</p>
<dl>

<dt class="jaiku-icon-new-user">Joined Jaiku</dt>
<dd><time datetime="2007-04-11T01:29:00+08:00">2007-04-11 01:29:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/742267">Jaiku</a><p></p></dd>

<dt>Trying to see what this has my Twitter account can't have (http://twitter.com/rubenerd).</dt>
<dd><time datetime="2007-04-11T01:34:00+08:00">2007-04-11 01:34:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/742431">Jaiku</a><p></p></dd>

<dt>Is there a &quot;Twitterrific&quot;-like program for Jaiku so I can post comments from a window on my MacBook Pro?</dt>
<dd><time datetime="2007-04-11T01:38:00+08:00">2007-04-11 01:38:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/742629">Jaiku</a><p></p></dd>

<dt>Chaning my mind, having all my RSS feeds on one screen is very noice! Added my Twitter feed, thinking of moving over completely already.</dt>
<dd><time datetime="2007-04-11T02:00:00+08:00">2007-04-11 02:00:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/743695">Jaiku</a><p></p></dd>

<dt>Added my del.icio.us, flickr, blog, podcast and... Twitter (!!) RSS feeds. I would use Atom, but I've got Dave as a contact ;).</dt>
<dd><time datetime="2007-04-11T02:18:00+08:00">2007-04-11 02:18:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/744564">Jaiku</a><p></p></dd>

<dt>Posted a really crappy, preliminary review of Jaiku + Twitter on (<a href="//rubenerd.com/twitter-versus-jaiku-shenanigans/">//rubenerd.comshow.com/blog/twitter-versus-jaiku-shenanigans/</a>)</dt>
<dd><time datetime="2007-04-11T03:27:00+08:00">2007-04-11 03:27:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/747558">Jaiku</a><p></p></dd>

<dt class="jaiku-icon-web-computing">Updated my Jaiku profile page background. FreeBSD updating itself just wasn't colourful enough ;)</dt>
<dd><time datetime="2007-04-16T05:43:00+08:00">2007-04-16 05:43:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/954826">Jaiku</a><p></p></dd>

</dl>
