---
title: "Trains Ruben Taketh: S6"
date: "2010-12-12T01:21:54+00:00"
source: https://trainsrubentaketh.tumblr.com/post/2180208337
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_ldaju5sFjS.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_ldaju5sFjS.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_ldaju5sFjS@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>S6 from Bardwell Park to International Airport</p>
