---
title: "Trains Ruben Taketh: R21, yet again!"
date: "2011-04-01T00:10:48+00:00"
source: https://trainsrubentaketh.tumblr.com/post/4245666356
year: "2011"
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_liy5v9svTZ.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_liy5v9svTZ.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_liy5v9svTZ@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>R21 from Bardwell Park to Central</p>

<p>Cleanliness: Sticky</p>
