---
title: "Trains Ruben Taketh: R25, yet again!"
date: "2011-03-08T03:57:22+00:00"
source: https://trainsrubentaketh.tumblr.com/post/3715826861
year: "2011"
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_lhq0c5JF2E.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_lhq0c5JF2E.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_lhq0c5JF2E@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>R25 from Bardwell Park to Museum</p>

<p>Cleanliness: Poor!</p>
