---
title: "Trains Ruben Taketh: T13, yet again!"
date: "2011-04-20T11:08:54+00:00"
source: https://trainsrubentaketh.tumblr.com/post/4773850961
year: "2011"
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_ljy72jeq5r.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_ljy72jeq5r.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_ljy72jeq5r@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>T13 from Bardwell Park</p>

<p>Cleanliness: Sticky coffee cup spill on the floor!</p>
