---
title: "Trains Ruben Taketh: M22"
date: "2011-02-08T10:44:17+00:00"
source: https://trainsrubentaketh.tumblr.com/post/3179518743
year: "2011"
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_lgaoj7ZmOU.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_lgaoj7ZmOU.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_lgaoj7ZmOU@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>M22 from Museum to Central</p>
