---
title: "Jaiku: 2008-03"
date: "2008-03-31T23:32:00+08:00"
year: "2008"
category: Annexe
tag:
- from-jaiku
---
<p style="font-style:italic">These posts were imported to the Annexe from Jaiku, which Google bought and shut down.</p>
<dl>

<dt>Good night all, time for me to get my 4 hours of sleep. Mmm... Funan centre :) Cheers</dt>
<dd><time datetime="2008-03-15T20:06:00+08:00">2008-03-15 20:06:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29045824">Jaiku</a><p></p></dd>

<dt>Okay I'm really off to bed everyone! 04:31, I have to be up in 3 hours, 29 minutes. Damn you internet and your addictiveness!</dt>
<dd><time datetime="2008-03-15T20:31:00+08:00">2008-03-15 20:31:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29047127">Jaiku</a><p></p></dd>

<dt>Dad's conference call is taking longer than we thought it would. Do Swiss and Japanese people like talking a lot? :)</dt>
<dd><time datetime="2008-03-17T05:30:00+08:00">2008-03-17 05:30:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29159127">Jaiku</a><p></p></dd>

<dt>And I'm compiling Xfce from the ports collection instead of using pkg_add to optimise it. It's a 1.3GHz box, so should be done in a week :D</dt>
<dd><time datetime="2008-03-17T11:11:00+08:00">2008-03-17 11:11:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29179456">Jaiku</a><p></p></dd>

<dt>Nah but given the fact we only hae 140 characters on here, I think smilies are really useful for conveying emotion in a small space :-)</dt>
<dd><time datetime="2008-03-17T11:52:00+08:00">2008-03-17 11:52:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29181811">Jaiku</a><p></p></dd>

<dt>In honour of yesterday, my dad and I are off to Muddy Murphey's Irish Pub for a Guinness :D</dt>
<dd><time datetime="2008-03-17T14:18:00+08:00">2008-03-17 14:18:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29191076">Jaiku</a><p></p></dd>

<dt>St Pats is over, what a shame! Anyway my dad and I are heading back home now, both have to get up early tomorrow!</dt>
<dd><time datetime="2008-03-17T16:28:00+08:00">2008-03-17 16:28:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29200101">Jaiku</a><p></p></dd>

<dt>Got back from muddies. I really don't like drinking too much (am I the only 21 year old who doesnt?) but I'm still bit tipsy. Off to bed!</dt>
<dd><time datetime="2008-03-17T17:09:00+08:00">2008-03-17 17:09:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29202671">Jaiku</a><p></p></dd>

<dt>I keep trying Gnome, but then I keep going back to KDE. It's just so pretty, and so much more cohesive. :-)</dt>
<dd><time datetime="2008-03-18T09:51:00+08:00">2008-03-18 09:51:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29251547">Jaiku</a><p></p></dd>

<dt>My new FreeBSD machine with KDEbase has 4GB of RAM right now. With Konqueror 10+ tabs open, Konsole 8+ tabs, using 12% of the RAM :)</dt>
<dd><time datetime="2008-03-18T11:24:00+08:00">2008-03-18 11:24:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29258748">Jaiku</a><p></p></dd>

<dt>People say KDE is bloated and wastes RAM and disk space. I think people forget about how bloated Windows XP and Vista really are!</dt>
<dd><time datetime="2008-03-18T11:25:00+08:00">2008-03-18 11:25:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29258752">Jaiku</a><p></p></dd>

<dt>Compiling KDE from the FreeBSD ports instead of using pkg_add on a Core 2 Duo E8400 3.0GHz machine... no &quot;noticable&quot; performace difference!</dt>
<dd><time datetime="2008-03-18T11:40:00+08:00">2008-03-18 11:40:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29259800">Jaiku</a><p></p></dd>

<dt>But it always feels better rolling your own software right?</dt>
<dd><time datetime="2008-03-18T11:40:00+08:00">2008-03-18 11:40:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29259802">Jaiku</a><p></p></dd>

<dt>Hey! I've posted over 6000 tweets! 6000! Either I post too much, have no life or don't post anything of value. Or all of the above!</dt>
<dd><time datetime="2008-03-18T11:41:00+08:00">2008-03-18 11:41:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29259811">Jaiku</a><p></p></dd>

<dt>Well if @include is off to get lunch, I'm off to get dinner! Cheers everyone</dt>
<dd><time datetime="2008-03-18T12:41:00+08:00">2008-03-18 12:41:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29263887">Jaiku</a><p></p></dd>

<dt>Just listened to Jimbob do his LIVE Whole Wheat Radio Rant in the morning in Alaska http://wholewheatradio.org</dt>
<dd><time datetime="2008-03-18T20:08:00+08:00">2008-03-18 20:08:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29295377">Jaiku</a><p></p></dd>

<dt>It's funny how late morning in Alasaka is EARLY morning in Singapore... but it's still morning, just the next day!</dt>
<dd><time datetime="2008-03-18T20:09:00+08:00">2008-03-18 20:09:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29295467">Jaiku</a><p></p></dd>

<dt>Holy crap it's 4am, I'd better get to bed already. I can hear my beautiful late mum saying: &quot;Ruben, you're an idiot!&quot;</dt>
<dd><time datetime="2008-03-18T20:09:00+08:00">2008-03-18 20:09:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29295600">Jaiku</a><p></p></dd>

<dt>I'm still up at 04:29 because I had a horrific nightmare about my mum dying again. Was comforting to hear a familiar voice</dt>
<dd><time datetime="2008-03-18T20:29:00+08:00">2008-03-18 20:29:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29297260">Jaiku</a><p></p></dd>

<dt>From Truemors: &quot;Believing in God Makes You Happier!&quot; along with my rebuttal as an &quot;unhappy&quot; atheist ;-) http://tinyurl.com/2mxgzl</dt>
<dd><time datetime="2008-03-19T08:24:00+08:00">2008-03-19 08:24:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29355053">Jaiku</a><p></p></dd>

<dt>If TwitterFeed konks out again here's my new weblog link: //rubenerd.comshow.com/blog/?p=1078. Scary stuff, I'm off for coffee :)</dt>
<dd><time datetime="2008-03-19T08:55:00+08:00">2008-03-19 08:55:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29356953">Jaiku</a><p></p></dd>

<dt>I accidently ordered a &quot;non fat&quot; mocha latte for a change from Americanos, it's really really tasty! Here I was thinking kikojoules = tasty!</dt>
<dd><time datetime="2008-03-19T09:09:00+08:00">2008-03-19 09:09:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29357838">Jaiku</a><p></p></dd>

<dt>*That should read kilojoules, not kikojoules. Kikijoules sounds like a kinky Japanese piece of jewelry.</dt>
<dd><time datetime="2008-03-19T09:10:00+08:00">2008-03-19 09:10:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29357936">Jaiku</a><p></p></dd>

<dt>Hehe, there are now three of us sharing the one table at Starbucks. They really should have powerpoints at every table :D</dt>
<dd><time datetime="2008-03-19T09:13:00+08:00">2008-03-19 09:13:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29358148">Jaiku</a><p></p></dd>

<dt>I'm really loving having 2 batteries though for my BacPook Mro, It's so convenient :)</dt>
<dd><time datetime="2008-03-19T09:19:00+08:00">2008-03-19 09:19:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29358569">Jaiku</a><p></p></dd>

<dt>Haha okay TwitterFeed was able to post that latest entry after all. Last time it posted 2 days late, so just double checking :)</dt>
<dd><time datetime="2008-03-19T09:22:00+08:00">2008-03-19 09:22:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29358808">Jaiku</a><p></p></dd>

<dt>I designated this afternoon to finishing a lot of half written blog posts and recording a Rubenerd Show. Half way through :)</dt>
<dd><time datetime="2008-03-19T09:32:00+08:00">2008-03-19 09:32:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29359495">Jaiku</a><p></p></dd>

<dt>Adobe to put Flash on the iPhone? Yuk! http://tinyurl.com/2vk66e</dt>
<dd><time datetime="2008-03-19T10:16:00+08:00">2008-03-19 10:16:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29362457">Jaiku</a><p></p></dd>

<dt>Esther Golton just arrived at home at Whole Wheat Radio, they're broadcasting live (10PM Alaska, 2PM Singapore) http://wholewheatradio.org</dt>
<dd><time datetime="2008-03-20T06:09:00+08:00">2008-03-20 06:09:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29445639">Jaiku</a><p></p></dd>

<dt>Damn it, the wireless just went down again. Ethernet is so much more reliable :)</dt>
<dd><time datetime="2008-03-20T06:14:00+08:00">2008-03-20 06:14:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29445872">Jaiku</a><p></p></dd>

<dt>14:30 (2:30pm) here in Singapore, off for some lunch</dt>
<dd><time datetime="2008-03-20T06:29:00+08:00">2008-03-20 06:29:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29447159">Jaiku</a><p></p></dd>

<dt>Other than followers, what is the point of the &quot;green team&quot; and &quot;blue team&quot; whatnot? I was expecting some useful grassroots thing!</dt>
<dd><time datetime="2008-03-20T06:54:00+08:00">2008-03-20 06:54:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29448569">Jaiku</a><p></p></dd>

<dt>Rubenerd Blog: Welcome home Esther! http://tinyurl.com/39eg32</dt>
<dd><time datetime="2008-03-20T07:28:00+08:00">2008-03-20 07:28:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29450641">Jaiku</a><p></p></dd>

<dt>I've thrown a spanner in the works and joined the @VeryGreenTeam &amp; @BlueTeam, they're equally my favourite colours :)</dt>
<dd><time datetime="2008-03-20T10:40:00+08:00">2008-03-20 10:40:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29464073">Jaiku</a><p></p></dd>

<dt>If you don't know what's going on, check out @ColorWars. It's so ridiculously pointless it's fun... even if they spelled &quot;color&quot; wrong ;-)</dt>
<dd><time datetime="2008-03-20T10:46:00+08:00">2008-03-20 10:46:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29464564">Jaiku</a><p></p></dd>

<dt>Trying to set up OpenDNS. I figure if I need to write a report on it, I might as well be using it right?</dt>
<dd><time datetime="2008-03-21T06:19:00+08:00">2008-03-21 06:19:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29545058">Jaiku</a><p></p></dd>

<dt>Bloglines Beta is pretty slick. http://beta.bloglines.com/</dt>
<dd><time datetime="2008-03-21T08:39:00+08:00">2008-03-21 08:39:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29554880">Jaiku</a><p></p></dd>

<dt>I think I'll stick to Google Reader though. Having it tied in to Google Calendar and Gmail is a lifesaver.</dt>
<dd><time datetime="2008-03-21T08:46:00+08:00">2008-03-21 08:46:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29555417">Jaiku</a><p></p></dd>

<dt>Insane headache, I'm off to bed. Chao</dt>
<dd><time datetime="2008-03-21T15:10:00+08:00">2008-03-21 15:10:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29580314">Jaiku</a><p></p></dd>

<dt>Okay I have 3 hours to finish this project. No break even on Easter! Guess it's punishment I deserve for being an Atheist right? :)</dt>
<dd><time datetime="2008-03-22T07:50:00+08:00">2008-03-22 07:50:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29644713">Jaiku</a><p></p></dd>

<dt>Thank goodness for two little words: &quot;make deinstall&quot; :)</dt>
<dd><time datetime="2008-03-22T09:02:00+08:00">2008-03-22 09:02:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29649100">Jaiku</a><p></p></dd>

<dt>Just added @danslatts. Good to have another person in a similar timezone! And you got a MBP, sweet :)</dt>
<dd><time datetime="2008-03-22T09:39:00+08:00">2008-03-22 09:39:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29651259">Jaiku</a><p></p></dd>

<dt>Argh, Flock still isn't a Cocoa app for Mac, and their FreeBSD port is broken! Damn it and I was all interested and ready to go too!</dt>
<dd><time datetime="2008-03-22T11:51:00+08:00">2008-03-22 11:51:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29658688">Jaiku</a><p></p></dd>

<dt>Hehe, my post about The Renovators is on the Whole Wheat RSS page :) http://www.wholewheatradio.org/wiki/index.php/RSS</dt>
<dd><time datetime="2008-03-22T11:51:00+08:00">2008-03-22 11:51:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29658689">Jaiku</a><p></p></dd>

<dt>Installed the GNOME base system so I can use some GNOME GTK+ apps in myKDE FreeBSD machine. pkg_info | grep mono returns nothing :D</dt>
<dd><time datetime="2008-03-22T13:05:00+08:00">2008-03-22 13:05:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29662875">Jaiku</a><p></p></dd>

<dt>Off to get a midnight snack to shake off the HaveToDoUniWorkOverEaster blues. Wait I like the blues. But saying &quot;rap&quot; wouldnt make sense.</dt>
<dd><time datetime="2008-03-22T14:59:00+08:00">2008-03-22 14:59:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29669533">Jaiku</a><p></p></dd>

<dt>Just got back from a brief evening walk after doing all this programming, brain is 99% fried! Off to bed.</dt>
<dd><time datetime="2008-03-22T19:09:00+08:00">2008-03-22 19:09:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29682799">Jaiku</a><p></p></dd>

<dt>Damn I had a bad night last night, all day today I've been walking around in a daze. Day... daze... Haagen Dazs... mmm, Häagen-Dazs...</dt>
<dd><time datetime="2008-03-23T07:13:00+08:00">2008-03-23 07:13:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29722172">Jaiku</a><p></p></dd>

<dt>Ella Fitzgerald just started playing in Amarok... very nice :)</dt>
<dd><time datetime="2008-03-23T10:30:00+08:00">2008-03-23 10:30:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29732754">Jaiku</a><p></p></dd>

<dt>Cadbury chocolate is the best chocolate, let us all just admit this!! :D</dt>
<dd><time datetime="2008-03-23T15:50:00+08:00">2008-03-23 15:50:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29749531">Jaiku</a><p></p></dd>

<dt>I should be off to bed soon. Should being the operative word.</dt>
<dd><time datetime="2008-03-23T15:56:00+08:00">2008-03-23 15:56:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29749767">Jaiku</a><p></p></dd>

<dt>Off to make some nice hot porridge with brown sugar to wake me up. Funny how I'm always freezing when I wake up, even if it's 28 degress!</dt>
<dd><time datetime="2008-03-23T20:55:00+08:00">2008-03-23 20:55:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29766737">Jaiku</a><p></p></dd>

<dt>Wait, it's only 23 outside right now (73.4 F), that's okay.</dt>
<dd><time datetime="2008-03-23T20:56:00+08:00">2008-03-23 20:56:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29766770">Jaiku</a><p></p></dd>

<dt>Oh wow I'm tired. The human body was not meant to get up this early!</dt>
<dd><time datetime="2008-03-23T21:08:00+08:00">2008-03-23 21:08:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29767390">Jaiku</a><p></p></dd>

<dt>Getting ready to listen to Ed Craver live! http://wholewheatradio.org/</dt>
<dd><time datetime="2008-03-23T23:00:00+08:00">2008-03-23 23:00:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29773368">Jaiku</a><p></p></dd>

<dt>Just arrived back home, tired out. Night all :-)</dt>
<dd><time datetime="2008-03-24T16:14:00+08:00">2008-03-24 16:14:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29832168">Jaiku</a><p></p></dd>

<dt>I just want to be in my room, left alone, by myself for pete's sake. Sister and father are completely ignorant as to what it's like.</dt>
<dd><time datetime="2008-03-25T11:03:00+08:00">2008-03-25 11:03:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29907983">Jaiku</a><p></p></dd>

<dt>Byes everyone.</dt>
<dd><time datetime="2008-03-25T11:04:00+08:00">2008-03-25 11:04:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29907986">Jaiku</a><p></p></dd>

<dt>At least admit that you have no damned idea! Does he have a medical degree? Is he BP himself? NO! Geeeeeez.</dt>
<dd><time datetime="2008-03-25T11:08:00+08:00">2008-03-25 11:08:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29908268">Jaiku</a><p></p></dd>

<dt>Just got back, enjoyed myself no end. Don't you hate it when you parent's were right?</dt>
<dd><time datetime="2008-03-25T16:00:00+08:00">2008-03-25 16:00:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29929192">Jaiku</a><p></p></dd>

<dt>Can anyone else get to http://RubenerdShow.com or http://RubenerdShow.com/blog/? It's not working on this end</dt>
<dd><time datetime="2008-03-25T16:51:00+08:00">2008-03-25 16:51:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29932631">Jaiku</a><p></p></dd>

<dt>Wait, RubenerdShow.com and RubenerdShow.com/blog are back online I think!</dt>
<dd><time datetime="2008-03-25T16:54:00+08:00">2008-03-25 16:54:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29932855">Jaiku</a><p></p></dd>

<dt>Okay I've decided. THERE WILL BE A RUBENERD SHOW AGAIN BEFORE THIS WEEK IS OVER. Studies, work and mood be damned!</dt>
<dd><time datetime="2008-03-25T17:07:00+08:00">2008-03-25 17:07:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/29933675">Jaiku</a><p></p></dd>

<dt>Wait a minute, a BSD human? That doesn't sound too good! :P :D</dt>
<dd><time datetime="2008-03-26T15:41:00+08:00">2008-03-26 15:41:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/30031281">Jaiku</a><p></p></dd>

<dt>Chilling with some Wet Wet Wet on amaroK :)</dt>
<dd><time datetime="2008-03-26T15:51:00+08:00">2008-03-26 15:51:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/30032081">Jaiku</a><p></p></dd>

<dt>I still get a kick out of saying that I use Kate for programming!</dt>
<dd><time datetime="2008-03-28T14:46:00+08:00">2008-03-28 14:46:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/30233418">Jaiku</a><p></p></dd>

<dt>WOW, I have 6 comments there! Thank you everyone! I have a project due about this subject, and this will make it MUCH easier! :D ^_^</dt>
<dd><time datetime="2008-03-28T17:17:00+08:00">2008-03-28 17:17:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/30243745">Jaiku</a><p></p></dd>

<dt>I've posted a response to the Podcasting naming issue: http://tinyurl.com/33qq4y Answered everyone :)</dt>
<dd><time datetime="2008-03-28T17:50:00+08:00">2008-03-28 17:50:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/30246280">Jaiku</a><p></p></dd>

<dt>Finally got the assignment in a-okay. Now it's 04:38 and time for sleep, night all :)</dt>
<dd><time datetime="2008-03-28T20:38:00+08:00">2008-03-28 20:38:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/30258541">Jaiku</a><p></p></dd>

<dt>Just returned the follow form @jrande, always great to see more Twitterinos in Singapore! ^_^</dt>
<dd><time datetime="2008-03-29T08:21:00+08:00">2008-03-29 08:21:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/30307589">Jaiku</a><p></p></dd>

<dt>Not sure hat I like WordPress</dt>
<dd><time datetime="2008-03-29T18:40:00+08:00">2008-03-29 18:40:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/30346560">Jaiku</a><p></p></dd>

<dt>Not sure that I like the WordPress 2.5 new admin user interface. Feels like they made it different just to be different.</dt>
<dd><time datetime="2008-03-29T18:41:00+08:00">2008-03-29 18:41:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/30346562">Jaiku</a><p></p></dd>

<dt>The older WordPress admin panel wasn't as pretty, but it was laid out much, much better IMHO.</dt>
<dd><time datetime="2008-03-29T18:42:00+08:00">2008-03-29 18:42:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/30346660">Jaiku</a><p></p></dd>

<dt>Plus the tagging feature is a giant step backwards, and doesn't work in Konqueror :(</dt>
<dd><time datetime="2008-03-29T18:42:00+08:00">2008-03-29 18:42:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/30346662">Jaiku</a><p></p></dd>

<dt>Plus the tagging bar isn't as easy to use as the simple text box it had before, and it doesn't work right in Konqueror</dt>
<dd><time datetime="2008-03-29T18:43:00+08:00">2008-03-29 18:43:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/30346672">Jaiku</a><p></p></dd>

<dt>Just upgraded all 4 blogs over to WordPress 2.5. Provided I get my Ruby SQlite site up and running soon, might be my last WP upgrade!</dt>
<dd><time datetime="2008-03-29T18:58:00+08:00">2008-03-29 18:58:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/30347455">Jaiku</a><p></p></dd>

<dt>Well I'd better get to bed, past 3am already. Cheers everyone :)</dt>
<dd><time datetime="2008-03-29T19:02:00+08:00">2008-03-29 19:02:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/30347760">Jaiku</a><p></p></dd>

<dt>10 million Wikipedia articles! Yay! http://rubyurl.com/PL0I</dt>
<dd><time datetime="2008-03-30T14:40:00+08:00">2008-03-30 14:40:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/30415922">Jaiku</a><p></p></dd>

<dt>Dont you love it when all of us are on Twitter at the same time, having disjointed conversations about random things? Isn't it great? :D</dt>
<dd><time datetime="2008-03-30T16:10:00+08:00">2008-03-30 16:10:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/30420511">Jaiku</a><p></p></dd>

<dt>Just resiprocated the add from @theinternets. He's downloading the internets.</dt>
<dd><time datetime="2008-03-30T20:03:00+08:00">2008-03-30 20:03:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/30433989">Jaiku</a><p></p></dd>

<dt>On that note I'm going to try this sleep thing again. See you all all later :)</dt>
<dd><time datetime="2008-03-30T20:39:00+08:00">2008-03-30 20:39:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/30435753">Jaiku</a><p></p></dd>

<dt>Off to the Coffee Bean and Tea Leaf at Bishan. Mmm, waffles :)</dt>
<dd><time datetime="2008-03-31T23:32:00+08:00">2008-03-31 23:32:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/30537957">Jaiku</a><p></p></dd>

</dl>
