---
title: "Trains Ruben Taketh: R25"
date: "2010-12-20T03:43:29+00:00"
source: https://trainsrubentaketh.tumblr.com/post/2382825638
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_ldpjozb2DN.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_ldpjozb2DN.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_ldpjozb2DN@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>R25 from Bardwell Park to Central</p>
