---
title: "Trains Ruben Taketh: M4"
date: "2010-12-21T03:38:23+00:00"
source: https://trainsrubentaketh.tumblr.com/post/2396739073
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_ldre51zUrw.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_ldre51zUrw.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_ldre51zUrw@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>M4 from Town Hall to Bardwell Park</p>
