---
title: "Trains Ruben Taketh: S70, again!"
date: "2011-03-13T09:40:45+00:00"
source: https://trainsrubentaketh.tumblr.com/post/3828255172
year: "2011"
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_lhzpli3doQ.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_lhzpli3doQ.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_lhzpli3doQ@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>S70 from Museum to Bardwell Park</p>

<p>Cleanliness: Good</p>
