---
title: "Trains Ruben Taketh: T13"
date: "2011-02-04T11:01:36+00:00"
source: https://trainsrubentaketh.tumblr.com/post/3103218983
year: "2011"
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_lg3aqz7nk7.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_lg3aqz7nk7.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_lg3aqz7nk7@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>T13 from Museum to Bardwell Park</p>
