---
title: "Trains Ruben Taketh: M35"
date: "2010-12-17T09:56:36+00:00"
source: https://trainsrubentaketh.tumblr.com/post/2347267981
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_ldkgz6bWmb.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_ldkgz6bWmb.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_ldkgz6bWmb@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>M35 from Museum to Bardwell Park</p>
