---
title: "Trains Ruben Taketh: T44, again!"
date: "2012-04-15T10:24:01+00:00"
source: https://trainsrubentaketh.tumblr.com/post/21139615606
year: "2012"
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_m2ink16cFV.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_m2ink16cFV.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_m2ink16cFV@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>T44 from Beverly Hills to Bardwell Park</p>

<p>Cleanliness: Refurbished, but had to force doors open! Not a good sign!</p>
