---
title: "Trains Ruben Taketh: S63"
date: "2011-01-02T05:40:28+00:00"
source: https://trainsrubentaketh.tumblr.com/post/2563380764
year: "2011"
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_ledrro0OXE.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_ledrro0OXE.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_ledrro0OXE@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>S63 from Central to Bardwell Park</p>
