---
title: "Jaiku: 2007-05"
date: "2007-05-13T03:59:00+08:00"
year: "2007"
category: Annexe
tag:
- from-jaiku
---
<p style="font-style:italic">These posts were imported to the Annexe from Jaiku, which Google bought and shut down.</p>
<dl>

<dt class="jaiku-icon-web-coffee">Using Jaiku as an aggregation page for all my online stuff. Very convenient having all my feeds on one page that I can refer people to.</dt>
<dd><time datetime="2007-05-13T03:59:00+08:00">2007-05-13 03:59:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/2060792">Jaiku</a><p></p></dd>

</dl>
