---
title: "Trains Ruben Taketh: M32"
date: "2011-02-26T10:35:14+00:00"
source: https://trainsrubentaketh.tumblr.com/post/3520686280
year: "2011"
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_lh804eUTml.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_lh804eUTml.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_lh804eUTml@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>M32 and My Index Finger from Museum to Bardwell Park</p>
