---
title: "Trains Ruben Taketh: T20"
date: "2010-12-16T05:12:04+00:00"
source: https://trainsrubentaketh.tumblr.com/post/2333211638
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_ldi94ckCMc.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_ldi94ckCMc.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_ldi94ckCMc@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>T20 from Museum to Bardwell Park</p>
