---
title: "Trains Ruben Taketh: S74"
date: "2011-03-31T05:23:36+00:00"
source: https://trainsrubentaketh.tumblr.com/post/4227977292
year: "2011"
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_liwppu3yoG.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_liwppu3yoG.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_liwppu3yoG@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>S74 from Bardwell Park to Central</p>

<p>Cleanliness: Excellent!</p>
