---
title: "Trains Ruben Taketh: R13"
date: "2010-12-08T07:12:32+00:00"
source: https://trainsrubentaketh.tumblr.com/post/2141265507
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_ld3ldsxVVX.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_ld3ldsxVVX.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_ld3ldsxVVX@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>R13 from Central to Bardwell Park</p>
