---
title: "Trains Ruben Taketh: C14"
date: "2011-06-15T08:44:47+00:00"
source: https://trainsrubentaketh.tumblr.com/post/6549550544
year: "2011"
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_lmtpmySB5M.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_lmtpmySB5M.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_lmtpmySB5M@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>C14 from Bardwell Park to Museum</p>

<p>Cleanliness: Very good!</p>
