---
title: "Trains Ruben Taketh: T109"
date: "2012-04-03T00:16:05+00:00"
source: https://trainsrubentaketh.tumblr.com/post/20378436905
year: "2012"
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_m1vnetmgRb.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_m1vnetmgRb.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_m1vnetmgRb@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>T109 from Bardwell Park to Central</p>

<p>Cleanliness: Refurbished and squishy, but lots of uninspired tagging.</p>
