---
title: "Trains Ruben Taketh: S77"
date: "2010-12-23T08:03:05+00:00"
source: https://trainsrubentaketh.tumblr.com/post/2428500801
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_ldvfpc0sy6.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_ldvfpc0sy6.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_ldvfpc0sy6@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>S77 from Central to Town Hall</p>
