---
title: "Trains Ruben Taketh: T39"
date: "2011-08-03T07:10:12+00:00"
source: https://trainsrubentaketh.tumblr.com/post/8420388079
year: "2011"
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_lpcbx01faE.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_lpcbx01faE.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_lpcbx01faE@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>T39 from Miranda to Wolli Creek</p>

<p>Cleanliness: Fine, but lots of uninspired tagging</p>
