---
title: "I Perform This Way"
date: "2011-04-21T11:52:45+00:00"
source: "https://rubenerd.tumblr.com/post/4801201540"
year: "2011"
category: Annexe
tag:
- from-tumblr
- weird-al-yankovic
- music
---
<p style="font-style:italic">This post originally appeared on the <a title="Rubenerd Annexe post" href="https://rubenerd.tumblr.com/post/4801201540">Annexe</a>.</p>

<p><a href="https://youtube.com/watch?v=fUxXKfQkswE" title="Play Weird Al Yankovic - Perform This Way"><img src="https://rubenerd.com/files/2018/yt-fUxXKfQkswE@1x.jpg" srcset="https://rubenerd.com/files/2018/yt-fUxXKfQkswE@1x.jpg 1x, https://rubenerd.com/files/2018/yt-fUxXKfQkswE@2x.jpg 2x" alt="Play Weird Al Yankovic - Perform This Way" style="width:500px;height:281px;" /></a>

<p><a href="http://shityes.tumblr.com/post/4801006525" class="tumblr_blog">shityes</a>:</p>

<blockquote><p>I LOVE THIS.</p>
<p>And very happy to hear Gaga approved - I was super disappointed when I thought she’d got pissed off about it.</p></blockquote>

<p>He&rsquo;s definitely back! Can&rsquo;t wait for his next album, hope it has that new polka he played at his concert!</p>  

