---
title: "Trains Ruben Taketh: T42"
date: "2011-02-02T10:37:29+00:00"
source: https://trainsrubentaketh.tumblr.com/post/3065583958
year: "2011"
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_lfzk6u2GY4.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_lfzk6u2GY4.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_lfzk6u2GY4@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>T42 from Museum (last train leaving that station tonight, lucky!) to Bardwell Park</p>
