---
title: "Trains Ruben Taketh: M24"
date: "2011-03-07T08:57:41+00:00"
source: https://trainsrubentaketh.tumblr.com/post/3698767381
year: "2011"
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_lhojkh3VhJ.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_lhojkh3VhJ.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_lhojkh3VhJ@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>M24 from Bardwell Park to Museum</p>
