---
title: "Trains Ruben Taketh: A9"
date: "2012-04-15T09:03:05+00:00"
source: https://trainsrubentaketh.tumblr.com/post/21138030032
year: "2012"
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_m2ijt53cSc.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_m2ijt53cSc.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_m2ijt53cSc@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>A9 from Bardwell Park to Beverly Hills</p>

<p>Cleanliness: Infinitely better than this crappy photo!</p>
