---
title: "Trains Ruben Taketh: S81, again!"
date: "2011-04-24T06:17:11+00:00"
source: https://trainsrubentaketh.tumblr.com/post/4889551259
year: "2011"
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_lk585oMY5t.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_lk585oMY5t.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_lk585oMY5t@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>S81 from Bardwell Park to Museum</p>

<p>Cleanliness: Ickyness!</p>
