---
title: "Jaiku: 2008-04"
date: "2008-04-30T13:57:00+08:00"
year: "2008"
category: Annexe
tag:
- from-jaiku
---
<p style="font-style:italic">These posts were imported to the Annexe from Jaiku, which Google bought and shut down.</p>
<dl>

<dt>Here's an open question: because it's April Fools in Asia, Australia and the Pacific, can I fool people from here in other time zones? :)</dt>
<dd><time datetime="2008-04-01T02:12:00+08:00">2008-04-01 02:12:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/30549781">Jaiku</a><p></p></dd>

<dt>Okay I've had my four free refills of coffee... *FLINCH* free refills of coffee *FLINCH* free refills of coffee, better make me way out now!</dt>
<dd><time datetime="2008-04-01T02:45:00+08:00">2008-04-01 02:45:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/30552106">Jaiku</a><p></p></dd>

<dt>I've had two comments on my cheesy Vista blog post, I wasn't able to pull the wool over 50% of the respondents :-D</dt>
<dd><time datetime="2008-04-01T07:24:00+08:00">2008-04-01 07:24:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/30573830">Jaiku</a><p></p></dd>

<dt>The BBC News International version is still using the old CSS layout it seems</dt>
<dd><time datetime="2008-04-01T07:27:00+08:00">2008-04-01 07:27:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/30574069">Jaiku</a><p></p></dd>

<dt>Wait I just hit shift-reload, the International version is the same as the UK version. The BBC likes giant fonts now it seems!</dt>
<dd><time datetime="2008-04-01T07:28:00+08:00">2008-04-01 07:28:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/30574071">Jaiku</a><p></p></dd>

<dt>Off to grab some lunch. It's 16:41, but the last thing I ate/drank was free flow coffee at 09:00, surely not a good thing!</dt>
<dd><time datetime="2008-04-01T08:41:00+08:00">2008-04-01 08:41:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/30579342">Jaiku</a><p></p></dd>

<dt>Just came back from an evening stroll, suggested by @jerrynovak :). Feeling tired, going to try sleeping for 8 hours straight tonight!</dt>
<dd><time datetime="2008-04-01T15:57:00+08:00">2008-04-01 15:57:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/30612091">Jaiku</a><p></p></dd>

<dt>And that wasn't an AFJ ;-)</dt>
<dd><time datetime="2008-04-01T15:57:00+08:00">2008-04-01 15:57:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/30612095">Jaiku</a><p></p></dd>

<dt>Hello all :) Had a good night sleep last night, the first one in a long time. Spent the morning walking around the Botanic Gardens :)</dt>
<dd><time datetime="2008-04-02T08:45:00+08:00">2008-04-02 08:45:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/30686091">Jaiku</a><p></p></dd>

<dt>... then some programming. Now off to Starbucks to meet my dad for a cuppa. He FINALLY found a wide enough set of tyres for his Ducati :)</dt>
<dd><time datetime="2008-04-02T08:46:00+08:00">2008-04-02 08:46:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/30686096">Jaiku</a><p></p></dd>

<dt>To celebrate my full night's sleep without nightmares about my mum in over 3 months, my dad, sister and I are off for an Indonesian dinn ...</dt>
<dd><time datetime="2008-04-02T12:07:00+08:00">2008-04-02 12:07:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/30700594">Jaiku</a><p></p></dd>

<dt>That was supposed to say &quot;Indonesian Dinner&quot;, too many characters again! Yeah, satay, rendang, gado gado, mie goreng... yay!</dt>
<dd><time datetime="2008-04-02T12:07:00+08:00">2008-04-02 12:07:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/30700605">Jaiku</a><p></p></dd>

<dt>Off to bed now, had a good walk again! See you all tomorrow :-)</dt>
<dd><time datetime="2008-04-02T16:43:00+08:00">2008-04-02 16:43:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/30719712">Jaiku</a><p></p></dd>

<dt>Packing bags and getting ready, the Schade Trio are off to Batam for 2 days. Why? We all need a quick break, and we've never been before :)</dt>
<dd><time datetime="2008-04-03T03:26:00+08:00">2008-04-03 03:26:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/30767291">Jaiku</a><p></p></dd>

<dt>And off we go! I probably won't have internet access again until Saturday, so see you all when I get back :)</dt>
<dd><time datetime="2008-04-03T04:50:00+08:00">2008-04-03 04:50:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/30773554">Jaiku</a><p></p></dd>

<dt>I am a KDE and Qt guy, but I admit Xfce is very nice. Even if I were forced to GNOME I'd use Thunar with it instead of icky Nautilus :D</dt>
<dd><time datetime="2008-04-06T10:35:00+08:00">2008-04-06 10:35:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/31081037">Jaiku</a><p></p></dd>

<dt>There's something about sitting at a Starbucks outside at midnight in Singapore with a cold drink that's very Zen-ish :-)</dt>
<dd><time datetime="2008-04-07T15:44:00+08:00">2008-04-07 15:44:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/31185967">Jaiku</a><p></p></dd>

<dt>Starbucks folks are starting to back up, I think it's a subtle sign that they want me to leave. Better get going!</dt>
<dd><time datetime="2008-04-07T15:50:00+08:00">2008-04-07 15:50:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/31186286">Jaiku</a><p></p></dd>

<dt>Finally getting around to writing show notes for Rubenerd Show 234. Hopefully will only take half an hour or so</dt>
<dd><time datetime="2008-04-07T18:43:00+08:00">2008-04-07 18:43:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/31197889">Jaiku</a><p></p></dd>

<dt>Don't panic everyone! The Whole Wheat Radio audio stream is down! Guess I'll stick to playing iTunes or amaroK again for a while.</dt>
<dd><time datetime="2008-04-07T19:46:00+08:00">2008-04-07 19:46:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/31202674">Jaiku</a><p></p></dd>

<dt>Hi-fi Whole Wheat Radio stream is back online. Med-fi and Low-fi are still offline</dt>
<dd><time datetime="2008-04-07T19:52:00+08:00">2008-04-07 19:52:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/31203211">Jaiku</a><p></p></dd>

<dt>They're playing harp music in Whole Wheat Radio. My beautiful late mum played the harp. Bringing a tear to my eye</dt>
<dd><time datetime="2008-04-07T20:11:00+08:00">2008-04-07 20:11:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/31204724">Jaiku</a><p></p></dd>

<dt>My beautiful mum is gone. Sometimes you need to hear something like that song to remember.</dt>
<dd><time datetime="2008-04-07T20:14:00+08:00">2008-04-07 20:14:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/31204803">Jaiku</a><p></p></dd>

<dt>To quote Don McLean: &quot;Mummy, the world was never meant for someone as beautiful as you&quot;</dt>
<dd><time datetime="2008-04-07T20:15:00+08:00">2008-04-07 20:15:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/31204952">Jaiku</a><p></p></dd>

<dt>I really must try to finish her website dedication soon. Whenever I try to start it again, I get chocked up and can't do it. Must keep t ...</dt>
<dd><time datetime="2008-04-07T20:26:00+08:00">2008-04-07 20:26:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/31205700">Jaiku</a><p></p></dd>

<dt>Okay going to trey sleeping again. See, once again I didn't get exercise and once again I can't sleep.</dt>
<dd><time datetime="2008-04-07T20:59:00+08:00">2008-04-07 20:59:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/31208119">Jaiku</a><p></p></dd>

<dt>* @redragon I meant to say &quot;good&quot; not &quot;goo&quot; !</dt>
<dd><time datetime="2008-04-07T21:06:00+08:00">2008-04-07 21:06:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/31208573">Jaiku</a><p></p></dd>

<dt>Just got a really nice email for a young woman in Korea who said she agreed with my feminism post and it made her think :)</dt>
<dd><time datetime="2008-04-08T11:52:00+08:00">2008-04-08 11:52:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/31272063">Jaiku</a><p></p></dd>

<dt>I'm glad that I have so many nice people listening to my show and reading my inane blog posts, it really makes me feel great :-)</dt>
<dd><time datetime="2008-04-08T11:53:00+08:00">2008-04-08 11:53:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/31272065">Jaiku</a><p></p></dd>

<dt>Hey cool, Richard Dawkins is going to be on Dr Who!! And apparently he was good friends with Douglas Adams! http://tinyurl.com/5tp8ys</dt>
<dd><time datetime="2008-04-08T12:03:00+08:00">2008-04-08 12:03:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/31272727">Jaiku</a><p></p></dd>

<dt>Damn it the Crumpler site uses Flash!</dt>
<dd><time datetime="2008-04-08T12:14:00+08:00">2008-04-08 12:14:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/31273498">Jaiku</a><p></p></dd>

<dt>Cabaret is downloading in iTunes now! It kept getting stuck at 49.1MB a few hours ago, but damn it I'm going to get this!</dt>
<dd><time datetime="2008-04-09T06:43:00+08:00">2008-04-09 06:43:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/31355311">Jaiku</a><p></p></dd>

<dt>Off to meet my sister for lunch. She doesn't like Japanese so we're off for Carls Jr. A much healtheir alternative to Bento boxes... ahem!</dt>
<dd><time datetime="2008-04-09T09:32:00+08:00">2008-04-09 09:32:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/31367543">Jaiku</a><p></p></dd>

<dt>You know the only really thing that bothers me about anti-intellectuals? They don't have a sense of humour!</dt>
<dd><time datetime="2008-04-09T13:43:00+08:00">2008-04-09 13:43:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/31385856">Jaiku</a><p></p></dd>

<dt>Off for an evening walk to work off some of my accumulated coffee and energy before I sleep :-)</dt>
<dd><time datetime="2008-04-09T13:48:00+08:00">2008-04-09 13:48:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/31386440">Jaiku</a><p></p></dd>

<dt>I'm going through an Art Deco obsession right now. Changing the design of my uni intranet blog to use Art Deco graphics!!!</dt>
<dd><time datetime="2008-04-09T15:49:00+08:00">2008-04-09 15:49:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/31395613">Jaiku</a><p></p></dd>

<dt>I don't have enough body hair to be a sheeple. And it's not very warm.</dt>
<dd><time datetime="2008-04-09T15:59:00+08:00">2008-04-09 15:59:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/31396353">Jaiku</a><p></p></dd>

<dt>I finally went out and bought myself a LABEL PRINTER!!!!! I've wanted one of these since I was a kid!</dt>
<dd><time datetime="2008-04-10T12:32:00+08:00">2008-04-10 12:32:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/31487014">Jaiku</a><p></p></dd>

<dt>My first label on my label printer? &quot;LABEL&quot; :-D</dt>
<dd><time datetime="2008-04-10T12:36:00+08:00">2008-04-10 12:36:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/31487416">Jaiku</a><p></p></dd>

<dt>I just went into my dad's home office and labeled every single piece of computer equipment with my label printer! Computers, copiers, phones</dt>
<dd><time datetime="2008-04-10T12:46:00+08:00">2008-04-10 12:46:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/31488207">Jaiku</a><p></p></dd>

<dt>Oh NO! In my vein attempt to label everything in this house, the batteries ran out!!</dt>
<dd><time datetime="2008-04-10T13:51:00+08:00">2008-04-10 13:51:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/31492725">Jaiku</a><p></p></dd>

<dt>I use rechargables, so these AAA batts will take a few hours to charge. Will need to go to 7-11 to get some more in the meantime :-D</dt>
<dd><time datetime="2008-04-10T13:51:00+08:00">2008-04-10 13:51:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/31492813">Jaiku</a><p></p></dd>

<dt>Damn, I ran out of labels in my new label printer!!! I went through 8 metres of labels!!</dt>
<dd><time datetime="2008-04-10T16:26:00+08:00">2008-04-10 16:26:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/31503707">Jaiku</a><p></p></dd>

<dt>When youve been programming in other languages for a while, sometimes its fun just to create a little Perl script to solve a file problem :)</dt>
<dd><time datetime="2008-04-11T08:24:00+08:00">2008-04-11 08:24:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/31572364">Jaiku</a><p></p></dd>

<dt>I could have slept in today, but I woke up early on my Saturday to help my sister with her bags to the airport. Aren't I nice?</dt>
<dd><time datetime="2008-04-12T01:00:00+08:00">2008-04-12 01:00:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/31642504">Jaiku</a><p></p></dd>

<dt>Hi ho, hi ho, it's off to the airport I go :-). Elke's off to KL for the next week.</dt>
<dd><time datetime="2008-04-12T01:44:00+08:00">2008-04-12 01:44:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/31645629">Jaiku</a><p></p></dd>

<dt>I've started feeling that buzz ever since this morning that I'm about to have a mania cycle!</dt>
<dd><time datetime="2008-04-12T07:34:00+08:00">2008-04-12 07:34:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/31670226">Jaiku</a><p></p></dd>

<dt>It's the &quot;Original White&quot;, those other styles sound nice too :-)</dt>
<dd><time datetime="2008-04-12T20:16:00+08:00">2008-04-12 20:16:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/31716203">Jaiku</a><p></p></dd>

<dt>If youre not following CalgaryGuru, he's uploaded a vid of his mac displaying something even though it's sleeping! http://tinyurl.com/65vd36</dt>
<dd><time datetime="2008-04-13T09:52:00+08:00">2008-04-13 09:52:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/31761403">Jaiku</a><p></p></dd>

<dt>Running pkg_delete -f mono-1.2.5.1 after installing GNOME. As a KDE guy, I've decided to try GNOME for a week.</dt>
<dd><time datetime="2008-04-13T11:15:00+08:00">2008-04-13 11:15:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/31765543">Jaiku</a><p></p></dd>

<dt>If you're emailing a family friend of your dad, do you talk about your dad as &quot;dad&quot; or as &quot;Rainer&quot;?</dt>
<dd><time datetime="2008-04-13T13:31:00+08:00">2008-04-13 13:31:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/31772315">Jaiku</a><p></p></dd>

<dt>Good morning everyone, I'm not in the mood for Monday :P</dt>
<dd><time datetime="2008-04-13T22:10:00+08:00">2008-04-13 22:10:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/31800607">Jaiku</a><p></p></dd>

<dt>Just left the office of the local company I'm implementing FreeBSD. Good news, only needed to go to their office today, work from home next</dt>
<dd><time datetime="2008-04-14T12:03:00+08:00">2008-04-14 12:03:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/31849934">Jaiku</a><p></p></dd>

<dt>Don't have to go to their office today, but I'm still getting up earlier</dt>
<dd><time datetime="2008-04-15T01:09:00+08:00">2008-04-15 01:09:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/31904922">Jaiku</a><p></p></dd>

<dt>Having lunch at Starbucks, the one just near Gleneagles Hospital where I went every week for 12 years with my mum. In a weird way, I mis ...</dt>
<dd><time datetime="2008-04-15T06:42:00+08:00">2008-04-15 06:42:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/31924689">Jaiku</a><p></p></dd>

<dt>&quot;In a way I miss it&quot; it was supposed to say. The nurses there were so friendly, I met them all when I was 10. Like losing lots of friends</dt>
<dd><time datetime="2008-04-15T06:43:00+08:00">2008-04-15 06:43:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/31924695">Jaiku</a><p></p></dd>

<dt>Well look at that! I was just talking about the nurses in Oncology at Gleneagles, and Tanjong just walked past and waved at me haha</dt>
<dd><time datetime="2008-04-15T06:47:00+08:00">2008-04-15 06:47:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/31925069">Jaiku</a><p></p></dd>

<dt>Her exact comment: &quot;Hello Ruben... what have you done with your hair!?&quot;</dt>
<dd><time datetime="2008-04-15T06:48:00+08:00">2008-04-15 06:48:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/31925272">Jaiku</a><p></p></dd>

<dt>If you're caucasian and live in Singapore, and want to be around Aussies, Brits and Americans for an afternoon, hang out at Tanglin Mall!</dt>
<dd><time datetime="2008-04-15T07:16:00+08:00">2008-04-15 07:16:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/31927226">Jaiku</a><p></p></dd>

<dt>G'day everyone, off to meet my dad at San Francisco Coffee in... Singapore. They make nice lasagne :-)</dt>
<dd><time datetime="2008-04-16T04:00:00+08:00">2008-04-16 04:00:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/32016272">Jaiku</a><p></p></dd>

<dt>I've just had a crazy idea. Instead of using Ruby for my next web project, why not Objective-C? Any docs on Obj-C and CGI? hehe</dt>
<dd><time datetime="2008-04-16T05:12:00+08:00">2008-04-16 05:12:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/32021841">Jaiku</a><p></p></dd>

<dt>Looking around for 5 mins it looks as though CGI support in Objective-C is a bit spotty. Bummer :-(</dt>
<dd><time datetime="2008-04-16T05:17:00+08:00">2008-04-16 05:17:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/32022089">Jaiku</a><p></p></dd>

<dt>Even though I'm a KDE/Qt person, I still think Gnumeric is better currently than Kspread. Free software rules!</dt>
<dd><time datetime="2008-04-16T05:25:00+08:00">2008-04-16 05:25:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/32022921">Jaiku</a><p></p></dd>

<dt>I found my FireWire iPod cable!! Isn't it always the case you only find things when you're not looking for them?</dt>
<dd><time datetime="2008-04-17T10:02:00+08:00">2008-04-17 10:02:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/32150221">Jaiku</a><p></p></dd>

<dt>Three Dinos, then a Frankie... the Rat Pack is in this Starbucks :-D</dt>
<dd><time datetime="2008-04-17T11:24:00+08:00">2008-04-17 11:24:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/32155923">Jaiku</a><p></p></dd>

<dt>&quot;Don't kill me! I have a wife and three girlfriends!&quot;</dt>
<dd><time datetime="2008-04-17T12:27:00+08:00">2008-04-17 12:27:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/32160389">Jaiku</a><p></p></dd>

<dt>I just recorded my episode about why I'm an atheist. I'm thinking whether I should include it in the podcast feed...</dt>
<dd><time datetime="2008-04-17T15:20:00+08:00">2008-04-17 15:20:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/32172897">Jaiku</a><p></p></dd>

<dt>... or just have it as a download if you want to listen. I don't want to offend anyone. What do you think?</dt>
<dd><time datetime="2008-04-17T15:21:00+08:00">2008-04-17 15:21:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/32172928">Jaiku</a><p></p></dd>

<dt>Writing show notes for my &quot;Why I Am An Atheist&quot; episode. If you believe me ;-)</dt>
<dd><time datetime="2008-04-17T15:36:00+08:00">2008-04-17 15:36:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/32173948">Jaiku</a><p></p></dd>

<dt>I am putting a big, big disclaimer on it to say&quot;This is not designed to insult people, these are just my beliefs&quot;</dt>
<dd><time datetime="2008-04-17T15:41:00+08:00">2008-04-17 15:41:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/32174324">Jaiku</a><p></p></dd>

<dt>Almost finished encoding. This is the hardest show I've ever done, the last bit I choke up a bit but I think I did okay</dt>
<dd><time datetime="2008-04-17T16:27:00+08:00">2008-04-17 16:27:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/32177184">Jaiku</a><p></p></dd>

<dt>Rubenerd Show 238, the Why I Am An Atheist episode is now available from //rubenerd.comshow.com/ :-)</dt>
<dd><time datetime="2008-04-17T16:39:00+08:00">2008-04-17 16:39:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/32178401">Jaiku</a><p></p></dd>

<dt>I'm off to bed, g'night everyone :-)</dt>
<dd><time datetime="2008-04-17T17:26:00+08:00">2008-04-17 17:26:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/32181260">Jaiku</a><p></p></dd>

<dt>Just realised the reason why my app was failing was because I didn't have rzip on the machine! Gah!</dt>
<dd><time datetime="2008-04-18T09:17:00+08:00">2008-04-18 09:17:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/32250099">Jaiku</a><p></p></dd>

<dt>For people who want to read Frank's and my discussion: //rubenerd.comshow.com/archives/show238/</dt>
<dd><time datetime="2008-04-18T10:33:00+08:00">2008-04-18 10:33:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/32255573">Jaiku</a><p></p></dd>

<dt>Off to bed early tonight (2243 is early for me!), got a headache. Maybe too much tea? Is there such a thing? Night all :-)</dt>
<dd><time datetime="2008-04-18T14:43:00+08:00">2008-04-18 14:43:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/32272474">Jaiku</a><p></p></dd>

<dt>Email from Rabbit Photo: &quot;Make your mum feel special by giving her a unique, personalised Photo Book this year.&quot; F*ck you too.</dt>
<dd><time datetime="2008-04-19T04:54:00+08:00">2008-04-19 04:54:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/32326945">Jaiku</a><p></p></dd>

<dt>My goodness I haven't updated my Twitter for over a day now I think. I'll need to remedy it seems! Good morning/afternoon/evening everyone!</dt>
<dd><time datetime="2008-04-21T08:18:00+08:00">2008-04-21 08:18:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/32494430">Jaiku</a><p></p></dd>

<dt>We saw We Will Rock You (The Queen tribute musical) last night though, it was AMAZING!</dt>
<dd><time datetime="2008-04-21T08:21:00+08:00">2008-04-21 08:21:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/32494586">Jaiku</a><p></p></dd>

<dt>Elke is still in bed, and it's 16:00. I hope she's okay</dt>
<dd><time datetime="2008-04-23T08:05:00+08:00">2008-04-23 08:05:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/32693850">Jaiku</a><p></p></dd>

<dt>My dad just emailed me from Beijing, he says RubenerdShow.com is still accessible in China haha</dt>
<dd><time datetime="2008-04-23T08:17:00+08:00">2008-04-23 08:17:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/32694727">Jaiku</a><p></p></dd>

<dt>And he could access it from a regular food stall, not a Western hotel where they deliberately tone down the censorship</dt>
<dd><time datetime="2008-04-23T08:18:00+08:00">2008-04-23 08:18:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/32694731">Jaiku</a><p></p></dd>

<dt>I'm not sure whether to be happy or not. The Chinese Gov doesn't consider me a threat, bummer!</dt>
<dd><time datetime="2008-04-23T08:19:00+08:00">2008-04-23 08:19:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/32694827">Jaiku</a><p></p></dd>

<dt>UPDATE: My dad in China says he can access IntoYourHead, http://www.duddingstonbooks.com/cabaret/, The Overnightscape, WWR...</dt>
<dd><time datetime="2008-04-23T08:23:00+08:00">2008-04-23 08:23:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/32695233">Jaiku</a><p></p></dd>

<dt>Backing up the last remaining FreeBSD 6.3-RELEASE machine to upgrade it to 7.0, I've been putting it off for so long</dt>
<dd><time datetime="2008-04-23T13:48:00+08:00">2008-04-23 13:48:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/32718640">Jaiku</a><p></p></dd>

<dt>If I get one more email letting me know I can buy mothers day presents I'm going to scream. She's DEAD, kapeesh? :-(</dt>
<dd><time datetime="2008-04-24T09:42:00+08:00">2008-04-24 09:42:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/32806286">Jaiku</a><p></p></dd>

<dt>Finally cracked under uni pressure and bought Office 2008 Student Edition for Mac, just to install Excel. Verdict? It's SLOOOOW!</dt>
<dd><time datetime="2008-04-24T10:37:00+08:00">2008-04-24 10:37:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/32811114">Jaiku</a><p></p></dd>

<dt>The PowerPC version of Excel 2004 running under Rosetta was faster than the Intel version of Excel 2008! What a rip!</dt>
<dd><time datetime="2008-04-24T10:38:00+08:00">2008-04-24 10:38:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/32811115">Jaiku</a><p></p></dd>

<dt>Oh Jees I can't take it any more, Excel 2008 is just too slow it's painful! What a waste of $180, uninstalling and putting Excel 2004 on</dt>
<dd><time datetime="2008-04-24T10:41:00+08:00">2008-04-24 10:41:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/32811374">Jaiku</a><p></p></dd>

<dt>I'm writing up a blog post about my experience with speadsheets compared to Microsoft Excel, I'm being bombarded by tweets! :-)</dt>
<dd><time datetime="2008-04-24T11:19:00+08:00">2008-04-24 11:19:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/32813945">Jaiku</a><p></p></dd>

<dt>This detailed spreadsheet weblog post is getting too damned long, I'm going to split it in two, for my reader's sanity and my own!</dt>
<dd><time datetime="2008-04-24T12:31:00+08:00">2008-04-24 12:31:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/32818801">Jaiku</a><p></p></dd>

<dt>Podshow is now &quot;Mevio&quot;? Did they use the same naming agency as Dell for the &quot;Vostro&quot;?</dt>
<dd><time datetime="2008-04-24T14:15:00+08:00">2008-04-24 14:15:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/32825820">Jaiku</a><p></p></dd>

<dt>That DOES it. I've looked up online and I'm not the only one. Excel 2008 is up to 8x slower than 2004, on INTEL hardware!!</dt>
<dd><time datetime="2008-04-24T15:40:00+08:00">2008-04-24 15:40:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/32831656">Jaiku</a><p></p></dd>

<dt>I'm going to try to return this, and go back to Excel 2004. I don't care if it has to run in Rosetta, it's still faster.</dt>
<dd><time datetime="2008-04-24T15:41:00+08:00">2008-04-24 15:41:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/32831662">Jaiku</a><p></p></dd>

<dt>Uninstalled Excel 2008, now installing Gnumeric again!</dt>
<dd><time datetime="2008-04-24T16:32:00+08:00">2008-04-24 16:32:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/32835465">Jaiku</a><p></p></dd>

<dt>This is weird, TwitterFeed is picking up all my blog posts, but not the show?</dt>
<dd><time datetime="2008-04-25T08:00:00+08:00">2008-04-25 08:00:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/32903697">Jaiku</a><p></p></dd>

<dt>Elke just woke up, proceeded to unplug my desktop thinking it was my phone charger! All my downloads, compiling, GONE!!!</dt>
<dd><time datetime="2008-04-25T09:07:00+08:00">2008-04-25 09:07:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/32908290">Jaiku</a><p></p></dd>

<dt>We nearly all died 70,000 years ago!! That's scary!! http://tinyurl.com/2ulzx8/04/24/2148235</dt>
<dd><time datetime="2008-04-25T12:01:00+08:00">2008-04-25 12:01:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/32920090">Jaiku</a><p></p></dd>

<dt>It's been close to a week since I've used GNOME full time. Enjoying my experience so far, I'm surprised@</dt>
<dd><time datetime="2008-04-25T12:05:00+08:00">2008-04-25 12:05:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/32920283">Jaiku</a><p></p></dd>

<dt>Oh WOW! Jimbob has made me a Sysop on the @WholeWheatRadio wiki!! I feel so humbled!!</dt>
<dd><time datetime="2008-04-25T12:45:00+08:00">2008-04-25 12:45:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/32923029">Jaiku</a><p></p></dd>

<dt>I noticed something was different when I went to the WWR site and there were even &quot;Delete&quot; and &quot;Edit&quot; tabs on the HOME page!</dt>
<dd><time datetime="2008-04-25T12:46:00+08:00">2008-04-25 12:46:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/32923133">Jaiku</a><p></p></dd>

<dt>For those who haven't noticed yet, I'm a SysOp on the Whole Wheat Radio website! This is insane!</dt>
<dd><time datetime="2008-04-25T12:49:00+08:00">2008-04-25 12:49:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/32923318">Jaiku</a><p></p></dd>

<dt>I could delete the WWR homepage, Jim's profile page... anyone's profile page... think of the power! :-D</dt>
<dd><time datetime="2008-04-25T12:50:00+08:00">2008-04-25 12:50:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/32923320">Jaiku</a><p></p></dd>

<dt>Elke health update: she's feeling slightly worst today, we're hoping this is as bad as it'll get.</dt>
<dd><time datetime="2008-04-26T07:07:00+08:00">2008-04-26 07:07:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/32999676">Jaiku</a><p></p></dd>

<dt>After almost a week where I just couldn't get into gear very much, today I coded my arse off! Got a fortnights worth of homework done!</dt>
<dd><time datetime="2008-04-26T19:07:00+08:00">2008-04-26 19:07:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/33044542">Jaiku</a><p></p></dd>

<dt>Well maybe not that much, but I was productive! On a Saturday, go figure!</dt>
<dd><time datetime="2008-04-26T19:07:00+08:00">2008-04-26 19:07:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/33044544">Jaiku</a><p></p></dd>

<dt>I've got some big tests coming up (medical AND university) soon, and am nervous about both. Studies and work keep my occupied I guess</dt>
<dd><time datetime="2008-04-26T19:08:00+08:00">2008-04-26 19:08:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/33044548">Jaiku</a><p></p></dd>

<dt>Can a Samba share name have punctuation, or is it safer just to use alphanumeric characters, anyone know?</dt>
<dd><time datetime="2008-04-27T17:38:00+08:00">2008-04-27 17:38:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/33118439">Jaiku</a><p></p></dd>

<dt>I don't care about Windows 9x, just sharing with FreeBSD, Macs and Windows XP machines</dt>
<dd><time datetime="2008-04-27T17:38:00+08:00">2008-04-27 17:38:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/33118440">Jaiku</a><p></p></dd>

<dt>My poor sister has been in really bad shape today, mentally and physically :-(. Seems she</dt>
<dd><time datetime="2008-04-28T10:54:00+08:00">2008-04-28 10:54:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/33179419">Jaiku</a><p></p></dd>

<dt>... is starting to come to terms with mummy herself. I guess we all take different times.</dt>
<dd><time datetime="2008-04-28T10:54:00+08:00">2008-04-28 10:54:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/33179420">Jaiku</a><p></p></dd>

<dt>My dad will be going to Boston on bidness soon, wonder if he could cash his business class ticket for 2 economy ones? Heh heh</dt>
<dd><time datetime="2008-04-29T06:38:00+08:00">2008-04-29 06:38:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/33261138">Jaiku</a><p></p></dd>

<dt>I am in love with TrueCrypt! Seriously one of the best free and open source applications ever!</dt>
<dd><time datetime="2008-04-30T13:57:00+08:00">2008-04-30 13:57:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/33398122">Jaiku</a><p></p></dd>

</dl>
