---
title: "Jaiku: 2007-06"
date: "2007-06-25T09:22:00+08:00"
year: "2007"
category: Annexe
tag:
- from-jaiku
---
<p style="font-style:italic">These posts were imported to the Annexe from Jaiku, which Google bought and shut down.</p>
<dl>

<dt>Finished listening to TWiT 101. Does sound like a lesson! Killer panel this week, one of my favourite shows. No AppleTV shows here either :(</dt>
<dd><time datetime="2007-06-25T09:22:00+08:00">2007-06-25 09:22:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/5179737">Jaiku</a><p></p></dd>

</dl>
