---
title: "Jaiku: 2007-10"
date: "2007-10-26T09:06:00+08:00"
year: "2007"
category: Annexe
tag:
- from-jaiku
---
<p style="font-style:italic">These posts were imported to the Annexe from Jaiku, which Google bought and shut down.</p>
<dl>

<dt>So Jaiku was bought by Google, and now you need an invitation to join? Will probably still stick with Twitter for now.</dt>
<dd><time datetime="2007-10-09T18:49:00+08:00">2007-10-09 18:49:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/14154370">Jaiku</a><p></p></dd>

<dt class="jaiku-icon-web-love">Have decided to keep using Jaiku as an aggregation page to point to. It is pretty cool to have all my RSS/Atom feeds appear on one page :-)</dt>
<dd><time datetime="2007-10-26T09:06:00+08:00">2007-10-26 09:06:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/15678039">Jaiku</a><p></p></dd>

</dl>
