---
title: "Trains Ruben Taketh: T12, again!"
date: "2011-04-20T07:13:39+00:00"
source: https://trainsrubentaketh.tumblr.com/post/4771286635
year: "2011"
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_ljxw3ndDMg.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_ljxw3ndDMg.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_ljxw3ndDMg@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>T12 from Bardwell Park to City Circle</p>

<p>Cleanliness: Fair</p>
