---
title: "Trains Ruben Taketh: M14"
date: "2011-07-10T07:30:05+00:00"
source: https://trainsrubentaketh.tumblr.com/post/7448308618
year: "2011"
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_lo3wuioIdX.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_lo3wuioIdX.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_lo3wuioIdX@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>Darn! HDR didn't make it trippy like that earlier one today!</p>

<p>M14 from Circular Quay to Bardwell Park</p>

<p>Cleanliness: Great!</p>
