---
title: "Trains Ruben Taketh: T107"
date: "2011-06-24T09:45:23+00:00"
source: https://trainsrubentaketh.tumblr.com/post/6860601898
year: "2011"
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_lnagfzPYCV.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_lnagfzPYCV.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_lnagfzPYCV@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>T107 from Bardwell Park to Museum</p>

<p>Cleanliness: Empty EasyWay drink, making me jealous!</p>
