---
title: "Trains Ruben Taketh: R21, again!"
date: "2010-12-21T00:25:15+00:00"
source: https://trainsrubentaketh.tumblr.com/post/2394764094
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_ldr56w4pIq.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_ldr56w4pIq.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_ldr56w4pIq@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>R21 from Bardwell Park to Central</p>
