---
title: "Jaiku: 2008-06"
date: "2008-06-25T05:17:00+08:00"
year: "2008"
category: Annexe
tag:
- from-jaiku
---
<p style="font-style:italic">These posts were imported to the Annexe from Jaiku, which Google bought and shut down.</p>
<dl>

<dt>Good morning everyone :-). Long Sunday ahead today</dt>
<dd><time datetime="2008-06-01T00:30:00+08:00">2008-06-01 00:30:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/36363743">Jaiku</a><p></p></dd>

<dt>Just finished this latest report, taking a cue from @jerrynovak and going down to Wheelock Place for a cuppa :-)</dt>
<dd><time datetime="2008-06-01T03:37:00+08:00">2008-06-01 03:37:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/36372613">Jaiku</a><p></p></dd>

<dt>Feeling fizzled out. Think my body is protesting doing so much study and work on a Sunday!</dt>
<dd><time datetime="2008-06-01T10:13:00+08:00">2008-06-01 10:13:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/36388836">Jaiku</a><p></p></dd>

<dt>Having an early night tonight, 21:00 :-D (9:00pm). Starting tomorrow things should start to thin out, looking forward to it!</dt>
<dd><time datetime="2008-06-01T13:06:00+08:00">2008-06-01 13:06:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/36397264">Jaiku</a><p></p></dd>

<dt>Heh how embarrasing, I've been a registered user of MacRumors since 2006, I just forgot the password!</dt>
<dd><time datetime="2008-06-02T06:13:00+08:00">2008-06-02 06:13:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/36445406">Jaiku</a><p></p></dd>

<dt>Got so many great books to read, &quot;On The Edge: Rise &amp; Fall of Commodore&quot;, and &quot;Inside Steve Jobs' Brain&quot; and &quot;World According to Clarkson&quot;!</dt>
<dd><time datetime="2008-06-02T07:56:00+08:00">2008-06-02 07:56:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/36450591">Jaiku</a><p></p></dd>

<dt>I am fed up with living in such a mess: I pledge to clean up this room in the next 20 minutes!</dt>
<dd><time datetime="2008-06-02T08:41:00+08:00">2008-06-02 08:41:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/36452749">Jaiku</a><p></p></dd>

<dt>The sky went dark, and I didn't even notice</dt>
<dd><time datetime="2008-06-02T11:37:00+08:00">2008-06-02 11:37:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/36461757">Jaiku</a><p></p></dd>

<dt>Good morning everyone :-). Packed timetable today, let's hope I can do it all!</dt>
<dd><time datetime="2008-06-03T00:03:00+08:00">2008-06-03 00:03:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/36505914">Jaiku</a><p></p></dd>

<dt>Going down the street to read The Economist and have some brekkie at a Coffee Bean and Tea Leaf :-). Very civilised</dt>
<dd><time datetime="2008-06-03T01:35:00+08:00">2008-06-03 01:35:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/36511482">Jaiku</a><p></p></dd>

<dt>Twhirl is working again! I've reduced the number of requests per hour. Listening to &quot;The Best Sixties Album Ever&quot;... and I was born in 86 :)</dt>
<dd><time datetime="2008-06-03T09:45:00+08:00">2008-06-03 09:45:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/36543390">Jaiku</a><p></p></dd>

<dt>HOW AWESOME ARE THE ANIMALS!!! :-D</dt>
<dd><time datetime="2008-06-03T09:48:00+08:00">2008-06-03 09:48:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/36543649">Jaiku</a><p></p></dd>

<dt>These types of stories just make my shake my head in disbelief :( http://rubyurl.com/NIga</dt>
<dd><time datetime="2008-06-04T04:26:00+08:00">2008-06-04 04:26:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/36618638">Jaiku</a><p></p></dd>

<dt>Hehe, if you want to see my family as south park characters, including my mum, think she'd be pleased :) http://schades.org/</dt>
<dd><time datetime="2008-06-04T09:17:00+08:00">2008-06-04 09:17:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/36638155">Jaiku</a><p></p></dd>

<dt>My sister likes the way I gave her pink hair (http://schades.org) as a South Park character. She's in the bathroom dying it pink again!</dt>
<dd><time datetime="2008-06-04T09:22:00+08:00">2008-06-04 09:22:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/36638360">Jaiku</a><p></p></dd>

<dt>I tell you what, this Pal Centro was a fraction of the price of my Nokia, but it's so much nicer to use. Plus I get the PalmOS nostalgia!</dt>
<dd><time datetime="2008-06-04T13:10:00+08:00">2008-06-04 13:10:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/36654344">Jaiku</a><p></p></dd>

<dt>Even better? I was able to transfer all my silly old games from my Palm III and Tungsten W to it, and they all still work :-)</dt>
<dd><time datetime="2008-06-04T13:11:00+08:00">2008-06-04 13:11:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/36654456">Jaiku</a><p></p></dd>

<dt>Good morning all! My dad was supposed to be up half an hour ago but he's still sleeping, probably too much work again</dt>
<dd><time datetime="2008-06-05T00:54:00+08:00">2008-06-05 00:54:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/36700197">Jaiku</a><p></p></dd>

<dt>Going through my spam folders again. I need ti hire a secretary to manage all this stuff!!! One man show is harder than I thought!</dt>
<dd><time datetime="2008-06-05T02:51:00+08:00">2008-06-05 02:51:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/36707951">Jaiku</a><p></p></dd>

<dt>Finishing up some Ruby stuff then off to Simply Bread for lunch. That's the greatest name for a bakery every!</dt>
<dd><time datetime="2008-06-06T03:18:00+08:00">2008-06-06 03:18:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/36800492">Jaiku</a><p></p></dd>

<dt>Finally got Debian dual booting on my primary desktop with FreeBSD 7.0. FreeBSD still boots way faster ;-)</dt>
<dd><time datetime="2008-06-06T03:41:00+08:00">2008-06-06 03:41:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/36801852">Jaiku</a><p></p></dd>

<dt>Just released Rubenerd Show 243 (RubenerdShow.com), a very nerdy episode about moving one of my machines over to Debian from FreeBSD</dt>
<dd><time datetime="2008-06-06T10:53:00+08:00">2008-06-06 10:53:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/36829388">Jaiku</a><p></p></dd>

<dt>FreeBSD is still my favourite OS, but until Nvidia released 64bit FreeBSD drivers I don't have a choice for this one machine I'm afraid :-(</dt>
<dd><time datetime="2008-06-06T10:53:00+08:00">2008-06-06 10:53:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/36829395">Jaiku</a><p></p></dd>

<dt>Good morning all, 11am, I really slept in today :-)</dt>
<dd><time datetime="2008-06-07T03:13:00+08:00">2008-06-07 03:13:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/36886841">Jaiku</a><p></p></dd>

<dt>Sunday 2pm at Guthrie Centre drinking a hot cup of coffee, cool weather today, looking at @DaveWares's photo blog. Life is good :-)</dt>
<dd><time datetime="2008-06-08T06:18:00+08:00">2008-06-08 06:18:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/36967953">Jaiku</a><p></p></dd>

<dt>&quot;Plurk&quot; sounds like something you do in the bathroom when you haven't eaten enough fibre.</dt>
<dd><time datetime="2008-06-08T06:21:00+08:00">2008-06-08 06:21:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/36968120">Jaiku</a><p></p></dd>

<dt>Compiling AbiWord from MacPorts. Pkgsrc on my MacBook Pro is having some issues today for some reason.</dt>
<dd><time datetime="2008-06-08T06:26:00+08:00">2008-06-08 06:26:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/36968249">Jaiku</a><p></p></dd>

<dt>Finally caved in and got Plurk. Really doesn't play well with NoScript in Firefox, and avatars don't support PNG... but keeping open mind!</dt>
<dd><time datetime="2008-06-08T06:29:00+08:00">2008-06-08 06:29:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/36968445">Jaiku</a><p></p></dd>

<dt>Cab driver says this is best weather for Singapore, when the dark clouds block the sun but don't rain. I concur. That how you spell concur?</dt>
<dd><time datetime="2008-06-08T06:38:00+08:00">2008-06-08 06:38:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/36968893">Jaiku</a><p></p></dd>

<dt>And how safe is it to run the &quot;testing&quot; distribution of Debian? Is it like the difference between FreeBSD &quot;stable&quot; and &quot;release&quot;?</dt>
<dd><time datetime="2008-06-08T09:09:00+08:00">2008-06-08 09:09:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/36975533">Jaiku</a><p></p></dd>

<dt>Damn it, GRUB doesn't detect my Apple USB keyboard either. Guess it's back to a non-aluminium job on this BSD/Linux desktop :(</dt>
<dd><time datetime="2008-06-08T09:16:00+08:00">2008-06-08 09:16:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/36975814">Jaiku</a><p></p></dd>

<dt>Finding it hard to get into the Monday rhythm again today... though I guess that's why it has the reputation it does right?</dt>
<dd><time datetime="2008-06-09T04:23:00+08:00">2008-06-09 04:23:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/37033144">Jaiku</a><p></p></dd>

<dt>Just bought &quot;A Brief History of Time&quot; by Steven Hawking. One of those books I've been meaning to read for a LONG time!</dt>
<dd><time datetime="2008-06-09T09:19:00+08:00">2008-06-09 09:19:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/37048364">Jaiku</a><p></p></dd>

<dt>Ah good old Windows 2000. Works great in a VM for those pesky Windows only apps the uni gives me. :-P</dt>
<dd><time datetime="2008-06-09T09:48:00+08:00">2008-06-09 09:48:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/37049923">Jaiku</a><p></p></dd>

<dt>Updating the firmware on my DIY machine. Fingers crossed!</dt>
<dd><time datetime="2008-06-09T10:10:00+08:00">2008-06-09 10:10:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/37051158">Jaiku</a><p></p></dd>

<dt>Oh and for everyone on Twitter, my Singaporean friend @enaurore was approved for Aussie Permanent Residence!</dt>
<dd><time datetime="2008-06-09T10:12:00+08:00">2008-06-09 10:12:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/37051230">Jaiku</a><p></p></dd>

<dt>Night everyone</dt>
<dd><time datetime="2008-06-09T16:06:00+08:00">2008-06-09 16:06:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/37071696">Jaiku</a><p></p></dd>

<dt>I still have to use Windows (ableit 2000!) for apps that need Windows. Very hard to get used to the Windows style of open... windows!</dt>
<dd><time datetime="2008-06-10T04:32:00+08:00">2008-06-10 04:32:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/37122094">Jaiku</a><p></p></dd>

<dt>Though apps like AllSnap make windows MUCH easier to manage and move around in Windows.</dt>
<dd><time datetime="2008-06-10T04:33:00+08:00">2008-06-10 04:33:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/37122119">Jaiku</a><p></p></dd>

<dt>The Maximise button in Windows might have made sense in 1990, but not in 2008 with resolutions at 1680x1050!</dt>
<dd><time datetime="2008-06-10T04:34:00+08:00">2008-06-10 04:34:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/37122219">Jaiku</a><p></p></dd>

<dt>640x480 for the win!</dt>
<dd><time datetime="2008-06-10T04:35:00+08:00">2008-06-10 04:35:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/37122247">Jaiku</a><p></p></dd>

<dt>Hehe, I want a 3G iPhone :-)</dt>
<dd><time datetime="2008-06-10T05:22:00+08:00">2008-06-10 05:22:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/37125134">Jaiku</a><p></p></dd>

<dt>The Palm Centro is a beautiful little phone though, I'll use it for my Singapore SIM when I'm in Malaysia or Aus and vica versa</dt>
<dd><time datetime="2008-06-10T05:23:00+08:00">2008-06-10 05:23:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/37125140">Jaiku</a><p></p></dd>

<dt>Meeting my sister down the road for some avocado, cheese and chicken sandwich roll thingys :-)</dt>
<dd><time datetime="2008-06-10T08:08:00+08:00">2008-06-10 08:08:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/37136002">Jaiku</a><p></p></dd>

<dt>Singapore beats Japan in standard of living? Somehow I don't 100% believe that http://tinyurl.com/6qrwts</dt>
<dd><time datetime="2008-06-10T09:12:00+08:00">2008-06-10 09:12:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/37140291">Jaiku</a><p></p></dd>

<dt>Off to the PO</dt>
<dd><time datetime="2008-06-11T07:00:00+08:00">2008-06-11 07:00:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/37224700">Jaiku</a><p></p></dd>

<dt>Still can't get over how cool this Yubikey is! And even came in a letter with Swedish stamps on it :-D</dt>
<dd><time datetime="2008-06-11T07:00:00+08:00">2008-06-11 07:00:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/37224865">Jaiku</a><p></p></dd>

<dt>I still prefer booting my FreeBSD (and Debian) machines to a prompt, then using startx instead of using XDM, KDM and the like :-)</dt>
<dd><time datetime="2008-06-11T09:01:00+08:00">2008-06-11 09:01:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/37232736">Jaiku</a><p></p></dd>

<dt>Playing classic Age of Empires II with my sister over the network :-)</dt>
<dd><time datetime="2008-06-11T15:48:00+08:00">2008-06-11 15:48:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/37259917">Jaiku</a><p></p></dd>

<dt>Disabling sendmail on an older FreeBSD box</dt>
<dd><time datetime="2008-06-12T12:50:00+08:00">2008-06-12 12:50:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/37345786">Jaiku</a><p></p></dd>

<dt>Just updated Twhirl. Wasn't letting me type any updates, so I restarted. All good now</dt>
<dd><time datetime="2008-06-13T06:56:00+08:00">2008-06-13 06:56:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/37417407">Jaiku</a><p></p></dd>

<dt>Meeting my dad for Starbucks and a slice of cheesecake. Health food of a nation :-)</dt>
<dd><time datetime="2008-06-13T07:37:00+08:00">2008-06-13 07:37:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/37420528">Jaiku</a><p></p></dd>

<dt>Forwarding this link @guykawasaki sent out: http://tinyurl.com/yt2c2t absolutely amazing!</dt>
<dd><time datetime="2008-06-14T17:21:00+08:00">2008-06-14 17:21:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/37543498">Jaiku</a><p></p></dd>

<dt>Screenshot of my pretty Xfce on FreeBSD desktop! Warning: VERY BIG! http://rubyurl.com/Q6Sb</dt>
<dd><time datetime="2008-06-14T18:56:00+08:00">2008-06-14 18:56:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/37548719">Jaiku</a><p></p></dd>

<dt>Okay I'm off to bed now, cheers everyone!</dt>
<dd><time datetime="2008-06-14T18:59:00+08:00">2008-06-14 18:59:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/37548851">Jaiku</a><p></p></dd>

<dt>Quote from my sister @elkeee from March 14, **2007**: &quot; Getting yelled at by my brother for not posting more on Twitter&quot;.</dt>
<dd><time datetime="2008-06-15T06:34:00+08:00">2008-06-15 06:34:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/37582217">Jaiku</a><p></p></dd>

<dt>So many icons on my desktop, so little time</dt>
<dd><time datetime="2008-06-15T08:02:00+08:00">2008-06-15 08:02:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/37586569">Jaiku</a><p></p></dd>

<dt>Good morning all</dt>
<dd><time datetime="2008-06-16T01:42:00+08:00">2008-06-16 01:42:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/37638121">Jaiku</a><p></p></dd>

<dt>@@GeekMommy Repitition also works at getting messages across, even if they do get annoying!</dt>
<dd><time datetime="2008-06-16T01:56:00+08:00">2008-06-16 01:56:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/37638864">Jaiku</a><p></p></dd>

<dt>For some reason I still find myself selling &quot;aging&quot; as &quot;ageing&quot;. Don't know why</dt>
<dd><time datetime="2008-06-16T02:53:00+08:00">2008-06-16 02:53:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/37641833">Jaiku</a><p></p></dd>

<dt>Had such a dreadful night sleep last night, had dreams about mummy dying again. Playing some FreeBSD this afternoon to help me recover :-)</dt>
<dd><time datetime="2008-06-17T09:53:00+08:00">2008-06-17 09:53:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/37754228">Jaiku</a><p></p></dd>

<dt>Argh only got four hours of sleep, no good lah. Off to Suntec.</dt>
<dd><time datetime="2008-06-19T01:01:00+08:00">2008-06-19 01:01:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/37907902">Jaiku</a><p></p></dd>

<dt>Have to go and pick up doggie food for doggies</dt>
<dd><time datetime="2008-06-19T02:24:00+08:00">2008-06-19 02:24:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/37912945">Jaiku</a><p></p></dd>

<dt>4:30am, can't sleep. Got out of bed twice already :-(. Maybe a warm cup of tea will help :)</dt>
<dd><time datetime="2008-06-19T20:32:00+08:00">2008-06-19 20:32:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/37983002">Jaiku</a><p></p></dd>

<dt>Nice cup of coffee and an avocado chicken sandwich always helps feeling bad after a terrible night of sleep :-)</dt>
<dd><time datetime="2008-06-20T09:21:00+08:00">2008-06-20 09:21:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/38031048">Jaiku</a><p></p></dd>

<dt>Installing latest update for NoScript with Firefox 3.0</dt>
<dd><time datetime="2008-06-20T10:12:00+08:00">2008-06-20 10:12:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/38034214">Jaiku</a><p></p></dd>

<dt>Xfce with Tango icons and Clearlooks is just such a pretty desktop :-). My FreeBSD and Mac OS X machines now look just as nice</dt>
<dd><time datetime="2008-06-20T10:45:00+08:00">2008-06-20 10:45:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/38036244">Jaiku</a><p></p></dd>

<dt>Just updated my Firefox to 2.0.0.14 on my FreeBSD box. Left it a while, whoops :-D</dt>
<dd><time datetime="2008-06-20T12:59:00+08:00">2008-06-20 12:59:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/38044774">Jaiku</a><p></p></dd>

<dt>Retweeting @IntoYourHead: Typing stuff on twitter. &amp;lt;--- BEST TWEET EVER!!!!</dt>
<dd><time datetime="2008-06-20T13:00:00+08:00">2008-06-20 13:00:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/38044778">Jaiku</a><p></p></dd>

<dt>Retweeting @sgaccidents: 20:30 Accident on PIE towards Changi Airport near Paya Ubi Ind Pk with congestion till Kallang Way. Avoid lane 1.</dt>
<dd><time datetime="2008-06-20T13:00:00+08:00">2008-06-20 13:00:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/38044872">Jaiku</a><p></p></dd>

<dt>That scared me!! My little ZX-Spectrum wasn't powering up properly! As it turns out, I just had the TV set up wrong :-)</dt>
<dd><time datetime="2008-06-21T07:30:00+08:00">2008-06-21 07:30:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/38113475">Jaiku</a><p></p></dd>

<dt>Atheism: A non-prophet organisation :-D</dt>
<dd><time datetime="2008-06-21T08:12:00+08:00">2008-06-21 08:12:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/38115801">Jaiku</a><p></p></dd>

<dt>I still find the &quot;Classic&quot; del.icio.us extention much nicer to use than the &quot;new&quot; one</dt>
<dd><time datetime="2008-06-21T08:15:00+08:00">2008-06-21 08:15:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/38116054">Jaiku</a><p></p></dd>

<dt>My... brain... is... fried...</dt>
<dd><time datetime="2008-06-21T17:12:00+08:00">2008-06-21 17:12:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/38145256">Jaiku</a><p></p></dd>

<dt>I've finally made a meaningful update to the guts of Rubenerd.com. *One* of these days I'll be moving all my stuff there!</dt>
<dd><time datetime="2008-06-21T18:57:00+08:00">2008-06-21 18:57:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/38150294">Jaiku</a><p></p></dd>

<dt>Having some midnight snack Hello Panda :-)</dt>
<dd><time datetime="2008-06-22T18:24:00+08:00">2008-06-22 18:24:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/38216578">Jaiku</a><p></p></dd>

<dt>The most beautiful aeroplane in the world !http://rubyurl.com/WgLR</dt>
<dd><time datetime="2008-06-22T19:03:00+08:00">2008-06-22 19:03:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/38218279">Jaiku</a><p></p></dd>

<dt>I'm recording a Rubenerd Show now, anyone want to say anything? :-)</dt>
<dd><time datetime="2008-06-23T10:53:00+08:00">2008-06-23 10:53:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/38265755">Jaiku</a><p></p></dd>

<dt>Recorded the latest Rubenerd Show, meeting my dad for sushi then I'll come back and do post-op :-)</dt>
<dd><time datetime="2008-06-23T12:15:00+08:00">2008-06-23 12:15:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/38270072">Jaiku</a><p></p></dd>

<dt>Recorded the latest Rubenerd Show, meeting my dad for sushi then I'll come back and do post-production :-)</dt>
<dd><time datetime="2008-06-23T12:16:00+08:00">2008-06-23 12:16:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/38270073">Jaiku</a><p></p></dd>

<dt>My dad went to a Singapore Airlines convention yesterday, brought me back a 400:1 model SIA A380 :-D</dt>
<dd><time datetime="2008-06-25T05:17:00+08:00">2008-06-25 05:17:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/38418849">Jaiku</a><p></p></dd>

</dl>
