---
title: "$3.25 to see The Beatles"
date: "2011-05-17T07:46:55+00:00"
source: "https://rubenerd.tumblr.com/post/5571127688"
references: "http://worldgoingbymywindow.tumblr.com/post/5223331378"
year: "2011"
category: Annexe
tag:
- from-tumblr
- nostalgia
- music
---
<p style="font-style:italic">This post originally appeared on the <a title="Rubenerd Annexe post" href="https://rubenerd.tumblr.com/post/5571127688">Annexe</a>.</p>

<figure class="tumblr-figure">
<a title="Original source" href="http://worldgoingbymywindow.tumblr.com/post/5223331378"><img src="https://rubenerd.com/files/museum/tumblr_lkqmymEAD91qiicvqo1_1280.png" alt="Ticket stub to see The Beatles for $3.25 in Vancouver" /></a>
</figure>

<p><a href="http://ifantasizeperfection.tumblr.com/post/5569470664">ifantasizeperfection</a>:</p>

<blockquote>
<p><a href="http://mermaidsouls.tumblr.com/post/5569102502">mermaidsouls</a>:</p>

<blockquote>
<p><a href="http://gypsy-minx.tumblr.com/post/5233011120">gypsy-minx</a>:</p>

<blockquote>
<p><a href="http://meowchan.tumblr.com/post/5232372818">meowchan</a>:</p>

<blockquote>

<p><span style="font-size:small">$3.25.</span> <span style="font-size:large">$3.25.</span> $3.25 TO SEE <strong>THE BEATLES</strong></p>

</blockquote>

</blockquote>

</blockquote>

<p style="font-size:large">3 DOLLARS AND 25 CENTS TO SEE THE FREAKING BEATLES.</p>
</blockquote>

