---
title: "Trains Ruben Taketh: M22, again!"
date: "2011-03-07T10:49:16+00:00"
source: https://trainsrubentaketh.tumblr.com/post/3699658898
year: "2011"
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_lhoorog1Vi.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_lhoorog1Vi.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_lhoorog1Vi@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>M22 from Museum to Bardwell Park</p>
