---
title: "Trains Ruben Taketh: T13, again!"
date: "2011-04-20T07:19:10+00:00"
source: https://trainsrubentaketh.tumblr.com/post/4771475017
year: "2011"
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_ljxwu4wUTh.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_ljxwu4wUTh.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_ljxwu4wUTh@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>T13 from Bardwell Park</p>

<p>Cleanliness: Sticky coffee cup spill on the floor!</p>
