---
title: "Jaiku: 2008-05"
date: "2008-05-30T11:28:00+08:00"
year: "2008"
category: Annexe
tag:
- from-jaiku
---
<p style="font-style:italic">These posts were imported to the Annexe from Jaiku, which Google bought and shut down.</p>
<dl>

<dt>Just got back home, have to do some stuff then go back out again. This day is taking forever!</dt>
<dd><time datetime="2008-05-01 07:07:00+08:00">2008-05-01 07:07:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/33472823">Jaiku</a><p></p></dd>

<dt>I'm off to take a 20 minute powernap. Alarm is set to play Bobby Darin's version of Hello, Dolly :-)</dt>
<dd><time datetime="2008-05-01T10:37:00+08:00">2008-05-01 10:37:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/33486616">Jaiku</a><p></p></dd>

<dt>&quot;Greens share ideas with ecology, conservation, environmental, feminism, peace, civil liberties, social justice and nonviolence&quot; Me like :)</dt>
<dd><time datetime="2008-05-01T12:49:00+08:00">2008-05-01 12:49:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/33494530">Jaiku</a><p></p></dd>

<dt>Just got back from Max Brenners, full of chocolate goodness! For some reason am in programmer head... is it the chocolate? :-)</dt>
<dd><time datetime="2008-05-01T15:08:00+08:00">2008-05-01 15:08:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/33504127">Jaiku</a><p></p></dd>

<dt>My favourite quote for today: &quot;48000 children will die today, and you expect God to care about YOUR prayers?&quot;</dt>
<dd><time datetime="2008-05-02T05:14:00+08:00">2008-05-02 05:14:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/33559088">Jaiku</a><p></p></dd>

<dt>Hey everyone, for some reason I was feeling great yesterday morning but it went downhill, just started coming back again. :-)</dt>
<dd><time datetime="2008-05-03T08:54:00+08:00">2008-05-03 08:54:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/33668289">Jaiku</a><p></p></dd>

<dt>Going through over 500 unread emails, answering questions</dt>
<dd><time datetime="2008-05-03T08:59:00+08:00">2008-05-03 08:59:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/33668777">Jaiku</a><p></p></dd>

<dt>Having a Big M Iced Coffee. Not as good as geniune South Aussie Farmers Union Iced Coffee, but it's close :-)</dt>
<dd><time datetime="2008-05-03T09:15:00+08:00">2008-05-03 09:15:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/33669606">Jaiku</a><p></p></dd>

<dt>CrankyGeeks 114 is the funniest one I've seen so far! Definitely download the video for this one if you usually get audio :)</dt>
<dd><time datetime="2008-05-03T11:22:00+08:00">2008-05-03 11:22:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/33678139">Jaiku</a><p></p></dd>

<dt>I've put a link to the &quot;Dignity. Period. Support the campaign for Zimbabwean womens' dignity&quot; on my blog. Now off to bed. Night :-)</dt>
<dd><time datetime="2008-05-03T18:41:00+08:00">2008-05-03 18:41:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/33704451">Jaiku</a><p></p></dd>

<dt>Really having a hard time sleeping again. It's 0441 and I'm completely wide awake. Crazy</dt>
<dd><time datetime="2008-05-03T20:41:00+08:00">2008-05-03 20:41:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/33710885">Jaiku</a><p></p></dd>

<dt>Well how about that, I didn't end up getting to sleep, bummer. It's 07:30 now, might as well grab some brekkie.</dt>
<dd><time datetime="2008-05-03T23:30:00+08:00">2008-05-03 23:30:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/33719777">Jaiku</a><p></p></dd>

<dt>I've been on such a roll today, I've programmed a phonebooks worth of code today... almost!</dt>
<dd><time datetime="2008-05-04T09:19:00+08:00">2008-05-04 09:19:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/33752965">Jaiku</a><p></p></dd>

<dt>Argh I have a really splitting headache again, perhaps I haven't had enough coffee... uh... absolutely :-)</dt>
<dd><time datetime="2008-05-04T11:39:00+08:00">2008-05-04 11:39:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/33760605">Jaiku</a><p></p></dd>

<dt>Sabayon looks like an interesting Gentoo based distro, but I think I'll stick with Gentoo for now</dt>
<dd><time datetime="2008-05-05T07:24:00+08:00">2008-05-05 07:24:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/33827156">Jaiku</a><p></p></dd>

<dt>WOW! Gentoo Linux 2008.0_beta2 from Bittorrent is downloading at 729KB/s!!!</dt>
<dd><time datetime="2008-05-05T08:07:00+08:00">2008-05-05 08:07:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/33829488">Jaiku</a><p></p></dd>

<dt>You think a lot of people must be seeding? :-D</dt>
<dd><time datetime="2008-05-05T08:07:00+08:00">2008-05-05 08:07:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/33829489">Jaiku</a><p></p></dd>

<dt>Database problems :-(</dt>
<dd><time datetime="2008-05-05T14:36:00+08:00">2008-05-05 14:36:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/33854339">Jaiku</a><p></p></dd>

<dt>It's okay when my script fails because of an error in logic. When the uni database is down, that's when it agrivates!</dt>
<dd><time datetime="2008-05-05T14:38:00+08:00">2008-05-05 14:38:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/33854346">Jaiku</a><p></p></dd>

<dt>It's 5am and I'm wide awake, so decided to get up.</dt>
<dd><time datetime="2008-05-05T21:03:00+08:00">2008-05-05 21:03:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/33879825">Jaiku</a><p></p></dd>

<dt>Off to meet my sister for lunch</dt>
<dd><time datetime="2008-05-06T09:04:00+08:00">2008-05-06 09:04:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/33931884">Jaiku</a><p></p></dd>

<dt>Good morning everyone, a very pretty 6am here in Singapore. Normally I hate getting up early, but I'm in a good mood today :-)</dt>
<dd><time datetime="2008-05-07T22:10:00+08:00">2008-05-07 22:10:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/34091258">Jaiku</a><p></p></dd>

<dt>Thursday has always been my favourite day of the week. I'm really not sure why!</dt>
<dd><time datetime="2008-05-07T22:11:00+08:00">2008-05-07 22:11:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/34091263">Jaiku</a><p></p></dd>

<dt>Well I'd better get going, meeting a potential client at... McDonalds... for brekkie. Guess we all have to make sacrifices!</dt>
<dd><time datetime="2008-05-07T22:21:00+08:00">2008-05-07 22:21:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/34092158">Jaiku</a><p></p></dd>

<dt>redragon += twitlive.tv? :-)</dt>
<dd><time datetime="2008-05-08T03:22:00+08:00">2008-05-08 03:22:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/34113554">Jaiku</a><p></p></dd>

<dt>Has Twitter been misfiring again? There are a lot of direct Tweets I've supposedly been sent that I don't have here</dt>
<dd><time datetime="2008-05-09T10:58:00+08:00">2008-05-09 10:58:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/34248521">Jaiku</a><p></p></dd>

<dt>I can't wait until I finish the assignment. Note to self: don't take three jobs at the same time.</dt>
<dd><time datetime="2008-05-09T16:53:00+08:00">2008-05-09 16:53:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/34274371">Jaiku</a><p></p></dd>

<dt>Programming my arse off at 01:14am on a Saturday morning. I can think of more fun things to do!</dt>
<dd><time datetime="2008-05-09T17:18:00+08:00">2008-05-09 17:18:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/34275793">Jaiku</a><p></p></dd>

<dt>04:42 and I'm still awake. Reading the latest entries in Google Reader half asleep</dt>
<dd><time datetime="2008-05-10T20:42:00+08:00">2008-05-10 20:42:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/34379685">Jaiku</a><p></p></dd>

<dt>I definitely need to watch Dawkins' latest show when it comes out: http://rubyurl.com/aHk7</dt>
<dd><time datetime="2008-05-10T20:44:00+08:00">2008-05-10 20:44:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/34379799">Jaiku</a><p></p></dd>

<dt>Well once again I'm going to give sleep a try, almost 6am. Have a good day everyone, whatever and whenever it happens to be :-)</dt>
<dd><time datetime="2008-05-10T21:51:00+08:00">2008-05-10 21:51:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/34383322">Jaiku</a><p></p></dd>

<dt>I'm playing Last Train to Clarksville on my iPod. A guilty pleasure :-)</dt>
<dd><time datetime="2008-05-14T18:23:00+08:00">2008-05-14 18:23:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/34767779">Jaiku</a><p></p></dd>

<dt>Well I'm off to bed, at 05:16. D'oh</dt>
<dd><time datetime="2008-05-14T21:16:00+08:00">2008-05-14 21:16:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/34780129">Jaiku</a><p></p></dd>

<dt>Exacly 2 hours to go till my next exam! It's calculus, so I'm scared sh*tless!</dt>
<dd><time datetime="2008-05-15T08:58:00+08:00">2008-05-15 08:58:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/34825886">Jaiku</a><p></p></dd>

<dt>I'm so nervous about this exam. Okay, I'm onto chapter 9 of the textbook</dt>
<dd><time datetime="2008-05-15T09:10:00+08:00">2008-05-15 09:10:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/34826951">Jaiku</a><p></p></dd>

<dt>Simultaneous equations are simultaneously icky</dt>
<dd><time datetime="2008-05-15T09:33:00+08:00">2008-05-15 09:33:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/34828459">Jaiku</a><p></p></dd>

<dt>Taking a quick break fro studying, going to make a quick sandwich</dt>
<dd><time datetime="2008-05-15T13:50:00+08:00">2008-05-15 13:50:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/34844110">Jaiku</a><p></p></dd>

<dt>Putting the books down, at 3:20am. Off to 7-11 for a midnight snack with the Elke sister person</dt>
<dd><time datetime="2008-05-15T19:19:00+08:00">2008-05-15 19:19:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/34868425">Jaiku</a><p></p></dd>

<dt>Is it just me or is the Subterranean Homesick Blues one of the greatest songs of all time, not just one of Dylan's greatest? :-)</dt>
<dd><time datetime="2008-05-15T19:20:00+08:00">2008-05-15 19:20:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/34868428">Jaiku</a><p></p></dd>

<dt>I've had a bit more of a relaxing evening after my latest exam. It was postponed by a few hours because the VPN software wasn't working!</dt>
<dd><time datetime="2008-05-16T18:54:00+08:00">2008-05-16 18:54:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/34966062">Jaiku</a><p></p></dd>

<dt>Just installed the Tango icons on my Gnome desktop. Much nicer, while still fititng in well</dt>
<dd><time datetime="2008-05-16T19:02:00+08:00">2008-05-16 19:02:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/34966736">Jaiku</a><p></p></dd>

<dt>I know I'm a Thunderbird guy, but Evolution does look pretty slick...</dt>
<dd><time datetime="2008-05-16T19:47:00+08:00">2008-05-16 19:47:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/34970361">Jaiku</a><p></p></dd>

<dt>Evolution doesn't need Mono right?</dt>
<dd><time datetime="2008-05-16T19:47:00+08:00">2008-05-16 19:47:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/34970362">Jaiku</a><p></p></dd>

<dt>Damn, 4am again. I've really got to stop reading text books so late :-(</dt>
<dd><time datetime="2008-05-16T19:58:00+08:00">2008-05-16 19:58:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/34971063">Jaiku</a><p></p></dd>

<dt>Well I'm off to bed, going to try to meet @jerrynovak for a coffee and chat tomorrow... well, today seeing as it's 5am! Night all :-)</dt>
<dd><time datetime="2008-05-16T20:45:00+08:00">2008-05-16 20:45:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/34974420">Jaiku</a><p></p></dd>

<dt>Okay REALLY off to bed now. G'night all</dt>
<dd><time datetime="2008-05-16T20:53:00+08:00">2008-05-16 20:53:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/34975087">Jaiku</a><p></p></dd>

<dt>Installing GrApple, a theme for Mac Firefox 3.0 that makes the toolbar buttons smaller, rectangular shaped to match Safari</dt>
<dd><time datetime="2008-05-19T14:34:00+08:00">2008-05-19 14:34:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/35213015">Jaiku</a><p></p></dd>

<dt>Does anyone know if it's valid to have two identical meta tags in an xhtml header section? I'm assuming not</dt>
<dd><time datetime="2008-05-19T14:37:00+08:00">2008-05-19 14:37:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/35213193">Jaiku</a><p></p></dd>

<dt>Well I'm off to bed, got lots of calls to make tomorrow. Cheers :)</dt>
<dd><time datetime="2008-05-19T18:20:00+08:00">2008-05-19 18:20:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/35227342">Jaiku</a><p></p></dd>

<dt>Well Twitter is offline again, though I guess this time it's scheduled. I wish I could get away with that level of downtime!</dt>
<dd><time datetime="2008-05-20T08:52:00+08:00">2008-05-20 08:52:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/35286039">Jaiku</a><p></p></dd>

<dt>Tiwtter back online?</dt>
<dd><time datetime="2008-05-20T09:35:00+08:00">2008-05-20 09:35:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/35288505">Jaiku</a><p></p></dd>

<dt>I mean, Twitter back online?</dt>
<dd><time datetime="2008-05-20T09:40:00+08:00">2008-05-20 09:40:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/35288940">Jaiku</a><p></p></dd>

<dt>For the first time I'm really considering trying to get my friends on Twitter over to Jaiku. Twitter's reliability is a joke.</dt>
<dd><time datetime="2008-05-20T21:27:00+08:00">2008-05-20 21:27:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/35333822">Jaiku</a><p></p></dd>

<dt>I'm giving up on Twitter for today, not worth the trouble with it failing every 5 mins. See you all on Thursday!</dt>
<dd><time datetime="2008-05-20T22:38:00+08:00">2008-05-20 22:38:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/35337946">Jaiku</a><p></p></dd>

<dt>Ah who am I kidding, I can't not use Twitter! Let's just hope they actually get through</dt>
<dd><time datetime="2008-05-20T22:40:00+08:00">2008-05-20 22:40:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/35338057">Jaiku</a><p></p></dd>

<dt>I can tell another down cycle is coming, this isn't going to be much fun :(</dt>
<dd><time datetime="2008-05-20T22:43:00+08:00">2008-05-20 22:43:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/35338254">Jaiku</a><p></p></dd>

<dt>I need a giant cup of coffee and a multivitamin tablet, courtesy of @jerrynovak's advice :)</dt>
<dd><time datetime="2008-05-20T22:46:00+08:00">2008-05-20 22:46:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/35338412">Jaiku</a><p></p></dd>

<dt>Wednesday already, it still feels like Monday</dt>
<dd><time datetime="2008-05-20T22:59:00+08:00">2008-05-20 22:59:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/35339020">Jaiku</a><p></p></dd>

<dt>Just came back from the Computer Book Centre. Got the O'Reilly &quot;Perl Cookbook&quot; and...</dt>
<dd><time datetime="2008-05-21T12:59:00+08:00">2008-05-21 12:59:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/35395672">Jaiku</a><p></p></dd>

<dt>... and &quot;The Design and Implementation of the FreeBSD Operating System&quot;. Sure has the longest title of a book I own!</dt>
<dd><time datetime="2008-05-21T12:59:00+08:00">2008-05-21 12:59:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/35395722">Jaiku</a><p></p></dd>

<dt>My sister just got Wii Fitness. I've got better balance :-D</dt>
<dd><time datetime="2008-05-21T15:26:00+08:00">2008-05-21 15:26:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/35405591">Jaiku</a><p></p></dd>

<dt>Wasn't feeling so well. Some Vegemite toast and a cup of tea fixed that right up :)</dt>
<dd><time datetime="2008-05-21T16:20:00+08:00">2008-05-21 16:20:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/35409320">Jaiku</a><p></p></dd>

<dt>I guess I'm most upset that I lost all the text messages my late mum sent me before she died. Those CAN'T be replaced :'-(</dt>
<dd><time datetime="2008-05-23T11:29:00+08:00">2008-05-23 11:29:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/35586649">Jaiku</a><p></p></dd>

<dt>Damn, BlackBerryCurve.com uses flash! I can't view anything!</dt>
<dd><time datetime="2008-05-23T11:41:00+08:00">2008-05-23 11:41:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/35587404">Jaiku</a><p></p></dd>

<dt>Just came back from an evening walk, or should I say morning walk? Days are only deliminated by periods of sleep to me :)</dt>
<dd><time datetime="2008-05-23T19:21:00+08:00">2008-05-23 19:21:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/35619573">Jaiku</a><p></p></dd>

<dt>Just checked my email, another dozen spammer followers on Twitter :(.</dt>
<dd><time datetime="2008-05-23T19:21:00+08:00">2008-05-23 19:21:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/35619689">Jaiku</a><p></p></dd>

<dt>Norhing personal against people who add me, who's following/followed ratio is very high, I just have to prioritise who I add now.</dt>
<dd><time datetime="2008-05-23T19:33:00+08:00">2008-05-23 19:33:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/35620393">Jaiku</a><p></p></dd>

<dt>This is my (@rubenerd) 7,777 post! The next time I'll post a similar stye number will be at 8,888, long time from now!</dt>
<dd><time datetime="2008-05-23T19:34:00+08:00">2008-05-23 19:34:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/35620394">Jaiku</a><p></p></dd>

<dt>8,888 will be a very lucky Twitter post :-)</dt>
<dd><time datetime="2008-05-23T19:35:00+08:00">2008-05-23 19:35:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/35620396">Jaiku</a><p></p></dd>

<dt>Updating to Camino 1.6.1</dt>
<dd><time datetime="2008-05-23T20:25:00+08:00">2008-05-23 20:25:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/35623843">Jaiku</a><p></p></dd>

<dt>It's 5:04am and I'm still WIDE awake :(. So many interesting people on Twitter, damn you all!</dt>
<dd><time datetime="2008-05-23T21:04:00+08:00">2008-05-23 21:04:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/35626653">Jaiku</a><p></p></dd>

<dt>Oh WOW the 1st half of this O'Reilly video is hilarious! http://tinyurl.com/6xmenn</dt>
<dd><time datetime="2008-05-23T21:28:00+08:00">2008-05-23 21:28:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/35627909">Jaiku</a><p></p></dd>

<dt>Ah to Twitter is working again. I tell you I hope what the Twitter folks said about improving stability actually happens</dt>
<dd><time datetime="2008-05-24T09:00:00+08:00">2008-05-24 09:00:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/35670320">Jaiku</a><p></p></dd>

<dt>Hey cool! The Mars Phoenix Lander is set to land soon! (BBC News:) http://tinyurl.com/5apxvh/</dt>
<dd><time datetime="2008-05-24T15:22:00+08:00">2008-05-24 15:22:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/35692963">Jaiku</a><p></p></dd>

<dt>Sad Sweet Dreamer, it's just one of those things you put down to experience...</dt>
<dd><time datetime="2008-05-24T16:16:00+08:00">2008-05-24 16:16:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/35696152">Jaiku</a><p></p></dd>

<dt>Good morning everyone, 07:15 here. About ready to go to the bus terminal to go to KL.</dt>
<dd><time datetime="2008-05-24T23:16:00+08:00">2008-05-24 23:16:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/35719274">Jaiku</a><p></p></dd>

<dt>TrueCrypt is up to 73% done on my master uni work drive :-)</dt>
<dd><time datetime="2008-05-24T23:20:00+08:00">2008-05-24 23:20:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/35719479">Jaiku</a><p></p></dd>

<dt>My latest project data is 344GB, so I created a 400GB TrueCrypt volume. No doubt I'll need the extra space!</dt>
<dd><time datetime="2008-05-24T23:30:00+08:00">2008-05-24 23:30:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/35720165">Jaiku</a><p></p></dd>

<dt>It's so dark in KLCC, they've turned the lights on already in here, even though it's 18:20!</dt>
<dd><time datetime="2008-05-26T10:21:00+08:00">2008-05-26 10:21:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/35832837">Jaiku</a><p></p></dd>

<dt>Hello hello everyone :-). Get my blood test results back today, I'm very nervous!</dt>
<dd><time datetime="2008-05-30T03:48:00+08:00">2008-05-30 03:48:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/36204053">Jaiku</a><p></p></dd>

<dt>Just got Romeo and Tiger (miniature bishon and maltese) back from the groomers, they're so tiny and cute :-)</dt>
<dd><time datetime="2008-05-30T11:28:00+08:00">2008-05-30 11:28:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/36236002">Jaiku</a><p></p></dd>

</dl>
