---
title: "Trains Ruben Taketh: M25, again!"
date: "2011-03-25T00:11:40+00:00"
source: https://trainsrubentaketh.tumblr.com/post/4073079627
year: "2011"
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_lil781oLPN.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_lil781oLPN.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_lil781oLPN@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>M25 from Wolli Creek to Central</p>

<p>Cleanliness: Good</p>
