---
title: "Wallace and Grommit"
date: "2010-11-16T21:34:02+00:00"
source: "https://rubenerd.tumblr.com/post/1593894171"
year: "2010"
category: Annexe
tag:
- from-tumblr
- wallace-and-gromit
---
<p style="font-style:italic">This post originally appeared on the <a title="Rubenerd Annexe post" href="https://rubenerd.tumblr.com/post/1593894171">Annexe</a>.</p>

<figure class="tumblr-figure">
<img src="https://rubenerd.com/files/museum/tumblr_lbzykqpbuu1qz77sbo1_1280.jpg" alt="Wallace and Grommit is one of the greatest franchises ever" />
</figure>


