---
title: "Trains Ruben Taketh: R13, yet again!"
date: "2011-04-27T12:37:26+00:00"
source: https://trainsrubentaketh.tumblr.com/post/4983152577
year: "2011"
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_lkb9qsvmrI.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_lkb9qsvmrI.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_lkb9qsvmrI@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>R13 from Central to Bardwell Park</p>

<p>Cleanliness: Good</p>
