---
title: "Trains Ruben Taketh: Unmarked"
date: "2012-04-16T06:13:55+00:00"
source: https://trainsrubentaketh.tumblr.com/post/21200398986
year: "2012"
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
location: Sydney
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_m2k6n7etZf.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_m2k6n7etZf.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_m2k6n7etZf@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>Unmarked (?) from Bardwell Park to Town Hall.</p>

<p>Cleanliness: Surprisingly good</p>
