---
title: "Trains Ruben Taketh: M6"
date: "2010-12-11T12:09:10+00:00"
source: https://trainsrubentaketh.tumblr.com/post/2173754026
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_ld9j3rwVg1.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_ld9j3rwVg1.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_ld9j3rwVg1@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>M6 from St James to Bardwell Park</p>
