---
title: 'Back from Batam' 
date: "2008-04-05T03:54:33+10:00"
year: "2008"
category: Travel
tag: 
- batam
- bintan
- google-earth
- holiday
- indonesia
- personal
location: Singapore
---
<p>Our boat arrived back from <a href="http://wikitravel.org/en/Batam">Batam</a> and we&#39;ve finally made it back home. Even though we were only gone for 2 days I feel refreshed and pleased to have seen and experienced a new place. I was under the impression Batam was more industrialised than Bintan and not as good for holidays, but there are some beautiful places, great food and very warm and friendly people there. I&#39;ll be uploading some of the millions of photos we all took and doing a Rubenerd Show about it soon, right now I&#39;m off to bed because I&#39;m damned exhaused!</p>
<p>For those not from around here, Batam is an Indonesian island just a stone throw&#39;s away from Singapore, and just to the left of Bintan. In <a href="http://maps.google.com/maps?f=q&#038;hl=en&#038;geocode=&#038;q=singapore&#038;ie=UTF8&#038;ll=1.178201,104.213562&#038;spn=1.400426,2.666931&#038;t=h&#038;z=9">Google Earth</a> it&#39;s not marked (I guess they only just did JB!) but you can see it as the blunt trident shaped island in the picture below, just to the lower right of Singapore.</p>
<p><a href="https://www.openstreetmap.org/search?query=singapore#map=10/1.3224/104.0673"><img src="https://rubenerd.com/files/uploads/screenie.batam.singapore.jpg" alt="Singapore, Batam and Bintan on Google Earth" style="width:500px; height:280px"/></a></p>
 
