---
title: 'Batam trip: Straits of Singapore photos!' 
date: "2008-04-10T04:20:59+10:00"
year: "2008"
category: Thoughts 
tag: 
- batam
- container-ships
- singapore
location: Batam
---
<p>For 2 days last week my father, sister and I nipped next door (as it were!) to the Indonesian island of Batam for some much needed R and R. Given we&#39;ve all lived in Singapore on and off for over 10 years we figured we should explore the area around here some more instead of just travelling through Peninsular Malaysia or Bintan like we usually do.</p>
<p><a href="https://www.flickr.com/photos/rubenerd/2389473474/" title="Singapore skyline with ships by rubenerd, on Flickr"><img src="http://farm4.static.flickr.com/3055/2389473474_d8103af61b.jpg" width="500" height="375" alt="Singapore skyline with ships" /></a><br />
<cite>Singapore skyline in the distance on an overcast day</cite></p>
<p>The journey from Singapore to Batam was an adventure in itself! After we boarded the boat from the <em>Tanah Merah</em> ferry terminal we were zipping due south east through the aptly-named <em>Straits of Singapore</em>.</p>
<p><a href="https://www.flickr.com/photos/rubenerd/2388644037/" title="Tanah Merah ferry terminal by rubenerd, on Flickr"><img src="https://rubenerd.com/files/uploads/photo.tanahmerah.ferryterminal.jpg" width="500" height="160" alt="Tanah Merah ferry terminal" /></a><br />
<cite>Tanah Merah ferry terminal</cite></p>
<p>I had forgotton that the Port of Singapore was the busiest in the world, the entire time we were surrounded and navigating between the most gigantic ships I had ever seen! Liquid and gas tankers, container ships, sand barges… we never got too close to any of them but they still looked enourmous. It felt like we were travelling on water roads in a huge city out in the ocean!</p>
<p><a href="https://www.flickr.com/photos/rubenerd/2389474472/" title="Our first ferry to Batam :-) by rubenerd, on Flickr"><img src="http://farm3.static.flickr.com/2171/2389474472_7686da25a8.jpg" width="500" height="188" alt="Our first ferry to Batam :-)" /></a><br />
<cite>The boat that took us to Batam, as seen from other boat on our way back</cite></p>
<p>With the bobbing action of the boat it was hard to get clean shots, but these were some of the better ones. The photos do <strong>NOT</strong> do justice to the size of these ships!</p>
<p><a href="https://www.flickr.com/photos/rubenerd/2389474702/" title="Container ship in the Straits of Singapore by rubenerd, on Flickr"><img src="http://farm3.static.flickr.com/2210/2389474702_ecb9fda2b1.jpg" width="500" height="375" alt="Container ship in the Straits of Singapore" /></a><br />
<cite>And I thought just ONE of those containers was massive!</cite></p>
<p>These two shots provide some perspective. The ferry in the first shot is slightly larger than the ferry next to the tanker in the second shot!</p>
<p><a href="https://www.flickr.com/photos/rubenerd/2388643343/" title="Boat in the Straits of Singapore by rubenerd, on Flickr"><img src="http://farm4.static.flickr.com/3111/2388643343_d82919a45f_m.jpg" width="240" height="180" alt="Boat in the Straits of Singapore" /></a> &nbsp; <a href="https://www.flickr.com/photos/rubenerd/2389473852/" title="Empty tanker in the Straits by rubenerd, on Flickr"><img src="http://farm3.static.flickr.com/2417/2389473852_0266eacb13_m.jpg" width="240" height="180" alt="Empty tanker in the Straits" /></a></p>
<p>Photos from Batam <em>itself</em> are on the way!</p>
 
