---
title: 'Data capacity then and now, pretty amazing!' 
date: "2008-05-06T05:36:52+10:00"
year: "2008"
category: Hardware 
tag:
- hard-drives
- infocomm 
---
<p>For a high school assignment back in 2003 I had to demonstrate competency in a spreadsheet application by entering data and creating several charts, or to use the exact language from the assignment sheet: &quot;You must demonstrate competency in a spreadsheet application by entering data and creating several charts&quot;. I used the amount of rewritable computer data capacity I had on hand as my data.</p>
<blockquote><p><strong>ASIDE:</strong> Before I started using Macs as my primary machines I used Office 97 on my Windows machines. Even in 2003, I saw no compelling reason to use anything newer than Excel 97!</p></blockquote>
<p>Well here we are in 2008 and by chance while I was pouring through my backups trying to find an old text file, I found that old Excel spreadsheet file and was absolutely flabbergasted (is that a word?) by the hard disk sizes! So to put things into perspective I decided to quickly open the file in Gnumeric and add data from my recent drives, and just for fun the data from some of our older machines (I didn&#39;t bother with my dad&#39;s AT or anything older!).</p>
<p><em>File sizes are shown in the hard disk manufacturer&#39;s advertised sizes which assume 1 kilobyte = 1000 bytes</em></p>
<table style="border-collapse:collapse; border:0">
<tr>
<th style="vertical-align:top; padding:5px 10px;">Year</th>
<th style="vertical-align:top; padding:5px 10px;">Total Capacity</th>
<th style="vertical-align:top; padding:5px 10px;">Drives</th>
</tr>
<tr>
<td style="vertical-align:top; padding:5px 10px;">1994</td>
<td style="vertical-align:top; padding:5px 10px;">0.1GB</td>
<td style="vertical-align:top; padding:5px 10px;">internal<br />
We gave up on <a href="http://en.wikipedia.org/wiki/DoubleSpace">MS-DOS DoubleSpace</a> compression!</td>
</tr>
<tr>
<td style="vertical-align:top; padding:5px 10px;">1997</td>
<td style="vertical-align:top; padding:5px 10px;">5GB</td>
<td style="vertical-align:top; padding:5px 10px;">4GB internal<br />
100MB Zip disks x10</td>
</tr>
<tr>
<td style="vertical-align:top; padding:5px 10px;">2003</td>
<td style="vertical-align:top; padding:5px 10px;">190GB</td>
<td style="vertical-align:top; padding:5px 10px;">80GB x2 in Windows desktop<br />
30GB in iBook<br />
15GB iPod 3G</td>
</tr>
<tr>
<td style="vertical-align:top; padding:5px 10px;">2008</td>
<td style="vertical-align:top; padding:5px 10px;">4195GB</td>
<td style="vertical-align:top; padding:5px 10px;">60GB in MacBook Pro<br />
750GB in DIY FreeBSD desktop<br />
80GB in iBook<br />
160GB in Armada M300<br />
15GB iPod 3G<br />
60GB iPod 5G<br />
160GB USB 2.0 Iomega<br />
320GB USB 2.0 WD<br />
400GB FireWire 400 Seagate<br />
500GB FireWire 400 Maxtor<br />
750GB Gigabit NAS WD<br />
1TB Gigabit NAS WD
</td>
</tr>
</table>
<p>And what would these four capacities look like in comparison to each other if they were put into a fun but fairly useless graph?</p>
<p><img src="https://rubenerd.com/files/uploads/graph.capacity.png" alt="" style="height:368px; width:307px" /></p>
 
