---
title: '747 post, bad taking off pun' 
date: "2008-05-14T10:47:02+10:00"
year: "2008"
category: Thoughts 
tag: 
- airliners
- boeing-747
- pointless
- pointless-milestone
- transport 
---
<p>Despite WordPress assigning this post as <a href="//rubenerd.com/p1166/">p1166</a>, this is in fact the 747th post! Yes, it&#39;s time for another one of our <span style="text-decoration:line-through;">really hated</span> loved Useless Rubenerd Blog milestones!</p>
<p>Given the fact I&#39;m in the 700+ range of posts, there are some posts which have the same number as famous Boeing airliners. Being a huge fan of commercial aviation, I figured I&#39;d create some small posts about these planes. I missed the boat on the 707/720 and 727 (no, I&#39;m sorry the 717 was the MD-95!) but I did do one on the <a href="//rubenerd.com/p1155/">Boeing 737</a>.</p>
<p><a href="http://commons.wikimedia.org/wiki/Singapore_Airlines"><img src="https://rubenerd.com/files/uploads/photo.744.sia.jpg" alt="Boeing 747-400 series Singapore Airlines" style="width:500px; height:200px;"/></a></p>
<dl>
<dt>The first things</dt>
<dd>The Boeing 747 is perhaps the most recognisable and well known commercial airliner (aside from the Concorde and the Spruce Goose!). It was the world’s first wide-bodied airliner and one of the earlist to use huge, high bypass turbofan engines which were much quieter and more fuel efficient than the slimmer but much more noisy and smoke producing turbojets of earlier planes.</dd>
<dt>Why the 747 has that &quot;hump&quot;</dt>
<dd>The placement of the cockpit on a deck above the primary seating area (on the &quot;hump&quot; as it were) was <strong><em>not</em></strong> done initially to allow for a second deck of passengers, but purely for helping with the transport of cargo.
<p>Having the cockpit in a second level allowed the main nose area of the 747 to open up like a hinge: this meant large cargo containers could easily be loaded and offloaded. It also helped to protect the pilots from containers crushing them from behind if the plane went into free-fall or crashed. Ouch!</p>
<p><a href="en.wikipedia.org/wiki/Image:Cargolux_B747-400F.jpg"><img src="https://rubenerd.com/files/uploads/photo.744.cargolux.jpg" alt="Boeing 747-400 series Cargolux" style="width:460px; height:240px;"/></a></p></dd>
<dt>Future proofing for SSTs</dt>
<dd>The 747 was deliberately designed to be future proof for airlines that purchased them. At the time, Boeing theorised that most people would be flying in supersonic airliners from the 1970s onwards, so they designed the 747 with cargo friendly features so that passenger versions could easily be converted into freighters in the future. Therefore they could sell more planes to airlines with the assurance they’d still be useful when SSTs (super sonic transports, like Concorde) took over.
<p>Of course, we all know that SSTs were a colossal flop, but at the time they seemed like the future.</p></dd>
<dt>Versions</dt>
<dd>The initial 747-100 (<em>1970</em>) was designed with a very small &quot;hump&quot; which was used as a passenger relaxation area and bar; according to Wikipedia Boeing simply didn’t know what to do with that small amount of space! The 747-200 (<em>1971</em>) replaced the lounge with regular passenger seating, and the 747SP (<em>1976</em>) (for special performance) was created with a shorter fuselage to increase range.
<p>The 747-300 (<em>1980</em>) was the first of the next generation of 747s which had a SUD (stretched upper deck) as default which allowed for more seating on the top deck; it also had more efficient engines and a greater range. The 747-400 (<em>1989</em>) was radically redesigned with more advanced electronics, a glass cockpit (replacing mechanical dials with computer screens) and winglets to improve fuel efficiency and range.</p>
<p>The 747-8 is the intended successor expected to enter service in 2010 to compete with the Airbus A380. Given industry delays, we can expect it sometime in 2094.</p></dd>
</dl>
<p><a href="http://www.airliners.net/photo/Qantas/Boeing-747-438-ER/1251342/L/&#038;width=1024&#038;height=695&#038;sok=&#038;photo_nr=143&#038;prev_id=1251952&#038;next_id=1250856"><img src="https://rubenerd.com/files/uploads/photo.744.qantas.jpg" alt="Boeing 747-400 series Qantas." style="width:500px; height:210px;"/></a></p>
 
