---
title: 'Fun with Xfce, part two' 
date: "2008-06-17T07:03:46+10:00"
year: "2008"
category: Software
tag:
- bsd
- freebsd
- guide
- howto
- infocomm
- linux
- netbsd
- x11
- xfce 
---
<blockquote><p>This post is part of a series on Xfce, originally posted on my university blog. I’m republishing them here in the hopes that others might find them useful or interesting. Cheers!</p></blockquote>
<p>In my <a href="//rubenerd.com/p1185/">Fun with Xfce part one</a> post I explained that I find <a href="http://xfce.org/">Xfce</a> such a pleasure to use because it&#39;s fast, lightweight and has natural visually consistency with my <a href="http://gtk.org/">GTK+</a> apps without the bloat of <a href="http://gnome.org/">GNOME</a>, while still providing a cohesive desktop experience with functional applications. In this post I&#39;ll be explaining how to install it.</p>
<blockquote><p><strong>ASIDE:</strong> If you want to give Xfce a try without going through the process of using a package manager and configuring Xorg, the <a href="http://zenwalk.org/">Zenwalk</a> and <a href="http://xubuntu.org/">Xubuntu</a> GNU/Linux distributions have Xfce as their default desktops, plus they have very slick installers and are <strong>very</strong> newbie friendly.</p></blockquote>
<p>What&#39;s so liberating about using Xfce as opposed to GNOME or KDE is how lightweight it is and how few dependencies it has in comparison. This is especially noticeable on computers with less storage space, and slower machines which can literally take an entire day to build a desktop environment from source, if that&#39;s your preferred installation method. Of course this means that Xfce is missing some features, but I don&#39;t find myself missing any of them.</p>
<p><img src="https://rubenerd.com/files/uploads/screenie.aboutxfce.freebsd.png" alt="Xfce About dialog box, Terminal window showing FreeBSD uname" style="width:500px; height:250px;" /></p>
<p>My experience with package managers are really limited to the <a href="http://freebsd.org/">FreeBSD</a> <a href="http://freshports.org/">ports system</a> and <a href="http://netbsd.org/">NetBSD&#39;s</a> <a href="http://pkgsrc.se/">pkgsrc</a> (on NetBSD and <a href="http://slackware.com/">Slackware Linux</a>), so these will be the systems I&#39;ll talk about here. Most *nix package management systems have Xfce though, and most have an easy to install &quot;meta&quot; package that contains the whole desktop.</p>
<p>To install a complete Xfce desktop on FreeBSD (I&#39;m assuming you already have X installed and configured), update your ports tree (visit the <a href="http://www.freebsd.org/doc/en_US.ISO8859-1/books/handbook/ports-using.html">Using the Ports System</a> chapter in the FreeBSD handbook if you need help) then compile and install. Alternatively you can install the <a href="http://www.freebsd.org/doc/en_US.ISO8859-1/books/handbook/packages-using.html">pre-compiled package</a> which is generally up to date with Xfce&#39;s releases (currently at 4.4.2).</p>
<p>For FreeBSD ports:</p>
<pre>
# cd <a href="http://www.freshports.org/x11-wm/xfce4/">/usr/ports/x11-wm/xfce4</a>
# make install clean
</pre>
<p>Or the FreeBSD metapackage:</p>
<pre>
# pkg_add -rv xfce4
</pre>
<p>With NetBSD’s pkgsrc, the procedure is just as easy:</p>
<pre>
# cd <a href="http://pkgsrc.se/meta-pkgs/xfce4">/usr/ports/meta-pkgs/xfce4</a>
# make install clean clean-depends
</pre>
<p>Then it&#39;s simply a matter of adding <code>exec startxfce4</code> to your <code>.xinitrc</code> file in your home directory; create it from scratch if it doesn&#39;t exist. Make sure to comment out any other lines related to other desktops and/or window managers you might have installed (but obviously keep lines you may have added to have X11 applications start automatically when you launch X).</p>
<p>Typing <code>startx</code> at this point will start X and your new Xfce desktop!</p>
<blockquote><p><strong>ASIDE:</strong> If you haven’t aliased your machine’s hostname to <code>127.0.0.1</code> in your <code>/etc/hosts</code> file, Xfce will give you a warning message. You can safely ignore it, but it can get irritating after a while! Edit your host file to fix this.</p></blockquote>
<p>In the next post I&#39;ll be explaining how I pretty up Xfce by adding new themes and icon sets, and how to make it look like other desktops. Stay tuned.</p>
 
