---
title: 'Brian Jude rocks, chemtrails, Hanlon’s razor' 
date: "2008-05-25T05:17:31+10:00"
year: "2008"
category: Media
tag:
- brian-jude
- conspiracy-theories
- hanlons-razor
- podcasting
- science 
---
<p>Brian Jude has been listening to some <a href="//rubenerd.com/show/">Rubenerd Shows</a>, and surprisingly he&#39;s still alive to talk about the experiences afterwards! In his latest detailed comment over on <a href="//rubenerd.com/show235/">Rubenerd Show 235 (2008.04.10)</a>, he made some really nice comments, along with his review of the chemtrail part of the show:</p>
<blockquote><p>Hey, Ruben! Just finished listening to your dad’s debunking of chemtrails.</p>
<p>What strikes me is his claim that it would take hundreds of planes to affect anyone. Hate to break it to you, but I’m pretty sure there ARE hundreds of planes (I’m sure at least around 100 daily) over the skies of the NYC area dumping this stuff on us. Add to the fact that this has been going on for many years…</p>
<p>And mind control is only one theory of what they’re for. It could also be weather modification, among other theories.</p>
<p>Very curious what your father would say if he read all of the information there is out there, and what he could debunk, and what might make him think could be the explanations!</p>
<p>I’m really loving your show, BTW. Keep up the great work!!!</p>
<p>Brian</p></blockquote>
<p>Unfortunately my dad doesn&#39;t come back from his latest business trip until tomorrow, but I posted a response to help defend his position:</p>
<blockquote><p>G’day Brian, thanks for your response, I’m glad you like the show!</p>
<p>As for the hundreds of aeroplanes comment, Singapore is a global hub for Asian-Pacific air travel itself as New York is important, the difference is that not all of these aircraft are over the same, small enough airspace at the same time, and even if they were the supposed biological or chemical mind control material they’d be spewing would not only be oxidised (something I forgot to mention on the show) by the engines and chemically altered when they were superheated, but dissipation forces would render them useless by the time they reached us.</p>
<p>You also have to notice how these purported mind control chemtrails have changed shape and appearance over the years as jet engines themselves have evolved to turbofans, to more efficient turbofans etc. If they really were specifically spewing chemicals, you would expect a similar visual pattern regardless of the aircraft dumping it.</p>
<p>Call me an anti-conspiracy theory guy, but the evidence for most conspiracy theories are either insufficient or downright terrible! I am a skeptic and don’t believe everything I’m told (I’m sure we all are to a certain extent), but asserting something on insufficient evidence sounds much more like Illuminati thinking than the events they’re supposedly uncovering. I’d go so far as to say that people who form conspiracy theories and who misinform people who then take those theories seriously (as opposed to fun, idol speculation we all have from time to time!) is almost akin cult thinking, and is actually not just some harmless fun to those who take them seriously, but is causing real and observable sociological damage.</p>
<p>That could just be me though! Personally I think <a href="http://en.wikipedia.org/wiki/Hanlon%27s_razor">Hanlon’s razor</a> answers most conspiracy theories quite well, in a fun tongue and cheek way! I guess my biggest problem with people who have conspiracy theories is that they can’t laugh about it. If we don’t have a sense of humour about things, what’s the point of living? Plus what’s a surer sign of confidence than someone who can poke fun at their own position right? :)</p>
<p>Thanks again for the positive comments, I’m no Frank Nora, Jim Kloss, Israel Brown or Brian Richmond but I’m giving it a shot!</p>
<p>Cheers<br />
Ruben</p></blockquote>
<p>I&#39;ll be off to Malaysia tomorrow, so depending on whether I can get internet access I may not be able to reply to any comments over the next few days.</p>
<p><img src="https://rubenerd.com/files/uploads/lazy-conspiracy-theorist.png" alt="The Lazy Conspiracy Theorist" style="width:320px; height:356px;" /></p>
 
