---
title: 'Backing up CDs to ISOs on FreeBSD' 
date: "2008-07-09T05:35:11+10:00"
year: "2008"
category: Software
tag:
- bsd
- cd
- dd
- freebsd
- guide
- howto
- infocomm
- iso 
---
<p>I remember back in 1995 when I was 9 years old our family excitedly got its first CD-ROM drive. This was just before we moved to <a href="http://www.visitsingapore.com/">Singapore</a> and were still living in <a href="http://www.queenslandholidays.com.au/destinations/brisbane/">Australia</a>, and that small little Creative Hex Speed optical spinning wonder cost us a small optical spinning fortune. It was proudly installed above the 5.25 inch floppy drive in our generic 486SX PC clone tower. It came with 10 CDs, we had 2 already. I still have that CD-ROM drive.</p>
<blockquote><p>MENTAL NOTE: Spend less time on the introductions and more on the actual content on the post. Nobody cares about your first CD-ROM drive!</p></blockquote>
<p>Here we are in 2008 and despite the fact I haven&#39;t toasted or bought a CD for years I&#39;m literally swimming in <em>thousands</em> of them. As a Windows user back in the dark days I remember I used <a href="http://en.wikipedia.org/wiki/Nero_Express">Nero Express</a> to create backup ISOs out of CDs, then either burn those ISOs to a single DVD or store them on a backup hard disk. Fortunately <a href="http://www.freebsd.org/">FreeBSD</a> has similar capabilities with the venerable command line <a href="http://www.freebsd.org/cgi/man.cgi?query=dd">dd utility</a>.</p>
<p><img src="https://rubenerd.com/files/uploads/icon.tango.driveoptical.png" style="width:384px; height:128px;" alt="Spiffy somewhat related icons from the Tango Desktop Project" /><br />
<cite>Spiffy icons from the <a href="http://tango.freedesktop.org/Tango_Desktop_Project">Tango Desktop Project</a></cite></p>
<p>Insert the CD you want to copy (no, really?), then enter the line below. Substitute <code>acd0</code> with an alternative device if you have multiple optical drives:</p>
<pre># dd if=/dev/acd0 of=[YOUR_NAME_OF_IMAGE].iso bs=2048</pre>
<p><em>This will take some time.</em> Naturally the CPU power your machine has and the read speed of your optical drive will affect performance. A 52x optical drive on my 3.0GHz E8400 Core 2 Duo desktop takes a few minutes, my MacBook Pro a few minutes longer still, I&#39;m sure our family 486 with a hex speed drive would take <cite>considerably</cite> longer!</p>
<p>For what it&#39;s worth, the same procedure can be used on NetBSD and Mac OS X from my own testing. Just switch the virtual device <code>/dev/acd0</code> with the relevant line for your OS. Isn&#39;t BSD heritage fantastic? :-)</p>
 
