---
title: 'Internode rocks!' 
date: "2008-08-14T08:46:57+10:00"
year: "2008"
category: Internet
tag:
- australia
- google-maps
- infocomm
- internode
- telstra 
---
<blockquote><p><strong>ASIDE:</strong> This is not a paid advertisement, despite it reading as such. Having something go well for me is a big thing you see!</p></blockquote>
<p>After several weeks of disastrous encounters with phone companies (Telstra and <a href="//rubenerd.com/p1274/">Virgin Mobile</a>, I&#39;m looking at you guys!) something has finally gone well: I&#39;m typing this post from our newly established Internode ADSL connection!</p>
<p><img src="https://rubenerd.com/files/uploads/screenie.internode.connect.png" alt="FreeBSD sees RubenerdShow.com, for the first time in a while!" style="height:275px; width:500px" /></p>
<p><a href="http://www.internode.on.net/">Internode</a> (<a href="http://en.wikipedia.org/wiki/Internode_Systems">Wikipedia link</a>) is a local, Adelaide based internet service provider that, unlike other ISPs in Australia I&#39;ve had experience with, have two very important things going for them: their heads are screwed on and their arses aren&#39;t on fire! We went from applying for a connection from scratch, to having a modem and working connection in less 4 days.</p>
<dl>
<dt>Monday, 11th August</dt>
<dd>Registered online for ADSL2+ broadband plan</dd>
<dt>Tuesday, 12th August</dt>
<dd>Recieved SMS saying that our local phone exchange isn’t ADSL2+ ready and that they can’t connect us (Telstra’s fault, not theirs). Went online and changed the plan to ADSL 8Mb/s</dd>
<dt>Thursday, 14th August</dt>
<dd>Recieved SMS saying we were all connected and ready to go. Went into the city and picked up the modem, went back home and went to RubenerdShow.com :-)</dd>
</dl>
<p><img src="https://rubenerd.com/files/uploads/logo.internode.png" alt="Internode logo thingy" style="float:right; margin:0 0 10px 20px; height:124px; width:124px;" /> What blew me away even more than their timeliness (is that a word?) was their customer support. When we registered online, I chose the option to pick up the modem from their office in the CBD instead of waiting for a courier delivery. <a href="http://www.adelaidemetro.com.au/routes/interchanges/mawson_inter.html">Getting the train</a> into the city from Mawson Lakes only takes 20 minutes or so, and I figured I might as well save the $15 and grab a bite to eat. What, I&#39;m not allowed to eat? I&#39;m only human.</p>
<p>When I arrived in the city, I went to their office to get the connection finalised and collect the modem:</p>
<dl>
<dt>11:29</dt>
<dd>Walked into building. Told receptionist what I was there for. Was directed to a counter. Noticed all their computers were aluminium iMacs and their chairs were bright orange… very important!</dd>
<dt>11:30</dt>
<dd>Was told that my credit card worked and that the new connection was successful. Was told to wait while their technician configured the new modem. Was asked if I wanted to pay for the modem with the same credit card they had on file. Naaaaaaaaaah worries.</dd>
<dt>11:38</dt>
<dd>Walked out of customer service centre with modem and activated account.</dd>
</dl>
<p>Compared to <a href="http://www.netspace.net.au/">Netspace</a> that sent <a href="http://ths-k.com/">Kevin Tan</a> and I a faulty modem back in 2005 and took a whopping two months to get connected as a result, and <a href="http://www.tpg.com.au/">TPG Australia</a> that took over three weeks, this was fantastic! <a href="http://www.virginbroadband.com.au/">Virgin Mobile Broadband</a><em>get a clue</em>!</p>
<blockquote><p><strong>ASIDE:</strong> If you didn’t <a href="//rubenerd.com/p1274/">read my adventure</a> with Virgin Mobile’s Wireless Broadband service, they wouldn’t let me register before I provided an Australian bank statement as &quot;capacity to pay&quot;. My Singaporean bank accounts and credit cards were useless despite them meeting the minimum requirements and then some. Fine with me, I took my business elsewhere!</p></blockquote>
<p><a href="http://maps.google.com/maps?f=q&#038;hl=en&#038;geocode=&#038;q=internode+house,+adelaide&#038;jsv=123&#038;sll=37.0625,-95.677068&#038;sspn=43.983628,59.589844&#038;ie=UTF8&#038;ei=kwqkSPKoKp2cjQP08uWOCg&#038;sig2=VlTGLQA6KUlltUEV8R-x9w&#038;cd=1&#038;cid=-34923710,138604645,9734809632321474026&#038;li=lmd"><img src="https://rubenerd.com/files/uploads/photo.googlemaps.internode.jpg" alt="Internode House on Grenfell St, from Google Maps street view" /></a><br />
<cite>Internode House on Grenfell St, from Google Maps street view</cite></p>
<p>As a free and open source software advocate (no, me, really?) what really impresses me about Internode is that they&#39;re also an officially licenced mirror of <a href="http://sourceforge.net/">SourceForge</a>, meaning when I download software I&#39;m getting it from a server that&#39;s geographically next door, and doesn&#39;t count towards the monthly quota. They also have another comprehensive local software mirror that includes amongst other software… FreeBSD ISO images :-).</p>
<p>Unfortunately as I elaborated in a previous post, our local telephone exchange&#39;s DSLAM isn&#39;t ADSL2+ ready, meaning we&#39;re stuck with 8Mb/s 40GiB-limit plan until at least the end of the year. Telstra trying to get to me again it seems… what an oven of stupid grilled cheese sandwiches.</p>
<blockquote><p><strong>ASIDE:</strong> What’s the collective term for grilled cheese sandwiches? Chuck Peddle?</p></blockquote>
 
