---
title: 'It turned into a Vim and GNU nano ramble post' 
date: "2008-08-20T01:54:51+10:00"
year: "2008"
category: Software
tag:
- dire-straits
- emacs
- infocomm
- suzumiya-haruhi
- vi
- vim 
---
<p>Because I still don&#39;t have my audio equipment and therefore can&#39;t record <a href="//rubenerd.com/show/">Rubenerd Shows</a>, as usual I have to offload my scattered thoughts and ramblings here instead. For a more authentic Rubenerd Show experience, try reading the post out loud to thin air with a somewhat Aussie accent that people in Singapore and Malaysia think sounds more British, and sprinkle in a few <em>&quot;that doesn&#39;t make any sense&quot;</em>, <em>&quot;what bothers me about the whole thing&quot;</em> and <em>&quot;I like grilled cheese sandwiches&quot;</em> remarks.</p>
<p><a href="https://www.flickr.com/photos/rubenerd/226687107/"><img src="http://farm1.static.flickr.com/96/226687107_49d946c75e.jpg" alt="View outside the Boatdeck Cafe" style="height:375px; width:500px" /></a><br />
<cite>View outside the Boatdeck Cafe, from my <a href="https://flickr.com/photos/rubenerd/">Flickr profile</a></cite></p>
<p>I&#39;m sitting at the <a href="http://theboatdeck.com.au">Boatdeck Cafe</a> in <a href="http://www.mawsonlakes.com.au/">Mawson Lakes</a> once again on my laptop. Despite getting broadband at the house only last week, I&#39;m the kind of person who can&#39;t live his whole life at either work, uni or home. Check that, I&#39;m the kind of person who can&#39;t do <em>work</em> just at work, uni or home. For some reason I&#39;m always more productive at coffee shops. I can&#39;t imagine what I might be ingesting there that would cause me to act differently.</p>
<p>To continue this post by not actually mentioning anything of substance, I&#39;m typing this post using <a href="http://www.vim.org/">Vim</a> in the Terminal on my MacBook Pro. After a brief flirtation with <a href="http://macromates.com/">TextMate</a> last year and an even briefer encounter with Apple&#39;s bundled TextEdit.app, I&#39;m back to the command line. To tell the truth for the longest time I was a <a href="http://www.nano-editor.org/">GNU nano</a> person; it was the first text editor I ever learned to use on a Unix-like system back when I had my first job during high school, and I loved how straightforward and simple the commands were. I even wrote a few wrapper scripts around it to make it more flexible back when I was obsessed with Perl. I still really like nano.</p>
<pre>
                :::                         The
  iLE88Dj.  :jD88888Dj:
.LGitE888D.f8GjjjL8888E;       .d8888b.  888b    888 888     888
iE   :8888Et.     .G8888.     d88P  Y88b 8888b   888 888     888
;i    E888,        ,8888,     888    888 88888b  888 888     888
      D888,        :8888:     888        888Y88b 888 888     888
      D888,        :8888:     888  88888 888 Y88b888 888     888
      D888,        :8888:     888    888 888  Y88888 888     888
      D888,        :8888:     Y88b  d88P 888   Y8888 Y88b. .d88P
      888W,        :8888:      "Y8888P88 888    Y888  "Y88888P"
      W88W,        :8888:
      W88W:        :8888:     88888b.   8888b.  88888b.   .d88b.
      DGGD:        :8888:     888 "88b     "88b 888 "88b d88""88b
                   :8888:     888  888 .d888888 888  888 888  888
                   :W888:     888  888 888  888 888  888 Y88..88P
                   :8888:     888  888 "Y888888 888  888  "Y88P"
                    E888i
                    tW88D                 Text Editor
</pre>
<p><cite>Fancy ASCII art from the Nano homepage.</cite></p>
<p>Anyway back to Vim: I have been used to using vi and vim for a while now, but only recently have I started using Vim almost exclusively. I absolutely love how I can throw source code written in virtually any programming language or script and it will detect it and give it the correct syntax highlights. I’m a very visual person, and reading code in Vim is an absolute pleasure. I’ve also got used to modal data entry and know most of the basic commands. What astonishes me though is in learning Vim you uncover even more functions you didn’t know existed. In a way, you don’t know how little you know until you’ve learned how to use some of it, if that makes any sense, which I’m sure it didn’t.</p>
<p>Reading back to an earlier edition of the <a href="http://linuxformat.co.uk">Linux Format</a> magazine from the UK, I came across a project called <a href="http://cream.sf.net/">Cream</a> which essentially takes Vim and adds a whole tone of extra features and changes some of the more ambiguous commands. I’m hesitant to try it out until I’m off my training wheels using Vim as it is: I’m worried if I got used to using a fuzzy extra layer on top of Vim instead of Vim itself I’ll never learn how to use it properly. It does look really interesting though, if you’ve had experience with it I’d love to hear about it.</p>
<p><a href="http://www.peterkrantz.com/2006/vim-keyboard/"><img src="https://rubenerd.com/files/uploads/photo.vimkeyboard.jpg" alt="Peter Krantz's ultimate VIM Keyboard!" style="width:500px; height:244px;" /></a><br />
<cite><a href="http://www.peterkrantz.com/2006/vim-keyboard/">Peter Krantz’s</a> ultimate VIM Keyboard!</cite></p>
<p>Well how about that, this post which started off as useless rambling is actually going somewhere. Wonders never cease. Except in black holes; I heard the gravity in black holes is so strong not even light or wonders can escape, let alone ceasing wonders.</p>
<p>The last thing to mention with regards to Vim is whether it’s worth running a graphical version. On Mac OS X I have several options: the <a href="http://code.google.com/p/macvim/">MacVim</a> project provides a native Aqua graphical port complete with Safari-like tabbing and Mac-like anti-aliased text. Alternatively I can just fire up <a href="http://www.macports.org/">MacPorts</a> and install <a href="http://trac.macports.org/browser/trunk/dports/editors/vim/Portfile">Vimwith gtk enabled</a> , then launch it from the Terminal with the -g option.</p>
<p><a href="http://code.google.com/p/macvim/"><img src="https://rubenerd.com/files/uploads/screenie.macvim.jpg" alt="MacVim on Mac OS X Leopard" style="height:200px; width:500px;" /></a><br />
<cite><a href="http://code.google.com/p/macvim/">MacVim</a> on Mac OS X Leopard.</cite></p>
<p>Having chosen the former and used it for a few hours, I appreciate being able to launch Vim from a slick icon on the Dock and having it associate with text and source code files in the Finer, but aside form those I don’t see any real difference. It has a toolbar, but I fail to see what the point is considering Vim is a keyboard driven application! And while the tabs are nice to use, I find it much easier just using a tabbed shell emulator with a seperate Vim session running in each, and tweaking my <code>.vimrc</code> to enable syntax highlighting and a few other options. For what it’s worth, I know the commandline Vim supports multipe documents per session too, and I’m sure as I get more used to it I’ll be trying it out, but for now this is a nice compromise.</p>
<p>I’m also aware that as a Vim user I’m supposed to make a comment about how the Emacs editor is unnecessarily bloated, suffers from acute feature creep, takes far too long to load, is unreliable, has a crappy logo, doesn’t work as well over a bandwidth-constricted SSH session, flies in the face of the Unix philosopy of only doing one thing and doing it well, uses ridiculous key combinations, induces premature carpel tunnel syndrome, accelerates arthritis in the fingers and looks cheaper when run as a graphical GTK application… but I’m going to take the high road in this case and refrain from comment ;-).</p>
<p><img src="https://rubenerd.com/files/uploads/anime.haruhi.figures.jpg" alt="Photo of a flustered Miku as Haruhi looks at a fig rendition of her." style="height:340px; width:500px" /><br />
<cite>One of the longest running posts on my Anime blog is what editors the peoples from Suzumiya Haruhi no Yūutsu would use. Haruhi probably uses Emacs because she’s such a control freak, Mikuru probably uses Vi because she’s a time traveller and needs travel light, and Yuki simply sends hexadecimal code from her brain. We have interesting conversations at 2am when we’re half asleep.</cite></p>
<p>In other news, Ruben was bashed up this afternoon by a band of Emacs programmers who said that his editor of choice didn’t even have an email client, <a href="http://www.macosxhints.com/article.php?story=20050103201954271">tetris game</a> or coffee machine built into it. Ruben attempted to retort by claiming that he was in fact glad that his editor of choice couldn’t be used to send email, play tetris or brew coffee, but he was out cold before he got the chance. For what it’s worth, they spared his life because he mentioned that Windows was ikky, that he thought Japanese and Korean culture is cool and that he didn’t have a girlfriend. Had he been wearing a Vista lanyard, he would have been in dire straits.</p>
<blockquote><p>
Here I am again in this mean old town<br />
And youre so far away from me<br />
And where are you when the sun goes down<br />
Youre so far away from me …</p>
<p>… Custom kitchen delivery<br />
We’ve gotta move these refrigerators<br />
We’ve gotta move these colour tee-veeeeees…
</p></blockquote>
<p><strong>UPDATE:</strong> I admit I&#39;ve started using MacVim after all. It just looks too nice to pass up, and it fits in so well with the rest of the desktop.</p>
 
