---
title: 'VIDEO: Replacing the fan in my MacBook Pro' 
date: "2008-08-31T08:57:34+10:00"
year: "2008"
category: Hardware 
tag:
- apple
- guide
- howto
- infocomm
- macbook-pro
- pbparts-com
- youtube 
---
<p>For about a year now my MacBook Pro exhibited horrible grinding, rattling sounds on the right hand side of the unit, just below the power button. After doing a bit of research I realised that I had a damaged fan (Apple unit number 922-7194), and while I could have tried lubricating the existing one, I decided to play it safe and just buy a replacement. <a href="http://www.pbparts.com/shop.php//9227194.html">PBParts.com</a> had the best overall price for the unit and international shipping to Australia, and had the unit to me in less than 2 weeks with economy mail.</p>
<p>Rather than take photos as I usually do for such projects, I decided to edit together a crappy little video showing what I did, and so you could hear the difference yourself! I just can&#39;t believe how whisper quiet this MacBook Pro is again, I literally cannot hear it unless I turn off every other appliance and peripheral in the room!</p>
<p>Apologies to my readers on BSD, alas because my current host&#39;s bandwidth quota is almost used up, I&#39;ve had to uploaded the video on YouTube.</p>

<p><a href="https://www.youtube.com/watch?v=ueqA_1BE6_U" title="Play Rubenerd Blog: Replacing MacBook Pro fan"><img src="https://rubenerd.com/files/2006/yt-ueqA_1BE6_U@1x.jpg" srcset="https://rubenerd.com/files/2006/yt-ueqA_1BE6_U@1x.jpg 1x, https://rubenerd.com/files/2006/yt-ueqA_1BE6_U@2x.jpg 2x" alt="Play Rubenerd Blog: Replacing MacBook Pro fan" style="width:500px;height:281px;" /></a></p>

