---
title: 'BeOS, the Amiga, now the iPhone?' 
date: "2008-09-26T01:53:32+10:00"
year: "2008"
category: Hardware 
tag:
- amiga
- apple
- beos
- infocomm
- iphone
- itelephone
- news
- operating-systems
- phones
- pointless-anime-references
- rant 
---
<p><img src="https://rubenerd.com/files/uploads/anime.hurtsthebrain.jpg" alt="It hurts the brain!" style="width:480px; height:320px;" /><br />
<cite>It hurts the brain!</cite></p>
<p>I&#39;ve always thought it&#39;s a tragedy when a beautiful and elegant computer or other device is created that is such a pleasure to use and above everything else on the market, only to be snuffed out or not taken seriously when inept management and legal teams mess up their customer base and public perception by doing daft things, or conversely not doing enough. The <a href="http://en.wikipedia.org/wiki/Amiga">Commodore Amiga</a> is one example. The <a href="http://en.wikipedia.org/wiki/Smart_(automobile)">Swatch Smart car</a> is another. <a href="http://en.wikipedia.org/wiki/BeOS">BeOS</a> is another. I could go on and on.</p>
<p>Unfortunately it seems Apple&#39;s legal team is doing the same thing with the iPhone. Hooray.</p>
<p>As I&#39;ve recently discussed on <a href="//rubenerd.com/show252/">Rubenerd Show 252</a> and in an <a href="//rubenerd.com/p1722/">earlier post</a> here, I&#39;ve made clear how much I love my new toy and how it&#39;s quite possibly the greatest gadget I&#39;ve ever owned. This doesn&#39;t mean I have not been aware of some head-smackingly stupid decisions on Apple&#39;s part over the last few months, not least the issue with blocking some legitimate software from appearing on their Application Store. For those who don&#39;t know what I&#39;m taking about, here&#39;s a summary from <a href="http://gizmodo.com/5049325/app-store-blacklist-podcaster-too-itunesy">Gizmodo dated 12th September</a>:</p>
<blockquote><p>
The latest casualty in Apple’s App Store blacklisting is Podcaster. A native app built according to exact SDK specifications, it goes beyond its creator’s web-bound streaming-only Podcaster.fm by letting you download and manage podcasts in a nice straightforward interface. Insidious, right? Apple thought so.</p>
<p>According to Podcaster’s blog, Apple explained why it booted Podcaster from the App Store: &#8220;Since Podcaster assists in the distribution of podcasts, it duplicates the functionality of the Podcast section of iTunes.&#8221;
</p></blockquote>
<p>I don&#39;t know what person in Apple thought blocking applications that supposedly copy some functionality in their own software was a good idea from a technical or public relations standpoint, but I suspect the dope their smoking must be awfully powerful!</p>
<p>If this wasn&#39;t ridiculous enough, my forehead hurt even more this morning by bashing it on the table in front of me when I read that not only are Apple blocking some applications for the dubious reason stated above, but their even forcing blocked application developers to keep their mouths shut about it! Do they honestly think this will save them from this public relations nightmare: just censor the people getting screwed over? According to <a href="http://www.techradar.com/news/portable-devices/apple-goes-big-brother-on-app-store-rejects-470545">Tech Radar</a> this morning:</p>
<blockquote><p>
Apple has decided that enough is enough when it comes to people publishing the reasons they have had their applications rejected from the App Store.</p>
<p>Where before people wanted to highlight the reasons why their app had been rejected, Apple no longer wants to have its reputation sullied in this manner.</p>
<p>Every time a user now gets a rejection, the message: THE INFORMATION CONTAINED IN THIS MESSAGE IS UNDER NON-DISCLOSURE is displayed clearly in the letter.
</p></blockquote>
<p>I dislike the Google Android platform both from a technical and usability standpoint and think the devices they run on look like they came out of a 1996 computer magazine catalogue, but the one thing they have going for them is that it&#39;s a (mostly) open platform without this nonsense. I prefer using the iPhone but I&#39;m hoping Google can pick up their game and become a real competitor to get Apple back on track.</p>
<p>In the meantime Apple, please don&#39;t repeat history as with so many of the other brilliant software and hardware devices I mentioned at the beginning by stuffing up your device with this nonsense! You&#39;ve already shot yourselves in the foot twice already, for heavens sake, you&#39;re running out of limbs!</p>
<p><img src="https://rubenerd.com/files/uploads/screenie.iphone.legalcrap.png" alt="Screenshot from my iPhone" style="height:480px; width:320px;" /></p>
 
