---
title: 'Addressing some MacBook FireWire arguments' 
date: "2008-10-22T03:12:42+10:00"
year: "2008"
category: Hardware 
tag:
- apple
- firewire
- infocomm
- macbook
- macbook-firewire-debacle 
---
<p><a href="//rubenerd.com/tag/macbook-firewire-debacle/"><img src="https://rubenerd.com/files/uploads/logo.macbook.debacle.png" alt="The MacBook FireWire Debacle" style="height:120px; width:500px" /></a></p>
<blockquote><p><strong>ASIDE:</strong> I had not intended my critique of Apple’s disastrous decision not to include FireWire on their MacBooks to become a multiple post saga, but the more I learn about this decision and the more I read up upon it, the more I think this really is a mistake.</p>
<p>We love Apple’s products and we want them to succeed, so we think this really is a terrible decision. We know Apple will probably ignore us, but it’s worth a shot generating some noise right?</p></blockquote>
<p>In today&#39;s investigation of the <a href="//rubenerd.com/tag/macbook-firewire-debacle">MacBook FireWire Debacle</a>, I&#39;ll be looking into some of the arguments that seem to appear time and time again in every 600 page MacBook FireWire removal forum thread across the intertubes.</p>
<dl>
<dt>Removing FireWire it is the same as removing the floppy drive on the iMac.</dt>
<dd>This question went first, because I can tell rebuttals of my responses below would probably discuss obsolescence and the idea you can still buy older versions.
<p>That there is a <em>substantial</em> difference between getting rid of a floppy drive or other legacy devices, and getting rid of FireWire. In the case of the floppy drive, CD burners and the &#8220;super floppies&#8221; (LZ120, Zip) were clearly superior replacements, and you could buy inexpensive USB floppy drives. With these MacBooks, USB 2.0 is the only possible replacement, and it’s not superior.</p></dd>
<dt>Most people I know have never heard of FireWire</dt>
<dd>Most people I know have. And if they haven’t, tech savvy friends or family have bought them FireWire drives for use with Time Machine, camcorders for iMovie etc. Would the removal of a port to save a few dollars make up for the money they would lose from customers holding off purchases?</dd>
<dt>You can just buy a USB 2.0 to FireWire cable</dt>
<dd>Even if we assumed such devices for Mac exist (and I’m not sure they do), they would not address the underlying problem. Serial and ADB to USB adaptors worked because USB is an improvement.</dd>
<dt>Grilled cheese sandwiches taste great with maple syrup and hot fudge</dt>
<dd>I’ll have to take your word on that.</dd>
<dt>If you can afford expensive FireWire cameras, you can afford to buy the MacBook Pro which has FireWire.</dt>
<dd>Many professional users use powerful desktop computers, and a more lightweight laptop for when they need to go. For many, the MacBook Pro is simply too big and heavy.
<p>The statement is a tad arrogant. Given people who buy MacBooks are buying them because they’re cheaper, doesn’t it make sense that said customers would also be less able to buy new audio and video equipment too that might be older and only have FireWire ports? The primary school right here in my suburb use MacBooks and MiniDV video cameras. MiniDV cameras can only use FireWire. What about them?</p>
<p>It also amounts to false advertising: Apple bundles their machines with iLife which include two consumer-grade video editing applications. Their prosumer Final Cut Express is also targeted at a similar market. What about the thousands of consumer video cameras that use FireWire?</p>
</dd>
<dt>This really isn’t a big deal. The financial crisis, world hunger, hello?</dt>
<dd>True. But as a person who knows about, endorses and uses this standard I feel as though I’m in the position of letting people know. And by that definition, really nothing else matters right now!</dd>
<dt>Apple still sells the older MacBook with FireWire</dt>
<dd>The older, heavier hardware version with the 5x slower graphics performance and slower front-side bus? For how long will they be available? And isn’t it ironic and counter intuitive that someone would tell you to buy an older version of a product because it has faster ports than the newer one?</dd>
<dt>Complaining on your blog or on forums isn’t going to make Apple change.</dt>
<dd>This is probably the only argument that makes some sense. It’s true Apple probably doesn’t care. This is why it’s important to have as many people as possible talking about it, and more importantly <a href="http://www.apple.com/feedback/macbook.html">sending feedback to Apple</a>. Even gigantic corporations such as Apple aren’t completely immune from the demands of their customers.</dd>
</dl>
 
