---
title: 'Internet censorship discussed on Aussie breakfast TV' 
date: "2008-11-02T02:11:57+10:00"
year: "2008"
category: Media
tag:
- australia
- censorship
- dale-clapperton
- draconian
- efa
- free-speech
- nocleanfeed
- openinternet
- television 
---
<p><a href="//rubenerd.com/tag/nocleanfeed/"><img src="https://rubenerd.com/files/uploads/logo.nocleanfeed.png" alt="No Filter, No Censorship, No Clean Feed, No Great Firewall of Australia" style="height:160px; width:500px;" /></a></p>
<blockquote><p><strong>UPDATE:</strong> If you read this blog using an RSS reader you wouldn’t have seen, but Dale actually posted a comment! You can reach him at his aptly-named blog <a href="http://defendingscoundrels.com/">Defending Scoundrels</a></p></blockquote>
<p>Browsing the <a href="http://efa.org.au/">Electronic Frontiers Australia</a> website this afternoon, I noticed that Dale Clapperton appeared on The Morning Show on the 29th of October. I completely missed it, but fortunately they have a video. Sorry about it being in Flash.</p>
<blockquote><p>EFA’s Chair, Dale Clapperton, was interviewed on Channel 7’s [Morning Show] program on 29th October about the government’s proposed mandatory filtering policy. A phone-in survey on the program revealed that 80% of respondents were opposed to the censorship plan.</p></blockquote>
<p>Given the severity of the issue, I just wish he could have appeared on the show for longer.</p>
<p>(<a href="https://www.youtube.com/watch?v=xThNk0Vd4ws">Original video</a> was made private).</p>
