---
title: 'Video: Now there’s a gas leak in Adelaide!' 
date: "2008-11-11T10:22:51+10:00"
year: "2008"
category: Media
tag:
- adelaide
- australia
- television
- video
- youtube
---
<p>It&#39;s been an eventful few weeks in Adelaide. A few weeks ago it was a bomb scare in a bank in the CBD, now I&#39;ve just received a text message from my sister that there&#39;s a severe gas leak on North Terrace: there are ambulances, fire trucks and police cars swarming everywhere!</p>

<p>UPDATE: It was discussed on Seven&#39;s 6pm news a few minutes ago, I recorded it and <a href="http://au.youtube.com/watch?v=9JCp-vpSNyU">uploaded the video on YouTube</a>:</p>

<p><a href="https://www.youtube.com/watch?v=9JCp-vpSNyU" title="Play Adelaide 7 News: Gas scare in the CBD and WW1 Remembrance"><img src="https://rubenerd.com/files/2008/yt-9JCp-vpSNyU@1x.jpg" srcset="https://rubenerd.com/files/2008/yt-9JCp-vpSNyU@1x.jpg 1x, https://rubenerd.com/files/2008/yt-9JCp-vpSNyU@2x.jpg 2x" alt="Play Adelaide 7 News: Gas scare in the CBD and WW1 Remembrance" style="width:500px;height:281px;" /></a></p>

<p>And other Australians sometimes accuse Adelaide of being the <em>&quot;boring&quot;</em> state capital… can you believe it?</p>
 
