---
title: 'Running Windows 3.x on a MacBook Pro' 
date: "2008-11-12T10:18:16+10:00"
year: "2008"
category: Software
tag:
- dos
- dosonmac
- infocomm
- mac-os-x
- retro
- windows
- windows-3-x 
---
<p><a href="//rubenerd.com/tag/dosonmac/"><img src="https://rubenerd.com/files/uploads/logo.retrodos.intelmac.png" alt="Windows 3.1 on Mac OS X: DOS Nostalgia on Intel Mac Hardware!" style="height:150px; width:500px;" /></a></p>

<p>In my search to find the best way to run Windows 3.x on a MacBook Pro <a href="//rubenerd.com/p2816/">for an assignment I talked about</a> as well as for some silly nostalgia, there seem to be several different distinct ways of doing it. In a nutshell we have:</p>

<dl>

<dt>Dual booting with DOS</dt>
<dd>Not really feasible considering the amount of trouble I’ve already had with triple booting this MacBook Pro, plus I’m fairly confident that Apple does not supply graphics, audio and networking drivers for DOS or Windows 3.x. :-D</dd>

<dt>DOSBox</dt>
<dd><a href="http://www.dosbox.com/">DOSBox</a> is a dedicated, free and open source DOS emulator. It would certainly be the easiest and fastest way to get set up, but I’ve been told running Windows in it pushes the limits of it’s capabilities and it runs fairly slowly. If it works though, it’d be great!</dd>

<dt>Emulating IBM PC DOS 7.0 / 2000</dt>
<dd>Emulating just DOS is overkill when the superb DOSBox project exists, but for Windows 3.11 it may be necessary. I’ll be trying out IBM’s <a href="http://en.wikipedia.org/wiki/PC_DOS">PC DOS 2000</a> which is essentially rebranded PC DOS 7.0, but is Y2K compliant, includes the Euro symbol amongst other goodies and can boot and install entirely from a CD. From previous experience I know it runs classic versions of Windows extremely well, which FreeDOS still seems to have some difficulty with.
<p>I could try <a href="http://www.virtualbox.org/">Sun Microsystems’ VirtualBox</a>, <a href="http://vmware.com/mac/">VMware Fusion</a>, <a href="http://www.kju-app.org/">Q</a> (the Mac OS X native <a href="http://bellard.org/qemu/">QEMU</a> port) and <a href="http://parallels.com/">Parallels Desktop</a>, but I’ll stick to trying the first two seeing as I already use them.</dd>

</dl>

<p>If you&#39;ve ever wanted to run DOS and Windows 3.x on your Intel Mac hardware (and I know there are millions of you, ha!), stay tuned.</p>
 
