---
title: 'Ten fresh new Rubenerd Fun Facts!' 
date: "2008-11-19T06:41:03+10:00"
year: "2008"
category: Thoughts 
tag: 
- david-letterman
- fun-facts
- funny
- nonsense
- truth 
---
<p><img src="https://rubenerd.com/files/uploads/title.funfacts.covers.jpg" alt="Fun Facts!" style="height:191px; width:500px" /></p>
<blockquote><p><strong>WARNING:</strong> I didn’t make any of these facts up, these are all true facts that I’m submitting as part of my application to become a Singaporean and/or Australian overseas representative of the American Federal Bureau of Miscellaneous Information.</p></blockquote>
<p>In light of my recent purchase of <a href="//rubenerd.com/p2962/">David Letterman&#39;s Late Show Fun Facts</a>, I&#39;ve been inspired to relay some Fun Facts of my own. I&#39;m nothing compared to Dave and his writers, but the one advantage I do have is being able to use hyperlinks to point people to relevant information. Think of this as a knockoff HyperCard version of the magnificently written Late Show Fun Facts.</p>
<p>Here are 10 Rubenerd Fun Facts to get us started. This could turn into a series (I can hear <a style="text-decoration:line-through;" href="http://intoyourhead.com/">Neil</a> <a href="http://intoyourhead.com/">Neil</a> groaning!).</p>
<ol style="font-style:italic">
<li>The world’s only recorded sighting of an orange beetroot was by a person wearing tinted glasses.<p></p></li>
<li><a href="http://wholewheatradio.org/wiki/index.php/User:Jimkloss">Jim Kloss</a> once owned 300 hectares of tundra in northern Siberia, but had to give it up when he couldn’t read the tax forms.<p></p></li>
<li>Right handed people find it just as difficult to write with their feet as the ambidextrous.<p></p></li>
<li><a href="//rubenerd.com/adelaide-in-austria/">Australia and Austria</a> are the only two countries to have the same first five letters. Tough luck Slovakia and Slovenia!<p></p></li>
<li>Custard, hair tonic and transmission fluid are chemically identical.<p></p></li>
<li>Headaches aren’t real, they’re all in your head.<p></p></li>
<li>Labradors aren’t really smarter than other breeds, they’re just better at feigning interest.<p></p></li>
<li>More people have been filmed falling out of office chairs than hot air balloons.<p></p></li>
<li>The current dulcimer record is held by <a href="http://www.esthergolton.com/">Esther Golton</a> who played continuously for over 19 weeks before the instrument caught fire.<p></p></li>
<li>The ice that builds up on the inside of old fridges is more toxic than arsenic.<p></p></li>
<li>A brick is denser than a full can of paint, but both feel the same when dropped on external bodily appendages.</li>
</ol>
 
