---
title: 'Ten fresh Rubenerd Fun Facts, part two' 
date: "2008-11-24T10:40:18+10:00"
year: "2008"
category: Thoughts 
tag: 
- fun-facts
- funny
- nonsense
- truth 
---
<p><img src="https://rubenerd.com/files/uploads/title.funfacts.covers.jpg" alt="Fun Facts!" style="height:191px; width:500px" /></p>
<p>Given it&#39;s just another manic Monday over here (and in short order in the rest of the world) I figured I&#39;d post another 10 Rubenerd Fun Facts to help us all get through it a little easier. As I&#39;ve mentioned previously, all these facts are irrefutable and 110% true.</p>
<p>If you missed them, feel free to refer to the <a href="//rubenerd.com/p2978/">first Rubenerd Fun Facts post</a> and my post where I ecstatically reported my purchase of <a href="//rubenerd.com/p2962/">David Letterman&#39;s Late Show Fun Facts</a> book. And as usual, feel free to take notes.</p>
<ol>
<li>People who wear socks that don’t match are statistically more likely to trip on their own shoelaces.</li>
<li>Maybach lost its court case with Chrysler to advertise as the company that produces the world’s ugliest vehicles.</li>
<li>Artist Jim Gleason has himself suffered numerous bad starts.
<p><img src="https://rubenerd.com/files/uploads/photo.funfacts.gleason.jpg" alt="" style="height:140px; width:240px; display:inline;" /></li>
<li>No two letters are more than 90 characters apart in the Roman, Greek or Cyrillian alphabets.</li>
<li>The words interchangeable and exchangeable are.</li>
<li>The first belt sander was peddle powered.
<p><img src="https://rubenerd.com/files/uploads/photo.funfacts.sander.jpg" alt="Photo by the ShahMai Network" style="height:140px; width:240px; display:inline;" /></p></li>
<li>A salt water crocodile has never been Minister for Foreign Affairs.</li>
<li>Under a Queensland state law passed in 1921, gherkins cannot be hollowed out and used as pens to sign government documents.</li>
<li>Due to a glitch in Satan’s Windows Server systems in mid 2005, Hell briefly sent non-Wiccans to heaven.
<p><a href="http://en.wikipedia.org/wiki/Image:Paganavebury.jpg"><img src="https://rubenerd.com/files/uploads/photo.funfacts.wicca.jpg" alt="Photo by the ShahMai Network" style="height:140px; width:240px; display:inline;" /></a></p></li>
<li>The F6 key is the second most pointless key after FN according to Swiss productivity experts.</li>
<li>Ruben Schade once flew on the wings of love but was arrested for not lodging an appropriate flight plan or possessing an aviation licence.</li>
<li>People with blue hair are more likely to have used dyes.
<p><img src="https://rubenerd.com/files/uploads/photo.funfacts.bluehair.jpg" alt="" style="height:140px; width:240px; display:inline;" /></p></li>
</ol>
 
