---
title: 'Ten fresh new Rubenerd Fun Facts, part three' 
date: "2008-12-03T11:06:32+10:00"
year: "2008"
category: Thoughts 
tag: 
- fun-facts
- funny
- nonsense 
---
<p><img src="https://rubenerd.com/files/uploads/title.funfacts.covers.jpg" alt="Fun Facts!" style="height:191px; width:500px" /></p>
<p>It&#39;s been just over a week since we&#39;ve had another Rubenerd Fun Facts post… so here are another ten fresh Rubenerd Fun Facts! As I&#39;ve mentioned previously, all these facts are irrefutable and 110% true.</p>
<p>If you missed them, feel free to refer to the previous Rubenerd Fun Facts posts (<a href="//rubenerd.com/p2978/">part one</a>, <a href="//rubenerd.com/p3082/">part two</a>) and my post where I ecstatically reported my purchase of <a href="//rubenerd.com/p2962/">David Letterman&#39;s Late Show Fun Facts</a> book. And as usual, feel free to take notes.</p>
<ol style="font-style:italic">
<li>The first Model T Ford to roll off the assembly line was fluorescent pink.</li>
<li>It is illegal in Western Australia to walk in the outback if you wear a hat with corks.</li>
<li>No two eco laundry balls are the same.
<p><img src="https://rubenerd.com/files/uploads/photo.funfacts.laundryball.jpg" alt="" style="height:140px; width:280px; display:inline;" /></p></li>
<li>The felony charge were named after Sergeant Albert Witherbottom Felony after he admitted in 1889 to taking photos of a woman’s ankles.</li>
<li>Carets are not edible.</li>
<li>Frank Nora is paid $1 million by the Illuminati each quarter to advance the Old World Order agenda.
<p><img src="https://rubenerd.com/files/uploads/photo.funfacts.frankilluminati.jpg" alt="" style="height:140px; width:280px; display:inline;" /></p></li>
<li>For a brief period of time in October 1672, nothing interesting happened.</li>
<li>Atheists automatically get into heaven because God loathes suck ups!</li>
<li>Exhaustive testing by the American Environmental Protection Agency has conclusively proven that the bird is indeed the word.
<p><img src="https://rubenerd.com/files/uploads/photo.funfacts.surfinbird.jpg" alt="" style="height:140px; width:280px; display:inline;" /></p></li>
<li>The name Henry is short for Henrietta.</li>
<li>Due to a &quot;programming error&quot;, Microsoft Money siphons small change from millions of bank accounts it is set up to monitor by customers.</li>
<li>Every time you use the acronym LOL, a brain cell somewhere in your head dies.
<p><img src="https://rubenerd.com/files/uploads/photo.funfacts.lol.jpg" alt="" style="height:140px; width:280px; display:inline;" /></p></li>
</ol>
 
