---
title: 'Ten fresh Rubenerd Fun Facts, part four' 
date: "2008-12-10T02:35:02+10:00"
year: "2008"
category: Thoughts 
tag: 
- fun-facts
- funny
- nonsense
- ridiculous
- stupid
- us-elections 
---
<p><img src="https://rubenerd.com/files/uploads/title.funfacts.covers.jpg" alt="Fun Facts!" style="height:191px; width:500px" /></p>
<p>It&#39;s been just over a week since we&#39;ve had another Rubenerd Fun Facts post… so here are another ten fresh Rubenerd Fun Facts! As I&#39;ve mentioned previously, all these facts are irrefutable and 110% true.</p>
<p>If you missed them, feel free to refer to the previous Rubenerd Fun Facts posts (<a href="//rubenerd.com/p2978/">part one</a>, <a href="//rubenerd.com/p3082/">part two</a>, <a href="//rubenerd.com/p3557/">part three</a>). And as usual, feel free to take notes.</p>
<ol style="font-style:italic">
<li>While red cars do go faster, painted red stage coaches consistently show little to no improvement in performance.</li>
<li>It actually took two stones to kill the one bird.</li>
<li>Given development trends, Singapore airport is due to take up half the country and the seaport two thirds in 15 years.
<p><img src="https://rubenerd.com/files/uploads/photo.funfacts.changi.jpg" alt="" style="height:140px; width:280px; display:inline;" /></li>
<li>Despite millions spent on positive advertising, polls show that women still perceive male programmers as less sexy than movie stars or garbage collectors.</li>
<li>The moon is not made from Swiss cheese but rather from an ancient block of smoked Gouda.</li>
<li>When asked by journalists, Sarah Palin couldn’t define where South Australia was.
<p><img src="https://rubenerd.com/files/uploads/photo.funfacts.palin.jpg" alt="" style="height:140px; width:280px; display:inline;" /></li>
<li>The British Pound symbol and the simplified Chinese character for number 5 look like bus shelters.</li>
<li>&quot;xoxo&quot; at the end of letters and email refer to eXtensible Open XHTML Outlines</li>
<li>Adelaide Metro train line capacity is calculated by dividing the number of people using it by 6 and providing adequate rolling stock for that number.<p></p>
<p><img src="https://rubenerd.com/files/uploads/photo.funfacts.adelaidemetro.jpg" alt="" style="height:140px; width:280px; display:inline;" /></li>
<li>Pennyfathings were so named because they cost a cent and could take you very far-thing.</li>
<li>Any economic downturn caused by mistakes is termed a &quot;correction&quot; unless said mistakes were perpetrated by blue collar workers.</li>
<li>Posting images of your laptop with a Windows serial number still attached will get your 12 Windows activations used up pretty fast.
<p><img src="https://rubenerd.com/files/uploads/photo.funfacts.serial.jpg" alt="" style="height:140px; width:280px; display:inline;" /></li>
</ol>
 
