---
title: 'Twitter is down again!' 
date: "2008-01-31T05:46:48+10:00"
year: "2008"
category: Internet
tag:
- infocomm
- sanity
- twitter 
---
<p><img src="https://rubenerd.com/files/uploads/kaedemad.png" alt="Kaede is mad!" style="width:420px; height:281px;" /><br /><cite>And so is my sanity!</cite></p>
<dl>
<dt>21:19 Thursday update (Asia Pacific time)</dt>
<dd>Thank God it’s back up! Well actually I guess thanking the system admins would make more sense ;).
<p>From my own brief experience with Jaiku it certainly seemed more reliable, but I still stick with Twitter. I guess it’s true what they say with all these social sites, you stay for the people not necessarily the service.</p>
<p>Plus Twitter just has that something that Pownce or Jaiku don’t have… can’t quite put my finger on it. Happy twittering everyone!</p></dd>
<dt>00:01 Friday update (Asia Pacific time)</dt>
<dd>Seems as though I spoke too soon:
<p><img src="https://rubenerd.com/files/uploads/screenie.xfce.twitter.down.gif" alt="Screenshot showing Twitter being down again." style="height:336px; width:420px;" /></p></dd>
</dl>
 
