---
title: 'UPS tracking excitement!'
date: "2008-03-27T12:54:12+10:00"
year: "2008"
category: Media
tag:
- shipping
- shopping
- tracking
- ups 
location: Singapore
---
<p>With it being my birthday and all (I&#39;ll hopefully post and podcast about that later today) I&#39;m really looking forward to receiving my latest batch of <a href="//rubenerd.com/a-whole-wheaty-birthday/">Whole Wheat Radio CDBaby music</a> from the intertubes, which according to the UPS package tracking service is ready for delivery!</p>
<p>It&#39;s certainly interesting seeing where my little CD bundle has been in the last few days; it&#39;s travelled to places around this planet I&#39;ve never been to before! Ideas of &quot;boldly going where no internet goods I&#39;ve purchased have gone before&quot; come to mind :-)</p>
<table style="border-collapse:collapse; border:0">
<caption>Package Progress</caption>
<thead>
<tr>
<th style="padding-right:1em">Location</th>
<th style="padding-right:1em">Date</th>
<th style="padding-right:1em">Local Time</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td style="padding-right:1em">SINGAPORE, SG</td>
<td style="padding-right:1em">27/03/1008</td>
<td style="padding-right:1em">9:38</td>
<td>OUT FOR DELIVERY</td>
</tr>
<tr>
<td style="padding-right:1em">CHANGI, SG</td>
<td style="padding-right:1em">27/03/1008</td>
<td style="padding-right:1em">6:30</td>
<td>ARRIVAL SCAN</td>
</tr>
<tr>
<td style="padding-right:1em">PAMPANGA, PH</td>
<td style="padding-right:1em">27/03/1008</td>
<td style="padding-right:1em">3:21</td>
<td>DEPARTURE SCAN</td>
</tr>
<tr>
<td style="padding-right:1em"> </td>
<td style="padding-right:1em">27/03/1008</td>
<td style="padding-right:1em">1:32</td>
<td>LATE AEROPLANE</td>
</tr>
<tr>
<td style="padding-right:1em">CHEK LAP KOK, HK</td>
<td style="padding-right:1em">27/03/1008</td>
<td style="padding-right:1em">0:24</td>
<td>DEPARTURE SCAN</td>
</tr>
<tr>
<td style="padding-right:1em"> </td>
<td style="padding-right:1em">26/03/1008</td>
<td style="padding-right:1em">19:44</td>
<td>HUB SCAN</td>
</tr>
<tr>
<td style="padding-right:1em"> </td>
<td style="padding-right:1em">26/03/1008</td>
<td style="padding-right:1em">16:22</td>
<td>ARRIVAL SCAN</td>
</tr>
<tr>
<td style="padding-right:1em"> </td>
<td style="padding-right:1em">26/03/1008</td>
<td style="padding-right:1em">14:40</td>
<td>ARRIVAL SCAN</td>
</tr>
<tr>
<td style="padding-right:1em">ANCHORAGE, AK, US </td>
<td style="padding-right:1em">25/03/1008</td>
<td style="padding-right:1em">10:41</td>
<td>DEPARTURE SCAN</td>
</tr>
<tr>
<td style="padding-right:1em"> </td>
<td style="padding-right:1em">25/03/1008</td>
<td style="padding-right:1em">6:00</td>
<td>ARRIVAL SCAN</td>
</tr>
<tr>
<td style="padding-right:1em">ONTARIO, CA, US</td>
<td style="padding-right:1em">25/03/1008</td>
<td style="padding-right:1em">1:53</td>
<td>DEPARTURE SCAN</td>
</tr>
<tr>
<td style="padding-right:1em"> </td>
<td style="padding-right:1em">24/03/1008</td>
<td style="padding-right:1em">23:06</td>
<td>ARRIVAL SCAN</td>
</tr>
<tr>
<td style="padding-right:1em">PORTLAND, OR, US</td>
<td style="padding-right:1em">24/03/1008</td>
<td style="padding-right:1em">10:57</td>
<td>DEPARTURE SCAN</td>
</tr>
<tr>
<td style="padding-right:1em"> </td>
<td style="padding-right:1em">24/03/1008</td>
<td style="padding-right:1em">19:55</td>
<td>ORIGIN SCAN</td>
</tr>
<tr>
<td style="padding-right:1em"> </td>
<td style="padding-right:1em">24/03/1008</td>
<td style="padding-right:1em">17:28</td>
<td>COLLECTION SCAN</td>
</tr>
<tr>
<td style="padding-right:1em">US</td>
<td style="padding-right:1em">24/03/1008</td>
<td style="padding-right:1em">9:10</td>
<td>BILLING INFO RECEIVED</td>
</tr>
</tbody>
</table>
 
