<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ .Site.LanguageCode }}" lang="{{ .Site.LanguageCode }}">
<head xmlns="dc: http://purl.org/dc/elements/1.1/" data-awareness="Bird is the Word">

{{ safeHTML "<!-- Welcome to Rubenerd.com! です ************************************** -->" }}
<title>{{ site.Title }}{{ if not .IsHome }}: {{ .Title }}{{ end }}</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0" />
<meta name="generator" content="Hugo and Vim" />
<link rel="stylesheet" href="{{ absURL "/screen.css" }}" />
<link rel="alternate" type="application/rss+xml" href="{{ absURL "/feed/" }}" title="{{ .Site.Title }} feed" />
<link rel="alternate" type="application/rss+xml" href="{{ .Site.Params.Podcast.Feed }}" title="{{ .Site.Params.Podcast.Title }} feed" />
<link rel="apple-touch-icon" href="{{ .Site.BaseURL }}apple-touch-icon.png" />
<link rel="author" href="{{ .Site.Params.Author.Home }}" title="{{ .Site.Params.Author.First }} {{ .Site.Params.Author.Last }}" />
<link rel="help" href="{{ .Site.BaseURL }}faqs/#reading" title="How to read {{ .Site.Title }}" />
<link rel="me" href="{{ .Site.Params.Author.Mastodon }}" />
<link rel="image_src" href="{{ with .Params.Thumb }}{{ . }}{{ else }}{{ absURL .Site.Params.Logo }}{{ end }}" />{{ range .Params.contributer }}
<meta property="dc.contributer" content="{{ . }}" />{{ end }}
<meta property="dc.creator" name="author" content="{{ .Site.Params.Author.First }} {{ .Site.Params.Author.Last }}" />{{ if or (eq .Type "post") (.IsHome) }}
<meta property="dc.date" name="date" {{ printf "content=\"%s\"" (.Date.Format "2006-01-02T15:04:05-07:00") | safeHTMLAttr }} />{{ end }}
<meta property="dc.description" name="description" content="{{ if .Params.Abstract }}{{ safeHTML .Params.Abstract }}{{ else }}{{ .Site.Params.Description }}{{ end }}" />
<meta property="dc.format" content="{{ if .Params.Enclosure }}audio/mpeg{{ else }}application/xhtml+xml{{ end }}" />{{ if (eq .Type "post") }}
<meta property="dc.identifier" name="url" content="{{ .Permalink }}" />
<meta property="dc.relation" content="{{ .Site.BaseURL }}" />{{ end }}
<meta property="dc.language" name="language" content="{{ .Site.LanguageCode }}" />
<meta property="dc.rights" name="copyright" content="© {{ .Site.Params.Author.First }} {{ .Site.Params.Author.Last }} unless otherwise stated." />
<meta property="dc.subject" name="keywords" content="{{ if .Params.Tag }}{{ with .Params.category }}{{ lower . }}{{ end }},{{ delimit .Params.Tag "," }}{{ else }}{{ .Site.Params.Keywords }}{{ end }}" />
<meta property="dc.type" content="{{ if .Params.Enclosure }}Sound{{ else }}Text{{ end }}" />
</head>

{{ if or (.IsHome) (eq .Type "post") }}{{ safeHTML "<!-- Page starts です *************************************************** -->" }}
{{ end }}<body id="page-{{ if .IsHome }}home{{ else }}{{ urlize .Title }}{{ end }}">
