{{ safeHTML "<!-- General metadata です -->" }}
<meta name="author" content="{{ .Site.Params.Author.First }} {{ .Site.Params.Author.Last }}" />{{ if eq .Type "post" }}
<meta name="copyright" content="© {{ .Site.Params.Author.First }} {{ .Site.Params.Author.Last }} unless otherwise stated." />
<meta name="date" content="{{ .Date.Format "2006-01-02" }}" />{{ end }}
<meta name="description" content="{{ if .Params.Abstract }}{{ safeHTML .Params.Abstract }}{{ else }}{{ .Site.Params.Description }}{{ end }}" />
{{ hugo.Generator }}
<meta name="keywords" content="{{ .Site.Params.Keywords }}" />
<meta name="site" content="{{ .Permalink }}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

{{ safeHTML "<!-- Merged Twitter, OpenGraph です -->" }}
<meta name="twitter:card" content="summary" />
<meta name="twitter:creator" content="@{{ .Site.Params.Author.Twitter }}" />
<meta name="twitter:description" property="og:description" content="{{ if .Params.Abstract }}{{ safeHTML .Params.Abstract }}{{ else }}{{ safeHTML .Site.Params.Description }}{{ end }}" />
<meta name="twitter:dnt" content="on" />
<meta name="twitter:image:src" property="og:image" content="{{ if .Params.Thumb }}{{ .Params.Thumb }}{{ else }}{{ .Site.BaseURL }}{{ .Site.Params.Logo }}{{ end }}" />
<meta name="twitter:site" content="@{{ .Site.Params.Twitter }}" />
<meta name="twitter:title" property="og:title" content="{{ .Title }}" />
<meta name="twitter:url" property="og:url" content="{{ .Permalink }}" />
<meta property="og:locale" content="{{ replace .Site.LanguageCode "-" "_" }}" />
<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:type" content="{{ if eq .Type "post" }}article{{ else }}website{{ end }}" />{{ if eq .Type "post" }}
<meta property="article:modified_time" {{ printf "content=\"%s\"" (.Date.Format "2006-01-02T15:04:05-07:00") | safeHTMLAttr }} />
<meta property="article:published_time" {{ printf "content=\"%s\"" (.Date.Format "2006-01-02T15:04:05-07:00") | safeHTMLAttr }} />
<meta property="article:section" content="{{ .Params.Category }}" />{{ end }}{{ if .Params.Tag }}
<meta property="article:tag" name="keywords" content="{{ delimit .Params.Tag "," }}" />{{ end }}

{{ safeHTML "<!-- Dublin Core です -->" }}
<meta property="dc:date" {{ printf "content=\"%s\"" (.Date.Format "2006-01-02T15:04:05-07:00") | safeHTMLAttr }} />
