<div id="sidebar">

<div>
<h2>About</h2>
<p><img src="https://rubenerd.com/files/2017/me.jpg" alt="" style="width:210px;" /></p>

<span id="tagline">I'm Ruben Schade, and I'm a I'm a technical writer and cloud engineer in Sydney (ne Singapore). I love coffee, travel, FreeBSD, and about boxes.</span>
</div>

<div>
<h2>Search</h2>
<form role="search" method="get" action="https://duckduckgo.com/" id="search"> 
<fieldset>
<legend>Search blog posts with DuckDuckGo</legend>
<input type="text" size="40" name="q" placeholder="With DuckDuck..." /> 
<input type="hidden" name="ia" value="web" />
<input type="hidden" name="kaj" value="m" />
<input type="hidden" name="k7" value="w" />
<input type="hidden" name="k9" value="b" />
<input type="hidden" name="ks" value="l" />
<input type="hidden" name="sites" value="{{ .Site.BaseURL }}" />
<input type="submit" value="Go" /> 
</fieldset>
</form>
</div>

<div class="sidebar-block">
<h2>Categories</h2>
<ul>
<li><a href="/anime/">Anime</a></li>
<li><a href="/hardware/">Hardware</a></li>
<li><a href="/internet/">Internet</a></li>
<li><a href="/media/">Media</a></li>
<li><a href="/software/">Software</a></li>
<li><a href="/thoughts/">Thoughts</a></li>
<li><a href="/travel/">Travel</a></li>
</ul>
</div>

<div id="subscribe-blog">
<h2>Subscribe</h2>
<ul>
<li><a class="xml" href="/feed/">RSS</a></li>
<li><a href="{{ .Site.Params.Podcast.Feed }}">Podcast feed</a></li>
<li><a href="https://twitter.com/{{ .Site.Params.Twitter }}">Twitter</a></li>
<li><a href="/subscribe/">Help with using feeds</a></li>
</ul>
</div>

<!--<div id="sidebar-remember">
<h2>Remember these things?</h2>
  <div class="badge badge-coffee">
    <span class="badge-icon">Coffee</span><span class="badge-text">Fueled</span>
  </div>
  <div class="badge badge-rss">
    <span class="badge-icon">RSS</span><span class="badge-text">Feed</span>
  </div>
  <div class="badge badge-bsd">
    <span class="badge-icon">BSD</span><span class="badge-text">Powered</span>
  </div>
</div>-->

<div id="rubi-chan">
<h2>Rubi mascot by <a id="mascot-attribution" href="https://twitter.com/kirisveil">@kirisveil</a></h2>
<a href="/mascot/"><img src="/rubi@1x.jpg" srcset="/rubi@1x.jpg 1x, /rubi@2x.jpg 2x" alt="Rubi, the Rubenerd mascot!" /></a>
</div>

</div><!-- /sidebar -->

<hr />

